{% load base_elements %}
{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE html>
<!--
Hey! If you're viewing this, you should probably come work on our Technology
& Innovation team. We're always looking for a few great designers; developers;
data scientists; and network, infrastructure, privacy, and security pros.
Keep an eye on our job opportunities at https://www.consumerfinance.gov/jobs/

Also, you can see more of our code at https://github.com/cfpb

If you’d like to be notified when we post new tech job opportunities,
please send an email with your full name to tech@cfpb.gov.
-->

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" dir="ltr" lang="{% trans "en-US" %}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" dir="ltr" lang="{% trans "en-US" %}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" dir="ltr" lang="{% trans "en-US" %}"> <![endif]-->
<!--[if gt IE 8]><!--> <html dir="ltr" lang="{% trans "en-US" %}" class="no-js"> <!--<![endif]-->


<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} | {% trans "Consumer Financial Protection Bureau" %}</title>

    <!-- Meta -->
    <meta name="google-site-verification" content=""> <!-- https://google.com/webmasters -->
    <meta name="Copyright" content="Public domain">

    <meta property="og:type" content="government">
    <meta property="og:site_name" content="Consumer Financial Protection Bureau">
    <meta property="fb:app_id" content="210516218981921">

    {% block open_graph_image %}
    <meta property="og:image"
          content="{% static 'img/logo_open-graph_facebook.png' %}">
    <meta property="twitter:image"
          content="{% static 'img/logo_open-graph_twitter.png' %}">
    {% endblock %}

    {% block page_meta %}
    <meta property="og:title" content="Consumer Financial Protection Bureau">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% endblock %}

    {% block page_viewport %}
    <meta name="viewport" content="width=1016">
    {% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'nemo/_/img/apple-touch-icon-precomposed.png' %}">
    <link rel="apple-touch-icon" size="72x72" href="{% static 'nemo/_/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" size="114x114" href="{% static 'nemo/_/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" size="144x144" href="{% static 'nemo/_/img/apple-touch-icon-144x144-precomposed.png' %}">

    {% block jquery %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{% static 'nemo/_/js/html5shim.js' %}"></script>
    <![endif]-->

    {% block nemo_styles %}
    <!-- Styles -->

    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'nemo/_/c/woff.css' %}">
    <!--<![endif]-->
    <link rel="stylesheet" href="{% static 'nemo/_/c/styles.css' %}">


    {% endblock %}

    {% block app_css %}
    {% endblock %}

    {% block page_css %}
    {% endblock %}

    {% block page_header_footer_css %}
    <link rel="stylesheet" href="{% static 'css/header.nonresponsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.nonresponsive.css' %}"/>
    {% endblock %}

    {# Google Tag Manager #}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KMMLRS');</script>

    <!-- Feeds -->
    {% block page_feeds %}
    {% endblock %}

    {% block analytics_js %}
    {% endblock %}

    {% include_modernizr %}
</head>

<body class="{% block body_class %}page{% endblock %}" data-lang="{% trans "en" %}">
{% block gtm_js %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMMLRS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endblock %}

    {% include_header %}
    <div id="page">
        {% block app_notification %}
        {% endblock %}
        <div id="wrapper">
        <section id="maincontent">
            <ul class="bread meta">
                {% block breadcrumbs %}
                {% endblock %}
            </ul> <!-- /class=bread -->
                {% block content %}
                {% endblock %}
                {% block share_box %}
            {% include "front/share_box.html" %}
                {% endblock %}
        </section><!--/main_content-->
        </div><!-- /wrapper -->


    </div><!-- /#page -->
    {% include_footer %}

{% block page_js %}
{% endblock %}

<!-- for search.usa.gov indexing -->
<script>
  //<![CDATA[
    var aid = "cfpb";
    var script = document.createElement('script');
    script.type = "text/javascript";
    script.src = "https://search.usa.gov/javascripts/stats.js";
    document.getElementsByTagName("head")[0].appendChild(script);
  //]]>
  </script>

  <script>
    /* If there are no breadcrumbs on this page,
       remove the ul tag so that screen readers don't read it
       (since the ul has nothing in it). */
    var numBreadCrumbs = document.querySelectorAll("ul.bread li").length;
    if(numBreadCrumbs === 0){
      var breadNode = document.querySelector("ul.bread");
      breadNode.parentNode.removeChild(breadNode);
    }
  </script>
<!--[if gt IE 8]><!-->
<script src="{% static "js/atomic/header.nonresponsive.js" %}"></script>
<!--<![endif]-->
</body>
</html>
