{% load static %}
{% load global_include %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load i18n %}
{% load staticversions %}
{% get_static_version as STATIC_VERSION %}
{% load remit_var %}
{% is_remit as IS_REMIT %}

<!DOCTYPE html>
<!--
Hey! If you're viewing this, you should probably come work on our Technology
& Innovation team. We're always looking for a few great designers; developers;
data scientists; and network, infrastructure, privacy, and security pros.
Keep an eye on our job opportunities at http://www.consumerfinance.gov/jobs/

Also, you can see more of our code at https://github.com/cfpb

If you’d like to be notified when we post new tech job opportunities,
please send an email with your full name to tech@cfpb.gov.
-->

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" dir="ltr" lang="{% trans "en-US" %}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" dir="ltr" lang="{% trans "en-US" %}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" dir="ltr" lang="{% trans "en-US" %}"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html dir="ltr" lang="{% trans "en-US" %}"> <!--<![endif]-->

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} > {% trans "Consumer Financial Protection Bureau" %}</title>

    <!-- Meta -->
    <meta name="google-site-verification" content=""> <!-- http://google.com/webmasters -->
    <meta name="Copyright" content="Public domain">

    <meta property="og:type" content="government">
    <meta property="og:site_name" content="Consumer Financial Protection Bureau">
    <meta property="fb:app_id" content="210516218981921">

    {% block open_graph_image %}
    <meta property="og:image" content="/static/nemo/_/img/logo.svg">
    {% endblock %}

    {% block page_meta %}
    <meta property="og:title" content="Consumer Financial Protection Bureau">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% endblock %}

    {% block page_viewport %}
    <meta name="viewport" content="width=1016">
    {% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/static/nemo/_/img/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" size="72x72" href="/static/nemo/_/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" size="114x114" href="/static/nemo/_/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" size="144x144" href="/static/nemo/_/img/apple-touch-icon-144x144-precomposed.png">


    <script src="/static/nemo/_/js/jquery-1.9.1.min.js{{ STATIC_VERSION }}"></script>
    <!--[if lt IE 9]>
    <script src="/static/nemo/_/js/html5shim.js"></script>
    <![endif]-->

    {% block nemo_styles %}
    <!-- Styles -->

    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/static/nemo/_/c/woff.css{{ STATIC_VERSION }}">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/static/nemo/_/c/eot.css">
    <![endif]-->
    <link rel="stylesheet" href="/static/nemo/_/c/styles.css{{ STATIC_VERSION }}">
   

    {% endblock %}

    {% block app_css %}
    {% endblock %}

    {% block page_css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/header.nonresponsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.nonresponsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/secondary-navigation.nonresponsive.css' %}"/>

    <!-- Feeds -->
    {% block page_feeds %}
    {% endblock %}

    {% block analytics_js %}
    <script src="{{ STATIC_PREFIX }}js/analytics.js{{ STATIC_VERSION }}"></script>

    <!-- this is where we put our custom analytics -->
    <script src="/static/nemo/_/js/analytics-global.js{{ STATIC_VERSION }}"></script>

    <!-- H5BP's Asynchronous Google Analytics snippet. -->
    <script>
      var _gaq=[['_setAccount','UA-20466645-3'],['_setDomainName', '.consumerfinance.gov'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    {% endblock %}
</head>

<body class="{% block body_class %}page{% endblock %}" data-lang="{% trans "en" %}">
{% block gtm_js %}
<!-- Google Tag Manager -->
{# Should always be included immediately after the opening <body> tag #}
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KMMLRS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KMMLRS');</script>
<!-- End Google Tag Manager -->
{% endblock %}
<script src="{% static 'js/modernizr.min.js'  %}"></script>


<!--[if lt IE 9]>
<script>
    // If in IE8 reverse no-js/js class change made by modernizr.
    var docElement = document.documentElement;
    docElement.className = docElement.className.replace( /(^|\s)js(\s|$)/, '$1no-js$2' );
</script>
<![endif]-->

<!--[if IE 9]><script src="{% static 'js/ie/common.ie.js'  %}"></script><![endif]-->
        {% global_include "on-demand/header.html" %}
    <div id="page">
        {% block app_notification %}
        {% endblock %}
        <div id="wrapper">
        <section id="maincontent">
            <ul class="bread meta">
                {% block breadcrumbs %}
                {% endblock %}
            </ul> <!-- /class=bread -->
                {% block content %}
                {% endblock %}
                {% block share_box %}
            {% include "front/share_box.html" %}
                {% endblock %}
        </section><!--/main_content-->
        </div><!-- /wrapper -->


    </div><!-- /#page -->
        {% global_include "on-demand/footer.html" %}    

    {% block app_modal %}
    {% endblock %}

{% block nemo_js %}
<script src="/static/nemo/_/js/functions.js"></script>
<script type="text/javascript" src="/static/agreements/js/chosen.jquery.js"></script>
{% endblock %}


{% block app_js %}
{% endblock %}

{% block page_js %}
{% endblock %}

<!-- for search.usa.gov indexing -->
<script type="text/javascript">
  //<![CDATA[
    var aid = "cfpb";
    var script = document.createElement('script');
    script.type = "text/javascript";
    script.src = "http://search.usa.gov/javascripts/stats.js";
    document.getElementsByTagName("head")[0].appendChild(script);
  //]]>
</script>

<script type="text/javascript">
    // If there are no breadcrumbs on this page, remove the ul tag so that screen
    // readers don't read it (since the ul has nothing in it).
    $(function(){
        var numBreadCrumbs = $("ul.bread").children("li").length;
        if(numBreadCrumbs == 0){
            $("ul.bread").remove();
        }
    });
</script>
<script type="text/javascript" src="{% static "js/atomic/header.nonresponsive.js" %}"></script>
</body>
</html>
