{% load base_elements %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" dir="ltr" lang="{% trans "en-US" %}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" dir="ltr" lang="{% trans "en-US" %}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" dir="ltr" lang="{% trans "en-US" %}"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" dir="ltr" lang="{% trans "en-US" %}"> <![endif]-->
<!--[if gt IE 9]><!--> <html dir="ltr" lang="{% trans "en-US" %}" class="no-js"> <!--<![endif]-->

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<!--
    ===========
    GLOBAL META
    ===========
-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!--
    ==================
    PAGE-SPECIFIC META
    ==================
-->

    <title>{% block title %}{% endblock %} | {% trans "Consumer Financial Protection Bureau" %}</title>

    <!-- Meta -->
    <meta name="google-site-verification" content=""> <!-- https://google.com/webmasters -->
    <meta name="Copyright" content="Public domain">

    <meta property="og:type" content="government">
    <meta property="og:site_name" content="Consumer Financial Protection Bureau">
    <meta property="fb:app_id" content="210516218981921">

    {% block open_graph_image %}

    <meta property="og:image"
          content="{% static 'img/logo_open-graph_facebook.png' %}">
    <meta property="twitter:image"
          content="{% static 'img/logo_open-graph_twitter.png' %}">

    {% endblock %}

    {% block page_meta %}
    <meta property="og:title" content="Consumer Financial Protection Bureau">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% endblock %}

    {% block page_viewport %}
    <meta name="viewport" content="width=1016">
    {% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'nemo/_/img/apple-touch-icon-precomposed.png' %}">
    <link rel="apple-touch-icon" size="72x72" href="{% static 'nemo/_/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" size="114x114" href="{% static 'nemo/_/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" size="144x144" href="{% static 'nemo/_/img/apple-touch-icon-144x144-precomposed.png' %}">

    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" title="Consumer Financial Protection Bureau &raquo; Feed" href="/feed/" />
    {% block page_feeds %}
    {% endblock %}

<!--
    ======
    STYLES
    ======
    The number of stylesheets here must be kept to a minimum.
    Unless adding a significant amount of CSS that is specific to a single page or section of the site,
    all new styles should be added to cfgov/v1/unprocessed/css/main.less.
-->

    {% block nemo_styles %}
    <!-- Styles -->

    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'nemo/_/c/woff.css' %}">
    <!--<![endif]-->
    <link rel="stylesheet" href="{% static 'nemo/_/c/styles.css' %}">

    {% endblock %}

    {% block app_css %}
    {% endblock %}

    {% block page_css %}
    {% endblock %}

    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
    <!--<![endif]-->

<!--
    ============
    HEAD SCRIPTS
    ============
    The following scripts must be included in the head. DO NOT ADD ANY MORE.
    All other scripts should go before the closing body tag.
    If you come across a script that makes a convincing case to be included in
    the head, then file an issue or PR to discuss including it.
-->

    {# Google Optimize page-hiding snippet #}
    <style> .optimize-loading { opacity: 0 !important; } </style>
    <script> (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date; h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')}; (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c; })(window,document.documentElement,'optimize-loading','dataLayer',1000, {'GTM-KHB8MB':true}); </script>
    {# end Google Optimize page-hiding snippet #}
    {# Google Tag Manager #}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KMMLRS');</script>

    <!--[if lt IE 9]>
    <script src="{% static 'nemo/_/js/html5shim.js' %}"></script>
    <![endif]-->

    {% block analytics_js %}
    {% endblock %}

    {% include_modernizr %}
</head>

<body class="{% block body_class %}page{% endblock %}" data-lang="{% trans "en" %}">
{% block gtm_js %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMMLRS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endblock %}

    {% include_header %}

    <div id="page">
        {% block app_notification %}
        {% endblock %}
        <div id="wrapper">
        <section id="maincontent">
            {% block content %}
            {% endblock %}

            {% block share_box %}
                {% include "front/share_box.html" %}
            {% endblock %}
        </section><!--/main_content-->
        </div><!-- /wrapper -->


    </div><!-- /#page -->

    {% include_footer %}

    {% block app_modal %}
    {% endblock %}

    {% block app_js %}
    {% endblock %}

    {% block page_js %}
    {% endblock %}

    <!--[if gt IE 8]><!-->
    <script src="{% static "js/atomic/header.js" %}"></script>
    <script src="{% static "js/atomic/footer.js" %}"></script>
    <!--<![endif]-->
</body>
</html>
