name: helmlint
  # Disabled until needed
  # on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
            fetch-depth: 0
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            helmlint:
              - 'helm/cfgov/**.yaml'
              - 'helm/cfgov/templates/**.tpl'
              - 'helm/overrides/**'

      - name: Set up Helm
        if: steps.filter.outputs.helmlint == 'true'
        uses: azure/setup-helm@v1
        with:
          version: v3.9.2

      - name: Install Python3
        if: steps.filter.outputs.helmlint == 'true'
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Update Dependencies
        if: steps.filter.outputs.helmlint == 'true'
        run: |
          helm dependency update ./helm/cfgov

      - name: Set up chart-testing
        if: steps.filter.outputs.helmlint == 'true'
        uses: helm/chart-testing-action@v2.2.1

      - name: Run chart-testing (lint)
        if: steps.filter.outputs.helmlint == 'true'
        run: ct lint --config ct.yaml

      - name: Helm template
        if: steps.filter.outputs.helmlint == 'true'
        run: |
          helm template testtemplate helm/cfgov
