
/* ==========================================================================
   CF.gov Overrides
   ========================================================================== */

#maincontent {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

#maincontent .share,
#maincontent .bread,
#maincontent .pagetitle {
  display: none;
}

#maincontent .page {
  margin: 0;
}

.share,
.share.mini {
  float: none;
  width: auto;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
  text-align: left;
}

.share a,
.share.mini a {
  padding: 0;
  border: none;
}

.lt-ie9 [class^="icon-"],
.lt-ie9 [class*=" icon-"] {
  font-family: "CFPB Icons" !important;
}


/* FELLOWS SPECIFIC */
.fellows-signup-form{
  background: #f3f3f3;
  padding: 1.5em;
  padding-bottom: 2em;
}

.fellows-signup-form label div{
  display: block;
  font-size: .94em;
  margin: 20px 0 2px 0;

}

.fellows-signup-form h4{
  padding-top: 20px;
  font-size: 1.2em;
}

.fellows-signup-form input[type=text],.fellows-signup-form input[type=email]{
  border:0px;
  width:320px;
  border-radius: 0px;
  font-size: 1em;
  padding:6px;
  display: block;
}

.fellows-signup-form #signup_btn{
  padding: 7px 50px;
  margin:30px 0 10px 0;
}

.jobs-checkboxes label{
  display: block;
  margin-top: 3px;
}


.jobs-checkboxes span{
  display: inline-block;
  position: relative;
  left:4px;
  top:4px;
  font-size: .8em;
}

.jobsect{
  /*background: url(../img/sect-border.png) no-repeat;*/
  border-top: 1px solid #ddd;
  margin-top: 3em;
  padding-top: 10px;
}

.jobsect h2 span{
  display: inline-block;
  border-top: 5px solid #2cb34a;
  padding-top: 20px;
  margin-top: -23px;
}

.current-fellows{
  margin-top: 34px;
}

#how-it-works.jobsect h2 span{
  margin-top: -22px;
}

ul.padded-ul li{
  list-style-type: square;
  margin-top: 15px;
}

ul.jobs-external-links{
  list-style: none;
  margin:0px;
  padding: 4px;
}

.faq h3{
  padding-top: .7em;
}

.jobs-theme .positions h3{font-size: 1.3em;margin-top: 2.2em;}
.jobs-theme .positions h3:first-child{margin-top:1.1em;}
.jobs-theme .positions h4{color: #0072ce;margin-top: 2.3em;}

.jobs-theme h3.fellow-name{margin:.4em 0 .3em 0;padding:0px;font-size: 1.2em;font-weight: 500;}
.jobs-theme h5.fellow-title{margin:0 0 0px 0;padding:0px;font-weight: 600;color:#333;}


/* ==========================================================================
   Reference
   ==========================================================================

#101820 - Black
#75787B - Dark Field
#919395 - Dark Field Light
#BABBBD - Medium Field
#D0D0CE - Light Field
#E3E4E5 - Light Field Lighter
#F8F8F8 - Light Field Lightest
#F1F2F2 - Light Field Lightest?
#002D72 - Navy
#0072CE - Pacific
#7FB8E6 - Pacific Lighter
#2CB34A - CFPB Green

*/

/* ==========================================================================
   Typography
   ========================================================================== */

.jobs-theme {
  color: #101820;
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1.375; /* 22 / 16 */
  letter-spacing: normal;
  text-transform: none;
}

.lt-ie9 .jobs-theme {
  font-weight: normal;
}

.jobs-theme b,
.jobs-theme strong {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.lt-ie9 .jobs-theme b,
.lt-ie9 .jobs-theme strong {
  font-weight: normal;
}

/* @todo: account for italics in headings */
.jobs-theme i,
.jobs-theme em, {
  font-family: "Avenir Next Italic";
  font-weight: 400;
  font-style: italic;
}

.lt-ie9 .jobs-theme i,
.lt-ie9 .jobs-theme em, {
  font-style: normal;
}

.lt-ie8 [class^="icon-"],
.lt-ie8 [class*=" icon-"] {
  font-family: "CFPB Icons";
  font-weight: normal;
  font-style: normal;
}

.jobs-theme p {
  margin: 1em 0;
}

.jobs-theme h1.display-type {
  margin: 0.208333333em 0; /* 10 / 48 */
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-size: 2.4em;
  line-height: 1.3; /* 68 / 48 */
}

.jobs-theme h1 {
  margin: 0.294117647em 0; /* 10 / 34 */
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.125em; /* 34 / 16 */
  line-height: 1.294117647; /* 44 / 34 */
  letter-spacing: normal;
  text-transform: none;
}

.jobs-theme h2 {
  margin: 0.384615385em 0; /* 10 / 26 */
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  line-height: 1.153846154; /* 30 / 26 */
  letter-spacing: normal;
  text-transform: none;
}

.jobs-theme .jobs-intro-text h2{
  font-size: 2em;
  margin-bottom: .7em;
}

.jobs-theme h2.m-loud {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.jobs-theme h3 {
  margin: 0.454545455em 0; /* 10 / 22 */
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em; /* 22 / 16 */
  line-height: 1.3; /* 26 / 22 */
  letter-spacing: normal;
  text-transform: none;
}

#hero-image{
  position: absolute;
  margin: -14px 0 0 64px;
  width:420px;
}

.jobs-intro-text p{
  font-size: 1.1em;
}

.jobs-theme h4 {
  margin: 0.555555556em 0; /* 10 / 18 */
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.125em; /* 18 / 16 */
  line-height: 1.333333333; /* 24 / 18 */
  letter-spacing: normal;
  text-transform: none;
  margin-bottom: 0px;
}

.jobs-theme p{
  margin-top: .6em;
}

/*.jobs-theme h4.m-loud {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}*/

.jobs-theme h5 {
  margin: 0.714285714em 0; /* 10 / 14 */
  color: #75787B;
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.875em; /* 14 / 16 */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.lt-ie9 .jobs-theme h1,
.lt-ie9 .jobs-theme h2,
.lt-ie9 .jobs-theme h3,
.lt-ie9 .jobs-theme h4,
.lt-ie9 .jobs-theme h5 {
  font-weight: normal;
}

.jobs-theme .small-type {
  font-size: 0.75em; /* 12 / 16 */
}

/* Reading type
   ========================================================================== */

.jobs-theme .reading-type {
  font-family: Georgia, "Times New Roman", serif;
}

.jobs-theme .reading-type b,
.jobs-theme .reading-type strong {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-style: normal;
}

/* @todo: account for italics in headings */
.jobs-theme .reading-type i,
.jobs-theme .reading-type em, {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
}

/* Links / Buttons
   ========================================================================== */

/* Links */

.jobs-theme a,
.jobs-theme .link {
  padding-bottom: 0.0625em; /* 1 / 16 */
  color: #0072CE;
  background: transparent;
  border-bottom: 1px dotted #0072CE;
  text-decoration: none;
}

.jobs-theme a:hover,
.jobs-theme a:focus,
.jobs-theme .link:hover,
.jobs-theme .link:focus,
.jobs-theme a:hover .link,
.jobs-theme a:focus .link {
  color: #7FB8E6;
  background: transparent;
  border-bottom: 1px dotted #7FB8E6;
  text-decoration: none;
}

.jobs-theme a.unstyled-link,
.jobs-theme a.unstyled-link:hover,
.jobs-theme a.unstyled-link:focus {
  padding-bottom: 0;
  color: #101820;
  border-bottom: 0;
}

/* Default button */

/* @todo: once we move to LESS we should move the sub-theme stuff back down
   with the sub-theme styles and nest .btn inside */

.jobs-theme .btn,
.jobs-theme .sub-theme-bold .btn {
  display: inline-block;
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875em; /* 14 / 16 */
  padding: 0.5em 1em; /* 7 / 14, 14 / 14 */
  border: 0;
  color: #FFFFFF;
  background: #75787B;
  border: 0;
  border-radius: 4px;
}

.jobs-theme .btn:hover,
.jobs-theme .sub-theme-bold .btn:hover,
.jobs-theme .btn:focus,
.jobs-theme .sub-theme-bold .btn:focus {
  color: #FFFFFF;
  background: #444;
  border: 0;
}

.jobs-theme .btn-with-leading-icon [class^="icon-"]:before,
.jobs-theme .btn-with-leading-icon [class*=" icon-"]:before {
  vertical-align: top;
  font-size: 0.9em;
  padding-right: 0.634920635em; /* 8 / 12.6 */
}

/* Primary button */

.jobs-theme .btn-primary,
.jobs-theme .sub-theme-bold .btn-primary {
  color: #FFFFFF;
  background: #0072CE;
}

.jobs-theme .btn-primary:hover,
.jobs-theme .sub-theme-bold .btn-primary:hover,
.jobs-theme .btn-primary:focus,
.jobs-theme .sub-theme-bold .btn-primary:focus {
  color: #FFFFFF;
  background: #002D72;
}

.jobs-theme .btn-primary.btn-with-leading-icon [class^="icon-"],
.jobs-theme .btn-primary.btn-with-leading-icon [class*=" icon-"],
.jobs-theme .sub-theme-bold .btn-primary.btn-with-leading-icon [class^="icon-"],
.jobs-theme .sub-theme-bold .btn-primary.btn-with-leading-icon [class*=" icon-"],
.jobs-theme .btn-primary.btn-with-leading-icon:hover [class^="icon-"],
.jobs-theme .btn-primary.btn-with-leading-icon:focus [class*=" icon-"],
.jobs-theme .sub-theme-bold .btn-primary.btn-with-leading-icon:hover [class^="icon-"],
.jobs-theme .sub-theme-bold .btn-primary.btn-with-leading-icon:focus [class*=" icon-"] {
  color: #FFFFFF;
}

.jobs-theme .btn-disabled, .jobs-theme .btn-disabled:hover{
  color: #75787b;
  cursor: not-allowed;
  background: #e3e4e5;
}


/* Large button */

.jobs-theme .btn-large,
.jobs-theme .sub-theme-bold .btn-large {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em; /* 18 / 16 */
  padding: 0.5em 2.444444444em; /* 9 / 18, 44 / 18 */
}

.lt-ie9 .jobs-theme .btn,
.lt-ie9 .jobs-theme .sub-theme-bold .btn {
  font-weight: normal;
}

/* Icons
   ========================================================================== */

/* Color */

.jobs-theme a [class^="icon-"],
.jobs-theme a [class*=" icon-"],
.jobs-theme .link [class^="icon-"],
.jobs-theme .link [class*=" icon-"] {
  color: #002D72;
}

.jobs-theme a:hover [class^="icon-"],
.jobs-theme a:focus [class^="icon-"],
.jobs-theme a:hover [class*=" icon-"],
.jobs-theme a:focus [class*=" icon-"],
.jobs-theme .link:hover [class^="icon-"],
.jobs-theme .link:focus [class^="icon-"],
.jobs-theme .link:hover [class*=" icon-"],
.jobs-theme .link:focus [class*=" icon-"] {
  color: #0072CE;
}

/* @todo: do a version of icon link colors with the bold theme */

/* Sizes */

.jobs-theme .link-with-icon [class^="icon-"],
.jobs-theme .link-with-icon [class*=" icon-"] {
  display: inline-block;
  vertical-align: top;
  font-size: 0.9em;
  margin: 0.138888889em 0.208333333em 0 0; /* 2 / 14.4 / 3 / 14.4 */
  padding-bottom: 0.208333333em;
}

.jobs-theme .icon-larger {
  font-size: 36px;
}

/* @todo: convert the rest of the headings to ems and get rid of the previous px version */
.jobs-theme h2 .icon-larger {
  font-size: 1.384615385em; /* 36 / 26 */
}

/* Heading with leading icon */

.jobs-theme .heading-with-icon {
  display: table;
}

.jobs-theme .heading-with-icon_icon,
.jobs-theme .heading-with-icon_text {
  display: table-cell;
  vertical-align: middle;
}

.jobs-theme .heading-with-icon_text {
  padding-left: 0.5em;
}

/* Isocons
   ========================================================================== */

.jobs-theme .isocon-120 {
  width: 120px;
  height: 120px;
}

.jobs-theme .isocon-200 {
  width: 200px;
  height: 200px;
}

/* Lists
   ========================================================================== */

.jobs-theme .list-unstyled {
  margin: 0px;
  padding: 0px;
}

.jobs-theme .list-unstyled li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* Well
   ========================================================================== */

.jobs-theme .well {
  background: #E3E4E5;
  border: 1px solid #BABBBD;
  padding: 30px;
}

/* Share
   ========================================================================== */

.jobs-theme .share a {
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
  font-size: 1.25em; /* 20 / 16 */
  line-height: 1;
  border: none;
  border-bottom: none;
  text-decoration: none;
}

.jobs-theme .share a + a {
  margin-left: 0.1em; /* 2 / 20 */
}

.jobs-theme .share a:hover,
.jobs-theme .share a:focus {
  border: none;
  border-bottom: none;
  text-decoration: none;
}

.jobs-theme .share a [class^="icon-"],
.jobs-theme .share a [class*=" icon-"] {
  color: #75787B;
}

.jobs-theme .share a:hover [class^="icon-"],
.jobs-theme .share a:focus [class^="icon-"],
.jobs-theme .share a:hover [class*=" icon-"],
.jobs-theme .share a:focus [class*=" icon-"] {
  color: #101820;
}

/* Sub theme bold */

.jobs-theme .sub-theme-bold .share a,
.jobs-theme .sub-theme-bold .share a:hover,
.jobs-theme .sub-theme-bold .share a:focus {
  color: #FFFFFF;
  background: transparent;
  border-bottom: 0;
}

.jobs-theme .sub-theme-bold .share a [class^="icon-"],
.jobs-theme .sub-theme-bold .share a [class*=" icon-"],
.jobs-theme .sub-theme-bold .share a:hover [class^="icon-"],
.jobs-theme .sub-theme-bold .share a:focus [class^="icon-"],
.jobs-theme .sub-theme-bold .share a:hover [class*=" icon-"],
.jobs-theme .sub-theme-bold .share a:focus [class*=" icon-"] {
  color: #FFFFFF;
}

/* Breadcrumb
   ========================================================================== */

.jobs-theme .bread {
  margin: 0;
  padding: 0;
  font-size: 0.75em; /* 12 / 16 */
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.083333333em; /* 1 / 12 */
  text-transform: uppercase;
  color: #75787B;
}

.lt-ie9 .jobs-theme .bread {
  font-weight: normal;
}

.jobs-theme .bread li {
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.jobs-theme .bread li:before{
  content: " > ";
  padding: 0 0.333333333em; /* 4 / 12 */
}

.jobs-theme .bread li:last-child:before {
  color: #75787B;
}

.jobs-theme .bread li:first-child:before {
  content: none;
}

/* ==========================================================================
   Layout / Spacing
   ========================================================================== */

/* Wrapper
   ========================================================================== */

/**
 * 1. This matches the overall cf.gov site width of 1016px
 */

/* @todo: change to .l-wrapper */
.jobs-theme .wrapper {
  width: 976px;
  margin: 0 auto;
  padding: 0 20px; /* 1 */
  overflow: hidden;
}

/* Hero
   ========================================================================== */

.jobs-theme .hero-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
}

.jobs-theme .hero-wrapper h3{
  margin-top:1.3em;
}

/* Header bar
   ========================================================================== */

.jobs-theme .hero-wrapper .header-bar {
  margin-top: -8px;
  margin-bottom: -18px;
}

.jobs-theme .hero-wrapper .l-separated-small--vertical .header-bar {
  margin-top: -23px;
  margin-bottom: -18px;
}

.jobs-theme .header-bar .share {
  text-align: right;
}

/* Scheduled maintenance
   ========================================================================== */

.jobs-theme .maintenance-msg {
  background-color: #E3E4E5;
  border-bottom: solid 3px #BABBBD;
}

.jobs-theme .maintenance-msg_icon {
  float: left;
  padding: 8px 15px 0 0;
  font-size: 40px;
  color: #FF931B;
}

/* Spacing / Border classes
   ========================================================================== */

.jobs-theme .l-separated--vertical {
  padding-top: 30px;
  padding-bottom: 30px;
}

.jobs-theme .l-separated--top {
  padding-top: 30px;
}

.jobs-theme .l-separated--bottom {
  padding-bottom: 30px;
}

.jobs-theme .l-separated-small--vertical {
  padding-top: 15px;
  padding-bottom: 15px;
}

.jobs-theme .l-separated-small--top {
  padding-top: 15px;
}

.jobs-theme .l-separated-small--bottom {
  padding-bottom: 15px;
}

.jobs-theme .l-separated-small--left {
  padding-left: 15px;
}

.jobs-theme .l-separated-medium--vertical {
  padding-top: 25px;
  padding-bottom: 25px;
}

.jobs-theme .l-separated-medium--top {
  padding-top: 25px;
}

.jobs-theme .l-separated-medium--bottom {
  padding-bottom: 25px;
}

.jobs-theme .l-separated-large--vertical {
  padding-top: 50px;
  padding-bottom: 50px;
}

.jobs-theme .l-separated-large--top {
  padding-top: 50px;
}

.jobs-theme .l-separated-large--bottom {
  padding-bottom: 50px;
}

.jobs-theme .l-divided--vertical {
  border-top: 1px solid #D0D0CE;
  border-bottom: 1px solid #D0D0CE;
}

.jobs-theme .l-divided--top {
  border-top: 1px solid #D0D0CE;
}

.jobs-theme .l-divided--bottom {
  border-bottom: 1px solid #D0D0CE;
}

.jobs-theme .sub-theme-quiet .l-divided--bottom {
  border-bottom: 1px solid #919395;
}

.jobs-theme .l-divided-medium--bottom-green {
  border-bottom: 4px solid #2CB34A;
}

/* ==========================================================================
   Sub Themes
   ========================================================================== */

/* Bold (blue)
   ========================================================================== */

/* Base colors */

.jobs-theme .sub-theme-bold {
  background-color: #dbedd4;
  color: #131416;
}

/* Overrides */

.jobs-theme .sub-theme-bold h1,
.jobs-theme .sub-theme-bold h2,
.jobs-theme .sub-theme-bold h3,
.jobs-theme .sub-theme-bold h4,
.jobs-theme .sub-theme-bold h5 {
  color: #131416;
}

.jobs-theme .sub-theme-bold a,
.jobs-theme .sub-theme-bold a:hover,
.jobs-theme .sub-theme-bold a:hover .link,
.jobs-theme .sub-theme-bold .link {
  color: #FFFFFF;
  background: transparent;
  border-bottom: 1px dotted #FFFFFF;
}

.jobs-theme .sub-theme-bold a.unstyled-link,
.jobs-theme .sub-theme-bold a:hover.unstyled-link,
.jobs-theme .sub-theme-bold a:hover.unstyled-link,
.jobs-theme .sub-theme-bold .unstyled-link {
  color: #FFFFFF;
  background: transparent;
  border-bottom: 0;
}

/* Modifiers */


/* Quiet (light grey)
   ========================================================================== */

/* Base colors */

.jobs-theme .sub-theme-quiet {
  /*background-color: #F8F8F8;*/
  color: #101820;
}

.jobs-theme .sub-theme-quiet--divided {
  border-bottom: 4px solid #F1F2F2;
}

/* ==========================================================================
   Complaints Portal Styles
   ========================================================================== */

.jobs-theme .cr-complaints-portal-wizard {
  min-height: 400px;
}

/* @todo: change this to a bg image with bg sizing, but we need modernizr first */



/* ==========================================================================
   Utilities
   ========================================================================== */

.jobs-theme .no-margin,
.jobs-theme h1.no-margin,
.jobs-theme h2.no-margin,
.jobs-theme h3.no-margin,
.jobs-theme h4.no-margin,
.jobs-theme h5.no-margin {
  margin: 0;
}

/* ==========================================================================
   Grid
   ========================================================================== */

.jobs-theme .row-fluid {
  width: 100%;
  *zoom: 1;
}
.jobs-theme .row-fluid:before,
.jobs-theme .row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.jobs-theme .row-fluid:after {
  clear: both;
}
.jobs-theme .row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jobs-theme .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.jobs-theme .row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}
.jobs-theme .row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.jobs-theme .row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.jobs-theme .row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.jobs-theme .row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.jobs-theme .row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.jobs-theme .row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.jobs-theme .row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.jobs-theme .row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.jobs-theme .row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.jobs-theme .row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.jobs-theme .row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.jobs-theme .row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.jobs-theme .row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}
.jobs-theme .row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}
.jobs-theme .row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}
.jobs-theme .row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}
.jobs-theme .row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}
.jobs-theme .row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}
.jobs-theme .row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}
.jobs-theme .row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}
.jobs-theme .row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}
.jobs-theme .row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}
.jobs-theme .row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}
.jobs-theme .row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}
.jobs-theme .row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}
.jobs-theme .row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}
.jobs-theme .row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}
.jobs-theme .row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}
.jobs-theme .row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}
.jobs-theme .row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}
.jobs-theme .row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}
.jobs-theme .row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}
.jobs-theme .row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}
.jobs-theme .row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}
.jobs-theme .row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}
.jobs-theme .row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}
