/* GLOBAL STYLES */

.err{background-color:darkred;color:white;border-radius:5px;padding:5px;font-weight:bold;}
.success{color:green;padding:10px;font-weight:bold;}

.subtext{color:#666;font-size:smaller;}
.border-top-sect{background:url(../img/sect-top-line.png) no-repeat;}
.link-img-button, .link-img-button img{line-height:0;margin:0px;padding:0px;}
.link-img-button:hover{box-shadow:0 0 4px #888;}
.link-img-button:active{box-shadow:0 0 0px white;}
.breaker{clear:both;border-top:1px dashed #ccc;margin:20px 0 20px 0;}
.job-emphasize{font-weight:bold;}
.job-spacer{margin-top:10px;}
.job-green-highlight{font-size:20px;color:#50A748;}

/* Green Button */
.green-button{display:block;background:url(../img/green-botton.png) right;color:white;font-family:arial;cursor:pointer;
	text-transform:uppercase;font-size:13px;font-weight:bold;padding:11px 0 8px 11px;border-radius:2px;}
.green-button:hover{box-shadow:0 0 3px #999;}
.green-button:active{box-shadow:0 0 0px white;}
.green-button.med-width{width:430px;}
.green-button.small-width{width:200px;}
.green-button.header_look{background:#50A748;border-radius:8px;}
.button-disabled{background:gray;}

/* TOP GREEN BANNER */
#top-green-banner{width:976px;height:266px;font-family:'Avenir Next', Verdana;background:url(../img/green-header-right.jpg);margin-bottom:15px;}
.main-text{color:white;font-size:3.1em;padding:120px 50px 0 0px;text-align:right;line-height:1em;letter-spacing:-3px;}
.main-text.supervision-main-text{padding:100px 50px 0 0px;font-size:4em;letter-spacing:0;}
.sub-text{font-style:italic;padding:12px 0 0 330px;text-align:right;font-size:1.4em;width:600px;letter-spacing:-1px;line-height:1em;}

/*************** EXCLUSIVE TO /jobs/ **/
/* POWER */
#power{background: url(../img/power_jobs.jpg) no-repeat;height: 359px;}
#power div{position:absolute;margin-top:100px;}
#power .bg-shade{background:black;opacity:.7;width:600px;height:150px;margin-left:-10px;}
#power .power-text{font-family:arial;padding:40px;text-shadow:0 0 10px black;}
#power span{display:block;}
#power .tagline1{color:white;font-size:50px;line-height:30px;}
#power .tagline2{color:#50A748;font-size:40px;}

/* PAGE TITLE & RELATED */
#benefits-btn{float:right;}

/* WHY CFPB */
#why-cfpb{}
#why-cfpb .one-reason{float:left;width:315px;margin:0 5px 0 5px;}
/*#why-cfpb h3{height:35px;margin:15px 0;padding:0px;font-size:18px;}
#why-cfpb p{}*/
.job-quote .by-line{font-style:italic;font-weight:bold;color:#444;}
.job-quote .dept-name{font-style:italic;color:#666;}
.job-quote.withspace{margin-bottom:15px;}

/* JOB CATEGORY LISTING */
#job-list-arena{margin-bottom:20px;}

  /* JOB SEARCH METHODS */
  #job-search-methods{text-align:right;padding:10px;}
  #job-search-methods a{padding:2px 7px 2px 7px;border-radius:3px;}
  #job-search-methods a.sel{background:#A2C0CC;color:white;box-shadow:0 0 1px #777;border-bottom:0px;}
  
  /* JOB SEARCH LIST */
  .job-search-list{padding:0px;margin:0px;}
  .job-search-list li{padding:5px;margin:3px;list-style:none;width:306px;
  	float:left;border-top:4px solid #ddd;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;
	height:112px;overflow:hidden;}
  .job-search-list li:hover{border-color:#A3CA86;background:#f3f3f3;}
  .job-search-list li:hover a{text-decoration:underline;}
  .job-search-list li:hover .job-count{background:white;}
  .job-search-list h5{margin:0px;padding:0px;}
  .job-search-list p{margin:0px;padding:0px;}
  .job-search-list .job-count{float:right;font-size:22px;color:#bbb;padding:3px;background:#f3f3f3;border-radius:10px;}



/*************** JOBS - GENERIC **/
/* GRAY INTRODUCTION - ON TOP OF DEPARTMENTS AND FUNCTIONS */
.gray-intro{background-color:#f2f2f2;padding:15px;}
.intro-video-box{margin-top:20px;}
.gray-intro .left-intro-box .job-motto{padding:0px !important;}
.right-intro-box{float:right;width:400px;padding:20px 0 0 20px;}

/* POWER - SHORTER VERSION */
#power-short{background: url(../img/power_jobs_short.jpg) no-repeat;height:213px;margin-bottom:20px;}
#power-short div{position:absolute;}
#power-short .bg-shade{background:black;opacity:.7;font-size:50px;padding:30px 30px 30px 40px;margin:40px 0 0 -10px;}
#power-short .bg-shade span{visibility:hidden;}
#power-short .power-text{margin-top:40px;font-family:arial;padding:30px;text-shadow:0 0 10px black;color:white;font-size:50px;}

/* INTRO ELEMENTS */
.job-motto{font-size:20px;color:#50A748;padding:10px !important;}
.float-right-box{float:right;width:340px;padding-top:20px;}
#left-intro{width:600px;font-size:14px;}


/* JOB-LISTING */
#job-sections{margin-bottom:30px;border-bottom:1px solid #ddd;}
.job-location-group{}
.job-location-group h3{font-size:15px;padding:15px 0;}

.job-item{margin-top:20px;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;}
.job-item:hover{background:#f2f2f2;}


.job-item h4{background:url(../img/arrow.png) no-repeat;background-position:0px 5px;padding-left:23px;border-bottom:1px dashed #bbb;}
.job-item .job-location{float:right;font-style:italic;}
.job-item time{}
.job-item p{margin:0px 0 5px 0;font-size:14px;}
.job-item .grade-n-pay{font-weight:bold;}
.job-item .close-date{color:#888;font-size:12px;margin:5px 0 5px 0;}



/*************** JOBS - JOB PAGE **/
#jobs-left-sect{width:620px;float:left;padding-bottom:20px;}
#jobs-left-sect h2{padding-top:10px;}
#job-responsibilities ul{padding-top:0px;margin-top:0px;}
#job-responsibilities li{list-style:none;background:url(../img/blk-arrow.png) no-repeat;background-position:0px 5px;padding-left:15px;}
#job-teaser{font-size:23px;color:#666;margin:20px 0 20px 0;}
#job-role{}

#jobs-right-sect{float:right;margin:20px 0 20px 0;width:312px;}
.job-box{padding:20px;}
.job-top-margin{margin-top:30px;}
.gray-box{background-color:#f2f2f2;border:1px solid #ddd;border-top:0px solid white;}

#jobs-right-sect dl, #jobs-right-sect dd{margin:0px;}
#jobs-right-sect dl{margin-top:10px;font-weight:bold;}
#jobs-right-sect dd{}

#job-description p:first-child{padding-top:20px;}


/***************** STATIC PAGES ***/


/***** Benefits and Perks ***/
ul#benefits-list{margin:0px;padding:0px;list-style:none;}
ul#benefits-list li{min-height:90px;margin:0px;padding:15px 0 0 100px;list-style:none;border-top:1px solid #d9d9d9;}
ul#benefits-list h3{}
ul#benefits-list img{width:60px;}
ul#benefits-list p{margin-top:0px;padding-top:0px;color:#555;font-size:smaller;}
.benefit-icon{position:absolute;margin:10px 0 0 -100px;padding-left:20px;background:url(../img/green-vline.png) no-repeat;background-position:0px 3px;}

ul#benefits-list li, .benefit-icon{-webkit-transition:all .2s linear;-moz-transition:all .2s linear;}
ul#benefits-list li:hover .benefit-icon{background-position:8px 0px;}
ul#benefits-list li:hover{background:#f8f8f8;box-shadow:0 0 7px #ddd;border-radius:10px;}

/********* DESIGN TECHNOLOGY FELLOWS **/
#jobs-how-it-works.fellowship section{}
#jobs-how-it-works table{margin:0px;border:0px;border-collapse:separate;border-spacing:10px 0px; }
#jobs-how-it-works td{border:0px;padding:0px;background-color:#F2F2F2;width:30%;padding:25px 15px 15px 15px;}

/* FAQ */
#jobs-faq{}
#jobs-faq div h4{margin-top:20px;}
#jobs-faq div p{margin:0 0 1em 0;}
/*
ul.green-bulletin{margin:0px 0px;padding:0px;}
ul.green-bulletin > li{list-style:none;margin:0px 0px 20px 0px;padding:0px;}
ul.green-bulletin h3{font-size:1.1em;}
ul.green-bulletin p, ul.green-bulletin div.sub-job-section{margin:0 0 10px 0px;}
*/
.job-entry-sect{margin:20px 0 0 40px;}
h4{margin-top:30px;}
.featured_positions h5{font-size:15px;margin:10px 0 0 0;}
ul.green-bulletin .green-button{margin-left:20px;}
.green-bulletin-spacer h3{margin-top:20px;}

#upcoming-events section{margin-bottom:20px;border-bottom:1px dashed #ddd;padding-bottom:20px;}

/* DECISION TREE */
.decision-tree{margin:-8px 0 0 17px;padding:20px;background:#f1f1f1;border-top:3px solid #50A748;width:500px;border-radius:4px;display:none;box-shadow:0px 4px 5px #999;}
.decision-tree .dec-question{background:#f6f6f6;padding:4px;margin:5px;border-radius:4px;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;transition:all .2s linear;}
.decision-tree .dec-question:hover{background:white;}
.decision-tree .next-step-btn{float:right;border-radius:5px;}
.decision-tree .nextStepButtons{float:right;margin:0;text-align:center;margin-top:20px;width:300px;}

.dec-answer{margin:10px;text-align:right;color:#999;font-size:.8em;}
.dec-answer span{background:white;font-size:1.5em;padding:3px 6px 3px 6px;display:inline-block;border:1px solid #A2D59D;border-radius:6px;cursor:pointer;}
.dec-answer span:hover{box-shadow:0 0 5px #777;color:#50A748;}
.dec-answer span.sel{box-shadow:0 0 5px #777;background:#50A748;color:white;}
.cancel-button{line-height:37px;}
.incomplete-tooltip{position:absolute;margin:-47px 0 0 -77px;display:none;}

/* Academic Research Council page */
table.academic-research-council h1{margin:0px}
table.academic-research-council td{padding:15px}
