{% extends 'layout-2-1-bleedbar.html' %}

{% block title -%}
    Your financial well-being is our goal
{%- endblock %}

{% block desc -%}
    Learn about the financial well-being scale and why we created it.
{%- endblock %}


{% block pre_content %}
    <div class="content_wrapper">
        <nav class="breadcrumbs" aria-label="Breadcrumbs">
            <a class="breadcrumbs_link" id="results-link" href="../">
                Back to the questionnaire
            </a>
        </nav>
    </div>
{% endblock %}


{% block content_main %}
    <h1>Your financial well-being is our goal</h1>


{% endblock %}
