{% macro render(block, index) %}
   {% set block_classes = ['block'] %}

   {% if block.value.has_top_rule_line %}
      {% do block_classes.append('block--padded-top block--border-top') %}
   {% elif index == 1 %}
      {% do block_classes.append('block--flush-top') %}
   {% endif %}

   {% if block.block.meta.classname %}
      {% do block_classes.append(block.block.meta.classname) %}
   {% endif %}

   <div class="{{ block_classes | unique | join(' ') }}">
      {% include_block block %}
   </div>

   {# TODO: Rename `has_rule` to `has_bottom_rule_line` #}
   {% if block.value.has_rule %}
      <div class="a-rule-break block block--sub"></div>
   {% endif %}
{% endmacro %}
