
{# ==========================================================================

   category_slug.render()

   ==========================================================================

   Description:

   Render a category slug when given:

   category:          A simple string.

   path:              The path to which the filter applies.
                      For example, if the slug is used on a blog article
                      then path should be '/blog/'.
                      Remember to leverage vars.path instead of
                      using the literal string '/blog/'.
                      Path is used to create the filtered URL:
                      {{ path }}?filter_category={{ category }}

   classes:           An optional, space separated list of class names.

   use_blog_category: Whether to use the blog category filter or not.
                      Defaults to false.

   ========================================================================== #}

{%- macro render(category, path, classes, use_blog_category=false) %}
{%- import 'macros/category-icon.html' as category_icon -%}
{%- if use_blog_category %}
    {% set filter_path = path + '?filter_blog_category=' + category|urlencode|replace('%20', '+') %}
{%- else -%}
    {% set filter_path = path + '?filter_category=' + category|urlencode|replace('%20', '+') %}
{% endif -%}
<a href="{{ filter_path }}"
   class="category-slug{{ ' ' + classes if classes }}">
    {{ category_icon.render(category, 'category-slug_icon')|safe }}
    <span class="u-visually-hidden">Category:</span>
    {{ category }}
</a>
{% endmacro -%}
