/* ==========================================================================
   "Brand footer" custom styles
   ========================================================================== */

.brand-footer {
  background-color: @gray-5;
  border-top: 1px solid @gray-40;

  &_wrapper {
    box-sizing: border-box;
    padding: unit(30px / @base-font-size-px, rem);
    padding-bottom: unit(60px / @base-font-size-px, rem);
    max-width: 1230px;
    margin: 0 auto;
  }

  &_heading {
    margin-bottom: unit(30px / @base-font-size-px, rem);
  }

  &_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: unit(60px / @base-font-size-px, rem);
  }

  &_block {
    flex-grow: 1;
    width: 240px;
  }

  .title-link {
    border-bottom-width: 1px;
  }

  &_img {
    text-align: center;

    // Tablet and above.
    .respond-to-min(@bp-sm-min, {
      text-align: left;
    });

    img {
      width: 150px;
      padding-bottom: unit((@grid_gutter-width - 5) / @base-font-size-px, em);
    }
  }
}
