.oah-ratings-form  {
    .rating-message {
        position: relative;
        padding-top: 5px;
        opacity: 0;

        transition: opacity .4s ease-in;

        &_text {
            display: block;
            padding-left: 1.25em;
        }

        .cf-icon-svg {
            position:absolute;
            fill: @green;
        }

        &.visible{
            opacity: 1;
        }
    }

    .rating-inputs .a-radio:disabled + label:before {
        background: @gray;
        box-shadow: 0 0 0 1px @white,
                    0 0 0 2px @gray-40 !important;
        cursor: not-allowed;
        content: '' !important;
    }

    .rating-inputs .a-radio:checked:disabled + label:before {
        background: @pacific;
        box-shadow: 0 0 0 1px @white,
                    0 0 0 2px @pacific !important;
    }
}
