
// TODO: Remove this code when owning-a-home is migrated Wagtail.

.form-resources {
    .content_main {
        .respond-to-min( @bp-sm-max, {
            padding-top: unit( @grid_gutter-width * 1.5, px );
            padding-bottom: @grid_gutter-width;
        } );
    }

    .hero {
        background: #ccdfdf;
        padding: 0;
        border-top: 1px solid #CFCFCD;
        border-bottom: 1px solid #CFCFCD;

        p {
            text-transform: none;
            text-align: left;
            color: @gray-dark;
        }

        &_wrapper {
            .wrapper();
            padding: 0;
        }

        &_preview {
            background: @white;
            background: fade(@white, 90%);
            padding: 15px;

            h1 {
              .h2();
            }

            footer {
                p {
                    margin-bottom: 0;
                }
            }
        }

        .respond-to-max( 660px, {

            .hero_img {
                height: 180px;
                background-repeat: no-repeat;
                background-position: center center;
            }
        } );

        .respond-to-min( 661px, {
            padding-top: unit( 15px / @base-font-size-px, em );

            &_wrapper {
                background-repeat: no-repeat;
                background-position: 15px 0;
            }

            &_card {
                .grid_push( 6 );
                .grid_column( 6 );
                a& {
                    border-color: transparent;
                }
            }

            &_preview {
                padding: @grid_gutter-width;
                margin-top: unit( 15px / @base-font-size-px, em );
            }

        } );

        .respond-to-min( 992px, {
            &_card {
                .grid_push( 8 );
                .grid_column( 4 );
            }
        } );
    }

    .hero__mortage-closing {

        .respond-to-max( 660px, {
            .hero_img {
                background-image:url('../img/form-resources_mortgage-closing-hero-small.png');
                background-size: 320px 170px;
            }
        } );

        .respond-to-min( 661px, {
            .hero_wrapper {
                background-image:url('../img/form-resources_mortgage-closing-hero-medium.png');
                background-size: 400px 260px;
            }
        } );

        .respond-to-min( 992px, {
            .hero_wrapper {
                background-image:url('../img/form-resources_mortgage-closing-hero-large.png');
                background-size: 730px 372px;
              }
        } );
    }

    .hero__mortage-estimate {

        .respond-to-max( 660px, {
            .hero_img {
                background-image:url('../img/form-resources_mortgage-estimate-hero-small.png');
                background-size: 320px 170px;
            }
        } );

        .respond-to-min( 661px, {
            .hero_wrapper {
                background-image:url('../img/form-resources_mortgage-estimate-hero-medium.png');
                background-size: 400px 310px;
            }
        } );

        .respond-to-min( 992px, {
            .hero_wrapper {
                background-image:url('../img/form-resources_mortgage-estimate-hero-large.png');
                background-size: 730px 425px;
              }
        } );
    }

    @media print {
        .hero_img-container {
            display: none
        }
    }
}

.oah-ratings-form  {
    .rating-message {
        position: relative;
        padding-top: 5px;
        opacity: 0;

        transition: opacity .4s ease-in;

        &_text {
            display: block;
            padding-left: 1.25em;
        }

        .cf-icon-svg {
            position:absolute;
            fill: @green;
        }

        &.visible{
            opacity: 1;
        }
    }

    .rating-inputs .a-radio:disabled + label:before {
        background: @gray;
        box-shadow: 0 0 0 1px @white,
                    0 0 0 2px @gray-40 !important;
        cursor: not-allowed;
        content: '' !important;
    }

    .rating-inputs .a-radio:checked:disabled + label:before {
        background: @pacific;
        box-shadow: 0 0 0 1px @white,
                    0 0 0 2px @pacific !important;
    }
}
