/* ==========================================================================
   Helper Classes & Styles
   ========================================================================== */

.a-form-alert {
  color: var(--gray-dark);
  font-size: 0.75em;
}

.clear {
  opacity: 0;
}

.highlight-dropdown {
  border-color: var(--gold);
  border-width: 2px;
}

@keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.loaded {
  animation: fadein 0.5s;
}

.loading {
  opacity: 0.3;
}

.placeholder {
  min-height: 200px;
  background: var(--gray-10);
  line-height: 200px;
  text-align: center;
}

/* use sans-serif typeface */
.sans {
  strong {
    font-weight: 600;
  }
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-right-on-desktop {
  .respond-to-min(801px, {
    text-align: right;
  });
}

.u-link-underline {
  border-bottom: 1px dotted;
}

.respond-to-max(800px, {
  .mobi-no {
    display: none;
  }
});

.respond-to-min(800px, {
  .mobi-yes {
    display: none;
  }
});
