{% extends "front/base_update.html" %}
{% load staticfiles %}

{% block title %}Paying for College - Compare financial aid and college cost{% endblock %}

{% block page_css %}
{% endblock %}

{% block body_class %}page paying-for-college{% endblock %}

{% block content %}
<div id="comparison-tool" class="comparison-tool sub-page-wrapper">
  <header id="comparison-tool-header" class="feedback-header">
      <h1>Paying for College</h1>
      <span>Understanding your financial aid offer</span>
  </header><!-- end #comparison-tool-header -->

  <section class="feedback-section clearfix">
      <div class="col col7 suf5">
          <hr>
          <header>
              <h4>What do you think about this tool?</h4>
          </header>
          <div>
              <p>The Consumer Financial Protection Bureau is a 21st century agency committed to using technology to empower consumers to take control over their economic lives.</p>
              <p>With your help, you can help us design a tool that makes that process a little bit less daunting &ndash; helping families make smarter choices about student debt.</p>
              <form method="post" id="feedback-container" class="block">
                  <p><label for="id_message"><strong>Enter your comments here</strong></label></p>
                                  {% csrf_token %}
                  <p class="pfc-feedback">{{ form.message }}</p>
                  <p><button class="a-btn">Submit your feedback</button></p>
              </form>
          </div>
      </div>
  </section><!-- end .feedback-section -->
</div>
{% endblock content %}

{% block page_js %}
<script src="{% static 'apps/paying-for-college/js/disclosure-feedback.js' %}"></script>
{% endblock %}
