{% extends "front/base_update.html" %}
{% load staticfiles %}

{% block title %}Paying for College - Compare financial aid and college cost{% endblock %}

{% block page_css %}
{% endblock %}

{% block page_js %}
{% endblock %}

{% block body_class %}page paying-for-college{% endblock %}

{% block content %}
<div id="comparison-tool" class="comparison-tool sub-page-wrapper">
    <header id="comparison-tool-header" class="feedback-header">
            <h1>Paying for College</h1>
        <span>Understanding your financial aid offer</span>
    </header><!-- end #comparison-tool-header -->

    <section class="feedback-section clearfix">
        <div class="col col7 suf5">
            <hr>
            <header>
                <h2 class="demi">Thank you for your feedback!</h2>
            </header>
            <div>
                <p>We’ll be sure to review your ideas and input, which will help us make the financial aid tool even more helpful!</p>
                {% comment %}
                <p class="medium">Stay informed about CFPB updates by joining our mailing list.</p>
                <form class="signup inlineSignup pfc-signup" action="https://public.govdelivery.com/service/process_ss.xml" method="GET" data-thanks="Thanks!">
                    <fieldset>
                        <input type="hidden" name="code" value="USCFPB_7">
                        <p class="clearfix"><label for="email">Email address</label> <input type="email" id="email" name="email" size="33"></p>
                        <p class="clearfix"><label for="questionid_10376">ZIP code</label> <input type="text" id="questionid_10376" name="questionid_10376"></p>
                        <p class="pfc-send-email"><button id="pfc-send-email">Send me email updates</button></p>
                    </fieldset>
                </form>
                {% endcomment %}
            </div>
        </div>
    </section><!-- end .feedback-section -->
</div><!-- end #comparison-tool .comparison-tool -->
{% endblock content %}
