.td2{width:150px;}
.no-marg-top-childs p{margin-top:0px;}
p{margin-top:0px;margin-left:0px;}
h2{text-transform:none;margin-left:0px;letter-spacing:0px;}
.td2 h2{font-weight:500; padding-bottom:.4em; border-bottom:1px solid #212121;}
#ask-cfpb-print{display:none;}
