
{# ==========================================================================

   render()

   ==========================================================================

   Description:

   Render an article when given:

   post:               The Sheer document that is available to a _single.html
                       template. For example in blog/_single.html the variable
                       `post` is available and represents the post for the
                       `_single` page. In newsroom/_single.html this variables
                       is called `newsroom`.

   path:               The path to which post filters are applies. For example,
                       if the post is a blog post then path should be
                       '/about-us/blog/'.  Remember to leverage vars.path
                       instead of using the literal string '/about-us/blog/'.
                       Path is used to create the filtered URL:
                       {{ path }}?tags={{ tag }}

   ========================================================================== #}

{% import 'form_block.html' as form_block with context %}
{% import 'organisms/item-introduction.html' as item_introduction with context %}
{%- import 'templates/render_block.html' as render_block with context -%}
{%- import 'tags.html' as tags -%}
{% import 'molecules/archived-pill.html' as archived_pill with context %}

{% macro setCTAFlag( blocks ) %}
  {% for block in blocks.value %}
      {% if block.block_type == 'cta' %}
        {% do block.value.update({ 'is_inset': true }) %}
      {% endif %}
  {% endfor %}
{% endmacro %}

<article class="post">
    <header>
        {% set data = {
            'category': page.categories.all(),
            'heading': page.title,
            'date': page.date_published,
            'has_social': True,
            'social_options': { 'is_printable': true }
        } %}

        {% for block in page.header -%}
            {% if block.block_type == 'article_subheader' %}
                {% do data.update({'paragraph': block.value}) %}
            {% endif %}
        {% endfor %}

        {{ archived_pill.render( page if page else '' ) }}
        {{ item_introduction.render(data) }}
    </header>

    <div class="post_body">
        {% for block in page.content %}
            {% if block.block_type == 'content' %}
                {{ block.value | safe }}
            {% elif block.block_type == 'feedback' %}
            {{- form_block.render(block, 'content', loop.index0) -}}
            {% elif block.block_type == 'full_width_text' %}
                {{ setCTAFlag( block ) }}
                {{ render_block.render(block, loop.index) }}
            {% else %}
                {{ render_block.render(block, loop.index) }}
            {% endif %}
        {% endfor %}
    </div>
    {% if page.tags.all() | length %}
        <footer>
            {{ tags.render( page.related_metadata_tags(), is_wagtail=True) }}
        </footer>
    {% endif %}
</article>
