
{# ==========================================================================

   render()

   ==========================================================================

   Description:

   Render an article when given:

   post:               The Sheer document that is available to a _single.html
                       template. For example in blog/_single.html the variable
                       `post` is available and represents the post for the
                       `_single` page. In newsroom/_single.html this variables
                       is called `newsroom`.

   path:               The path to which post filters are applies. For example,
                       if the post is a blog post then path should be
                       '/about-us/blog/'.  Remember to leverage vars.path
                       instead of using the literal string '/about-us/blog/'.
                       Path is used to create the filtered URL:
                       {{ path }}?filter_tags={{ tag }}

   ========================================================================== #}

{% macro render(post, path) %}

{% import 'molecules/social-media.html' as social_media with context %}

<article class="post">
    <header>
        {%- import 'macros/category-slug.html' as category_slug %}
        {% if path == '/about-us/blog/' and post.blog_category.0 %}
            {% set use_blog_category = true %}
            {% for icon in post.blog_category %}
                {% if loop.index > 1 %}
                    |
                {% endif %}
                {{ category_slug.render(icon,
                        path,
                        'post_slug meta-header_left',
                        use_blog_category,
                        sheerpage=True) }}
            {% endfor %}
        {% elif post.category.0 %}
            {% for icon in post.category %}
                {% if loop.index > 1 %}
                    |
                {% endif %}
                {{ category_slug.render(icon,
                        path,
                        'post_slug meta-header_left',
                        sheerpage=True) }}
            {% endfor %}
        {% endif %}
        <h1 class="post_heading">
            {{ post.title|safe }}
        </h1>
    {% if post.dek %}
        <p class="post_dek">
            {{ post.dek|safe }}
        </p>
    {% endif %}
        <div class="post_meta">
        {% if post.author.0 %}
            <span class="post_byline">
                By <a href="{{ path }}?filter_author={{ post.author.0 }}">
                    {{ post.author.0 }}
                </a>
                {% if post.author.1 %}
                    and <a href="{{ path }}?filter_author={{ post.author.1 }}">
                        {{ post.author.1 }}
                    </a>
                {% endif %}
                &ndash;
            </span>
        {% endif %}
            <span class="date">
                {% import 'macros/time.html' as time %}
                {{ time.render(post.date, {'date':true}) }}
            </span>
        </div>
        {{ social_media.render( {
            'title':            post.title,
            'twitter_related':  post.twtr_rel,
            'twitter_lang':     post.twtr_lang,
            'twitter_hashtags': post.twtr_hash
        } ) }}
    {% if post.thumbnail.images %}
        <img class="post_featured-img"
             src="{{ post.thumbnail.images.full.url }}"
             alt="{{ post.thumbnail.alt_text }}">
    {% endif %}
    </header>
    <div class="post_body">
        {{ post.content | safe }}
    </div>
{% if post.tags | length %}
    <footer>
        {%- import 'tags.html' as tags %}
        {{ tags.render( post.tags, path, is_sheer=True ) }}
    </footer>
{% endif %}
</article>

{% endmacro %}
