{# ==========================================================================

   breadcrumbs.render()

   ==========================================================================

   Description:

   Create breadcrumb markup when given:

   items:              An array of tuples used to display nav items.
                       format: (href, id, caption)

   ========================================================================== #}

{% macro render(items) %}
<nav class="breadcrumbs" aria-label="{{ _('Breadcrumbs') }}">
    {% for href, id, caption in items %}
    <a class="breadcrumbs_link" href="{{ href }}">
        {{ caption | e }}
    </a>
    {% endfor %}
</nav>
{% endmacro %}
