{% import 'atoms/input.html' as input %}
{% import 'atoms/textarea.html' as textarea %}
{% import 'atoms/submit-button.html' as submit_button %}
{% import 'molecules/big-checkbox.html' as big_checkbox %}
{% import 'molecules/notification.html' as notification %}

{% macro render(value, settings, form_id) %}
    {% set form = settings.form %}

    {% if settings.is_at_capacity %}
        {{ value.at_capacity_message | safe }}
    {% else %}
        <form id="registration-form"
              method="post"
              action="."
              class="o-form js-validate-filters">

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="form_id" value="{{ form_id }}">
            <input type="hidden" name="code" value="{{ value.code }}">

            {% if settings.is_successful_submission %}
                {{- notification.render(
                    'success',
                    true,
                    value.success_message | safe
                ) }}
            {% endif %}

            {# Form heading #}
            {% if value.heading %}
                <h2>{{ value.heading }}</h2>
            {% endif %}

            {% for error in form.non_field_errors() %}
                {{- notification.render('error', true, error) }}
            {% endfor %}
            {% for field in form %}
                {% for error in field.errors %}
                    {{- notification.render('error', true, error) }}
                {% endfor %}
            {%- endfor -%}

            <section class="o-form-section">
                <div class="form-l_col form-l_col-1">
                    <p><strong>*</strong> Indicates a required field.</p>
                </div>

                {# Name #}
                {{- input.render({
                    'id':       'name',
                    'label':    'Name *',
                    'type':     'text',
                    'value':    form.name.value() | default('', true),
                    'size':     '1',
                    'required': true,
                    'disabled': false
                }) -}}

                {# Organization #}
                {{- input.render({
                    'id': 'organization',
                    'label':    'Organization',
                    'type':     'text',
                    'value':    form.organization.value() | default('', true),
                    'size':     '1',
                    'required': false,
                    'disabled': false
                }) -}}

                {# Email #}
                {{- input.render({
                    'id': 'email',
                    'label':   'Email *',
                    'type':    'email',
                    'value':    form.email.value() | default('', true),
                    'size':    '1',
                    'required': true,
                    'disabled': false
                }) -}}

                {# Sessions attending #}
                {% set checkbox_fields = [] %}
                {% for session in value.sessions %}
                    {% do checkbox_fields.append(session) %}
                {% endfor %}

                {{ big_checkbox.render({
                    "legend": 'Which sessions will you be attending? ',
                    "fields": checkbox_fields,
                    'value':  request.POST.getlist('form_sessions', []),
                    "size" :  '1'
                }, options={
                    'id':       'sessions',
                    'required': true,
                }) }}

                {# Food/allergies/restrictions #}
                {{ textarea.render({
                    'name':       'foodinfo',
                    'label':      'Do you have food allergies/restrictions?',
                    'value':      form.foodinfo.value() | default('', true),
                    'helperText': false,
                    'required':   false,
                    'disabled':   false
                }) }}

                {# Other accommodations #}
                {{ textarea.render({
                    'name':       'accommodations',
                    'label':      'Will you require any accommodations to attend?',
                    'value':      form.accommodations.value() | default('', true),
                    'helperText': 'Examples: hearing, parking space, breastfeeding',
                    'required':   false,
                    'disabled':   false
                }) }}

            </section>

            {{ submit_button.render({'button_text': 'Register'})}}

        </form>

    {% endif %}

{% endmacro %}
