<section>
    <div class="u-js-only">
    {% for block in page.faq %}
        {% if block.block_type == 'Heading' -%}
            <h2>
                {{ block.value }}
            </h2>
        {% elif block.block_type == 'Description' %}
            <p>
                {{ block.value | safe }}
            </p>
        </div>
        {% endif %}
    {% endfor %}
        <div class="expandable-group">
            <div class="expandable-group_items">
                {% for block in page.faq %}
                    {% if block.block_type == 'QA' %}
                    <div class="expandable expandable__padded">
                        <button class="expandable_header expandable_target">
                            <span class="expandable_header-left expandable_label">
                                {{ block.value.bound_blocks.question.render() }}
                            </span>
                            <span class="expandable_header-right expandable_link">
                                <span class="expandable_cue-open">
                                    Show
                                    <span class="cf-icon cf-icon-plus-round"></span>
                                </span>
                                <span class="expandable_cue-close">
                                    Hide
                                    <span class="cf-icon cf-icon-minus-round"></span>
                                </span>
                            </span>
                        </button>
                        <div class="expandable_content">
                            <p>
                                {{ block.value.bound_blocks.answer.render() }}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div><!-- END .block.expandable-group -->
</section>
