{% macro render(hero) %}

{% import 'macros/category-icon.html' as category_icon %}

{% if hero['related_posts'] %}
    {% set related_post = get_document('posts', hero['related_posts'][0]) %}
{% endif %}

{% if related_post %}
    {% set hero_href = ['href=', related_post.permalink] %}
{% elif hero.custom_fields.link %}
    {% set hero_href = ['href=', hero.custom_fields.link[0]] %}
{% endif %}

<section class="content_hero hero"
         style="background-color: {{ hero.custom_fields.background_color[0]
                                     if hero.custom_fields.background_color }}">
    <div class="hero_wrapper">
        <a class="hero_card" {{ hero_href | join if hero_href else '' }}>
            <article class="hero_preview">
                {% if related_post %}
                <span class="category-slug">
                    {{ category_icon.render(related_post.category.0, 'category-slug_icon') }}
                    <span class="u-visually-hidden">Category:</span>
                    {{- related_post.category.0 -}}
                </span>
                {% endif %}
                <div class="summary">
                    <header class="summary_header">
                        {# TODO: Change to H2 when hero is placed under title #}
                        <h1 class="summary_heading">{{ hero.title }}</h1>
                    </header>
                    <p class="summary_text">
                    {%- if hero.content %}
                        {{- hero.content | striptags -}}
                    {%- elif related_post %}
                        {%- if related_post.dek %}
                            {{- related_post.dek | striptags -}}
                        {% else %}
                            {{- related_post.excerpt | striptags -}}
                        {% endif -%}
                    {% endif -%}
                    </p>
                    <footer class="summary_footer">
                    {%- if related_post and related_post.author.0 %}
                        <p class="summary_byline">
                            By {{ related_post.author.0 }}
                            {%- if related_post.author.1 %}
                            and {{ related_post.author.1 }}
                            {% endif -%}
                        </p>
                    {% endif -%}
                    </footer>
                </div>
            </article>
        </a>
    </div>
    <div class="hero_img-container hero_img-container__small">
        <div class="hero_img"
             style="background-image:url({{ hero.custom_fields.mobile_image[0] if hero.custom_fields.mobile_image else '' }});">
        </div>
    </div>
    <div class="hero_img-container hero_img-container__large">
        <div class="hero_img"
             style="background-image:url({{ hero.custom_fields.desktop_image[0] if hero.custom_fields.desktop_image else '' }});">
        </div>
    </div>
</section><!-- END .content_hero -->

{% endmacro %}
