{% import 'macros/time.html' as time %}

{% macro render(user_options={}, is_pdf=false) %}

{% set options = {
    'time_col_classes': 'u-w25pct',
    'name_col_classes': 'u-w25pct',
    'desc_col_classes': 'u-w50pct'
} %}
{% set _ignore = options.update(user_options) %}
{% set paged_events = none %}

{% if not is_pdf %}
    {# Page the events by the earliest and latest dates in the range. #}
    {% set range = day_range or page_days %}
    {% set from = range[-1] %}
    {% set to = range[0] %}
    {% set paged_events = events.filter(dtstart__gte=from).filter(dtstart__lte=to).order_by('-dtstart') %}
{% endif %}

{% if is_pdf %}
    {% for day_of_events in events|groupby('day')|reverse %}
        {{ render_table(day_of_events, is_pdf, options) }}
    {% endfor %}
{% else %}
    {% for day in page_days %}
        {{ render_table(day, is_pdf, options) }}
    {% endfor %}
{% endif %}

{% endmacro %}

{% macro render_table(day_of_events, is_pdf, options) %}
    <table class="u-w100pct block block__flush-top">
        <thead>
            <tr>
                <th colspan="3">
                    {% set day = day_of_events.grouper if is_pdf else day_of_events %}
                    {% set events = day_of_events.list if is_pdf else events %}
                    {{ time.render(day, {'date':true}) }}
                </th>
            </tr>
        </thead>
        <tbody>
            {{ render_events(events, day, options) }}
        </tbody>
    </table>
{% endmacro %}

{% macro render_events(calendar_events, day, options) %}
    {% if day.date is defined %}
        {% set day = day.date() %}
    {% endif %}
    {% for event in calendar_events|sort(attribute='dtstart') %}
        {% set start = event.dtstart %}
        {% if start.date() == day %}
            <tr>
                <td class="{{ options.time_col_classes }}">
                {%- if event.all_day %}
                    All day
                {%- else %}
                    {{ time.render(event.dtstart, {'time':true}) }}
                    &ndash;
                    {{ time.render(event.dtend, {'time':true}) }}
                {%- endif %}
                </td>
                <td class="{{ options.name_col_classes }}">
                    <span class="h4">
                        {{ event.calendar }}
                    </span>
                </td>
                <td class="{{ options.desc_col_classes }}">
                    {{ event.summary }}
                {% if event.description %}
                    <br>
                    <small><i>{{ event.description }}</i></small>
                {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
{% endmacro %}
