
{% macro render(popular_posts) %}

<div class="popular-stories">
    <h2 class="header-slug">
        <span class="header-slug_inner">
            Popular stories
        </span>
    </h2>
    <ul class="list list__unstyled list__spaced">
    {% for slug in popular_posts %}
        {% set pop_post = get_document('posts', slug) %}
        <li class="list_item">
            <h3 class="h4 u-mb5">
                <a class="list_link"
                   href="{{ pop_post.permalink }}">
                    {{ pop_post.title|safe }}
                </a>
            </h3>
            {# <p class="short-desc u-mb0">
                 TODO: Use real content description
            </p> #}
            <p class="date">
                {% import 'macros/time.html' as time %}
                {{ time.render(pop_post.date, {'date':true}) }}
            </p>
        </li>
    {% endfor %}
    </ul>
</div>

{% endmacro %}
