
{# ==========================================================================

   post_summary()

   ==========================================================================

   Description:

   Create an post summary when given:

   post: A post from a query result.

   ========================================================================== #}

{% macro post_summary(post) %}
    <header class="summary_header">
        <h2 class="summary_heading">{{ post.title | safe }}</h2>
    </header>
    <p class="summary_text summary_text__max">
    {% if post.dek %}
        {{ post.dek | striptags }}
    {% else %}
        {{ post.excerpt | striptags }}
    {% endif %}
    </p>
    {% if post.author.0 %}
    <footer class="summary_footer">
        <p class="summary_byline">
            By {{ post.author.0 }}
        {% if post.author.1 %}
            and {{ post.author.1 }}
        {% endif %}
        </p>
    </footer>
    {% endif %}

{% endmacro %}


{# ==========================================================================

   pagination()

   ==========================================================================

   Requirements:

   - Must be imported `with context`.

   ==========================================================================

   Description:

   Create a pagination component when given:

   query_obj:   The post type query object like `queries.posts`.
                This gives us access to necessary pagination info like the
                current page and the total number of pages.

   filters:     An array of the filters that you want pagination to support.
                Possible values: activity_category, author, calendar, category,
                range_date_gte, range_date_lte, tags.

   ========================================================================== #}

{% macro pagination(query_obj, filters) %}
{#- Pagination is only displayed if there is more than one page. -#}
{%- if query_obj.pages > 1 %}
    <nav class="post-pagination m-pagination"
         role="navigation"
         aria-label="Pagination"
         data-ajax-action="posts-paginated.html">
    {%- if query_obj.current_page > 1 %}
        <a class="a-btn a-btn__super m-pagination_btn-prev"
           href="{{ query_obj.url_for_page(query_obj.current_page - 1) }}#pagination_content">
    {%- else %}
        <a class="a-btn a-btn__super a-btn__disabled m-pagination_btn-prev">
    {% endif %}
            <span class="a-btn_icon__on-left cf-icon cf-icon-left"></span>
            Newer
        </a>
    {%- if query_obj.current_page < query_obj.pages %}
        <a class="a-btn a-btn__super m-pagination_btn-next"
           href="{{ query_obj.url_for_page(query_obj.current_page + 1) }}#pagination_content">
    {%- else %}
        <a class="a-btn a-btn__super a-btn__disabled m-pagination_btn-next">
    {% endif -%}
            Older
            <span class="a-btn_icon__on-right cf-icon cf-icon-right"></span>
        </a>
        <form class="m-pagination_form" action="#pagination_content">
            <label class="m-pagination_label" for="pagination_current-page">
                Page
                <span class="u-visually-hidden">
                    number out of {{ query_obj.pages }} total pages
                </span>
            </label>
            <input class="m-pagination_current-page"
                   id="pagination_current-page"
                   inputmode="numeric"
                   name="page"
                   type="number"
                   min="1"
                   max="{{ query_obj.pages }}"
                   pattern="[0-9]*"
                   value="{{ query_obj.current_page }}">
            {#- Include any current filters when submitting this form to allow
                for paginating through a filtered set of results.
                Without this the form would change the url to `?page=X` and we
                would lose any currently applied filters that are in the URL. -#}
    {%- for filter in filters -%}
        {# Note that in order to gain access to selected_filters_for_field you
           will need to import this macros file with context. #}
        {% set selected_filters = selected_filters_for_field(filter) %}
        {%- for value in selected_filters -%}
            {%- if value %}
            <input type="hidden" name="filter_{{ filter }}" value="{{ value }}">
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
            <span class="m-pagination_label" aria-hidden="true">
                of {{ query_obj.pages }}
            </span>
            <button class="a-btn a-btn__link m-pagination_btn-submit"
                    id="pagination_submit"
                    type="submit">
                Go
            </button>
        </form>
    </nav>
{%- endif -%}
{% endmacro %}
