
{% macro render(posts) %}

{% import 'post-macros.html' as post_macros with context %}

<div id="pagination_content">

{% for post in posts %}

    {#- Blog uses a different category field ('blog_category')
        so on that page we'll need to tell category_slug to use that field
        rather than the normal 'category' #}
    {%- if vars.path == '/about-us/blog/' %}
        {% set category = post.blog_category %}
        {% set use_blog_category = true %}
    {% elif post.category %}
        {% set category = post.category %}
        {% set sheer_page = true %}
    {% endif -%}
    {%- import 'macros/category-slug.html' as category_slug %}

    <article class="post-preview">
        <div class="m-meta-header">
            <span class="a-date m-meta-header_right">
                {% import 'macros/time.html' as time %}
                {{ time.render(post.date, {'date':true}) }}
            </span>
            {% if not category %}
                {{ '&nbsp;'|safe }}
            {% else %}
                {% for cat in category %}
                    {% if loop.index > 1 %}
                        |
                    {% endif %}
                    {% set slug = category_slug.render(cat,
                                                       vars.path,
                                                       'm-meta-header_left',
                                                       use_blog_category, 0, sheer_page) %}
                    {{ slug }}
                {% endfor %}
            {% endif %}
        </div>
    {% if post.thumbnail.images and post.thumbnail.images.fj_thumbnail %}
        <a class="media" href="{{ post.permalink }}">
            <div class="media_image-container post-summary-image">
                <div class="post-summary-image_container">
                    <img class="media_image"
                         src="{{ post.thumbnail.images.fj_thumbnail.url }}"
                         alt="{{ post.thumbnail.alt_text }}">
                </div>
            </div>
            <div class="media_body">
                {{ post_macros.post_summary(post) }}
            </div>
        </a>
    {% else %}
        <a class="summary" href="{{ post.permalink }}">
            {{ post_macros.post_summary(post) }}
        </a>
    {% endif %}
    </article>

{% endfor %}

{% if vars.path == '/about-us/blog/' %}
    {% set category_field = 'blog_category' %}
{% else %}
    {% set category_field = 'category' %}

{% endif %}

{{ post_macros.pagination(posts, [
    category_field,
    'tags',
    'author',
    'range_date_gte',
    'range_date_lte'
]) }}

</div>

{% endmacro %}
