{# TODO: This can go away once the old pages have been migrated. #}

{# ==========================================================================

   secondary_navigation.render()

   ==========================================================================

   Description:

   Create secondary navigation markup when given:

   items:          An array of tuples used to display nav items.
                   format: (href, id, text, children)

   active_item_id: A string indicating the id of the nav item to be activated.

   ========================================================================== #}

{% macro _secondary_navigation(items, active_item_id) %}
{% from 'molecules/nav-link.html' import nav_link as nav_link %}
<ul class="o-secondary-navigation_list
           o-secondary-navigation_list__parents">
    {%- for item in items %}
        {%- set href, id, caption, children = item[0], item[1], item[2], item[3:] %}

    <li>
        {{ nav_link(caption, href, true, id == active_item_id) }}
    {%- if children -%}
        {% set children = children[0] %}
        <ul class="o-secondary-navigation_list
                   o-secondary-navigation_list__children">
        {%- for href, id, caption in children %}
            <li>
                {{ nav_link(caption, href, false, id == active_item_id) }}
            </li>
        {%- endfor %}
        </ul>
    {%- endif %}
    </li>

    {%- endfor %}
</ul>
{% endmacro %}

<nav class="o-secondary-navigation"
     aria-label="Section navigation">
    {% set sec_nav_settings = {
        'label': 'In this section',
        'is_bordered': false,
        'is_midtone': true,
        'is_expanded': false
    } %}

    {% from 'molecules/expandable.html' import expandable with context %}
    {% call() expandable(sec_nav_settings) %}
        {{ _secondary_navigation(sec_nav_items, active_nav_id) | safe }}
    {% endcall %}
</nav>
