
{# ==========================================================================

   sidenav.render()

   ==========================================================================

   Description:

   Create nav markup when given:

   items:              An array of tuples used to display nav items.
                       format: (href, id, caption, children)

   active_item_id:     A string indicating the id of the nav item
                       to be activated.

   additional_classes: Extra classes you wish to add to the nav,
                       space separated.

   ========================================================================== #}

{% macro render(items, active_item_id, additional_classes) %}

<nav class="nav-secondary expandable {{ additional_classes }}"
     aria-label="Section navigation">
    <div class="expandable_header nav-secondary_header">
        <button class="expandable_target nav-secondary_link nav-secondary_link__button">
            <span class="expandable_header-left">
                In this section
            </span>
            <span class="expandable_header-right">
                <span class="expandable_cue-open">
                    <span class="cf-icon cf-icon-down cf-icon__green"></span>
                </span>
                <span class="expandable_cue-close">
                    <span class="cf-icon cf-icon-up cf-icon__green"></span>
                </span>
            </span>
        </button>
    </div>
    <div class="expandable_content nav-secondary_content">
        <ul class="nav-secondary_list">
        {%- for item in items %}
            {%- set href, id, caption, children = item[0], item[1], item[2], item[3:] %}
            <li class="nav-secondary_item nav-secondary_item__parent">
                {%- if id == active_item_id %}
                    <a class="nav-secondary_link nav-secondary_link__current">
                        {{ caption|e }}
                    </a>
                {%- else -%}
                    <a class="nav-secondary_link" href="{{ href|e }}">
                        {{ caption|e }}
                    </a>
                {% endif -%}
            {%- if children -%}
                {% set children = children[0] %}
                <ul class="nav-secondary_list">
                {%- for href, id, caption in children %}
                    <li class="nav-secondary_item nav-secondary_item__child">
                    {%- if id == active_item_id %}
                        <a class="nav-secondary_link nav-secondary_link__current">
                            {{ caption|e }}
                        </a>
                    {%- else -%}
                        <a class="nav-secondary_link" href="{{ href|e }}">
                            {{ caption|e }}
                        </a>
                    {% endif -%}
                    </li>
                {%- endfor %}
                </ul>
            {%- endif %}
            </li>
        {%- endfor %}
        </ul>
    </div>
</nav>

{% endmacro %}
