
{# ==========================================================================

   tags.render()

   ==========================================================================

   Description:

   Render a tags list when given:

   tags.links:    List of tags to render with:

       link.url:        The tag URL.

       link.text:       The tag text.

   hide_heading:  The optional boolean flag to hide the tags_heading element.
                  Adds class 'tags__hide-heading' if true value passed.
                  Defaults to false.

   ========================================================================== #}

{% macro render(tags, hide_heading=false) %}
<div class="tags{{' tags__hide-heading' if hide_heading else ''}}">
    <span class="{{'u-visually-hidden' if hide_heading else 'tags_heading' }}">
        Topics:
    </span>
    <ul class="tags_list" aria-label="Topics">
        {% for tag in tags.links if tag.url %}
        <li class="tags_tag">
            <a href="{{ tag.url }}" class="tags_link">
                <span class="tags_bullet" aria-hidden="true">&bull;</span>
                {{ tag.text }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}
