{% include "django/forms/widgets/input.html" %}

<label class="a-label" for="{{ widget.attrs.id }}">
    {{ widget.label }}

    <div class="a-label_helper">
        <p>
            We’ll show you cards
            that{{ widget.value.details_intro_have | yesno:" have," }}:
        </p>
        <ul>
            {% for detail in widget.value.details %}
            {% spaceless %}
            <li>

                {% if detail|length == 2 %}
                <strong>{{ detail.0 }}</strong> {{ detail.1 }}
                {% else %}
                <strong>{{ detail }}</strong>
                {% endif %}
            </li>
            {% endspaceless %}
            {% endfor %}
        </ul>
        <p>
            You’ll be able to further customize that list of cards to find ones that work for you.
        </p>
    </div>

    <style>
        .a-radio + .a-label > .a-label_helper {
            display: none;
        }

        .a-radio:checked + .a-label > .a-label_helper {
            display: grid;
            grid-column-start: 1;
            grid-column-end: 3;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .a-label_helper ul {
            list-style: disc;
            padding-left: 1.125em;
        }
    </style>
</label>
