{# ==========================================================================

    breadcrumbs.render()

    ==========================================================================

    Description:

    Create breadcrumb markup when given:

    breadcrumbs: An array of tuples used to display nav items.
                 Format: (href, live, title)

    ========================================================================== #}

 {% macro render( breadcrumbs ) %}
     <nav class="m-breadcrumbs" aria-label="{{ _('Breadcrumbs') }}">

         {# Change slash direction in RTL languages. #}
         {% if language == 'ar' %}
         {% set crumb_divider = ' \\ ' %}
         {% else %}
         {% set crumb_divider = ' / ' %}
         {% endif %}

         {% for crumb in breadcrumbs %}

            {{ crumb_divider }}

            {% if crumb.href or crumb.live %}
                <a class="m-breadcrumbs__crumb"
                   href="{{ crumb.href if crumb.href else pageurl(crumb) }}">
                    {{ crumb.title }}
                </a>
            {% else %}
                <span class="m-breadcrumbs__crumb">
                    {{ crumb.title }}
                </span>
            {% endif %}

         {% endfor %}
     </nav>
 {% endmacro %}
