{# ==========================================================================

   home_hero()

   ==========================================================================

   Description:

   Create an home-hero molecule when given:

   value:         Object defined from a StreamField block.

   value.lg_img:  The image url for background image on larger devices.

   value.heading: A string containing title of module.

   value.body:    A string containing the content to display below the
                  heading (typically a paragraph).

   value.sm_img:  The image url for faux image on small devices.

   ========================================================================== #}

{% macro home_hero( value ) %}
<div class="m-home-hero" style="background-image: url({{ static(value.lg_img) }});">
    <div class="content-l">
        <section class="m-home-hero_content">
            <h1 class="m-home-hero_heading">{{ value.heading }}</h1>
            <p class="m-home-hero_text">
                {{ value.body }}
            </p>
        </section>
    </div>
    <div class="m-home-hero_sm-img"
         style="background-image: url({{ static(value.sm_img) }});"></div>
</div>
{% endmacro %}
