SetEnvIf Origin "^http(s)?://(.+\.)?(consumerfinance\.gov|cfpb\.gov|cfpb\.github\.io)$" origin_is=$0 
Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is
Header always set Vary Origin
