env:
  jest: true
  mocha: true
globals:
  cy: true
  Cypress: true
rules:
  dot-notation: 0
  global-require: 0
  max-lines-per-function: 0
  max-nested-callbacks: 0
  max-statements: 0
  no-unused-expressions: 0
  require-jsdoc: 0
