.breadcrumbs {
    padding-top: unit( @grid_gutter-width / 14px, em );
    font-size: unit( 14px / @base-font-size-px, em );
    overflow-x: auto;
    white-space: nowrap;

    .cf-icon-svg {
      color: @pacific;
    }

    .respond-to-max( @bp-xs-max, {
        padding-top: unit( @grid_gutter-width / 2 / 14px, em );
        padding-bottom: unit( @grid_gutter-width / 2 / 14px, em );
    } );

    &_link {
        padding-left: 4px;

        &:not( :last-child ):after {
            padding-left: 4px;
            color: @text;
            content: ' /';
        }
    }
}
