{% extends "front/base_nonresponsive.html" %}
{% load staticfiles %}

{% block jquery %}
<script src="{% static 'nemo/_/js/jquery-1.9.1.min.js' %}"></script>
{% endblock %}

{% block nemo_js %}
<script type="text/javascript" src="{% static 'agreements/js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block app_css %}
<link rel="stylesheet" href="{% static 'agreements/css/ccdb.css' %}" />
<link rel="stylesheet" href="{% static 'agreements/css/chosen.css' %}" />

<!--[if IE]>
        <link rel="stylesheet" href="{% static 'agreements/css/ie.css' %}"/>
<![endif]-->

{% endblock %}

{% block app_js %}
<script type="text/javascript" src="{% static 'modal.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#issuer_select").chosen();
        $("#issuer_select").chosen().change( function(e){
                window.location = '/credit-cards/agreements/issuer/' + jQuery(this).val() + '/';
        });
    });
</script>
{% endblock %}
