{% extends "agreements/base_agreements.html" %}
{% load agreements_extras %}
{% block page_meta %}
<meta charset="UTF-8" />
<meta property="og:title" content="Credit card agreement database &#8211; Consumer Financial Protection Bureau"/>
<meta property="og:type" content="government"/>
<meta property="og:url" content="{% url 'agreements_home' %}"/>
{% endblock %}

{% block title %}Credit card agreement database{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/credit-cards/">Credit cards</a></li>
<li><span>Credit card agreements</span></li>
{% endblock %}

{% block content %}
<h1>Credit card agreement database</h1>

<div id="ccagrhome">
    <p>
        The CFPB maintains a database
        of credit card agreements from hundreds of card issuers.
        Using the tool below,
        you can search for an agreement by the name of the issuer.
    </p>

    <h5>Show agreements by card issuer</h5>
    {% issuer_select %}

    <a href="#modIssuer" class="popl">Can't find an issuer?</a>
    <div id="modIssuer" class="modal closed" style="display: none;">
        <a href="#modIssuer" class="close">Close</a>

        <span><a href="#">Can't find an issuer?</a></span>
        <p>
            The drop-down list contains credit card issuers that have submitted
            credit card agreements as required under Section 204 of the
            Credit Card Accountability Responsibility and Disclosure Act of 2009
            (the CARD Act).
        </p>
        <p>
            Look on the back of the credit card or on your latest monthly statement
            to find the name of the issuer. The bank, retailer, or other entity
            whose name appears on the front of the card may not be
            the actual issuer of the card. You can also check the issuer's website;
            typically, the bank name is listed at the bottom of the issuer's homepage.
        </p>
        <p>
            If you cannot find an agreement, call your issuer to request
            a copy of the agreement. Federal law requires your issuer to
            give you a copy of your agreement on request.
        </p>
    </div>

    <p>
        This search method accesses all credit card agreements as of the CFPB’s most recent quarterly collection of
        credit card agreements. To access all agreements from the most recent or earlier periods, please click on the
        relevant agreement link below. (Please note that the Bureau did not collect agreements for 2015. The January
        2016 archive is a sample that was collected by Bureau staff from the publicly-available websites of the largest
        credit card issuers as of the first week of January 2016, and does not constitute a full set of agreements).
        Credit card issuers are generally required to post the credit card agreements that they offer to the public on
        their websites, with limited exceptions.
        If you are an issuer, email <a href="mailto:CardAgreements@consumerfinance.gov">CardAgreements@consumerfinance.gov</a>
        for agreement submission instructions.
    </p>


    <p id="dwnld">
        <a href="https://files.consumerfinance.gov/a/assets/Credit_Card_Agreements_2018_Q1.zip">
            Download all most recent agreements (Q1-2018)
        </a>
    </p>
     <p>
        <a href="https://files.consumerfinance.gov/a/assets/Credit_Card_Agreements_2017_Q4.zip">
            Archived Q4-2017 agreements
        </a>
    </p>
     <p>
        <a href="https://files.consumerfinance.gov/a/assets/Credit_Card_Agreements_2017_Q3.zip">
            Archived Q3-2017 agreements
        </a>
    </p>
     <p>
        <a href="https://files.consumerfinance.gov/a/assets/Credit_Card_Agreements_2017_Q2.zip">
            Archived Q2-2017 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/Credit_Card_Agreements_2017_Q1.zip">
            Archived Q1-2017 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/Credit_Card_Agreements_2016_Q4.zip">
            Archived Q4-2016 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/Credit_Card_Agreements_2016_Q3.zip">
            Archived Q3-2016 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/Credit_Card_Agreements_2016_Q2.zip">
            Archived Q2-2016 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2016_Q1.zip">
            Archived Q1-2016 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2015_Q4.zip">
            Archived January 2016 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2014_Q4.zip">
            Archived Q4-2014 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2014_Q3.zip">
            Archived Q3-2014 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2014_Q2.zip">
            Archived Q2-2014 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2014_Q1.zip">
            Archived Q1-2014 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2013_Q4.zip">
            Archived Q4-2013 agreements
        </a>
    </p>

    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2013_Q3.zip">
            Archived Q3-2013 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2013_Q2.zip">
            Archived Q2-2013 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2013_Q1.zip">
            Archived Q1-2013 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2012_Q4.zip">
            Archived Q4-2012 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2012_Q3.zip">
            Archived Q3-2012 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2012_Q2.zip">
            Archived Q2-2012 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2012_Q1.zip">
            Archived Q1-2012 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2011_Q4.zip">
            Archived Q4-2011 agreements
        </a>
    </p>
    <p>
        <a href="https://files.consumerfinance.gov/a/assets/CCADB_Snapshot_2011_Q3.zip">
            Archived Q3-2011 agreements
        </a>
    </p>

    <h5>Looking for your own credit card agreement?</h5>
    <p>
        We have provided this database so you can search for agreements between
        credit card issuers and their customers. The agreements in this database
        have general terms and conditions, pricing, and fee information.
    </p>
    <p>
        If you are looking for information specific to your account,
        contact the bank or institution that issued your card.
        By law, the issuer must make your agreement available to you upon request.
        If you are having trouble getting your agreement, let us know by
        <a href="https://www.consumerfinance.gov/complaint/">submitting a complaint</a>.
    </p>

    <h5>College credit card agreements</h5>
    <p>
        We have collected credit card issuer marketing agreements with
        universities or affiliated organizations. We are also required to
        report to Congress on the state of college credit card agreements.
    </p>
    <p>
        <a href="/credit-cards/college-agreements/">
            View college credit card agreements information
        </a>
    </p>

    <hr>

    <p><a href="#fadeclaim" class="faded">Database disclaimer</a></p>
    <div id="fadeclaim" style="display: none;">
        <p>We will display the consumer credit card agreements in this database as the respective issuers submitted them. The CFPB is not responsible for the content of the agreements, including any discrepancies between an agreement as presented in this database and the agreement as offered to the public, or for any omissions or other errors in the agreement as submitted by the issuer.</p>
        <p>The agreements on file will have general terms and conditions, pricing, and fee information. They are not specific to an individual's account information.</p>
      <p>If you have questions about the agreements themselves, contact the card issuer directly.</p>
  </div>
</div> {# END #ccagrhome #}

<div id="sidebar">
    <div id="needhelp">
        <h3>Need help with your credit cards?</h3>
        <p>
            We'll forward your issue to your credit card company, give you a tracking
            number, and keep you updated on the status of your complaint.
        </p>
        <p>
            <a href="https://www.consumerfinance.gov/complaint/">
                Submit a credit card complaint
            </a>
        </p>

        <p>
            The CARD Act is often called the Credit Cardholders Bill of Rights.
            President Obama signed the bill into law in May 2009. Many of the most
            significant provisions of the law took effect in February 2010.
        </p>
        <p>
            <a href="/credit-cards/credit-card-act/">Read more about the Credit CARD Act</a>
        </p>

        <p>
            Find guides, your rights related to your credit score,
            and your credit card protections.
        </p>
        <p>
            <a href="/credit-cards/">Get more information about consumer credit cards</a>
        </p>
    </div>
</div>
{% endblock %}

{% block page_js %}
{% endblock %}
