{% import 'organisms/search-bar.html' as search_bar with context %}

{% set default_label = _("Don't see what you're looking for? <span class=\"break\">Search for your question.</span>") %}
{% set default_classes = 'block__bg-branded block__flush-top block__flush-bottom' %}

{% macro render( position='full', label=default_label, additional_classes=default_classes, q='' ) %}
{% set search_opts = {
    'label': label,
    'position': position,
    'action': _('/ask-cfpb/search'),
    'additional_classes': additional_classes,
    'autocomplete': 'true',
    'q': q,
    'language': page.language,
    'button_text': _('Search')
  } %}

{{ search_bar.render( search_opts ) }}

{% endmacro %}
