{% from 'macros/util/url_parameters.html' import url_parameters %}

{% if current_page > 1 %}
<li>
	<a href="?page={{ (current_page | int - 1 ) ~ url_parameters(request.GET)}}">
     	<img src="{{ static('nemo/_/img/icon-arrow-left-retina.png') }}" alt="Previous Page" class="icon-18">
    </a>
</li>
{% endif %}

{% for p in paginator.page_range %}
    {% if current_page == p %}
        <li><span class="s-active">{{ p }}</span></li>
    {% else %}
        <li><a href="?page={{ p ~ url_parameters(request.GET)}}">{{ p }}</a></li>
    {% endif %}
{% endfor %}

{% if current_page < paginator.num_pages %}
<li>
	<a href="?page={{ (current_page | int + 1) ~ url_parameters(request.GET)}}">
		<img src="{{ static('nemo/_/img/icon-arrow-right-retina.png') }}" alt="Next Page" class="icon-18">
	</a>
</li>
{% endif %} 


