{# ==========================================================================

   Email Pop-up Organism

   ==========================================================================

   Description:

   Template for an email sign-up form that pops up when the user scrolls to a
   certain point in the page, triggered by add-email-popup.js.

   Note:

   If you edit this file, be sure to make the corresponding adjustments to
   the HTML_SNIPPET constants in
   - test/unit_tests/js/organisms/EmailPopup-spec.js
   - test/unit_tests/js/modules/util/add-email-popup-spec.js

   ========================================================================== #}

{% set form_id = unique_id_in_context() %}

<div class="o-email-popup"
     data-popup-label="{{ popup_label }}"
     lang="{{ popup_language }}">
    {# The .o-email-signup class below is necessary for the form to be properly
       initialized by on-demand/email-signup.js.

       An EmailSignup component is, in turn, required to be present elsewhere on
       the page, so that on-demand/email-signup.js will be included and run. #}
    <div class="o-email-signup">
        <div class="o-email-popup_header u-clearfix">
            <div class="close">
                <button class="a-btn a-btn__link">Close {{ svg_icon('delete') }}</button>
            </div>
        </div>

        <div class="o-email-popup_body"
             style="background-image: url('{{ static(popup_image) }}')">
            <h2>{{ popup_headline }}</h2>
            <p>{{ popup_content }}</p>
            <form class="o-form o-form__email-signup u-clearfix"
                  id="{{ 'o-email-signup_' ~ form_id }}"
                  method="POST"
                  action="{{ url('govdelivery') }}"
                  enctype="application/x-www-form-urlencoded"
                  novalidate>
                <div class="m-form-field">
                    <label class="u-visually-hidden" for="{{ 'email_' ~ form_id }}">
                        Email address
                    </label>
                    <input class="a-text-input a-text-input__full"
                           id="{{ 'email_' ~ form_id }}"
                           name="email"
                           type="email"
                           placeholder="Enter your email address"
                           required>
                </div>

                <div class="m-btn-group">
                    <button class="a-btn a-btn__full-on-xs">Sign up</button>
                    <a class="a-btn a-btn__link a-btn__secondary"
                       href="{{ privacy_link_url }}"
                       target="_blank"
                       rel="noopener noreferrer">
                        See Privacy Act statement
                    </a>
                </div>

                <input type="hidden" name="code" value="{{ mailing_list_code }}">
            </form>
        </div>

        <div class="o-email-popup_footer">
            {% import 'molecules/notification.html' as notification with context %}
            {{ notification.render( 'information', false, '' ) }}
        </div>
    </div>
</div>
