{# ==========================================================================

 Email Pop-up Organism

 ==========================================================================

 Description:

 Sidebar popup that fades in upon scrolling.

 ========================================================================== #}

<div class="o-email-popup"
     data-popup-label="{{ popup_label }}"
     lang="{{ popup_language }}">
    <div class="o-email-popup_header u-clearfix">
        <div class="close">
            <a>Close {{ svg_icon('delete') }}
        </div>
    </div>
    <div class="o-email-popup_body"
         style="background-image: url('{{ static(popup_image) }}')">
        <div class="o-email-signup">
            <h2>{{ popup_headline }}</h2>
            <form id="{{ ('o-email-signup_' ~ range(1, 100) | random) }}"
                  class="o-form o-form__email-signup u-clearfix"
                  action="{{ url('govdelivery') }}"
                  method="POST"
                  enctype="application/x-www-form-urlencoded"
                  novalidate>
                <p>{{ popup_content }}</p>
                <div class="m-form-field-with-button" data-qa-hook="formfield-with-button">
                    <div class="form-group">
                        <input id="form_18"
                               type="email"
                               placeholder="Enter your email address"
                               name="email"
                               class="m-form-field-with-button_field a-text-input"
                               required>
                    </div>
                    <p>
                        <a href="{{ privacy_link_url }}"
                           target="_blank"
                           rel="noopener noreferrer">Privacy Act statement</a>
                        <br/>
                    </p>
                    <input class="a-btn a-btn__full-on-xs" type="submit" value="Sign up">
                </div>
                <div class="form-group">
                    <input type="hidden" name="code" value="{{ mailing_list_code }}">
                </div>
            </form>
            <div class="o-email-signup_footer">
                {% import 'molecules/notification.html' as notification with context %}
                {{ notification.render('success', false, '') }}
            </div>
        </div>
    </div>
    <div class="o-email-popup_footer"></div>
</div>
