
{% macro render(post, doc_types='posts,newsroom', quantity=5, header='Related posts') %}

{% from 'macros/util/format/url.html' import slugify as slugify %}

<div class="{{ slugify(header) }}">
    <h2 class="header-slug">
        <span class="header-slug_inner">
            {{ header }}
        </span>
    </h2>
    <ul class="list list__unstyled list__spaced">
    {% for similar in more_like_this(post, search_types=doc_types, search_size=quantity) %}
        <li class="list_item">
            <h3 class="h4 u-mb5">
                <a class="list_link"
                    href="{{ similar.permalink }}">
                    {{ similar.title|safe }}
                </a>
            </h3>
            {# <p class="short-desc u-mb0">
                TODO: Use real content description
            </p> #}
            <p class="date">
                {% import 'macros/time.html' as time %}
                {{ time.render(similar.date, {'date':true}) }}
            </p>
        </li>
    {% endfor %}
    </ul>
</div>

{% endmacro %}
