
{# ==========================================================================

   render()

   ==========================================================================

   Description:

   Render a related links list when given:

   related_links:      An array of links. "Links" are arrays where the first
                       item is the URL and the second item is the text.
                       Example link: ['/', 'Home']
                       Example related_links: [['/', 'Home'],['/login', 'Login']]

   related_links_2:    You can optionally pass in another array which will
                       activate a two column layout where each array renders in
                       its own column.

   ========================================================================== #}

{%- macro render(related_links, related_links_2) -%}
<div class="related-links">
    <h1 class="header-slug">
        <span class="header-slug_inner">
            Related links
        </span>
    </h1>
{%- if related_links_2 %}
    <div class="content-l content-l__main content-l__large-gutters">
        <div class="content-l_col content-l_col-1-2">
            <ul class="list list__links u-mb0">
            {%- for link in related_links %}
                <li class="list_item">
                    {{- link_template(link) -}}
                </li>
            {%- endfor %}
            </ul>
        </div>
        <div class="content-l_col content-l_col-1-2">
            <ul class="list list__links u-mb0">
            {%- for link in related_links_2 %}
                <li class="list_item">
                    {{- link_template(link) -}}
                </li>
            {%- endfor %}
            </ul>
        </div>
    </div><!-- END .content-l -->
{%- else %}
    <ul class="list list__links">
    {%- for link in related_links %}
        <li class="list_item">
            {{- link_template(link) -}}
        </li>
    {%- endfor %}
    </ul>
{%- endif %}
</div>
{% endmacro -%}

{# A helper macro for render()
   ========================================================================== #}

{%- macro link_template(link) %}
<a class="list_link jump-link jump-link__right"
   href="{{ link[0] }}">
    {{ link[1] }}
</a>
{% endmacro -%}
