{% extends 'layout-1-3.html' %}

{#
    docs/sheer-layouts/layout-side-nav/

    Since regulations3k-side-nav.html extends from layout-1-3.html all we need to do
    is set some side nav variables and override the `content_sidebar` block to
    add the nav macro.
#}

{% block content_sidebar %}
    {% if page %}
        {% import 'eregs/regulations3k-secondary-navigation.html' as secondary_navigation with context %}
        {{ secondary_navigation.render() }}
    {% else %}
        {# TODO: Remove `active_nav_id` and `sec_nav_items` parameters when
             events, careers, doing business with us, the bureau,
             browse basic, browse filterable, and press resources are moved to Wagtail. #}
        {% set active_nav_id = active_nav_id | default('index') -%}
        {% set sec_nav_items = vars.nav_items %}
        {% import 'eregs/regulations3k-secondary-navigation.html' as secondary_navigation with context %}
        {{ secondary_navigation.render( active_nav_id, vars.nav_items ) }}
    {% endif %}
{% endblock %}

{# Extra classes needed for .content_sidebar #}
{% block content_sidebar_modifiers -%}
    content__flush-top-on-small
    content__flush-sides-on-small
    {{ 'content__half-top-on-desk' if breadcrumb_items | length > 0 else '' }}
{%- endblock %}

{# Extra classes needed for .content_main #}
{% block content_main_modifiers -%}
    content__flush-top-on-small
    {{ 'content__half-top-on-desk' if breadcrumb_items | length > 0 else '' }}
{%- endblock %}
