#maincontent {
    padding: 0;
}

#reg-wrapper H1 {
    font-weight: 700;
}

#reg-wrapper H2 {
    font-size: 1.375em;
    font-weight: 700;
    text-transform: none;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #CBCBCB;
}

#reg-wrapper .col {
    width: 430px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

#reg-wrapper .last-col {
    margin-right: 0;
}

#reg-wrapper FIELDSET {
    font-size: 0.875em;
    font-family: "Avenir Next", Verdana, sans-serif;
    padding-top: .5em;
}

#reg-wrapper FIELDSET .field {
    padding: .75em 0;
}

#reg-wrapper FIELDSET .subfield-left {
    float: left;
    padding-right: 10px;
}

#reg-wrapper FIELDSET .subfield-right {
    float: right;
    padding-right: 2px;
}

#reg-wrapper FIELDSET .subfield-right LABEL {
    float: left;
    width: auto;
}

#reg-wrapper DIV.error {
    padding-left: 13em;
    padding-top: .5em;
    color: #E24B2C;
    font-size: 0.714em;
    display: none;
}

#reg-wrapper INPUT.error {
    border: 1px solid #E24B2C;
    outline-color: red;
}

#reg-wrapper .icon {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    margin-right: -1.5em;
    margin-top: .25em;
}

#reg-wrapper .icon-ok {
    background: transparent url(images/register-ok.png) no-repeat 0 0;
}

#reg-wrapper .icon-error {
    background: transparent url(images/register-error.png) no-repeat 0 0;
}



#reg-wrapper FIELDSET .hint {
    display: block;
    font-size: 0.714em;
    color: #63666A;
    margin-bottom: -1.5em;
}

#reg-wrapper OPTION {
    font-family: "Avenir Next", Verdana, sans-serif;
}

#reg-wrapper .select2-container {
    width: 298px;
    font-family: "Avenir Next", Verdana, sans-serif;
}

#reg-wrapper .textbox {
    width: 282px;
    font-family: "Avenir Next", Verdana, sans-serif;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #CFCFCD;
}

#reg-wrapper .zip {
    width: 50px;
}

#reg-wrapper .tax1 {
    width: 25px;
}

#reg-wrapper .tax2 {
    width: 75px;
}

#reg-wrapper .phone {
    width: 25px;
}

#reg-wrapper .phone-last {
    width: 35px;
}

#reg-wrapper FIELDSET LABEL {
    width: 110px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding-right: 1.143em;
}

#reg-wrapper SECTION {
    padding: 36px 40px;
}

#reg-wrapper SECTION.shaded {
    background-color: #F2F2F2;
}

#reg-wrapper INPUT[type=checkbox] {
    background-color: transparent;
}

#reg-privacy {
    font-family: "Avenir Next", Verdana, sans-serif;
    font-size: 0.875em;
}

#reg-privacy H3 {
    font-size: 1em;
    font-weight: 700;
    width: 430px;
}

#reg-certify {
    font-family: "Avenir Next", Verdana, sans-serif;
    font-size: 0.875em;
}

#reg-certify INPUT {
    vertical-align: top;
    margin-top: .3em;
}


#reg-certify LABEL {
    display: block;
    margin-left: 1.25em;
    text-indent: -1.25em;
    padding-right: 10em;
    padding-bottom: 1em;
}

.lt-ie9 #reg-certify LABEL {
    margin-left: 2.25em;
    text-indent: -2.25em;
}

#reg-submit INPUT.button {
    font-family: "Avenir Next", Verdana, sans-serif;
    margin-left: 1.25em;
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    line-height: 30px;
    padding: 0 40px 0 10px;
    border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #0072CC url(images/get-started-arrow.png) no-repeat center right;
}

.lt-ie9 #reg-submit INPUT.button {
    margin-left: 2.25em;
}


#reg-submit INPUT.inactive-button {
    background: #B3B3B3 url(images/submit-inactive.png) no-repeat center right;
}

#reg-submit DIV.error {
    padding-left: 1.75em;
}

#reg-success {
    display: none;
}

#reg-success H2 {
    font-size: 1.750em;
    border-bottom: 0;
    padding-bottom: 0;
}


@media  (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    #reg-sumit INPUT.button {
        background-image: url(images/get-started-arrow@2x.png);
        background-size: 30px 30px;
    }

    #reg-submit INPUT.inactive-button {
        background-image: url(images/submit-inactive@2x.png);
        background-size: 30px 30px;
    }

    #reg-wrapper .icon-ok {
        background: transparent url(images/register-ok@2x.png) no-repeat 0 0;
        background-size: 16px 16px;
    }

    #reg-wrapper .icon-error {
        background: transparent url(images/register-error@2x.png) no-repeat 0 0;
        background-size: 16px 16px;
    }


}

.bread{
    display:none;
}
