@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

//
// Custom Form fields styling
//

.m-form-field--checkbox {
  .a-checkbox + .a-label.indeterminate {
    &::before {
      background-image: url('/static/apps/teachers-digital-platform/img/square-gray.png');
      background-size: auto 0.875em auto math.div(15px, $base-font-size-px) + em;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
