//
// Custom Form fields styling
//

.m-form-field__checkbox {
    .a-checkbox + .a-label.indeterminate {
        &::before {
            background-image: url( '../img/square-gray.png' );
            background-size: auto 0.875em auto unit( 15px / @base-font-size-px, em );
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}
