//
// Search hero
//

.m-search-hero {
    overflow: auto;

    .respond-to-min(@bp-sm-min, {
        @supports ( display: flex ) {
            display: flex;
        }
    });
}

.m-search-hero_text {
    box-sizing: border-box;

    .respond-to-min(@bp-med-min, {
        float: left;
        width: 60%;

        @supports ( display: flex ) {
            float: none;
        }
    });
}

.m-search-hero_image-wrapper {
    box-sizing: border-box;
    display: none;

    .respond-to-min(@bp-med-min, {
        display: block;
        float: right;
        width: 40%;
        padding-left: unit( 30px / @base-font-size-px, em );

        @supports ( display: flex ) {
            float: none;
        }
    });
}
