//
// Search hero
//

.m-search-hero {
  overflow: auto;

  // Tablet and above.
  .respond-to-min(@bp-sm-min, {
    display: flex;
  });
}

.m-search-hero__text {
  box-sizing: border-box;

  // Desktop and above.
  .respond-to-min(@bp-med-min, {
    width: 60%;
  });
}

.m-search-hero__image-wrapper {
  box-sizing: border-box;
  display: none;

  // Desktop and above.
  .respond-to-min(@bp-med-min, {
    display: block;
    width: 40%;
    padding-left: unit( 30px / @base-font-size-px, em );
  });
}
