{% extends 'es/es-base.html' %}

{% block babel_title %}
	Hogar &gt; Oficina para la Protección Financiera del Consumidor
{% endblock %}

{% block body_class %}
{% endblock %}

{% block nav_item_hogar %}
	s-active
{% endblock %}

{% block babel_content %}
<header class="hero full-bleed full-bleed-padded">
	<div class="hero-container">
		<img class="hero-image" src="{{ static('nemo/_/img/mortgage-hero.png') }}"
		alt="hogar" style="padding-left:434px">
		<div class="hero-copy">
			<h1><span class="heading-inner-small">¿Le gustaría comprar una casa?<br>¿Ya tiene una hipoteca?</span><br><strong>Como las normas del CFPB<br>le pueden ayudar.</strong></h1>
		</div>
	</div>
</header>
<section class="content">
	<div class="primary">
		<article>
			<p>
			</p><ol>
			<h2><a href="https://www.consumerfinance.gov/f/201509_cfpb_conjunto-de-herramientas-para-prestamos-hipotecarios.pdf" target="_blank"><strong>Conjunto de herramientas para hipotecas</strong></a></h2>
			Este guía puede ayudarle paso a paso a tomar mejores decisiones a lo largo de su camino de ser propietario de una vivienda.
			<ol>
				<a href="https://www.consumerfinance.gov/f/201509_cfpb_conjunto-de-herramientas-para-prestamos-hipotecarios.pdf" target="_blank">Descargar</a>
				<article>
					<h2><a href="https://www.consumerfinance.gov/f/201401_cfpb_consejos-para-los-compradores-de-vivienda.pdf" target="_blank"><strong>Consejos para los que le gustaría comprar una casa</strong></a></h2>
					Saque el máximo beneficio de las nuevas normas hipotecarias.
					<ol>
						<li>Sólo usted puede decidir con qué cantidad de pago de su hipoteca se siente cómodo.</li>
						<li>Use la información del mercado.</li>
						<li>Obtenga ayuda confiable.</li>
						<li>Cuidado con los cargos.</li>
					</ol>
					<a href="https://www.consumerfinance.gov/f/201401_cfpb_consejos-para-los-compradores-de-vivienda.pdf" target="_blank">Descargar</a>
					<h2><a href="https://www.consumerfinance.gov/f/201401_cfpb_lista-de-accion-de-hipotecas.pdf" target="_blank"><strong>Lista de acción de hipotecas</strong></a></h2>
					Haga lo siguiente para que aproveche al máximo de su hipoteca.
					<ol>
						<li>Confirme si hay atrasos.</li>
						<li>Arregle los errores.</li>
						<li>Busque y compare.</li>
						<li>Prepárese para una tasa nueva.</li>
						<li>Obtenga ayuda y tome el control.</li>
					</ol>
					<a href="https://www.consumerfinance.gov/f/201401_cfpb_lista-de-accion-de-hipotecas.pdf" target="_blank">Descargar</a>
					<h2><a href="https://www.consumerfinance.gov/f/201401_cfpb_lista-de-accion-de-ejecuciones-hipotecarias.pdf" target="_blank"><strong>Lista de acción de ejecuciones hipotecarias ("foreclosure")&nbsp; </strong></a></h2>
					Tome acción para quedarse en su casa.
					<ol>
						<li>Tome el control. Haga o conteste la llamada.</li>
						<li>¡Busque profesionales!</li>
						<li>¡Evite la estafa!</li>
						<li>Hágalo a tiempo.</li>
						<li>Defienda sus derechos.</li>
					</ol>
					<a href="https://www.consumerfinance.gov/f/201401_cfpb_lista-de-accion-de-ejecuciones-hipotecarias.pdf" target="_blank">Descargar</a>
					<h2><a href="https://www.consumerfinance.gov/f/201401_cfpb_evitar-ejecuciones-hipotecarias.pdf" target="_blank"><strong>Evitar ejecuciones hipotecarias ("foreclosure")&nbsp; </strong></a></h2>
					Información sobre:
					<ul>
						<li>El proceso y las restricciones de ejecución hipotecaria</li>
						<li>Se exige a los administradores</li>
						<li>Plazos para los prestatarios en dificultades</li>
						<li>Los que buscaron ayuda antes pueden volver a solicitar la mitigación de pérdidas</li>
					</ul>
					<a href="https://www.consumerfinance.gov/f/201401_cfpb_evitar-ejecuciones-hipotecarias.pdf" target="_blank">Descargar</a>
					<h2><strong><a href="https://www.consumerfinance.gov/f/201401_cfpb_normas-hipotecarias.pdf" target="_blank">Las nuevas normas hipotecarias&nbsp;</a></strong></h2>
					Lo que significan las nuevas normas para las familias y los propietarios de viviendas
					<ol>
					</ol></article><article></article><article><a href="https://www.consumerfinance.gov/f/201401_cfpb_normas-hipotecarias.pdf" target="_blank">Descargar</a>
					<ol>
					</ol></article><article></article><article></article>
			</ol></ol></article>
	</div>
</section>
{% endblock %}
