# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file.
root = true

# Unix-style newlines with a newline ending every file.
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation.
# Set default charset and indent styles.
[*.{js,jsx,less,css,html,py}]
charset = utf-8
indent_style = space

# 2 space indentation.
[*.{js,jsx,less,css,html}]
indent_size = 2

# 4 space indentation.
[*.{py}]
indent_size = 4
