# --------------------------------------------------------------------------
# Environment variables are initialized in this file via the Autoenv module.
# The file may be manually initialized with . ./.env from the project root.
# --------------------------------------------------------------------------

###############################
# V1 - application feature related variables
###############################

#export PDFREACTOR_LICENSE=<license_key>

###############################
# Elastic-Search - for indexing and storing wordpress content for querying.
###############################

export ES_PORT=9200
export ES_HOST=localhost
export SHEER_ELASTICSEARCH_INDEX=content

###############################
# Sheer - for loading data into Elastic-Search instance.
###############################

# Name of the virtualenv created for Sheer in
# https://github.com/cfpb/cfgov-refresh/blob/flapjack/INSTALL.md#sheer
export VIRTUAL_ENV=cfgov-refresh

# WordPress content API base URL.
export WORDPRESS=http://www.consumerfinance.gov

##############################################################
# GOVDELIVERY (optional) - for running the subscription forms.
##############################################################

#export GOVDELIVERY_BASE_URL=https://stage-api.govdelivery.com/
#export GOVDELIVERY_ACCOUNT_CODE=<govdelivery_account_code>
#export GOVDELIVERY_USER=<govdelivery_username>
#export GOVDELIVERY_PASSWORD=<govdelivery_password>

# Forwarding locations on subscription success and error.
#export SUBSCRIPTION_SUCCESS_URL=/govdelivery-subscribe/success/
#export SUBSCRIPTION_USER_ERROR_URL=/govdelivery-subscribe/error/
#export SUBSCRIPTION_SERVER_ERROR_URL=/govdelivery-subscribe/server-error/

########################################################
# TESTING (optional) - for handling testing of the site.
########################################################

#export HTTP_HOST=localhost
#export HTTP_PORT=8000
#export SELENIUM_URL=http://localhost:4444/wd/hub
#export TOXENV=py27

# Web service ID for accessibility testing via http://achecker.ca site.
#export ACHECKER_ID=<web_service_id>

#################################################################
# SAUCE LABS (optional) - for handling cloud testing of the site.
#################################################################

#export SAUCE_USERNAME=<sauce_username>
#export SAUCE_ACCESS_KEY=<sauce_access_key>
#export SAUCE_SELENIUM_URL=localhost:4445/wd/hub

###############################################
# Project configuration - set up working state.
###############################################

if ! type "$workon" 2>/dev/null; then
  workon $VIRTUAL_ENV &&
  echo Virtualenv \"$VIRTUAL_ENV\" activated. ||
  echo Virtualenv was not activated.
fi

echo Environment variables successfully loaded.
