[flake8]
max-line-length = 79
select = C,E,F,W,B,B950
ignore =
    B006,  # should be removed ASAP and resolved
    B007,  # should be removed ASAP and resolved
    B008,  # should be removed ASAP and resolved
    B010,  # should be removed ASAP and resolved
    # black https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#line-length
    E203, E501
    # There's nothing wrong with assigning lambdas
    E731,
    # PEP8 weakly recommends Knuth-style line breaks before binary
    # operators
    W503, W504
exclude =
    # These are directories that it's a waste of time to traverse
    .git,
    .tox,
    .venv,
    ansible,
    bin,
    config,
    develop-apps,
    docs,
    gulp,
    requirements,
    node_modules,
    site,
    venv,

    # And directories in cfgov that don't have python files to lint
    cfgov/jinja2,
    cfgov/static_built,
    cfgov/templates,
    cfgov/unprocessed,

    # Generated migration files will throw errors. We need to find a way
    # to exclude django-generated migrations while including
    # manually-written migrations.
    */migrations/*.py,

    # Our settings files might need to conform to different readability
    # standards
    cfgov/cfgov/settings/*,

# max-complexity = 10
