.github/
.tox/
cfgov/agreements/static/agreements/js/chosen.jquery.js
cfgov/agreements/static/agreements/js/jquery-3.5.1.min.js
cfgov/static_built/
cfgov/legacy/static/nemo/_/js/
collectstatic/

# Handled by stylelint-prettier
*.less
*.css

# Ignore all HTML files:
*.html
