language: python
sudo: false
dist: trusty

python:
  - "2.7"


cache:
  pip: true
  directories:
    - node_modules

install:
  - ./install_travis.sh

branches:
  only:
    - master

script:
  - ./run_travis.sh

env:
  global:
    - TOXENV=py27
    - DJANGO_SETTINGS_MODULE=cfgov.settings.test
    - DJANGO_STAGING_HOSTNAME=content.localhost
    - COVERALLS_PARALLEL=true

jobs:
  include:
  - stage: run tests
    env: RUNTEST=frontend
  - env: RUNTEST=backend
    addons:
      chrome: beta
  - stage: Update documentation
    script:
      - pip install virtualenv virtualenvwrapper
      - source activate-virtualenv.sh
      - pip install -r requirements/manual.txt
      - mkdocs build
    deploy:
      provider: pages
      local_dir: site
      skip-cleanup: true
      github_token: $GITHUB_TOKEN
      on:
        branch: master
