language: python
sudo: false
dist: trusty

python:
  - "2.7"

addons:
  chrome: beta

cache:
  pip: true
  directories:
    - node_modules

install:
  - ./install_travis.sh

env:
  global:
    - TOXENV=py27
    - DJANGO_SETTINGS_MODULE=cfgov.settings.test
    - DJANGO_STAGING_HOSTNAME=content.localhost
    - COVERALLS_PARALLEL=true

  matrix:
    - RUNTEST=frontend
    - RUNTEST=backend
    - RUNTEST=acceptance

script:
  - ./run_travis.sh

notifications:
  webhooks: https://coveralls.io/webhook?repo_token=COVERALLS_REPO_TOKEN
