language: python
sudo: false
dist: trusty

python:
  - "2.7"

services:
  - postgresql

addons:
  postgresql: "9.6"

cache:
  pip: true
  directories:
    - node_modules
    # App's may have their own node_modules directory and should be listed here
    # in the format cfgov/unprocessed/apps/[namespace]/node_modules
    # If they are not listed here the caching mechanism will falsely see the
    # main node_modules directory as being cached and never run npm install,
    # which also installs app's node_modules.
    - cfgov/unprocessed/apps/owning-a-home/node_modules
    - cfgov/unprocessed/apps/regulations3k/node_modules
    - cfgov/unprocessed/apps/analytics-gtm/node_modules

install:
  - ./travis_install.sh

branches:
  only:
    - master

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

script:
  - ./travis_run.sh

env:
  global:
    - DJANGO_SETTINGS_MODULE=cfgov.settings.test
    - DJANGO_STAGING_HOSTNAME=content.localhost
    - COVERALLS_PARALLEL=true

jobs:
  fast_finish: true
  include:
    - stage: run tests
      env: RUNTEST=frontend
    - env: RUNTEST=backend
    - stage: Update documentation
      script:
        - pip install virtualenv virtualenvwrapper
        - source activate-virtualenv.sh
        - pip install -r requirements/manual.txt
        - mkdocs build
      deploy:
        provider: pages
        local_dir: site
        skip-cleanup: true
        github_token: $GITHUB_TOKEN
        on:
          branch: master
