language: python
sudo: false

python:
  - "2.7"

cache: pip

install:
  - pip install -r requirements/travis.txt
  - export CXX=clang++
  - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.0/install.sh | bash
  - nvm install 6
  - nvm use 6
  - npm install -g gulp yarn
  - chmod +x ./frontend.sh
  - ./frontend.sh test

env:
  global:
    - TOXENV=py27
    - DJANGO_SETTINGS_MODULE=cfgov.settings.test
    - DJANGO_STAGING_HOSTNAME=content.localhost
    - COVERALLS_PARALLEL=true

  matrix:
    - RUNTEST=frontend
    - RUNTEST=backend

script:
  - ./run_travis.sh

notifications:
  webhooks: https://coveralls.io/webhook?repo_token=COVERALLS_REPO_TOKEN
