language: python

python:
  - "2.7"

sudo: false

services:
  - elasticsearch

install:
  # Project configuration requirements.
  - pip install virtualenv virtualenvwrapper
  - pip install autoenv
  - npm install nvm
  - nvm install 4.1.0
  - nvm use 4.1.0
  - npm install -g gulp
  - npm install -g bower

  # Project initialization.
  - chmod +x ./setup.sh
  - ./setup.sh test
  - python cfgov/manage.py sheer_index
  - python cfgov/manage.py migrate

script:
  - gulp lint
  - gulp test:unit
  - gulp test:coveralls

env:
    - TOXENV=py27 DJANGO_SETTINGS_MODULE=cfgov.settings.test WORDPRESS=http://www.consumerfinance.gov
