language: python
dist: xenial

python:
- 3.6

git:
  depth: 10

services:
  - postgresql

addons:
  chrome: stable

cache:
  pip: true

before_install:
  - nvm install 10
  - nvm use 10
  - npm install --global yarn@1.15.2
  - sudo rm -f /etc/boto.cfg

install:
  - ./travis_install.sh

branches:
  only:
    - master

before_script:
  - psql -c "ALTER USER travis WITH PASSWORD 'travis';"

script:
  - ./travis_run.sh

env:
  global:
    - COVERALLS_PARALLEL=true
    - TEST_DATABASE_URL=postgres://travis:travis@localhost/travis
    - CI_CHECK_MIGRATIONS="./manage.py makemigrations --dry-run --check"
  matrix:
    - RUNTEST='backend'
    - RUNTEST='backend' TOXENV='unittest-future'
    - RUNTEST='frontend'

jobs:
  allow_failures:
    - env: RUNTEST='backend' TOXENV='unittest-future'
  include:
    # This stage will run after the default testing stage succeeds.
    - stage: Build docs and push them to GitHub Pages
      if: type != pull_request
      env: RUNTEST=docs
      deploy:
        provider: pages
        local_dir: site
        skip-cleanup: true
        github_token: $GITHUB_TOKEN
