language: python
dist: trusty

python:
- 2.7
- 3.6

git:
  depth: 10

services:
  - postgresql

addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10
  chrome: stable

cache:
  pip: true

before_install:
  - sudo apt-get install -y # needed for pip install modwsgi
  - nvm install 10
  - nvm use 10
  - npm install --global yarn@1.15.2
  - sudo rm -f /etc/boto.cfg

install:
  - ./travis_install.sh

branches:
  only:
    - master

before_script:
  - psql -c "ALTER USER travis WITH PASSWORD 'travis';"

script:
  - ./travis_run.sh

env:
  global:
    - COVERALLS_PARALLEL=true
    - PGPORT=5433
    - TEST_DATABASE_URL=postgres://travis:travis@localhost:5433/travis
    - TRAVIS_CHECK_MIGRATIONS="./manage.py makemigrations --dry-run --check"
  matrix:
    - RUNTEST=backend
    - RUNTEST=frontend

matrix:
  exclude:
    # We only want to run the frontend build once.
    - python: 2.7
      env: RUNTEST=frontend

jobs:
  include:
    # This stage will run after the default testing stage succeeds.
    - stage: Build docs and push them to GitHub Pages
      if: type != pull_request
      env: RUNTEST=docs
      deploy:
        provider: pages
        local_dir: site
        skip-cleanup: true
        github_token: $GITHUB_TOKEN
