language: python

python:
  - "2.7"

sudo: false

services:
  - elasticsearch

addons:
  apt:
    package:
      - nodejs-0.12

install:
  # Project configuration requirements.
  - pip install virtualenv virtualenvwrapper
  - pip install autoenv
  - pip install tox
  - git clone https://github.com/cfpb/sheer
  - pip install -e sheer
  - pip install -r sheer/requirements.txt
  - npm install -g gulp
  - npm install -g bower

  # Project initialization.
  - sheer index
  - chmod +x ./setup.sh
  - ./setup.sh

script:
  - gulp lint
  - gulp test:unit
  - gulp test:coveralls
  - tox

env:
  - TOXENV=py27