volumes:
  postgres_data:
  es_data:

services:
  elasticsearch:
    build:
      context: ./
      dockerfile: ./docker/elasticsearch/Dockerfile
    ports:
      - 127.0.0.1:9200:9200
      - 127.0.0.1:9300:9300
    volumes:
      - es_data:/var/lib/elasticsearch/data/
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"

  kibana:
    image: docker.elastic.co/kibana/kibana:7.16.0
    depends_on:
      - elasticsearch
    ports:
      - 127.0.0.1:5601:5601

  postgres:
    image: postgres:17-alpine
    user: postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: cfpb
      POSTGRES_PASSWORD: cfpb
      POSTGRES_DB: cfgov
    ports:
      - 127.0.0.1:5432:5432

  python:
    image: cfgov-python:local
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
      args:
        REQUIREMENTS: local.txt
    depends_on:
      - elasticsearch
      - postgres
    stdin_open: true
    tty: true
    environment:
      DEBUG: "True"
      ENABLE_DEBUG_TOOLBAR: "True"
      DATABASE_URL: postgres://cfpb:cfpb@postgres/cfgov
      ES_HOST: elasticsearch
      SECRET_KEY: abcdefghijklmnopqrstuvwxyz
      COMPLAINT_ES_INDEX: complaint-public
