version: "3.4"

volumes:
    postgres_data:

services:
    elasticsearch2:
        build:
            context: ./
            dockerfile: ./docker/elasticsearch/Dockerfile
        ports:
            - "9000:9200"
            - "9100:9300"
    elasticsearch:
        build:
            context: ./
            dockerfile: ./docker/elasticsearch/7.4/Dockerfile
        ports: 
            - "9200:9200"
            - "9300:9300"
        environment:
            discovery.type: single-node
    kibana:
        image: blacktop/kibana:7.4
        depends_on:
            - elasticsearch
        ports:
            - "5601:5601"
    postgres:
        image: postgres:10.3
        restart: always
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        environment:
            POSTGRES_USER: cfpb
            POSTGRES_PASSWORD: cfpb
            POSTGRES_DB: cfgov
        ports:
            - "5432:5432"

    python:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                scl_python_version: rh-python36
        depends_on:
            - elasticsearch
            - elasticsearch2
            - postgres
        stdin_open: true
        tty: true
        environment:
            ES7_HOST: http://elasticsearch:9200
            ES_HOST: http://elasticsearch2

    docs:
        build:
            context: ./
            dockerfile: ./docker/docs/Dockerfile
        ports:
            - "8888:8888"
        environment:
            LANG: en_US.utf8
            LC_ALL: en_US.utf8
        volumes:
            - ./:/src/consumerfinance.gov
        entrypoint:
            - sh
            - /src/consumerfinance.gov/docker/docs/entrypoint.sh
        working_dir: /src/consumerfinance.gov
        stdin_open: true
        tty: true
networks:
    default:
        external:
            name: cfgov
