version: "3.4"

volumes:
    postgres_data:

services:
    elasticsearch:
        build:
            context: ./
            dockerfile: ./docker/elasticsearch/Dockerfile
        ports:
            - "9200:9200"
            - "9300:9300"
    elasticsearch7:
        image: elasticsearch:7.4.2
        ports: 
            - "9000:9200"
            - "9100:9300"
        environment:
            discovery.type: single-node
        volumes:
            - ./cfgov/search/resources/:/usr/share/elasticsearch/config/synonyms
    kibana:
        image: kibana:7.4.2
        depends_on:
            - elasticsearch7
        ports:
            - "5601:5601"
        environment:
            ELASTICSEARCH_HOSTS: http://elasticsearch7:9200
    kibana2:
        image: kibana:4.5
        depends_on:
            - elasticsearch
        ports:
            - "5602:5601"
        environment:
            ELASTICSEARCH_HOSTS: http://elasticsearch:9200
    pgadmin:
        image: thajeztah/pgadmin4
        ports:
            - "5050:5050"
    postgres:
        image: postgres:10.3
        restart: always
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        environment:
            POSTGRES_USER: cfpb
            POSTGRES_PASSWORD: cfpb
            POSTGRES_DB: cfgov
        ports:
            - "5432:5432"

    python:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                scl_python_version: rh-python36
        depends_on:
            - elasticsearch
            - elasticsearch7
            - postgres
        stdin_open: true
        tty: true

    docs:
        build:
            context: ./
            dockerfile: ./docker/docs/Dockerfile
        ports:
            - "8888:8888"
        environment:
            LANG: en_US.utf8
            LC_ALL: en_US.utf8
        volumes:
            - ./:/src/consumerfinance.gov
        entrypoint:
            - sh
            - /src/consumerfinance.gov/docker/docs/entrypoint.sh
        working_dir: /src/consumerfinance.gov
        stdin_open: true
        tty: true
networks:
    default:
        external:
            name: cfgov
