version: "3.4"

volumes:
    postgres_data:

services:

    python:
        build:
            target: cfgov-prod
        environment:
            ALLOW_ADMIN_URL: 'True'
            APACHE_PORT: 8000
            APACHE_UPLOADS_F_ALIAS: /src/consumerfinance.gov/cfgov/f/
            DATABASE_URL: postgres://cfpb@postgres/cfgov
            DJANGO_ADMIN_USERNAME: admin
            DJANGO_ADMIN_PASSWORD: admin
            SECRET_KEY: abcdefghijklmnopqrstuvwxyz
            MEDIA_ROOT: /src/consumerfinance.gov/cfgov/f/
            PGPASSWORD: cfpb
            WATCHMAN_TOKENS: "token"
        ports:
            - "8000:8000"
        volumes:
            - ./cfgov/apache/conf/:/src/consumerfinance.gov/cfgov/apache/conf/
            - ./cfgov/apache/conf.d/:/src/consumerfinance.gov/cfgov/apache/conf.d/
            - ./cfgov/apache/conf.modules.d/:/src/consumerfinance.gov/cfgov/apache/conf.modules.d/
