volumes:
  postgres_data:
  opensearch_data:

services:
  opensearch:
    image: opensearchproject/opensearch:2.19.4
    ports:
      - 127.0.0.1:9200:9200
      - 127.0.0.1:9300:9300
    volumes:
      - opensearch_data:/usr/share/opensearch/data/
    environment:
      discovery.type: single-node
      OPENSEARCH_JAVA_OPTS: '-Xms512m -Xmx512m'
      # Disables the need for an admin password and TLS.
      # We only ever run this locally in development.
      DISABLE_SECURITY_PLUGIN: true

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.19.4
    depends_on:
      - opensearch
    ports:
      - 127.0.0.1:5601:5601
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: true

  postgres:
    image: postgres:17-alpine
    user: postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: cfpb
      POSTGRES_PASSWORD: cfpb
      POSTGRES_DB: cfgov
    ports:
      - 127.0.0.1:5432:5432

  python:
    image: cfgov-python:local
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
      args:
        REQUIREMENTS: local.txt
    depends_on:
      - opensearch
      - postgres
    stdin_open: true
    tty: true
    environment:
      DATABASE_URL: postgres://cfpb:cfpb@postgres/cfgov
      ES_HOST: opensearch
      SECRET_KEY: abcdefghijklmnopqrstuvwxyz
      COMPLAINT_ES_INDEX: complaint-public
