volumes:
  postgres_data:

services:
  elasticsearch:
    environment:
      ES_JAVA_OPTS: '-Xms1g -Xmx1g'

  python:
    image: cfgov_python:prod
    platform: linux/amd64
    build:
      target: prod
      args:
        REQUIREMENTS: deployment.txt
    environment:
      DJANGO_ADMIN_USERNAME: admin
      DJANGO_ADMIN_PASSWORD: admin
      SECRET_KEY: abcdefghijklmnopqrstuvwxyz
      MEDIA_ROOT: /src/consumerfinance.gov/cfgov/f/
      GUNICORN_RELOAD: 1
    ports:
      - '8000:8000'
