.input-contains-label {
  position: relative;

  .a-text-input {
    box-sizing: border-box;
    width: 100%;
  }

  &_before ~ .a-text-input {
    padding-left: unit(30px / @btn-font-size, em);
  }

  &_after ~ .a-text-input {
    padding-right: unit(30px / @btn-font-size, em);
  }

  &_before,
  &_after {
    position: absolute;
    top: unit(8px / @btn-font-size, em);
    cursor: pointer;
    font-size: unit(@btn-font-size / @base-font-size-px, em);
  }

  &_before {
    left: unit(12px / @btn-font-size, em);
  }

  &_after {
    right: unit(14px / @btn-font-size, em);

    .respond-to-min( @bp-sm-min, {
      display: none;
    } );
  }
}

// TODO: Move to the DM and update existing o-form__input-w-btn in CF

input {
  .input-with-btn & {
    // Match button 8px padding minus border width
    padding-top: 7px;
    padding-bottom: 7px;

    // Match button font-size
    font-size: unit(14px / @base-font-size-px, em);

    &:focus {
      box-shadow: 0 0 0 1px @pacific inset;
    }
  }
}

/*
 * Removes top margin from text input when it follows
 * .a-label__heading, which applies a 10px bottom margin.
 *
 * TODO: standardize form input spacing so margin is
 * consistently applied to either the label or the input
 */
.m-form-field .a-label__heading + .a-text-input {
  margin-top: 0;
}

/*
 * Sets minimum height when an input is a datepicker.
 * This is for an issue in iOS Safari where the input is collapsed.
 */
input[type='date'] {
  min-height: unit(35px / @base-font-size-px, rem);
}

input[type='search'],
input[type='search']::-webkit-search-cancel-button {
  appearance: auto !important;
}
