// TODO: Remove after Capital Framework v4 is merged in.

.a-label {
    display: inline-block;
}

.a-label__heading {
    .heading-4();

    display: block;

    // Overwrites heading-5 margin.
    margin-bottom: 10px;
}


@input-border__focused: @pacific;
@input-bg__disabled: @gray-5;

.m-form-field {
    .a-text-input {
        box-sizing: border-box;
        width: 100%;
    }

    .a-label + .a-text-input {
        margin-top: unit( 5px / @base-font-size-px, em );
    }

    &__checkbox,
    &__radio {
        .a-label {
            vertical-align: middle;
            cursor: pointer;

            &:before {
                display: inline-block;

                border: 1px solid @input-border;
                height: unit( 18px / @base-font-size-px, em );
                width: unit( 18px / @base-font-size-px, em );
                margin-right: 10px;

                background-color: @input-bg;
                content: '';
                vertical-align: top;

                .lt-ie9 & {
                    display: none !important;
                }
            }

            &:hover:before {
                border-color: @input-border__focused;
            }
        }

        .a-checkbox,
        .a-radio {
            .u-visually-hidden();

            .lt-ie9 & {
                height: unit( 20px / @base-font-size-px, em );
                width: unit( 20px / @base-font-size-px, em );
                border: 0;
                float: left;
                margin: 1em;
                position: static;
                width: auto;
                clear: both;
            }

            &:disabled + .a-label {
                cursor: not-allowed;

                &:before {
                    border-color: @input-border;
                    background: @input-bg__disabled;
                }
            }
        }
    }

    &__checkbox {
        .a-label {
            &:before {
                font-family: 'CFPB Minicons';
                text-align: center;
                line-height: unit( 18px / @base-font-size-px, em );
            }
        }

        .a-checkbox {
            &:focus + .a-label:before,
            &:hover + .a-label:before {
                border-color: @input-border__focused;
                outline: 1px solid @input-border__focused;
            }

            &:checked + .a-label:before {
                content: @cf-icon-approved;
            }
        }
    }
}

.o-form {
    &_group {
        margin-bottom: unit( 30px / @base-font-size-px, em );
    }

    &_fieldset {
        // Overwrite Normalize.
        border: none;
        margin: 0;
        padding: 0;

        .m-field + .m-field {
            margin-top: unit( 10px / @base-font-size-px, em );
        }
    }
}

.o-form_fieldset .a-text-input {
  box-sizing: border-box;
  width: 100%;
}


/* topdoc
  name: Set form elements to base webfont
  family: cf-core
  tags:
    - cf-core
*/

input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea,
select[multiple] {
    .u-webfont-regular();
}

/* topdoc
  name: Icon inside input
  family: cf-forms
  patterns:
    - name: Default icons before and after a default input.
      markup: |
        <div class="input-contains-label">
            <label for="search-input"
                   class="input-contains-label_before
                          input-contains-label_before__search">
            </label>
            <label for="search-input"
                   class="input-contains-label_after
                          input-contains-label_after__clear">
            </label>
            <input type="text"
                   value="">
        </div>
    - name: Super-sized icons before and after a super input.
      markup: |
        <div class="input-contains-label
                    input__super">
            <label for="search-input"
                   class="input-contains-label_before
                          input-contains-label_before__search">
            </label>
            <label for="search-input"
                   class="input-contains-label_after
                          input-contains-label_after__clear">
            </label>
            <input class="input__super"
                   type="text"
                   value="">
        </div>
    - name: Default icons before and after a default input, with a button.
      markup: |
        <div class="input-with-btn">
            <div class="input-with-btn_input
                        input-contains-label">
                <label for="search-input"
                       class="input-contains-label_before
                              input-contains-label_before__search">
                </label>
                <label for="search-input"
                       class="input-contains-label_after
                              input-contains-label_after__clear">
                </label>
                <input type="text"
                       id="search-input"
                       value="">
            </div>
            <div class="input-with-btn_btn">
                <button class="btn">Search</button>
            </div>
        </div>
    - name: Super-sized icons before and after a super input, with a button.
      markup: |
        <div class="input-with-btn">
            <div class="input-with-btn_input
                        input-contains-label
                        input__super">
                <label for="search-input"
                       class="input-contains-label_before
                              input-contains-label_before__search">
                </label>
                <label for="search-input"
                       class="input-contains-label_after
                              input-contains-label_after__clear">
                </label>
                <input class="input__super"
                       type="text"
                       id="search-input"
                       value="">
            </div>
            <div class="input-with-btn_btn">
                <button class="btn btn__super">Search</button>
            </div>
        </div>
  tags:
    - cf-forms
*/

.input-contains-label {
    position: relative;

    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="number"] {
        box-sizing: border-box;
        width: 100%;
    }

    &_before ~ input[type="text"],
    &_before ~ input[type="search"],
    &_before ~ input[type="email"],
    &_before ~ input[type="url"],
    &_before ~ input[type="tel"],
    &_before ~ input[type="number"] {
        padding-left: unit( 30px / @btn-font-size, em );

        &.input__super {
            padding-left: unit( 40px / @super-btn-font-size, em );
        }
    }

    &_after ~ input[type="text"],
    &_after ~ input[type="search"],
    &_after ~ input[type="email"],
    &_after ~ input[type="url"],
    &_after ~ input[type="tel"],
    &_after ~ input[type="number"] {
        padding-right: unit( 30px / @btn-font-size, em );

        &.input__super {
            padding-right: unit( 35px / @super-btn-font-size, em );
        }
    }

    &_before,
    &_after {
        position: absolute;
        top: unit( 7px / @btn-font-size, em );
        cursor: pointer;
        font-size: unit( @btn-font-size / @base-font-size-px, em );
    }

    &_before {
        left: unit( 12px / @btn-font-size, em );
    }

    &_after {
        right: unit( 14px / @btn-font-size, em );
    }

    &.input__super {
        .input-contains-label_before,
        .input-contains-label_after {
            font-size: unit( @super-btn-font-size / @base-font-size-px, em );
        }

        .input-contains-label_before {
            left: unit( 12px / @super-btn-font-size, em );
        }

        .input-contains-label_after {
            right: unit( 12px / @super-btn-font-size, em );
        }
    }


    // Specific adjustments for particular icon/label combinations.

    // Example of icon without label.
    // Add magnifying glass icon to input field.
    &_before__search {
        &:before {
            .cf-icon();
            content: @cf-icon-search;
        }
    }

    // Example of icon + label.
    // Add "x Clear" button to input field.
    // TODO: Reconcile this with the clear button in m-btn-inside-input in
    //       cf-forms. Clear button may need to be a label in CF to support
    //       accessibility of focusing input when clear is clicked and hides.
    &_after__clear {
        &:before {
            .cf-icon();
            content: @cf-icon-delete;
        }

        .respond-to-min( @bp-sm-min, {
            &:after {
                content: 'Clear';
            }

            & ~ input[type="text"],
            & ~ input[type="search"],
            & ~ input[type="email"],
            & ~ input[type="url"],
            & ~ input[type="tel"],
            & ~ input[type="number"] {
                padding-right: unit( 65px / @btn-font-size, em );

                &.input__super {
                    padding-right: unit( 80px / @super-btn-font-size, em );
                }
            }
        } );
    }
}

/* topdoc
  name: Sets default styling for multi-selects
 */

select[multiple] {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

/* topdoc
  name: Match the input to button
  family: cf-form
  notes: "Matches the font-size and padding of the input in
          .input-with-btn to the button"
  tags:
    - cf-form
*/

input {
    .input-with-btn & {
        // Match button 8px padding minus border width
        padding-top: 7px;
        padding-bottom: 7px;

        // Match button font-size
        font-size: unit( 14px / @base-font-size-px, em );

        &:focus {
            box-shadow: 0 0 0 1px @pacific inset;
            outline: none;
        }
    }
}

/* topdoc
  name: Ensure form legends wrap in IE
  family: cf-form
  notes:
    - "Legends do not wrap in IE. Different styles are
      required to ensure wrapping in different versions."
  tags:
    - cf-form
*/

legend {
  box-sizing: border-box; /* IE9-11 & Edge 12-13 */
  display: table; /* IE8-11 */
  max-width: 100%; /* Patch for IE9-11 & Edge 12-13 */
  white-space: normal; /* IE8-11 */
}

/* topdoc
  name: Input with button bar
  family: cf-form
  patterns:
    - name: Default example
      markup: |
          <form>
              <div class="input-with-btn input-with-btn__bar">
                  <div class="input-with-btn_input">
                      <input type="text" name="q" id="q" >
                  </div>
                  <div class="input-with-btn_btn">
                      <button class="btn" name="btnSearch" id="btnSearch">
                          Search
                      </button>
                  </div>
              </div>
          </form>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .input-with-btn.input-with-btn__bar
            .input-with-btn_input
            .input-with-btn_btn
  notes: "Displays as single unit, with button attached to end of input.
          Input fills all space that is not needed for button."
  tags:
    - cf-form
*/

.input-with-btn__bar {
    display: table;
    width: 100%;

    @supports( display: flex ) {
        display: flex;
        width: auto;
    }

    .input-with-btn_input {
        display: table-cell;
        width: 100%;
        float: left;
        margin-bottom: 0;

        @supports( display: flex ) {
            display: flex;
            width: auto;
            float: none;
            flex: 1;
        }
    }

    .input-with-btn_btn {
        margin: 0;
        border: 0;
        display: table-cell;
        // overrides default .input-with-btn_btn width.
        // setting button to very small width & input to 100%
        // means button will only take up space it needs
        width: 1%;
        vertical-align: middle;

        @supports( display: flex ) {
            display: flex;
            width: auto;
        }

        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 33px;
        }
    }
}


/* ==========================================================================
   Scale questions
   ========================================================================== */

@scale-point-count: 5;
@radio-button-diameter: 18px;

.o-scale {
    .u-clearfix();
    padding-bottom: unit( 30px / @base-font-size-px, em );
    position: relative;

    &:before {
        .respond-to-min( @bp-sm-min, {
            border-top: 1px solid @gray-40;
            position: absolute;
            right: -@grid_gutter-width;
            bottom: 0;
            left: -@grid_gutter-width;
            content: '';
            z-index: 0;
        } );
    }

    &:last-of-type {
        padding-bottom: 0;

        &:before {
            border-top: none;
        }
    }

    .m-form-field__radio {
        .respond-to-min( @bp-sm-min, {
            width: percentage( 1 / @scale-point-count );
            padding: 0;
            margin-bottom: 0;
            float: left;
            position: relative;
        } );

        &:before {
            .respond-to-min( @bp-sm-min, {
              border-top: 1px solid @gray-80;
              border-left: none;
              position: absolute;
              top: ( @radio-button-diameter / 2 );
              right: 0;
              left: 0;
              content: '';
              z-index: 0;
            } );
        }

        &:last-of-type:before {
            border-top: none;
        }
    }

    .a-label:before,
    .a-label {
        .respond-to-min( @bp-sm-min, {
            display: block;
        } );
    }

    .a-label:before {
        .respond-to-min( @bp-sm-min, {
            margin-bottom: unit( 3px / @base-font-size-px, em );
        } );
    }

    .a-label {
        .respond-to-min( @bp-sm-min, {
            position: relative;
            z-index: 10;
        } );
    }

    &_header {
        .h4();

        margin-top: unit( 30px / @base-font-size-px, em );
    }
}


/* topdoc
  name: EOF
  eof: true
*/
