/* topdoc
  name: Icon list modifier
  family: cfgov-cf-enhancements
  notes:
    - "Set up a list with icons on the left, in place of bullets."
  patterns:
    - name: Default example
      markup: |
        <ul class="m-list m-list__icons">
            <li class="m-list_item">
                <span class="cf-icon cf-icon-email m-list_icon"></span>
                <span class="m-list_text">List item 1</span>
            </li>
            <li class="m-list_item">
                <span class="cf-icon cf-icon-phone m-list_icon"></span>
                <span class="m-list_text">List item 2</span>
            </li>
            <li class="m-list_item">
                <span class="cf-icon cf-icon-fax m-list_icon"></span>
                <span class="m-list_text">List item 3</span>
            </li>
        </ul>
  tags:
    - cf-typography
*/

.m-list__icons {
    .m-list__unstyled();

    .m-list_icon,
    .m-list_text {
        display: table-cell;
    }

    .m-list_icon {
        width: 1.5em;
        .m-list__icons .m-list_icon__left();
    }
}

/* topdoc
  name: List icon left modifier
  family: cfgov-cf-enhancements
  notes:
    - "Left align the icons in an icon list."
  patterns:
    - name: Default example
      markup: |
        <ul class="m-list m-list__icons">
            <li class="m-list_item">
                <span class="cf-icon cf-icon-technology m-list_icon m-list_icon__left"></span>
                <span class="m-list_text">List item 1</span>
            </li>
            <li class="m-list_item">
                <span class="cf-icon cf-icon-phone m-list_icon m-list_icon__left"></span>
                <span class="m-list_text">List item 2</span>
            </li>
            <li class="m-list_item">
                <span class="cf-icon cf-icon-money m-list_icon m-list_icon__left"></span>
                <span class="m-list_text">List item 3</span>
            </li>
        </ul>
  tags:
    - cf-typography
*/

.m-list__icons {
    .m-list_icon__left {
        // TODO: Remove the !important once this lands in cf-typography.
        text-align: left !important;
    }
}

/* topdoc
  name: List icon center modifier
  family: cfgov-cf-enhancements
  notes:
    - "Center align the icons in an icon list."
  patterns:
    - name: Default example
      markup: |
        <ul class="m-list m-list__icons">
            <li class="m-list_item">
                <span class="cf-icon cf-icon-technology m-list_icon m-list_icon__center"></span>
                <span class="m-list_text">List item 1</span>
            </li>
            <li class="m-list_item">
                <span class="cf-icon cf-icon-phone m-list_icon m-list_icon__center"></span>
                <span class="m-list_text">List item 2</span>
            </li>
            <li class="m-list_item">
                <span class="cf-icon cf-icon-money m-list_icon m-list_icon__center"></span>
                <span class="m-list_text">List item 3</span>
            </li>
        </ul>
  tags:
    - cf-typography
*/

.m-list__icons {
    .m-list_icon__center {
        text-align: center;
    }
}

/* topdoc
  name: List icon right modifier
  family: cfgov-cf-enhancements
  notes:
    - "Right align the icons in an icon list."
  patterns:
    - name: Default example
      markup: |
        <ul class="m-list m-list__icons">
            <li class="m-list_item m-list_icon__right">
                <span class="cf-icon cf-icon-technology m-list_icon"></span>
                <span class="m-list_text">List item 1</span>
            </li>
            <li class="m-list_item m-list_icon__right">
                <span class="cf-icon cf-icon-phone m-list_icon"></span>
                <span class="m-list_text">List item 2</span>
            </li>
            <li class="m-list_item m-list_icon__right">
                <span class="cf-icon cf-icon-money m-list_icon"></span>
                <span class="m-list_text">List item 3</span>
            </li>
        </ul>
  tags:
    - cf-typography
*/

.m-list__icons {
    .m-list_icon__right {
        padding-right: .5em;
        text-align: right;
    }
}

/* topdoc
  name: EOF
  eof: true
*/
