@layer layout-base {
  // Establish the wrapper inside the grid container as the grid element.
  .u-layout-grid {
    --layout-max-width: 1170px;

    &_wrapper {
      display: grid;
      max-width: var(--layout-max-width);
      margin: 0 auto;
      padding-left: unit(15px / @base-font-size-px, rem);
      padding-right: unit(15px / @base-font-size-px, rem);
      grid-template-areas:
        'c-breadcrumbs'
        'c-secondary-nav'
        'c-main'
        'c-sidebar'
        'c-prefooter';
      grid-auto-columns: 100%;
    }

    // Name all possible content area elements (appearing inside <main>).
    &_breadcrumbs {
      grid-area: c-breadcrumbs;
    }

    &_main {
      grid-area: c-main;
      padding-top: unit((30px / @base-font-size-px), rem);
    }

    &_sidebar {
      grid-area: c-sidebar;
    }

    &_secondary-nav {
      grid-area: c-secondary-nav;
    }

    &_prefooter {
      grid-area: c-prefooter;
    }

    // Tablet and below.
    .respond-to-max(@bp-sm-max, {
      &_breadcrumbs {
        padding-left: unit(30px / @base-font-size-px, rem);
        padding-right: unit(30px / @base-font-size-px, rem);
        margin-left: unit(-30px / @base-font-size-px, rem);
        margin-right: unit(-30px / @base-font-size-px, rem);
        background: @gray-5;
        border-bottom: 1px solid @gray-40;
      }
    });

    // Tablet only.
    .respond-to-range(@bp-sm-min, @bp-sm-max, {
      &_breadcrumbs {
        padding-left: unit(15px / @base-font-size-px, rem);
        padding-right: unit(15px / @base-font-size-px, rem);
      }
    });

    // Tablet and above.
    .respond-to-min(@bp-sm-min, {
      &_wrapper {
        // This handles collapsing of the breadcrumbs space if they are absent.
        grid-template-rows: min-content 1fr;
        padding-left: unit(30px / @base-font-size-px, rem);
        padding-right: unit(30px / @base-font-size-px, rem);
      }

      // If we do not have breadcrumbs, the gap above the content is larger…
      &_main,
      &_secondary-nav {
        margin-top: unit((15px / @base-font-size-px), rem);
      }

      // …than if we do have breadcrumbs
      &_breadcrumbs ~ &_main,
      &_breadcrumbs ~ &_secondary-nav {
        margin-top: 0;
      }
    });

    // Desktop and above.
    .respond-to-min(@bp-med-min, {
      &_secondary-nav {
        padding-top: unit((30px / @base-font-size-px), rem);
      }
    });
  }

  // Modifier to remove max-width value. Used on CCDB, for example.
  .u-layout-grid__full-width {
    .u-layout-grid_wrapper {
      max-width: initial;
    }
  }

  // Set default line width.
  .u-layout-grid_main,
  .u-layout-grid_content-intro {
    dd,
    dt,
    h3,
    h4,
    h5,
    h6,
    li,
    p,
    label {
      max-width: 41.875rem;
    }
  }

  // "Breakout" container that bleeds out of the grid to the screen edge.
  .u-layout-grid_breakout {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
