@layer layout-1-3 {
  // Defaults shared in left-to-right (LTR) and right-to-left (RTL) layouts.
  .u-layout-grid__1-3 {
    // Mobile
    .u-layout-grid {
      &_secondary-nav {
        margin-left: unit(-15px / @base-font-size-px, rem);
        margin-right: unit(-15px / @base-font-size-px, rem);
      }
    }

    // Tablet and below.
    .respond-to-max(@bp-sm-max, {
      .u-layout-grid {
        &_breadcrumbs {
          padding-left: unit(30px / @base-font-size-px, rem);
          padding-right: unit(30px / @base-font-size-px, rem);
          margin-left: unit(-30px / @base-font-size-px, rem);
          margin-right: unit(-30px / @base-font-size-px, rem);
          background: @gray-5;
          border-bottom: 1px solid @gray-40;
        }

        &_secondary-nav {
          // Hide this element when it has a secondary nav DOM.
          &:has(nav.o-secondary-nav__no-children) {
            display: none !important;
          }
        }
      }
    });

    // Tablet only.
    .respond-to-range(@bp-sm-min, @bp-sm-max, {
      .u-layout-grid {
        &_breadcrumbs {
          padding-left: unit(15px / @base-font-size-px, rem);
          padding-right: unit(15px / @base-font-size-px, rem);
        }

        &_secondary-nav {
          margin-left: unit(-30px / @base-font-size-px, rem);
          margin-right: unit(-30px / @base-font-size-px, rem);
        }
      }
    });

    // Tablet and above.
    .respond-to-min(@bp-sm-min, {
      .u-layout-grid {
        &_wrapper {
          padding-left: unit(30px / @base-font-size-px, rem);
          padding-right: unit(30px / @base-font-size-px, rem);
        }
      }
    });

    // Desktop and above.
    .respond-to-min(@bp-med-min, {
      .u-layout-grid {
        &_wrapper {
          grid-auto-rows: minmax(0, auto) minmax(0, auto) 1fr;
          // Numbers below are 870 split into four parts
          // 870 is the 900px breakpoint - 30px of gutters
          grid-auto-columns: minmax(217.5px, 1fr) minmax(652.5px, 3fr);
          grid-template-areas:
            'c-breadcrumbs c-breadcrumbs'
            'c-secondary-nav c-main';
        }

        &_main,
        &_secondary-nav {
          padding-top: unit( (30px / @base-font-size-px ), rem );
          margin-left: 0;
        }
      }
    });
  }

  // 1-3 Left-to-right (LTR) layout.
  .u-layout-grid__1-3:not(&[dir='rtl']) {
    // Desktop and above.
    .respond-to-min(@bp-med-min, {
      .u-layout-grid {
        &_wrapper {
          grid-auto-rows: minmax(0, auto) minmax(0, auto) 1fr;
          // Numbers below are 870 split into four parts
          // 870 is the 900px breakpoint - 30px of gutters
          grid-auto-columns: minmax(217.5px, 1fr) minmax(652.5px, 3fr);
          grid-template-areas:
            'c-breadcrumbs c-breadcrumbs'
            'c-secondary-nav c-main';
        }

        &_main {
          position: relative;
          margin-left: unit(30px / @base-font-size-px, rem);

          &:after {
            content: '';
            border-left: 1px solid @content_main-border;
            position: absolute;
            top: unit(30px / @base-font-size-px, rem );
            bottom: 0;
            left: unit( ( (-1 * 30px) / @base-font-size-px ), rem );
          }
        }

        &_secondary-nav {
          margin-right: unit(30px / @base-font-size-px, rem);
        }
      }
    });
  }

  // 1-3 Right-to-left (RTL) layout.
  .u-layout-grid__1-3[dir='rtl'] {
    // Desktop and above.
    .respond-to-min(@bp-med-min, {
      .u-layout-grid {
        &_main {
          position: relative;
          margin-right: unit(30px / @base-font-size-px, rem);

          &:after {
            content: '';
            border-left: 1px solid @content_main-border;
            position: absolute;
            top: unit(30px / @base-font-size-px, rem );
            bottom: 0;
            right: unit( ( (-1 * 30px) / @base-font-size-px ), rem );
          }
        }

        &_secondary-nav {
          margin-left: unit(30px / @base-font-size-px, rem);
        }
      }
    });
  }

  // Optionally make the secondary nav sticky
  .u-layout-grid_secondary-nav__sticky {
    position: sticky;
    top: 0;
    align-self: start;

    // Expand the sticky nav to full height on desktop with optional scrolling
    // and adjust spacing so that the scrollbar does not cover content
    // Desktop and above.
    .respond-to-min(@bp-med-min, {
      max-height: 100vh;
      overflow-y: auto;
      margin-right: unit(15px / @base-font-size-px, rem);

      .o-secondary-nav {
        margin-right: unit(15px / @base-font-size-px, rem);
        padding-bottom: unit(60px / @base-font-size-px, rem);
      }
    });
  }
}
