// BEGIN CF4 CORE - TODO: delete when CFV4 is added to package.json

/* ==========================================================================
   Capital Framework
   Media queries
   ========================================================================== */

//
// Media query mixins
//

.respond-to-min( @bp, @rules ) {
    @ems: unit( ( @bp / @base-font-size-px ), em );
    @media only all and ( min-width: @ems ) {
        @rules();
    }
}

.respond-to-max( @bp, @rules ) {
    @ems: unit( ( @bp / @base-font-size-px ), em);
    @media only all and ( max-width: @ems ) {
        @rules();
    }
}

.respond-to-range( @bp1, @bp2, @rules ) {
    @ems1: unit( ( @bp1 / @base-font-size-px ), em );
    @ems2: unit( ( @bp2 / @base-font-size-px ), em );
    @media only all and ( min-width: @ems1 ) and ( max-width: @ems2 ) {
        @rules();
    }
}

// TODO: Discuss whether to split this into min and max queries.
.respond-to-dpi( @ratio, @rules ) {
    @dpi: ( @ratio * 96dpi );
    @media ( min-device-pixel-ratio: @ratio ), ( min-resolution: @dpi ) {
        @rules();
    }
}

.respond-to-print( @rules ) {
    @media print {
        @rules();
    }
    .print & {
        @rules();
    }
}
// END CF4 CORE
