.respond-to-max( @bp-sm-max, {
  table {
    width: 100%;
  }
} );

.o-table {
  tbody th {
    border-bottom: 1px solid @table-head-bg;
    padding: unit(10px / @font-size, em);
    color: @table-head-text;
    background: @table-head-bg;
    .h5();
    &:first-child {
      border-top: 1px solid @table-head-bg;
    }
  }
}
