/* topdoc
  name: Tables
  family: cf-tables
  notes:
    - Adjustments for cf-tables to allow them to be full-width
  tags:
    - cfgov-cf-tables
*/

.respond-to-max(@bp-sm-max, {
    table {
        width: 100%;
    }
});

/* topdoc
  name: Table Organism
  family: cfgov-cf-enhancements
  notes:
    - Extends the above stacked tables for sm devices
    - Hides the thead
    - Styles first td as if it were the thead
    - Allows any other td to be styled as a heading level 4
    - Adds data-label attr for small td labels above td content
    - Used in older blog posts to make them responsive.
      Do not remove unless removed from blog posts.
  patterns:
    - name: Collapsable Table
      markup: |
        <table class="o-table">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                    <th>Column 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor.</td>
                    <td class="o-table_row-heading">Lorem ipsum dolor.</td>
                    <td data-label="Lorem">Lorem ipsum dolor.</td>
                    <td data-label="Ipsum">Lorem ipsum dolor.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor.</td>
                    <td class="o-table_row-heading">Lorem ipsum dolor.</td>
                    <td data-label="Lorem">Lorem ipsum dolor.</td>
                    <td data-label="Ipsum">Lorem ipsum dolor.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor.</td>
                    <td class="o-table_row-heading">Lorem ipsum dolor.</td>
                    <td data-label="Lorem">Lorem ipsum dolor.</td>
                    <td data-label="Ipsum">Lorem ipsum dolor.</td>
                </tr>
            </tbody>
        </table>
    - name: o-table__row-links (modifier)
      markup: |
        <table class="o-table o-table__row-links">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Lorem ipsum dolor.</a></td>
                    <td class="o-table_row-heading">Lorem ipsum dolor.</td>
                </tr>
                <tr>
                    <td><a href="#">Lorem ipsum dolor.</a></td>
                    <td class="o-table_row-heading">Lorem ipsum dolor.</td>
                </tr>
            </tbody>
        </table>
      codenotes:
        - |
          .o-table.o-table__row-links
      notes:
        - "Modifier that makes rows appear to be hoverable links.
           Used in coordination with o-table-row-links.js."
    tags:
  tags:
    - cfgov-cf-enhancements
*/
@td-bg-mobile: @gray-5;
@tr-link-color: @white;
@tr-link-bg-hover: @pacific-80;


.o-table {

    &__row-links {
      .respond-to-min(961px, {
          tr:hover {
              td {
                  background: @tr-link-bg-hover;
                  color: @tr-link-color;
                  cursor: pointer;
              }
              a {
                  color: @tr-link-color;
              }
          }
      });
    }

    tbody th {
        border-bottom: 1px solid @thead-bg;
        padding: unit(10px / @font-size, em);
        color: @thead-text;
        background: @thead-bg;
        .h5();
        &:first-child {
          border-top: 1px solid @thead-bg;
        }
    }

}

.respond-to-max( @bp-xs-max, {
    .o-table {
        width: 100%;
    }

    .o-table__stack-on-small {
        tr,
        td {
            display: block;
        }

        & > thead {
          display: none
        }

        td[data-label]:before {
            .webfont-demi();
            display: block;
            margin-top: 0;
            margin-bottom: .41666667em;
            content: attr(data-label);
            font-size: .875em;
            line-height: 1.83333333;
            text-transform: uppercase;
        }

        td:last-child {
            margin-bottom: unit( 30px / @base-font-size-px, em );
        }
    }

} );


/* topdoc
  name: EOF
  eof: true
*/
