@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;

// Tablet and below.
@include respond-to-max($bp-sm-max) {
  table {
    width: 100%;
  }
}

.o-table {
  tbody th {
    border-bottom: 1px solid var(--table-head-bg);
    padding: math.div(10px, $size-v) + em;
    color: var(--table-head-text);
    background: var(--table-head-bg);

    @include heading-5;

    &:first-child {
      border-top: 1px solid var(--table-head-bg);
    }
  }
}

.m-table-text-intro {
  margin-bottom: math.div(30px, $base-font-size-px) + rem;
}
