@use '@cfpb/cfpb-design-system/src/abstracts' as *;

dt {
  display: inline-block;

  margin-bottom: 0.5em;

  @include heading-5($has-margin-bottom: false);

  &:last-of-type {
    margin-bottom: 0;
  }
}

dd {
  display: inline;
  margin-left: 0.2em;

  &::after {
    display: block;
    content: '';
  }
}

.eyebrow {
  @include heading-5;
}
