/*
Used on these three pages:
https://www.consumerfinance.gov/consumer-tools/educator-tools/youth-financial-education/survey/3-5/
https://www.consumerfinance.gov/consumer-tools/educator-tools/youth-financial-education/survey/6-8/
https://www.consumerfinance.gov/consumer-tools/educator-tools/youth-financial-education/survey/9-12/
*/
section[data-tdp-page='grade-level'] {
  background-color: @teal-10;

  > div.m-hero_wrapper {
    background-color: @teal-10;
    .respond-to-max(@bp-xs-max, {
      display: flex;
      flex-direction: column-reverse;
    });
  }

  // Contrast adjustment. TODO: Reconcile this with our standard colors.
  a,
  button.a-btn__link {
    color: #0070cc;
  }

  // Icons next to the "Grades" headings.
  span.h3 .cf-icon-svg {
    fill: @teal-90;
  }
}
