.tdp-survey-results {
    p.label {
        font-weight: 500;
        margin-top: 2em;
    }
    .h1 {
        margin-top: 0;
    }

    .o-expandable_header-left {
        align-items: center;
        display: flex;
        img {
            padding-right: 10px;
        }
    }
    .o-expandable_content {
        @media print {
            display: block!important;
            overflow: auto;
            max-height: none!important;
        }
    }
}

.tdp-survey-results__2col {
    h4 {
        font-size: 1rem;
        font-weight: 600;
        margin-top: 1rem;
    }

    .respond-to-min(@bp-lg-min, {
        display: flex;

        > div:first-child {
            margin-right: 2rem;
        }
    });
}

.tdp-survey-results__summary-p {
    margin-top: 1rem;
}

.share-output:not([hidden]) {
    display: flex;
    margin-top: 1.5rem;

    > div:last-child {
        margin-left: 2rem;
    }
    h4 {
        margin-bottom: 0.5rem;
    }

    .share-output__copied:not([hidden]) {
        display: flex;
        margin-top: 0.5rem;

        div {
            margin-left: 0.5rem;
        }
        path {
            fill: #20aa3f;
        }
    }
}

.results-road {
    display: flex;
    margin: 2em 0;
}

.results-road__starting-out {
    width: 25%;
}


.results-road__box {
    padding: 2.5rem;
    position: relative;
    &::before {
        background-image: linear-gradient(90deg, #000, #000 75%, transparent 75%, transparent 100%);
        background-size: 14px 1px;
        content: '';
        left: 0;
        height: 1px;
        position: absolute;
        width: 100%;
    }
}

.results-road--overall {
    .results-road__box {
        background-color: #E2EFD8;
        border: 1px solid #1E9642;
    }
    .results-road__on-the-road {
        .results-road__box {
            background-color: #C7E5B3;
        }
    }
    .results-road__well-on-your-way {
        .results-road__box {
            background-color: #ADDC91;
        }
    }
}

.results-road--planning {
    .results-road__box {
        background-color: #daf1f0;
        border: 1px solid #3b8a86;
    }
    .results-road__on-the-road {
        .results-road__box {
            background-color: #b3d8d6;
        }
    }
    .results-road__well-on-your-way {
        .results-road__box {
            background-color: #93c1bf;
        }
    }
}

.tdp-survey__save-block {
    .a-btn svg {
        margin-left: 0.3rem;
    }
}

.tdp-survey-results__wrapper {
    position: relative;
}

.tdp-survey-results__marker {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 13px;
    display: none;
    position: absolute;
    .respond-to-min(@bp-xl-min, {
        display: block;
    });
    @media print {
        display: block;
    }
    &.starting-out {
        left: 0%;
    }
    &.on-the-road {
        left: 32.5%;
    }
    &.well-on-your-way {
        left: 77.5%;
    }
    &.active {
        background-image:url("/static/apps/teachers-digital-platform/img/marker.svg");
        font-weight: 700;
        padding-left: 17px;
        @media screen and (max-width: 900px) {
            display: block;
            margin-bottom: -10px;
            left: 0;
            position: relative;
        }
    }
}
