{% extends 'wagtailadmin/reports/listing/_list_page_report.html' %}

 
{% block extra_columns %}
    <th>URL</th>
    <th>First Published</th>
    <th>Last Published</th>
    <th>Language</th>
    <th>Search Description</th>
    <th>Tags</th>
    <th>Categories</th>
{% endblock %}

{% block extra_page_data %}
    <td valign="top">
        {{ page.url }}
    </td>
    <td valign="top">
        {{ page.first_published_at }}
    </td>
    <td valign="top">
        {{ page.last_published_at }}
    </td>
    <td valign="top">
        {{ page.language }}
    </td>
    <td valign="top">
        {{ page.search_description }}
    </td>
    <td valign="top">
        {{ page.tags.names|join:", " }}
    </td>
    <td valign="top">
        {% for cat in page.categories.all %}
        {% if cat.get_name_display and not forloop.last %}
        {{ cat.get_name_display }}, {% else %}{{ cat.get_name_display }}
        {% endif %}{% endfor %}
    </td>
{% endblock %}

