{% extends 'wagtailadmin/reports/base_page_report_results.html' %}

{% block results %}
    {% if object_list %}
        <table class="listing">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Last login</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.last_login|date }} {{ user.last_login|time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No users are active.</p>
    {% endif %}
{% endblock %}
