{% extends 'wagtailadmin/reports/base_report.html' %}
{% load i18n wagtailadmin_tags %}

{% block actions %}
    {% if view.list_export %}
        <div class="actionbutton">
            <a href="{{ view.csv_export_url }}" class="button bicolor button--icon">{% icon name="download" wrapped=1 %}{% trans 'Download CSV' %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block results %}
    {% if object_list %}
        <table class="listing">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        File
                    </th>
                    <th>
                        Collection
                    </th>
                    <th>
                        Tags
                    </th>
                    <th>
                        Uploaded on
                    </th>
                    <th>
                        Uploaded by
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for image in object_list %}
                    <tr>
                        <td>
                            {{ image.id }}
                        </td>
                        <td>
                            {{ image.title }}
                        </td>
                        <td>
                            <a href="https://www.consumerfinance.gov{{ image.url }}">
                                {{ image.filename }}
                            </a>
                        </td>
                        <td>
                            {{ image.collection }}
                        </td>
                        <td>
                            {{ image.tags.names|join:", " }}
                        </td>
                        <td>
                            {{ image.created_at }}
                        </td>
                        <td>
                            {{ image.uploaded_by_user }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no images in the image library.</p>
    {% endif %}
{% endblock %}
