# Serve deleted content JSON archives at /__deleted
PassEnv ARCHIVE_PATH
LoadModule autoindex_module modules/mod_autoindex.so
Alias /__deleted/ "${ARCHIVE_PATH}"
<Directory "${ARCHIVE_PATH}">
    Options +Indexes
</Directory>
