# Serve deleted content JSON archives at /__deleted
PassEnv WAGTAIL_DELETION_ARCHIVE_PATH
LoadModule autoindex_module modules/mod_autoindex.so
Alias /__deleted/ "${WAGTAIL_DELETION_ARCHIVE_PATH}"
<Directory "${WAGTAIL_DELETION_ARCHIVE_PATH}">
    Options +Indexes
</Directory>
