{# ==========================================================================

   format_phone()

   ==========================================================================

   Description:

   Formats a phone number to:

       (XXX) XXX-XXXX

   when given:

   number: A ten-digit string, no spaces.

   ========================================================================== #}

{% macro format_phone(number) %}
    {%- for char in number -%}
        {{- '(' if loop.index == 1 else '' -}}
        {{ char }}
        {{- ') ' if loop.index == 3 else '' -}}
        {{- '-' if loop.index == 6 else '' -}}
    {%- endfor %}
{% endmacro %}


{# ==========================================================================

   format_address()

   ==========================================================================

   Description:

   Formats address to:

       Line 1
       Line 2 City, State Zip

   when given:

   contact: A contact document object.

   ========================================================================== #}

{% macro format_address(contact) %}
    {{ contact.street if contact.street }}<br>
    {{ contact.street_2 + '<br>'|safe if contact.street_2 else '' }}
    {{ contact.city + ',' if contact.city else '' }}
    {{ (contact.state + '&nbsp;')|safe if contact.state else '' }}
    {{ contact.zip_code if contact.zip_code else '' }}
{% endmacro %}


{# ==========================================================================

   format_time()

   ==========================================================================

   Description:

   Format time to:

    XX:XX a.m. &ndash; XX:XX p.m.

   when given:

   datetime: A datetime object.

   ========================================================================== #}

{% macro format_time(datetime) %}
    {{- datetime|date('%I:%M&nbsp;%p')|replace('PM', 'p.m.')|replace('AM', 'a.m.')|safe -}}
{% endmacro %}


{# ==========================================================================

   slugify()

   ==========================================================================

   Description:

   Formats a string to:

       'foo-bar'

   when given:

   string: A string, such as 'Foo Bar'.

   ========================================================================== #}

{% macro slugify(string) -%}
    {{ string|lower|replace(' ', '-') }}
{%- endmacro %}


{# ==========================================================================

   location_image_url()

   ==========================================================================

   Description:

   Create a Google Maps image url when given:

   options (optional):         An object to use for customizing an event
                               location image url using Google Maps.

   options.location:           A location as either a comma-separated {latitude,longitude}
                               pair (e.g. "40.714728,-73.998672") or a string address
                               (e.g. "city hall, new york, ny").
                               Defaults to 'Washington, DC'.

   options.scale:              Affects the number of pixels that are returned.
                               Accepted values are 1, 2 and 4.
                               Defaults to '2'.

   options.size:               Defines the rectangular dimensions of the map image.
                               {horizontal_value}x{vertical_value} (e.g. 500x400)
                               Defaults to '276x155'.

   options.zoom:               Sets pixel density for high-dpi devices.
                               Defaults to '12'.

   ========================================================================== #}

{% macro location_image_url(options={}) %}
    {%- set location = options.location
                       | default('Washington, DC', true) -%}
    {%- set scale = '&scale=' + options.scale | default('2') -%}
    {%- set size =  '&size='  + options.size  | default('276x155') -%}
    {%- set zoom =  '&zoom='  + options.zoom  | default('12') -%}
    {%- set url = 'https://maps.googleapis.com/maps/api/staticmap?center=' -%}
    {{ url ~ location ~ size ~ zoom ~ scale }}
{% endmacro %}
