<html>
    <head>
        <title>Export company info</title>

    <style>
        div{margin-left:3em;}
    </style>
    </head>
    <body>
    <p>Use the options below to export the company database. You can also <a href="{% url "admin:selfregistration_companyinfo_changelist" %}">return to the company list</a>.
</p>
    
    <h1>Export options</h1>
    <a href="{% url "admin:selfregistration_companyinfo_changelist" %}">Return to company list</a>
    <form method="POST"/>
        {% csrf_token %}
        <h2>Export unprocessed records</h2>
        <div>
            Mark records as processed: <input type="checkbox" name="mark_processed" checked/><br/>
            <input type="submit" value="Export Unprocessed" name="export_unprocessed">
        </div>
            <h2>Export all records</h2>
        <div>
            <input type="submit" value="Export All" name="export_all">
        </div>
    </form>
</body>
</html>
