.cfpb-chart[data-chart-type='geo-map'] {
  .highcharts-point-select {
    color: var(--black);
    stroke-width: 3px !important;
  }

  // Remove drop-shadow filter from tooltip text.
  div.highcharts-tooltip {
    filter: unset;
  }

  // Zoom in/out buttons. Position button text.
  .highcharts-zoom-in text {
    transform: translateY(-3px);
  }

  .highcharts-zoom-out text {
    transform: translate(3px, -3px);
  }

  // Set colors.
  &[data-chart-color='blue'] {
    .highcharts-map-series {
      .highcharts-point.highcharts-color-0 {
        fill: #f7f8f9;
      }

      .highcharts-point.highcharts-color-1 {
        fill: #dcdddf;
      }

      .highcharts-point.highcharts-color-2 {
        fill: #d6e8fa;
      }

      .highcharts-point.highcharts-color-3 {
        fill: #afd2f2;
      }

      .highcharts-point.highcharts-color-4 {
        fill: #7eb7e8;
      }

      .highcharts-point.highcharts-color-5 {
        fill: #4497dc;
      }

      .highcharts-point.highcharts-color-6 {
        fill: #0072ce;
      }

      .highcharts-point.highcharts-color-7 {
        fill: #0050b4;
      }
    }
  }

  &[data-chart-color='navy'] {
    .highcharts-map-series {
      .highcharts-point.highcharts-color-0 {
        fill: #f7f8f9;
      }

      .highcharts-point.highcharts-color-1 {
        fill: #dcdddf;
      }

      .highcharts-point.highcharts-color-2 {
        fill: #d3daeb;
      }

      .highcharts-point.highcharts-color-3 {
        fill: #b3c0d9;
      }

      .highcharts-point.highcharts-color-4 {
        fill: #889cc0;
      }

      .highcharts-point.highcharts-color-5 {
        fill: #5674a3;
      }

      .highcharts-point.highcharts-color-6 {
        fill: #254b87;
      }

      .highcharts-point.highcharts-color-7 {
        fill: #002d72;
      }
    }
  }

  .highcharts-tooltip.highcharts-color-0,
  .highcharts-tooltip.highcharts-color-1,
  .highcharts-tooltip.highcharts-color-2,
  .highcharts-tooltip.highcharts-color-3,
  .highcharts-tooltip.highcharts-color-4,
  .highcharts-tooltip.highcharts-color-5,
  .highcharts-tooltip.highcharts-color-6,
  .highcharts-tooltip.highcharts-color-7 {
    stroke: var(--gray-80);
  }
}
