// Chart colors.
$chart-blue-primary: var(--pacific);
$chart-blue-secondary: var(--pacific-60);
$chart-gold-primary: var(--gold-dark);
$chart-gold-secondary: var(--gold-80);
$chart-green-primary: var(--green);
$chart-green-secondary: var(--green-60);
$chart-navy-primary: var(--navy);
$chart-navy-secondary: var(--navy-60);
$chart-neutral-primary: var(--neutral);
$chart-neutral-secondary: var(--neutral-60);
$chart-purple-primary: var(--purple);
$chart-purple-secondary: var(--purple-60);
$chart-teal-primary: var(--teal);
$chart-teal-secondary: var(--teal-60);
