{# ==========================================================================

  secondary_nav_fig.render()

  ==========================================================================

  Description:

  Creates markup for a filing instruction guide's secondary navigation.

  version_status:  Optional FIG version status.

  effective_start_date:  FIG effective start date, in the format '%B %d, %Y'.

  effective_end_date:  FIG effective end date, in the format '%B %d, %Y'.

  ========================================================================== #}

{% macro render(version_status=none, effective_start_date=none, effective_end_date=none) %}
<div class="o-fig__sidebar">
    <div class="u-hide-on-tablet">
        {% if version_status %}
            <div class="a-tag-filter u-mb20">
                {{ version_status }}
            </div>
            <p>
                Effective {{ effective_start_date }} to {{ effective_end_date }}
            </p>
        {% endif %}
        <h3>Table of contents</h3>
    </div>

    {% set sec_nav_settings_label = _("Table of contents") %}
    {% set version_label = " (" + _(version_status) + ")" if version_status else '' %}
    {% set sec_nav_settings_label = sec_nav_settings_label + version_label %}
    <nav class="o-secondary-nav" aria-label="{{ _('Table of contents') }}">
        <button class="o-secondary-nav__header" type="button" aria-expanded="false">
            <span class="o-secondary-nav__label">
                {{ sec_nav_settings_label }}
            </span>
            <span class="o-secondary-nav__cues">
                <span class="o-secondary-nav__cue-open" aria-label="Show">
                    {{ svg_icon('down') }}
                </span>
                <span class="o-secondary-nav__cue-close" aria-label="Hide">
                    {{ svg_icon('up') }}
                </span>
            </span>
        </button>

        <div class="o-secondary-nav__content">

        {% if version_status %}
            <p class="u-hide-on-desktop">
                Effective {{ effective_start_date }} to {{ effective_end_date }}
            </p>
        {% endif %}
        <div id="ctrl-f"></div>
        <ul class="o-secondary-nav__list
                   o-secondary-nav__list--parents">
            {%- for item in toc_headers %}
            <li>
                {{ _navlink(item.id + ". " + item.header, item.anchor, true) }}
                {% if item.children %}
                <ul class="o-secondary-nav__list
                           o-secondary-nav__list--children">
                    {%- for child in item.children %}
                    <li class="m-list__item">
                        {{ _navlink(child.id + ". " + child.header, child.anchor, false) }}
                    </li>
                {%- endfor %}
                </ul>
                {% endif %}
            </li>
            {%- endfor %}
        </ul>
    </nav>
</div>
{% endmacro %}

{% macro _navlink(text, href, parent=true, current=false) %}
<a class="o-secondary-nav__link
          {{ 'o-secondary-nav__link--parent' if parent else '' }}
          {{ 'o-secondary-nav__link--current' if current else '' }}"
   {{ 'href=' ~ href | e if not current else '' }}>
    {{ text | e }}
</a>
{% endmacro %}
