
{# ==========================================================================

   A Well organism

   ==========================================================================

   Description:

   Create a gray well organism.
   See https://cfpb.github.io/design-system/patterns/wells.

   ========================================================================== #}

<div class="o-well">
    {#
        Looping over the values allows us to extend Well in organisms.py
        and add additional blocks to include in the Well,
        without the need to create a separate template.
    #}
    {% for block in value.values() %}
        {% include_block block %}
    {% endfor %}
</div>
