// TODO: !important's are added for styles that are overriding ccdb5-ui styles.

.ccdb-search {
  width: 100vw !important;
  max-width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  left: 50%;
  right: 50%;
  position: relative;
  padding: 0 unit( 30px / 16px, em ) !important;
}

.wrapper {
  max-width: 1200px !important;
}
