/* no-js error message */
.no-js {
    .js-error-warning {
        display: block;
        position: absolute;
        top: -1.5em;
        width: 100%;
        margin-top: 0;
        padding: 1em;
        background-color: @red-20;
        border-bottom: 2px solid @red-60;
        z-index: 999999;
        .u-webfont-regular();

        h2 {
            font-size: 18px;
            .u-webfont-demi();
        }
     }
}

.js {
    .js-error-warning {
        display: none;
    }
}

/* loan types expandables */
.no-js {
    .expandable-hidden {
      display: block;
    }
}
