/* ==========================================================================
   cfgov-refresh
   Business with us pages at /about-us/doing-business-with-us/.
   ========================================================================== */

// Used to set padding to 30px
@padding: unit(@grid_gutter-width / @base-font-size-px, em);

.block__business-step {
    .respond-to-min(@bp-med-min, {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    });
}

.block__business-step_container {
    .respond-to-max(@bp-sm-max, {
        // Adjusting padding to offest line height.
        padding: unit((@grid_gutter-width - 7px)/ @base-font-size-px, em) @padding @padding;
        margin-top: 0;
    });
}

.business_page-content {
    .m-list__download();
}
