
.m-jobs-list .m-list__links {
    .respond-to-min(@bp-sm-min, {
        .m-list_item + .m-list_item {
            margin-top: unit( (@grid_gutter-width / 2) / @base-font-size-px, em)
        }
    });
    
    p {
       .u-link__colors(@black);
       font-family: 'AvenirNextLTW01-Regular',Arial,sans-serif;
       margin-top: 2px;
    }
}

.pay-grade-link {
    margin-top: 5px;
    .respond-to-min(@bp-sm-min, {
        margin: 0 0 0 5px;
    });
}