/* ==========================================================================
   cfgov-refresh
   History (The Bureau) page.
   ========================================================================== */

.history-section-expandable {
    transition: 0.5s all;
}

.history-section-expandable_header {
    background: @gray-10;

    .respond-to-min(@bp-sm-min, {
        padding-right: @grid_gutter-width;
        padding-left: @grid_gutter-width;
    });
}

.history-section-expandable.expandable__expanded {
    padding: 0 (@grid_gutter-width / 2) @grid_gutter-width;
    margin-right: -(@grid_gutter-width / 2);
    margin-left: -(@grid_gutter-width / 2);

    .history-section-expandable_header {
        margin-top: 0;
    }

    .respond-to-min(@bp-sm-min, {
        margin-right: -@grid_gutter-width;
        padding: 0 @grid_gutter-width @grid_gutter-width;
        margin-left: -@grid_gutter-width;
    });
}

.history-section-expandable .expandable_content {
    margin-bottom: 0;
}

.history-section-expandable .history-section-expandable_content {
    margin: 0;
    overflow: hidden;

    &:before {
        display: none;
    }

    .respond-to-min(@bp-med-min, {
        padding-bottom: @grid_gutter-width;
    });
}

.history-timeline {
    margin: @grid_gutter-width @grid_gutter-width 0;
    overflow: auto;
    transition: 0.5s all;

    .expandable__expanded & {
        margin-right: 0;
        margin-left: 0;
    }

    .respond-to-min(@bp-med-min, {
        background-image: linear-gradient(to bottom, @black 1px, transparent 1px);
        background-position: 10px 0;
        background-repeat: repeat-y;
        background-size: 5px 2px;
    });

    .respond-to-min(@bp-xl-min, {
        background-position: 50% 0;
    });
}

.history-year {
    .h3();
    padding: unit(10px / @font-size, em) unit(15px / @font-size, em);
    border-radius: unit(4px / @font-size, em);
    margin: 0 0 @grid_gutter-width;
    background: @black;
    color: @white;
    text-align: center;

    .respond-to-min(@bp-med-min, {
        // Enough width for four characters.
        width: 3em;
    });

    .respond-to-min(@bp-xl-min, {
        clear: both;
        margin-right: auto;
        margin-left: auto;
    });
}

.history-list {
    list-style: none;
    padding: 0;
}

.history-item .expandable_link {
    position: absolute;
    right: unit(10px / @btn-font-size, em);

    .respond-to-min(@bp-med-min, {
        right: unit(25px / @btn-font-size, em);
    });
}

.history-item__right {
    clear: right;

    // Green dot with black border positioning.
    &:before {
        top: 17px;
        left: -47px;
    }

    // White triangle positioning.
    &:after {
        border-width: 12px 12px 12px 0;
        border-color: transparent @white transparent transparent;
        top: 15px;
        left: -12px;
    }
}
.history-item__left {
    clear: left;

    // Green dot with black border positioning.
    &:before {
        top: 17px;
        right: -47px;
        left: initial;
    }

    // White triangle positioning.
    &:after {
        border-width: 12px 0 12px 12px;
        border-color: transparent transparent transparent @white;
        top: 15px;
        right: -12px;
        left: initial;
    }
}

.expandable.history-item {
    position: relative;
    background: white;

    .respond-to-min(@bp-med-min, {
        margin-left: 49px;
        .history-item__right();

        // Green dot with black border.
        &:before {
            content: '';
            display: block;
            width: 11px;
            height: 11px;
            border: 5px solid @black;
            border-radius: 100%;
            position: absolute;
            background: @green;
        }

        // White triangle.
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
        }

        .expandable_header {
            padding: unit(25px / @base-font-size-px, em) @grid_gutter-width;
        }

        .expandable_content {
            margin: 0 @grid_gutter-width;
        }
    });

    .respond-to-min(@bp-xl-min, {
        width: 387px;
        float: right;
        margin-top: 3em;
        margin-bottom: 0;
        margin-left: 0;

        &:nth-child(odd) {
            .history-item__left();
            float: left;
            margin-top: 0;
            margin-bottom: @grid_gutter-width;
        }
    });
}

.history-item_date {
    .h6();
    display: block;
    color: @dark-gray;
}
