
#pfc_content {

}

#pfc_content li,
#pfc_content label {
    font-family: "Avenir Next", Verdana, sans-serif;
}

#pfc_content #hero {
    background-color: #d84d2d;
    background-image: none;
    height: 344px;
    margin: 0;
    padding: 0;
    position: relative;
}

#pfc_content #hero img {
    position: absolute;
        left: 0px;
        right: 0px;
}

#pfc_content #hero #hero_hgroup {
    position: absolute;
        right: 0;
        top: 40%;    
}

#pfc_content #hero h1 {
    background: #FFF;
    color: #d84d2d;
    float: right;
    font-size: 2.2em;
    font-weight: 500;
    padding: .4em 1em .4em 3em;
    vertical-align: middle;
}

#pfc_content #hero h2 {
    background: #df8b74;
    clear: right;
    color: #FFF;
    float: right;
    font-size: 1em;
    padding: .4em 1em .4em 1em;

    text-align: right;
    text-transform: none;
    vertical-align: middle;
}

#pfc_content .sidekick > div.twothirds-col,
#pfc_content .sidekick > div.two-col {
    width: 100%;
}

#pfc_content .sidekick h2 {
    background-color: #FFF;
}
#pfc_content .sidekick a.arrow {
    background: transparent url("http://files.consumerfinance.gov/f/theme/_/img/blue_arrow_links.png") right no-repeat;
    padding-right: 20px;
}

#pfc_content .sidekick-offer-me {
    padding-top: 0em;
}
#pfc_content .sidekick-offer-me h2 {
    border-top: none;
}

#pfc_content .sidekick h4 {
    color: #d84d2d;
    text-transform: none;
}

#pfc_content .sidekick h3 {
}

#pfc_content .sidekick-sotn h3 {
    padding-left: 64px;
    background-image: url("sotn-icon.png");
}

#pfc_content .sidekick-compare-costs h3 {
    padding-left: 40px;
    background-image: url("comparison-tool-icon.png");
}

#pfc_content .sidekick-get-loan h3 {
    background-image: url("guides-icon.png");
}

#pfc_content .sidekick-featured-story div {
    width: 100%;
}
#pfc_content .sidekick-featured-story h3 {
    background-image: url("featured-story-icon.png");
    padding-left: 38px;
    text-transform: none;
}
#pfc_content .sidekick-featured-story img {
    border: none;
    float: right;
    margin: 1em 3em 1em 1em;
}
#pfc_content .sidekick-featured-story h3+p {
    margin-top: 0px;
    padding-top: 0px;
}
#pfc_content .sidekick-know-before-you-owe h3 {
    background-image: url("know-before-you-owe-icon.png");
    font-size: 1.2em;
    padding: 1em 0 0 40px;
    text-transform: none;
}

#pfc_content .sidekick-know-before-you-owe ul li {
    padding: .5em 50px .5em 0;
}

#pfc_content .sidekick-know-before-you-owe ul li a.pdf-link {
    background-image: url("pdf-icon.png");
    font-size: .9em;
    padding-right: 30px;
}


#pfc_content .sidekick-student-credit-card h3 {
    background-image: url("credit-card-icon.png");
    background-position: 0px 25px;
    font-size: 1.2em;
    padding: 1em 0 0 46px;
    text-transform: none;
}
#pfc_content .sidekick-student-repayment h3 {
    background-image: url("debt-repayment-icon.png");
    background-position: 0px 25px;
    font-size: 1.2em;
    padding: 1em 0 0 60px;
    text-transform: none;
}

#pfc_content hr.gray-rule {
    background-color: #DDD;
    border: none;
    height: 1px;
    margin: .5em auto;
    width: 90%;
}

#pfc_content .sidekick-other-ways .other-left-list h3 {
    font-size: 1.2em;
    margin-top: 1.5em;
    min-height: 1.2em;
    padding: .5em 0 .5em 54px;
    text-transform: none;
}

#pfc_content .sidekick-other-ways .other-left-list h3#advisory-card {
    background-image: url("advisory-icon.png");
    background-position: 0em .4em;
}

#pfc_content .sidekick-other-ways .other-left-list h3#military-accountability {
    background-image: url("military-icon.png");
    background-position: 0em .4em;
}

#pfc_content .sidekick-other-ways .other-left-list h3#report-private-loans {
    background-image: url("congress-icon.png");
    background-position: 0em .4em;
}

#pfc_content .sidekick-other-ways .other-left-list p {
    margin-top: 0px;
    padding: 0px .5em .2em 54px;
}

#pfc_content .sidekick-other-ways .speeches h3 {
    min-height: 1.2em;
    padding-left: 0px;
    text-transform: none;
}

#pfc_content .sidekick-other-ways .speeches ul {
    margin: 0;
    padding: 0;
}

#pfc_content .sidekick-other-ways .speeches ul li {
    font-family: "Avenir Next", Verdana, sans-serif;
    list-style-type: none;
    margin: .75em 0;
}

#pfc_content .sidekick-other-ways .speeches ul li a {
    font-weight: 600;
}

#pfc_content .sidekick-other-ways .col-your-experience {
    padding-bottom: 2em;
}
    
#pfc_content .sidekick-other-ways .col-your-experience h3 {
    background-image: url("your-story-icon.png");
    background-position: 0px .8em;
    font-weight: 600;
    min-height: 1.4em;
    padding-left: 60px;
    text-transform: none;
}
#pfc_content .sidekick-other-ways .col-your-experience p {
    padding-left: 60px;
}

#pfc_content .sidekick-other-ways .col-your-experience ul {
    list-style-type: none;  
    margin: 0px;
    padding: 0px 0px 0px 60px;
}

#pfc_content .sidekick-other-ways .col-share-this-page h3 {
    padding-left: 10px;
    text-transform: none;
}

#pfc_content .sidekick-other-ways .col-share-this-page div.input-container {
    padding-left: 10px;
    margin: .5em 0;
}

#pfc_content .sidekick-other-ways .col-share-this-page label {
    background-repeat: no-repeat;
    background-position: 1.25em .75em;
    display: inline-block;
    padding: .2em 10px .2em 50px;
    width: 100px;
}
#pfc_content .sidekick-other-ways .col-share-this-page label.email {
    background-image: url("email-page-icon.png");
}
#pfc_content .sidekick-other-ways .col-share-this-page label.permalink {
    background-image: url("hyperlink-icon.png");
}

#pfc_content .sidekick-other-ways .col-share-this-page input {
    font-size: .9em;
}

#pfc_content .sidekick-other-ways .col-share-this-page textarea {
    border: 1px inset #AFAFB3;
    border-radius: 0.25em;
    font-size: .9em;
    height: 5em;
    margin: .2em 10px .2em 165px;
    width: 188px;
}

#pfc_content .sidekick-other-ways .col-share-this-page button {
    margin: .2em 10px .2em 165px;
}

#pfc_content .sidekick-explore {
    margin-top: 0px;
}

#pfc_content .sidekick-explore .col-mapping .map-line {
    margin: 2em .5em 2em 0;
}

#pfc_content .sidekick-explore .col-mapping .map-line h3 {
    display: inline-block;
    font-size: 1em;
    margin: 0px;
    min-height: 1em;
    padding: 0px 0px 4px 0px;
    width: 5em;
}


#pfc_content .sidekick-explore .col-mapping ul {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
} 

#pfc_content .sidekick-explore .col-mapping ul li {
    display: inline-block;
}

#pfc_content .sidekick-explore .col-mapping ul li a.arrow {
    font-size: .9em;
    margin-right: 10px;
} 


