{% set prototype = true %}
<form class="js-validate-filters" id="accessibility-form">
    <h2>Form to file your accessibility complaint</h2>
    <section class="o-form-section">

        {% include 'atoms/input.html' with context %}

        {% include 'atoms/input.html' with context %}

        {% include 'atoms/input.html' with context %}

        {% include 'atoms/input.html' with context %}

        {% include 'atoms/input.html' with context %}

        {% include 'atoms/state-selector.html' %}

        {% include 'atoms/input.html' with context %}

        {% include 'atoms/input.html' with context %}

        {% include 'atoms/input.html' with context %}

        {% include 'atoms/input.html' with context %}

        {# TODO: Add additional times to form select below. #}

        {% include 'atoms/select.html' with context %}

        {% include 'atoms/textarea.html' with context %}

        {% include 'atoms/input.html' with context %}

        {# TODO: Add additional formats to form select below. #}

        {% include 'atoms/select.html' with context %}
    </section>

    {% include 'atoms/submit-button.html' with context %}
</form>
