{% set prototype = true %}
<form class="js-validate-filters" id="accessibility-form">
    <h2>Form to file your accessibility complaint</h2>
    <section class="o-form-section">
        {% do global_dict.update({
            'input': {
                'label':    'First name',
                'type':     'text',
                'size':     '1-2',
                'required': true,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':    'Last name',
                'type':     'text',
                'size':     '1-2',
                'required': true,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':   'Address 1',
                'type':     'text',
                'size':    '1',
                'required': false,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':    'Address 2',
                'type':     'text',
                'size':     '1',
                'required': true,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':    'City',
                'type':     'text',
                'size':     '1-2',
                'required': true,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% include 'atoms/state-selector.html' %}

        {% do global_dict.update({
            'input': {
                'label':   'Zip code',
                'type':    'text',
                'size':     '1-4',
                'required': true,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':    'Telephone number',
                'type':     'tel',
                'size':     '1-2',
                'required': true,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':    'Fax number',
                'type':     'tel',
                'size':     '1-2',
                'required': false,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':    'Email address',
                'type':     'email',
                'size':     '1-2',
                'required': true,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {# TODO: Add additional times to form select below. #}

        {% do global_dict.update({
            'select': {
                'label':       'Best time to reach you',
                'placeholder': 'Select time',
                'fields':      ['8:00 am'],
                'size':        '1-2',
                'required':    false
            }
        }) %}
        {% set value = global_dict.select %}
        {% include 'atoms/select.html' with context %}

        {% do global_dict.update({
            'textarea': {
                'label':      'Nature of the accessibility problem',
                'helperText': false,
                'required':   true,
                'disabled':   false
            }
        }) %}
        {% set value = global_dict.textarea %}
        {% include 'atoms/textarea.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':    'Web address (URL) of requested material',
                'type':     'url',
                'size':     '1',
                'required': false,
                'disabled': false
            }
        }) %}
        {% set value = global_dict.input %}
        {% include 'atoms/input.html' with context %}

        {# TODO: Add additional formats to form select below. #}

        {% do global_dict.update({
            'select': {
                'label':       'Preferred format',
                'placeholder': 'Select a format',
                'fields':      ['PDF', 'Text email'],
                'size':        '1',
                'required':    true
            }
        }) %}
        {% set value = global_dict.select %}
        {% include 'atoms/select.html' with context %}
    </section>
    {% do global_dict.update({
    'submit_button': {
        'button_text': 'Generate PDF'
    }
    }) %}
    {% set value = global_dict.submit_button %}
    {% include 'atoms/submit-button.html' with context %}
</form>
