{% set prototype = true %}
<form class="js-validate-filters">
    <section class="o-form-section">
        
        {% include 'atoms/input.html' with context %}
        
        {% include 'atoms/input.html' with context %}

        {% include 'atoms/input.html' with context %}

        {% include 'atoms/input.html' with context %}
        
        {% include 'atoms/input.html' with context %}

        {% include 'atoms/state-selector.html' %}

        {% include 'atoms/input.html' with context %}
        
        {% include 'atoms/input.html' with context %}

        {# TODO: Add additional times to form select below. #}

        {% include 'atoms/select.html' with context %}

        {% include 'atoms/input.html' with context %}

        {% include 'atoms/input.html' with context %}
        
        {% include 'atoms/input.html' with context %}

        {% include 'atoms/textarea.html' with context %}

        {% include 'atoms/textarea.html' with context %}
    </section>

    {% include 'atoms/submit-button.html' with context %}
</form>
