    {% set prototype = true %}
    <form class="js-validate-filters">
        <section class="o-form-section">
            {% do global_dict.update({
                'input': {
                    'label':    'First Name',
                    'type':     'text',
                    'size':     '1-2',
                    'required': true,
                    'disabled': false
                }
            }) %}
            {% set value = global_dict.input %}
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':    'Last Name',
                    'type':     'text',
                    'size':     '1-2',
                    'required': true,
                    'disabled': false
                }
            }) %}
            {% set value = global_dict.input %}
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':    'Address 1',
                    'type':     'text',
                    'size':     '1',
                    'required': true,
                    'disabled': false
                }
            }) %}
            {% set value = global_dict.input %}
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':    'Address 2',
                    'type':     'text',
                    'size':     '1',
                    'required': false,
                    'disabled': false
                }
            }) %}
            {% set value = global_dict.input %}
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':    'City',
                    'type':     'text',
                    'size':     '1-2',
                    'required': true,
                    'disabled': false
                }
            }) %}
            {% set value = global_dict.input %}
            {% include 'atoms/input.html' with context %}

            {% include 'atoms/state-selector.html' %}

            {% do global_dict.update({
                'input': {
                    'label':    'Zip',
                    'type':     'text',
                    'size':     '1-4',
                    'required': true,
                    'disabled': false
                }
            }) %}
            {% set value = global_dict.input %}
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':        'Comment date',
                    'type':         'text',
                    'size':         '1',
                    'placeholder':  'mm/dd/yyyy',
                    'required':     true,
                    'disabled':     false
                }
            }) %}
            {% set value = global_dict.input %}
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'textarea': {
                    'label':        'Plain writing feedback',
                    'helperText':   false,
                    'required':     true,
                    'disabled':     false
                }
            }) %}
            {% set value = global_dict.textarea %}
            {% include 'atoms/textarea.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':    'URL with plain writing issue',
                    'type':     'url',
                    'size':     '1',
                    'required': false,
                    'disabled': false
                }
            }) %}
            {% set value = global_dict.input %}
            {% include 'atoms/input.html' with context %}
        </section>
        {% do global_dict.update({
            'submit_button': {
                'button_text':  'Generate PDF'
            }
        }) %}
        {% set value = global_dict.submit_button %}
        {% include 'atoms/submit-button.html' with context %}
    </form>
    <section class="block">
        <p>
            Once you generate the PDF, send your feedback by email or fax.
        </p>
        <div class="content-l content-l__main">
            <div class="content-l_col
                        content-l_col-1-2
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-email"></span>
                    Email
                </h5>

                <p>
                    <a href="mailto:Plain_Writing_Act@consumerfinance.gov">
                        Plain_Writing_Act@consumerfinance.gov
                    </a>
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1-2
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-fax"></span>
                    Fax
                </h5>
                <p>
                    (855) 237-2392
                </p>
            </div>
        </div>
    </section>
