{% import 'macros/util/form.html' as form %}
{% import 'macros/util/common-form-fields.html' as form_field %}
    <section class="block
                    block__bg
                    block__border
                    block__flush-sides">
        <form class="form-l js-validate-filters">
            {% do global_dict.update({
                'input': {
                    'label':        'First Name',
                    'type':         'text',
                    'size':         '1-2',
                    'required':     true,
                    'disabled':     false
                }
            }) %}
            {% set value = global_dict.input %}
            {% set prototype = true %}
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':        'Last Name',
                    'type':         'text',
                    'size':         '1-2',
                    'required':     true,
                    'disabled':     false
                }
            }) %}
            {% set value = global_dict.input %}
            {% set prototype = true %}
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':        'Address 1',
                    'type':         'text',
                    'size':         '1',
                    'required':     true,
                    'disabled':     false
                }
            }) %}
            {% set value = global_dict.input %}
            {% set prototype = true %}
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':        'Address 2',
                    'type':         'text',
                    'size':         '1',
                    'required':     false,
                    'disabled':     false
                }
            }) %}
            {% set value = global_dict.input %}
            {% set prototype = true %}
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':        'City',
                    'type':         'text',
                    'size':         '1-2',
                    'required':     true,
                    'disabled':     false
                }
            }) %}
            {% set value = global_dict.input %}
            {% set prototype = true %}
            {% include 'atoms/input.html' with context %}

            {% include 'atoms/state-selector.html' %}

            {% do global_dict.update({
                'input': {
                    'label':        'Zip',
                    'type':         'text',
                    'size':         '1-4',
                    'required':     true,
                    'disabled':     false
                }
            }) %}
            {% set value = global_dict.input %}
            {% set prototype = true %}
            {% include 'atoms/input.html' with context %}

            <div class="form-l_col form-l_col-1">
                <label class="form-label-header"
                       for="plain-writing-fb_starting-date">
                    Comment date
                </label>
                <input class="input__long"
                       id="plain-writing-fb_starting-date"
                       placeholder="mm/dd/yyyy"
                       type="text">
            </div>

            {% do global_dict.update({
                'textarea': {
                    'label':        'Plain writing feedback',
                    'helperText':   false,
                    'required':     true,
                    'disabled':     false
                }
            }) %}
            {% set value = global_dict.textarea %}
            {% set prototype = true %}
            {% include 'atoms/textarea.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':        'URL with plain writing issue',
                    'type':         'url',
                    'size':         '1',
                    'required':     false,
                    'disabled':     false
                }
            }) %}
            {% set value = global_dict.input %}
            {% set prototype = true %}
            {% include 'atoms/input.html' with context %}

            <div class="form-actions form-actions__right-on-med">
                <input class="btn form-actions_item"
                       type="submit"
                       value="Generate PDF">
                <a class="btn btn__link form-actions_item u-link__disabled">
                    Sample Letter
                    <span class="cf-icon cf-icon-pdf"></span>
                </a>
            </div>

        </form>
    </section>
    <section class="block">
        <p>
            Once you generate the PDF, send your feedback by email or fax.
        </p>
        <div class="content-l content-l__main">
            <div class="content-l_col
                        content-l_col-1-2
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-email"></span>
                    Email
                </h5>

                <p class="short-desc">
                    <a href="mailto:Plain_Writing_Act@consumerfinance.gov">
                        Plain_Writing_Act@consumerfinance.gov
                    </a>
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1-2
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-fax"></span>
                    Fax
                </h5>
                <p class="short-desc">
                    (855) 237-2392
                </p>
            </div>
        </div>
    </section>
