    <section class="block block__flush-top">
        <p>
            Once you generate the PDF, send your feedback by email or fax.
        </p>
        <div class="content-l content-l__main">
            <div class="content-l_col
                        content-l_col-1-2
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-email"></span>
                    Email
                </h5>

                <p>
                    <a href="mailto:Plain_Writing_Act@consumerfinance.gov">
                        Plain_Writing_Act@consumerfinance.gov
                    </a>
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1-2
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-fax"></span>
                    Fax
                </h5>
                <p>
                    (855) 237-2392
                </p>
            </div>
        </div>
    </section>
