{% set prototype = true %}

<form class="js-validate-filters">
    <section class="o-form-section">
        {% do global_dict.update({
            'input': {
                'label':    'First name!',
                'type':     'text',
                'size':     '1-2',
                'required': true,
                'disabled': false
            }
        }) %}
        
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'input': {
                'label':    'Last name',
                'type':     'text',
                'size':     '1-2',
                'required': true,
                'disabled': false
            }
        }) %}
        
        {% include 'atoms/input.html' with context %}

        {% do global_dict.update({
            'date_picker': {
                'legend':   'Document dates:'
            }
        }) %}
        
        {% include 'atoms/date-picker.html' with context %}


        {% do global_dict.update({
            'textarea': {
                'label':        'Requested information',
                'helperText':   'Describe the records you seek from the CFPB.
                                 <a href="../foia-faqs">Review our FAQs
                                 for additional guidance.</a>',
                required:       true
            }
        }) %}
        
        {% include 'atoms/textarea.html' with context %}

        {% do global_dict.update({
            'select': {
                'label':        'Select a request category',
                'placeholder':  'Select FOIA request category',
                'fields':       ['Commercial', 'Media', 'Others'],
                'size':         '1',
                'required':     false,
                'disabled':     false
            }
        }) %}
    
        {% include 'atoms/select.html' with context %}

        <fieldset class="u-reset js-additional-field">
            <div class="form-l_col
                        form-l_col-1
                        u-mb0">
                <legend class="form-label-header">
                    Requesting a fee waiver?
                </legend>
            </div>
            <div class="form-l_col
                        form-l_col-1-2
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input"
                           type="radio"
                           name="request-fee-waiver_button"
                           id="foia-request_fee-waiver-radio-1">
                    <label class="cf-input_label"
                           for="foia-request_fee-waiver-radio-1">
                        No
                    </label>
                </div>
            </div>
            <div class="form-l_col
                        form-l_col-1-2
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input js-additional-field_trigger"
                           type="radio"
                           name="request-fee-waiver_button"
                           id="foia-request_fee-waiver-radio-2"
                           data-additional-fields="#foia-request-fee-waiver-justify">
                    <label class="cf-input_label"
                           for="foia-request_fee-waiver-radio-2">
                        Yes
                    </label>
                </div>
            </div>
        </fieldset>

        <div class="form-l_col form-l_col-1 js-is-hidden"
             id="foia-request-fee-waiver-justify">
            <label>
                <span class="form-label-header">
                    Fee waiver justification explanation
                </span><br/>
                <span class="micro-copy micro-copy__large">
                    Describe how the disclosed records would serve a public interest
                </span>

                <textarea class="input__long" disabled></textarea>
            </label>
        </div>

        <fieldset class="u-reset">
            <div class="form-l_col
                        form-l_col-1
                        u-mb0">
                <legend class="form-label-header">
                    Requesting expedited treatment?
                </legend>
            </div>
            <div class="form-l_col
                        form-l_col-1-2
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input"
                           type="radio"
                           name="expedite_button"
                           id="foia-request_expedited-treatment-radio-1">
                    <label class="cf-input_label"
                            for="foia-request_expedited-treatment-radio-1">
                        No
                    </label>
                </div>
            </div>
            <div class="form-l_col
                        form-l_col-1-2
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input"
                           type="radio"
                           name="expedite_button"
                           id="foia-request_expedited-treatment-radio-2">
                    <label class="cf-input_label"
                           for="foia-request_expedited-treatment-radio-2">
                        Yes
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset class="u-reset js-additional-field">
            <div class="form-l_col
                        form-l_col-1
                        u-mb0">
                <legend class="form-label-header"
                        for="foia-request_response-method">
                    Preferred response method
                </legend>
            </div>
            <div class="form-l_col
                        form-l_col-1
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input"
                           type="radio"
                           name="response-method_button"
                           id="foia-request_response-method-radio-1">
                    <label class="cf-input_label"
                           for="foia-request_response-method-radio-1">
                        Email
                    </label>
                </div>
            </div>
            <div class="form-l_col
                        form-l_col-1
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input js-additional-field_trigger"
                           type="radio"
                           name="response-method_button"
                           id="foia-request_response-method-radio-2"
                           data-additional-fields="#foia-request_organization-info">
                    <label class="cf-input_label"
                           for="foia-request_response-method-radio-2">
                        Mail
                    </label>
                </div>
            </div>
            <div class="form-l_col
                        form-l_col-1
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input js-additional-field_trigger"
                           type="radio"
                           name="response-method_button"
                           id="foia-request_response-method-radio-3"
                           data-additional-fields="#foia-request_organization-info">
                    <label class="cf-input_label"
                           for="foia-request_response-method-radio-3">
                        Fax
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset class="u-reset js-is-hidden" id="foia-request_organization-info">
            {% do global_dict.update({
                'input': {
                    'label':    'Organization Name',
                    'type':     'text',
                    'size':     '1',
                    'required': false,
                    'disabled': true
                }
            }) %}
            
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':    'Address',
                    'type':     'text',
                    'size':     '1',
                    'required': false,
                    'disabled': true
                }
            }) %}
            
            {% include 'atoms/input.html' with context %}

            {% do global_dict.update({
                'input': {
                    'label':    'City',
                    'type':     'text',
                    'size':     '1-2',
                    'required': false,
                    'disabled': true
                }
            }) %}
            
            {% include 'atoms/input.html' with context %}

            {% include 'atoms/state-selector.html' %}

            {% do global_dict.update({
                'input': {
                    'label':    'Zip code',
                    'type':     'text',
                    'size':     '1-4',
                    'required': false,
                    'disabled': true
                }
            }) %}
            
            {% include 'atoms/input.html' with context %}
        </fieldset>
    </section>

    {% do global_dict.update({
        'submit_button': {
            'button_text':  'Generate FOIA PDF'
        }
    }) %}
    
    {% include 'atoms/submit-button.html' with context %}

</form>
    <!-- End Form Module. -->
    <section class="block">
        <h3>How to submit</h3>
        <p>
            To minimize delays associated with mail delivery
            or other possible misrouting of your request,
            we recommend submitting your request by email.
            However, we can also accept by fax or mail.
        </p>
        <div class="content-l content-l__main">
            <div class="content-l_col
                        content-l_col-1
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-email"></span>
                    Email
                </h5>

                <p>
                    <a href="mailto:FOIA@cfpb.gov">FOIA@cfpb.gov</a>
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-mail"></span>
                    Mail
                </h5>
                <p>
                    Consumer Financial Protection Bureau<br/>
                    Attention: Chief FOIA Officer<br/>
                    1700 G Street NW<br/>
                    Washington, DC 20552
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-fax"></span>
                    Fax
                </h5>
                <p>
                    (855) 237-2392
                </p>
            </div>
        </div>
        <h3>Write your own letter</h3>
        <p>
            If you are writing your own letter,
            make certain to include, at a minimum,
            the information below.
            Our sample letter can provide more guidance.
        </p>
        <p>A request should include:</p>
        <ul>
            <li>Your contact information
                (e.g., full name, address, phone number, email address).</li>
            <li>As many details as possible about the information
                you are seeking from the Consumer Financial Protection Bureau
                (e.g., “Consumer complaints received between January 1, 2013
                and the present that were related to overdraft charges”).</li>
            <li>Type of requester.
                For example: “for commercial purposes,”
                “news media,”
                “non-commercial scientific institution,”
                “educational institution,” or “other.”</li>
            <li>
                Indicate whether you are willing to pay fees
                for searching, reviewing, and/or duplication records.
                You may request that fees be waived because the request is not commercial
                and it will significantly contribute to public understanding
                of the operations or activities of the government;
                please make sure you include a waiver justification for us to consider.
            </li>
        </ul>
    </section>
