{% import 'macros/util/form.html' as form %}
{% import 'macros/util/common-form-fields.html' as form_field %}

    <section class="block
                    block__bg
                    block__border
                    block__flush-sides">
        <form class="form-l js-validate-filters">
            {{ form.input('First Name', 'text', '1-2', true) }}

            {{ form.input('Last Name', 'text', '1-2', true) }}

            {{ form_field.date_picker('Document dates:') }}

            <div class="form-l_col form-l_col-1">
                <label for="form_requested-info">
                    <span class="form-label-header">Requested information</span>
                    <span class="micro-copy micro-copy__large">
                        Describe the records you seek from the CFPB.
                        <a href="../foia-faqs" target="_blank">
                            Review our FAQs for additional guidance.
                        </a>
                    </span>
                </label>
                <textarea class="input__long"
                          id="form_requested-info"
                          ></textarea>
            </div>

            {{ form.select( 'Select a request category',
                            'Select the FOIA request category',
                            ['Commercial', 'Media', 'Others'],
                            '1',
                            false,
                            false ) }}

            <div class="js-additional-field">
            </div>
            <fieldset class="u-reset js-additional-field">
                <div class="form-l_col
                            form-l_col-1
                            u-mb0">
                    <legend class="form-label-header">
                        Requesting a fee waiver?
                    </legend>
                </div>
                <div class="form-l_col
                            form-l_col-1-2
                            form-l-inset">
                    <div class="form-l-inset_container">
                        <label>
                            <input class="custom-input"
                                   type="radio"
                                   name="request-fee-waiver_button">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-l_col
                            form-l_col-1-2
                            form-l-inset">
                    <div class="form-l-inset_container">
                        <label>
                            <input class="custom-input js-additional-field_trigger"
                                   type="radio"
                                   name="request-fee-waiver_button"
                                   data-additional-fields="#foia-request-fee-waiver-justify">
                            Yes
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="form-l_col form-l_col-1 js-is-hidden"
                 id="foia-request-fee-waiver-justify">
                <label>
                    <span class="form-label-header">
                        Fee waiver justification explanation
                    </span><br/>
                    <span class="micro-copy micro-copy__large">
                        Describe how the disclosed records would serve a public interest
                    </span>

                    <textarea class="input__long" disabled></textarea>
                </label>
            </div>

            <fieldset class="u-reset">
                <div class="form-l_col
                            form-l_col-1
                            u-mb0">
                    <legend class="form-label-header">
                        Requesting expedited treatment?
                    </legend>
                </div>
                <div class="form-l_col
                            form-l_col-1-2
                            form-l-inset">
                    <div class="form-l-inset_container">
                        <label>
                            <input class="custom-input"
                                   type="radio"
                                   name="expedite_button">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-l_col
                            form-l_col-1-2
                            form-l-inset">
                    <div class="form-l-inset_container">
                        <label>
                            <input class="custom-input"
                                   type="radio"
                                   name="expedite_button">
                            Yes
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="u-reset js-additional-field">
                <div class="form-l_col
                            form-l_col-1
                            u-mb0">
                    <legend class="form-label-header"
                           for="foia-request_response-method">
                        Preferred response method
                    </legend>
                </div>
                <div class="form-l_col
                            form-l_col-1-3
                            form-l-inset">
                    <div class="form-l-inset_container">
                        <label>
                            <input class="custom-input"
                                   type="radio"
                                   name="response-method_button">
                            Email
                        </label>
                    </div>
                </div>
                <div class="form-l_col
                            form-l_col-1-3
                            form-l-inset">
                    <div class="form-l-inset_container">
                        <label>
                            <input class="custom-input js-additional-field_trigger"
                                   type="radio"
                                   name="response-method_button"
                                   data-additional-fields="#foia-request_organization-info">
                            Mail
                        </label>
                    </div>
                </div>
                <div class="form-l_col
                            form-l_col-1-3
                            form-l-inset">
                    <div class="form-l-inset_container">
                        <label>
                            <input class="custom-input js-additional-field_trigger"
                                   type="radio"
                                   name="response-method_button"
                                   data-additional-fields="#foia-request_organization-info">
                            Fax
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="u-reset js-is-hidden" id="foia-request_organization-info">
                {{ form.input('Organization name', 'text', '1', false, true) }}

                {{ form.input('Address', 'text', '1', false, true) }}

                {{ form.input('City', 'text', '1-3', false, true) }}

                {{ form_field.state('1-3', false, true)}}

                {{ form.input('Zip code', 'text', '1-3', false, true) }}
            </fieldset>

            <div class="form-actions form-actions__right-on-med ">
                <input class="btn form-actions_item"
                       type="submit"
                       value="Generate FOIA PDF">
                <a href="#" class="btn btn__link form-actions_item">
                    Sample Letter
                    <span class="cf-icon cf-icon-pdf"></span>
                </a>
            </div>

        </form>
    </section>
    <!-- End Form Module. -->
    <section class="block">
        <h3>How to submit</h3>
        <p>
            To minimize delays associated with mail delivery
            or other possible misrouting of your request,
            we recommend submitting your request by email.
            However, we can also accept by fax or mail.
        </p>
        <div class="content-l content-l__main">
            <div class="content-l_col
                        content-l_col-1-3
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-email"></span>
                    Email
                </h5>

                <p class="short-desc">
                    <a href="mailto:FOIA@cfpb.gov">FOIA@cfpb.gov</a>
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1-3
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-mail"></span>
                    Mail
                </h5>
                <p class="short-desc">
                    Consumer Financial Protection Bureau<br/>
                    Attention: Chief FOIA Officer<br/>
                    1700 G Street NW<br/>
                    Washington, DC 20552
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1-3
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-fax"></span>
                    Fax
                </h5>
                <p class="short-desc">
                    (855) 237-2392
                </p>
            </div>
        </div>
        <h3>Write your own letter</h3>
        <p>
            If you are writing your own letter,
            make certain to include, at a minimum,
            the information below.
            Our sample letter can provide more guidance.
        </p>
        <p>A request should include:</p>
        <ul>
            <li>Your contact information
                (e.g., full name, address, phone number, email address).</li>
            <li>As many details as possible about the information
                you are seeking from the Consumer Financial Protection Bureau
                (e.g., “Consumer complaints received between January 1, 2013
                and the present that were related to overdraft charges”).</li>
            <li>Type of requester.
                For example: “for commercial purposes,”
                “news media,”
                “non-commercial scientific institution,”
                “educational institution,” or “other.”</li>
            <li>
                Indicate whether you are willing to pay fees
                for searching, reviewing, and/or duplication records.
                You may request that fees be waived because the request is not commercial
                and it will significantly contribute to public understanding
                of the operations or activities of the government;
                please make sure you include a waiver justification for us to consider.
            </li>
        </ul>
    </section>
