    <section class="block block__flush-top">
        <h3>How to submit</h3>
        <p>
            To minimize delays associated with mail delivery
            or other possible misrouting of your request,
            we recommend submitting your request by email.
            However, we can also accept by fax or mail.
        </p>
        <div class="content-l content-l__main">
            <div class="content-l_col
                        content-l_col-1-3
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-email"></span>
                    Email
                </h5>

                <p>
                    <a href="mailto:FOIA@cfpb.gov">FOIA@cfpb.gov</a>
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1-3
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-mail"></span>
                    Mail
                </h5>
                <p>
                    Consumer Financial Protection Bureau<br/>
                    Attention: Chief FOIA Officer<br/>
                    1700 G Street NW<br/>
                    Washington, DC 20552
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1-3
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-fax"></span>
                    Fax
                </h5>
                <p>
                    (855) 237-2392
                </p>
            </div>
        </div>
        <h3>Write your own letter</h3>
        <p>
            If you are writing your own letter,
            make certain to include, at a minimum,
            the information below.
            Our sample letter can provide more guidance.
        </p>
        <p>A request should include:</p>
        <ul>
            <li>Your contact information
                (e.g., full name, address, phone number, email address).</li>
            <li>As many details as possible about the information
                you are seeking from the Consumer Financial Protection Bureau
                (e.g., “Consumer complaints received between January 1, 2013
                and the present that were related to overdraft charges”).</li>
            <li>Type of requester.
                For example: “for commercial purposes,”
                “news media,”
                “non-commercial scientific institution,”
                “educational institution,” or “other.”</li>
            <li>
                Indicate whether you are willing to pay fees
                for searching, reviewing, and/or duplication records.
                You may request that fees be waived because the request is not commercial
                and it will significantly contribute to public understanding
                of the operations or activities of the government;
                please make sure you include a waiver justification for us to consider.
            </li>
        </ul>
    </section>
