{% extends "v1/layouts/layout-2-1.html" %}

{% block title -%}
    About this tool | Consumer Financial Protection Bureau
{%- endblock %}

{% block desc -%}
    Details on how our tool to explore credit cards works.
{%- endblock desc %}

{% block og_desc -%}
    {{ self.desc() }}
{%- endblock og_desc %}

{% block og_image %}
    {%- include "tccp/includes/og_image.html" -%}
{% endblock %}

{% block content_main %}
<div class="block block--flush-top">
    <div class="eyebrow">Explore credit cards</div>

    <h1>About this tool</h1>

    <div class="lead-paragraph">
        Get a better understanding of the data and how it's used to run Explore credit cards.
    </div>
</div>

<div class="block block--flush-top">
    <h2>Where does the data come from?</h2>

    <p>
        Every six months, over 150 credit card companies are
        <a
            href="/data-research/credit-card-data/terms-credit-card-plans-survey/"
        >required to submit data on pricing and availability</a>
        to the CFPB as part of The Fair Credit and Charge Card Disclosure Act of 1988. Other companies can
        <a
            href="/data-research/credit-card-data/terms-credit-card-plans-survey/"
        >voluntarily submit their data</a>.
        The CFPB uses that data to run Explore credit cards, an unbiased credit card comparison tool, and makes the data available for others to use as well.
    </p>

    <p>
        Because data is being provided directly by the company, there may be inconsistencies in formatting or differences in wording from card to card. It's also possible that an APR is no longer available or has changed since the time of publishing. Cards with inconsistent or invalid APR data may be excluded from the tool.
    </p>
</div>

<div class="block block--flush-top">
    <h2>Why are there so many cards?</h2>

    <p>
        Unlike other comparison sites you may have used, where credit card companies pay to have their cards advertised, the CFPB collects data on all major credit cards and receives voluntary submissions from smaller companies, allowing you to see all of the options available to you.
    </p>
</div>

<div class="block block--flush-top">
    <h2>How are ratings determined?</h2>

    <h3 class="h4">
        In order to help people compare cards, we rate each card's interest using the following categories:
    </h3>

    <ul>
        <li>"Pay less interest"</li>
        <li>"Pay average interest"</li>
        <li>"Pay more interest"</li>
    </ul>

    <h3 class="h4">
        Card ratings are determined independently for these credit tiers:
    </h3>

    <ul>
        <li>Credit score 619 or less</li>
        <li>Credit scores from 620 to 719</li>
        <li>Credit score of 720 or greater</li>
    </ul>

    <h3 class="h4">
        For each credit tier, we compute the 25th and 75th percentiles of purchase APR for all cards targeted to that tier. Cards get rated:
    </h3>

    <ul>
        <li>"Pay less interest" when the APR is in the lowest 25th percentile</li>
        <li>"Pay average interest" when the APR is between the 25th and 75th percentile</li>
        <li>"Pay more interest" when the APR is greater than the 75th percentile</li>
    </ul>

    <p>
        Card ratings may change based on credit tier. A card rated as "Pay less interest" for someone with a credit score greater than 720 may also rate as "Pay average interest" for someone with a credit score less than 619.
    </p>
</div>

<div class="block block--flush-top">
    <h2>Is the data available for download?</h2>

    <p>
        Current and historical Terms of Credit Card Plans data are free and available to download for professional groups, businesses, or members of the public interested in viewing the raw data.
    </p>
    <p>
        <a
            class="a-link a-link--jump"
            href="/data-research/credit-card-data/terms-credit-card-plans-survey/"
        >
            <span class="a-link__text">
                View data downloads and resources
            </span>
        </a>
    </p>
</div>
{% endblock %}
