{% extends "v1/layouts/layout-2-1.html" %}

{% from 'tccp/macros/data_published.html' import data_published %}

{% block css%}
    {{ super() }}
    <style>
        dt {
            margin-top: 15px;
        }
        dt,
        dd {
            display: block;
        }
        dd {
            margin-left: 0;
        }
        dd + dd {
            margin-top: 15px;
        }
        dd::after {
            content: none;
        }
        dd .o-table {
            margin-top: 10px;
        }
    </style>
{% endblock css%}

{% block content_main %}

<h1>{{ card.institution_name }} {{ card.product_name }}</h1>

{{ data_published(card.report_date) }}

<h2>Availability</h2>
<dl class="m-list">
    <dt>Location</dt>
    <dd>
        {% if not card.state_limitations %}
            Available to anyone in the United States
        {% else %}
            Available only to people who live in
            {% if card.pertains_to_specific_counties %}
                specific counties in
            {% endif %}
            {{ card.state_limitations | join(", ") }}
        {% endif %}
    </dd>
    {% if card.requirements_for_opening %}
        <dt>Other requirements</dt>
        {% for requirement in card.geographic_restrictions, card.professional_affiliation, card.other%}
            {% if requirement is not none %}
                <dd>{{ requirement }}</dd>
            {% endif %}
        {% endfor %}
    {% endif %}
    <dt>Credit score</dt>
    <dd>
        This card is targeted to people with these credit scores:
        <table class="o-table">
            <thead>
                <tr>
                    <th>No credit score</th>
                    <th>619 or less</th>
                    <th>620–719</th>
                    <th>720 or greater</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if "No credit score" is in card.targeted_credit_tiers %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if "Credit score 619 or less" is in card.targeted_credit_tiers %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if "Credit scores from 620 to 719" is in card.targeted_credit_tiers %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if "Credit score of 720 or greater" is in card.targeted_credit_tiers %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </th>
                </tr>
            </tbody>
        </table>
    </dd>
    <dt>
        Secured card
    </dt>
    <dd>
        {% if card.secured_card %}
            Yes
        {% else %}
            No
        {% endif %}
    </dd>
</dl>
<h2>Purchases</h2>

<h3 class="h5">Other fields that haven't been styled yet</h3>

<table class="o-table o-table__striped">
    <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for field in card._meta.fields %}
        <tr>
            <td>{{ field.name }}</td>
            <td>{{ card.__getattribute__(field.name) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content_main %}
