{% extends "v1/layouts/layout-2-1.html" %}

{%- import 'v1/includes/molecules/breadcrumbs.html' as breadcrumbs with context -%}

{% block title -%}
    {{ title }} | Consumer Financial Protection Bureau
{%- endblock title %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ static('apps/tccp/css/main.css') }}">
{% endblock %}

{% block content_intro %}

{% with
    value = {
        "heading": heading,
        "body": (
            "We know people use credit cards for many reasons. " ~
            "Our large database of cards can help you find ones that are best for you."
        ),
        "image": {
            "url": static("apps/tccp/img/explore-credit-cards-hero-lg.png"),
            "height": 390,
            "width": 940
        },
        "small_image": {
            "url": static("apps/tccp/img/explore-credit-cards-hero-sm.png"),
            "height": 390,
            "width": 1140
        },
        "background_color": "#FFE1B9"
    }
%}
    {% include "v1/includes/molecules/hero.html" with context %}
{% endwith %}

{% endblock content_intro %}

{% block content_main %}

    <div class="block block__sub block__flush-top">
        <h2>
            How is this comparison tool different than others you may have used?
        </h2>
        <p>
            <ul class="m-list">
                <li class="m-list_item">
                    Larger pool of cards, likely including banks you’ve never heard of with great rates
                </li>
                <li class="m-list_item m-list_item__has-icon">
                    <a
                        href="{{ url('tccp:about') }}"
                    >Credit card companies are required by law to submit data to us</a>
                </li>
                <li class="m-list_item m-list_item__has-icon">
                    No paid advertising
                </li>
                <li class="m-list_item m-list_item__has-icon">
                    Card interest is rated, to help you compare
                </li>
            </ul>
        </p>
    </div>

    <div class="block block__flush-top">
        <form action="." method="get">

            <div class="o-form_group">
                <div class="m-form-field m-form-field__select">
                    <label
                        class="a-label a-label__heading"
                        for="{{ form.credit_tier.id_for_label}}"
                    >
                        {{ form.credit_tier.label }}
                    </label>

                    {{ form.credit_tier }}

                    <small class="a-label_helper a-label_helper__block">
                        If you don’t know it,
                        <a href="/ask-cfpb/where-can-i-get-my-credit-scores-en-316/"
                            >find your credit score</a>.
                    </small>
                </div>
            </div>

            <div class="o-form_group">
                <div class="m-form-field m-form-field__select">
                    <label
                        class="a-label a-label__heading"
                        for="{{ form.location.id_for_label}}"
                    >
                        {{ form.location.label }}
                    </label>

                    {{ form.location }}
                </div>
            </div>

            <legend class="a-legend">
                I’m looking for a card that will help me...
            </legend>

            <div class="o-form_group">
                <fieldset class="o-form_fieldset">
                    {{ form.situations }}
                </fieldset>
            </div>

            <div class="m-btn-group">
                <button class="a-btn a-btn__full-on-xs" title="See cards for your situation">See cards for your situation</button>
                <div class="u-btn-helper">
                    Or <a href="{{ url('tccp:cards') }}">see all cards</a> in our database
                </div>
            </div>

        </form>
    </div>

{% endblock content_main %}

{% block content_sidebar %}
    {%- include "tccp/includes/sidebar.html" -%}
{% endblock content_sidebar %}
