{% extends "v1/layouts/layout-2-1.html" %}

{%- import 'v1/includes/molecules/breadcrumbs.html' as breadcrumbs with context -%}

{% block title -%}
    {{ title }} | Consumer Financial Protection Bureau
{%- endblock title %}

{% block desc -%}
    Search our large database of credit cards to find ones that are best for you.
{%- endblock desc %}

{% block og_desc -%}
    {{ self.desc() }}
{%- endblock og_desc %}

{% block og_image %}
    {%- include "tccp/includes/og_image.html" -%}
{% endblock %}

{% block javascript scoped %}
{{ super() }}
<script src="{{ static( 'apps/tccp/js/index.js' ) }}"></script>
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ static('apps/tccp/css/main.css') }}">
{% endblock %}

{% block content_intro %}

{% with
    value = {
        "heading": heading,
        "body": (
            "Our large database can help you find cards that are best for you."
        ),
        "image": {
            "url": static("apps/tccp/img/explore-credit-cards-hero-lg.png"),
            "height": 390,
            "width": 940
        },
        "small_image": {
            "url": static("apps/tccp/img/explore-credit-cards-hero-sm.png"),
            "height": 390,
            "width": 1140
        },
        "background_color": "#FFE1B9"
    }
%}
    {% include "v1/includes/molecules/hero.html" with context %}
{% endwith %}

{% endblock content_intro %}

{% block content_main %}

    <div class="block block--sub block--flush-top">
        <h2>
            How is this comparison site different?
        </h2>
        <ul class="m-list">
            <li class="m-list__item">
                Larger pool of cards, likely including banks you’ve never heard of with great rates
            </li>
            <li class="m-list__item">
                <a
                    href="{{ url('tccp:about') }}"
                >150 credit card companies are required by law to submit data to us</a>
            </li>
           <li class="m-list__item">
                Any credit card company can
                <a href="/credit-card-data/terms-credit-card-plans-survey/">voluntarily contribute data</a>
            </li>
            <li class="m-list__item">
                No paid advertising
            </li>
            <li class="m-list__item">
                Card interest is rated, to help you compare
            </li>
          <li class="m-list__item">
                Data is public and can be used by anyone
            </li>
        </ul>
    </div>

    <div class="block block--flush-top">
        <form action="." method="get">

            <div class="o-form__group">
                <div class="m-form-field">
                    <label
                        class="a-label a-label--heading"
                        for="{{ form.credit_tier.id_for_label}}"
                    >
                        {{ form.credit_tier.label }}
                    </label>

                    {{ form.credit_tier }}

                    <p class="a-label__helper a-label__helper--block">
                        If you don’t know it,
                        <a href="/ask-cfpb/where-can-i-get-my-credit-scores-en-316/"
                            >find your credit score</a>.
                    </p>
                </div>
            </div>

            <div class="o-form__group">
                <div class="m-form-field">
                    <label
                        class="a-label a-label--heading"
                        for="{{ form.location.id_for_label}}"
                    >
                        {{ form.location.label }} <small class="a-label_helper">(required)</small>
                    </label>

                    {{ form.location }}

                    <div class="a-form-alert a-form-alert--error u-visually-hidden" id="location-required" role="alert">
                        {{ svg_icon("error-round") }}
                        <span class="a-form-alert__text">
                            Required field, select a location.
                        </span>
                    </div>
                </div>
            </div>

            <div class="o-form__group">
                <fieldset class="o-form__fieldset o-form__fieldset--helpers">
                    <legend class="a-legend">
                        I’m looking for a card that will help me...
                    </legend>
                    {{ form.situations }}
                </fieldset>
            </div>

            <div class="m-btn-group">
                <button class="a-btn a-btn--full-on-xs" data-js-hook="behavior_submit-situations">See cards for your situation</button>
                <div class="u-btn-helper">
                    Or <a href="{{ url('tccp:cards') }}">see all cards</a>
                </div>
            </div>

        </form>
    </div>

{% endblock content_main %}

{% block content_sidebar %}
    {%- include "tccp/includes/sidebar.html" -%}
{% endblock content_sidebar %}
