/* ==========================================================================
   cfgov-refresh
   Bureau mission page at /the-bureau/.
   ========================================================================== */

// Override general slick carousel overrides defined in mobile-carousel.less.
// Removes bottom border, because the-bureau has a bordered block below
// its carousel.
.the-bureau .mobile-carousel.slick-slider {
    border-bottom: none;
    padding-bottom: 0;

    .respond-to-min(1024px, {
        margin-top: unit(60px / @base-font-size-px, em);
    });

    &_media .image-container {
        margin-left: 10px;
    }

    &_section {
        margin-top: unit(30px / @base-font-size-px, em);
    }

    &_section + &_section {
        .respond-to-min(@tablet-min, {
            border-top: 1px solid @gray-50;
            padding-top: unit(30px / @base-font-size-px, em);
        });
    }

    .slick-prev,
    .slick-next {
        // TODO:
        // The top value relies on the height
        // of the carousel slide image, which may vary.
        // This overrides the default top of 140px set
        // in mobile-carousel.less.
        top: 150px;
    }
}

.bureau-functions {

    .respond-to-min(@tablet-min, {
        border-top: 1px solid @gray-50;
    });

    &_list {
        .webfont-regular();
        .respond-to-min(@desktop-min, {
            .grid_column(6);
        });
    }

    .expandable {
        background-color: inherit;
    }
}

.bureau-bio {

    .media_image {
        width: 125px;
        .respond-to-max(1024px, {
            width: 80px;
        });
    }

    &_name {
        .h3();
        margin-bottom: unit(19px / @font-size, em);
        .respond-to-max(1024px, {
            .h4();
            margin-bottom: unit(15px / @font-size, em);
        });
    }

}

.bureau-history {
    position: relative;

    &_header {
        .respond-to-min(1024px, {
            position: absolute;
            left: 277px;
            top: 25px;
        });
    }

    &_text {
        .respond-to-min(1024px, {
            position: relative;
            top: 48px;
        });
    }

    &_image {

        .respond-to-range(@tablet-min, @tablet-max, {
            width: 215px;
        });

        .respond-to-min(@desktop-min, {
            width: 250px;
        });
    }
}

// Used to help center video container
@gutter__em: unit(@grid_gutter-width  / @base-font-size-px, em);
@gutter-half__em: @gutter__em / 2;

.hero__bureau {
    padding-top: 0;
    border-top: 1px solid @gray-50;

    .hero_wrapper {

        .respond-to-min(@tablet-min, {
            padding-top: @gutter__em * 2;
        });
    }

    .video-player_image {
        width: @grid_wrapper-width;

        // Optical adjustment for beautification purposes.
        top: -1 * @gutter__em;

        .respond-to-max(@tablet-max, {
            // Adjustment for YouTube image height/weight ratio.
            top: 1px;
        });
    }
}

.hero_card__bureau {
    .hero_preview {
        padding-bottom: @gutter__em * 2;
    }

    .jump-link {
        display: block;
        margin: @gutter-half__em 0;
    };
}
