{% extends "layout-base.html" %}
{% import "_section-layouts.html" as section %}

{% block demo_title -%}
    Base layout
{%- endblock %}

{% block title -%}
    Base layout
{%- endblock %}

{% block desc -%}
    An example of using layout-base.html
{%- endblock %}

{% block body_content %}
    <h1>Base layout</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quaerat minus dignissimos vero eaque sapiente quo quidem commodi repellat eum pariatur sint sunt odit rem id velit nisi delectus excepturi!</p>
{% endblock %}
