{% overextends "wagtailadmin/login.html" %}
{% load staticfiles i18n %}

{% block furniture %}
    <div class="content-wrapper">
        {% if form.non_field_errors %}
            <div class="messages">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li class="error">{{ error |safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block above_login %}
            {% if 'build' in request.site.hostname %}
                <h1>Log in to demo Wagtail</h1>
            {% else %}
                <h1>Log in to consumerfinance.gov</h1>
            {% endif %}
        {% endblock %}

        <form action="{% url 'cfpb_login' %}" method="post" autocomplete="off" novalidate>
            {% block login_form %}
            {% csrf_token %}

            {% url 'user_welcome' as home_url %}
            <input type="hidden" name="next" value="{{ next|default:home_url }}" />


            <ul class="fields">
                {% block fields %}
                <li class="full">
                    <div class="field iconfield">
                        {{ form.username.label_tag }}
                        <div class="input icon-user">
                            {{ form.username }}
                        </div>
                    </div>
                </li>
                <li class="full">
                    <div class="field iconfield">
                        {{ form.password.label_tag }}
                        <div class="input icon-password">
                            {{ form.password }}
                        </div>
                    </div>
                    {% if show_password_reset %}
                        <p class="help"><a href="{% url 'wagtailadmin_password_reset' %}">{% trans "Forgotten it?" %}</a></p>
                    {% endif %}
                </li>
                {% comment %}
                    Removed until functionality exists
                    <li class="checkbox">
                        <div class="field">
                            <label><input type="checkbox" />{% trans "Remember me" %}</label>
                        </div>
                    </li>
                {% endcomment %}
                {% endblock %}
                <li class="submit">
                    {% block submit_buttons %}
                    <button type="submit" class="button button-longrunning" tabindex="3" data-clicked-text="{% trans 'Signing in...' %}"><span class="icon icon-spinner"></span><em>{% trans 'Sign in' %}</em></button>
                    {% endblock %}
                </li>
            </ul>
        {% endblock %}
        </form>
    </div>
{% endblock %}
