<style>
  #rental-assistance-finder {
    max-width: 41.875rem;
  }
  #rental-assistance-finder dl a {
    word-break: break-all;
  }
  #rental-assistance-finder .m-form-field + .m-form-field {
    margin-top: 15px
  }
  .no-js .js-is-hidden {
    display: block !important;
  }
</style>

<div id="rental-assistance-finder" 
     data-language="{{ page.language if page and page.language else 'en' }}">
</div>

<div class="js-is-hidden">
  {% import 'molecules/notification.html' as notification with context %}
    {{ notification.render( 
      'error', 
      true, 
      'This tool is not supported in your browser. 
       Please try a newer browser or confirm that JavaScript is enabled.' 
    ) }}
</div>
