.loans-table {}
.loans-table td {width:242px;}
.loans-table td.rh {width:80px;}
.loans-table .rh {
    position:relative;
	padding-left:23px;
    padding-top:14px;
}

.banking-table td {width:155px;}
.banking-table td.rh {width:80px;}
.banking-table th {font-size:18px;}

.banking-table .rh {
	position:relative;
	padding-left:23px;
}

.icon{margin-top:14px;}