/* ==========================================================================
   Regulations 3000
   Custom eRegs secondary navigation styles
   ========================================================================== */

// Regs3K sidebar
.regulations3k .o-regs3k-sidebar {
  // TODO: If secondary navigation is overriding o-expandables appearance,
  //       they aren't atomic expandables anymore per the design spec.
  //       Secondary navigation should use FlyoutMenu for expandable-like
  //       behavior and handle its own styling
  //       (possibly shared with expandables).

  // Tablet and below.
  .respond-to-max(@bp-sm-max, {
    background-color: var(--gray-5);
    margin-bottom: unit( @grid_gutter-width / @base-font-size-px, em );

    // Add drop-shadow.
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  });

  // TODO - this will be updated to data-open='true' in newer expandables.
  .o-expandable_target__expanded {
    .o-expandable_cue-close {
      display: block;
    }
  }
  .o-expandable_target__collapsed {
    .o-expandable_cue-open {
      display: block;
    }
  }
}

// Regs3K secondary nav sections
.o-regs3k-sections {
  .o-expandable_header {
    // Desktop and above.
    .respond-to-min(@bp-med-min, {
      padding-left: 0;
    });
    border: 0;
    padding-right: 0;
  }

  .o-expandable_content {
    padding: 0;
    // Desktop and above.
    .respond-to-min(@bp-med-min, {
      background: none;
      border: none;
    });
    &::before {
      border: 0;
      padding: 0;
    }
  }

  &::before {
    // Tablet and below.
    .respond-to-max(@bp-sm-max, {
      border-bottom: 1px solid var(--gray-40);
      content: ' ';
      display: block;
    });
  }
}

// Regs3K secondary nav header
.o-regs3k-navigation {
  // TODO:
  // This is an override for the non-conforming use of o-expandable__padded
  // in the iRegs secondary nav. Remove this when that component is overhauled.
  &.o-expandable__padded .o-expandable_label {
    padding: 0 !important;
  }

  // Tablet and below.
  .respond-to-max(@bp-sm-max, {
    padding: unit( 10px / @base-font-size-px, em )
    unit( 15px / @base-font-size-px, em );
  });

  .o-regs3k-navigation_header {
    display: none;

    // Tablet and below.
    .respond-to-max(@bp-sm-max, {
      display: flex;
    });

    padding: unit(10px / @base-font-size-px, em) 0
      unit(5px / @base-font-size-px, em);
    .o-expandable_label {
      text-transform: uppercase;
    }
  }
}

// TODO: convert iRegs secondary nav override abuse to modifiers on secondary nav.
.o-secondary-nav_link {
  color: var(--pacific);

  &__current {
    color: var(--black);
  }

  &__parent {
    .heading-4();
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0;
  }
}

// Utility methods specific to when regs3k secondary nav
// is stacked on top of the page's content
.u-hide-on-stacked {
  // Tablet and below.
  .respond-to-max(@bp-sm-max, {
    display: none;
  });
}
