@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;

/* ==========================================================================
   Regulations 3000
   Regulations listing on landing page
   ========================================================================== */

#regulations-listing {
  // TODO - Standardize a nested list link pattern.
  .new-version {
    margin-top: math.div(10px, $base-font-size-px) + rem;

    h5 {
      margin-bottom: math.div(10px, $base-font-size-px) + rem;
    }

    a {
      margin-left: math.div(-30px, $base-font-size-px) + rem;
      padding-left: math.div(30px, $base-font-size-px) + rem;

      &:hover:before {
        border: none;
      }
    }

    li {
      font-size: math.div($size-v, $base-font-size-px) + em;
      font-weight: normal;
      list-style-type: square;
      margin-left: math.div(30px, $base-font-size-px) + rem;
    }
  }
}
