/* ==========================================================================
   Regulations 3000
   Wayfinder
   ========================================================================== */

.o-regulations-wayfinder {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid @green;
    position: fixed;
    top: -80px;
    left: 0;
    background-color: @white;
    box-shadow: 0px 3px 8px -6px @black;
    transition: top 0.1s ease-in-out;
    z-index: 100;
    .respond-to-min( @bp-med-min, {
        top: -60px;
    } );

    &_link {
        display: inline-block;
        margin-bottom: 0;
    }

    &_link:visited {
        border-color: @link-underline;
        color: @link-text;
    }

    .content_main,
    .content_sidebar {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .content_main:after {
        top: 0;
    }

    .content_sidebar {
        display: none;
        .respond-to-min( @bp-med-min, {
            display: inline-block;
        } );
    }

    .o-regulations-wayfinder__content {
        .respond-to-min( @bp-med-min, {
            display: flex;
            justify-content: space-between;
        } );
    }

    .o-regulations-wayfinder__version {
        .respond-to-min( @bp-med-min, {
            text-align: right;
        } );
    }
}

.show-wayfinder .o-regulations-wayfinder {
    top: 0;
}