/* ==========================================================================
   Regulations 3000
   Custom eRegs secondary navigation styles
   ========================================================================== */

// Regs3K sidebar
.o-regs3k-sidebar {
    // TODO: If secondary navigation is overriding o-expandables appearance,
    //       they aren't atomic expandables anymore per the design spec.
    //       Secondary navigation should use FlyoutMenu for expandable-like
    //       behavior and handle its own styling
    //       (possibly shared with expandables).

    .respond-to-max( @bp-sm-max, {
        background-color: @gray-5;
        border-bottom: 1px solid @gray-40;
        border-top: 1px solid @gray-40;
        margin-bottom: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
    } );
}

// Regs3K secondary nav sections
.o-regs3k-sections {

    .o-expandable_target {
        .respond-to-min( @bp-med-min, {
            display: block;
            padding: unit( @grid_gutter-width / 2 / @base-font-size-px, em ) 0;
        } );
        border: 0;
        padding-right: 0;
    }

    .o-expandable_header {
        &-left {
            width: 88%;
        }
        &-left {
            width: 12%;
        }
    }

    .o-expandable_content {
        padding: 0;
        .respond-to-min( @bp-med-min, {
            background: none;
            border: none;
        } );
        &:before {
            border: 0;
            padding: 0;
        }
    }

    &:before {
        .respond-to-max( @bp-sm-max, {
            border-bottom: 1px solid @gray-40;
            content: ' ';
            display: block;
        } );
    }

}

// Regs3K secondary nav header
.o-regs3k-navigation {

    .respond-to-max( @bp-sm-max, {
        padding: unit( 10px / @base-font-size-px, em )
                 unit( 15px / @base-font-size-px, em );
    } );

    .o-regs3k-navigation_header {
        .u-show-on-stacked();
        padding: unit( 10px / @base-font-size-px, em )
                 0
                 unit( 5px / @base-font-size-px, em );
        .o-expandable_label {
            text-transform: uppercase;
        }
    }

    .o-expandable_header-left {
        width: 88%;
    }

    .o-expandable_header-right {
        text-align: right;
        width: 12%;
    }

}

.m-nav-link {

    color: @pacific;

    &__current {
        color: @black;
    }

    &__parent {
        .heading-4();
        font-size: 1em;
        font-weight: 300;
        margin-bottom: 0;
    }

}

// Utility methods specific to when regs3k secondary nav
// is stacked on top of the page's content
.u-hide-on-stacked {

    .respond-to-max( @bp-sm-max, {
        display: none;
    } );

}

.u-show-on-stacked {

    display: none;
    .respond-to-max( @bp-sm-max, {
        display: block;
    } );

}
