/* ==========================================================================
   Regulations 3000
   Wayfinder
   ========================================================================== */

.o-regulations-wayfinder {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid @green;
    position: fixed;
    top: -60px;
    left: 0;
    background-color: @white;
    box-shadow: 0px 3px 8px -6px @black;
    transition: top 0.1s ease-in-out;
    z-index: 100;

    &_link {
        display: inline-block;
    }

    &_link:visited {
        border-color: @link-underline;
        color: @link-text;
    }

    .content_main,
    .content_sidebar {
        padding-top: 15px;
    }

    .content_main:after {
        top: 0;
    }

    .o-regulations-wayfinder__content {
        display: flex;
        justify-content: space-between;
    }

    .o-regulations-wayfinder__version {
        text-align: right;
    }
}

.show-wayfinder .o-regulations-wayfinder {
    top: 0;
}