@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

/* ==========================================================================
   Regulations 3000
   Regulations listing on landing page
   ========================================================================== */

#regulations-listing {
  > ul {
    .new-version {
      font-size: math.div($size-v, $base-font-size-px) + em;
      font-weight: normal;
      list-style-type: square;
    }
  }
}
