<div class="yes-routes block block__sub js-no-print">
  <div class="content-l">
    <div class="u-w75pct js-initial-routes">
      {% for i in range(2) %}
        {% with id=i+1 %}
          <div class="content-l_col content-l_col-1 js-option-wrapper-{{ id }}">
            {% include "route-option.html" %}
          </div>
        {% endwith %}
      {% endfor %}
    </div>
  </div>  
  <div class="content-l m-yes-route-option block u-mt30">
    <div class="content-l_col content-l_col-1">
      <h2>Are there other ways you can get to work? Compare different options to help you figure out your first choice and a backup plan.</h2>
      <div class="u-js-only">
        {% include "plus-icon.html" %}
        <button class="a-btn a-btn__link m-yes-route-option">Show me another option</button>
      </div>
    </div>
    <div class="u-hidden yes-routes-option-clone">
      <div class="content-l_col content-l_col-1 js-option-wrapper">
        {% include "route-option.html" %}
      </div>
     </div>
  </div>
</div>
