{# ==========================================================================

   branches.render()

   ==========================================================================

   Description:

   Renders an org chart branch when given:

   categories: An Array of categories.

   ========================================================================== #}
{% macro render(categories) -%}
{% import '_macro-node.html' as node with context %}
<ul class="o-bureau-structure_branches
           list
           list__unstyled">
    {% for category in categories %}
    {% set category_index = loop.index %}
    <li class="o-bureau-structure_branch">
        <h4 class="o-bureau-structure_branch_name">{{ category.title }}</h4>
        <ul class="o-bureau-structure_nodes
                   nodes{{ category_index }}
                   list
                   list__unstyled">
            <li class="o-bureau-structure_branch_name">
                <button class="content-hide
                               link_text
                               jump-link
                               jump-link__before
                               jump-link__left">
                    {{ category.title }}
                </button>
            </li>
            {% for org in category.data %}
            {{ node.render('li', org, category.sub_title) }}
            {% endfor %}
            {% if loop.last %}
            <li>
                {% include '_legend.html' %}
            </li>
            {% endif %}
        </ul>
    </li>
    {% endfor %}
</ul>
{%- endmacro %}
