{# ==========================================================================

   branches.render()

   ==========================================================================

   Description:

   Renders an org chart branch when given:

   categories: An Array of categories.

   ========================================================================== #}
{% macro render(categories) -%}
{% import '_macro-node.html' as node with context %}
{% import '_macro-mobile-nav.html' as mobile_nav with context %}
<ul class="o-bureau-structure_branches
           list
           list__unstyled">
    <li class="u-show-on-mobile org-chart_branch_name">
        {{ mobile_nav.render(categories) }}
    </li>
    {% for category in categories %}
    {% set category_index = loop.index %}
    <li class="o-bureau-structure_branch">
        <h4 class="o-bureau-structure_branch_name u-hide-on-mobile">{{ category.title }}</h4>
        <ul class="o-bureau-structure_nodes
                   list
                   list__unstyled">
            <li class="o-bureau-structure_branch_name">
                <button class="o-bureau-structure_nav-item
                               jump-link
                               jump-link__before
                               jump-link__left
                               u-show-on-mobile"
                        data-show-slide-index="0">
                    {{ category.title }}
                </button>
            </li>
            {% for org in category.data %}
            {{ node.render('li', org, category.sub_title) }}
            {% endfor %}
            {% if loop.last %}
            <li>
                {% include '_legend.html' %}
            </li>
            {% endif %}
        </ul>
    </li>
    {% endfor %}
</ul>
{%- endmacro %}
