{% extends 'layout-side-nav.html' %}
{% import '_vars-the-bureau.html' as vars with context %}
{% import '_vars-office-data.html' as office_data %}
{% import '_vars-division-data.html' as division_data %}
{% import '_macro-role.html' as role with context %}
{% import '_macro-branches.html' as branches with context %}

{% set active_nav_id = 'bureau-structure' %}
{% set breadcrumb_items = vars.breadcrumb_items %}
{% set categories = [{
                        'title': 'Divisions',
                        'sub_title': 'Offices in this division',
                        'data': division_data.data
                     }, {
                        'title':'Office of the Director',
                        'sub_title': 'Offices under this position',
                        'data': office_data.data
                     }]
%}

{% block title -%}
    Bureau Structure | Consumer Financial Protection Bureau
{%- endblock %}

{% block desc -%}
    Bureau Structure
{%- endblock %}

{% block content_main_modifiers -%}
    {{ super() }}
    content__flush-bottom
{%- endblock %}

{% block content_main %}
    <h1>Bureau Structure</h1>
    <p>Org chart last updated: November 8, 2016</p>
    <div class="o-bureau-structure_chart">
        <div class="o-bureau-structure_node o-bureau-structure_node__root">
            {{ role.render({
                "name"  : "<a href='/about-us/the-bureau/about-director/'>Richard Cordray</a>",
                "title" : "Director",
                "titles": []
            }) }}
        </div>
        {{ branches.render(categories) }}
    </div>
    {% include '_footer.html' %}
{% endblock %}
