ol.action-steps,ul.action-steps {padding:0; list-style: none;}
ol.action-steps li {margin-bottom:10px;padding-left:30px;background-position-y:2px;}
ol.action-steps .li-1 {background-image:url(bullet-1.png);background-repeat: no-repeat;}
ol.action-steps .li-2 {background-image:url(bullet-2.png);background-repeat: no-repeat;}
ol.action-steps .li-3 {background-image:url(bullet-3.png);background-repeat: no-repeat;}
