{# ==========================================================================

   event_preview()

   ==========================================================================

   Description:

   Create an the event preview when given:

   post:                    A post from a query result.

   media_object (optional): Boolean flag to wrap the block in a media object
                            and include a map image.
                            Defaults to true.

   ========================================================================== #}

{% macro event_preview(post, media_object=true) %}
    {%- set city =  post.venue.address.city + ', ' + post.venue.address.state
                    | default('Washington, DC') -%}
    {% import '_event-post-macros.html' as event_post_macros with context %}
    <article class="post-preview post-preview__event">
        {% if media_object %}
            <div class="media">
                <a class="media_image-container post-summary-image" href="{{ post.permalink }}">
                    <div class="post-summary-image_container">
                        {{ event_post_macros.event_location_image({
                            'location': city
                        }) }}
                    </div>
                </a>
                <div class="media_body media_body__event">
                    {{ event_post_macros.post_summary(post) }}
                </div>
            </div>
        {% else %}
            <div class="media_body media_body__event">
              {{ event_post_macros.post_summary(post) }}
            </div>
        {% endif %}
    </article>
{% endmacro %}



{# ==========================================================================

   event_hero()

   ==========================================================================

   Description:

   Create an the events landing hero when given:

   post: A post from a query result.

   ========================================================================== #}

{% macro event_hero(post) %}
    {% import 'macros/category-icon.html' as category_icon %}
    {%- set city =  post.venue.address.city + ', ' + post.venue.address.state
                    | default('Washington, DC') -%}
    <section class="content_hero hero">
        <div class="hero_wrapper">
            <a href="{{ post.permalink }}"
               class="hero_card hero_card__events">
                <article class="hero_preview">
                    {% if post.categories %}
                    <span class="category-slug">
                        {# TODO replace temp category with post category. #}
                        {{ category_icon.render('Announcements & updates', 'category-slug_icon') }}
                        <span class="u-visually-hidden">Category:</span>
                        {{ 'Event Category Name' }}
                    </span>
                    {% endif %}
                    <div class="summary">
                        <header class="summary_header">
                            <h1 class="summary_heading">
                                {{ post.title }}
                            </h1>
                        </header>
                        <p class="summary_text">
                            {{ post.future.summary | striptags }}
                        </p>
                        <footer class="summary_footer">
                            {% import 'macros/time.html' as time %}
                            {{ time.render(post.beginning_time.date,
                                           {'date':true, 'time':true, 'timezone':true},
                                           post.beginning_time.timezone)
                            }}
                        </footer>
                    </div>
                </article>
            </a>
        </div>
        <div class="hero_img-container hero_img-container__small">
            {% from 'macros/util/format/url.html' import location_image_url as location_image_url %}
            <div class="hero_img"
                 style="background-image:url({{ location_image_url({
                        'location': city | urlencode,
                        'zoom': '12',
                        'scale': '2',
                        'size': '660x300'
                    }) }});">
            </div>
        </div>
        <div class="hero_img-container hero_img-container__large">
            <div class="hero_img"
                 style="background-image:url({{ location_image_url({
                        'location': city | urlencode,
                        'zoom': '12',
                        'scale': '2',
                        'size': '1200x300'
                    }) }});">
            </div>
        </div>
    </section>
{% endmacro %}
