{% extends "base.html" %}

{% block demo_title -%}
    GovDelivery subscription success
{%- endblock %}

{% block title -%}
    GovDelivery subscription success
{%- endblock %}
{% block desc -%}
    Your subscription to GovDelivery was successful.
{%- endblock %}

{% block content %}

    <main class="content content__2-1 content__bleedbar" id="main" role="main">

        <!-- .content_bar must come after .content_hero but before .content_wrapper -->
        <div class="content_bar"></div>

        <div class="wrapper">
            <section class="content_intro">
                <h1>Success!</h1>
                <p class="short-desc">Your subscription to GovDelivery was successful.</p>
            </section>
        </div>

    </main>

{% endblock content %}
