/***** PRINT STYLES FOR FIND A HOUSING COUNSELOR *****/

@media print {
    body {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    /* Spell out abbreviations. */
    abbr[title]:after {
        content: ' (' attr(title) ')';
    }

    /*
     * Don't show links.
     */
    a:after {
        content: '';
    }

    a,
    a:link,
    a:visited {
        border: 0;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        text-decoration: none;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    img {
        max-width: 100% !important;
    }

    @page {
        size: letter;
        margin: .5in .5in .5in .5in;
        padding: 0;
    }

    #hud_results-list_container {
      page-break-before: always;
    }

    /* Prevent blank sheet at the end of the page. */
    main,
    .content_main {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    /* Hide unneeded content */
    .o-header,
    .bread,
    .m-social-media,
    .o-footer,
    #hud_hca_api_map_container,
    .hud_hca_api_results_actions,
    svg {
        display: none !important;
    }

}
