/***** PRINT STYLES FOR FIND A HOUSING COUNSELOR *****/
@media screen {
    .u-print-only {
        display: none;
    }

    .u-screen-only {
        display: block;
    }
}


@media print {
    .u-screen-only {
        display: none;
    }
    .u-print-only {
        display: block;
    }

    body {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    /* Spell out abbreviations. */
    abbr[title]:after {
        content: ' (' attr(title) ')';
    }

    /*
     * Don't show links.
     */
    a:after {
        content: '';
    }

    a,
    a:link,
    a:visited {
        border: 0;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        text-decoration: none;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: none;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        size: letter;
        margin: .5in .5in .5in .5in;
        padding: 0;
    }

    /* Prevent blank sheet at the end of the page. */
    main,
    .content_main {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    /* Item result row. */
    tr {
      display: grid !important;
      grid-template-columns: 2;
      grid-template-rows: 2;
    }

    /* Item services. */
    td:nth-child(2) {
      grid-column-start: 1;
      grid-row-start: 2;
    }

    /* Item distance. */
    td:nth-child(3) {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    /* Convert services list into comma-separated list. */
    ul li {
      display: inline;
    }

    ul li:after {
      content: ', ';
    }

    ul li:last-child:after {
      content: '.';
    }

    /* Hide unneeded content */
    .o-header,
    .o-footer,
    .hud_hca_api_results_actions,
    svg {
        display: none !important;
    }

}
