@cols: 7;
@gap: 10px;
@inactiveMonthColor: #a4a4a4;
@positiveColor: #cbf0b6;
@negativeColor: #f0b6b6;
@breakpointMed: 500px;
@symbolSize: 24px;

.calendar {
  display: flex;
  flex-direction: column;
  margin-bottom: @gap;

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__rows {
    margin-bottom: 1rem;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  &__day, &__day-label {
    color: @inactiveMonthColor;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: calc(100% / @cols - @gap);
    width: calc(100% / @cols - @gap);
    height: calc(100vw / @cols - @gap);
    min-height: 40px;
    padding-right: @gap / 2;
    padding-left: @gap / 2;
    text-align: center;
    border: 1px solid transparent;
    position: relative;

    @media screen and (min-width: @breakpointMed) {
      min-height: 4rem;
      max-height: 100px;
    }

    &.current-month {
      color: @text;
    }

    &.pos-balance {
      background-color: @positiveColor;
      border-color: @positiveColor;
    }

    &.neg-balance {
      background-color: @negativeColor;
      border-color: @negativeColor;
    }

    &.selected {
      border-color: #000;
      border-width: 1px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__day-label {
    font-weight: bold;
    color: @text;
  }

  &__day-number {
    font-size: 1rem;

    @media screen and (min-width: @breakpointMed) {
      font-size: 1.25rem;
    }
  }

  &__day-balance {
    font-size: .6rem;

    @media screen and (min-width: @breakpointMed) {
      font-size: .8rem;
    }
  }

  &__day-symbols {
    font-weight: bold;
    font-size: @symbolSize;
    height: @symbolSize;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.calendar-details {
  margin-top: 1.5rem;

  &__events {
    list-style: none;
    padding-left: 0;
  }

  &__event,
  &__total {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid @inactiveMonthColor;
    max-width: unset !important;
  }

  &__total {
    border-bottom: 0;
  }

  &__event-date,
  &__event-name,
  &__event-total {
    flex-basis: calc(100% / 3);
    width: calc(100% / 3);
  }

  &__total-label,
  &__total-value {
    flex-basis: 50%;
    width: 50%;
  }

  &__event-total,
  &__total-value {
    text-align: right;
  }

  &__event-delete {
    background: transparent;
    border: 0;
  }
}
