.swipeable-item {
  position: relative;
  overflow: hidden;
  width: 100%;

  /*
  &.-swiped {
    .swipeable-item__background {
      z-index: 1;
    }
  }
  */

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
  }

  &__foreground {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px 1rem;
    z-index: 1;

    &.-has-transition {
      transition: transform 500ms ease-out;
    }
  }

  &__button {
    height: 100%;
    display: block;
    border: 0;
    background: #fff;
    min-width: 60px;
  }

  &__button--edit {
    background-color: @green;
    color: #fff;
  }

  &__button--delete {
    background-color: @red;
    color: #fff;
  }
}
