{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% translate "Export Ask data" %}{% endblock %}

{% block content %}

    {% include "wagtailadmin/shared/header.html" with title="Ask CFPB Export" icon="download" %}

    <div class="nice-padding">
        <h3>
            Download a spreadsheet of all Ask CFPB answers. <br>
        </h3>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="button">
                Download CSV
            </button>
        </form>
    </div>

{% endblock %}
