@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.a-overlay {
  // Tablet and below.
  @include respond-to-max($bp-sm-max) {
    height: 100vh;
    width: 100vw;

    // Needed for iOS to include the URL bar in the 100vh height.
    min-height: -webkit-fill-available;

    position: fixed;

    // TODO: Update z-index value with standard z-index variable.
    z-index: 10;

    background: var(--black);
    opacity: 0.6;

    // Cursor needs to be set for iOS to capture clicks of the overlay
    // and bubble them up to the body.
    cursor: pointer;
  }
}
