/* topdoc
  name: Partially styled link
  family: cfgov-atoms
  patterns:
    - name: Default example
      markup: |
          <a class="a-link a-link__partially-styled">
            <span class="a-link__partially-styled_plain">
              Unstyled text
            </span>
            <span class="a-link__partially-styled_underlined">
              Underlined text
            </span>
          </a>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .a-link.a-link__partially-styled
            span.a-link__partially-styled_plain
            span.a-link__partially-styled_underlined
  tags:
    - cfgov-atoms
*/

.a-link__partially-styled {
    border-bottom-width: 0px;
  
    &_plain {
        color: @black;
        border-bottom: 1px dotted transparent;
    }
  
    &_underlined {
        border-bottom: 1px dotted @link-underline;
    }
  
    &:visited &_underlined {
        border-bottom: 1px dotted @link-underline-visited;
    }
  
    &:hover span,
    &:focus span {
        border-bottom: 1px solid @link-underline-hover !important;
    }
  
    &:active span {    
        border-bottom: 1px solid @link-underline-active !important;
    }  
}