.a-link__partially-styled {
  border-bottom-width: 0;

  &_plain {
    color: @black;
    border-bottom: 1px dotted transparent;
  }

  &_underlined {
    border-bottom: 1px dotted @link-underline;
  }

  &:visited &_underlined {
    border-bottom: 1px dotted @link-underline-visited;
  }

  &:hover span,
  &:focus span {
    border-bottom: 1px solid @link-underline-hover !important;
  }

  &:active span {
    border-bottom: 1px solid @link-underline-active !important;
  }
}
