/* topdoc
  name: Rule Break
  family: cfgov-atoms
  patterns:
    - name: Default example
      markup: |
          <div class="a-rule-break"></div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .a-rule-break
  tags:
    - cfgov-atoms
*/

.a-rule-break {
    padding-bottom: unit( @grid_gutter-width / @base-font-size-px, em );
    border-top: 1px solid @horizontal-rule;
}


/* topdoc
    name: EOF
    eof: true
*/
