/* ==========================================================================
   consumerfinance.gov
   tag
   ========================================================================== */

.a-tag {
  border: 1px solid var(--teal);
  padding: 4px 10px;
  background-color: var(--teal-20);
  border-radius: unit(3px / @base-font-size-px, rem);
  font-weight: 500;
  color: var(--black);

  &:hover {
    background-color: var(--teal-40);
    cursor: pointer;
  }

  &:focus {
    outline: 1px dotted var(--teal);
    outline-offset: 1px;
  }

  &:active {
    background-color: var(--teal);
  }

  .cf-icon-svg {
    display: inline-block;
    margin-left: 10px;
    pointer-events: none;
  }

  a& {
    // Colors for :link, :visited, :hover, :focus, :active.
    .u-link__colors( var(--black), var(--black), var(--black), var(--black), var(--black) );
  }
}
