/* ==========================================================================
   consumerfinance.gov
   tag
   ========================================================================== */

.a-tag {
    cursor: default;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 15px 10px 0;
    background-color: @gray-20;
    font-size: 14px;

    .cf-icon-svg {
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
    }
    
    a {
        color: inherit;
    }
}
