/* ==========================================================================
   consumerfinance.gov
   tagline
   ========================================================================== */

/* topdoc
  name: CF.gov site-wide tagline.
  family: cfgov-atoms
  patterns:
    - notes:
        - "For the markup please see _includes/atoms/tagline.html."
  tags:
    - cfgov-atoms
*/

.a-tagline {
    padding-left: 32px; // 22px flag + 10px spacing.
    background: url('/static/img/us-flag_22x13.png') no-repeat 0 0;

    // Breakpoint to wrap United States government.
    .respond-to-max( 375px, {
        max-width: 170px;
    } );

    .respond-to-dpi( 2, {
        background-image: url( '/static/img/us-flag_44x26.png' );
        background-size: 22px;
    } );

    &__large {
      padding-left: 37px; // 22px flag + 15px spacing.
      background: url( '/static/img/us-flag_22x13.png' ) no-repeat 0 4px;

      // Breakpoint to wrap United States government.
      .respond-to-max( 475px, {
          max-width: 220px;
      } );
    }
}

/* topdoc
    name: EOF
    eof: true
*/
