h3, h5 {
	margin: 0px
}

ul.chzn-results li {
	list-style: none;
	padding-left: 5px;
}

#ccagrhome {
	width: 644px;
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
}

#sidebar {
	border-left: 1px solid #D7D7D7;
	padding-left: 40px;	
	display: inline-block;
	vertical-align: top;
	width: 229px;
}

#ccagrhome > h5 {
	margin-bottom: 12px;
	margin-top: 24px;
}

#ccagrhome > #searchtxt, #ccagrhome > #issuer_select_chzn {
	width: 80%;
}

.modal {
	position: absolute;
	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#dwnld {
	color: #999999;
	padding-top: 40px; 
}


#searchagain {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

a[href|="#mod"] {
	padding-left: 30px;
}

popl {
	color: #3E8A17;
}

#modSearch, #modIssuer, #dismod {
	padding: 15px;
	width: 483px;
	margin-left: 15px;
}

#searchagain > #modSearch {
	left: 699px;
	top: 364px;
	width: 255px;
}

#searchagain > #modIssuer {
	left: 699px;
	top: 233px;
	width: 255px;
	z-index: 1;
}

#modIssuer {
	left: 535px;
	top: 380px;
}

#modSearch {
	left: 630px;
	top: 459px;
}

#ccagrhoe > #dismod {
	left: 29px;
	top: 712px;
	z-index: 1;
}

.close {
	float: right;
}

#searchagain > #needhelp {
	padding-top: 40px;
}

#needhelp > p {
	font-family: "Avenir Next", Verdana, sans-serif;
	margin-bottom: 2em;
	font-size: 14px;
}

#ccagrsearch {
	width: 644px;
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
}


#ccagrsearch tbody {	
	margin-top: 23px;
	border: 1px solid #999;
}

#ccagrsearch thead {
	background-color: #999;
	border: 1px solid #999;
	color: white;
}

table {
	width: 100%;
	margin-bottom: 15px;
}

th, td {
	min-width: 110px;
	padding: 10px;
	border: none;
}

.pdfdwnld {
	background-color: #57B64F;
	background-size: 9px;
	background-position: 6px 6px;
	background-image: url(/static/agreements/img/dwnarrow.png);
	background-repeat: no-repeat;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	padding: 4px 4px 4px 21px;
}

a.pdfdwnld + p {
	padding-left: 25px;
	margin-top: 3px;
}

.issuer, .download {
	width: 120px;
}

.even {
	background-color: #F0F0F0;
}

#pagination{
	float: right;
	margin-top: 10px;
	color: #999;
}

#dwnldall {
	margin-top: 25px;
}

.lstlnk {
	padding-top: 50px;
}

#ccagrhome form {
	display: inline-block;
}