
{% macro render(query, code) %}

<form class="reveal-on-focus"
      id="email-subscribe-form"
      action="/subscriptions/new/"
      method="POST"
      enctype="application/x-www-form-urlencoded">

    <div class="form-group">
        <label for="email-subscribe-form_email">
            Email address
        </label>
        <input class="reveal-on-focus_target"
               id="email-subscribe-form_email"
               type="email"
               name="email"
               placeholder="example@mail.com">
    </div>
    {# Uncomment this and remove condition to test
    {% if 'is_event' %}
    <div class="form-group reveal-on-focus_content u-clearfix">
      <label class="form-group_item">
        <input class="custom-input"
               type="checkbox"
               name="email-subscribe-form_zip-only"
               value="limit_event_area">
               Only events near my ZIP code
      </label>
      <label for="email-subscribe-form_zip-code">Zip code</label>
      <input type="text"
              name="email-subscribe-form_zip-code"
              placeholder="00000">
    </div>
    {% endif %}
    #}
    {% if query -%}
    <div class="form-group reveal-on-focus_content u-clearfix">
    {% for category in query.possible_values_for('category')|sort(attribute='key') -%}
    {% set govdelivery_categories = [
        { 'name': 'Announcements & updates', 'code': 'USCFPB_9' },
        { 'name': 'Consumer information', 'code': 'USCFPB_10' },
        { 'name': 'Engagement', 'code': 'USCFPB_11' },
        { 'name': 'Innovation & data', 'code': 'USCFPB_12' },
        { 'name': 'Blog', 'code': 'USCFPB_13' },
        { 'name': 'Op-Ed', 'code': 'USCFPB_14' },
        { 'name': 'Press Release', 'code': 'USCFPB_15' },
        { 'name': 'Speech', 'code': 'USCFPB_16' },
        { 'name': 'Testimony', 'code': 'USCFPB_17' }
    ] %}
    {% for allowed_category in govdelivery_categories -%}
    {% if category.key == allowed_category.name %}
        <label class="form-group_item">
            <input class="custom-input"
                   type="checkbox"
                   name="code"
                   value="{{ allowed_category.code }}">
            {{ category.key }}
        </label>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </div>
    {% elif code -%}
    <div class="form-group">
        <input type="hidden"
               name="code"
               value="{{ code }}">
    </div>
    {% endif -%}

    <div class="form-group">
        <input class="btn" type="submit" class="btn" value="Sign up">
    </div>

</form>

{% endmacro %}
