{% macro render(hero) %}

{% from "post-macros.html" import category_icon as category_icon %}

<section class="content_hero hero">
    <div class="hero_wrapper">
        <a href="#" class="hero_card hero_card__events">
            <article class="hero_preview">
                <span class="category-slug">
                    {{ category_icon('Announcements & updates', 'category-slug_icon') }}
                    <span class="u-visually-hidden">Category:</span>
                    {{ 'Event Category Name' }}
                </span>
                <div class="summary">
                    <header class="summary_header">
                        <h1 class="summary_heading">
                            {{ 'Event Title Here, could possibly break two lines' }}
                        </h1>
                    </header>
                    <p class="summary_text">
                        {{ 'Include a short summary to give users a quick overview of the event. Should be less than 200 characters in length.' }}
                    </p>
                    <footer class="summary_footer">
                        <time class="summary_event-date event-meta_datetime dt-start">
                            <span class="event-meta_date">{{ '1/21/2014' }}</span>
                            <span class="event-meta_time">{{ '2:30 PM CST' }}</span>
                        </time>
                    </footer>
                </div>
            </article>
        </a>
    </div>
    <div class="hero_img-container hero_img-container__small">
        <div class="hero_img"
             style="background-image:url({{ 'http://placehold.it/660x300.jpg' }});">
        </div>
    </div>
    <div class="hero_img-container hero_img-container__large">
        <div class="hero_img"
             style="background-image:url({{ 'http://placehold.it/1200x300.jpg ' }});">
        </div>
    </div>
</section><!-- END .content_hero -->

{% endmacro %}
