
{% macro render(posts) %}

{% import "event-post-macros.html" as event_post_macros with context %}

{% for post in posts%}

    <article class="post-preview event-post-preview">
        <div class="media-object" >
            <a class="media-object_image-container" href="{{ post.permalink }}">
                {{ event_post_macros.event_location_image(post, {'class': 'media-object_image'}) }}
            </a>
            <div class="media-object_text-container summary">
                {{ event_post_macros.post_summary(post) }}
            </div>
        </div>    
    </article>

{% endfor %}  


{% endmacro %}
