{% import "nav-items-toplevel.html" as vars with context %}
    <nav class="primary-nav">
        <ul class="primary-nav_top-level-list
                   wrapper
                   list__unstyled
                   list__horizontal
                   list-expanding">
            {%- for top_level, first_level in vars.nav_items_toplevel %}
            {% set first_level_length = first_level|length %}
            <li class="list_item list-expanding_list-item">
                {%- if first_level_length > 0 %}
                {# TODO: Make this a <button>, it is not a real link. #}
                <a class="list_link list-expanding_trigger" href="#">
                    {{ top_level }}
                </a>
                <div class="desktop-menu_full-wrapper">
                    <div class="desktop-menu_full-wrapper_decoration">
                        <ul class="wrapper
                                   list__unstyled
                                   list__horizontal
                                   desktop-menu_horizontal-list
                                   list-expanding list-expanding_child-list">
                            {%- for href, id, caption in first_level %}
                            <li class="list_item list-expanding_list-item">
                                <a class="list_link" href="{{ href|e }}">{{ caption|e }}</a>
                            </li>
                            {%- endfor %}
                        </ul>
                    </div>
                </div>
                {%- else %}
                <a class="list_link list_link__disabled">
                    {{ top_level }}
                </a>
                {%- endif %}
            </li>
            {%- endfor %}
        </ul><!-- END .primary-nav_top-level-list -->
    </nav><!-- END .primary-nav -->

</div><!-- END .sliding-nav_nav -->

<div class="sliding-nav_page">

    <header class="header wrapper wrapper__match-content primary-nav_header-space" role="banner">

        <button class="sliding-nav_trigger" id="trigger">
            <span class="cf-icon cf-icon-menu"></span>
            <span class="u-visually-hidden">Menu</span>
        </button>

        <a href="/">
            <img class="header_logo u-js-only"
                 src="/static/img/logo_sm-exec.svg"
                 onerror="this.onerror=null;this.src='/static/img/logo_sm-exec.png';"
                 alt="Consumer Financial Protection Bureau"
                 width="237"
                 height="50">
            <noscript>
                <img class="header_logo logo__no-js"
                     src="/static/img/logo_sm-exec.png"
                     alt="Consumer Financial Protection Bureau"
                     width="237"
                     height="50">
            </noscript>
        </a>

        {# TODO: Re-add this block when the content is cleared for release,
                 and an Español link exists. #}
        {#
        <div class="header_misc">
            Contact us: <a class="header_misc_tel" href="tel:8554112372">(855) 411-2372</a>
            <a class="header_misc_es">Español</a>
        </div>
        #}

    </header>
