    <nav class="primary-nav">
        <ul class="primary-nav_top-level-list
                   wrapper
                   list__unstyled
                   list__horizontal
                   list-expanding">
            <li class="list_item list-expanding_list-item">
                <a class="list_link list_link__disabled">Consumer Guides</a>
            </li>
            <li class="list_item list-expanding_list-item">
                <a class="list_link list_link__disabled">Submit a Complaint</a>
            </li>
            <li class="list_item list-expanding_list-item">
                <a class="list_link list_link__disabled">Data & Research</a>
            </li>
            <li class="list_item list-expanding_list-item">
                <a class="list_link list_link__disabled">For Industry</a>
            </li>
            <li class="list_item list-expanding_list-item">    
                <a class="list_link list-expanding_trigger" href="#">About</a>
                <div class="desktop-menu_full-wrapper">
                    <div class="desktop-menu_full-wrapper_decoration">
                        <ul class="wrapper
                                   list__unstyled
                                   list__horizontal
                                   desktop-menu_horizontal-list
                                   list-expanding list-expanding_child-list">
                            <li class="list_item list-expanding_list-item">
                                <a class="list_link" href="/blog/">Blog</a>
                            </li>
                            <li class="list_item list-expanding_list-item">
                                <a class="list_link" href="/newsroom/">Newsroom</a>
                            </li>
                            <li class="list_item list-expanding_list-item">
                                <a class="list_link" href="/contact-us/">Contact Us</a>
                            </li>
                            <li class="list_item list-expanding_list-item">
                                <a class="list_link" href="/the-bureau/">About the Bureau</a>
                            </li>
                            <li class="list_item list-expanding_list-item">
                                <a class="list_link" href="/activity-log/">Activity Log</a>
                            </li>
                            <li class="list_item list-expanding_list-item">
                                <a class="list_link" href="/budget/">Budget and Strategy</a>
                            </li>
                            <li class="list_item list-expanding_list-item">
                                <a class="list_link" href="/doing-business-with-us/">Working with Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul><!-- END .primary-nav_top-level-list -->
    </nav><!-- END .primary-nav -->

</div><!-- END .sliding-nav_nav -->

<div class="sliding-nav_page">

    <header class="header wrapper wrapper__match-content primary-nav_header-space" role="banner">

        <button class="sliding-nav_trigger" id="trigger">
            <span class="cf-icon cf-icon-menu"></span>
            <span class="u-visually-hidden">Menu</span>
        </button>

        <a href="/">
            <img class="header_logo u-js-only"
                 src="/static/img/logo_sm-exec.svg"
                 onerror="this.onerror=null;this.src='/static/img/logo_sm-exec.png';"
                 alt="Consumer Financial Protection Bureau"
                 width="237"
                 height="50">
            <noscript>
                <img class="header_logo logo__no-js"
                     src="/static/img/logo_sm-exec.png"
                     alt="Consumer Financial Protection Bureau"
                     width="237"
                     height="50">
            </noscript>
        </a>

        <div class="header_misc">
            Contact us: <a class="header_misc_tel" href="tel:8554112372">(855) 411-2372</a>
            <a class="header_misc_es">Español</a>
        </div>

    </header>
