
{#
  Top and first-level menu items,
  used to populate the contents of the site's navigation menus.
#}
{% set nav_items_toplevel = [
    ('TBD Content', []),
    ('TBD Content', []),
    ('TBD Content', []),
    ('TBD Content', []),
    ('About', [
      ('/blog/', 'blog', 'Blog'),
      ('/newsroom/', 'newsroom', 'Newsroom'),
      ('/contact-us/', 'contact-us', 'Contact Us'),
      ('/the-bureau/', 'the-bureau', 'The Bureau'),
      ('/activity-log/', 'activity-log', 'Activity Log'),
      ('/budget/', 'budget', 'Budget and Strategy'),
      ('/doing-business-with-us/', 'doing-business-with-us', 'Doing Business with Us')
    ])
] -%}
