
{% macro render(popular_posts) %}

<div class="popular-stories">
    <h1 class="header-slug">
        <span class="header-slug_inner">
            Popular stories
        </span>
    </h1>
    <ul class="list list__unstyled list__spaced">
    {% for slug in popular_posts %}
        {% set pop_post = get_document('posts', slug) %}
        <li class="list_item">
            <h4 class='u-mb5'>
                <a class="list_link"
                   href="{{ pop_post.permalink }}">
                    {{ pop_post.title|safe }}
                </a>
            </h4>
            <p class="short-desc u-mb0">
                <!-- TODO: Use real content description -->
                This is a brief Description
            </p>
            <p class="date">
                {{ pop_post.date| date('%m/%d/%y') }}
            </p>
        </li>
    {% endfor %}
    </ul>
</div>

{% endmacro %}
