
{% macro render(post, more_like_this) %}

<div class="related-posts">
    <h1 class="header-slug">
        <span class="header-slug_inner">
            Related posts
        </span>
    </h1>
    <ul class="list list__unstyled list__spaced">
    {% for similar in more_like_this(post, search_size=5) %}
        <li class="list_item">
            <a class="list_link"
               href="{{ similar.permalink }}">
                {{ similar.title|safe }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

{% endmacro %}
