{% extends "front/base_nonresponsive.html" %}
{% load static from staticfiles %}

{% block title %}
    Know Before You Owe: Student loans project &gt; Consumer Financial Protection Bureau
{% endblock %}

{% block breadcrumbs %}
<li><a href="/" class="internal-link">Home</a></li>
<li><a href="/students">STUDENTS AND YOUNG CONSUMERS</a></li>
<li>KNOW BEFORE YOU OWE: STUDENT LOANS PROJECT</li>
{% endblock %}

{% block content %}
{% include "front/share_block.html" %}
<article class="page">
    <header class="pagetitle">
        <h1>Know Before You Owe: Student loans project</h1>
    </header>
    <p><img src="https://files.consumerfinance.gov/f/kbyo_sle.png"
            alt="Know before you owe: Student Loans"
            width="792" height="195"
            class="aligncenter size-full wp-image-37157"/></p>
    <p>In 2011, we teamed up with the Department of Education to launch the <a href="/pressreleases/consumer-financial-protection-bureau-and-department-of-education-partner-on-new-financial-aid-shopping-sheet/">Know Before You Owe: student loans project</a>. The project was aimed at creating a <a href="https://collegecost.ed.gov/shopping_sheet.pdf">financial aid shopping sheet</a> which colleges and universities could use to help students better understand the type and amount of grants and loans they qualify for. It also could be used to help students easily compare aid packages offered by different institutions. </p>
    <p>Take a look at our journey to learn more about where the project started and how it’s going to help students across the country.</p>
    <div class="two-col">
    <div class="col">
        <h3>October 2011: Project launch</h3>
        <p>In 2011, we released <a href="https://files.consumerfinance.gov/a/students/disclosure.pdf">a prototype</a> of a model financial aid offer form. We asked the public to react and tell us what was most helpful when comparing aid offers. Thousands of students, parents, guidance counselors, and college officials provided input.
    </div>
    <div class="col">
        <a href="https://files.consumerfinance.gov/f/201306_cfpb_kbyo_graphic1.png">
            <img src="https://files.consumerfinance.gov/f/201306_cfpb_kbyo_graphic1.png"
                 alt="201306_cfpb_kbyo_graphic1"
                 width="310" height="401"
                 class="alignright size-full wp-image-37309" />
        </a>
    </div>
    <hr />
    <h3>January 2012: What you told us</h3>
    <p>We received <a href="/blog/your-feedback-on-know-before-you-owe-student-loans/">feedback</a> from thousands of you on almost every aspect of the “financial aid shopping sheet” prototype. Consumers said having a standardized way to receive financial aid information is important. We released a <a href="https://consumerfinance.gov/f/2012/01/Memorandum_KBYOStudentLoans_FeedbackSummary_Jan2012.pdf">memo</a> detailing your feedback about the shopping sheet to share with the Department of Education. </p>
    <hr />
    <div class="two-col">
    <div class="col">
        <h3>April 2012: Comparing financial aid and college cost</h3>
        <p>Soon after, we built a beta version of the <a href="/paying-for-college/compare-financial-aid-and-college-cost/">compare financial aid and college cost</a> tool. The tool, which complements the shopping sheet, works to help students make cost comparisons tailored to their individual circumstances. Students who received their financial aid offers could use the tool to see how college costs could impact their loan payments down the road.
    </div>
    <div class="col">
        <a href="https://files.consumerfinance.gov/f/201204_cfpb_students_payingforcollege.png">
            <img src="https://files.consumerfinance.gov/f/201204_cfpb_students_payingforcollege.png"
                 alt="201204_cfpb_students_payingforcollege"
                 width="310"
                 height="253"
                 class="alignleft size-full wp-image-37293" />
        </a>
    </div>
    <hr />
    <div class="two-col">
    <div class="col">
        <h3>July 2012: The final shopping sheet</h3>
        <p>After reviewing our memo and reading feedback from the public, the Department of Education unveiled the <a href="https://collegecost.ed.gov/shopping_sheet.pdf">final shopping sheet.</a> The final version reflects many of the suggestions consumers gave in response to the prototype.</p>
        <p>CFPB Director Richard Cordray joined Secretary of Education Arne Duncan for a conference call <a href="/speeches/prepared-remarks-by-richard-cordray-in-a-press-call-about-the-financial-aid-shopping-sheet/">to discuss the finalized form and encourage college and university presidents</a> to adopt the shopping sheet for the 2013-14 school year.
    </div>
    <div class="col">
        <a href="https://files.consumerfinance.gov/f/201306_cfpb_kbyo_graphic3.png">
            <img src="https://files.consumerfinance.gov/f/201306_cfpb_kbyo_graphic3.png"
                 alt="201306_cfpb_kbyo_graphic3"
                 width="310"
                 height="403"
                 class="aligncenter size-full wp-image-37311" /></a>
    </div>
    <hr />
    <h3>November 2012: Hundreds of schools adopt the shopping sheet</h3>
    <p>Just four months after the final product was released, Secretary Duncan announced that <a href="https://www.consumerfinance.gov/blog/more-than-500-colleges-agree-to-adopt-financial-aid-shopping-sheet-2/">500 colleges and universities</a> would be using the shopping sheet for the upcoming school year. </p>
    <hr />
    <h3>April 2014: Thousands more have signed on</h3>
    <p><a href="https://www2.ed.gov/policy/highered/guid/aid-offer/index.html">More than 2,000 schools</a> have now adopted the shopping sheet.</p>
</article>
{% endblock %}
