/* ==========================================================================
   "Form explainer" custom styles
   ========================================================================== */

.form-explainer {
    
    .image-map {
        display: block;
        box-sizing: border-box;
        margin-bottom: unit( 30px / @base-font-size-px, em );
        .u-clearfix();
    }

    .image-map_wrapper {
        position: relative;
    }

    .image-map_image {
        display: block;
        box-sizing: border-box;
        border: 1px solid @black;
    }

    .image-map_overlay {
        position: absolute;
        box-sizing: border-box;
        border: 2px solid transparent;
        background: transparent;
        transition: border 100ms ease-out;
    }

    .image-map_overlay__category-1 {
        & {
            background: rgba( 255, 147, 27, 0.2 );
        }

        &:hover,
        &.hover-has-attention {
            border-color: @gold-80;
        }

        &:focus,
        &.has-attention {
            border-color: @gold-80;
            background: rgba( 255, 147, 27, 0.5 );
        }

        &:focus {
            outline: 1px dotted @gold;
            outline-offset: 1px;
        }
    }

    .image-map_overlay__category-2 {
        & {
            background: rgba( 0, 94, 93, 0.2 );
        }

        &:hover,
        &.hover-has-attention {
            border-color: @teal;
        }

        &:focus,
        &.has-attention {
            border-color: @teal;
            background: rgba( 0, 94, 93, 0.5 );
        }

        &:focus {
            outline: 1px dotted @teal-dark;
            outline-offset: 1px;
        }
    }

    // Expandable overrides

    .o-expandable-group .o-expandable {
        border: 4px solid transparent;
        box-sizing: border-box;
        transition: transform 100ms ease-out;
        margin-bottom: 5px;

        &:first-child {
            border-top: 4px solid transparent;
        }

        &.has-attention {
             .respond-to-min( @bp-sm-min, {
                transform: translateX( unit( -@grid_gutter-width / 2 / @base-font-size-px, em ) );
            });

            .o-expandable_link {
                color: @black;
            }
        }

        .o-expandable_content__expanded:before {
            border: none;
        }

        .o-expandable_label {
            font-size: unit( 16 / @base-font-size-px, em );
        }

        &.o-expandable__form-explainer-category-1 {
            background-color: @gold-20;

            &.has-attention,
            &:hover {
                border-color: @gold-80;
            }

            &.has-attention {
                .o-expandable_target {
                    background-color: @gold-80;
                }

                .o-expandable_label .cf-icon-svg {
                    color: @black;
                }
            }

            .o-expandable_label .cf-icon-svg {
                color: @gold-80;
            }
        }


        &.o-expandable__form-explainer-category-2 {
            background-color: @teal-20;

            &.has-attention,
            &:hover {
                border-color: @teal-80;
            }

            &.has-attention {
                .o-expandable_target {
                    background-color: @teal-80;
                }

                .o-expandable_label .cf-icon-svg {
                    color: @black;
                }
            }

            .o-expandable_label .cf-icon-svg {
                color: @teal-80;
            }
        }

        &.o-expandable__form-explainer + h3 {
            margin-top: unit( @grid_gutter-width / @base-font-size-px, em );
        }
    }

    .o-expandable_header-left {
        max-width: 80%;
    }

    .o-expandable_header-right {
        display: block;
        width: 20%;
        text-align: right;
    }

    .o-expandable_link {
        color: @gray-80;
    }

    .explain {
        margin: 0 auto unit( 60px / @base-font-size-px, em );

        .respond-to-max( @bp-xs-max, {
            &_image-map {
                display:flex;
            }
        });

        .respond-to-min( @bp-sm-min, {
            &_container{
                display:flex;
            }

            &_image-map {
                max-width: 66%;
            }

            .image-map_wrapper {
                position: sticky;
                top: 2vh;
            }

            .image-map_image{
                margin-right: 2px;
                max-height: 96vh;
                max-width: 100%;
            }

            &_terms {
                flex: 1;
                padding-left: unit( 35px / @base-font-size-px, em );
            }

            &_pagination {
                margin-bottom: unit( @grid_gutter-width / 3 / @base-font-size-px, em );
            }
        } );
    }

    .explain_page {
        // Position is needed to allow .explain_image-map
        // to stick to the bottom of .explain_page.
        .respond-to-min( @bp-sm-min, {
            position: relative;
        } );
    }

    .explain_pagination {
        margin-top: unit( 15px / @base-font-size-px, em );
        .u-clearfix();
    }

    .explain_pagination .pagination_form {
        padding-top: unit( 11px / @base-font-size-px, em );
        padding-bottom: unit( 10px / @base-font-size-px, em );
    }

    .form-explainer_page-buttons {
        button {
            position: absolute;
            top: 45%;
            padding-left: unit( 10px / @btn-font-size, em );
            padding-right: unit( 10px / @btn-font-size, em );
            z-index: 100;
            &.prev {
                left: -16px;
            }

            &.next {
                right: -16px;
            }
        }
    }

    .form-explainer_nav-label {
        float: left;
    }

    .form-explainer_page-links {
        margin-bottom: unit( @grid_gutter-width / 3 / @base-font-size-px, em ) !important;
        float: left;
        li {
            float: left;
            a {
                float: left;
                display: block;
                padding: 0 unit( @grid_gutter-width / 2 / @base-font-size-px, em );
                cursor: pointer;

                .respond-to-min( @bp-sm-min, {
                    padding: 0;
                    border-bottom-width: 1px;
                    margin: 0 unit( @grid_gutter-width / 2 / @base-font-size-px, em );
                } );

                &.current-page {
                    &,
                    &:focus,
                    &:hover,
                    &:active {
                        color: @black;
                        border-bottom-width: 0;
                    }
                }
            }
        }
    }
}
