{% import 'macros/util/form.html' as form %}
{% import 'macros/util/common-form-fields.html' as form_field %}
<section class="block
                block__bg
                block__border
                block__flush-sides">
    <form class="form-l js-validate-filters">

        {{ form.input('First Name', 'text', '1-2', true) }}

        {{ form.input('Last Name', 'text', '1-2', true) }}

        {{ form.input('Address 1', 'text', '1', true) }}

        {{ form.input('Address 2', 'text', '1', false) }}

        {{ form.input('City', 'text', '1-3', true) }}

        {{ form_field.state('1-3', true) }}

        {{ form.input('Zip code', 'text', '1-3', true) }}

        {{ form.input('Telephone number', 'tel', '1-2', true) }}

        {# TODO: Add additional times to form select below. #}

        {{ form.select('Best time to reach you',
                       'Select time',
                       ['8:00 a.m'],
                       '1-2'
                      ) }}

        {{ form.input('Fax number', 'tel', '1-2', false) }}

        {{ form.input('Email address', 'email', '1-2', false) }}

        {{ form.input('Request date', 'text', '1-2', true) }}

        {{ form.textarea('Information to amend',
                         'Be as specific as possible and explain why you believe
                          that the information in question is not
                          accurate, relevant, timely, or complete.
                          Please note that a requester bears the burden
                          of proving by the preponderance of the evidence that
                          information is not accurate, relevant, timely, or complete.',
                          true) }}

        <div class="form-l_col form-l_col-1">
            <label for="request-information-location">
                <span class="form-label-header">Location of information</span>
                <br>
                <span class="micro-copy micro-copy__large">
                    Identify the System of Records where you believe the information is located.
                    View a
                    <a href="../system-of-records-notices-sorns/">
                        complete list of our Systems of Records
                    </a>.
                </span>
            </label>
            <textarea class="input__long"
                      id="request-information-location"
                      required></textarea>
        </div>
        <div class="form-actions form-actions__right-on-med">
            <input class="btn form-actions_item"
                   type="submit"
                   value="Generate PDF">
            <a class="btn btn__link form-actions_item u-link__disabled">
                Sample Letter
                <span class="cf-icon cf-icon-pdf"></span>
            </a>
        </div>
    </form>
</section>
