<footer class="footer" role="contentinfo">
    <div class="wrapper wrapper__match-content">

        <div class="footer-pre">

            <a class="btn
                      btn__secondary
                      footer_top-button
                      js-return-to-top"
               href="#">
                Back to top <span class="cf-icon cf-icon-arrow-up"></span>
            </a>

            <ul class="footer_nav-list">
                <li class="list_item">
                    <a class="list_link" href="/contact-us/">
                        Contact Us
                    </a>
                </li>
                <li class="list_item">
                    <a class="list_link" href="/newsroom/">
                        Newsroom
                    </a>
                </li>
                <li class="list_item">
                    <a class="list_link" href="/careers/">
                        Careers
                    </a>
                </li>
                <li class="list_item">
                    <a class="list_link" href="/offices/cfpb-ombudsman/">
                        CFPB Ombudsman
                    </a>
                </li>
            </ul>

            <ul class="footer_share-icon-list">
                <li class="list_item">
                    <a class="share-icon share-icon__large"
                       href="https://facebook.com/cfpb">
                        <span class="cf-icon cf-icon-facebook-square"></span>
                        <span class="u-visually-hidden">Visit us on Facebook</span>
                    </a>
                </li>
                <li class="list_item">
                    <a class="share-icon share-icon__large"
                       href="https://twitter.com/cfpb">
                        <span class="cf-icon cf-icon-twitter-square"></span>
                        <span class="u-visually-hidden">Visit us on Twitter</span>
                    </a>
                </li>
                <li class="list_item">
                    <a class="share-icon share-icon__large"
                       href="https://www.linkedin.com/company/consumer-financial-protection-bureau">
                        <span class="cf-icon cf-icon-linkedin-square"></span>
                        <span class="u-visually-hidden">Visit us on Linkedin</span>
                    </a>
                </li>
                <li class="list_item">
                    <a class="share-icon share-icon__large"
                       href="https://www.youtube.com/user/cfpbvideo">
                        <span class="cf-icon cf-icon-youtube-square"></span>
                        <span class="u-visually-hidden">Visit us on YouTube</span>
                    </a>
                </li>
                <li class="list_item">
                    <a class="share-icon share-icon__large"
                       href="https://www.flickr.com/photos/cfpbphotos">
                        <span class="cf-icon cf-icon-flickr-square"></span>
                        <span class="u-visually-hidden">Visit us on Flickr</span>
                    </a>
                </li>
            </ul>
        </div><!-- END .footer-pre -->


        <div class="footer-middle-left">

            <div class="footer_col">
                <ul class="footer_list">
                    <li class="list_item">
                        <a class="list_link" href="/offices/foia-requests/">
                            FOIA
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/offices/plain-writing/">
                            Plain Writing
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/offices/privacy/">
                            Privacy, Policy & Legal Notices
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/offices/open-government/">
                            Open Government
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_col">
                <ul class="footer_list">
                    <li class="list_item">
                        <a class="list_link" href="/offices/accessibility/">
                            Accessibility
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link"
                           href="/offices/office-of-civil-rights/">
                            Office of Civil Rights
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- END .footer-middle-left -->

        <div class="footer-middle-right">
                <ul class="footer_list">
                    <li class="list_item">
                        <a class="list_link
                                  icon-link
                                  icon-link__external-link"
                           href="http://usa.gov/">
                            USA.gov
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link
                                  icon-link
                                  icon-link__external-link"
                           href="http://www.federalreserve.gov/oig/default.htm">
                            Office of Inspector General
                        </a>
                    </li>
                </ul>
        </div><!-- END .footer-middle-right -->

        <div class="footer-post">
            <p class="footer_official-website">
                An official website of the United States Government
            </p>
        </div><!-- END .footer-post -->

    </div><!-- END .wrapper.wrapper__match-content -->
</footer><!-- END .footer -->
