<header class="header
               wrapper"
        role="banner">

    <button class="primary-nav_trigger js-primary-nav_trigger">
        <span class="u-visually-hidden">Menu</span>
    </button>

    <a href="/">
        <img class="header_logo u-js-only"
             src="/static/img/logo_sm-exec.svg"
             onerror="this.onerror=null;this.src='/static/img/logo_sm-exec.png';"
             alt="Consumer Financial Protection Bureau"
             width="237"
             height="50">
        <noscript>
            <img class="header_logo logo__no-js"
                 src="/static/img/logo_sm-exec.png"
                 alt="Consumer Financial Protection Bureau"
                 width="237"
                 height="50">
        </noscript>
    </a>

    {# TODO: Re-add this block when the content is cleared for release,
             and an Español link exists. #}
    {#
    <div class="header_misc">
        Contact us: <a class="header_misc_tel" href="tel:8554112372">(855) 411-2372</a>
        <a class="header_misc_es">Español</a>
    </div>
    #}

    {% block primary_nav %}
        {% include 'templates/nav/primary-nav.html' %}
    {% endblock primary_nav %}
</header>
