
{# ==========================================================================

   category_icon.render()

   ==========================================================================

   Description:

   Create an HTML icon when given:

   category:           A document type category.

   additional_classes: Extra classes you wish to add to the icon, space
                       separated.

   ========================================================================== #}

{% macro render(category, additional_classes) %}
    {%- if category|lower == 'info for consumers' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-information"></span>
    {%- elif category|lower == 'at the cfpb' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-bullhorn"></span>
    {%- elif category|lower == 'data, research & reports' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-chart"></span>
    {%- elif category|lower == 'policy & compliance' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-bank-account"></span>
    {%- elif category|lower == 'speech' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-microphone"></span>
    {%- elif category|lower == 'press release' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-bullhorn"></span>
    {%- elif category|lower == 'op-ed' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-contract"></span>
    {%- elif category|lower == 'testimony' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-double-quote"></span>
    {%- elif category|lower == 'cfpb_report' -%}
    <span class="{{ additional_classes }}"></span>
    {%- elif category|lower == 'blog' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-speech-bubble"></span>
    {%- elif category|lower == 'newsroom' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-newspaper"></span>
    {%- endif -%}
{% endmacro %}
