{# ==========================================================================

   sub_nav()

   ==========================================================================

   Description:

   Creates sub-nav markup when given:

   sub_nav_title:   A string used for the sub nav title.

   sub_nav_landing: A string used for the url of the sub nav landing page

   sub_nav_items:   An array of tuples.

   sub_nav_media:   A string composed of html markup.

   ========================================================================== #}

{% macro render(sub_nav_title, sub_nav_landing, sub_nav_items, sub_nav_media) %}
<div class="sub-nav_wrapper">
    <div class="sub-nav_inner-wrapper
                wrapper">
        <section class="sub-nav_menu">
            <h4 class="sub-nav_title u-show-on-desktop">
                <a href="{{ sub_nav_landing }}">{{ sub_nav_title }}</a>
            </h4>
            <hr class="content-line content-line__nav u-show-on-desktop">
            {%- for sub_nav_item in sub_nav_items %}
                <ul class="sub-nav_menu-list
                           list__unstyled
                           list-expanding
                           list-expanding_child-list">
                    {%- for href, id, caption in sub_nav_item %}
                        <li class="list_item list-expanding_list-item">
                          {% if href == '' %}
                              <a class="list_link u-link__disabled">
                                  {{ caption | safe }}
                              </a>
                          {% else %}
                              <a class="list_link list_link{{'__current' if href == request.path }}"
                                  href="{{ href|e }}">
                                  {{ caption | safe }}
                             </a>
                          {% endif %}
                        </li>
                    {%- endfor %}
                </ul>
            {%- endfor %}
        </section>
        <aside class="sub-nav_media
                      u-show-on-desktop">
            {{ sub_nav_media }}
        </aside>
    </div>
</div>
{% endmacro %}
