{# ==========================================================================

   sub_pages.render()

   ==========================================================================

   Description:

   Builds sub-pages markup when given:

   sub_pages:        An array containing sub-pages.

   title (optional): String to use for the sub-pages markup title.

   ========================================================================== #}

{% macro render( sub_pages, title ) %}
    {% set is_office_page = request.path.find('/offices/') > -1 %}
    {% for page in sub_pages | sort(attribute='order') %}
        {% set expandable_title = page.short_title or page.title  %}
        {% if loop.first %}
            <section class="block
                            block__sub
                            block__padded-top
                            block__border-top
                            qa-subpage
                            {{ 'block__border-bottom' if is_office_page == false }}">
                  {% if title %}
                      <h2>
                          {{ title }}
                      </h2>
                  {% endif %}
                  <div class="content-l
                              content-l__main
                              content-l__large-gutters
                              ">
        {% endif %}
                      <div class="expandable
                                  expandable__expanded
                                  expandable__mobile-only
                                  content-l_col
                                  {# TODO: When we upgrade to Jinja2 2.8
                                           we can use loop.length to
                                           conditionally set this to one column or two.
                                  #}
                                  content-l_col-1-2
                                  ">
                      <button class="expandable_header
                                     expandable_header__jump-link
                                     expandable_target
                                     u-show-on-mobile">
                          {% if expandable_title %}
                              <span class="expandable_header-left expandable_label">
                                  {{ expandable_title | safe }}
                              </span>
                          {% endif %}
                          <span class="expandable_header-right expandable_link">
                              <span class="expandable_cue-open">
                                  <span class="cf-icon cf-icon-plus-round"></span>
                              </span>
                              <span class="expandable_cue-close">
                                  <span class="cf-icon cf-icon-minus-round"></span>
                              </span>
                          </span>
                      </button>
                      <div class="expandable_content">
                          {% if expandable_title %}
                              <h3 class="h4 u-hide-on-mobile">
                                  {{ expandable_title | safe }}
                              </h3>
                          {% endif %}
                          {% if page.excerpt %}
                              <p class="short-desc">
                                  {{ page.excerpt | safe }}
                              </p>
                          {% endif %}
                          {% if is_office_page == false and page.related_links %}
                              <ul class="list__links">
                                  {% for link in page.related_links %}
                                      <li class="list_item">
                                          <a class="list_link" href="{{link.url}}">
                                              {{ link.label }}
                                          </a>
                                      </li>
                                  {% endfor %}
                              </ul>
                          {% elif is_office_page or not page.related_links %}
                              <a class="jump-link jump-link__underline" href="{{ page.permalink }}">
                                  {{ page.preview_text or 'Read more' }}
                              </a>
                          {% endif %}
                      </div>
                  </div><!-- END .expandable -->
        {% if loop.last %}
                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endmacro %}
