{# ==========================================================================

   YouTube.render()

   ==========================================================================

   Description:

   Builds YouTube markup when given:

   options (optional): An object used to customize the YouTube markup.

   options.image_res: The image resolution to use for the YouTube image.

   options.video_id: An id associated with a YouTube video.

   ========================================================================== #}

{% macro render(options) -%}
    {% import 'macros/share.html' as share %}
    {% set image_res = options.image_res | default('default') %}
    {% set image_res_options = {
          'default' : 'default.jpg',
          'standard': 'sddefault.jpg',
          'medium'  : 'mqdefault.jpg',
          'max'     : 'maxresdefault.jpg',
          'high'    : 'hqdefault.jpg'
        }
    %}
    {% set video_id  = options.video_id %}
    {% set image_url = options.image_url | default(
                                              'https://img.youtube.com/vi/'
                                              + video_id
                                              + '/'
                                              + image_res_options[image_res]
                                           )
    %}
    <div class="youtube-player_container" data-video-id="{{ video_id }}">
        {{ caller() | safe if caller }}
        <div class="youtube-player_video-container show-on_yt-playing">
            <div class="youtube-player_iframe-container">
                <div id="youtube-player"></div>
            </div>
            <div class="youtube-player_actions-container">
                <div class="youtube-player_video-actions">
                    <a class="btn youtube-player_close-btn" href="/the-bureau/">
                        <span class="btn_icon__left cf-icon cf-icon-delete-round cf-icon-left"></span>
                        close
                    </a>
                </div>
                {{ share.render({
                    'title': 'About the CFPB',
                    'heading': 'Share this video',
                    'additional_classes': 'youtube-player_share-actions'
                }) }}
            </div>
        </div>
        <div class="youtube-player_image-container hide-on_yt-playing">
            <a class="youtube-player_play-btn"
               href="https://www.youtube.com/watch?v={{ video_id }}"
               target="_blank">
                <span class="u-visually-hidden">Play video</span>
            </a>
            <img class="youtube-player_image"
                 alt="YouTube video image"
                 src="{{ image_url }}">
        </div>
  </div>
{%- endmacro %}
