{% extends 'layout-side-nav.html' %}
{% import '_vars-doing-business-with-us.html' as vars with context %}
{% import 'organisms/well.html' as well %}

{% block title -%}
    Doing business with us
{%- endblock %}

{% block desc -%}
    Information about existing and future procurements by the CFPB.
{%- endblock %}

{% block content_main_modifiers %}
    {{ super() }} content__flush-bottom
{% endblock %}

{% block content_main %}

    <h1 data-qa-hook="main-title">Doing Business with Us</h1>
    <p class="h3" data-qa-hook="main-summary">
        We work with vendors who can help us find or develop the right tools, people, strategies,
        infrastructure, and programs in support of our mission. We do this work in the open. Here
        you’ll find information about both existing and future procurements. Any questions?
        <a href="mailto:david.gragan@cfpb.gov">Contact our head of procurement.</a>
    </p>

    <section class="block
                    block__flush-sides"
             data-qa-hook="opportunity-well">
        {{ well.render( 'doing-business-with-us/_template-opportunities-well-content.html' ) }}
    </section>

    <div class="block content-l content-l__main"
         data-qa-hook="more-info">

        <section class="content-l_col content-l_col-1-2">
            <h2 class="h3">Existing and past service contracts</h1>
            <p class="short-desc">
                Each year, we publish worksheets of all our service contracts and the details of
                our largest contracts. We also send a memo to the Office of Management and Budget
                describing budget analysis we are planning to do.
            </p>
            <a class="jump-link jump-link__underline" href="past-awards/">
                <span class="jump-link_text">See our yearly service contract information</span>
            </a>
        </section>

        <section class="content-l_col
                        content-l_col-1-2
                        content-l_col__before-divider">
            <h2 class="h3">Small, women-owned, and minority-owned businesses</h1>
            <p class="short-desc">
                We have specific information about special processes and opportunities for small,
                women-owned, and minority-owned businesses. You can also see data on existing work
                we do with these businesses.
            </p>
            <a class="jump-link jump-link__underline" href="small-businesses/">
                <span class="jump-link_text">More information for small, women-owned, and minority-owned
                    businesses</span>
            </a>
        </section>

    </div>

{% endblock %}
