/* ==========================================================================
   cfgov-refresh
   cfgov-blog-docs
   ========================================================================== */


/* topdoc
  name: Slugs
  family: cfgov-blog-docs
  patterns:
    - name: Blog slugs
      markup: |
        <a href="#" class="category-slug">
            <span class="cf-icon cf-icon-help"></span>
            <span class="visually-hidden">Category:</span>
            Announcements & updates
        </a><br>
        <a href="#" class="category-slug">
            <span class="cf-icon cf-icon-help"></span>
            <span class="visually-hidden">Category:</span>
            Consumer information
        </a><br>
        <a href="#" class="category-slug">
            <span class="cf-icon cf-icon-help"></span>
            <span class="visually-hidden">Category:</span>
            Engagement
        </a><br>
        <a href="#" class="category-slug">
            <span class="cf-icon cf-icon-help"></span>
            <span class="visually-hidden">Category:</span>
            Innovation & data
        </a>
      notes:
        - "Official icons are still being developed, hence the ?."
  tags:
    - cfgov-blog-docs
*/


/* topdoc
  name: Post previews
  family: cfgov-blog-docs
  patterns:
    - name: Post preview (no image)
      codenotes:
        - |
          .post-preview
            .meta-header
              .meta-header_right.date
              .meta-header_left.category-slug
            .summary
              .summary_header
              .summary_text
              .summary_byline
      markup: |
        <article class="post-preview">
            <div class="meta-header">
                <span class="meta-header_right date">
                    Nov 4, 2013
                </span>
                <a href="#" class="meta-header_left category-slug">
                    <span class="cf-icon cf-icon-help"></span>
                    Consumer information
                </a>
            </div>
            <a class="summary" href="#">
                <h1 class="summary_header">Preventing illegal discrimination in auto lending</h1>
                <p class="summary_text">Every year, millions of American families buy a car – and it will be one of the most significant purchases they make. One key priority for us is protecting consumers from the silent pickpocket of discrimination.</p>
                <p class="summary_byline">By Patrice Ficklin</p>
            </a>
        </article>
    - name: Post preview (with image)
      codenotes:
        - |
          .post-preview
            .meta-header
              .meta-header_right.date
              .meta-header_left.category-slug
            .media-object
              .media-object_image-container
              .media-object_text-container.summary
                .summary_header
                .summary_text
                .summary_byline
      markup: |
        <article class="post-preview">
            <div class="meta-header">
                <span class="meta-header_right date">
                    Nov 4, 2013
                </span>
                <a href="#" class="meta-header_left category-slug">
                    <span class="cf-icon cf-icon-help"></span>
                    Consumer information
                </a>
            </div>
            <a class="media-object" href="#">
                <div class="media-object_image-container">
                    <img class="media-object_image" src="http://placekitten.com/290/155" alt="">
                </div>
                <div class="media-object_text-container summary">
                    <h1 class="summary_header">
                        Live from Phoenix!
                    </h1>
                    <p class="summary_text">
                        This event was a training for housing counselors, legal aid
                        attorneys, and other advocates on the new mortgage servicing
                        rules that take effect today. 
                    </p>
                    <p class="summary_byline">
                        By Patrice Ficklin
                    </p>
                </div>
            </a>
        </article>
  tags:
    - cfgov-blog-docs
*/

.post-preview + .post-preview {
    margin-top: 50px;
}


/* topdoc
  name: EOF
  eof: true
*/
