/* ==========================================================================
   cfgov-refresh
   Bureau mission page at /the-bureau/.
   ========================================================================== */

// Size of play button image;
@play-btn-size__px: 73px;

.bureau-mission {
    margin-bottom: unit(45px / @base-font-size-px, em);

    .respond-to-min(1024px, {
        margin-top: unit(60px / @base-font-size-px, em);
    });

    &_media .image-container {
        margin-left: 10px;
    }

    &_section {
        margin-top: unit(30px / @base-font-size-px, em);
    }

    &_section + &_section {
        .respond-to-min(600px, {
            border-top: 1px solid @gray-50;
            padding-top: unit(30px / @base-font-size-px, em);
        });
    }

    .media_image {
        width: 120px;
        .respond-to-max(1024px, {
            width: 80px;
        });
    }
}

.bureau-functions {

    .respond-to-min(600px, {
        border-top: 1px solid @gray-50;
    });

    &_list {
        .webfont-regular();
        .respond-to-min(1024px, {
            .grid_column(6);
        });
    }

    .expandable {
        background-color: inherit;
    }
}

.bureau-bio {

    .media_image {
        width: 125px;
        .respond-to-max(1024px, {
            width: 80px;
        });
    }

    &_name {
        .h3();
        margin-bottom: unit(19px / @font-size, em);
        .respond-to-max(1024px, {
            .h4();
            margin-bottom: unit(15px / @font-size, em);
        });
    }

}

.bureau-history {
    position: relative;

    &_header {
        .respond-to-min(1024px, {
            position: absolute;
            left: 277px;
            top: 25px;
        });
    }

    &_text {
        .respond-to-min(1024px, {
            position: relative;
            top: 48px;
        });
    }

    &_image {
        width: 250px;

        .respond-to-max(599px, {
            width: 100%;
            max-width: 100%;
        });

        .respond-to-range(600px, 768px, {
            width: 215px;
        });
    }
}

.slick-slider {
    margin-top: 45px;

    .slick-dots {
        bottom: 0;
        top: -25px;

        li {
            margin: 0px;

            button {
                &:before {
                    color: @gray-50;
                    font-size: 40px;
                    opacity: 1;
                }

                &:hover:before {
                    color: @gray;
                }
            }

        }

        li.slick-active {
            button:before {
                opacity: 1;
                color: @gray;
            }
        }
    }

    .slick-prev {
        left: 10%;

        &:before {
            // cf-icon-left.
            content: "\e000";
        }
    }

    .slick-next {
        right: 10%;

        &:before {
            // cf-icon-right.
            content: "\e002";
        }
    }

    .slick-prev,
    .slick-next {
        height: 30px;
        width: 30px;
        top: 75px;
        z-index: 1000;

        &:hover:before {
            color: @gray-50;
        }

        &:before {
            color: @gray-20;
            opacity: 1;
            font-size: 30px;
            .cf-icon();
        }
    }
}

// Used to help center video container
@share-width__px: 150px;
@gutter__em: unit(@grid_gutter-width  / @base-font-size-px, em);
@gutter-half__em: @gutter__em / 2;

.hero__bureau {
    padding-top: 0;

    .hero_wrapper {

        .respond-to-min(661px, {
            padding-top: @gutter__em * 2;
        });
    }
}

.hero_card__bureau {
    .hero_preview {
        padding-bottom: @gutter__em * 2;
    }

    .jump-link {
        display: block;
        margin: @gutter-half__em 0;
    };
}

#youtube-player {
    float: left;

    .respond-to-min(1024px, {
        padding-left: @share-width__px;
    });

    .respond-to-max(825px, {
        .u-flexible-container_inner();
    });
}

.youtube-player_container {
    overflow: hidden;
}

.youtube-player_container.yt-playing {
    background-color: #000;

    .hide-on_yt-playing {
        display: none;
    }

    .show-on_yt-playing {
        display: block;
    }

    .youtube-player_video-container {
        display: table;

        .respond-to-max(825px, {
            display: block;
        });
    }

    .respond-to-max(660px, {
        margin-top: 0;
    });
}

.youtube-player_iframe-container {
    float: left;

    .respond-to-max(825px, {
        .u-flexible-container();
        width: 100%;
    });
}

.youtube-player_image {
    left: 0;
    position: absolute;
    top: 0;

    &__center {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
}

.youtube-player_image-container {

    .respond-to-max(660px, {
        .u-flexible-container();
    });
}

.youtube-player_play-btn {
    background: url('/static/img/youtube-play-btn.png') no-repeat;
    height: @play-btn-size__px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: @play-btn-size__px;
    z-index: 10;
}

.lt-ie9 {
    .youtube-player_play-btn {
        margin-left: -1 * @play-btn-size__px;
    }
}

.youtube-player_actions-container {
    color: @white;
    float: left;

    h1 {
        margin: @gutter__em 0 @gutter-half__em 0;
    }

    .respond-to-max(825px, {
        .grid_wrapper();
        margin: @gutter-half__em 0;
        padding: 0;
        width: 100%;
    });

    .respond-to-min(826px {
        margin: @gutter__em 0 0 @gutter__em;
        width: @share-width__px;
    });
}

.youtube-player_share-actions {
    .h5, .post_share {
        .respond-to-max(825px, {
            display: inline-block;
            margin: 0 0 0 @gutter-half__em;
            vertical-align: text-top;
        });
    }

    // Adding white background to the share icons
    // without overlap.
    .cf-icon {
        background: @white;
        height: 20px;
        width: 22px;

        &:before {
            position: relative;
            top: -3px;
        }
    }

    .share-icon {
        color: @pacific;
    }

    .respond-to-max(825px, {
        .grid_column(3, 5);
        text-align: right;
    });
}

.youtube-player_video-container {
    display: none;
    margin: auto;
}

.youtube-player_video-actions {

    .respond-to-max(825px, {
        .grid_column(2, 5)
    });
}
