.bureau-mission {
    margin-bottom: unit(45px / @base-font-size-px, em);
    
    .respond-to-min(1024px, {
        margin-top: unit(60px / @base-font-size-px, em);
    });
    
    &_media .image-container {
        margin-left: 10px;
    }
    
    &_section {
        margin-top: unit(30px / @base-font-size-px, em);
    }
    
    &_section + &_section {
        .respond-to-min(600px, {
            border-top: 1px solid @gray-50;
            padding-top: unit(30px / @base-font-size-px, em);
        });
    }
}

.bureau-functions {
    
    .respond-to-min(600px, {
        border-top: 1px solid @gray-50;
    });
    
    &_list {
        .webfont-regular();
        .respond-to-min(1024px, {
            .grid_column(6);
        });
    }
    
    .expandable {
        background-color: inherit;
    }
}

.bureau-bio {
    
    .media_image {
        width: 125px;
        .respond-to-max(1024px, {
            width: 80px;
        });
    }
    
    &_name {
        .h3();
        margin-bottom: unit(19px / @font-size, em); 
        .respond-to-max(1024px, {
            .h4();
            margin-bottom: unit(15px / @font-size, em);
        });
    }
    
}

.bureau-history {
    position: relative;
    
    &_header {
        .respond-to-min(1024px, {
            position: absolute;
            left: 277px;
            top: 25px;
        });
    }

    &_text {
        .respond-to-min(1024px, {
            position: relative;
            top: 48px;
        });
    }
    
    &_image {
        width: 250px;
        
        .respond-to-max(599px, {
            width: 100%;
            max-width: 100%;
        });
        
        .respond-to-range(600px, 768px, {
            width: 215px;
        });
    }
}
.slick-slider {
    margin-top: 45px;

    .slick-dots {
        bottom: 0;
        top: -25px;

        li {
            margin: 0px;

            button {
                &:before {
                    color: @gray-50;
                    font-size: 40px;
                    opacity: 1;
                }
                
                &:hover:before {
                    color: @gray;
                }
            }
    
        }

        li.slick-active {
            button:before {
                opacity: 1;
                color: @gray;
            }
        }
    }
    
    .slick-prev {
        left: 10%;

        &:before {
            // cf-icon-left
            content: "\e000";
        }
    }

    .slick-next {
        right: 10%;

        &:before {
            // cf-icon-right
            content: "\e002";
        }
    }

    .slick-prev,
    .slick-next {
        height: 30px;
        width: 30px;
        top: 75px;
        z-index: 1000;

        &:hover:before {
            color: @gray-50;
        }

        &:before {
            color: @gray-20;
            opacity: 1;
            font-size: 30px;
            .cf-icon();
        }
    }
    
}



