/* ==========================================================================
   cfgov-refresh
   Business with us pages at /doing-business-with-us/.
   ========================================================================== */

// Used to set padding to 30px
@padding: unit(@grid_gutter-width / @base-font-size-px, em);

.block__business-step {
    .respond-to-min(899px, {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    });
}

.block__business-step_container {
    .respond-to-max(899px, {
        // Adjusting padding to offest line height.
        padding: unit((@grid_gutter-width - 7px)/ @base-font-size-px, em) @padding @padding;
        margin-top: 0;
    });
}

.nav__small-business {
    .expandable_header {
        position: relative;
    }

    .expandable_header-right {
        .node_expander();
        .respond-to-max(@mobile-max, {
            margin-top: -@base-font-size-px;   
        });
        top: @base-font-size-px;
    }
}

