/* ==========================================================================
   cfgov-refresh
   demo
   ========================================================================== */


.demo-banner {
    padding: 0.5em 1em;
    background: @darkgray;
    color: @white;
    .webfont-regular();
    @media @respond-to-small-screens-max {
        font-size: 0.875em;
    }
}

.demo-banner_back-link {
    padding: 0.25em 0;
    margin-right: 1em;

    &:link,
    &:visited {
        color: @pacific-50;
    }
    &:hover,
    &:focus {
        color: @pacific-80;
    }
    &:active {
        color: @gray-50;
    }

    @media @respond-to-medium-screens-min {
        padding: 0;
        float: left;
    }
}

.demo-banner b {
    .webfont-medium();

    @media @respond-to-small-screens-max {
        display: block;
    }
}

.demo-placeholder {
    @font-size: 14px;
    display: inline-block;
    padding:
        unit(8px / @font-size, em)
        unit(12px / @font-size, em);
    margin: 3em 0;
    color: @gray;
    .webfont-regular();
    font-size: unit( @font-size / @base-font-size-px, em );
    line-height: 1;
    border: 2px dashed @gray-50;
    background: @gray-5;
}

.demo-logo {
    margin: 26px 0;
}

.demo-spaced {
    margin-bottom: unit(26px / @base-font-size-px, em);
}

.demo-cols {
    .nested-col-group();
}

.demo-col-12 {
    .column(12);
}

.demo-col-6 {
    .column(6);
}
