/* ==========================================================================
   cfgov-refresh
   layout
   ========================================================================== */

.wrapper {
    .u-respond-to-min(801px, {
        .grid_wrapper();
    });
    .lt-ie9 & {
        min-width: 800px;
        max-width: 960px;
    }
}

.content_bar {
    height: 10px;
    background: @green;
}

.content_main,
.content_sidebar {
    padding: unit(@grid_gutter-width / @base-font-size-px, em)
             unit((@grid_gutter-width / 2) / @base-font-size-px, em);

    .u-respond-to-min(600px, {
        .grid_column(12);
        padding: unit((@grid_gutter-width * 2) / @base-font-size-px, em)
                 unit((@grid_gutter-width / 2) / @base-font-size-px, em);
    });
}

.header .demo-placeholder,
.content_hero .demo-placeholder,
.footer .demo-placeholder {
    // Temporary styling to bring in line with main columns.
    margin-left: (@grid_gutter-width / 2);

    .u-respond-to-range(600px, 800px, {
        margin-left: @grid_gutter-width;
    });
}

// Set up standard multi-column content area layouts
.u-respond-to-min(801px, {
    .content {
        &__1-3 {
            .content_main {
                .grid_column(9);
                .grid_push(3);
            }
            .content_sidebar {
                .grid_column(3);
                .grid_pull(9);
            }
        }

        &__2-1 {
            .content_main {
                .grid_column(8);
            }
            .content_sidebar {
                .grid_column(4);
            }
        }
    }

    .content_main,
    .content_sidebar {
        padding: unit((@grid_gutter-width * 2) / @base-font-size-px, em) 0;
    } 
}); // END min-width 801 block

.u-respond-to-min(1024px, {
    .content {
        &__2-1 {
            .content_main__narrow {
                .grid_column(7, @grid_total-columns, 0, 1);
            }
        }
    }
});


.content__bleedbar {

    .content_sidebar {
        padding: 2em unit((@grid_gutter-width / 2) / @base-font-size-px, em);
        background: @gray-10;
    }

    .u-respond-to-min(801px, {

        // Prevent pseudo element background from creating horizontal scrollbar.
        overflow: hidden;

        .content_sidebar {
            padding: unit((@grid_gutter-width * 2) / @base-font-size-px, em)
                     0
                     unit((@grid_gutter-width / 2) / @base-font-size-px, em)
                     unit(@grid_gutter-width / @base-font-size-px, em);
            margin-left: 0;

            // Remove background color from actual sidebar.
            // It will now be provided by pseudoelement :after sidebar parent.
            background: transparent;

            .lt-ie8 & {
                // Make sure the sidebar still has a background in IE7.
                padding-right: @grid_gutter-width;
                background: @gray-10;
            }
        }

        .content_wrapper:after {
            // Create faux sidebar background.
            content: '';
            display: block;
            width: 9999px;
            border-left: 1px solid @gray-50;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
            // The three in the below calculation is a magic number.
            // Not entirely sure what to do about it right now.
            margin-left: (@grid_gutter-width / 3);
            background: @gray-10;
        }

        &.content__2-1 .content_wrapper:after {
            left: 66.666666667%;    
        }
        &.content__3-1 .content_wrapper:after {
            left: 75%;
        }

    }); // END min-width 801 block

} // END .content__bleedbar

.footer {
    padding: 1.5em 0;
    border-top: 3px solid @green;
    background: @gray-10;
}
