/* ==========================================================================
   cfgov-refresh
   Master Less File
   ========================================================================== */

// @import Normalize before all other Less/CSS
@import (less) "../../vendor/normalize-css/normalize.css";
@import (less) "../../vendor/normalize-legacy-addon/normalize-legacy-addon.css";

// @import combined CF component Less
@import (less) "../../vendor/cf-concat/cf.less";

//* @import other components' Less below
@import (less) "../../vendor/font-awesome/font-awesome.css";


/* Project-specific Less goes below
   ========================================================================== */

@import (less) "media-block.less";


.demo-banner {
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background: @gray-20;
    .webfont-regular;

    &_back-link {
        margin-right: 1em;
    }
}


.content {
    .column(8);
    padding: 2em 0;
    margin-left: -(@gutter-width / 2);
}
.sidebar {
    .column(4);
    margin-right: -(@gutter-width / 2);
    background: @gray-20;
    // Need to bring in bleeding sidebar treatment from CFPB Open Tech
}


// STUFF THAT SHOULD PROBABLY MOVE TO CF-LAYOUT

.wrapper {
    .wrapper();
}
.header {
    border-bottom: 10px solid @green;
}
.hero {
    padding: 1em 2em;
    background: @gray-10;

    > h1 {
        margin: 0;
    }
}
.footer {
    padding: 1.5em 0;
    background: @gray-10;
}
