/* ==========================================================================
   cfgov-refresh
   Master Less File
   ========================================================================== */

// @import Normalize before all other Less/CSS
@import (less) "../../vendor/normalize-css/normalize.css";
@import (less) "../../vendor/normalize-legacy-addon/normalize-legacy-addon.css";

// @import combined CF component Less
@import (less) "../../vendor/cf-concat/cf.less";

//* @import other components' Less below
@import (less) "../../vendor/font-awesome/font-awesome.css";


/* Demo-specific styles
   ========================================================================== */

@import (less) "demo.less";


/* Project-specific styles
   ========================================================================== */

@import (less) "vars.less";
@import (less) "utilities.less";
@import (less) "meta.less";
@import (less) "media-object.less";

//
@import url(http://fast.fonts.net/t/1.css?apiType=css&projectid=0a274127-32a9-474a-bbdb-f23f410e88c5);
@font-face{
font-family:"Avenir Next W01_n4";
src:url("http://fast.fonts.net/dv2/2/e9167238-3b3f-4813-a04a-a384394eed42.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("eot");
}
@font-face{
font-family:"Avenir Next W01";
src:url("http://fast.fonts.net/dv2/2/e9167238-3b3f-4813-a04a-a384394eed42.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("eot");
font-weight:400;font-style:normal;
}
@font-face{
font-family:"Avenir Next W01";
src:url("http://fast.fonts.net/dv2/2/e9167238-3b3f-4813-a04a-a384394eed42.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5");
src:url("http://fast.fonts.net/dv2/3/1e9892c0-6927-4412-9874-1b82801ba47a.woff?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("woff"),url("http://fast.fonts.net/dv2/1/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("truetype"),url("http://fast.fonts.net/dv2/11/52a192b1-bea5-4b48-879f-107f009b666f.svg?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
font-weight:400;font-style:normal;
}
@font-face{
font-family:"Avenir Next W01_i4";
src:url("http://fast.fonts.net/dv2/2/d1fddef1-d940-4904-8f6c-17e809462301.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("eot");
}
@font-face{
font-family:"Avenir Next W01";
src:url("http://fast.fonts.net/dv2/2/d1fddef1-d940-4904-8f6c-17e809462301.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("eot");
font-weight:400;font-style:italic;
}
@font-face{
font-family:"Avenir Next W01";
src:url("http://fast.fonts.net/dv2/2/d1fddef1-d940-4904-8f6c-17e809462301.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5");
src:url("http://fast.fonts.net/dv2/3/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("woff"),url("http://fast.fonts.net/dv2/1/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("truetype"),url("http://fast.fonts.net/dv2/11/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");
font-weight:400;font-style:italic;
}
@font-face{
font-family:"Avenir Next W01_n5";
src:url("http://fast.fonts.net/dv2/2/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("eot");
}
@font-face{
font-family:"Avenir Next W01";
src:url("http://fast.fonts.net/dv2/2/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("eot");
font-weight:500;font-style:normal;
}
@font-face{
font-family:"Avenir Next W01";
src:url("http://fast.fonts.net/dv2/2/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5");
src:url("http://fast.fonts.net/dv2/3/f26faddb-86cc-4477-a253-1e1287684336.woff?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("woff"),url("http://fast.fonts.net/dv2/1/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("truetype"),url("http://fast.fonts.net/dv2/11/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
font-weight:500;font-style:normal;
}
@font-face{
font-family:"Avenir Next W01_n7";
src:url("http://fast.fonts.net/dv2/2/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("eot");
}
@font-face{
font-family:"Avenir Next W01";
src:url("http://fast.fonts.net/dv2/2/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("eot");
font-weight:700;font-style:normal;
}
@font-face{
font-family:"Avenir Next W01";
src:url("http://fast.fonts.net/dv2/2/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5");
src:url("http://fast.fonts.net/dv2/3/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("woff"),url("http://fast.fonts.net/dv2/1/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5") format("truetype"),url("http://fast.fonts.net/dv2/11/99affa9a-a5e9-4559-bd07-20cf0071852d.svg?d44f19a684109620e4841679a390e818f15f4c3a416f72bce690397bb3766ef8eceac813423d2bb04b532149f84e22208d917f967083a8f4340c08349685825b1de474ee6af3335c1497db256ac1a3a1622ba20fce62851d84ead2074a0dabd04dd21f4092b08bd061a2d5e4da9e10f56e56d7af5d500aa46d0400d2fe752865e75abbaac52aec99c861c07e13d21d06dcf016cf156eec6b3f0a90f4f6a567e28f52be35452c2ec15bcb371d4d787a67f153f3e56406b310572fb7c49cab50790a9c1ced10e9c811dddf9ba3&projectId=0a274127-32a9-474a-bbdb-f23f410e88c5#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
font-weight:700;font-style:normal;
}
@media all and (min-width: 0px) {
}

//

.content {
    .column(8);
    padding: 2em 0;
    margin-left: -(@gutter-width / 2);
}
.sidebar {
    .column(4);
    margin-right: -(@gutter-width / 2);
    background: @gray-20;
    // Need to bring in bleeding sidebar treatment from CFPB Open Tech
}


// STUFF THAT SHOULD PROBABLY MOVE TO CF-LAYOUT

.wrapper {
    .wrapper();
}
.header {
    border-bottom: 10px solid @green;
}
.hero {
    padding: 1em 2em;
    background: @gray-10;

    > h1 {
        margin: 0;
    }
}
.footer {
    padding: 1.5em 0;
    background: @gray-10;
}


// Post styles

.post-preview + .post-preview {
    margin-top: 50px;
}
