/* ==========================================================================
   cfgov-refresh
   Master Less File
   ========================================================================== */


// @import Normalize before all other Less/CSS
@import (less) "../../vendor/normalize-css/normalize.css";
@import (less) "../../vendor/normalize-legacy-addon/normalize-legacy-addon.css";

// @import third party plugins
@import (less) "../../vendor/chosen/chosen.css";

// Chosen overrides
.chosen-container {
    font-size: 1em;

    a {
        border-bottom: none !important;
    }

    &,
    * {
        box-shadow: none !important;
        font-family: Arial, sans-serif;
    }

    &.chosen-container-multi .chosen-choices li.search-field input[type=text] {
        width: 90% !important;
        height: auto;
        margin: 0;
        padding: unit(6px / @base-font-size-px, em);
        color: @gray;
    }

    &.chosen-container .chosen-drop {
        margin-top: 1px;
        border-color: @pacific;
        outline: 1px solid @pacific;
    }

    &.chosen-container-multi .chosen-choices {
        border-color: @gray-80;
        background-color: @white;
        background-image: none !important;
    }

    &.chosen-container-multi.chosen-container-active .chosen-choices {
        border-color: @pacific;
        outline: 1px solid @pacific;
    }

    &.chosen-container-multi .chosen-choices li.search-choice {
        margin-left: 3px;
        border-color: @gray-80;
        background-color: @gray-10;
        background-image: none !important;
        font-size: unit(13px / @base-font-size-px, em);
        line-height: unit(12 / 13);
    }

    &.chosen-container-multi .chosen-drop .result-selected {
        color: @gray;
    }

    .highlighted {
        background-color: @pacific;
        background-image: none !important;
    }

    &.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        top: 3px;
    }
}

// @import combined CF component Less and make any overrides
@import (less) "../../vendor/cf-concat/cf.less";
@cf-icon-path: "/static/fonts";
@grid_box-sizing-polyfill-path: "/cfgov-refresh/static/vendor/box-sizing-polyfill";


/* Demo-specific styles
   ========================================================================== */

@import (less) "demo.less";


/* Base styles
   ========================================================================== */

img {
    max-width: 100%;
}


/* Project-specific styles
   ========================================================================== */

@import (less) "cf-enhancements.less";
@import (less) "layout.less";
@import (less) "nav-secondary.less";
@import (less) "media-object.less";
@import (less) "meta.less";
@import (less) "misc.less";
@import (less) "post.less";
@import (less) "summary.less";
@import (less) "blog-docs.less";
@import (less) "press-resources.less";
@import (less) "contact-us.less";
@import (less) "bureau.less";
@import (less) "media.less";
@import (less) "history.less";
@import (less) "footer.less";
