/* ==========================================================================
   cfgov-refresh
   media
   ========================================================================== */

/* topdoc
  name: Media 
  family: cfgov-media
  patterns:
    - name: Media object (OOCSS)
      markup: |
        <article class="media">
            <div class="media_image-container">
                <img class="media_image" src="http://placekitten.com/276/155" alt="">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .media
            .media_image-container
              .media_image
            .media_body
      notes:
        - "Based on Object-oriented CSS' media object. In mobile sizes
           (less than 600px), image container stacks on top of media_body."
    - name: .media_image-container__right modifier
      markup: |
        <article class="media">
            <div class="media_image-container media_image-container__right">
                <img class="media_image" src="http://placekitten.com/276/155" alt="">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
      notes:
        - "Image is positioned to right instead of left of content."
        
    - name: .media_image-container__wide-margin modifier
      markup: |
        <article class="media">
            <div class="media_image-container media_image-container__wide-margin">
                <img class="media_image" src="http://placekitten.com/276/155" alt="">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
        <article class="media">
            <div class="media_image-container media_image-container__wide-margin media_image-container__right">
                <img class="media_image" src="http://placekitten.com/276/155" alt="">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
      notes:
        - "Increased right (or left, when used with .media_image-container__right modifier),
           margin on .media_image-container."
  tags:
    - cfgov-media
*/

.media {
    display: block;
    .u-clearfix;

    &_image-container {
        .respond-to-min(600px {
            float: left;
            margin-right: unit(@grid_gutter-width / 2, px);
        });
        
        .respond-to-max(599px {
            margin-left: 0;
            margin-right: 0;
        });
        
        &.media_image-container__wide-margin {
            margin-right: unit(@grid_gutter-width, px);
            
            .respond-to-max(599px {
                margin-left: 0;
                margin-right: 0;
            });
        }
        
    }

    &_image-container__right {
        display: block;
        
        .respond-to-min(600px {
            float: right;
            margin-left: unit(@grid_gutter-width / 2, px);
            margin-right: 0;
        });
        
        &.media_image-container__wide-margin {
            margin-left: unit(@grid_gutter-width, px);
            margin-right: 0;
            
            .respond-to-max(599px {
                margin-left: 0;
            });
        }
        
    }

    &_image {
        display: block;
    }

    &_body {
        .respond-to-max(599px {
            margin-top: unit(@grid_gutter-width / 2, px);
        });
        
        .respond-to-min(600px {
            display: table-cell;
            width: 10000px;
            vertical-align:top;
        });
    }
    
    .lt-ie8 &_body {
        zoom: 1;
        display: block;
        width: auto;
    }
}


/* topdoc
    name: EOF
    eof: true
*/

