/* ==========================================================================
   cfgov-refresh
   meta
   ========================================================================== */

/* topdoc
  name: Date
  family: cfgov-meta
  patterns:
    - markup: |
        <span class="date">
            Nov 4, 2013
        </span>
  tags:
    - cfgov-meta
*/

.date {
    .h5();
    color: @gray;
}


/* topdoc
  name: Category slug
  family: cfgov-meta
  patterns:
    - markup: |
        <a href="#" class="category-slug">
            <i class="cf-icon cf-icon-credit-card"></i>
            Consumer finance
        </a>
  tags:
    - cfgov-meta
*/

.category-slug {
    .h4();
    .u-unstyled-link();
}


/* topdoc
  name: Meta header
  family: cfgov-meta
  patterns:
    - markup: |
        <div class="meta-header">
            <a href="#" class="category-slug meta-header_heading">
                <i class="cf-icon cf-icon-credit-card"></i>
                Consumer finance
            </a>
            <span class="date meta-header_date">
                Nov 4, 2013
            </span>
        </div>
  tags:
    - cfgov-meta
*/

.meta-header {
    padding-bottom: unit(8px / @base-font-size-px, em);
    margin-bottom: unit(10px / @base-font-size-px, em);
    border-bottom: 1px solid @gray-50;
}

.meta-header_heading {
    margin-bottom: 0;
}

.meta-header_date {
    .u-right();
    margin-bottom: 0;
}

/* topdoc
  name: EOF
  eof: true
*/
