/* ==========================================================================
   cfgov-refresh
   meta
   ========================================================================== */


/* topdoc
  name: Tags
  family: cfgov-meta
  patterns:
    - name: Default example
      markup: |
        <div class="tags">
            <h4 class="tags_header">Topics:</h4>
            <ul class="tags_list">
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Students
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Consumers
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        College loans
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Students
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Consumers
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        College loans
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Students
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Consumers
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        College loans
                    </a>
                </li>
            </ul>
        </div> 
  tags:
    - cfgov-meta
*/

.tags {
    @bp: 480px;

    .u-respond-to-min(@bp, {
        position: relative;
        // 58px here comes from the .tags_header width.
        padding-left: unit((58px + 8px) / @base-font-size-px, em);
    });

    &_header {
        .h4();
        // Bottom margin is eyeballed to 20px from the baseline.
        margin: 0 0 unit(16px / @font-size, em);
        color: @black;

        .u-respond-to-min(@bp, {
            position: absolute;
            left: 0;
            width: unit(58px / @font-size, em);
            margin: 0;
        });
    }

    &_list {
        padding-left: 0;
        border-top: 1px dotted @gold-80;
        list-style-type: none;

        .u-respond-to-min(@bp, {
            border-top: none;
        });
    }

    &_tag {
        border-bottom: 1px dotted @gold-80;
        line-height: 1;

        .u-respond-to-min(@bp, {
            .u-inline-block();
            margin-right: unit(15px / @base-font-size-px, em);
            // Eyeballed to be 15px of vertical space between each.
            margin-bottom: unit(8px / @base-font-size-px, em);
            border-bottom: none;
        });
    }

    @bullet-font-size: 17px;

    &_link {
        position: relative;
        .h6();
        display: block;
        // Eyeballed to 15px including line height.
        padding: 12px 0 8px;
        margin: 0 0 0 unit(@bullet-font-size / @font-size, em);
        // Match the height of the bullet.
        line-height: unit(@bullet-font-size / @font-size, em);

        .u-link__colors(@gray, @gray, @gray, @gray, @gray,
                        @gold-80, @gold-80, @gold-80, @gold-80, @gold-80);

        .u-respond-to-max((@bp - 1), {
            .u-link__no-border();
        });

        .u-respond-to-min(@bp, {
            padding: 0;
        });
    }
    
    &_bullet {
        position: absolute;
        left: -1em;
        .lt-ie8 & {
            top: 4px;
        }
        // Display block + width makes this whole area clickable.
        display: block;
        width: 1em;
        color: @gold-80;
        // 12px is the font size of .tags_link
        font-size: unit(@bullet-font-size / 12px, em);
    }
}


/* topdoc
  name: Date
  family: cfgov-meta
  patterns:
    - name: Default date
      markup: |
        <span class="date">
            Nov 4, 2013
        </span>
  tags:
    - cfgov-meta
*/

.date {
    .h5();
    color: @gray;
    white-space: nowrap;
}


/* topdoc
  name: Category slug
  family: cfgov-meta
  patterns:
    - name: Default category slug
      markup: |
        <a href="#" class="category-slug">
            <span class="category-slug_icon cf-icon cf-icon-dialogue"></span>
            <span class="u-visually-hidden">Category:</span>
            Consumer finance
        </a>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .category-slug
            .category-slug_icon
            .u-visually-hidden
      notes:
        - "Always use a link element or else you will get unwanted hover styles."
        - "We suggest using a .u-visually-hidden element to add more context for
          screen readers."
  tags:
    - cfgov-meta
*/

.category-slug {
    .h4();
    display: inline-block;
    // Eyeballed to 20px over h2.
    margin-bottom: unit(8px / @font-size, em);
    .u-link__colors(@black, @pacific-80);

    &_icon {
        margin-right: unit(2px / @font-size, em);
    }
}


/* topdoc
  name: Header slug
  family: cfgov-meta
  patterns:
    - name: Default header slug
      markup: |
        <h2 class="header-slug">
            <span class="header-slug_inner">
                Blog summary
            </span>
        </h2>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .header-slug
            .header-slug_inner
  tags:
    - cfgov-meta
*/

.header-slug {
    .h5();
    margin-bottom: unit(17px / @font-size, em);
    border-top: 1px solid @gray-20;

    &_inner {
        display: inline-block;
        padding-top: unit(4px / @font-size, em);
        margin-top: -3px;
        border-top: 5px solid @green;
    }
}


/* topdoc
  name: Meta header
  family: cfgov-meta
  patterns:
    - name: Default meta header
      markup: |
        <div class="meta-header">
            <span class="meta-header_right date">
                Nov 4, 2013
            </span>
            <a href="#" class="meta-header_left category-slug">
                <span class="cf-icon cf-icon-credit-card"></span>
                Consumer finance
            </a>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .meta-header
            .meta-header_right
            .meta-header_left
      notes:
        - ".meta-header_right should come first in the markup so that when it
          floats to the right it will appear on the same line as .meta-header_left."
        - "Note that the example shows .meta-header_left using the
          .category-slug pattern and .meta-header_right using the .date pattern
          but you could use other patterns in place of them. Or you can even
          swap them so that date is attached to .meta-header_left and
          .category-slug is attacked to .meta-header_right."
    - name: Alternate meta header arrangements
      markup: |
        <div class="meta-header">
            <a href="#" class="meta-header_right category-slug">
                <span class="cf-icon cf-icon-credit-card"></span>
            </a>
            <span class="meta-header_left date">
                Nov 4, 2013
            </span>
        </div>
        <br>
        <div class="meta-header">
            <a href="#" class="meta-header_left category-slug">
                <span class="cf-icon cf-icon-credit-card"></span>
                Consumer finance
            </a>
        </div>
      notes:
        - "Just some random variations to show off what you could do."
  tags:
    - cfgov-meta
*/

.meta-header {
    padding-bottom: unit(8px / @base-font-size-px, em);
    margin-bottom: unit(10px / @base-font-size-px, em);
    border-bottom: 1px solid @gray-50;
}

.meta-header_left {
    margin-bottom: 0;
}

.meta-header_right {
    .u-right();
    margin-bottom: 0;
}


/* topdoc
  name: EOF
  eof: true
*/
