/* ==========================================================================
   cfgov-refresh
   misc
   ========================================================================== */


/* topdoc
  name: Lists
  family: cfgov-misc
  notes:
    - "Note that modifiers are the most common use cases for this block, hence
      the reason there are no direct styles associated with .link or .link_item."
  patterns:
    - name: Basic structure
      markup: |
        <ul class="list">
            <li class="list_item">
                <a class="list_link">List item 1</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 2</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 3</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 4</a>
            </li>
        </ul>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .list
            .list_item
              .list_link
  tags:
    - cfgov-misc
*/

.list_link {
    .webfont-medium();
}


/* topdoc
  name: Unstyled list modifier
  family: cfgov-misc
  patterns:
    - name: Default example
      markup: |
        <ul class="list list__unstyled">
            <li class="list_item">
                <a class="list_link">List item 1</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 2</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 3</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 4</a>
            </li>
        </ul>
  tags:
    - cfgov-misc
*/

.list__unstyled {
    padding-left: 0;
    list-style-type: none;
}


/* topdoc
  name: Spaced list item modifier
  family: cfgov-misc
  patterns:
    - name: Default example
      markup: |
        <ul class="list">
            <li class="list_item">
                <a class="list_link">List item 1</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 2</a>
            </li>
            <li class="list_item list_item__spaced">
                <a class="list_link">List item 3</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 4</a>
            </li>
        </ul>
  tags:
    - cfgov-misc
*/

.list_item__spaced {
    margin-top: unit(24px / @base-font-size-px, em);
}


/* topdoc
  name: Horizontal list modifier
  family: cfgov-misc
  patterns:
    - name: Default example
      markup: |
        <ul class="list list__horizontal">
            <li class="list_item">
                <a class="list_link">List item 1</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 2</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 3</a>
            </li>
            <li class="list_item">
                <a class="list_link">List item 4</a>
            </li>
        </ul>
  tags:
    - cfgov-misc
*/


.list__horizontal {
    padding-left: 0;

    .list_item {
        .u-inline-block();
    }

    .list_item + .list_item {
        // Assuming a natural space of 4px between inline block items
        // then the space between would be 8px (4px natural + 4px added).
        margin-left: unit(4px / @base-font-size-px, em);
    }
}


/* topdoc
  name: Share icon
  family: cfgov-misc
  patterns:
    - name: Default example
      markup: |
        <a class="share-icon" href="#">
            <i class="cf-icon cf-icon-email-social-square"></i>
            <span class="visually-hidden">
                Share by email
            </span>
        </a>
      notes:
        - "Text for screenreaders is added with the .visually-hidden element."
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .share-icon
            .cf-icon.cf-icon-name
            .visually-hidden
  tags:
    - cfgov-misc
*/

.share-icon {
    color: @darkgray;
    font-size: unit(26px / @base-font-size-px, em);
    line-height: 1;
    .u-link__colors(@darkgray, @pacific-80);
    .u-link__no-border();

    & + & {
        margin-left: unit(2px / 26px, em);
    }
}


/* topdoc
  name: Line container
  family: cfgov-misc
  notes:
    - ".line-container is meant to contain anything you want with consistent top
      and bottom padding. It uses a margin collapsing trick in CSS to achieve
      this consistency which this is why .line-container_body is needed. The
      only caveat to this consistency is if you place something inside of it
      that has a bottom-margin that is larger than the .line-container padding."
  patterns:
    - name: Basic line container
      markup: |
        <div class="line-container">
            <div class="line-container_body">
                <p>
                    ¯\_(ツ)_/¯<br>
                    There is a light border above and below me!
                </p>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .line-container
            .line-container_body
    - name: Line container with a 'pullup' (example 1)
      markup: |
        <div class="line-container">
            <h2 class="line-container_pullup header-slug">
                <span class="header-slug_inner">
                    Blog summary
                </span>
            </h2>
            <div class="line-container_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum ex provident dolorem ipsum molestias eius tenetur
                    doloribus obcaecati illum autem! Fuga commodi natus
                    distinctio accusantium esse ab dolore in aliquid.
                </p>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .line-container
            .line-container_pullup
            .line-container_body
      notes:
        - "The 'pullup' allows you to pull an element up flush against the top
          of a .line-container."
        - ".line-container_pullup works well with a .header-slug but it can be
          used with other patterns too, like the image example below."
    - name: Line container with a 'pullup' (example 2)
      markup: |
        <div class="line-container">
            <p class="line-container_pullup">
                <img src="http://placekitten.com/700/200" alt="">
            </p>
            <div class="line-container_body">
                <h2>
                    Photo heading
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum ex provident dolorem ipsum molestias eius tenetur
                    doloribus obcaecati illum autem! Fuga commodi natus
                    distinctio accusantium esse ab dolore in aliquid.
                </p>
            </div>
        </div>
  tags:
    - cfgov-misc
*/

.line-container {
    padding: unit(26px / @base-font-size-px, em) 0 0;
    margin: 0 0 unit(30px / @base-font-size-px, em);
    border-top: 1px solid @gray-20;
    border-bottom: 1px solid @gray-20;

    .line-container_pullup {
        margin-top: -27px;
    }

    .line-container_body {
        margin-bottom: unit(26px / @base-font-size-px, em);
    }
}


/* topdoc
  name: EOF
  eof: true
*/
