/* ==========================================================================
   cfgov-refresh
   cfgov-post
   ========================================================================== */


/* topdoc
  name: Blog post
  family: cfgov-post
  patterns:
    - name: Default post
      markup: |
        <article class="post">
            <header>
                <a href="#" class="category-slug meta-header_left">
                    <i class="cf-icon cf-icon-help"></i>
                    Announcements &amp; updates
                </a>
                <h1>A consumer-centered supervision program</h1>
                <div class="post_meta">
                    <span class="byline">By <a class="byline_link" href="#">Firstname Lastname</a></span> &ndash;
                    <span class="short-date">Mon 32, 3001</span>
                    <ul class="share-links">
                        <li><a href="#"><i class="cf-icon cf-icon-email-square"></i> Email</a></li>
                        <li><a href="#"><i class="cf-icon cf-icon-facebook-square"></i> Facebook</a></li>
                        <li><a href="#"><i class="cf-icon cf-icon-twitter-square"></i> Twitter</a></li>
                        <li><a href="#"><i class="cf-icon cf-icon-linkedin-square"></i> LinkedIn</a></li>
                    </ul>
                </div>
                <img class="post_featured-img" src="http://placekitten.com/706/408" alt="alt text">
                <h2>Post summary</h2>
                <p class="summary">
                    Lorem ipsum dolor sit amet, ea has partem perpetua. Eu graeci adipisci evertitur mei,
                    id maiestatis elaboraret dissentias his. Eos id alia graeco timeam, id malis augue quo.
                    Labitur liberavisse quo ei, utamur impetus eu nam.
                </p>
            </header>
            <p>
                Lorem ipsum dolor sit amet, ea has partem perpetua. Eu graeci adipisci evertitur mei,
                id maiestatis elaboraret dissentias his. Eos id alia graeco timeam, id malis augue quo.
                Labitur liberavisse quo ei, utamur impetus eu nam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, ea has partem perpetua. Eu graeci adipisci evertitur mei,
                id maiestatis elaboraret dissentias his. Eos id alia graeco timeam, id malis augue quo.
                Labitur liberavisse quo ei, utamur impetus eu nam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, ea has partem perpetua. Eu graeci adipisci evertitur mei,
                id maiestatis elaboraret dissentias his. Eos id alia graeco timeam, id malis augue quo.
                Labitur liberavisse quo ei, utamur impetus eu nam.
            </p>
            <section class="callout">
                <div class="demo-placeholder">More information placeholder</div>
            </section>
            <p>
                Lorem ipsum dolor sit amet, ea has partem perpetua. Eu graeci adipisci evertitur mei,
                id maiestatis elaboraret dissentias his. Eos id alia graeco timeam, id malis augue quo.
                Labitur liberavisse quo ei, utamur impetus eu nam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, ea has partem perpetua. Eu graeci adipisci evertitur mei,
                id maiestatis elaboraret dissentias his. Eos id alia graeco timeam, id malis augue quo.
                Labitur liberavisse quo ei, utamur impetus eu nam.
            </p>
            <footer>
                <div class="demo-placeholder">tags placeholder</div> <!-- see commented implementation on CFPB Open Tech-->
            </footer>
        </article>
  tags:
    - cfgov-post
*/

/* Less goes here */


/* topdoc
  name: EOF
  eof: true
*/
