/* ==========================================================================
   cfgov-refresh
   summary
   ========================================================================== */


/* topdoc
  name: Summary
  family: cfgov-summary
  patterns:
    - name: Default summary
      markup: |
        <article class="summary">
            <h1 class="summary_header">
                Preventing illegal discrimination in auto lending
            </h1>
            <p class="summary_text">
                Every year, millions of American families buy a car –
                and it will be one of the most significant purchases they make.
                One key priority for us is protecting consumers from the silent
                pickpocket of discrimination.
            </p>
            <p class="summary_byline">
                By Patrice Ficklin
            </p>
        </article>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .summary
            .summary_header
            .summary_text
            .summary_byline
    - name: Max-width summary text
      markup: |
        <article class="summary">
            <h1 class="summary_header">
                Preventing illegal discrimination in auto lending
            </h1>
            <p class="summary_text summary_text__max">
                Every year, millions of American families buy a car –
                and it will be one of the most significant purchases they make.
                One key priority for us is protecting consumers from the silent
                pickpocket of discrimination.
            </p>
            <p class="summary_byline">
                By Patrice Ficklin
            </p>
        </article>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .summary_text.summary_text__max
      notes:
        - "Optionally set a max-width on .summary_text to keep line lengths
          readable."
  tags:
    - cfgov-summary
*/

.summary {

    // Incase .summary is used on an inline element like <a>
    display: block;

    &_header {
        color: @black;
        .u-link-child__hover(@pacific-80);
        .h3();
        // Eyeballed to 20px from the baseline.
        margin-bottom: unit(10px / @font-size, em);
        .u-respond-to-min(600px, {
            .h2();
            // Eyeballed to 20px from the baseline.
            margin-bottom: unit(9px / @font-size, em);
        });
    }

    &_text {
        // Eyeballed to 20px from the baseline.
        margin-bottom: unit(10px / @base-font-size-px, em);
        .webfont-regular();
        color: @darkgray;

        &__max {
            max-width: percentage(7 / 8);
        }
    }

    &_byline {
        color: @black;
        .webfont-regular();
    }
}


/* topdoc
  name: EOF
  eof: true
*/
