/* ==========================================================================
   cfgov-refresh
   utilities
   ========================================================================== */


/* topdoc
  name: Less mixins
  family: cfgov-utilities
  patterns:
    - codenotes:
      - .u-right();
    - codenotes:
      - .u-unstyled-link();
  tags:
    - cfgov-utilities
*/

.u-right() {
    float: right;
}

.u-unstyled-link() {
    color: @black;
    border-bottom-width: 0;

    &:visited,
    &.visited {
        border-bottom-color: @black;
        color: @black;
    }

    &:hover,
    &.hover {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: @black;
        color: @black;
    }

    &:focus,
    &.focus {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    &:active,
    &.active {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: @black;
        color: @black;
    }
}

.u-flexible-image() {
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}


/* topdoc
    name: EOF
    eof: true
*/
