/* ==========================================================================
   cfgov-refresh
   utilities
   ========================================================================== */


/* topdoc
  name: Visually hidden
  family: cfgov-utilities
  patterns:
    - name: Utility class
      markup: |
        <h1>
            <a href="#">
                <span class="cf-icon cf-icon-twitter-square"></span>
                <span class="u-visually-hidden">Share on Twitter</span>
            </a>
        </h1>
      codenotes:
        - .u-visually-hidden;
      notes:
        - "Use this class to hide something from view while keeping it
          accessible to screen readers."
      notes:
        - "Use this class to hide something from view while keeping it
          accessible to screen readers."
  tags:
    - cfgov-utilities
*/

.u-visually-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}


/* topdoc
  name: Inline block
  family: cfgov-utilities
  patterns:
    - name: Utility class
      codenotes:
        - .u-inline-block;
      notes:
        - "Also adds a .lt-ie8 class to hack inline-block for IE 7 and below."
  tags:
    - cfgov-utilities
*/

.u-inline-block {
    display: inline-block;
    .lt-ie8 & {
        // Hack inline-block into submission
        display: inline;
    }
}


/* topdoc
  name: Floating right
  family: cfgov-utilities
  patterns:
    - name: Utility class
      codenotes:
        - .u-right;
      notes:
        - "IE7 float: right drop bug fixes:"
        - "1. If the float: right follows an element in the html structure that
          should be to its left (and not above it), then that preceding
          element(s) must be float: left.
          http://stackoverflow.com/questions/10981767/clean-css-fix-of-ie7s-float-right-drop-bug#answer-11437688"
        - "2. Simply change the markup order so that the element floating right
          comes before the element to its left."
  tags:
    - cfgov-utilities
*/

.u-right {
    float: right;
}


/* topdoc
  name: Align with button
  family: cfgov-utilities
  patterns:
    - name: Utility class
      codenotes:
        - ".u-align-with-btn(@font-size: @base-font-size-px);"
      notes:
        - "Adds top padding (among other things) to help alignment with buttons."
        - "If you pass no arguments then the padding will be calculated using
          @base-font-size-px."
        - "Pass one argument to use a custom font size to calculate the top
          padding."
  tags:
    - cfgov-utilities
*/

.u-align-with-btn(@font-size: @base-font-size-px) {
    display: inline-block;
    padding-top: unit(9px / @font-size, em);
    line-height: normal;
}


/* topdoc
  name: Flexible proportional containers
  family: cfgov-utilities
  notes:
    - "Utilizes intrinsic ratios to create a flexible container that retains its
      aspect ratio. When image tags scale they retain their aspect ratio, but if
      you need a flexible video you will need to use this mixin."
    - "You can read more about intrinsic rations here:
      http://alistapart.com/article/creating-intrinsic-ratios-for-video"
  patterns:
    - name: Default example
      markup: |
        <div class="u-flexible-container">
            <video
              class="u-flexible-container_inner"
              style="background:#75787B;"
              controls>
            </video>
        </div>
      notes:
        - "Defaults to a 16:19 ratio."
        - "Original mixin credit: https://gist.github.com/craigmdennis/6655047"
        - "Note that inline style usage is being used for demo purposes only.
          Please do not use inline styles."
      codenotes:
        - |
          Structural sheat sheet:
          -----------------------
          .u-flexible-container
            .u-flexible-container_inner
    - name: Background image examples
      markup: |
        <div class="u-flexible-container"
             style="
               background-image:url(http://placekitten.com/700/394);
               background-position: center center;
             ">
        </div>
        <div class="u-flexible-container"
             style="
               background-image:url(http://placekitten.com/700/394);
               background-position: center center;
               background-size: cover;
             ">
        </div>
      codenotes:
        - |
          Structural sheat sheet:
          -----------------------
          .u-flexible-container
      notes:
        - "If you're not using the video or object elements and all you need is
          a proportionally cropped or scaling background image with a fluid
          container then you can leave out u-flexible-container_inner."
        - "Note that inline style usage is being used for demo purposes only.
          Please do not use inline styles."
    - name: 4-3 modifier
      markup: |
        <div class="u-flexible-container u-flexible-container__4-3">
            <video
              class="u-flexible-container_inner"
              style="background:#75787B;"
              controls>
            </video>
        </div>
      codenotes:
        - |
          Structural sheat sheet:
          -----------------------
          .u-flexible-container.u-flexible-container__4-3
            .u-flexible-container_inner
      notes:
        - "Create your own aspect ratios by using this modifier as an example."
        - "Note that inline style usage is being used for demo purposes only.
          Please do not use inline styles."
  tags:
    - cfgov-utilities
*/

.u-flexible-container(@width: 16, @height: 9) {
    @ratio: (@height / @width) * 100;
 
    position: relative;
    padding-bottom: ~"@{ratio}%";
    height: 0;
}

.u-flexible-container {
    .u-flexible-container();
}

.u-flexible-container_inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.u-flexible-container__4-3 {
    .u-flexible-container(4,3);
}


/* topdoc
  name: Link mixins
  family: cfgov-utilities
  patterns:
    - codenotes:
        - .u-link__colors();
      notes:
        - "Pass this mixin no arguments to color your link states with the
          following defaults: :link (default state) pacific, :hover pacific-50,
          :focus: pacific, :visited teal, :active navy."
    - codenotes:
        - .u-link__colors(@c);
      notes:
        - "Pass this mixin one color to be used on all of the following
          states of your link; :link (default state), :visited, :hover, :focus,
          :active."
    - codenotes:
        - .u-link__colors(@c, @h);
      notes:
        - "Pass this mixin two colors to use the first color for the :link,
          :visited, and :active states, and the second color for the :hover and
          :focus states."
    - codenotes:
        - .u-link__colors(@c, @v, @h, @f, @a);
      notes:
        - "Pass this mixin five colors in 'love/hate' mnemonic order to color
          :link, :visited, :hover, :focus, and :active states respectively."
        - "Even though this mixin is basically the same as
          .u-link__colors-base(@c, @v, @h, @f, @a); we encourage you to use
          .u-link__colors(@c, @v, @h, @f, @a) to promote consistency."
    - codenotes:
        - .u-link__colors(@c, @v, @h, @f, @a, @bc, @bv, @bh, @bf, @ba);
      notes:
        - "Allows you to color text and the bottom border separately."
        - "The first five colors in 'love/hate' mnemonic order will color text
          for the :link, :visited, :hover, :focus, and :active states
          respectively. The last five colors in 'love/hate' mnemonic order will
          color the bottom border for the :link, :visited, :hover, :focus, and
          :active states respectively."
        - "Even though this mixin is basically the same as
          .u-link__colors-base(@c, @v, @h, @f, @a, @bc, @bv, @bh, @bf, @ba); we
          encourage you to use .u-link__colors(@c, @v, @h, @f, @a, @bc, @bv, @bh, @bf, @ba)
          to promote consistency."
    - codenotes:
        - .u-link__colors-base(@c, @v, @h, @f, @a);
      notes:
        - "This is the base mixin that all .u-link__colors() mixins use. Please
          refrain from using this mixin directly in order to promote a
          consistent use of mixin names for coloring links throughout this
          project. Remember that if you need to set colors for all states of a
          link you should use .u-link__colors(@c, @v, @h, @f, @a)."
    - codenotes:
        - .u-link__border();
      notes:
        - "Forces the default bottom border on the :link and :hover states."
    - codenotes:
        - .u-link__no-border();
      notes:
        - "Turn off the default bottom border on the :link and :hover states."
    - codenotes:
        - .u-link__hover-border();
      notes:
        - "Turn off the default bottom border on the :link state and force a
          bottom border on the :hover state."
    - codenotes:
        - .u-link-child__hover();
      notes:
        - "When a link has child elements you may want only certain children to
          change color when the parent link is hovered.
          Pass no arguments to this mixin to color the child element pacific
          when the parent link is hovered."
    - codenotes:
        - .u-link-child__hover(@c);
      notes:
        - "Pass this mixin one color to color the child element when the parent
          link is hovered."
  tags:
    - cfgov-utilities
*/

.u-link__colors() {
    .u-link__colors-base();
}

.u-link__colors(@c) {
    .u-link__colors-base(@c, @c, @c, @c, @c,
                         @c, @c, @c, @c, @c);
}

.u-link__colors(@c, @h) {
    .u-link__colors-base(@c, @c, @h, @h, @c,
                         @c, @c, @h, @h, @c);
}

.u-link__colors(@c, @v, @h, @f, @a) {
    .u-link__colors-base(@c, @v, @h, @f, @a,
                         @c, @v, @h, @f, @a);
}

.u-link__colors(@c, @v, @h, @f, @a,
                @bc, @bv, @bh, @bf, @ba) {
    .u-link__colors-base(@c, @v, @h, @f, @a,
                         @bc, @bv, @bh, @bf, @ba);
}

.u-link__colors-base(@c:@pacific, @v:@teal, @h:@pacific-50, @f:@pacific, @a:@navy,
                     @bc:@pacific, @bv:@teal, @bh:@pacific-50, @bf:@pacific, @ba:@navy) {
    color: @c;
    border-bottom-color: @bc;

    &:visited,
    &.visited {
        border-bottom-color: @bv;
        color: @v;
    }

    &:hover,
    &.hover {
        border-bottom-color: @bh;
        color: @h;
    }

    &:focus,
    &.focus {
        border-bottom-color: @bf;
        color: @f;
    }

    &:active,
    &.active {
        border-bottom-color: @ba;
        color: @a;
    }
}

.u-link-child__hover(@c: @pacific-50) {
    a:hover &,
    a.hover &,
    a:focus &,
    a.focus & {
        color: @c;
    }
}

.u-link__border() {
    border-bottom-width: 1px;

    &:hover,
    &.hover {
        border-bottom-width: 1px;
    }
}

.u-link__no-border() {
    border-bottom-width: 0 !important;
}

.u-link__hover-border() {
    border-bottom-width: 0 !important;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
        border-bottom-width: 1px !important;
    }
}


/* topdoc
  name: Media query mixins
  family: cfgov-utilities
  notes:
    - "These mixins allow us to write consistent media queries using pixel
      values, which are easier to remember. The mixins handle converting the
      pixels into em's."
  patterns:
    - name: "min-width/max-width media queries"
      codenotes:
        - ".u-respond-to-min(@bp, @rules)"
        - ".u-respond-to-max(@bp, @rules)"
      notes:
        - "@bp: the breakpoint size in pixels. It will get converted into em's."
        - "@rules: a CSS or Less ruleset. Note that it can contain the full set
          of Less features."
    - name: "min-width/max-width media query usage"
      codenotes:
        - |
            .u-respond-to-min(768px, {
                .title {
                    font-size: 2em;
                }
            });

            Compiles to:

            @media only all and (min-width: 48em) {
                .title {
                    font-size: 2em;
                }
            }
    - name: "min-width/max-width media query range"
      codenotes:
        - ".u-respond-to-range(@bp1, @bp2, @rules)"
      notes:
        - "@bp1: the min-width breakpoint size in pixels.
          It will get converted into em's."
        - "@bp2: the max-width breakpoint size in pixels.
          It will get converted into em's."
        - "@rules: a CSS or Less ruleset. Note that it can contain the full set
          of Less features."
    - name: "min-width/max-width media query range usage"
      codenotes:
        - |
            .u-respond-to-range(320px, 768px, {
                .title {
                    font-size: 2em;
                }
            });

            Compiles to:

            @media only all and (min-width: 20em) and (max-width: 48em) {
                .title {
                    font-size: 2em;
                }
            }
  tags:
    - cfgov-utilities
*/

.u-respond-to-min(@bp, @rules) {
    @ems: unit((@bp / @base-font-size-px), em);
    @media only all and (min-width: @ems) {
        @rules();
    }
}

.u-respond-to-max(@bp, @rules) {
    @ems: unit((@bp / @base-font-size-px), em);
    @media only all and (max-width: @ems) {
        @rules();
    }
}

.u-respond-to-range(@bp1, @bp2, @rules) {
    @ems1: unit((@bp1 / @base-font-size-px), em);
    @ems2: unit((@bp2 / @base-font-size-px), em);
    @media only all and (min-width: @ems1) and (max-width: @ems2) {
        @rules();
    }
}


/* topdoc
    name: EOF
    eof: true
*/
