/* ==========================================================================
   cfgov-refresh
   utilities
   ========================================================================== */


/* topdoc
    name: Less mixins
    family: cfgov-utilities
    patterns:
    - codenotes:
        - .u-right();
        - .u-unstyled-link();
    tags:
    - cfgov-utilities
*/

.u-right() {
    float: right;
}

.u-unstyled-link() {
    color: @black;
    border-bottom-width: 0;
}


/* topdoc
  name: EOF
  eof: true
*/
