/* ==========================================================================
   cfgov-refresh
   vars
   ========================================================================== */


/* topdoc
  name: Media query vars
  family: cfgov-vars
  patterns:
    - name: Size calculations
      notes:
        - "You shouldn't need to use these variables directly,
          they're used to create the @respond-to vars which you should use instead."
      codenotes:
        - "@small-screens-min"
        - "@small-screens-max"
        - "@medium-screens-min"
        - "@medium-screens-max"
        - "@large-screens-min"
        - "@large-screens-max"
        - "@extralarge-screens-min"
    - name: Interpolated media type and expressions
      codenotes:
        - "@respond-to-small-screens-min"
        - "@respond-to-small-screens-max"
        - "@media @respond-to-m-min"
        - "@respond-to-medium-screens-max"
        - "@respond-to-large-screens-min"
        - "@respond-to-large-screens-max"
        - "@respond-to-extralarge-screens-min"
      notes:
        - "Use these variables to easily target screen size ranges."
    - name: "Usage"
      codenotes:
        - |
            @media @respond-to-m-min {
                ...
            }

            Compiles to:

            @media only all and (min-width: 48em) {
                ...
            }
  tags:
    - cfgov-vars
*/

.u-respond-to-min(@bp, @rules) {
    @ems: unit((@bp / @base-font-size-px), em);
    @media screen and (min-width: @ems) {
        @rules();
    }
}

.u-respond-to-max(@bp, @rules) {
    @ems: unit((@bp / @base-font-size-px), em);
    @media screen and (max-width: @ems) {
        @rules();
    }
}

.u-respond-to-range(@bp1, @bp2, @rules) {
    @ems1: unit((@bp1 / @base-font-size-px), em);
    @ems2: unit((@bp2 / @base-font-size-px), em);
    @media screen and (min-width: @ems1) and (max-width: @ems2) {
        @rules();
    }
}


/* topdoc
  name: EOF
  eof: true
*/
