.college-costs {
	.school-results {
		& .highcharts-plot-band {
		    fill-opacity: 1;

			&:first-child {
				fill: #d14124;
			}
			&:nth-child(2) {
				fill: #ff9e1b;
			}
			&:last-child {
				fill: #257675;
			}
		}
	}

	#affording-your-loans_chart,
	#max-debt-guideline_chart {
		.highcharts-plot-line {
			stroke: #20aa3f;
			stroke-width: 3px;
		}
	}

	#make-a-plan_chart {
		.highcharts-plot-line {
			stroke: #d14124;
			stroke-width: 3px;
		}
	}
}
