.financial-item {
  margin-top: unit(30px / @base-font-size-px, em);

  &:not(&--flyout) {
    .financial-item__label,
    .financial-item__value {
      display: inline-block;
      border-width: 0;
      border: solid transparent;
      box-sizing: border-box;
      margin-right: -0.25em;
      vertical-align: top;
      width: 50%;
    }
  }

  input,
  &__value {
    text-align: right;
  }

  .a-label--heading {
    margin-bottom: 0;
  }

  &__note {
    display: block;

    & span {
      display: block;
    }

    .a-link__text,
    .inline {
      display: inline;
    }
  }

  &--subtotal,
  &--total {
    .financial-item__label > :not(p),
    .financial-item__value {
      .heading-4();
      margin-bottom: 0;
    }
  }

  &--flyout {
    padding: 0.625em;
    margin-top: 0;
    background-color: #fff;

    .h4 {
      margin-bottom: 0;
    }

    .o-costs-group__label {
      width: auto;
    }

    .financial-item__note {
      text-align: left;
      margin-top: unit(15px / @base-font-size-px, em);
    }

    .financial-item__note span {
      margin-top: unit(15px / @base-font-size-px, em);
    }

    .financial-item__value {
      color: var(--black);
    }
  }

  &.o-costs-group__header {
    width: 100%;
    border: none;
    margin-bottom: unit(15px / @base-font-size-px, em);
    text-align: left;

    &--collapsed {
      .o-costs-group__cue-close {
        display: none;
      }
      .o-costs-group__cue-open {
        display: inline;
        margin-left: unit(5px / @base-font-size-px, em);
      }
    }

    &--expanded {
      .o-costs-group__cue-open {
        display: none;
      }
      .o-costs-group__cue-close {
        display: inline;
        margin-left: unit(5px / @base-font-size-px, em);
      }
    }

    .flex-container {
      display: flex;

      .o-costs-group__label {
        flex: 1;
        flex-grow: 1;
      }
    }

    .o-costs-group__link .o-costs-group__cue-close,
    .o-costs-group__link .o-costs-group__cue-open {
      color: var(--pacific);
      font-size: 1em;
      line-height: 1.375;
    }
  }

  &--total {
    font-size: unit(20px / @size-iv, em);
    border-top: 1px solid var(--gray-60);
    padding-top: unit(10px / @base-font-size-px, em);
  }

  &--warning {
    .financial-item__value {
      color: var(--red);
    }
  }

  &--full-width {
    div + div {
      margin-top: unit(5px / @base-font-size-px, em);
    }
  }

  .financial-item__label p {
    font-size: unit(16px / @base-font-size-px, em);
  }
}

.financial-item-group {
  .o-costs-group {
    border-bottom: 1px solid @flyout-border;
    &:first-child {
      border-top: 1px solid @flyout-border;
    }
  }

  .o-costs-group__content {
    .financial-item {
      margin-top: unit(15px / @base-font-size-px, em);
    }

    margin-bottom: unit(15px / @base-font-size-px, em);
  }
}

.text-item--bigger {
  .financial-item__label div {
    font-size: unit(18px / @base-font-size-px, em);
    font-weight: 500;
  }
}
