@import (reference) '../../../css/main.less';
@import (less) './components/calendar.less';
@import (less) './components/bottom-nav.less';
@import (less) './components/forms.less';
@import (less) './components/category-browser.less';
@import (less) './components/modals.less';
@import (less) './components/slide-list.less';
@import (less) './components/strategies.less';
@import (less) './components/wizard.less';
@import (less) './components/more.less';

.app {
  margin-bottom: 3rem;
}

.o-footer {
  padding-bottom: 5.125rem !important;
}

.o-card-group_cards {
  margin-bottom: 1.8rem;
}

.hero-image {
  max-height: 46vw;

  @media screen and (min-width: 600px) {
    max-height: 240px;
  }
}
