{% extends 'layout-full.html' %}

{% block title -%}
    404 error: not found | Consumer Financial Protection Bureau
{%- endblock %}

{% block desc -%}
    404 error: the page requested could not be found
{%- endblock %}

{% block content_modifiers -%}
    error_main error_main__404
{%- endblock %}

{% block content_main %}
    <div class="error_copy_container">
        <header class="error_header u-mt30">
            <h1>404: Page not found</h1>
            <p class="lead-paragraph">
                We can’t find the page you’re looking for.
                Visit our homepage for helpful tools and resources,
                or contact us and we’ll point you in the right direction.
            </p>
        </header>
    </div>

    <div class="error_action_container">
        <div class="error_action_col">
            <a href="/" class="a-btn a-btn__full-on-xs">Visit homepage</a>
        </div>
        <div class="error_action_col">
            <a class="a-btn a-btn__full-on-xs" href="/about-us/contact-us/">
                Contact us
            </a>
        </div>
    </div>

    <p>Are you sure this is the right web address?
        <a class="a-link a-link__jump"
           href={{"mailto:CFPB_website@consumerfinance.gov?subject=404%20Error%20at%20%22" + request.build_absolute_uri() + "%22"}}>
            <span class="a-link_text">Let us know</span>
        </a>
    </p>

{% endblock %}

{% block javascript %}
{# Include site-wide JavaScript. #}
<script type='text/javascript' src="{{ static('js/routes/common.js') }}"></script>
{% endblock javascript %}
