{% extends 'base-base.html' %}

{% block body %}

{# Overlay for the page. Used for the mobile mega menu. #}
<div class="a-overlay u-hidden"></div>

<a href="#main" id="skip-nav">Skip to main content</a>

{% block header %}
    {% import 'organisms/header.html' as o_header with context %}
    {{ o_header.render( show_banner=true ) }}
{% endblock header %}

{# WAGTAILUSERBAR IN-PAGE VIEW CONTROLS #}
{{ wagtailuserbar() }}

{% block banner_top %}
{% endblock %}

{# PRIMARY CONTENT #}
{% block content %}
    {# This will be replaced in templates that extend this template
    and override "content". #}
{% endblock content %}
{# /PRIMARY CONTENT #}

{% block banner_bottom %}
{% endblock %}

{% block footer %}
    {% import 'organisms/footer.html' as o_footer with context %}
    {{ o_footer.render() }}
{% endblock footer %}

{% endblock body %}

{#
    ============
    BODY SCRIPTS
    ============
    The number of scripts here must be kept to a minimum.
#}

{% block javascript scoped %}

<script>
    {# Minified dynamic JavaScript loader that injects a script tag in the head
       of the page. It also provides a callback parameter. #}
    function loadScript(t,e){var n=document.createElement('script');n.type='text/javascript',n.onload=function(){return e?e():null},n.src=t,document.getElementsByTagName('head')[0].appendChild(n)}

    {#
      Check and include component-level JavaScript.
      Component-level JavaScript adds scripts appearing in
      unprocessed/js/routes/on-demand/[component].js
      to the page, based on what components were added in Wagtail.
    #}
    function loadScriptComponent(){
      {% if page and page.media %}
         {% for js in page.media %}
           loadScript('{{ static('js/routes/on-demand/' + js) }}');
         {% endfor %}
      {% endif %}
    }

    {#
      TODO: Remove the below blocks when all pages
            using this template are moved to Wagtail.
            This moves us away from a URL-dependant script inclusion scheme.
    #}

    {#
      Check and include template-level JavaScript.
      Template-level JavaScript applies to all pages under the URL scheme
      www.consumerfinance.gov/[app-url]/
      and JavaScript appears in unprocessed/js/routes/[app-url]/single.js.
    #}
    function loadScriptTemplate(){
      {% macro template_js() %}
         {% include 'js/routes/' + request.path.split('/')[1] + '/single.js' ignore missing %}
      {% endmacro %}
      {% set js_source = template_js() | trim %}
      {% if js_source | length > 0 %}
        loadScript('{{ static('js/routes/' + request.path.split('/')[1] + '/single.js') }}');
      {% endif %}
    }

    {#
      Check and include page-level JavaScript.
      Page-level JavaScript applies to a single pages under the URL scheme
      www.consumerfinance.gov/[app-url]/somepage
      and JavaScript appears in unprocessed/js/routes/[app-url]/index.js.
    #}
    function loadScriptPage(){
      {# Check and include page-level JavaScript. #}
      {% macro page_js() %}
         {% include 'js/routes/' + request.path[1:] + 'index.js' ignore missing %}
      {% endmacro %}
      {% set js_source = page_js() | trim %}
      {% if js_source | length > 0 %}
        loadScript('{{ static('js/routes/' + request.path[1:] + 'index.js') }}');
      {% endif %}
    }

    {#
      Modernizr adds a no-js class the HTML element if ECMAScript 5 features
      are not available. Check for that CSS class here and act accordingly.
    #}
    if (document.body.parentElement.className.indexOf('no-js')===-1){
      {# Include site-wide JavaScript. #}
      loadScript('{{ static('js/routes/common.js') }}', function(){
        loadScriptTemplate();loadScriptComponent();loadScriptPage();
      });
    }
</script>

<script>
//<![CDATA[
    var usasearch_config = { siteHandle: 'cfpb' };
    loadScript('https://search.usa.gov/javascripts/remote.loader.js');
//]]>
</script>

{% endblock javascript %}

<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="//fast.fonts.net/t/1.css?apiType=css&projectid=44e8c964-4684-44c6-a6e3-3f3da8787b50">
<!--<![endif]-->
