{#
    This is the shared template for both the
    English and Spanish-language consumerfinance.gov.
#}
<!DOCTYPE html>
{% if flag_enabled('CFPB_RECRUITING', request) %}
<!--
    ============================================================================

    Hey! If you're viewing this, you should probably come work on our Technology
    & Innovation team. We're always looking for a few great designers,
    developers, data scientists, and network, infrastructure, privacy and
    security pros. Keep an eye on our job opportunities at:
    https://www.consumerfinance.gov/jobs/

    Also, you can see more of our code at https://github.com/cfpb

    And by the way, there’s another hidden message somewhere on the following
    page: https://www.consumerfinance.gov/jobs/technology-innovation-fellows/.
    See if you can find it! Hint: picture yourself embedded in our work.

    ============================================================================
-->
{% endif %}

<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {% block og_article_prefix %}{% endblock %}">

{#
    ===========
    GLOBAL META
    ===========
#}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    {% block meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta_viewport %}

{#
    ==================
    PAGE-SPECIFIC META
    ==================
#}

    <title>
        {%- block title -%}
            {%- if page -%} {{ page.seo_title or page.title }} | {% endif -%}
            Consumer Financial Protection Bureau
        {%- endblock title -%}
    </title>
    <meta name="description"
          content="
            {%- block desc -%}
                {{- page.search_description if page and page.search_description
                    else 'Our vision is a consumer finance marketplace that works for American consumers, responsible providers, and the economy as a whole.'
                -}}
            {%- endblock -%}
          ">
    <link rel="canonical" href="{{ request.url | lower }}">

{# Open Graph properties #}
    {# Required Open Graph properties #}
    <meta property="og:title" content="{% block og_title %}{{ self.title() }}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:url" content="{{ request.url | lower }}">
{% block og_image %}
{% if page and page.meta_image %}
    {% set meta_image_url = request.build_absolute_uri(image(page.meta_image, 'original').url) %}
    <meta property="og:image" content="{{ meta_image_url }}">
    <meta property="twitter:image" content="{{ meta_image_url }}">
    {% if page.meta_image.should_display_summary_large_image %}
    <meta name="twitter:card" content="summary_large_image">
    {% endif %}
{% else %}
    <meta property="og:image"
          content="{{ request.scheme }}://{{ request.get_host() }}{{ static('img/logo_open-graph_facebook.png') }}">
    <meta property="twitter:image"
          content="{{ request.scheme }}://{{ request.get_host() }}{{ static('img/logo_open-graph_twitter.png') }}">
{% endif %}
{% endblock og_image %}
    {# Optional Open Graph properties #}
    <meta property="og:description"
          content="
              {%- block og_desc -%}
                  {%- if page -%}
                      {{- page.search_description or page.seo_title or page.title -}}
                  {%- endif -%}
              {%- endblock -%}
          ">
    <meta property="og:site_name" content="{% block og_site_name %}Consumer Financial Protection Bureau{% endblock %}">
    {# Facebook Open Graph properties #}
    <meta property="fb:app_id" content="210516218981921">
    {% block og_page_id %}{% endblock %}
    {% block og_article_author %}{% endblock %}
{# End of Open Graph properties #}
    <link rel="shortcut icon" type="image/x-icon" href="{{ static('assets/favicon.ico') }}">
{#
    ======
    STYLES
    ======
    The number of stylesheets here must be kept to a minimum.
    Unless adding a significant amount of CSS that is specific to a single page or section of the site,
    all new styles should be added to cfgov/v1/unprocessed/css/main.less.
#}

{% block css %}
<!--[if lt IE 10]><link rel="stylesheet" href="{{ static('css/main.ie.css') }}"><![endif]-->
<!--[if gt IE 9]><!--><link rel="stylesheet" href="{{ static('css/main.css') }}"><!--<![endif]-->
{% endblock css %}

{#
    ======
    PRELOADING DYNAMIC ASSETS
    ======
#}
{% block preload %}
{% endblock preload %}


{#
    ============
    HEAD SCRIPTS
    ============
    The following scripts must be included in the head. DO NOT ADD ANY MORE.
    All other scripts should go before the closing body tag.
    If you come across a script that makes a convincing case to be included in
    the head, then file an issue or PR to discuss including it.
#}
    {% block javascript_loader %}
    <script>
      {# Minified dynamic JavaScript loader that injects a script tag in the head of the page. #}
      function jsl(a){
        for(var b,c,d=[],f=document.scripts[0];b=a.shift();)c=document.createElement("script"),"async"in c?(c.async=!1,c.src=b,document.head.appendChild(c)):(d.push(c),c.onreadystatechange=function(){for(var e;d[0]&&"loaded"==d[0].readyState;)e=d.shift(),e.onreadystatechange=null,f.parentNode.insertBefore(e,f)},c.src=b);
      }
    </script>
    {% endblock javascript_loader %}

    {% if flag_enabled('AB_TESTING', request) %}
    {# Google Optimize page-hiding snippet #}
    <style>
        .optimize-loading { opacity: 0 !important; }
    </style>
    <script>
        (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
        })(window,document.documentElement,'optimize-loading','dataLayer',5000,
        {'GTM-KHB8MB':true});
    {# end Google Optimize page-hiding snippet #}

    {# Google Analytics/Optimize snippet #}
    {#
      The last line in the script requires Optimize.
      Pageview call removed, because pagviews are sent to Analytics via
      the Google Tag Manager tag (code included below).
    #}
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54439736-1', 'auto');
        ga('require', 'GTM-KHB8MB');
    </script>
    {# end Google Analytics/Optimize snippet #}
    {% endif %}

    {# Google Tag Manager #}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KMMLRS');</script>
    {# end Google Tag Manager #}

    {# Customized Modernizr build that includes html5printshiv.
       Built via gulp-modernizer in `scripts.js` task.
       TODO: Determine if modernizr is actually needed! #}
    {% block modernizr %}
    {#
      Turn off JavaScript for browsers that don't support ECMAScript 5 features
      (e.g. Internet Explorer 8)
      by reversing no-js/js CSS class change made by modernizr.
      The ECMAScript 5 feature checks are listed in
      https://github.com/Modernizr/Modernizr/tree/master/feature-detects/es5
    #}
    <script>
        {% include '/js/modernizr.min.js' %}

        !function(){
          var modernizr = window.Modernizr;
          if ( !( typeof modernizr !== 'undefined' && modernizr.es5 ) ) {
            var docElement = document.documentElement;
            docElement.className = docElement.className.replace( /(^|\s)js(\s|$)/, '$1no-js$2' );
          }
        }();
    </script>
    {% endblock %}

</head>

<body{% block body_classes %}{% endblock body_classes %}>

{% block analytics %}

{#
    =========
    Analytics
    =========
#}
{# Google Tag Manager (noscript) #}
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMMLRS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{# End Google Tag Manager (noscript) #}

{% endblock analytics %}


{% block body %}

{% endblock body %}

{#
    ============
    BODY SCRIPTS
    ============
    The number of scripts here must be kept to a minimum.
#}

{% block javascript %}

{% endblock javascript %}

{% block font_tracker %}
<!--[if gt IE 8]><!-->
<link rel="stylesheet"
      href="//fast.fonts.net/t/1.css?apiType=css&projectid=44e8c964-4684-44c6-a6e3-3f3da8787b50"
      media="none"
      onload="media='all'">
<noscript><link rel="stylesheet" href="//fast.fonts.net/t/1.css?apiType=css&projectid=44e8c964-4684-44c6-a6e3-3f3da8787b50">
</noscript>
<!--<![endif]-->
{% endblock font_tracker %}

</body>
</html>
