{% extends 'base.html' %}

{% block content scoped %}
    {%- import 'macros/accessible-languages.html' as accessible_languages with context-%}
    <main class="content {% block content_modifiers -%}{%- endblock %}"
          id="main"
          role="main"
          {{- accessible_languages.render() }}>
        {% block hero -%}{%- endblock %}
        {% block pre_content scoped -%}
            {% if breadcrumb_items | length > 0 %}
                <div class="wrapper">
                {%- import 'breadcrumbs.html' as breadcrumbs -%}
                {{ breadcrumbs.render(breadcrumb_items) }}
                </div>
            {% endif %}
        {%- endblock %}
        {% block body_content scoped -%}{%- endblock %}
        {% block post_content scoped -%}{%- endblock %}
    </main>
{% endblock %}
