{% extends '/es/es-base.html' %}

{% block og_title %}Obtener Respuestas - Oficina para la Protección Financiera del Consumidor{% endblock %}

    {% block css %}
    {{ super() }}
    <!--[if lt IE 9]>      <link rel="stylesheet" href="{{ static('knowledgebase/es-ask-styles-ie.min.css') }}"> <![endif]-->
    <!--[if gt IE 8]><!--> <link rel="stylesheet" href="{{ static('knowledgebase/es-ask-styles.min.css') }}"> <!--<![endif]-->
    {% endblock %}

{% block ask_search %}
    <div class="ac-search full-bleed full-bleed-padded {% block babel_hide_search %}s-hide-on-small{% endblock %}">
        <p class="lead">Encontrar respuestas a preguntas comunes acerca de productos y servicios financieros de consumo</p>
        <div class="s-hide-on-small" data-set="ac-search-form"></div>
    </div><!-- .ac-search -->
{% endblock ask_search %}
