#gpra_report > nav, #gpra_report > section {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0;
    margin-left: 1.9%
    border: none;
}
#gpra_report > nav {
    width:23.575%;
    padding-left: 1.9685%;
    margin: 0;
}
#gpra_report > section {
    margin-right: -14%;
    width: 74.525%;
    padding-right: 1.9685%;
}