<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
    /* our code starts here */

    body {font-family: "Avenir Next", Verdana, sans-serif;}
    h1 {
        font-size:150%;
        font-weight:bolder;
        margin-bottom:20px;
    }
    .center {
        margin-left:auto;
        margin-right:auto;
        width:60%;
        padding-left:20px;
    }
    #errors {
        list-style-type:none;
        padding:0px;
        color:red;
    }    

    </style>
  </head>
  <body>
  <div class="center">

    <h1>consumerfinance.gov website tools</h1>
    {% block content %}

    {% endblock %}
    </div>
    <!-- page content -->
  </body>
</html>
