{% extends "common/auth_base.html" %}
{% load i18n %}
{% block title %}
I forgot my password
{% endblock %}
{% block content %}
<p>Did you forget your password? No worries! Enter your email address below,
click "continue", and we'll send you instructions for resetting it.
</p>
<div id="content-main">
<form action="" method="post" id="forgot-password-form">
    {% if message %}
    {{message}}
    {% endif %}
  {% if form.errors %}
    <ul>
    {% for error in form.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% csrf_token %}
  <div class="form-row">
    <label for="id_emailaddress" class="required">{% trans 'Email' %}:</label>
    <input type='email' name='emailaddress'/>
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Continue' %}" />
  </div>
</form>

<script>
document.querySelector('input[name="emailaddress"]').focus()
</script>
</div>
{% endblock content %}
