 {% extends "admin/base_site.html" %}
{% load i18n static %}


{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}

   {% url 'django-admindocs-docroot' as docsroot %}
      {% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}
      {% trans 'Change password' %} /
      <a href="/admin/cdn/" target="_blank">Akamai</a> /
      <a href="/d{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/d{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
    <div id="content-main">

           <p>
               <h2>You Did It!!!  Your password has been updated!</h2> <br/>
               <a href="/d{% url 'admin:index' %}">Back to Main Admin Page</a>
           </p>

    </div>
{% endblock %}
