{% extends "common/auth_base.html" %}
{% load i18n %}
{% block title %}Setting a new password{% endblock %}

{% block content %}
        <p>You made it! Enter and confirm a new password below.</p>
        {% if errors %}
          <ul id="errors">
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                    <input type="submit" id="changepassword" value="Change my password"/></td>
                </tr>
            </table>
        </form>

{% endblock %}
