/* CCDB Specific CSS */

.layout-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  &.refine {
    div {
      margin: 0 1.375em 0 0;
      p {
        color: @gray;
        font-size: @size-vi;
        font-weight: 600;
        font-style: normal;
      }
    }
    .a-btn {
      color: @black;
      background-color: @pacific-60;
      &.selected {
        font-weight: 600;
      }
    }
    .per-capita {
      .a-btn:not(.selected){
        background-color: @pacific-20;
      }

      @phone: ~"only screen and (max-width:500px)";
      @media @phone {
        span {
          display: none;
        }
      }
    }
    .a-btn__disabled {
      cursor: pointer;
    }
  }
}

.m-btn-group {
  p {
    font-size: smaller;
    font-style: italic;
  }
}

.m-hero {
  background-color: @teal-20;
}

.ccdb-landing {

  h2,
  h4,
  h6 {
    letter-spacing: 0em;
    text-transform: none;
  }

  .m-notification {

    .data-text,
    .narratives-text {
      display: none;
    }

    &.show-data-notification,
    &.show-narratives-notification {
      display: block;
    }

    &.show-data-notification .data-text,
    &.show-narratives-notification .narratives-text {
      display: block;
    }

  }

  .section-one {
    .content-l_col {
      padding-bottom: 40px;
      img {
        margin: 0 auto 20px;
        display: block;
      }
    }
    .btn-holder {
      position: absolute;
      bottom: -20px;
      text-align: center;
      width: 31%;
      a {
        padding: inherit 15px;
      }
    }
  }

  .section-two {
    .db-numbers {
      margin-top: 0;
    }
    .callouts-small {
      display: none;
    }
    .callout {
      font-size: 1.625em;
    }
    .numeric-callout {
      display: block;
      font-size: 1.84615384615em;
      font-weight: bold;
      margin-bottom: 0px;
      line-height: 1.25;
    }
  }

  .section-five {
    .download-text {
      width: 66.6666%;
    }
  }
}

/* ====================================================================
   Medium screens
==================================================================== */

.respond-to-max(@bp-med-max, {

  .ccdb-landing {

    .section-one {
      .content-l_col img.isocon {
        max-width: 50%;
      }

      .btn-holder {
        display: block;
        margin-left: -5px;

        a {
          width: 90%;
        }
      }
    }

    .section-two {
      .callout {
        font-size: 1.375em;
      }
      .numeric-callout {
        font-size: 1.375em;
        font-weight: normal;
        line-height: 1;
      }
    }

    .section-five {
      .data-selection-container {
        .content-l_col.content-l_col-1-3 {
          width: 50%;
        }
        .content-l_col + .content-l_col {
          margin-top: 0;
        }
      }
    }
  }

});

/* ====================================================================
   Small screens
==================================================================== */

.respond-to-range(600px, 699px, {
  .ccdb-landing {
    .stack-col(content-l_col-1-2);
    .stack-col-thirds();
    .stack-col-quarters();
  }
});

.respond-to-max(699px, {

  .ccdb-landing {
    .section-one {
      border-top: 1px solid #CDCDCB;
      padding-top: 25px;

      .content-l_col {
        padding-bottom: 0;

        img.isocon {
          display: none;
        }
      }

      .btn-holder {
        display: block;
        position: static;
        width: 100%;

        a {
          width: 90%;
        }
      }
    }

    .section-two {
      .callout {
        font-size: 1.375em;
        font-weight: normal;
      }
      .numeric-callout {
        font-size: 1.818181818182em;
      }
      .callouts-small {
        display: block;
        margin-bottom: 15px;
      }
      .callouts-large {
        display: none;
      }
    }

    a.icon-link.full-width {
      border-top-width: 1px;
      display: block;
      line-height: 2.2;
      padding-bottom: 0;
      margin-top: 20px;

      &:after {
        float: right;
      }
    }

    .section-five {
      .download-text {
        width: 100%;
      }
      .data-selection-container {
        padding-left: 35px;
        padding-right: 35px;

        .content-l_col.content-l_col-1-3 {
          width: 100%;
        }
      }
    }
  }

});

/* Complaint column order */
.respond-to-min(700px, {
    .content-l_col.content-l_col-1-3.complaint-details {
      .grid_push(8);
    }

    .content-l_col.content-l_col-2-3.complaint-contents {
      .grid_pull(4);
    }
});
