// -----------------------------------------------------------------------------
// cf-base

// Font variables
@webfont-regular: 'AvenirNextLTW01-Regular';
@webfont-italic: @webfont-regular;
@webfont-medium: 'AvenirNextLTW01-Medium';
@webfont-demi: @webfont-medium;

.webfont-regular() {
    font-family: @webfont-regular, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;

    & em,
    & i {
        .webfont-italic();
    }

    & strong,
    & b {
        .webfont-demi();
    }
}

.webfont-italic() {
    font-family: @webfont-italic, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    .lt-ie9 & {
        font-style: normal !important;
    }
}

.webfont-medium() {
    font-family: @webfont-medium, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    .lt-ie9 & {
        font-weight: normal !important;
    }
}

.webfont-demi() {
    font-family: @webfont-demi, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    .lt-ie9 & {
        font-weight: normal !important;
    }
}


// -----------------------------------------------------------------------------
// cf-buttons

// Color variables

// .btn
@btn-text:                      @white;
@btn-bg:                        @pacific;
@btn-bg-hover:                  @pacific-80;
@btn-bg-active:                 @teal;

// Sizing variables

// .btn
@btn-font-size:                 @base-font-size-px;
@btn-v-padding:                 8px;
@btn-v-padding-modifier-ie:     .8;

.btn {

    display: inline-block;
    box-sizing: border-box;
    padding:
        unit( @btn-v-padding / @btn-font-size, em )
        unit( 14px / @btn-font-size, em );
    border: 0;
    border-radius: unit( 4px / @btn-font-size, em );
    margin: 0;

    vertical-align: middle;

    .webfont-medium();
    font-size: unit( @btn-font-size / @base-font-size-px, em );
    line-height: normal;
    text-decoration: none;

    cursor: pointer;
    transition: background-color .1s;
    -webkit-appearance: none;

    &,
    &:link,
    &:visited {
        background-color: @btn-bg;
        color: @btn-text;
    }

    &:hover,
    &.hover {
        background-color: @btn-bg-hover;
    }

    &:focus,
    &.focus {
        background-color: @btn-bg-hover;
        outline: 1px dotted @btn-bg;
        // outline-offset is not supported everywhere but it adds a nice touch
        // in browsers where it is.
        outline-offset: 1px;
    }

    &:active,
    &.active {
        background-color: @btn-bg-active;
    }

    button&::-moz-focus-inner,
    input&::-moz-focus-inner {
        // Fixes inconsistent button.btn height in FireFox
        // Helps with inconsistent input.btn height in FireFox but not completely
        border: 0;
    }

    & + & {
        margin-left: unit( 6px / @btn-font-size, em);
    }
}

.lt-ie8 {

    // Fixes scroll rendering bug
    // http://snipplr.com/view/518/
    & {
        background: url(null) fixed no-repeat;
    }

    // Fixes button and input sizes in IE7
    button.btn,
    input.btn {
        overflow: visible;
        padding-top: unit( (@btn-v-padding-modifier-ie * @btn-v-padding) / @btn-font-size, em );
        padding-bottom: unit( (@btn-v-padding-modifier-ie * @btn-v-padding) / @btn-font-size, em );
    }

}

// -----------------------------------------------------------------------------
// cf-expandables

@expandable-group-divider:      @gray-80;

// -----------------------------------------------------------------------------
// cf-layout

@hero-desktop-height: 285px;
@hero-image-height: 195px;
@desktop-min: 801px;

@mobile-max:                    @bp-xs-max;
@tablet-min:                    @bp-sm-min;

.hero {
    background-color: @block__bg;

    &_wrapper {
        box-sizing: border-box;
        padding: unit(@grid_gutter-width / @base-font-size-px, em)
                 unit(15px / @base-font-size-px, em);
        width: 100%;
    
        .respond-to-min(@tablet-min, {
            display: table;
        });

        .respond-to-min(@desktop-min, {
            padding-top: unit(45px / @base-font-size-px, em);
            padding-bottom: unit(45px / @base-font-size-px, em);
            min-height: unit(@hero-desktop-height / @base-font-size-px, em);
        });
    
        .respond-to-min(1230px, {
            padding-right: 0;
            padding-left: 0;
        });

        .lt-ie9 & {
            // Reduce min-height because IE8 apparently isn't honoring the border-box property,
            // perhaps due to bug seen here: http://grab.by/JutE
            min-height: initial;
        }
    }

    &_text {
        .respond-to-min(@tablet-min, {
            .grid_column(7,12);
            display: table-cell;
            vertical-align: middle;
        });
    }

    &_heading {
        .heading-1();

        .respond-to-max(800px, {
            .heading-2();
        });
    }

    &_subhead {
        .heading-3();

        margin-bottom: unit(@grid_gutter-width / 22px, em);

        .respond-to-max(800px, {
            .heading-4();
        });

        &:last-child {
            margin-bottom: initial;
        }
    }

    &_cta {
        .webfont-regular();

        margin-bottom: initial;
    }

    &_image {
        min-height: unit(@hero-image-height / @base-font-size-px, em);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        .respond-to-min(@tablet-min, {
            .grid_column(5,12);
            display: table-cell;
            vertical-align: middle;
        });

        .respond-to-max(@mobile-max, {
            margin-top: unit(@grid_gutter-width / @base-font-size-px, em);
        });
    }
}
