#landing-map {
  height: 580px;

  // Override values coming in via the cfpb-chart class from cfpb-chart-builder.
  &.cfpb-chart {
    max-width: initial;

    .highcharts-legend-description,
    .highcharts-legend-dates {
      font-size: 12px;
    }
    .highcharts-legend__tile-map {
      font-size: 12px;
      font-weight: 600;

      .legend-box {
        stroke-width: 1;
        stroke: #75787b;
      }
    }

    .highcharts-data-label {
      font-weight: 500;
      color: @black;
      font-size: 14px;
      line-height: 1.3;

      .highcharts-data-label-state {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        cursor: default;

        // IE 11 fixes
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          display: inline-block;
          float: left;
        }

        &.hover {
          .abbr, .value {
            text-decoration: underline;
          }
        }

        .abbr {
          flex: 1 0 auto;
          font-size: 16px;
        }

        .value {
          flex: 1 0 auto;
          margin-top: 6px;
          font-size: 12px;
        }
      }
    }

    .highcharts-map-series {
      .highcharts-point {
        stroke: none;
      }

      :not(.highcharts-point-hover) {
        &.empty {
          stroke: rgba(231, 232, 233, 1);
        }
      }

      .highcharts-point-hover {
        stroke: rgba(0, 45, 114, 1);
        stroke-width: 2px !important;
      }
    }

    .highcharts-label-box {
      display: none;
    }

    .highcharts-tooltip {
      min-width: 200px;

      span {
        color: @white;
        background-color: @black;
        padding: 5px;
        width: 320px;

        div {
          p {
            margin: 5px;
            white-space: normal;

            &.u-float-left {
              width: 150px;
              float: left;
            }

            &.u-right {
              width: 150px;
              //float: right;
            }
          }
        }

        .title {
          text-align: center;
        }

        .row {
          border-top: solid 1px @gray-dark;
          margin-top: 5px;
          padding-top: 5px;
        }
      }
    }
  }
}



// -----------------------------------------------------------------------------
// State Tile Break Points

@mobile-tiles:  ~"only screen and (max-width:1024px)";
@mobile-xs-tiles:  ~"only screen and (max-width:490px)";

.highcharts-data-label {
  font-size: 14px;
  line-height: 1.3;

  .highcharts-data-label-state {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // IE 11 fixes
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: inline-block;
      float: left;
    }

    .abbr {
      flex: 1 0 auto;
      font-size: 16px;
    }

    .value {
      flex: 1 0 auto;
      margin-top: 6px;
      font-size: 12px;
    }
    &.hover {
      .abbr, .value {
        text-decoration: underline;
      }
    }
    &.deselected {
      color: rgba(90, 93, 97, 1);
    }
  }

}

// This takes over for looking good at the minimum height of 400px
@media @mobile-tiles {
  .highcharts-data-label {
    line-height: 1;

    .highcharts-data-label-state {
      .abbr {
        font-size: 12px;
      }
      .value {
        margin-top: 3px;
        font-size: 9px;
      }
    }
  }
}

@media @mobile-xs-tiles {
  .highcharts-data-label {
    line-height: 1;

    .highcharts-data-label-state {
      // IE 11 shift tile labels up
      @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
        transform: translateY(-10px);
      }
      .abbr {
        font-size: 12px;
      }
      .value {
        display: none;
      }
    }
  }
}
