@import (reference) '../../../css/main.less';
@import url('../node_modules/ctrl-f/dist/css/index.css');

.o-fig__main {
  // Bump up all heading sizes to improve readability
  h1 {
    .superheading();
  }

  h2 {
    .h1();
    margin-top: 60px;
  }

  h3 {
    .h2();
    margin-top: 45px;
  }

  :not(.m-info-unit__heading-text) > h4 {
    .h3();
    margin-top: 30px;
  }

  h5 {
    .h4();
    margin-top: 30px;
  }

  pre {
    font-family: Menlo, 'Andale Mono', 'Courier New', monospace;
    overflow-x: auto;
    font-size: unit(14px / @base-font-size-px, em);
  }

  .o-table {
    margin-top: unit(30px / @base-font-size-px, em);
    td {
      vertical-align: top;
      hyphens: auto;
    }
    br {
      display: none;
    }
  }

  .u-fig-print-link {
    margin-top: unit(45px / @base-font-size-px, em);
    margin-bottom: unit(60px / @base-font-size-px, em);
    padding-top: unit(30px / @base-font-size-px, em);
  }

  // Desktop and above.
  .respond-to-min(@bp-med-min, {
    // Increase the sidebar border from 1px to 2px
    .content &:after {
      border-left-width: 2px;
    }
  });
}

.o-fig__heading {
  a {
    color: var(--black);
    word-break: break-word;
  }
}

.o-fig__section--sub-sub {
  margin-top: unit(45px / @base-font-size-px, em);
  margin-bottom: unit(45px / @base-font-size-px, em);

  // Put a horizontal rule below all sub level 3 headings
  &::after {
    display: inline-block;
    content: '';
    border-top: 2px solid var(--gray-50);
    width: calc(100% + 30px);
    margin: unit(45px / @base-font-size-px, em) 0 0
      unit(-30px / @base-font-size-px, em);
  }
}

// TODO: convert FIG secondary nav override abuse to modifiers on secondary nav.
.o-fig__sidebar {
  .o-secondary-nav__label {
    width: 95%;
  }

  // When the sidebar collapses into an expandable,
  // make the expandable's content scrollable
  .o-secondary-nav__content[data-open='true'] {
    overflow-y: auto;
    height: 100vh;
    > .o-secondary-nav__list {
      // Add a large buffer underneath to ensure mobile users
      // can use assistive technology like Reachability to access
      // items at the bottom of the list
      padding-bottom: unit(420px / @base-font-size-px, em);
    }
  }

  // Tablet and below.
  .respond-to-max(@bp-sm-max, {
    .o-secondary-nav__link {
      padding: unit( 10px / @base-font-size-px, em );
    }
  });

  .o-secondary-nav__link {
    padding-left: unit(24px / @base-font-size-px, em);
    text-indent: unit(-18px / @base-font-size-px, em);
  }

  .o-secondary-nav__list--parents > .o-secondary-nav__link {
    padding-left: unit(10px / @base-font-size-px, em);
    text-indent: unit(-10px / @base-font-size-px, em);
  }

  h4 {
    padding-left: unit(19px / @size-iv, em);
  }
}

.research-report {
  // 670px, plus a 15px gutter on each side (standard paragrah widths)
  max-width: unit((670 + 30) / 16, em);

  .lead-paragraph,
  .author-names {
    margin: 30px 0;
  }

  .report-header > a {
    color: black;
    &:visited {
      color: black;
    }
  }
}

.u-hide-on-desktop {
  // Desktop and above.
  .respond-to-min(@bp-med-min, {
    display: none;
  });
}

.u-hide-on-tablet {
  // Tablet and below.
  .respond-to-max(@bp-sm-max, {
    display: none;
  });
}

#ctrl-f-modal {
  h3 {
    font-size: unit(16px / @base-font-size-px, em);
  }
  svg {
    .cf-icon-svg();
  }
  input {
    .a-text-input();
    padding-left: unit(32px / @base-font-size-px, em);
    &:focus {
      .a-text-input.focus();
    }
  }
  .ctrl-f-search-result {
    border-bottom: 1px solid var(--gray-40);
    a {
      color: var(--black);
      &:focus {
        .a-text-input.focus();
      }
      &:hover {
        .a-text-input.hover();
      }
    }
  }
}
