@import (reference) '../../../css/main.less';

.o-fig {

  // Make the side navigation sticky
  .content_sidebar {
    position: sticky;
    top: -1px;
  }

  .respond-to-min( @bp-med-min, {
    // Expand it to full height on desktop with optional scrolling
    .content_sidebar {
      max-height: 100vh;
      overflow-y: auto;
    }
  } );

}

.o-fig_main {
  // Bump up all heading sizes to improve readability
  h1 {
    .superheading();
  }

  h2 {
    .h1();
  }

  h3 {
    .h2();
  }

  :not( .m-info-unit_heading-text ) > h4 {
    .h3();
  }

  h5 {
    .h4();
  }

  // Set the gap above all headings to 30px
  * + h2,
  * + h3,
  * + h4,
  * + h5 {
    margin-top: unit( 30px / @base-font-size-px, em );
  }

  pre {
    font-family: Menlo, "Andale Mono", "Courier New", monospace;
    overflow-x: auto;
    font-size: unit( 14px / @base-font-size-px, em );
    white-space: pre;
  }

  .o-table {
    margin-top: unit( 30px / @base-font-size-px, em );
    td {
      vertical-align: top;
      hyphens: auto;
    }
    br {
      display: none;
    }
  }

  .respond-to-min( @bp-med-min, {
    // Increase the sidebar border from 1px to 2px
    .content &:after {
      border-left-width: 2px;
    }
  } );

  // There is a chrome bug that causes `position: relative` elements
  // to have a greater z-index than sticky elements, causing them to
  // float over the sticky TOC as users scroll.
  .respond-to-max( @bp-sm-max, {
    .content-l,
    .a-link__jump {
      z-index: -1;
    }
  } );
}

.o-fig_heading {
  a {
    color: @black;
  }
}

.o-fig_section__sub-sub {
  margin-top: unit( 45px / @base-font-size-px, em );
  margin-bottom: unit( 45px / @base-font-size-px, em );

  // Put a horizontal rule below all sub level 3 headings
  &:after {
    display: inline-block;
    content: "";
    border-top: 2px solid @gray-50;
    width: calc( 100% + 30px );
    margin: unit( 45px / @base-font-size-px, em ) 0 0 unit( -30px / @base-font-size-px, em );
  }
}

.o-fig_sidebar {

  .o-expandable_header-left {
    width: 95%;
  }

  // When the sidebar collapses into an expandable,
  // make the expandable's content scrollable
  .o-expandable_content__expanded {
    overflow-y: auto;
    height: 100vh;
    &:after {
      // Add a large buffer underneath to ensure mobile users
      // can use assistive technology like Reachability to access
      // items at the bottom of the list
      padding-bottom: unit( 420px / @base-font-size-px, em );
    }
  }

  .respond-to-max( @bp-sm-max, {
    .m-nav-link {
      padding: unit( 10px / @base-font-size-px, em );
    }
  } );

  .m-nav-link {
    padding-left: unit( 40px / @base-font-size-px, em );
    text-indent: unit( -30px / @base-font-size-px, em );
  }

  .o-secondary-navigation_list__parents > li > a {
    padding-left: unit( 30px / @base-font-size-px, em );
    text-indent: unit( -18px / @base-font-size-px, em );
  }

  h4 {
    padding-left: unit( 19px / @size-iv, em );
  }

  .o-report-sidenav__appendix > li > a {
    text-indent: unit( -20px / @base-font-size-px, em );
  }

  .parent-header {
    .o-secondary-navigation_list__children  {
      display: block;
      margin-top: 0;
      margin-bottom:0.5em;
      .m-nav-link {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }
  }
}


.research-report {
  // 670px, plus a 15px gutter on each side (standard paragrah widths)
  max-width: unit( (670 + 30) / 16, em );

  .lead-paragraph, .author-names {
    margin: 30px 0 30px 0;
  }

  .appendix-header {
    margin: 0.83em 0;
  }

  .report-header > a {
    color: black;
    &:visited {
      color: black;
    }
  }
}

.report-footnotes {
  margin-left: 4px;
}

.report-global-footer {
  position: relative;
  z-index: 1;
}

.respond-to-print({
  .o-report-sidenav {
    display: none;
  }
});

.u-hide-on-desktop {
  .respond-to-min( @bp-med-min, {
    display: none;
  } );
}

.u-hide-on-tablet {
  .respond-to-max( @bp-sm-max, {
    display: none;
  } );
}
