{% extends 'v1/layouts/layout-2-1.html' %}
{% import 'v1/includes/atoms/partially-styled-link.html' as partially_styled_link with context %}
{% import 'v1/includes/templates/render_block.html' as render_block with context %}
{% import 'v1/includes/organisms/ask-search.html' as ask_search with context %}

{% set read_answer_text = _('Read answer') %}

{% block css -%}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/on-demand/ask.css') }}">
{%- endblock css %}

{% block content_modifiers -%}
    {{ super() }} ask-cfpb-page ask-cfpb-page__landing
{%- endblock %}

{% block hero -%}
    {% for block in page.header -%}
        {{ render_block.render(block, loop.index) }}
    {%- endfor %}
{% endblock %}

{% block content_main %}
    <div class="content-l">
        <section class="ask-search block__sub block__flush-top">
            {{ ask_search.render( language=page.language, is_subsection=False ) }}
        </section>

        <section class="ask-categories">
            <h2 class="u-show-on-mobile u-mt45">
                {{ _('Browse questions by category') }}
            </h2>
            <ul class="u-show-on-mobile category_list m-list m-list__links u-mb0">
                {% for portal in portal_cards %}
                    <li class="m-list_item">
                        <a class="m-list_link
                                  a-link
                                  a-link__jump
                                  a-link__icon-after-text"
                            href="{{ portal.url }} ">
                            <span class="a-link_text">
                                {{ portal.title }}
                            </span>
                            {% if portal.icon %}{{ svg_icon( portal.icon ) }}{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="u-hide-on-mobile question-categories u-mb15">

                
                {#
                    TODO:   This can use the standard card-group.html template
                            if the partially styled links are removed.
                #}

                <div class="o-card-group o-card-group__column-2">
                    <div class="o-card-group_cards">

                        {% if page.language == 'en'%}
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/auto-loans/">
                                    {{ svg_icon( "car" ) }}
                                    <span>Auto loans</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/763" href="/ask-cfpb/what-effect-will-shopping-for-an-auto-loan-have-on-my-credit-en-763/">
<span class="a-link__partially-styled_plain">What effect will shopping for an auto loan have on my credit? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/733" href="/ask-cfpb/what-is-the-difference-between-an-interest-rate-and-the-annual-percentage-rate-apr-in-an-auto-loan-en-733/">
<span class="a-link__partially-styled_plain">What is the difference between an interest rate and the Annual Percentage Rate (APR) in an auto loan? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/auto-loans/">
                                Learn more about auto loans
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/bank-accounts/">
                                    {{ svg_icon( "bank" ) }}
                                    <span>Bank accounts</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/1023" href="/ask-cfpb/how-quickly-can-i-get-money-after-i-deposit-a-check-into-my-checking-account-what-is-a-deposit-hold-en-1023/">
<span class="a-link__partially-styled_plain">How quickly can I get money after I deposit a check into my checking account? What is a deposit hold? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/1145" href="/ask-cfpb/i-would-like-to-be-able-to-have-my-friend-or-family-member-help-with-my-bill-paying-and-banking-what-are-my-options-en-1145/">
<span class="a-link__partially-styled_plain">Can a family member or friend help me with bill paying and banking? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/bank-accounts/">
                                Learn more about bank accounts
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/credit-cards/">
                                    {{ svg_icon( "credit-card" ) }}
                                    <span>Credit cards</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/44" href="/ask-cfpb/what-is-a-credit-card-interest-rate-what-does-apr-mean-en-44/">
<span class="a-link__partially-styled_plain">What is a credit card interest rate? What does APR mean? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/1861" href="/ask-cfpb/what-do-i-need-to-know-if-im-thinking-about-consolidating-my-credit-card-debt-en-1861/">
<span class="a-link__partially-styled_plain">What do I need to know about consolidating my credit card debt? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/credit-cards/">
                                Learn more about credit cards
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/credit-reports-and-scores/">
                                    {{ svg_icon( "credit-report" ) }}
                                    <span>Credit reports and scores</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/5" href="/ask-cfpb/how-do-i-get-a-free-copy-of-my-credit-reports-en-5/">
<span class="a-link__partially-styled_plain">How do I get a free copy of my credit reports? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/315" href="/ask-cfpb/what-is-a-credit-score-en-315/">
<span class="a-link__partially-styled_plain">What is a credit score? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/credit-reports-and-scores/">
                                Learn more about credit reports and scores
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/debt-collection/">
                                    {{ svg_icon( "debt-collection" ) }}
                                    <span>Debt collection</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/1695" href="/ask-cfpb/what-should-i-do-when-a-debt-collector-contacts-me-en-1695/">
<span class="a-link__partially-styled_plain">What should I do when a debt collector contacts me? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/2110" href="/ask-cfpb/how-often-can-a-debt-collector-call-me-en-2110/">
<span class="a-link__partially-styled_plain">When and how often can a debt collector call me on the phone? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/debt-collection/">
                                Learn more about debt collection
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/fraud/">
                                    {{ svg_icon( "money" ) }}
                                    <span>Fraud and scams</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/2092" href="/ask-cfpb/what-are-some-common-types-of-scams-en-2092/">
<span class="a-link__partially-styled_plain">What are some common types of scams? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/2049" href="/ask-cfpb/how-can-i-recognize-mail-fraud-en-2049/">
<span class="a-link__partially-styled_plain">How can I recognize mail fraud? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/fraud/">
                                Learn more about fraud and scams
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/money-transfers/">
                                    {{ svg_icon( "money-transfer" ) }}
                                    <span>Money transfers</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/1161" href="/ask-cfpb/what-is-a-remittance-transfer-en-1161/">
<span class="a-link__partially-styled_plain">What is a remittance transfer and what are my rights? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/1065" href="/ask-cfpb/what-is-an-ach-en-1065/">
<span class="a-link__partially-styled_plain">What is an ACH? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/money-transfers/">
                                Learn more about money transfers
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/mortgages/">
                                    {{ svg_icon( "mortgage" ) }}
                                    <span>Mortgages</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/122" href="/ask-cfpb/what-is-private-mortgage-insurance-en-122/">
<span class="a-link__partially-styled_plain">What is private mortgage insurance? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/227" href="/ask-cfpb/can-anyone-take-out-a-reverse-mortgage-loan-en-227/">
<span class="a-link__partially-styled_plain">Can anyone take out a reverse mortgage loan? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/224" href="/ask-cfpb/what-is-a-reverse-mortgage-en-224/">
<span class="a-link__partially-styled_plain">What is a reverse mortgage? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/mortgages/">
                                Learn more about mortgages
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/payday-loans/">
                                    {{ svg_icon( "payday-loan" ) }}
                                    <span>Payday loans</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/1567" href="/ask-cfpb/what-is-a-payday-loan-en-1567/">
<span class="a-link__partially-styled_plain">What is a payday loan? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/1605" href="/ask-cfpb/how-can-i-stop-a-payday-lender-from-electronically-taking-money-out-of-my-bank-or-credit-union-account-en-1605/">
<span class="a-link__partially-styled_plain">How can I stop a payday lender from electronically taking money out of my bank or credit union account? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/payday-loans/">
                                Learn more about payday loans
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/prepaid-cards/">
                                    {{ svg_icon( "prepaid-cards" ) }}
                                    <span>Prepaid cards</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/503" href="/ask-cfpb/how-do-i-check-my-prepaid-card-balance-en-503/">
<span class="a-link__partially-styled_plain">How do I check my prepaid card balance? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/395" href="/ask-cfpb/how-do-i-shop-for-buy-a-prepaid-card-en-395/">
<span class="a-link__partially-styled_plain">How do I shop for and buy a prepaid card? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/prepaid-cards/">
                                Learn more about prepaid cards
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/reverse-mortgages/">
                                    {{ svg_icon( "loan" ) }}
                                    <span>Reverse mortgages</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/227" href="/ask-cfpb/can-anyone-take-out-a-reverse-mortgage-loan-en-227/">
<span class="a-link__partially-styled_plain">Can anyone take out a reverse mortgage loan? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/224" href="/ask-cfpb/what-is-a-reverse-mortgage-en-224/">
<span class="a-link__partially-styled_plain">What is a reverse mortgage? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/reverse-mortgages/">
                                Learn more about reverse mortgages
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/consumer-tools/student-loans/">
                                    {{ svg_icon( "college" ) }}
                                    <span>Student loans</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/545" href="/ask-cfpb/what-are-the-different-ways-to-pay-for-college-or-graduate-school-en-545/">
<span class="a-link__partially-styled_plain">What are the different ways to pay for college or graduate school? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a class="a_link a-link__partially-styled" data-pretty-href="cfpb.gov/askcfpb/641" href="/ask-cfpb/what-is-public-service-loan-forgiveness-en-641/">
<span class="a-link__partially-styled_plain">What is Public Service Loan Forgiveness? </span>
<span class="a-link__partially-styled_underlined">Read answer</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/consumer-tools/student-loans/">
                                Learn more about student loans
                                </a>
                            </div>

                        </article>
                        {% else %}
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/prestamos-para-vehiculos/">
                                    {{ svg_icon( "car" ) }}
                                    Préstamos para vehículos
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/que-efecto-tendria-sobre-mi-credito-comparar-diferentes-ofertas-de-prestamos-para-vehiculos-es-763/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Qué efecto tendría sobre mi crédito comparar diferentes ofertas de préstamos para vehículos? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/debo-mas-en-mi-prestamo-de-lo-que-vale-mi-vehiculo-que-debo-saber-si-compro-un-vehiculo-nuevo-es-779/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">Debo más en mi préstamo de lo que vale mi vehículo. ¿Qué debo saber si compro un vehículo nuevo? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/prestamos-para-vehiculos/">
                                Sepa más sobre préstamos para vehículos
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/cuentas-bancarias/">
                                    {{ svg_icon( "bank" ) }}
                                    Cuentas bancarias
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/que-tan-rapido-puedo-obtener-el-dinero-despues-de-depositar-un-cheque-en-mi-cuenta-corriente-que-es-una-retencion-de-deposito-es-1023/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Qué tan rápido puedo obtener el dinero después de depositar un cheque en mi cuenta corriente? ¿Qué es una retención de depósito? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/me-gustaria-poder-tener-la-ayuda-de-mis-amigos-o-familiares-con-el-pago-de-mis-facturas-y-actividades-bancarias-cuales-son-mis-opciones-es-1145/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">Me gustaría poder tener la ayuda de mis amigos o familiares con el pago de mis facturas y actividades bancarias. ¿Cuáles son mis opciones? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/cuentas-bancarias/">
                                Sepa más sobre cuentas bancarias
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/tarjetas-de-credito/">
                                    {{ svg_icon( "credit-card" ) }}
                                    Tarjetas de crédito
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/que-es-la-tasa-de-interes-de-una-tarjeta-de-credito-que-es-la-apr-es-44/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Qué es la tasa de interés de una tarjeta de crédito? ¿Qué es la APR? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/como-puedo-impugnar-un-cargo-en-el-estado-de-cuenta-de-mi-tarjeta-de-credito-es-61/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Cómo puedo impugnar un cargo en el estado de cuenta de mi tarjeta de crédito? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/tarjetas-de-credito/">
                                Sepa más sobre tarjetas de crédito
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/informes-y-puntajes-de-credito/">
                                    {{ svg_icon( "credit-report" ) }}
                                    Informes y puntajes de crédito
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/donde-puedo-encontrar-mis-puntajes-crediticios-es-316/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Dónde puedo encontrar mis puntajes crediticios? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/informes-y-puntajes-de-credito/">
                                Sepa más sobre informes y puntajes de crédito
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/cobro-de-deudas/">
                                    {{ svg_icon( "debt-collection" ) }}
                                    Cobro de deudas
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/hay-un-limite-en-el-numero-de-veces-que-un-cobrador-de-deudas-puede-llamarme-es-1397/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Hay un límite en el número de veces que un cobrador de deudas puede llamarme? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/que-debo-hacer-cuando-un-cobrador-de-deudas-se-comunica-conmigo-es-1695/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Qué debo hacer cuando un cobrador de deudas se comunique conmigo? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/cobro-de-deudas/">
                                Sepa más sobre cobro de deudas
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/fraudes-y-estafas/">
                                    {{ svg_icon( "money" ) }}
                                    Fraudes y estafas
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/como-puedo-impugnar-un-cargo-en-el-estado-de-cuenta-de-mi-tarjeta-de-credito-es-61/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Cómo puedo impugnar un cargo en el estado de cuenta de mi tarjeta de crédito? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/fraudes-y-estafas/">
                                Sepa más sobre fraudes y estafas
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/transferencias-de-dinero/">
                                    {{ svg_icon( "money-transfer" ) }}
                                    Transferencias de dinero
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/que-es-una-transferencia-de-remesa-es-1161/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Qué es una transferencia de remesa? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/cuales-son-las-nuevas-protecciones-federales-a-los-consumidores-que-envian-dinero-al-extranjero-es-1507/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Cuáles son las nuevas protecciones federales a los consumidores que envían dinero al extranjero? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/transferencias-de-dinero/">
                                Sepa más sobre transferencias de dinero
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/hipotecas/">
                                    {{ svg_icon( "mortgage" ) }}
                                    Hipotecas
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/cual-es-la-diferencia-entre-un-prestamo-hipotecario-de-tasa-de-interes-fija-y-un-prestamo-hipotecario-de-tasa-de-inters-ajustable-arm-es-100/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Cuál es la diferencia entre un préstamo hipotecario de tasa de interés fija y un préstamo hipotecario de tasa de interés ajustable (ARM, por sus siglas en inglés)? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/hipotecas/">
                                Sepa más sobre hipotecas
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/prestamos-del-dia-de-pago/">
                                    {{ svg_icon( "payday-loan" ) }}
                                    Préstamos del día de pago
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/que-es-un-prestamo-de-dia-de-pago-es-1567/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Qué es un préstamo de día de pago? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/cuales-son-los-costos-y-cargos-que-acarrea-un-prestamo-de-dia-de-pago-es-1589/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Cuáles son los costos y cargos que acarrea un préstamo de día de pago? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/prestamos-del-dia-de-pago/">
                                Sepa más sobre préstamos del día de pago
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/tarjetas-prepagadas/">
                                    {{ svg_icon( "prepaid-cards" ) }}
                                    <span>Tarjetas prepagadas</span>
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/que-es-un-prestamo-de-dia-de-pago-es-1567/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Qué es un préstamo de día de pago? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/como-puedo-consultar-el-saldo-de-mi-tarjeta-prepagada-es-503/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Cómo puedo consultar el saldo de mi tarjeta prepagada? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/tarjetas-prepagadas/">
                                Sepa más sobre tarjetas prepagadas
                                </a>
                            </div>

                        </article>
                    
                        <article class="m-card">
                            <h2 class="m-card_heading">
                                <a class="" href="/es/herramientas-del-consumidor/prestamos-estudiantiles/">
                                    {{ svg_icon( "college" ) }}
                                    Préstamos estudiantiles
                                </a>
                            </h2>

                            <ul class="m-list">
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/en-cuanto-a-los-prestamos-estudiantiles-cuales-son-las-diferencias-principales-entre-los-federales-y-los-privados-es-545/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Cuáles son las diferentes formas de pagar la universidad o la escuela de posgrado? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                                    <li class="m-list_item">
                                    <a href="/es/obtener-respuestas/existe-algun-tipo-de-alivio-para-prestamos-estudiantiles-por-servicio-publico-es-601/" class="a_link a-link__partially-styled"> 
	<span class="a-link__partially-styled_plain">¿Existe algún tipo de alivio para préstamos estudiantiles por servicio público? </span>
	<span class="a-link__partially-styled_underlined">Leer la respuesta</span>
</a>
                                    </li>
                                
                            </ul>

                            <div class="m-card_footer">
                                <a href="/es/herramientas-del-consumidor/prestamos-estudiantiles/">
                                Sepa más sobre préstamos estudiantiles
                                </a>
                            </div>

                        </article>
                        {% endif %}
                    </div>
                </div>

            </div>

        </section>
    </div>

{% endblock %}

{% block content_sidebar_modifiers -%}
    o-sidebar-content
{%- endblock %}

{% block content_sidebar scoped -%}
    <a class="a-link a-link__jump"
    href="{{'/ask-cfpb/' if page.language == 'es' else '/es/obtener-respuestas/'}}">
        <span class="a-link_text">
        {% if page.language == 'es'%}
            View page in English
        {% else %}
            Ver página en español
        {% endif %}
        </span>
    </a>

    {% if about_us %}
        <div class="block u-mt45 u-mb45 about-us-text">
            {{ about_us.text | richtext }}
        </div>
    {% endif %}

    {% if disclaimer %}
        {% include '_disclaimer.html' %}
    {% endif %}
{%- endblock %}
