.related-resources-col {float:left;margin:20px 0 0 18px;width:155px;border-top-radius:3px;border-top:3px solid #50B748;padding-top:20px;}

.related-resources-col:first-child {width:190px;border:0;padding-top:0;font-weight:400;font-size:1.1em;}
.related-resources-col h6{font-weight:400; font-size:1.2em;line-height:1.3em;}
.related-resources-col p{font-size:.8em;}

/* Related Resources */
.green {color:#50B748;}
.ico {background: url(resources.png) no-repeat top left;padding-left:26px;padding-top:0px;padding-bottom:15px;}
.ico-ask { background-position: 0 0; width: 12px; height: 17px; } 
.ico-watch{ background-position: 0 -37px; width: 21px; height: 20px; } 
.ico-repay{ background-position: 0 -77px; width: 23px; height: 13px; } 
.ico-compare{ background-position: 0 -110px; width: 19px; height: 19px; } 
