

.bubble-transparent{
    width:186px;
	padding-top:16px;
	padding-left:16px;
	background-image:url(bubble.png);
	background-repeat:no-repeat;
	background-position:bottom;
	background-position-x: 0;
	padding-bottom:40px;
}


.bubble-transparent-answer{
	color:#000;
    /*position:absolute;*/
    margin:-10px 0 15px 0;
	width:170px;
	padding:16px;
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.35);
	-moz-box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.35);
	-webkit-box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.35);
	background-color:#FFF;
	z-index:99;
    display:none;
}

.bubble-transparent-answer li{line-height:1.4em; padding-bottom:.67em;font-family:"Avenir Next", Arial, sans-serif;}
.bubble-transparent-answer ul{padding:1.4em;font-family:"Avenir Next", Arial, sans-serif;}

.bubble-transparent-selected{
	background-image:url(bubble_selected.png);
	color:#FFF;
}

.btn-close{float:right;cursor:pointer;font-size:1.4em;margin:0 0 5px 5px;}

.bubble-transparent {cursor:pointer;}
