.content__level--1 {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.content__level-1 {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.content__level-2 {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}

.content__main--flush-inner {
  padding-top: 0;
  margin-top: 0;
}

.alternate-homepage {
  .u-content-level-1 {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-content-level-2 {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-content-level-3 {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
  }

  .content__main--flush-inner {
    padding-top: 0;
    margin-top: 0;
  }

  .m-info-unit__image {
    width: 60px;
    height: 40px;
    margin: 0 auto 0.6em 0;
  }
}
