/*
  Wagtail editor style customization for v1.organisms.BaseExpandable.
  Displays the various formatting checkboxes side-by-side.
*/

.struct-block.base-expandable div[data-contentpath='is_bordered'],
.struct-block.base-expandable div[data-contentpath='is_midtone'],
.struct-block.base-expandable div[data-contentpath='is_expanded'],
.struct-block.base-expandable div[data-contentpath='is_expanded_padding'] {
  display: inline-block;
  margin-right: -0.25em;
  margin-left: 2%;
  vertical-align: top;
  width: 30%;
}

.struct-block.base-expandable div[data-contentpath='label'] {
  display: inline-block;
  margin-right: -0.25em;
  margin-left: 2%;
  vertical-align: top;
  width: 70%;
}

.struct-block.base-expandable div[data-contentpath='icon'] {
  display: inline-block;
  margin-right: -0.25em;
  margin-left: 2%;
  vertical-align: top;
  width: 20%;
}
