@media screen and (min-width: 50em) {
    .explainer_notes .coordinates > .field {
        float: left;
        width: 23%;
        padding-right: 2%;
        padding-top: 0 !important;
    }

    .explainer_notes .coordinates .help {
        font-size: 1em;
	    opacity: 1;
	    padding-left: 0;
	    margin-top: 0;
	    margin-bottom: 2em;
    }

    .explainer_notes .coordinates .help svg {
    	display: none;
    }
}