/* topdoc
  name: Call to Action
  family: cfgov-molecules
  patterns:
    - name: Default example
      markup: |
          <div class="m-call-to-action">
              <div class="m-call-to-action_text">
              </div>
              <a class="a-btn a-btn__full-on-xs" href="/">
              </a>
          </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-call-to-action
            .m-call-to-action_text
            .a-btn.a-btn__full-on-xs
            .a-btn.a-btn__super
  tags:
    - cfgov-molecules
*/

.m-call-to-action {

    .btn {
        text-align: center;
    }

    &_text {
        margin-bottom: unit( @grid_gutter-width / @base-font-size-px, em );
    }
}

/* topdoc
    name: EOF
    eof: true
*/
