.m-card {
    // TODO: Use flexbox to make these all the same height when side-by-side
    background: @white;
    border: 1px solid @gray-20;
    border-bottom-width: 3px;
    padding: unit( @grid_gutter-width / @base-font-size-px, em );

    &_heading {
        color: @green;
    }

    &_body {
        margin-bottom: 0;
    }
}
