/* topdoc
  name: Featured Menu Content
  family: cfgov-molecules
  patterns:
    - name: Default example
      markup: |
          <aside class="m-featured-menu-content">
              <a class="m-featured-menu-content_link" href="#">
                  <img src="../img/fmc-image-540x300.jpg"
                       alt=""
                       height="150"
                       width="270">
                  <div>
                      The CFPB: Working for you
                  </div>
              </a>
              <p>
                  Short description.
              </p>
          </aside>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-featured-menu-content
            a.m-featured-menu-content_link
              img
              div
            p
  tags:
    - cfgov-molecules
*/

.m-featured-menu-content {
    .grid_column( 4 );

    padding: 0 unit( @grid_gutter-width / 2 / @base-font-size-px, em );

    &_link {
        .h4();
        display: block;
    }

    .respond-to-max( @bp-med-max, {
        display: none;
    } );

    .respond-to-min( @bp-xl-min, {
        padding-right: unit( @grid_gutter-width / @base-font-size-px, em );
        padding-left: unit( @grid_gutter-width / @base-font-size-px, em );
    } );
}

/* topdoc
    name: EOF
    eof: true
*/
