@import (reference) '../../../css/main.less';

.respond-to-min(@bp-sm-min, {
  .o-form_group {
    max-width: unit((380px / @base-font-size-px), em);
  }
});

.m-btn-group {
  .u-btn-helper {
    width: 100%;
    margin-top: unit((15px / @base-font-size-px), em);
    text-align: center;
    a {
      border-bottom-width: 1px;
    }
    .respond-to-min(@bp-sm-min, {
      display: inline-block;
      width: auto;
      margin-top: 0;
      margin-left: unit((6px / @btn-font-size), em);
    });
  }
}

.a-checkbox + .a-label > .a-label_helper {
  display: none;
}

.a-checkbox:checked + .a-label > .a-label_helper {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 1em;
  margin-bottom: 1em;
}

.a-label_helper .m-list {
  list-style: square;
  padding-left: 1.125em;

  .m-list_item__has-icon {
    display: flex;

    .cf-icon-svg {
      display: inline;
      margin-right: 6px;
      color: @green;
    }

    span {
      margin-top: unit((-1px / @base-font-size-px), em);
    }
  }
}

// Some cards list a lot of available locations and disrupt the table layout.
// Cap the width of the availability cell on non-mobile screens to prevent this.
@media only screen and (min-width: @bp-sm-min) {
  td[data-label='Availability'] {
    max-width: unit((350px / @base-font-size-px), em);
  }
  td[data-label='Purchase APR'] {
    min-width: unit((215px / @base-font-size-px), em);
    .cf-icon-svg:first-of-type {
      margin-left: 0;
    }
  }
}

// Overrides to the make the directory table pattern sticky
// https://cfpb.github.io/design-system/components/tables#responsive-stacked-table-with-header-directory-table
@media only screen and (max-width: @bp-xs-max) {
  .o-table__entry-header-on-small {
    border-top: 0;

    & > tbody td:first-child {
      position: sticky;
      margin-top: -1px;
      margin-bottom: 0;
      top: 0;
      border-top: 1px solid @table-border;
    }

    & > tbody > tr {
      margin-bottom: 0;
    }

    td:last-child {
      margin-bottom: 0;
      padding-bottom: unit((30px / @base-font-size-px), em);
    }
  }
}

.o-table__stack-on-small-hybrid {
  // We don't want responsive table styles applied to the `print` media type
  // so we're not using .respond-to-max(@bp-xs-max ) here.
  @media only screen and (max-width: @bp-xs-max) {
    --columns: 0;

    display: grid;
    grid-template-columns: repeat(var(--columns), auto);

    tr,
    th,
    td {
      padding: unit((10px / @base-font-size-px), rem);
      width: auto;
    }

    thead,
    tbody,
    tr {
      display: contents;
    }

    th {
      display: none;
      &[data-column] {
        display: block;
        margin-bottom: unit((8px / @base-font-size-px), rem);
        border-bottom: 1px solid @table-border;
      }
    }

    td:last-child {
      &:not([data-column]) {
        border-bottom: 1px solid @table-border;
        margin-bottom: unit((10px / @base-font-size-px), rem);
        padding-bottom: unit((20px / @base-font-size-px), rem);
      }
    }

    td[data-label] {
      &::before {
        .heading-5();
        display: block;
        margin-top: 0;
        margin-bottom: unit((5px / @base-font-size-px), rem);
        content: attr(data-label);
        line-height: 1.83333333;
      }
      &:not([data-column]) {
        grid-column: 1 / span var(--columns);
      }
      &[data-column]::before {
        display: none;
      }
    }
  }

  @media only screen and (min-width: @bp-sm-min) {
    // Override .o-table_cell__right-align on non-mobile devices
    th,
    td {
      text-align: left;
    }
  }
}

.a-card-institution-name {
  .heading-5( @text-shadow: @gray );
  color: @gray;
  margin-bottom: 0;
}

.a-card-purchase-apr-rating {
  // Put the APR ratings on their own line on non-mobile devices
  @media only screen and (min-width: @bp-sm-min) {
    display: flex;
    align-items: center;
  }

  .cf-icon-svg:first-of-type {
    margin-left: unit((4px / @base-font-size-px), em);
  }

  .cf-icon-svg:last-of-type {
    margin-right: unit((2px / @base-font-size-px), em);
  }

  &__less .cf-icon-svg {
    color: @green;
  }

  &__average .cf-icon-svg {
    color: @gold;
  }

  &__more .cf-icon-svg {
    color: @red;
  }
}

.m-list__card-details {
  dt {
    margin-top: 15px;
  }
  dt:last-of-type {
    margin-bottom: 0.5em;
  }
  dt,
  dd {
    display: block;
  }
  dd {
    margin-left: 0;
  }
  dd + dd {
    margin-top: 15px;
  }
  dd::after {
    content: none;
  }
  dd .o-table {
    margin-top: 10px;
  }
}

// htmx animated progress bar
// See https://htmx.org/attributes/hx-indicator/
.htmx-progress {
  display: none;

  .htmx-request & {
    display: inline;
  }

  position: fixed;
  top: 0;
  z-index: 1000;
  height: unit((5px / @base-font-size-px), rem);
  width: 100%;

  .htmx-progress-bar {
    background-color: @green;
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate 2.5s cubic-bezier(0.65, 0.815, 0.735, 0.395)
        infinite;
    }
    &::after {
      animation-name: indeterminate-short;
    }
  }
}

// Dim search results while inflight
.htmx-request .htmx-results {
  opacity: 0.5;
}

// Hide form submit button for htmx users
html.js form[hx-boost] {
  .o-form_group:last-child {
    margin-bottom: 0;
  }

  .m-btn-group {
    display: none;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  40% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  40% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
