
{% extends 'layout-2-1-bleedbar.html' %}

{# Import organisms and molecules used in the template. #}
{% import 'molecules/call-to-action.html' as call_to_action %}
{% import 'molecules/hero.html' as hero %}
{% import 'molecules/half-width-link-blob.html' as link_blob %}
{% import 'molecules/image-text-25-75.html' as image_text_25_75 %}
{% import 'molecules/image-text-50-50.html' as image_text_50_50 %}
{% import 'molecules/related-posts.html' as related_posts %}
{% import 'molecules/text-introduction.html' as text_introduction %}

{% import 'organisms/well.html' as well %}
{% import 'organisms/email-signup.html' as email_signup %}

{% block title -%}
    {{ page.title }}
{%- endblock %}

{% block hero -%}
    {% for block in page.hero %}
        {{ render_stream_child(block) }}
    {% endfor %}
{% endblock %}

{% block content_main %}
    <div class="block
                 block__flush-top">
        {# This molecule should always be first #}
        {% for block in page.introduction %}
            {{ render_stream_child(block) }}
        {% endfor %}
    </div>
    <div class="o-image-text-50-50-group">
        {% for block in page.content %}
            {% if block.block_type == 'image_text_50_50' %}
                {{ render_stream_child(block) }}
            {% endif %}
        {% endfor %}
    </div>
    <div class="block">
        <h2>Headline for 2/7 organism</h2>
        {% for block in page.content %}
            {% if block.block_type == 'image_text_25_75' %}
                {{ render_stream_child(block) }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="block">
        {% for block in page.content %}
            {% if block.block_type == 'well' %}
                <div class="block">
                    {{ render_stream_child(block) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="o-link-blob-group">
        {% for block in page.content %}
            {% if block.block_type == 'half_width_link_blob' %}
                {{ render_stream_child(block) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block content_sidebar_modifiers -%}
    o-content-sidebar
{%- endblock %}

{% block content_sidebar scoped -%}
    {% for block in page.sidebar %}
        {{ render_stream_child(block) }}
    {% endfor %}
{%- endblock %}
