    <section class="block
                    block__bg
                    block__border
                    block__flush-sides">
        <form class="form-l js-validate-filters" id="eeo-form">
            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header" for="eeo-form_first-name">
                    First name*
                </label>
                <input class="input__long"
                       id="eeo-form_first-name"
                       type="text"
                       required>
            </div>

            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header" for="eeo-form_last-name">
                    Last name*
                </label>
                <input class="input__long"
                       id="eeo-form_last-name"
                       type="text"
                       required>
            </div>

            <div class="form-l_col form-l_col-1">
                <label class="form-label-header"
                       for="eeo-form_address1">
                    Address 1*
                </label>
                <input class="input__long"
                       id="eeo-form_address1"
                       type="text"
                       required>
            </div>

            <div class="form-l_col form-l_col-1">
                <label class="form-label-header"
                       for="eeo-form_address2">
                    Address 2
                </label>
                <input class="input__long"
                       id="eeo-form_address2"
                       type="text">
            </div>

            <div class="form-l_col form-l_col-1-3">
                <label class="form-label-header"
                       for="eeo-form_city">
                    City*
                </label>
                <input class="input__long"
                       id="eeo-form_city"
                       type="text"
                       required>
            </div>

            <div class="form-l_col form-l_col-1-3">
                <label class="form-label-header"
                       for="eeo-form_state">
                    State*
                </label>
                <div class="custom-select">
                    <select class="custom-select_select"
                            data-placeholder="Select the FOIA request category"
                            id="eeo-form_state"
                            required>
                        <option value="">Please select</option>
                        {# TODO: Add States #}
                        <option value="State">States to be added</option>
                    </select>
                    <span class="custom-select_icon
                                 cf-icon
                                 cf-icon-down"></span>
                </div>
            </div>
            <div class="form-l_col form-l_col-1-3">
                <label class="form-label-header" for="eeo-form_zip">
                    Zip code*
                </label>
                <input class="input__long"
                       id="eeo-form_zip"
                       type="text"
                       required>
            </div>


            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header" for="eeo-form_telephone">
                    Telephone Number*
                </label>
                <input class="input__long"
                       id="eeo-form_telephone"
                       type="tel"
                       required>
            </div>

            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header" for="eeo-form_fax">
                    Fax Number
                </label>
                <input class="input__long"
                       id="eeo-form_fax"
                       type="tel">
            </div>

            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header" for="eeo-form_email">
                    Email Address*
                </label>
                <input class="input__long"
                       id="eeo-form_email"
                       type="email"
                       required>
            </div>

            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header" for="eeo-form_contact-time">
                    Best time to reach you
                </label>
                <div class="custom-select">
                    <select class="custom-select_select"
                            data-placeholder="Select Time"
                            id="eeo-form_contact-time">
                          <option value="">Select time</option>
                          {# TODO: Add additional times. #}
                          <option>8:00 a.m</option>
                     </select>
                     <span class="custom-select_icon
                                  cf-icon
                                  cf-icon-down"></span>
                </div>
            </div>

            <div class="form-l_col form-l_col-1">
                <label for="eeo-form_complaint-desc">
                    <span class="form-label-header">
                        Nature of discrimination*
                    </span>
                </label>
                <textarea class="input__long"
                          id="eeo-form_complaint-desc"
                          required>
                </textarea>
            </div>

            <div class="form-actions
                        form-actions__right-on-med
                        form-l_col
                        form-l_col-1">
                <input class="btn form-actions_item"
                       type="submit"
                       value="Generate PDF">
                <a class="btn btn__link form-actions_item u-link__disabled">
                    Sample Letter
                    <span class="cf-icon cf-icon-pdf"></span>
                </a>
            </div>

        </form>
    </section>
