{# ==========================================================================

   expandable_group.render()

   ==========================================================================

   Description:

   Create an Expandable Group organism when given:

   value:              An object with the following options for value.
                          Defaults to an empty object.

   value.heading:      Heading text.

   value.body:        Body introduction text.

   value.is_accordion: Whether this group is an accordion or not.
                          Default is false.

   value.has_rule:     Whether there is a top gray rule.
                          Default is false.

   ========================================================================== #}


<div class="o-expandable-group
            {{ 'o-expandable-group__accordion' if value.is_accordion else '' }}">

    {% if value.has_rule %}
        <div class="a-rule-break"></div>
    {% endif %}

    {% if value.heading %}
        <h3>{{ value.heading }}</h3>
    {% endif %}

    {% if value.body %}
        <p>{{ parse_links(value.body) | safe }}</p>
    {% endif %}

    {# Should be a stack of Expandable instances. #}
    {% if value.expandables %}
        {% for expandable in value.expandables %}
            {{ expandable }}
        {% endfor %}
    {% endif %}
</div>
