{# ==========================================================================

   image-and-text-50-50.render()

   ==========================================================================

   Description:

   When image conveys critical information and text is supporting it --
   i.e. chart, excerpt from document

   See [GHE]/flapjack/Modules-V1/wiki/50-50-Text-&-Image

   settings:              An object with the following options for settings.
   settings.title:        A string containing title of module
   settings.image_path:   A string containing the url for the image
   settings.image_alt:    A string containing alt text for screenreaders
   settings.is_widescreen: Boolean if the image should be widescreen ratio.
                          Will be 4:3 ratio by default.
   settings.description:  A string for the description under the image
   settings.is_button:    Boolean if the link should be a button. If false/blank,
                          the button will remain a plain link.
   settings.link:         A string for the URL of the link/button
   settings.link_text:    A string for the text of the link/button call to action

   ========================================================================== #}

{% macro render(settings) %}

<div class="m-image-text-50-50">

    <div class="{{ 'm-image-text-50-50_widescreen-container' if settings.is_widescreen
                    else 'm-image-text-50-50_container'}}">
        <img src="{{ settings.image_path }}"
             alt="{{ settings.alt_text if settings.alt_text else '' }}"
             class="m-image-text-50-50_image">
    </div>

    <h2>
        {{ settings.title }}
    </h2>

    <p class="short-desc short-desc__large">
        {{ settings.description }}
    </p>

    {% if settings.link %}
    <a class="{% if settings.is_button %}
              btn m-image-text-50-50_btn
              {% else %}
              jump-link jump-link__underline
              {% endif %}
              "
       href="{{ settings.link }}">
        {{ settings.link_text if settings.link_text else 'Learn More' }}
    </a>
    {% endif %}
</div>
{% endmacro %}
