<section id="lc-add-button" class="lc-input comparison-input-column">
  <div class="add-btn">
    <p>Compare loans to better understand your options.</p>
    <a class="btn btn-secondary lc-add-btn">Add another loan</a>
  </div>
</section>
