{#
  Navigation and Sub-Navigation menu items,
  used to populate the contents of the site's navigation menus (Mega Menu).

  Format:

  media_items:     Array of tuples containing a media item lookup map.
  media_items.url: The URL of the menu item.
                   Used to look up the featured menu content.
  media_item.fmc:  Featured Menu Content.

  nav_items:                       Multi-dimensional array of tuples.
  nav_items.nav_group:             Tuple defining groupings of nav items.
                                   Rendered as UL HTML element.
  nav_items.nav_group.nav_caption: Menu item link text.
  nav_items.nav_group.nav_url:     Menu item link URL.
  nav_items.nav_group.children:    Array of menu item submenus,
                                   recursively repeats nav_group structure.
#}

{% import 'molecules/featured-menu-content.html' as featured_menu_content %}

{# Featured Menu Content. #}
{% set about_us_content = {
    'link': {
        'text': 'The CFPB: Working for you',
        'url':  '/about-us/the-bureau/',
    },
    'image': {
        'src': 'img/fmc-about-us-540x300.jpg',
        'alt': 'Still from about the CFPB video.',
    },
    'body': 'This short video covers what the CFPB is ' +
            'and how we are working for American consumers.',
} %}
{% set poly_com_content = {
    'link': {
        'text': 'Resources to help you comply',
        'url':  '/policy-compliance/guidance/implementation-guidance/',
    },
    'image': {
        'src': 'img/fmc-poly-com-540x300.jpg',
        'alt': 'Still from Know Before You Owe video.',
    },
    'body': 'The TILA-RESPA integrated disclosure rule ' +
            'replaces four disclosure forms with two new ones. ' +
            'We have resources to help you comply.'
} %}
{% set media_items = [
  ( '/about-us/', featured_menu_content.render( about_us_content ) ),
  ( '/policy-compliance/', featured_menu_content.render( poly_com_content ) )
] %}

{% set nav_items = [(
    ('Consumer Tools', '#', [(
        ('Submit a Complaint', '/complaint/', []),
        ('Ask CFPB', '/askcfpb/', []),
        ('Tell Your Story', '/your-story/', []),
        ('Information for Students', '/students/', []),
        ('Information for Older Americans', '/older-americans/', []),
        ('Information for Servicemembers & Veterans', '/servicemembers/', [])
    ),[
        ('Getting an Auto Loan', '/consumer-tools/auto-loans/', [(
            ('Plan to Shop for Your Auto Loan', '/consumer-tools/auto-loans/plan-to-shop-for-your-auto-loan/', []),
            ('Learn to Explore Loan Choices', '/consumer-tools/auto-loans/learn-to-explore-loan-choices/', []),
            ('Know What Is Negotiable', '/consumer-tools/auto-loans/know-what-is-negotiable/', []),
            ('Understand How to Close the Deal', '/consumer-tools/auto-loans/understand-how-to-close-the-deal/', [])
        )]),
        ('Paying for College', '/paying-for-college/', []),
        ('Owning a Home', '/owning-a-home/', []),
        ('Planning for Retirement', '/retirement/', []),
        ('Sending Money Abroad', '/sending-money/', [])
    ],(
        ('Know Before You Owe Mortgages', '/know-before-you-owe/', []),
        ('Trouble Paying Your Mortgage?', '/mortgagehelp/', []),
        ('Protections Against Discrimination', '/fair-lending/', [])
    )]),
    ('Educational Resources', '#', [(
        ('Your Money, Your Goals', '/your-money-your-goals/', []),
        ('Adult Financial Education', '/adult-financial-education/', []),
        ('Youth Financial Education', '/youth-financial-education/', [])
    ),(
        ('Resources for Libraries', '/library-resources/', []),
        ('Resources for Tax Preparers', '/tax-preparer-resources/', []),
        ('Resources for Parents', '/money-as-you-grow/', [])
    ),(
        ('Information for Economically Vulnerable Consumers', '/empowerment/', []),
        ('Managing Someone Else’s Money', '/managing-someone-elses-money/', []),
        ('Free Brochures', 'http://pueblo.gpo.gov/CFPBPubs/CFPBPubs.php', [])
    )]),
    ('Data & Research', '/data-research/', [(
        ('Research & Reports', '/data-research/research-reports/', []),
        ('CFPB Research Conference', '/data-research/cfpb-research-conference/', [])
    ),(
        ('Consumer Complaint Database', '/data-research/consumer-complaints/', []),
        ('Mortgage Database (HMDA)', '/data-research/mortgage-data-hmda/', [])
    ),[
        ('Credit Card Surveys & Agreements', '/data-research/credit-card-data/', []),
    ]]),
    ('Policy & Compliance', '/policy-compliance/', [(
        ('Rulemaking', '/policy-compliance/rulemaking/', [(
            ('Final Rules', '/policy-compliance/rulemaking/final-rules/', []),
            ('Rules Under Development', '/policy-compliance/rulemaking/rules-under-development/', []),
            ('Regulatory Agenda', '/policy-compliance/rulemaking/regulatory-agenda/', []),
            ('Small Business Review Panels', '/policy-compliance/rulemaking/small-business-review-panels/', []),
        )]),
    ),(
        ('Compliance & Guidance', '/policy-compliance/guidance/', [(
            ('Implementation & Guidance', '/policy-compliance/guidance/implementation-guidance/', []),
            ('Supervision & Examinations', '/policy-compliance/guidance/supervision-examinations/', []),
            ('Supervisory Highlights', '/policy-compliance/guidance/supervisory-highlights/', [])
        )]),
        ('Enforcement', '/policy-compliance/enforcement/', [(
            ('Enforcement Actions', '/policy-compliance/enforcement/actions/', []),
            ('Petitions to Modify or Set Aside', '/policy-compliance/enforcement/petitions/', []),
            ('Warning Letters', '/policy-compliance/enforcement/warning-letters/', [])
        )])
    ),(
        ('Notices & Opportunities to Comment', '/policy-compliance/notice-opportunities-comment/', [(
            ('Open Notices', '/policy-compliance/notice-opportunities-comment/open-notices/', []),
            ('Archive of Closed Notices', '/policy-compliance/notice-opportunities-comment/archive-closed/', [])
        )]),
        ('Amicus Program', '/policy-compliance/amicus/', [(
            ('Filed Briefs', '/policy-compliance/amicus/briefs/', []),
            ('Suggest a Case', '/policy-compliance/amicus/suggest/', [])
        )])
    )]),
    ('About Us', '/about-us/', [(
        ('The Bureau', '/about-us/the-bureau/', []),
        ('Budget & Strategy', '/about-us/budget-strategy/', []),
        ('Payments to Harmed Consumers',
         '/about-us/payments-harmed-consumers/', [])
    ),(
        ('Blog','/about-us/blog/', []),
        ('Newsroom', '/about-us/newsroom/', []),
        ('Events', '/about-us/events/', []),
        ('Recent Postings', '/activity-log/', [])
    ),(
        ('Careers', '/about-us/careers/', [
            (
                ('Working @ CFPB', '/about-us/careers/working-at-cfpb/', []),
                ('Job Application Process', '/about-us/careers/application-process/', []),
                ('Students & Recent Graduates', '/about-us/careers/students-and-graduates/', []),
                ('All Current Openings', '/about-us/careers/current-openings/', [])
            )
        ]),
        ('Doing Business With Us', '/about-us/doing-business-with-us/', []),
        ('Advisory Groups', '/about-us/advisory-groups/', []),
        ('Project Catalyst', '/about-us/project-catalyst/', []),
        ('Contact Us', '/about-us/contact-us/', [])
    )])
)] -%}

{% if flag_enabled(request, 'PREPAID_RELEASE') %}
    {{ nav_items[0][0][2][1].append( ('Prepaid Cards', '/consumer-tools/prepaid-cards/', [(
        ('Choose the Right Card for Your Situation', '/consumer-tools/prepaid-cards/choose-the-right-card/', []),
        ('Know Your Rights', '/consumer-tools/prepaid-cards/know-your-rights/', []),
        ('Understand the Fees You Will Pay', '/consumer-tools/prepaid-cards/understand-fees/', [])
    )]) ) }}
{% endif %}

{% if flag_enabled(request, 'CREDIT_TRENDS_RELEASE') %}
    {{ nav_items[0][2][2][2].insert( 0,
        ('Consumer Credit Trends', '/data-research/consumer-credit-trends/', [])
    ) }}
{% endif %}
