
{#
  TODO: Rename file as _vars-mega-menu.html.

  Navigation and Sub-Navigation menu items,
  used to populate the contents of the site's navigation menus.
  Format: navigation title {{ string }},
          sub-navigation title {{ string }},
          sub-navigation media {{ HTML string }},
          sub-navigation items {{ array of tuples }}
#}

{# TODO: Update file path for Featured Menu Content module when that is added. #}
{% import 'templates/nav/about-us-media.html' as about_us_media %}

{% set sub_nav_tbd =  ('', '', 'TBD Content') %}
{% set nav_items = [
    ('Consumer Tools', '#', '', '', []),
    ('Educational Resources', '#', '', '', []),
    ('Data & Research', '#', '', '', []),
    ('Policy & Compliance', '#', '', '', []),
    ('About Us', '/about-us/',  'About Us Overview', about_us_media , [
        (
            ('/the-bureau/', 'the-bureau', 'The Bureau'),
            ('/budget/', 'budget', 'Budget and Strategy'),
            ('/offices/payments-to-harmed-consumers/',
             'payments-to-harmed-consumers',
             'Payments to Harmed Consumers')
        ),
        (
            ('/blog/', 'blog', 'Blog'),
            ('/newsroom/', 'newsroom', 'Newsroom'),
            ('/events/', 'events', 'Events'),
            ('/activity-log/', 'activity-log', 'Activity Log')
        ),
        (
            ('/careers/', 'careers', 'Careers'),
            ('/doing-business-with-us/', 'doing-business-with-us', 'Doing Business With Us'),
            ('/offices/advisory-groups/', 'advisory-groups', 'Advisory Groups'),
            ('/offices/project-catalyst/', 'project-catalyst', 'Project Catalyst'),
            ('/contact-us/', 'contact-us', 'Contact Us')
        )
    ])
] -%}
