{% set menu_items = [
    {
        'link_text': 'Para consumidores',
        'external_link': '/es/herramientas-del-consumidor/',
        'order': 1,
        'nav_groups': [
        ],
    },
    {
        'link_text': 'Obtener respuestas',
        'external_link': '/es/obtener-respuestas/',
        'order': 2,
        'nav_groups': [
        ],
    },
    {
        'link_text': 'Enviar una queja',
        'external_link': '/es/enviar-una-queja/',
        'order': 3,
        'nav_groups': [
        ],
    },
    {
        'link_text': 'Quiénes somos',
        'external_link': '/es/quienes-somos/',
        'order': 4,
        'nav_groups': [
        ],
    }
]%}
