{% set menu_items = [
    {
        'link_text': 'Inicio',
        'external_link': '/es/',
        'order': 1,
        'nav_groups': [
        ],
    },
    {
        'link_text': 'Obtener respuestas',
        'external_link': '/es/obtener-respuestas/',
        'order': 2,
        'nav_groups': [
        ],
    },
    {
        'link_text': 'Enviar una queja',
        'external_link': '/es/enviar-una-queja/',
        'order': 3,
        'nav_groups': [
        ],
    },
    {
        'link_text': 'Quiénes somos',
        'external_link': '/es/quienes-somos/',
        'order': 4,
        'nav_groups': [
        ],
    },
    {
        'link_text': 'Comprar casa',
        'external_link': '/es/comprar-casa/',
        'order': 5,
        'nav_groups': [
        ],
    },
]%}
