{# ==========================================================================

   ask_search.render()

   ==========================================================================

   Description:

   Output an ask search bar when given:

   ask_query:      The previous search query string.

   language:       Page's language.

   show_label:     Boolean; whether to show form label.

   autocomplete:   Boolean; whether to allow autocomplete.

   placeholder:    String; text to enter for the search input's placeholder
                   value.

   is_subsection:  Boolean; whether to mark up the form label with an h3 to fit
                   into an exisitng section or with an h2 to be its own section

   max_length:     Integer; the maximum length of a query string, in characters

   complaint_link: Boolean; whether to add a link to the complaint submission
                   page to the end of the error message for searches over the
                   max length

   ========================================================================== #}

{% macro render(
    ask_query='',
    language='en',
    show_label=True,
    autocomplete=True,
    placeholder='',
    is_subsection=True,
    max_length=autocomplete_max_chars,
    complaint_link=False
) %}
<div class="o-search-bar">
    <form method="get" action="{{ _('/ask-cfpb/search/') }}">
        {% if show_label %}
        <label for="o-search-bar_query">
            <{{ 'h3' if is_subsection else 'h2' }}>
                {{ _('Search for your question') }}
            </{{ 'h3' if is_subsection else 'h2' }}>
        </label>
        {% endif %}

        <div class="o-search-bar_input">
            <div class="o-form__input-w-btn">
                <div class="o-form__input-w-btn_input-container">
                    <div class="m-btn-inside-input
                                input-contains-label
                                {% if autocomplete %}m-autocomplete{% endif %}"
                         data-language="{{ language }}">
                        {% if show_label %}
                        <span
                        {% else %}
                        <label for="o-search-bar_query"
                        {% endif %}
                               class="input-contains-label_before
                                      input-contains-label_before__search">
                            {{ svg_icon('search') }}
                            {% if not show_label %}
                            <span class="u-visually-hidden">{{ _('Search') }}</span>
                            {% endif %}
                        {% if show_label %}
                        </span>
                        {% else %}
                        </label>
                        {% endif %}
                        <input class="a-text-input"
                               type="text"
                               name="q"
                               id="o-search-bar_query"
                               value="{{ ask_query }}"
                               placeholder="{{ placeholder }}"
                               maxlength="{{ max_length }}"
                               aria-describedby="o-search-bar_error-message">
                    </div>
                    <div class="a-form-alert a-form-alert__error u-hidden"
                         id="o-search-bar_error-message"
                         role="alert">
                        {{ svg_icon('error-round') }}
                        <p class="a-form-alert_text">
                            Searches are limited to {{ autocomplete_max_chars }}
                            characters.
                            {% if complaint_link %}
                            Are you trying to
                            <a href="/complaint/getting-started/">
                                submit a complaint</a>?
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="o-form__input-w-btn_btn-container">
                    <button class="a-btn"
                            type="submit"
                            aria-label="{{ _('Search Ask CFPB for your question') }}">
                        {{ _('Search') }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endmacro %}

{% if value %}
  {{ render(
      '',
      value.language | default( 'en' ),
      value.show_label | default( True ),
      value.autocomplete | default( True ),
      value.placeholder | default( '' ),
      value.is_subsection | default( True ),
      value.max_length | default( autocomplete_max_chars ),
      value.complaint_link | default( False )
    )
  }}
{% endif %}
