{# ==========================================================================

   ask_search.render()

   ==========================================================================

   Description:

   Output an ask search bar when given:

   ask_query      The previous search query string.

   language:      page's language.

   show_label:    Boolean; whether to show form label.

   autocomplete:  Boolean; whether to allow autocomplete.

   placeholder:   String; text to enter for the search input's placeholder value.

   is_subsection: Boolean; whether to mark up the form label with an h3 to fit
                  into an exisitng section or with an h2 to be its own section

    max_length:   The maximum length of a query string, in characters

   ========================================================================== #}

{% macro render(
    ask_query='',
    language='en',
    show_label=True,
    autocomplete=True,
    placeholder='',
    is_subsection=True,
    max_length=50
) %}
<div class="o-search-bar">
    <form method="get" action="{{ _('/ask-cfpb/search/') }}">
        {% if show_label %}
        <label for="o-search-bar_query">
            <{{ 'h3' if is_subsection else 'h2' }}>
                {{ _('Search for your question') }}
            </{{ 'h3' if is_subsection else 'h2' }}>
        </label>
        {% endif %}

        <div class="o-search-bar_input">
            <div class="o-form__input-w-btn">
                <div class="o-form__input-w-btn_input-container">
                    <div class="m-btn-inside-input
                                input-contains-label
                                {% if autocomplete %}m-autocomplete{% endif %}"
                         data-language="{{ language }}">
                        <label for="query" class="input-contains-label_before input-contains-label_before__search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 880.6 1200" class="cf-icon-svg"><path d="M860.1 879.2L645.7 664.8c90.8-136.8 76-323-44.6-443.5-137.5-137.5-360.5-137.5-498 0s-137.5 360.5 0 498c118.5 118.4 303.9 137 443.5 44.6L761 978.3c27.3 27.3 71.7 27.3 99 0s27.4-71.8.1-99.1zm-508-116.9C191.4 762 61.3 631.5 61.6 470.8c.3-160.7 130.8-290.8 291.5-290.5s290.8 130.8 290.5 291.5c-.2 118.2-71.9 224.6-181.5 269.1-34.9 14.2-72.3 21.5-110 21.4z"></path></svg></label>
                        <input class="a-text-input"
                               type="text"
                               name="q"
                               id="o-search-bar_query"
                               value="{{ ask_query }}"
                               placeholder="{{ placeholder }}"
                               maxlength="{{ max_length }}"
                               aria-describedby="o-search-bar-error_message">
                    </div>
                    {# TODO: Is there a better way to render this hidden initially? #}
                    <div class="a-form-alert a-form-alert__error u-hidden"
                         id="o-search-bar-error_message"
                         role="alert">
                        {{ svg_icon('error-round') }}
                        <p class="a-form-alert_text">
                            Searches are limited to 50 characters.
                            Are you trying to
                            <a href="/complaint/getting-started/">
                                submit a complaint</a>?
                        </p>
                    </div>
                </div>
                <div class="o-form__input-w-btn_btn-container">
                    <button class="a-btn"
                            type="submit"
                            aria-label="{{ _('Search Ask CFPB for your question') }}">
                        {{ _('Search') }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endmacro %}

{% if value %}
  {{ render(
      '',
      value.language | default( 'en' ),
      value.show_label | default( True ),
      value.autocomplete | default( True ),
      value.placeholder | default( '' )
    )
  }}
{% endif %}
