
{# ==========================================================================

   _branches()

   ==========================================================================

   Description:

   Renders an org chart branch when given:

   categories: An Array of categories.

   ========================================================================== #}
{% macro _branches(categories) -%}
<ul class="o-bureau-structure_branches
           m-list
           m-list__unstyled">
    <li class="u-show-on-mobile
               org-chart_branch_name">
        {{ _mobile_nav(categories) }}
    </li>
    {% for category in categories %}
    {% set category_index = loop.index %}
    <li class="o-bureau-structure_branch">
        <h4 class="o-bureau-structure_branch_name u-hide-on-mobile">{{ category.title }}</h4>
        <ul class="o-bureau-structure_nodes
                   m-list
                   m-list__unstyled">
            <li class="o-bureau-structure_branch_name">
                <button class="a-link
                               a-link__jump
                               a-link__icon-before-text
                               o-bureau-structure_nav-item
                               u-show-on-mobile"
                        data-show-slide-index="0">
                    {{ svg_icon('left') }}
                    {{ category.title }}
                </button>
            </li>
            {% for org in category.data %}
            {{ _node(org, 'li', category.sub_title) }}
            {% endfor %}
            {% if loop.last %}
            <li>
                {{ _legend() }}
            </li>
            {% endif %}
        </ul>
    </li>
    {% endfor %}
</ul>
{%- endmacro %}


{# ==========================================================================

   mobile-nav.render()

   ==========================================================================

   Description:

   Renders a mobile navigation when given:

   categories: An Array of categories.

   ========================================================================== #}
{% macro _mobile_nav(categories) -%}
<div class="o-bureau-structure_nav">
    <ul class="m-list__links">
        {% for category in categories %}
        <li>
            <button class="a-link
                           a-link__bg
                           a-link__jump
                           a-link__icon-after-text
                           o-bureau-structure_nav-item"
                    data-show-slide-index="{{ loop.index }}">
                {{ category.title }}
                {{ svg_icon('right') }}
            </button>
        </li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}



{# ==========================================================================

   _node()

   ==========================================================================

   Description:

   Renders an org chart node when given:

   org:       A dictionary object representing an organization.

   tagName:   A string representing the encompassing element tag name.

   sub_title: A string representing a sub title for an organization.

   ========================================================================== #}
{% macro _node(org, tagName="div", sub_title="text") -%}
{% set has_children = org.offices | list | length %}

<{{ tagName }} class="o-bureau-structure_node">
    {% if has_children %}
    {{ _role(org) }}
    {% if org.division_lead_1 %}
        {{ _role( {
            'division_lead': org.division_lead_1,
            'title':         org.title_1 } )
        }}
    {% endif %}
  <div class="o-expandable">
    <button class="o-expandable_header o-expandable_target">
        <span class="h4
                     o-expandable_header-left
                     o-expandable_label">
            {{ sub_title }}
        </span>
        <span class="o-expandable_header-right
                     o-expandable_link">
            <span class="o-expandable_cue
                         o-expandable_cue-open">
                <span class="u-visually-hidden-on-mobile">
                    Show
                </span>
                {{ svg_icon('plus-round') }}
            </span>
            <span class="o-expandable_cue
                         o-expandable_cue-close">
                <span class="u-visually-hidden-on-mobile">
                    Hide
                </span>
                {{ svg_icon('minus-round') }}
            </span>
        </span>
    </button>
    <div class="o-expandable_content">
        <ul class="m-list
                   m-list__unstyled">
            {% for child_org in org.offices %}
            <li class="o-bureau-structure_node">
                {{ _role(child_org) }}
                {% if loop.last and org.link_to_division_page %}
                <a href="{{ org.link_to_division_page.url }}"
                   class="o-bureau-structure_node_more-info">
                    {{ org.link_to_division_page.text or
                       'More information about these offices' }}
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
  </div>
    {% else %}
    {{ _role(org) }}
    {% endif %}
</{{ tagName }}>
{%- endmacro %}


{# ==========================================================================

   _role()

   ==========================================================================

   Description:

   Renders a person's role within the bureau structure when given:

   role: An object containing a title (office title), name (person's name),
         and titles (list of titles the person holds in particular office).

   ========================================================================== #}
{% macro _role(role) -%}
<div class="o-bureau-structure_role">
    {% if role.office_name or role.division %}
    <h6 class="o-bureau-structure_role_office">
        {{ role.office_name or role.division | safe }}
    </h6>
    {% endif %}
    {% if role.lead or role.division_lead %}
    <span class="o-bureau-structure_role_name">
        {{ role.lead or role.division_lead | safe }}
    </span>
    {% endif %}
    {% for title_line in ['line_1', 'line_2'] if role.title %}
    <span class="o-bureau-structure_role_title">
        {{  role.title[title_line] | safe }}
    </span>
    {% endfor %}
</div>
{%- endmacro %}


{# ==========================================================================

   _legend()

   ==========================================================================

   Description:

   Renders an org chart legend.

   ========================================================================== #}
{% macro _legend() -%}
<section class="o-bureau-structure_legend">
    <h4>Chart Legend</h4>
    <ul class="m-list
               m-list__unstyled
               m-list__spaced">
        <li class="m-list_item">
            <span class="o-bureau-structure_legend_symbol">*</span>
            <span class="o-bureau-structure_legend_definition">
                Position currently filled on an acting basis
            </span>
        </li>
        <li class="m-list_item">
            <span class="o-bureau-structure_legend_symbol">**</span>
            <span class="o-bureau-structure_legend_definition">
                Position has direct reporting responsibilities to the director
            </span>
        </li>
        <li class="m-list_item">
            <span class="o-bureau-structure_legend_symbol">***</span>
            <span class="o-bureau-structure_legend_definition">
                Position is not part of the Bureau director’s office
            </span>
        </li>
</section>
{%- endmacro %}


{# ==========================================================================

   _footer()

   ==========================================================================

   Description:

   Renders an org chart footer when given:

   download_image_url: A string representing the URL of the download image.

   ========================================================================== #}
{% macro _footer(download_image_url) -%}
<aside class="block
              block__padded-top
              block__border-top
              o-bureau-structure_footer">
    <div class="content-l content-l__main">
        <div class="content-l_col content-l_col-1-2"
             data-qa-hook="org-chart-download-info">
            <h2 class="h3">Download a copy</h2>
            <p>
                Download a printable, PDF copy of this organizational chart. This version
                is expanded to show all offices.
            </p>
            <a class="a-btn"
               href="{{ download_image_url }}">
                <span class="a-btn_icon a-btn_icon__on-left">
                    {{ svg_icon('save') }}
                </span>
                Download PDF
             </a>
        </div>
        <div class="content-l_col content-l_col-1-2">
            <h2 class="h3">Request speaking info</h2>
            <p>
                Ask a Bureau employee to be involved in a forum, publication, discussion, or
                other event; or to inquire about any Bureau events.
            </p>
            <p>
                <a class="a-link
                          a-link__icon"
                   href="mailto:invitations2cfpb@consumerfinance.gov">
                   {{ svg_icon('mail') }}
                    <span class="a-link_text">
                        invitations2cfpb@consumerfinance.gov
                    </span>
                </a>
            </p>
        </div>
    </div>
</aside>
{%- endmacro %}


{# ==========================================================================

    bureau_structure.render()

   ==========================================================================

   Description:

   Creates a Bureau Structure organism when given:

   value:                        An object used to customize the markup.

   value.director:               A string containing the director name.

   value.divisions:              A list containing of division objects.

   value.download_image:         A string representing the URL of the download image.

   value.last_updated_date:      A date representing the last update date for the bureau
                                 structure.

   value.office_of_the_director: A list containing of Office of the Director objects.

   ========================================================================== #}
<div class="o-bureau-structure">
    <h1>Bureau Structure</h1>
    {% if value.last_updated_date %}
    <p>
        Last updated:
        {# Displays the date in the format: MMM. DD, YYYY #}
        {{'{dt:%b}. {dt.day}, {dt.year}'.format(dt = value.last_updated_date)}}
    </p>
    {% endif %}
    <div class="o-bureau-structure_chart">
        <div class="o-bureau-structure_node
                    o-bureau-structure_node__root">
            {% set categories = [{
                        'title': 'Divisions',
                        'sub_title': 'Offices in this division',
                        'data': value.divisions
                    },{
                        'title':'Office of the Director',
                        'sub_title': 'Offices under this position',
                        'data': value.office_of_the_director
                    }]
            %}
            {{ _role({
                'lead': '<a href="/about-us/the-bureau/about-director/">' ~  value.director ~ '</a>',
                'office_name': 'Director'
            }) }}
        </div>
        {{ _branches(categories) }}
    </div>
    {{ _footer( value.download_image.url ) }}
</div>
