
{# ==========================================================================

   Chart

   ==========================================================================

   Description:

   Create a chart organism with data.
   See [GHE]/flapjack/Modules-V1/wiki/Chart

   ========================================================================== #}

<div class="chart_wrapper block">
    {% if value.title %}
        <h3>{{ value.title }}</h3>
    {% endif %}

  <div class="svg_wrapper"
       id="{{ value.element_id }}"
       data-chart-type="{{ value.chart_type }}"
       data-source="{{ value.data_source }}"
       data-title="{{ value.title }}"
       data-market="{{ value.market }}"
       data-report-type="{{ value.report_type }}">
  </div>

  <p class="block__sub block__border-top block short-desc chart_footnote">
    {% if value.data_source %}
        <strong>Source:</strong> <a class="icon-link icon-link__download" href="{{ parse_links(value.data_source) | safe }}"> <span class="icon-link_text">Download CSV file</span> </a><br>
      {% endif %}

        <strong>Date published:</strong> automate this with JS<br>

    {% if value.note %}
        <strong>Note:</strong> {{ value.note }}
      {% endif %}
    </p>
</div>
<!-- <script src='https://s3.amazonaws.com/files.consumerfinance.gov/consumer-credit-trends/assets/js/consumer-credit-trends-charts.js'> -->
