
{# ==========================================================================

   Chart

   ==========================================================================

   Description:

   Create a chart organism with data.
   See [GHE]/flapjack/Modules-V1/wiki/Chart

   ========================================================================== #}

<div class="o-chart-group">
    

{% if value.charts %}
    {% for chart in value.charts %}
        <h5>Figure {{ loop.index }}</h5>
        {{ chart }}
    {% endfor %}
{% endif %}
</div>
