{# ==========================================================================

   Complaint technical issue banner

   ==========================================================================

   Description:

   Creates markup for a banner stating that the complaint intake form is down.

   ========================================================================== #}

{% import 'molecules/notification.html' as notification %}
<div class="m-global-banner">
  <div class="wrapper
              wrapper__match-content">
        {{ notification.render(
            'warning',
            true,
            'We are currently experiencing technical difficulties with the
            complaint form and the consumer portal.',
            'We are actively working on the issue, so please check back
            later if you need to submit a complaint or check the status of a
            complaint you have already submitted.'
        ) }}
    </div>
</div>
