{# ==========================================================================

   Complaint maintenance banner

   ==========================================================================

   Description:

   Creates markup for a banner stating that the complaint intake form is 
   offline for maintenance.

   ========================================================================== #}

{% import 'molecules/notification.html' as notification %}
<div class="m-global-banner">
  <div class="wrapper
              wrapper__match-content">
        {{ notification.render(
            'warning',
            true,
            'We are currently undergoing planned maintenance.',
            'Please come back '
            + date_str + 
            ' to submit or check the status of an existing complaint.'
        ) }}
    </div>
</div>
