{# ==========================================================================

   Email signup

   ==========================================================================

   Description:

   See http://cfpb.github.io/design-manual/page-components/email-sign-up.html

   Creates an email sign up form when given:

   value:         An object used to customize the markup.

   value.heading: A string with the title for the header slug.

   value.text:    The text used within the description markup.

   value.gd_code: A GovDelivery code for a specified mailing list.

   ========================================================================== #}

<div class="o-email-signup">
{% if value.heading %}
    <header class="{{ 'm-slug-header' if value.default_heading else '' }}">
        <h2 class="{{ 'a-heading' if value.default_heading else 'h3' }} ">
            {{ value.heading }}
        </h2>
    </header>
{% endif %}
{% if value.text %}
    <p>
        {{ value.text }}
    </p>
{% endif %}

    <form class="o-form o-form__email-signup"
          id="{{ 'o-email-signup_' ~ range(1, 100) | random }}"
          method="POST"
          action="/subscriptions/new/"
          enctype="application/x-www-form-urlencoded">
        <div class="u-mb15">
            {% import 'molecules/notification.html' as notification with context %}
            {{ notification.render('default', false, '') }}
        </div>

        <div class="m-form-field">
            <label class="a-label a-label__heading" for="email">
                Email address
            </label>
            <input class="a-text-input a-text-input__full"
                   id="email"
                   name="email"
                   type="email"
                   placeholder="mail@example.com"
                   required>
        </div>

        <div class="m-btn-group">
            <input class="a-btn a-btn" type="submit" value="Sign up">

            <a class="a-btn a-btn__link a-btn__secondary"
               href="{{ pageurl(value.disclaimer_page) or
                     '/privacy/generic-email-sign-privacy-act-statement/' }}"
               target="_blank">
                See Privacy Act statement
            </a>
        </div>

        <input type="hidden" name="code" value="{{ value.gd_code }}">
    </form>
</div>
