{# ==========================================================================

   email_signup.render()

   ==========================================================================

   Description:

   Creates an email sign up form when given:

   value:         An object used to customize the markup.

   value.heading: A string with the title for the header slug.

   value.text:    The text used within the description markup.

   value.gd_code: A GovDelivery code for a specified mailing list.

   ========================================================================== #}

<div class="o-email-signup">
{% if value.heading %}
    <header class="m-slug-header">
        <h2 class="a-heading">
            {{ value.heading }}
        </h2>
    </header>
{% endif %}

<form id="{{ value.id or ('o-email-signup_' ~ range(1, 100) | random) }}"
      class="o-form o-form__email-signup"
      action="/subscriptions/new/"
      method="POST"
      enctype="application/x-www-form-urlencoded">
     <div class="u-mb15">
	    {% import 'molecules/notification.html' as notification with context %}
	    {{ notification.render('success', false, '') }}
	</div>
    {% if value.text %}
        <p>
            {{ value.text }}
        </p>
    {% endif %}

    {% set field = 'email' %}
    {% for form in value.form_field %}
        {% include_block form %}
    {% endfor %}

    <div class="form-group">
        <input type="hidden" name="code" value="{{ value.gd_code }}">
    </div>
</form>
</div>
