{# ==========================================================================

   expandable_group.render()

   ==========================================================================

   Description:

   Create an Expandable Group organism when given:

   settings:              An object with the following options for settings.
                          Defaults to an empty object.

   settings.heading:      Heading text.

   settings.intro:        Body introduction text.

   settings.is_accordion: Whether this group is an accordion or not.
                          Default is false.

   settigns.has_rule:     Whether there is a top gray rule.
                          Default is false.

   ========================================================================== #}

{% macro render(settings={}) %}
<div class="o-expandable-group
            {{ 'o-expandable-group__accordion' if settings.is_accordion else '' }}">

    {% if settings.has_rule %}
        <div class="a-rule-break"></div>
    {% endif %}

    {% if settings.heading %}
        <h3>{{ settings.heading }}</h3>
    {% endif %}

    {% if settings.intro %}
        <p>{{ settings.intro }}</p>
    {% endif %}

    {# Should be a stack of Expandable instances. #}
    {{ caller() }}
</div>

{% endmacro %}
