{# ==========================================================================

   Expandable

   ==========================================================================

   Description:

   Create an Expandable molecule when given:

   value:                 Object defined from a StreamField block.

   value.label:           Label you want on the Expandable.
                          Default is an empty string.

   value.paragraph:       Intro paragraph text.

   value.content:         Main content of the expandable.

   value.is_bordered:     Whether the Expandable has a bottom border or not.
                          Default is false.

   value.is_collapsed_for_mobile: Whether the Expandable is always initially
                          collapsed below 800px.
                          Default is false.

   value.is_midtone:      Whether the Expandable is gray or not.
                          Default is false.

   value.is_expanded:     Whether the Expandable is expanded or not.
                          Default is false.

   value.hide_cue_label:  Whether the Expandable's cue label is hidden or not.
                          Default is false. The plus/minus icon is always shown.

   value.is_faq:          Whether the Expandable should be output with FAQ
                          schema attributes.

   ========================================================================== #}

{% macro expandable(value, expandable_cue_additional_text='') %}

<div data-qa-hook="expandable"
     class="o-expandable
            o-expandable__padded
            {{ 'o-expandable__background' if value.is_midtone else '' }}
            {{ 'o-expandable__border' if value.is_bordered else '' }}"
     {{ 'itemscope="" itemprop="mainEntity" itemtype="http://schema.org/Question"'
        if value.is_faq else '' }} >
    <button class="o-expandable_header o-expandable_target" type="button">
        <span class="h4 o-expandable_header-left o-expandable_label"
              {{'itemprop="name"' if value.is_faq else ''}}>
            {{ value.label }}
        </span>
        <span class="o-expandable_header-right o-expandable_link">
            <span class="o-expandable_cue o-expandable_cue-open">
                <span class="u-visually-hidden-on-mobile
                            {{ 'u-visually-hidden' if value.hide_cue_label else '' }}">
                    {{ _('Show') }}
                    {{ expandable_cue_additional_text }}
                </span>
                {{ svg_icon('plus-round') }}
            </span>
            <span class="o-expandable_cue o-expandable_cue-close">
                <span class="u-visually-hidden-on-mobile
                             {{ 'u-visually-hidden' if value.hide_cue_label else '' }}">
                    {{ _('Hide') }}
                    {{ expandable_cue_additional_text }}
                </span>
                {{ svg_icon('minus-round') }}
            </span>
        </span>
    </button>

    <div class="o-expandable_content
                {{ 'o-expandable_content__onload-open'
                    if value.is_expanded else '' }}
                {{ 'o-expandable__mobile-collapsed'
                    if value.is_collapsed_for_mobile else '' }}"
          {{ 'itemprop="acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer"'
        if value.is_faq else '' }}>
        {% if value.is_faq %}<div itemprop='text'>{% endif %}
            {% if caller is defined %}
                {{ caller() }}
            {% else %}
                {% for block in value.content %}
                    {% if 'paragraph' in block.block_type %}
                        {{ block.value | safe }}
                    {% else %}
                        {{ render_stream_child(block) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% if value.is_faq %}</div>{% endif %}
    </div>

</div>
{% endmacro %}

{% if value %}
    {{ expandable(value) }}
{% endif %}
