{# ==========================================================================

   Template for v1.atomic_elements.organisms.FeaturedContent

   ==========================================================================

   Description:

   See https://cfpb.github.io/design-system/patterns/featured-content-module

   Create a featured content molecule when given:

   value.heading:   Heading text.

   value.body:      Body text.

   value.links:     List of links to render with:

        link.url:        Link URL.

        link.text:       (Optional) Link text.

        link.aria_label: (Optional) Assistive ARIA text for screenreaders.

   value.image:     (Optional) An ImageBasic atom.

   value.video:     (Optional) A VideoPlayer organism.

   value.layout_left (Optional) If True, Use the image-on-the-left layout.

   ========================================================================== #}

<section class="o-featured-content-module
                {{ 'o-featured-content-module__left' if value.layout_left }}">
    <div class="o-featured-content-module_text">
        <h2 class="h3">{{ value.heading }}</h2>

        <p>{{ value.body }}</p>

        {% if value.links %}
        <ul class="m-list m-list__links">
            {% for link in value.links %}
                <li class="m-list_item">
                    <a class="m-list_link"
                       href="{{ link.url }}"
                       {% if link.aria_label %}aria-label="{{ link.aria_label }}"{% endif %}>
                       {{- link.text | default( link.url ) -}}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    {% if value.video and value.video.video_id %}
        {% with value = value.video %}
            {% do value.update( { 'is_fcm': true } ) %}
            {% include 'organisms/video-player.html' %}
        {% endwith %}
    {% elif value.image and value.image.url %}
        <div class="o-featured-content-module_visual">
            <img class="o-featured-content-module_img"
                 src="{{ value.image.url }}"
                 alt="{{ value.image.alt_text }}">
        </div>
    {% endif %}
</section>
