{% macro _filter_selectable(type, label_text, id, name, value, required=None, group=None) %}
    <li class="m-form-field m-form-field__{{ type }}">
        <input class="a-{{ type }}"
               type="{{ type }}"
               value="{{ value }}"
               id="filter_{{ id }}"
               name="{{ name }}"
               {{ 'data-required=' ~ required if required else ''  }}
               {{ 'data-group=' ~ group if group else ''  }}
               {{ 'checked' if is_filter_selected(name, value) else '' }}>
        <label class="a-label"  for="filter_{{ id }}">
            {{ label_text if label_text else value }}
        </label>
    </li>
{% endmacro %}

{% macro _filter_multiselect( label, data, filter_count ) %}
    <div class="content-l_col
                content-l_col-1-{{ '3' if filter_count == 3 else '2' }}">
        <div class="o-form_group">
            <div class="m-form-field">
                <label class="a-label a-label__heading"
                        for="{{ data.id_for_label }}">
                    {{ label }}
                </label>
                {{ data }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro _render_filter_fields(value, form, show_archive_filter=False) -%}
    {% if value.title %}
        <div class="content-l_col
                    content-l_col-1">
            <div class="o-form_group">
                <div class="m-form-field">
                    <label class="a-label a-label__heading"
                           for="{{ form.title.id_for_label }}">
                        {% if flag_enabled('EXPAND_FILTERABLE_LIST_SEARCH') %}
                            Search by keyword(s)
                        {% else %}
                            Item name
                        {% endif %}
                    </label>
                    {{ form.title }}
                </div>
            </div>
        </div>
    {% endif %}

    {#
        Determine how many filters there will be across the first row.
        If it is 3, we set columns to 1-3 (33%). Otherwise we set
        columns to 1-2 (50%) width of the available area.
    #}
    {% set filter_count = 0 %}
    {% if value.categories.filter_category %}
        {% set filter_count = filter_count + 1 %}
    {% endif %}
    {% if show_topic_filter %}
        {% set filter_count = filter_count + 1 %}
    {% endif %}
    {% if value.language and form.language %}
        {% set filter_count = filter_count + 1 %}
    {% endif %}
    {% if value.statuses and form.statuses %}
        {% set filter_count = filter_count + 1 %}
    {% endif %}
    {% if value.products %}
        {% set filter_count = filter_count + 1 %}
    {% endif %}

    {% if value.categories.filter_category %}
        <div class="content-l_col
                    content-l_col-1-{{ '3' if filter_count == 3 else '2' }}">
            <div class="o-form_group">
                <div class="m-form-field">
                    <label class="a-label a-label__heading"
                           for="{{ form.categories.id_for_label }}">
                        Category
                    </label>
                    <select name="categories"
                            id="o-filterable-list-controls_categories"
                            class="o-multiselect"
                            data-placeholder="Search for categories"
                            multiple>
                    {% for slug, name in choices_for_page_type(value.categories.page_type) %}
                        <option value="{{ slug }}"
                                {{ 'selected' if is_filter_selected('categories', slug) else '' }}>
                            {{ name }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}

    {% if show_topic_filter and form.topics %}
        {{ _filter_multiselect( 'Topics', form.topics, filter_count ) }}
    {% endif %}

    {% if value.language and form.language %}
        {{ _filter_multiselect( 'Language', form.language, filter_count ) }}
    {% endif %}

    {% if value.statuses and form.statuses %}
        {{ _filter_multiselect( 'Status', form.statuses, filter_count ) }}
    {% endif %}

    {% if value.products and form.products %}
        {{ _filter_multiselect( 'Product', form.products, filter_count ) }}
    {% endif %}

    {% if value.date_range %}
        {# Ensures the dates appear on their own line #}
        <div class="content-l_col
                    content-l_col-1">
            <div class="content-l">
                <div class="content-l_col
                            content-l_col-2-3">
                    <div class="o-form_group">
                        <fieldset class="o-form_fieldset">
                            <legend class="a-legend">
                                Date range
                            </legend>
                            <div class="content-l">
                                <div class="content-l_col
                                            content-l_col-1-2">
                                    <div class="m-form-field">
                                        <label class="a-label a-label__heading"
                                                for="{{ form.from_date.id_for_label }}">
                                            From:
                                        </label>
                                        {{ form.from_date }}
                                    </div>
                                </div>
                                <div class="content-l_col
                                            content-l_col-1-2">
                                    <div class="m-form-field">
                                        <label class="a-label a-label__heading"
                                                for="{{ form.to_date.id_for_label }}">
                                            To:
                                        </label>
                                        {{ form.to_date }}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {#
        To show the archive filter,
        the HIDE_ARCHIVE_FILTER_OPTIONS flag must be disabled.
    #}
    {% if show_archive_filter %}
        <div class="content-l_col
                    content-l_col-1-2">
            <div class="o-form_group">
                <fieldset class="o-form_fieldset">
                    <legend class="a-legend">
                        Archived items
                    </legend>
                    <ul class="m-list m-list__unstyled" role="group">
                    {%- for radio in form.archived %}
                        {{ _filter_selectable(
                            'radio',
                            radio.choice_label,
                            'archived_'+radio.data.value,
                            'archived',
                            radio.data.value
                        ) }}
                    {% endfor -%}
                    </ul>
                </fieldset>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro _filters_form(value, form) %}
    <form method="get" action=".">
        <div class="content-l">
            {{ _render_filter_fields(value, form, has_archived_posts) }}
            <div class="content-l_col
                        content-l_col-1
                        m-btn-group">
                <button class="a-btn" type="submit">
                    Apply filters
                </button>
                <a class="a-btn a-btn__link a-btn__warning"
                   href="{{ request.path }}">
                    Clear filters
                </a>
            </div>
        </div>
    </form>
{% endmacro %}

{# ==========================================================================

   Filterable List Controls

   ==========================================================================

   Description:

   Create an expandable of filters when given:

   value: Data object from an instance of the FilterableList StreamField block.

   form: Django form that carries the fields that are to be rendered.

   fragment_id: A unique ID for the filter list control.

   has_active_filters: Whether the filter has active filters or not.

   ========================================================================== #}
{% macro render(value, form, fragment_id, has_active_filters) %}
    {% from 'organisms/expandable.html' import expandable with context %}
    <div id="{{ fragment_id }}" class="o-filterable-list-controls">
        {% if has_active_filters %}
            {% do value.update({'is_expanded':true}) %}
        {% endif %}

        {% set form_markup = _filters_form(value, form) %}
        {% call() expandable(value, expandable_cue_additional_text='filters') %}
            {{ form_markup | safe }}
        {% endcall %}
    </div>
{% endmacro %}
