{# ==========================================================================

   Filterable list

   ==========================================================================

   Description:

   Create a filter list that includes controls and results when given:

   value: Data object from an instance of the FilterableList StreamField block.

   value.no_posts_message: Message to show in "no posts" state.

   value.no_posts_explanation: More info to show in "no posts" state.

   value.form_type: What type of form this is.

   value.categories.page_type: What kind of pages are being filtered,
                               e.g. 'final-rule', 'blog'.
                               This is used to determine what categories
                               to allow filtering on, as well as how the
                               post preview is displayed.

   value.output_5050: Whether to render results as info-units or not.

   value.link_image_and_heading: Whether to link the image and heading
                                 in info-units.

   filter_data.form: Django form that carries the fields to be rendered.

   filter_data.page_set: Result set of posts from the filtered content.

   show_post_dates: Whether to render a date in post previews.

   show_post_tags: Whether to render the tags in post previews.

   ========================================================================== #}

{% import 'organisms/filterable-list-controls.html' as filterable_list_controls with context %}
{% import 'molecules/notification.html' as notification with context %}

{# SHOW A NOTIFICATION IF THERE'S NOTHING TO FILTER. #}

{% set has_unfiltered_results = filter_data.form.filterable_pages.first() %}

{% if not has_unfiltered_results and value.no_posts_message %}
    {{ notification.render(
        'default',
        true,
        value.no_posts_message,
        value.no_posts_explanation
    ) }}
{% elif has_unfiltered_results %}

    <div class="o-filterable-list">
        {% set form = filter_data.form %}
        {% set posts = filter_data.page_set %}

        {# ADD THE FILTER CONTROLS. #}

        {% set fragment_id = 'o-filterable-list-controls' %}
        {{ filterable_list_controls.render(
            value,
            form,
            fragment_id,
            has_active_filters)
        }}

        {# ADD THE NOTIFICATION, IF NEEDED. #}

        {% set notification_opts = {
            'type': 'default',
            'is_visible': false,
            'message': '',
            'explanation': ''
        } %}

        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {# The if statement here allows access to the
                       notification_opts variable outside of the for loop.
                    #}
                    {% if notification_opts.update({
                        'type': 'error',
                        'is_visible': true,
                        'message': notification_opts.message + field.label + ': ' + error + '<br>' | safe
                    }) %}{% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% if form.is_valid() %}
            {% set count = posts.paginator.count %}
            {% if count == 0 %}
                {# The if statement here allows access to the
                    notification_opts variable outside of the for loop.
                #}
                {% if notification_opts.update({
                    'type': 'warning',
                    'is_visible': true,
                    'message': 'Sorry, there were no results based on your filter selections.',
                    'explanation': 'Please reset the filter or change your selections and try again.'
                }) %}{% endif %}
            {% else %}
                {# The if statement here allows access to the
                    notification_opts variable outside of the for loop.
                #}
                {% if notification_opts.update({
                    'type': 'success',
                    'is_visible': true,
                    'message': count ~ ' filtered result' ~ count | pluralize('s')
                }) %}{% endif %}
            {% endif %}
        {% endif %}

        <div class="o-filterable-list_notification
                    block
                    block__padded
                    block__sub
                    {%- if not has_active_filters %}
                    u-hidden
                    {%- endif %}">
            {{ notification.render(
                notification_opts.type,
                notification_opts.is_visible,
                notification_opts.message,
                notification_opts.explanation
            ) }}
        </div>

        {# ADD THE FILTER RESULTS, IF THERE ARE ANY. #}

        {% if count is defined and count > 0 %}
            <section class="o-filterable-list_results
                            block
                            block__sub
                            {%- if has_active_filters %}
                            block__flush-top
                            {%- endif %}">
                {% if value.categories.page_type == 'activity-log' %}
                    {% import 'activity-log/_activity-list.html' as activity_list with context %}
                    {{ activity_list.render(posts) }}
                {% elif value.output_5050 %}
                    {% from 'molecules/info-unit-2.html' import info_unit with context %}
                    <div class="o-info-unit-group u-mb30">
                        <div class="content-l">
                            {% for post in posts %}
                            <div class="content-l_col
                                        content-l_col-1-2">
                                {% set post_url = pageurl(post) %}
                                {% if post.secondary_link_url and post.secondary_link_text %}
                                    {% set links = [
                                        {
                                            'url': post.secondary_link_url,
                                            'text': post.secondary_link_text
                                        }
                                    ] %}
                                {% endif %}

                                {{ info_unit( 
                                    {
                                        'image': {
                                            'upload': post.preview_image,
                                            'alt': post.preview_image.alt if post.preview_image.alt else ''
                                        } if post.preview_image else {},
                                        'heading': {
                                            'text': post.preview_title,
                                            'level': 'h2',
                                            'level_class': 'h3'
                                        } if post.preview_title else null,
                                        'body': post.preview_description,
                                        'links': links or null,
                                    },
                                    '50-50',
                                    value.link_image_and_heading
                                 ) }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {% import 'organisms/post-preview.html' as post_preview without context %}
                    {% for post in posts %}
                        {{ post_preview.render(
                            post,
                            value,
                            show_date=show_post_dates | default(true),
                            show_tags=show_post_tags | default(true)
                        ) }}
                    {% endfor %}
                {% endif %}

                {# DISPLAY THE PAGINATOR, IF THERE ARE RESULTS OVER A COUNT. #}

                {% set total_pages = posts.paginator.num_pages %}
                {% if total_pages > 1 %}
                    <div class="block block__flush-top block__flush-bottom block__padded-top">
                        {% import 'molecules/pagination.html' as pagination with context %}
                        {{ pagination.render( total_pages, posts.number, fragment_id) }}
                    </div>
                {% endif %}
            </section>
        {% endif %}
    </div>
{% endif %}
