{# ==========================================================================

   Filter List Controls

   ==========================================================================

   Description:

   Create an expandable of filters when given:

   value.fields:      Array of objects describing a form structure.
                      Example nested form:
                        {
                            'type': 'form',
                            'children': [
                                {
                                    'type':     'text',
                                    'label':    'Topics',
                                    'name':     'topics',
                                    'id':       'topics',
                                    'cols':     '1-2',
                                    'attrs':    { 'placeholder': 'Search for topics' }
                                },
                                {
                                    'type':     'text',
                                    'label':    'Author',
                                    'name':     'author',
                                    'id':       'author',
                                    'cols':     '1-2',
                                    'attrs':    { 'placeholder': 'Search for authors' }
                                },
                                {
                                    'type':     'form',
                                    'label':    'Date range',
                                    'children': [{
                                            'type':  'text',
                                            'label': 'From:',
                                            'cols':  '1-2',
                                            'attrs': { 'placeholder': 'DD/MM/YYYY' }
                                        },
                                        {
                                            'type':  'text',
                                            'label': 'To:',
                                            'cols':  '1-2',
                                            'attrs': { 'placeholder': 'DD/MM/YYYY' }
                                        }]
                                }]
                        }

   value.form_method: "post" or "get" form method.
                      Default is "post."

   value.action:      The form action URL.

   ========================================================================== #}

{% macro _filters_form(value) %}
{% if value.action and value.action != '/' %}
{% set action = value.action %}
{% endif %}
<form class="form-l"
      {{ 'method=' ~ value.form_method if value.form_method else 'method=post' }}
      {{ 'action=' ~ action if action else '' }}>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {{ _render_form_wrapper(value.fields) }}

    <div class="form-actions form-actions__left-on-med">
        <input class="btn form-actions_item"
               type="submit"
               value="Apply Filters">
        <input class="btn btn__warning btn__link form-actions_item js-form_clear"
               type="button"
               value="Clear filters"
               data-js-hook="form-clear">
    </div>

</form>
{% endmacro %}

{% macro _render_form_wrapper(inputs) -%}

    {% for input in inputs recursive %}
        <div class="form-l_col
                    form-l_col-{{ input.cols if input.cols else '1' }}">
            <div class="form-group">

                {% if input.label %}
                <label class="form-label-header"
                       {{ 'for=filter_' ~ input.id if input.id else '' }}>
                    {{ input.label }}
                </label>
                {% endif %}

                {% if input.type == 'form' %}
                    <div class="form-l">
                        {{ loop(input.children) }}
                    </div>
                {% elif input.type == 'email'
                   or input.type == 'number'
                   or input.type == 'password'
                   or input.type == 'tel'
                   or input.type == 'text'
                   or input.type == 'url' %}

                    <input type="{{ input.type }}"
                           value="{{ input.attrs.value if input.attrs.value else '' }}"
                           placeholder="{{ input.attrs.placeholder if input.attrs.placeholder else '' }}"
                           {{ 'id=filter_' ~ input.id if input.id else '' }}
                           {{ 'name=filter_' ~ input.name if input.name else '' }}>
                {% elif input.type == 'checkbox' %}
                    {% for checkbox in input.attrs -%}
                        {{ _filter_checkbox(checkbox.label,
                                            checkbox.id,
                                            checkbox.name,
                                            checkbox.value) | safe }}
                    {% endfor %}
                {% elif input.type == 'select' %}
                    <label class="form-group_item"
                           {{ 'for=filter_' ~ input.id if input.id else '' }}>
                    </label>
                    <select {{ 'id=filter_' ~ input.id if input.id else '' }}
                            {{ 'name=filter_' ~ input.name if input.name else '' }}>
                    {% for option in input.attrs -%}
                        {{ _filter_option(option.label, option.value) | safe }}
                    {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro _filter_checkbox(label_text, id, name, value) %}
    <input class="cf-input"
           type="checkbox"
           value="{{ value }}"
           id="filter_{{ id }}"
           name="filter_{{ name }}"
           {{ 'checked' if is_filter_selected(name, value) else '' }}>
    <label for="filter_{{ id }}" >
        {{ label_text if label_text else value }}
    </label>
{% endmacro %}

{% macro _filter_option(label_text, value) %}
    <option value="{{ value }}"
            {{ 'selected' if is_filter_selected(label_text, value) else '' }}
            >
        {{ label_text }}
    </option>
{% endmacro %}


{% if not value %}
    {% do global_dict.update(
        {
            'filter_list_controls': {
                'fields': [
                {
                    'type':  'checkbox',
                    'label': 'Category',
                    'cols':  '1-3',
                    'attrs': [
                        {
                            'label': 'Consumer information',
                            'id':    'consumer-info',
                            'value': 'consumer-info',
                            'name':  'consumer-info'
                        },
                        {
                            'label': 'Engagement & events',
                            'id':    'engagement-events',
                            'value': 'engagement-events',
                            'name':  'engagement-events'
                        },
                        {
                            'label': 'Announcements & updates',
                            'id':    'announce-updates',
                            'value': 'announce-updates',
                            'name':  'announce-updates'
                        },
                        {
                            'label': 'Innovation',
                            'id':    'innovation',
                            'value': 'innovation',
                            'name':  'innovation'
                        }
                    ]
                },
                {
                    'type':     'form',
                    'cols':     '2-3',
                    'children': [
                        {
                            'type':     'text',
                            'label':    'Topics',
                            'name':     'topics',
                            'id':       'topics',
                            'cols':     '1-2',
                            'attrs':    { 'placeholder': 'Search for topics' }
                        },
                        {
                            'type':     'text',
                            'label':    'Author',
                            'name':     'author',
                            'id':       'author',
                            'cols':     '1-2',
                            'attrs':    { 'placeholder': 'Search for authors' }
                        },
                        {
                            'type':     'form',
                            'label':    'Date range',
                            'children': [
                                {
                                    'type':  'text',
                                    'label': 'From:',
                                    'name':  'date-from',
                                    'id':    'date-from',
                                    'cols':  '1-2',
                                    'attrs': { 'placeholder': 'dd/mm/yyyy' }
                                },
                                {
                                    'type':  'text',
                                    'label': 'To:',
                                    'name':  'date-to',
                                    'id':    'date-to',
                                    'cols':  '1-2',
                                    'attrs': { 'placeholder': 'dd/mm/yyyy' }
                                }
                            ]
                        }
                    ]
                },

                {
                    'type':  'text',
                    'label': 'Half width field label',
                    'cols':  '1-2',
                    'attrs': { 'value': 'half-width' }
                },
                {
                    'type':  'text',
                    'label': 'Half width field label',
                    'cols':  '1-2',
                    'attrs': { 'value': 'half-width' }
                },
                {
                    'type':  'text',
                    'label': 'Address - example full width field',
                    'name':  'address',
                    'id':    'address',
                    'attrs': { 'value': 'full-width' }
                },
                {
                    'type':  'text',
                    'label': 'City',
                    'name':  'city',
                    'id':    'city',
                    'cols':  '1-2',
                    'attrs': { 'value': 'half-width' }
                },
                {
                    'type':  'select',
                    'label': 'State',
                    'name':  'state',
                    'id':    'state',
                    'cols':  '1-4',
                    'attrs': [
                        { 'label': 'Alabama', 'value': 'al' },
                        { 'label': 'Alaska', 'value': 'ak'  },
                        { 'label': 'Arizona', 'value': 'az'  },
                        { 'label': 'Arkansas', 'value': 'ar'  }
                    ]
                },
                {
                    'type':  'text',
                    'label': 'Zip code',
                    'name':  'zipcode',
                    'id':    'zipcode',
                    'cols':  '1-4',
                    'attrs': { 'value': 'quarter-width' }
                }
            ],
            'form_method': 'get',
            'action': '#'
            }
        })
    %}
{% endif %}
{% set value = value or global_dict.filter_list_controls %}
<div class="o-filterable-list-controls">
    {% do global_dict.update(
        {
            'expandable': {
                'label': 'Filter',
                'paragraph': _filters_form(value),
                'is_bordered': true,
                'is_midtone': true,
                'is_expanded': false
            }

        })
    %}
    {% set value = global_dict.expandable %}
    {% from 'molecules/expandable.html' import expandable with context %}
    {{ expandable(value) }}

    {% do global_dict.update(
        {
            'notification': {
                'type':        'error',
                'message':     'Custom text',
                'explanation': 'And an explanation with a <a href="#">link</a>' | safe
            }

        })
    %}
    {% set value = global_dict.notification %}
    {% include 'molecules/notification.html' with context %}

</div>
