
{# ==========================================================================

   footer_global.render()

   ==========================================================================

   Description:

   Render HTML for the global footer.

   language:      The page's language value (used to display different
                  information on Spanish pages). Defaults to English.

   ========================================================================== #}

{% macro render( language='en' ) %}
{% import 'molecules/social-media.html' as social_media with context %}
{% import 'atoms/tagline.html' as tagline with context %}
{% set external_redirect_url = '/external-site/?ext_url=' %}
<footer class="o-footer">
    <div class="wrapper wrapper__match-content">

        <div class="o-footer_pre">

            <a class="a-btn
                      a-btn__secondary
                      o-footer_top-button"
                data-gtm_ignore="true"
                data-js-hook="behavior_return-to-top"
                href="#">
                {{ _('Back to top') }} {{ svg_icon('arrow-up') }}
            </a>

            <ul class="o-footer_nav-list m-list">
                {% if language == 'es' %}
                    <li class="m-list_item">
                        <a class="m-list_link" href="/es/herramientas-del-consumidor/">Para consumidores</a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/es/obtener-respuestas/">Obtener respuestas</a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/es/enviar-una-queja/">Enviar una queja</a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/es/quienes-somos/">Quiénes somos</a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/es/comprar-casa/">Comprar casa</a>
                    </li>
                {% else %}
                    <li class="m-list_item">
                        <a class="m-list_link" href="/about-us/">
                            About Us
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/about-us/contact-us/">
                            Contact Us
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/about-us/careers/">
                            Careers
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/about-us/events/">
                            Events
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/enforcement/information-industry-whistleblowers/">
                            Industry Whistleblowers
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/cfpb-ombudsman/">
                            CFPB Ombudsman
                        </a>
                    </li>
                {% endif %}
            </ul>
            <div class="block
                        block__flush-top
                        block__flush-bottom
                        block__padded-top">
                {{ social_media.render( { 'is_share_view': false } ) }}
            </div>
        </div>{# END .o-footer_pre #}

        {% if language == 'es' %}
        <div class="block block__flush-bottom block__flush-top block__padded-bottom">
            En este momento, la política de información sólo está disponible en inglés.
        </div>
        {% endif %}

        <div class="o-footer-middle-left">

            <div class="o-footer_col">
                <ul class="o-footer_list m-list">
                    <li class="m-list_item">
                        <a class="m-list_link" href="/foia-requests/">
                            FOIA
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/privacy/">
                            Privacy
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link"
                           href="/privacy/website-privacy-policy/">
                            Website Privacy Policy & Legal Notices
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/data/">
                            Data
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/open-government/">
                            Open Government
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/open-government/information-quality-guidelines/">
                            Information Quality Guidelines
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/about-us/diversity-and-inclusion/">
                            Diversity and Inclusion
                        </a>
                    </li>
                </ul>
            </div>
            <div class="o-footer_col">
                <ul class="o-footer_list m-list">
                    {% if language != 'es' %}
                    <li class="m-list_item">
                        <a class="m-list_link" href="/administrative-adjudication-proceedings/">
                            Administrative Adjudication
                        </a>
                    </li>
                    {% endif %}
                    <li class="m-list_item">
                        <a class="m-list_link" href="/plain-writing/">
                            Plain Writing
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/accessibility/">
                            Accessibility
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/office-civil-rights/">
                            Office of Civil Rights
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="/office-civil-rights/no-fear-act/">
                            No FEAR Act Data
                        </a>
                    </li>
                    {% if language != 'es'%}
                    <li class="m-list_item">
                        <a class="m-list_link" href="/tribal/">
                            Tribal
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>{# END .o-footer-middle-left #}

        <div class="o-footer-middle-right">
                <ul class="o-footer_list m-list">
                    <li class="m-list_item">
                        <a class="m-list_link a-link"
                           href="{{ _('https://usa.gov/') }}">{{ _('USA.gov') }}</a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link a-link"
                           href="https://www.federalreserve.gov/oig/default.htm">Office of Inspector General</a>
                    </li>
                    {% if language == 'es'%}
                    <li class="m-list_item">
                        <a class="m-list_link" href="/cfpb-ombudsman/">
                            CFPB Ombudsman
                        </a>
                     </li>
                    {% endif %}
                </ul>
        </div>{# END .o-footer-middle-right #}

        <div class="o-footer-post">
            {{ tagline.render( is_large=true ) }}
        </div>{# END .o-footer-post #}

    </div>{# END .wrapper.wrapper__match-content #}
</footer>{# END .o-footer #}
{% endmacro %}
