
{# ==========================================================================

   Full Width Text

   ==========================================================================

   Description:

   Create a full width text organism.
   See [GHE]/flapjack/Modules-V1/wiki/Full-Width-Copy

   ========================================================================== #}
<div class="o-full-width-text-group">
    {% for block in value %}
        {% if 'content' in block.block_type %}
            <div class="m-full-width-text
                        {{ 'm-full-width-text__serif' if
                         page.full_width_serif else '' }}">
                {{ render_stream_child(block.value) |safe}}
            </div>
        {% elif 'table' in block.block_type %}
            <div class="m-full-width-text
                        {{ 'm-full-width-text__serif' if
                        page.full_width_serif else '' }}">
                {{ render_stream_child(block) |safe}}
            </div>
        {% else %}
            <div class="m-inset">
                {{ block | safe }}
            </div>
        {% endif %}
    {% endfor %}
</div>
