
{# ==========================================================================

   Full Width Text

   ==========================================================================

   Description:

   See [GHE]/CFPB/hubcap/wiki/Full-Width-Text

   Create a full width text organism.

   ========================================================================== #}

<div class="o-full-width-text-group">
    {% for block in value %}
        {% set block_type = block.block_type %}
        {% if 'content_with_anchor' in block_type %}
                {{ render_stream_child(block) | safe }}
        {% elif 'content' in block_type %}
            <div class="m-full-width-text">
                {{ block.value | safe }}
            </div>
        {% elif 'table' in block_type %}
            <div class="m-full-width-text">
                {% include_block block %}
            </div>
        {% elif block_type in ['quote', 'related_links']
           or 'cta' in block_type and block.value.is_inset %}
            <div class="m-inset
                    {{ 'm-inset__test'
                       if flag_enabled('INSET_TEST') else '' }}">
                {{ block | safe }}
            </div>
        {% elif block_type in ['email_signup'] %}
            <div class="m-inset__email">
                {% include_block block %}
            </div>
        {% elif block_type in ['well', 'well_with_ask_search'] %}
            <div class="block">
                {% include_block block %}
            </div>
        {% else %}
            {{ block | safe }}
        {% endif %}
    {% endfor %}
</div>
