<header class="o-header"
        role="banner">

    {% if flag_enabled('BETA_NOTICE') %}
    <div class="m-global-banner">
        <div class="wrapper
                    wrapper__match-content
                    m-expandable
                    m-expandable__expanded">
            <div class="m-global-banner_head">
                <span class="cf-icon
                             cf-icon-error-round
                             m-global-banner_icon"></span>
                This beta site is a work in progress.
            </div>
            <div class="m-expandable_content">
                <p class="m-global-banner_desc  m-expandable_content-animated">
                    We’re prototyping new designs. Things may not work as expected.
                    Our regular site continues to be at
                    <a href="http://www.consumerfinance.gov/">www.consumerfinance.gov</a>.
                </p>
            </div>
            <button class="btn
                           m-global-banner_btn
                           m-expandable_target
                           m-expandable_link"
                    id="m-global-banner_btn">
                <span class="m-expandable_cue m-expandable_cue-close">
                    Collapse <span class="cf-icon cf-icon-up"></span>
                </span>
                <span class="m-expandable_cue m-expandable_cue-open">
                    More info <span class="cf-icon cf-icon-down"></span>
                </span>
            </button>
        </div>
    </div>
    {% endif %}

    {% import 'molecules/global-eyebrow.html' as global_eyebrow with context %}
    {{ global_eyebrow.render( true ) }}

    <div class="o-header_content">

        <div class="wrapper">
            {% import 'molecules/global-header-cta.html' as global_header_cta with context %}
            {{ global_header_cta.render( true ) }}

            {% include 'molecules/global-search.html' with context %}

            <a class="o-header_logo" href="/">
                <img class="o-header_logo-img u-js-only"
                     src="/static/img/logo_sm-exec.svg"
                     onerror="this.onerror=null;this.src='/static/img/logo_sm-exec.png';"
                     alt="Consumer Financial Protection Bureau"
                     width="237"
                     height="50">
                <noscript>
                    <img class="o-header_logo-img"
                         src="/static/img/logo_sm-exec.png"
                         alt="Consumer Financial Protection Bureau"
                         width="237"
                         height="50">
                </noscript>
            </a>

            {% block primary_nav %}
                {% include 'organisms/mega-menu.html' with context %}
            {% endblock primary_nav %}
        </div>

    </div>
</header>
