<div class="o-info-unit-group" data-qa-hook="image-text-25-75">
    {% if value.heading %}
    <h2>{{ value.heading }}</h2>
    {% endif %}

    <div class="content-l">
      {% for block in value.image_texts %}
        <div class="content-l_col
                    content-l_col-1">
            {% if block.has_rule %}
                <div class="a-rule-break"></div>
            {% endif %}

            {% do block.update( {
              'link_image_and_heading': value.link_image_and_heading
            } ) %}

            {{ block }}
        </div>
        {% endfor %}
    </div>
</div>
