
{# ==========================================================================

   image_and_text_50_50.render()

   ==========================================================================

   Description:

   Create an image and text 50/50 organism.
   See [GHE]/flapjack/Modules-V1/wiki/50-50-Text-&-Image

   ========================================================================== #}

{% macro render() %}
<div>
  {# TODO: Implement image and text 50/50 macro with actual content. #}
  IMAGE AND TEXT 50/50
</div>
{% endmacro %}
