
{# ==========================================================================

   Image and Text 25/75 Group

   ==========================================================================

   Description:

   See [GHE]/CFPB/hubcap/wiki/25-75-Info-unit-group

   Create an info-unit-group organism when given:

   value: Object defined from a StreamField block.

   value.heading: A string containing title of module.

   value.image_texts: TODO: add description for this.

   value.link_image_and_heading: TODO: add description for this.

   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   NOTE: THIS ORGANISM IS DEPRECATED. USE info-unit-group-2.html INSTEAD.
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

   ========================================================================== #}

<div class="o-info-unit-group" data-qa-hook="image-text-25-75">
    {% if value.heading %}
    <h2>{{ value.heading }}</h2>
    {% endif %}

    <div class="content-l">
      {% for block in value.image_texts %}
        <div class="content-l_col
                    content-l_col-1">
            {% if block.has_rule %}
                <div class="a-rule-break"></div>
            {% endif %}

            {% do block.update( {
              'link_image_and_heading': value.link_image_and_heading
            } ) %}

            {{ block }}
        </div>
        {% endfor %}
    </div>
</div>
