
{# ==========================================================================

   Info Unit Group

   ==========================================================================

   Description:

   Create an info unit group organism when given:

   heading: A string containing title of the info unit group.

   blocks:  A list composed of Wagtail Streamfield blocks.

   columns: (Optional) Number of columns in the info unit group.


   ========================================================================== #}

{% macro info_unit_group(heading, blocks=[], columns=2) %}
{% set column_ratio_lookup = {
    2: 'half',
    3: 'third'
} %}
<div class="o-info-unit-group"
     data-qa-hook="{{ column_ratio_lookup[columns] }}-width-link-blob">
    {% if heading %}
    <h2>{{ heading | safe }}</h2>
    {% endif %}

    <div class="content-l">
        {% for block in blocks %}
        <div class="content-l_col
                    content-l_col-1-{{ columns }}">
            {{ block }}
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}
