
{# ==========================================================================

   Info Unit Group

   ==========================================================================

   Description:

   Create an info unit group organism when given:

   blocks:  A list composed of Wagtail Streamfield blocks.

   columns: (Optional) Number of columns in the info unit group.

   heading: A string containing title of the info unit group.

   value.lines_between_items:   Boolean for whether items should have
                                horizontal rules separating them.


   ========================================================================== #}

{% macro info_unit_group(blocks=[], columns=2, heading, lines_between_items=False) %}
{% set column_ratio_lookup = {
    2: 'half',
    3: 'third'
} %}
<div class="o-info-unit-group"
     data-qa-hook="{{ column_ratio_lookup[columns] }}-width-link-blob">
    {% if heading %}
    <h2>{{ heading | safe }}</h2>
    {% endif %}
    {% if not lines_between_items %}
    <div class="content-l">
    {% endif %}
        {% for block in blocks %}
        {% if lines_between_items and  (
            ( loop.index == 1 ) or
            ( columns == 2 and loop.index % 2 == 1 ) or
            ( columns == 3 and loop.index  % 3 == 1 ) 
        ) %}
        <div class="content-l content-l__top-divider">
        {% endif %}

        <div class="content-l_col
                    content-l_col-1-{{ columns }}">
            {{ block }}
        </div>

        {% if value.lines_between_items and (
            ( columns == 2 and loop.index % 2 == 0 ) or
            ( columns == 3 and loop.index % 3 == 0 ) or
            ( loop.index == value.info_units | length )
        ) %}
        </div>
        {% endif %}

        {% endfor %}
    {% if not lines_between_items %}
    </div>
    {% endif %}
</div>
{% endmacro %}
