{# ==========================================================================

   Info Unit Group

   ==========================================================================

   Description:

   Create an info unit group organism when given:

   value:                         Object defined from a StreamField block.

   value.heading:                 The heading for the info unit group.

   value.heading_level:           The heading level (H2, H3, or H4).

   value.heading_icon:            An optional cf-icons icon code that
                                  triggers the insertion of an icon before
                                  the heading.

   value.intro:                   An introduction for the info unit group.

   value.link_image_and_heading:  Boolean for whether the image and heading
                                  should be linked to the value.links[0].url.

   value.format:                  The number and width of columns to output.

   value.info_units:              List of Info Unit molecules. See Info Unit
                                  molecule template for details.

   value.sharing.shareable:       Boolean for whether or not to output share
                                  links at the bottom of this module.

   ========================================================================== #}

{%- from 'molecules/info-unit-2.html' import info_unit with context %}

<div class="o-info-unit-group"
     {{- ' id="' ~ value.heading|slugify ~ '" ' if value.heading else ' ' -}}
     data-qa-hook="@TODO: Find out if I need this!">

{% if value.heading %}
    <{{ value.heading_level -}}
        {%- if value.heading_icon -%}
            {{- ' class="cf-icon cf-icon-' ~ value.heading_icon ~ '"' -}}
        {%- endif -%}
    >
        {{ value.heading | safe }}
    </{{ value.heading_level }}>
{% endif -%}

{%- if value.intro %}
    {{ value.intro | safe }}
{%- endif %}

    <div class="content-l u-mt15">
    {% for iu in value.info_units %}
        <div class="content-l_col
                    {{- ' content-l_col-1-2' if value.format == '50-50' else '' -}}
                    {{- ' content-l_col-1-3' if value.format == '33-33-33' else '' -}}
                    {{- ' content-l_col-1' if value.format == '25-75' else '' -}}
                   ">
            {{- info_unit(iu, value.format, value.link_image_and_heading) }}
        </div>
    {% endfor %}
    </div>

</div>
