{# ==========================================================================

   Info Unit Group

   ==========================================================================

   Description:

   Create an info unit group organism when given:

   value:                         Object defined from a StreamField block.

   value.format:                  The number and width of columns to output.

   value.has_top_rule_line:       Boolean for whether or not to add top
                                  border to info-unit-group. Used in
                                  'render_block.html' to modify classes on
                                  wrapper '.block' div.

   value.heading:                (Optional) A heading object.
                                 See _includes/blocks/heading.html.

   value.intro:                   An introduction for the info unit group.
                                  If not empty, a heading is required.

   value.link_image_and_heading:  Boolean for whether the image and heading
                                  should be linked to the value.links[0].url.

   value.lines_between_items:     Boolean for whether items should have
                                  horizontal rules separating them.

   value.info_units:              List of Info Unit molecules. See Info Unit
                                  molecule template for details.

   value.sharing.shareable:       Boolean for whether or not to output share
                                  links at the bottom of this module.

   ========================================================================== #}

{%- from 'blocks/heading.html' import heading without context %}
{%- from 'molecules/info-unit-2.html' import info_unit with context %}

<div class="o-info-unit-group"
     {{- ' id="' ~ value.heading.text|slugify ~ '" ' if value.heading and value.heading.text else ' ' -}}>

{% if value.heading and value.heading.text %}
    {{ heading( value.heading ) }}
{% endif -%}

{%- if value.intro and not ( value.intro | richtext_isempty ) %}
    {{ value.intro | safe }}
{%- endif %}

{% for unit in value.info_units %}
    {% if ( loop.index == 1 ) or
          ( value.format == '50-50' and loop.index % 2 == 1 ) or
          ( value.format == '33-33-33' and loop.index % 3 == 1 )
    %}
    <div class="content-l
                {{- ' content-l__top-divider' if value.lines_between_items else '' -}}">
    {% endif %}

        <div class="content-l_col
                    {{- ' content-l_col-1-2' if value.format == '50-50' else '' -}}
                    {{- ' content-l_col-1-3' if value.format == '33-33-33' else '' -}}
                    {{- ' content-l_col-1' if value.format == '25-75' else '' -}}">
            {{- info_unit(unit, value.format, value.link_image_and_heading) }}
        </div>

    {% if ( loop.index == value.info_units | length ) or
          ( value.format == '50-50' and loop.index % 2 == 0 ) or
          ( value.format == '33-33-33' and loop.index % 3 == 0 )
    %}
    </div>
    {% endif %}
{% endfor %}

</div>
