{# ==========================================================================

   Item Introduction

   ==========================================================================

   Create an Item Introduction organism.

   https://cfpb.github.io/design-system/patterns/item-introductions

   value.show_category:     (Optional) Whether to show category.

   value.category:          (Optional) Category to show above heading.

   value.category_url:      (Optional) URL to link category to.

   value.heading:           Heading text.

   value.paragraph:         (Optional) Subheader paragraph.

   value.authors:           (Optional) A list of author names to be included
                            on a byline.

   value.date:              (Optional) A date to be included on a byline.

   value.has_social:        Whether to show the share icons or not.

   value.social_options:    (Optional) Share icon options.

   ========================================================================== #}


{% import 'molecules/social-media.html' as social_media with context %}
{% import 'macros/category-slug.html' as category_slug %}

{%- macro render( value ) %}
<div class="o-item-introduction">
    {% if value.show_category and value.category -%}
        {{ category_slug.render( value.category, href=value.category_url ) }}
    {%- endif %}

    <h1>{{ value.heading | safe }}</h1>

    {% if value.paragraph -%}
        <div class="lead-paragraph">{{ value.paragraph | safe }}</div>
    {%- endif %}

    {% include 'atoms/byline.html' with context %}

    {% if value.has_social -%}
        {{ social_media.render( value.social_options or {} ) }}
    {%- endif %}
</div>
{% endmacro -%}

{%- if value %}

{% if page %}
    {% if not "category" in value %}
        {% set category = page.categories.values_list("name", flat=True).first() %}
        {% if category %}
            {% do value.update( { "category": category } ) %}

            {% set filter_page = page.get_filter_data() %}
            {% if filter_page %}
                {% do value.update(
                    { "category_url": pageurl( filter_page ) }
                ) %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

{{- render( value ) -}}

{% endif -%}
