{# ==========================================================================

   Job Listings List

   ==========================================================================

   Description:

   Creates jobs list when given:

   careers:        List of currently open jobs.

   heading:        The heading of the jobs list.
                         Default is "Career Openings".

   more_jobs_url:  A string for the URL of the more jobs url.

   more_jobs_text: A string for the text of the more jobs link.

   ========================================================================== #}

<aside class="m-jobs-list"
       data-qa-hook="openings-section">
    {% if careers.exists() %}
    <h3>
        {{ heading or 'Career Openings' }}
    </h3>
    <ul class="m-list m-list__unstyled m-list__links">
        {% for job in careers %}
        <li class="m-list_item">
            <a class="m-list_link"
               href="{{ get_protected_url(job) }}">
                  {{ job.title }}
                <span class="m-list_link-subtext">
                    Closing
                    {% import 'macros/time.html' as time %}
                    {{ time.render(job.close_date, {'date': true}, text_format=True) }}
               </span>
            </a>
        </li>
        {% endfor %}
    </ul>
    <a class="a-btn a-btn__full-on-xs"
       href="{{ get_protected_url(more_jobs_page) }}">
       {{ more_jobs_text or 'View all job openings' }}
    </a>
    {% else %}
    <h3 class='short-desc'>There are no current openings at this time.</h3>
    {% endif %}
</aside>
