{# ==========================================================================

   Job Listings List

   ==========================================================================

   Description:

   Creates jobs list when given:

   careers:        List of currently open jobs.

   heading:        The heading of the jobs list.
                         Default is "Career Openings".

   more_jobs_url:  A string for the URL of the more jobs url.

   more_jobs_text: A string for the text of the more jobs link.

   ========================================================================== #}

<aside class="m-jobs-list"
       data-qa-hook="openings-section">
    {% if careers.exists() %}
    <h3>
        {{ heading or 'Career Openings' }}
    </h3>
    {% import 'macros/time.html' as time %}
    <ul class="list list__unstyled">
        {% for job in careers %}
        <li class="list_item">
            <a class="list_link"
               href="{{ get_protected_url(job) }}">{{ job.title }}</a>
            <p class="date">
                CLOSING
                {{ time.render(job.close_date, {'date': true}) }}
            </p>
        </li>
        {% endfor %}
    </ul>
    <a class="jump-link
              jump-link__underline"
       href="{{ get_protected_url(more_jobs_page) }}">
        <span class="jump-link_text">
          {{ more_jobs_text or 'View all job openings' }}
        </span>
    </a>
    {% else %}
    <h3 class='short-desc'>There are no current openings at this time.</h3>
    {% endif %}
</aside>
