{# ==========================================================================

   main_contact_info.render()

   ==========================================================================

   Description:

   Create a Main Contact Information organism.
   See [GHE]/flapjack/Modules-V1/wiki/Contact-Information-(Main-Content-Area)

   content:                  An object containing main content.
   content.heading:          A string containing a heading.
   content.body:             A string containing paragraph content.

   contact:                  An object with contact details.
   contact.emails:           An array containing email addresses.

   contact.phones:           An array containing phone number information.
   contact.phones.number:    A phone number.
   contact.phones.vanity:    An associated vanity phone number.
   contact.phones.tty:       An associated TTY/TDD number.

   contact.faxes:            An object containing fax numbers.
   contact.faxes.number:     A fax number.
   contact.faxes.vanity:     An associated vanity fax number.
   contact.faxes.tty:        An associated TTY/TDD number.
                             This value can be used, but is not applicable.

   contact.address:          An object containing address information.
   contact.address.title:    A string containing an address name.
   contact.address.street:   A string containing a street address.
   contact.address.city:     A string containing a city.
   contact.address.state:    A string containing a state.
   contact.address.zip_code: A string containing a zip code.

   ========================================================================== #}

{% if value.contact %}
    <div class="o-main-contact-info">
        <h2>{{ value.contact.heading }}</h2>

        {{ parse_links(value.contact.body) | safe }}

        {% if value.contact.contact_info %}

            {% for block in value.contact.contact_info %}
                {{ render_stream_child(block) }}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}

