
{# ==========================================================================

   sub_nav()

   ==========================================================================

   Description:

   Creates a mega menu sub menu content markup when given:

   sub_nav_title:   A string used for the sub nav title.

   sub_nav_landing: A string used for the url of the sub nav landing page.

   sub_nav_items:   An array of tuples.

   sub_nav_media:   A string composed of html markup.

   ========================================================================== #}

{% macro _sub_nav(sub_nav_title, sub_nav_landing, sub_nav_items, sub_nav_media) %}
<div class="o-mega-menu_subcontent" aria-expanded="false">
    <div class="o-mega-menu_subcontent-wrapper">
        <div class="wrapper">
            <button class="o-mega-menu_subcontent-btn__back">Back</button>
            <div class="o-mega-menu_subcontent-grid">
                <span class="o-mega-menu_subcontent-title">
                    <a class="o-mega-menu_subcontent-link" href="{{ sub_nav_landing }}">
                        {{ sub_nav_title }}
                    </a>
                </span>
                <div class="o-mega-menu_subcontent-lists">
                {%- for sub_nav_item in sub_nav_items %}
                    <ul class="list
                               list__unstyled
                               o-mega-menu_subcontent-list">
                        {%- for href, id, caption in sub_nav_item %}
                            <li class="list_item
                                       o-mega-menu_subcontent-item">
                                <a class="list_link
                                          {{ 'list_link__current' if href == request.path else '' }}
                                          {{ 'u-link__disabled' if href == '' else '' }}
                                          o-mega-menu_subcontent-link"
                                   {{ 'href=' + href | e if href != '' else '' }}>
                                    {{ caption | safe }}
                                 </a>
                            </li>
                        {%- endfor %}
                    </ul>
                {%- endfor %}
                </div>
            </div>
            <aside class="sub-nav_media">
                {{ sub_nav_media }}
            </aside>
        </div>
    </div>
</div>
{% endmacro %}

{# ==========================================================================

   Mega Menu

   ==========================================================================

   Description:

   Creates a mega menu primary navigation menu.

   ========================================================================== #}
{% import '_vars-mega-menu.html' as vars with context %}
<div class="o-mega-menu">
    <button class="o-mega-menu_trigger">
        <span class="o-mega-menu_trigger-label">
            <span class="u-visually-hidden">Menu</span>
        </span>
    </button>
    <nav class="o-mega-menu_content"
         aria-expanded="false"
         aria-label="main navigation"
         role="navigation">

        <ul class="list
                   list__unstyled
                   o-mega-menu_content-list">

            <li class="list_item
                       o-mega-menu_content-item">
                {% import 'molecules/global-header-cta.html' as global_header_cta with context %}
                {{ global_header_cta.render() }}
            </li>

            {%- for nav_title,
                    sub_nav_landing,
                    sub_nav_title,
                    sub_nav_media,
                    sub_nav_items in vars.nav_items %}
                <li class="list_item
                           o-mega-menu_content-item">
                    {%- if sub_nav_items | length > 0 %}
                        <a class="list_link
                                  o-mega-menu_content-link"
                           href="{{ sub_nav_landing }}">
                            {{ nav_title }}
                        </a>
                        {{ _sub_nav(sub_nav_title, sub_nav_landing, sub_nav_items, sub_nav_media) }}
                    {%- else %}
                      <a class="list_link
                                o-mega-menu_content-link
                                u-link__disabled">
                          {{ nav_title }}
                      </a>
                    {%- endif %}
                </li>
            {%- endfor %}
        </ul>

        {% import 'molecules/global-eyebrow.html' as global_eyebrow with context %}
        {{ global_eyebrow.render() }}

    </nav>
    <button class="o-mega-menu_tab-trigger" aria-hidden></button>
</div>
