{% import '_vars-mega-menu.html' as vars with context %}
{% set base_class = 'o-mega-menu' %}

{# ==========================================================================

   _classes()

   ==========================================================================

   Description:

   Creates mega menu CSS classes when given:

   nav_depth: Level of menu nesting. 1 equals the root menu.

   suffix:    Suffix to add to the classes.
              Default is ''.

   ========================================================================== #}

{# TODO: Move to external macro so it can be shared with secondary nav. #}
{%- macro _classes( nav_depth, suffix='' ) -%}
{%- set general_class = base_class ~ '_content' -%}
{%- set depth_class = general_class ~ '-' ~ nav_depth -%}
{{ general_class ~ suffix ~ ' ' ~ depth_class ~ suffix }}
{%- endmacro -%}


{# ==========================================================================

   _nav_list()

   ==========================================================================

   Description:

   Creates a mega menu sub menu list markup when given:

   nav_depth: Level of menu nesting. 1 equals the root menu.

   nav_groups: An array of objects containing menu link info.

   ========================================================================== #}

{% macro _nav_list( nav_depth, nav_groups ) %}
{%- for group in nav_groups %}
<div class="{{ _classes( nav_depth, '-list' ) }}">
  {% if group.title %} 
  <h3 class="h5 {{' hide-title' if group.hide_title else ''}}">
      {{group.title | safe}}
  </h3>
  {% endif %}
  <ul class="m-list
             m-list__unstyled">
    {% if nav_depth == 1 -%}
    <li class="m-list_item
               {{ _classes( nav_depth, '-item' ) }}">
        {% import 'molecules/global-header-cta.html' as global_header_cta with context %}
        {{ global_header_cta.render() }}
    </li>
    {%- endif %}

    {%- for item in group.nav_items %}
    <li class="m-list_item
               {{ _classes( nav_depth, '-item' ) }}"
        {{ 'data-js-hook=behavior_flyout-menu' if item.nav_groups | count > 0 else '' }}>
        {# TODO: Disable link (or overview link) of page user is currently on (on mobile). #}
        <a class="{{ 'u-link__disabled' if item.url == '' else '' }}
                  {{ _classes( nav_depth, '-link' ) }}
                  {{ _classes( nav_depth, '-link__has-children' ) if item.nav_groups | count > 0 else '' }}
                  {{ _classes( nav_depth, '-link__current' ) if item.url == request.path else '' }}"
           {{ '' if item.url == '' else 'href=' + item.url | e }}
           {{ 'data-js-hook=behavior_flyout-menu_trigger' if item.nav_groups | count > 0 else '' }}
           {{ 'aria-pressed=false' if item.nav_groups | count > 0 else '' }}>
            {{ item.caption }}
        </a>
          {% if item.nav_groups | count > 0 %}
            {{ _nav( nav_depth | int + 1, item.nav_groups, item.caption ~ ' Overview', item.url, vars.media_items, item.footer if item.footer else '' ) }}
        {% endif %}
    </li>
    {%- endfor %}
    </ul>
</div>
{%- endfor %}
{% endmacro %}

{# ==========================================================================

   _nav()

   ==========================================================================

   Description:

   Creates menu content markup when given:

   nav_depth:        Level of menu nesting. 1 equals the root menu.

   nav_groups:       An array of objects containing menu link info.

   nav_overview:     A string used for a sub nav overview title.

   nav_overview_url: A string used for a sub nav overview title URL.

   media_items:      A tuple of strings composed of HTML markup.

   ========================================================================== #}

{% macro _nav( nav_depth, nav_groups, nav_overview, nav_overview_url, media_items, footer ) %}
<div class="{{ _classes( nav_depth ) }}
            u-hidden-overflow"
     aria-expanded="false"
     data-js-hook="behavior_flyout-menu_content">

    <div class="{{ _classes( nav_depth, '-wrapper' ) }}">
        {{ '<div class="wrapper">' | safe if nav_depth > 1 else '' }}
            {# Open wrapper if needed #}
            {% if nav_depth > 1 %}
            <button class="{{ _classes( nav_depth, '-alt-trigger' ) }}"
                    data-js-hook="behavior_flyout-menu_alt-trigger">
                Back
            </button>
            {% endif %}
            <div class="{{ _classes( nav_depth, '-grid' ) }}">
                {% if nav_depth > 1 %}
                <span class="{{ _classes( nav_depth, '-overview' ) }}">
                    {# TODO: Remove the check for '#' when real overview pages
                             are added for the Consumer Resources and Education
                             pages. #}
                    {% if nav_overview_url %}
                    <a class="{{ 'u-link__disabled' if nav_overview_url == '#' else '' }}
                              {{ _classes( nav_depth, '-overview-link' ) }}
                              {{ _classes( nav_depth, '-overview-link__current' ) if nav_overview_url == request.path else '' }}"
                       {{ '' if nav_overview_url == request.path or nav_overview_url == '#' else 'href=' + nav_overview_url | e }}>
                        {{ nav_overview }}
                    </a>
                    {% endif %}
                </span>
                {% endif %}
                <div class="{{ _classes( nav_depth, '-lists' ) }}">
                    {{ _nav_list( nav_depth, nav_groups ) }}
                </div>
               {% if footer %}
          <div class="nav_footer">
            {% for item in footer %}
            <p>{{ item | safe }}</p>
            {% endfor %}
          </div>
         {% endif %}
            </div>
            {% for parent_name, fmc in media_items %}
                {% if parent_name + ' Overview' == nav_overview %}
                {{ fmc }}
                {% endif %}
            {% endfor %}
         
        {# Close Wrapper if needed #}
        {{ '</div>' | safe if nav_depth > 1 else '' }}
    </div>

    {% if nav_depth == 1 %}
    {% import 'molecules/global-eyebrow.html' as global_eyebrow with context %}
    {{ global_eyebrow.render() }}
    {% endif %}

</div>
{% endmacro %}

{# ==========================================================================

   Mega Menu

   ==========================================================================

   Description:

   Creates a mega menu primary navigation menu.

   ========================================================================== #}
<nav class="{{ base_class }}
            u-hidden"
     data-js-hook="behavior_flyout-menu"
     aria-label="main navigation"
     role="navigation">
    <button class="{{ base_class ~ '_trigger' }}"
            data-js-hook="behavior_flyout-menu_trigger"
            aria-pressed="false">
        <span class="u-visually-hidden">Menu</span>
    </button>
    {# Create a root menu at depth one.
       This is the 1st level of a 3-level menu. #}
    {{ _nav( 1, vars.nav_groups ) }}
    <button class="{{ base_class ~ '_tab-trigger' }}" aria-hidden="true"></button>
</nav>
