{% import '_vars-mega-menu.html' as vars with context %}
{% set base_class = 'o-mega-menu' %}

{# ==========================================================================

   _classes()

   ==========================================================================

   Description:

   Creates mega menu CSS classes when given:

   nav_depth: Level of menu nesting. 1 equals the root menu.

   suffix:    Suffix to add to the classes.
              Default is ''.

   ========================================================================== #}

{# TODO: Move to external macro so it can be shared with secondary nav. #}
{%- macro _classes( nav_depth, suffix='' ) -%}
{%- set general_class = base_class ~ '_content' -%}
{%- set depth_class = general_class ~ '-' ~ nav_depth -%}
{{ general_class ~ suffix ~ ' ' ~ depth_class ~ suffix }}
{%- endmacro -%}


{# ==========================================================================

   _nav_list()

   ==========================================================================

   Description:

   Creates a mega menu sub menu list markup when given:

   nav_depth: Level of menu nesting. 1 equals the root menu.

   nav_items: An array of tuples containing menu link info.

   ========================================================================== #}

{% macro _nav_list( nav_depth, nav_items ) %}
{%- for nav_group in nav_items %}
<ul class="list
           list__unstyled
           {{ _classes( nav_depth, '-list' ) }}">
    {% if nav_depth == 1 -%}
    <li class="list_item
               {{ _classes( nav_depth, '-item' ) }}">
        {% import 'molecules/global-header-cta.html' as global_header_cta with context %}
        {{ global_header_cta.render() }}
    </li>
    {%- endif %}
    {%- for nav_caption,
            nav_url,
            nav_children in nav_group %}
    <li class="list_item
               {{ _classes( nav_depth, '-item' ) }}"
        {{ 'data-js-hook=flyout-menu' if nav_children | count > 0 else '' }}>
        {# TODO: Disable link (or overview link) of page user is currently on (on mobile). #}
        <a class="{{ 'u-link__disabled' if nav_url == '' else '' }}
                  {{ _classes( nav_depth, '-link' ) }}
                  {{ _classes( nav_depth, '-link__has-children' ) if nav_children | count > 0 else '' }}
                  {{ _classes( nav_depth, '-link__current' ) if nav_url == request.path else '' }}"
           {{ '' if nav_url == '' else 'href=' + nav_url | e }}
           {{ 'data-js-hook=flyout-menu_trigger' if nav_children | count > 0 else '' }}>
            {{ nav_caption }}
        </a>
        {% if nav_children | count > 0 %}
            {{ _nav( nav_depth | int + 1, nav_children, nav_caption ~ ' Overview', nav_url, vars.media_items ) }}
        {% endif %}
    </li>
    {%- endfor %}
</ul>
{%- endfor %}
{% endmacro %}

{# ==========================================================================

   _nav()

   ==========================================================================

   Description:

   Creates menu content markup when given:

   nav_depth:        Level of menu nesting. 1 equals the root menu.

   nav_items:        An array of tuples containing menu link info.

   nav_overview:     A string used for a sub nav overview title.

   nav_overview_url: A string used for a sub nav overview title URL.

   media_items:      A tuple of strings composed of HTML markup.

   ========================================================================== #}

{% macro _nav( nav_depth, nav_items, nav_overview, nav_overview_url, media_items ) %}
<div class="{{ _classes( nav_depth ) }}
            u-hidden-overflow"
     aria-expanded="false"
     data-js-hook="flyout-menu_content">

    <div class="{{ _classes( nav_depth, '-wrapper' ) }}">
        {{ '<div class="wrapper">' | safe if nav_depth > 1 else '' }}
            {# Open wrapper if needed #}
            {% if nav_depth > 1 %}
            <button class="{{ _classes( nav_depth, '-alt-trigger' ) }}"
                    data-js-hook="flyout-menu_alt-trigger">
                Back
            </button>
            {% endif %}
            <div class="{{ _classes( nav_depth, '-grid' ) }}">
                {% if nav_depth > 1 %}
                <span class="{{ _classes( nav_depth, '-overview' ) }}">
                    {# TODO: Remove the check for '#' when real overview pages
                             are added for the Consumer Resources and Education
                             pages. #}
                    {% if nav_overview_url and nav_overview_url != '#' %}
                    <a class="{{ _classes( nav_depth, '-overview-link' ) }}
                              {{ _classes( nav_depth, '-overview-link__current' ) if nav_overview_url == request.path else '' }}"
                       {{ '' if nav_overview_url == request.path else 'href=' + nav_overview_url | e }}>
                        {{ nav_overview }}
                    </a>
                    {% endif %}
                </span>
                {% endif %}
                <div class="{{ _classes( nav_depth, '-lists' ) }}">
                    {{ _nav_list( nav_depth, nav_items ) }}
                </div>
            </div>
            {% for url, fmc in media_items %}
            {% if url == nav_overview_url %}
            <aside class="sub-nav_media">
                {{ fmc }}
            </aside>
            {% endif %}
            {% endfor %}
        {# Close Wrapper if needed #}
        {{ '</div>' | safe if nav_depth > 1 else '' }}
    </div>

    {% if nav_depth == 1 %}
    {% import 'molecules/global-eyebrow.html' as global_eyebrow with context %}
    {{ global_eyebrow.render() }}
    {% endif %}

</div>
{% endmacro %}

{# ==========================================================================

   Mega Menu

   ==========================================================================

   Description:

   Creates a mega menu primary navigation menu.

   ========================================================================== #}
<nav class="{{ base_class }}
            u-hidden"
     data-js-hook="flyout-menu"
     aria-label="main navigation"
     role="navigation">
    <button class="{{ base_class ~ '_trigger' }}" data-js-hook="flyout-menu_trigger">
        <span class="u-visually-hidden">Menu</span>
    </button>
    {# Create a root menu at depth one.
       This is the 1st level of a 3-level menu. #}
    {{ _nav( 1, vars.nav_items ) }}
    <button class="{{ base_class ~ '_tab-trigger' }}" aria-hidden="true"></button>
</nav>
