{# ==========================================================================

   Mortgage Chart

   ==========================================================================

   Description:

   Create a mortgage chart organism with data.
   See [GHE]/flapjack/Modules-V1/wiki/Mortgage-Chart

   ========================================================================== #}
{% set csv_meta = download_files[thru_month][delinquency] %}
{% set county_meta = csv_meta['County'] %}
{% set metro_meta = csv_meta['MetroArea'] %}
{% set state_meta = csv_meta['State'] %}

<div class="o-full-width-text-group" id="mp-line-chart-container" data-chart-time-span="{{ time_frame }}" data-chart-start-date="{{ sampling_dates|first }}" data-chart-end-date="{{ sampling_dates|last }}">
    <div class="m-full-width-text">
        <div class="block
                block__flush-top
                block__flush-bottom
                block__padded-bottom">
        {{ value.content_block|safe }}
        </div>
        <h3 class="u-mb30">Filter by location to display trends</h3>
        <form class="content-l u-mb45" id="mp-line-chart-controls" name="mp-line-chart-controls">
            <div id="mp-chart-loading" class="mp-loading"></div>
            <fieldset class="content-l_col content-l_col-1-2">
                <label class="a-label" for="mp-line-chart-geo"><h4>Select location type</h4></label>
                <div class="m-form-field m-form-field__radio" id="mp-line-chart-geo">
                    <div class="m-form-field m-form-field__radio u-mb10">
                        <input class="a-radio" id="mp-line-chart_geo-nation" name="mp-line-chart_geo" type="radio" checked="checked"> <label class="a-label" for="mp-line-chart_geo-nation">Nation</label>
                    </div>
                    <div class="m-form-field m-form-field__radio u-mb10">
                        <input class="a-radio" id="mp-line-chart_geo-state" name="mp-line-chart_geo" type="radio"> <label class="a-label" for="mp-line-chart_geo-state">State</label>
                    </div>
                    <div class="m-form-field m-form-field__radio u-mb10">
                        <input class="a-radio" id="mp-line-chart_geo-metro" name="mp-line-chart_geo" type="radio"> <label class="a-label" for="mp-line-chart_geo-metro">Metro area</label>
                    </div>
                    <div class="m-form-field m-form-field__radio u-mb10">
                        <input class="a-radio" id="mp-line-chart_geo-non-metro" name="mp-line-chart_geo" type="radio"> <label class="a-label" for="mp-line-chart_geo-non-metro">Non-metro area by state</label>
                    </div>
                    <div class="m-form-field m-form-field__radio">
                        <input class="a-radio" id="mp-line-chart_geo-county" name="mp-line-chart_geo" type="radio"> <label class="a-label" for="mp-line-chart_geo-county">County</label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="content-l_col content-l_col-1-2">
                <div class="m-form-field m-form-field__select mp-line-chart-select-container u-mb30" id="mp-line-chart-state-container" style="display:none">
                    <label class="a-label" for="mp-line-chart-state"><h4 id="mp-state-dropdown-title">Select state</h4></label>
                    <div class="a-select">
                        <select id="mp-line-chart-state">
                            <option value="01" data-abbr="AL">Alabama</option>
                            <option value="02" data-abbr="AK">Alaska</option>
                            <option value="04" data-abbr="AZ">Arizona</option>
                            <option value="05" data-abbr="AR">Arkansas</option>
                            <option value="06" data-abbr="CA">California</option>
                            <option value="08" data-abbr="CO">Colorado</option>
                            <option value="09" data-abbr="CT">Connecticut</option>
                            <option value="10" data-abbr="DE">Delaware</option>
                            <option value="11" data-abbr="DC">District of Columbia</option>
                            <option value="12" data-abbr="FL">Florida</option>
                            <option value="13" data-abbr="GA">Georgia</option>
                            <option value="15" data-abbr="HI">Hawaii</option>
                            <option value="16" data-abbr="ID">Idaho</option>
                            <option value="17" data-abbr="IL">Illinois</option>
                            <option value="18" data-abbr="IN">Indiana</option>
                            <option value="19" data-abbr="IA">Iowa</option>
                            <option value="20" data-abbr="KS">Kansas</option>
                            <option value="21" data-abbr="KY">Kentucky</option>
                            <option value="22" data-abbr="LA">Louisiana</option>
                            <option value="23" data-abbr="ME">Maine</option>
                            <option value="24" data-abbr="MD">Maryland</option>
                            <option value="25" data-abbr="MA">Massachusetts</option>
                            <option value="26" data-abbr="MI">Michigan</option>
                            <option value="27" data-abbr="MN">Minnesota</option>
                            <option value="28" data-abbr="MS">Mississippi</option>
                            <option value="29" data-abbr="MO">Missouri</option>
                            <option value="30" data-abbr="MT">Montana</option>
                            <option value="31" data-abbr="NE">Nebraska</option>
                            <option value="32" data-abbr="NV">Nevada</option>
                            <option value="33" data-abbr="NH">New Hampshire</option>
                            <option value="34" data-abbr="NJ">New Jersey</option>
                            <option value="35" data-abbr="NM">New Mexico</option>
                            <option value="36" data-abbr="NY">New York</option>
                            <option value="37" data-abbr="NC">North Carolina</option>
                            <option value="38" data-abbr="ND">North Dakota</option>
                            <option value="39" data-abbr="OH">Ohio</option>
                            <option value="40" data-abbr="OK">Oklahoma</option>
                            <option value="41" data-abbr="OR">Oregon</option>
                            <option value="42" data-abbr="PA">Pennsylvania</option>
                            <option value="44" data-abbr="RI">Rhode Island</option>
                            <option value="45" data-abbr="SC">South Carolina</option>
                            <option value="46" data-abbr="SD">South Dakota</option>
                            <option value="47" data-abbr="TN">Tennessee</option>
                            <option value="48" data-abbr="TX">Texas</option>
                            <option value="49" data-abbr="UT">Utah</option>
                            <option value="50" data-abbr="VT">Vermont</option>
                            <option value="51" data-abbr="VA">Virginia</option>
                            <option value="53" data-abbr="WA">Washington</option>
                            <option value="54" data-abbr="WV">West Virginia</option>
                            <option value="55" data-abbr="WI">Wisconsin</option>
                            <option value="56" data-abbr="WY">Wyoming</option>
                        </select>
                    </div>
                    <p class="m-field-helper-text u-mt15" id="mp-state-metro-helper-text" style="display:none">
                      Some metro areas cover multiple states. States are only
                      listed if they have at least one metro area with
                      sufficient data.
                    </p>
                    <p class="m-field-helper-text u-mt15" id="mp-state-non-metro-helper-text" style="display:none">
                      States are only listed if their non-metro area has sufficient data.
                    </p>
                </div>
                <div class="m-form-field m-form-field__select mp-line-chart-select-container" id="mp-line-chart-metro-container" style="display:none">
                    <label class="a-label" for="mp-line-chart-metro"><h4>Select metro area</h4></label>
                    <div class="a-select">
                        <select id="mp-line-chart-metro">
                          <option value="">
                          </option>
                        </select>
                    </div>
                    <p class="m-field-helper-text u-mt15">
                      Metro areas with insufficient data not shown. <a
                      href="/data-research/mortgage-performance-trends/about-the-data/#anchor_why-some-counties-are-unavailable"
                      target="_blank" rel="noopener">Learn why.</a>
                    </p>
                </div>
                <div class="m-form-field m-form-field__select mp-line-chart-select-container u-mb30" id="mp-line-chart-county-container" style="display:none">
                    <label class="a-label" for="mp-line-chart-county"><h4>Select county</h4></label>
                    <div class="a-select">
                        <select id="mp-line-chart-county">
                            <option value="">
                            </option>
                        </select>
                    </div>
                    <p class="m-field-helper-text u-mt15">
                      Counties with insufficient data not shown. <a
                      href="/data-research/mortgage-performance-trends/about-the-data/#anchor_why-some-counties-are-unavailable"
                      target="_blank" rel="noopener">Learn why.</a>
                    </p>
                </div>
                <div class="m-form-field m-form-field__checkbox u-mt20" id="mp-line-chart-compare-container" style="display:none">
                    <input class="a-checkbox" id="mp-line-chart-compare" type="checkbox" id="test_checkbox" checked="checked">
                    <label class="a-label" for="mp-line-chart-compare">Compare to national average</label>
                </div>
            </fieldset>
        </form>
        <h3 id="mp-line-chart-title">Percentage of mortgages {{ time_frame }} {% if time_frame == '90' %} or more {% endif %} days delinquent:<br/>
            <span id="mp-line-chart-title-status">
                <strong><span id="mp-line-chart-title-status-geo">national average</span></strong><span id="mp-line-chart-title-status-comparison"> versus <strong>national average</strong></span></span>, {{ from_month_formatted|safe }}-{{ thru_month_formatted|safe }}
        </h2>
    </div>
    <div class="cfpb-chart" data-chart-ignore="true" data-chart-color="blue" data-chart-type="line-comparison" id="mp-line-chart">
        {{ value.description }}
    </div>
    <p class="m-chart-footnote block__sub block__border-top block short-desc">
    <strong>Source:</strong> National Mortgage Database<br>
    <strong>Date published:</strong> {{ pub_date_formatted }}<br>
    <strong>Downloads:</strong> CSV files with data by <a class="icon-link icon-link__download" href="{{ state_meta['url'] }}" <span class="icon-link_text">state</span></a> ({{ state_meta['size'] }}), <a class="icon-link icon-link__download" href="{{ metro_meta['url'] }}" <span class="icon-link_text">metro and non-metro areas</span></a> ({{ metro_meta['size'] }}), or <a class="icon-link icon-link__download" href="{{ county_meta['url'] }}"><span class="icon-link_text">county</span></a> ({{ county_meta['size'] }}).<br>
    {% if value.note %}<strong>Note:</strong> {{ value.note }}<br>{% endif %}
    </p>
</div>
