{# ==========================================================================

   Mortgage Map

   ==========================================================================

   Description:

   Create a mortgage chart organism using map markup.
   See [GHE]/flapjack/Modules-V1/wiki/Mortgage-Map

   ========================================================================== #}
{% set csv_meta = download_files[thru_month][delinquency] %}
{% set county_meta = csv_meta['County'] %}
{% set metro_meta = csv_meta['MetroArea'] %}
{% set state_meta = csv_meta['State'] %}

<div class="o-full-width-text-group" id="mp-map-container" data-chart-time-span="{{ time_frame }}">
    <div class="m-full-width-text">
        <form id="mp-map-controls" name="mp-map-controls" class="mp-controls">
            <div id="mp-map-loading" class="mp-loading"></div>
            <fieldset class="content-l_col content-l_col-1-2" style="margin-left:0;padding-left:1px;border:0;">
                <label class="a-label u-mb20" for="test_select"><strong>Select location type</strong></label>
                <div class="m-form-field m-form-field__radio" id="mp-map-geo">
                    <div class="m-form-field m-form-field__radio u-mb10">
                        <input class="a-radio" id="mp-map_geo-state" name="mp-map_geo" type="radio" checked="checked"> <label class="a-label" for="mp-map_geo-state">States</label>
                    </div>
                    <div class="m-form-field m-form-field__radio u-mb10">
                        <input class="a-radio" id="mp-map_geo-metro" name="mp-map_geo" type="radio"> <label class="a-label" for="mp-map_geo-metro">Metro areas</label>
                    </div>
                    <div class="m-form-field m-form-field__radio u-mb10">
                        <input class="a-radio" id="mp-map_geo-county" name="mp-map_geo" type="radio"> <label class="a-label" for="mp-map_geo-county">Counties</label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="content-l_col content-l_col-1-2" style="margin-left:0;padding-left:0;border:0;">
                <div class="m-form-field m-form-field__select mp-map-select-container" id="mp-map-metro-container" style="display:none">
                    <label class="a-label" for="mp-map-metro">Select a metro area</label>
                    <div class="a-select">
                        <select id="mp-map-metro">
                            <option value="" selected> </option>
                            <option value="10420">Akron, OH</option>
                            <option value="10580">Albany-Schenectady-Troy, NY</option>
                            <option value="10740">Albuquerque, NM</option>
                            <option value="10900">Allentown-Bethlehem-Easton, PA-NJ</option>
                            <option value="11260">Anchorage, AK</option>
                            <option value="11460">Ann Arbor, MI</option>
                            <option value="11700">Asheville, NC</option>
                            <option value="12060">Atlanta-Sandy Springs-Roswell, GA</option>
                            <option value="12100">Atlantic City-Hammonton, NJ</option>
                            <option value="12220">Auburn-Opelika, AL</option>
                            <option value="12260">Augusta-Richmond County, GA-SC</option>
                            <option value="12420">Austin-Round Rock, TX</option>
                            <option value="12540">Bakersfield, CA</option>
                            <option value="12580">Baltimore-Columbia-Towson, MD</option>
                            <option value="12620">Bangor, ME</option>
                            <option value="12700">Barnstable Town, MA</option>
                            <option value="12940">Baton Rouge, LA</option>
                            <option value="13380">Bellingham, WA</option>
                            <option value="13460">Bend-Redmond, OR</option>
                            <option value="13780">Binghamton, NY</option>
                            <option value="13820">Birmingham-Hoover, AL</option>
                            <option value="14260">Boise City, ID</option>
                            <option value="14460">Boston-Cambridge-Newton, MA-NH</option>
                            <option value="14500">Boulder, CO</option>
                            <option value="14740">Bremerton-Silverdale, WA</option>
                            <option value="14860">Bridgeport-Stamford-Norwalk, CT</option>
                            <option value="15180">Brownsville-Harlingen, TX</option>
                            <option value="15380">Buffalo-Cheektowaga-Niagara Falls, NY</option>
                            <option value="15500">Burlington, NC</option>
                            <option value="15540">Burlington-South Burlington, VT</option>
                            <option value="15680">California-Lexington Park, MD</option>
                            <option value="15980">Cape Coral-Fort Myers, FL</option>
                            <option value="16540">Chambersburg-Waynesboro, PA</option>
                            <option value="16580">Champaign-Urbana, IL</option>
                            <option value="16700">Charleston-North Charleston, SC</option>
                            <option value="16740">Charlotte-Concord-Gastonia, NC-SC</option>
                            <option value="16860">Chattanooga, TN-GA</option>
                            <option value="16980">Chicago-Naperville-Elgin, IL-IN-WI</option>
                            <option value="17020">Chico, CA</option>
                            <option value="17140">Cincinnati, OH-KY-IN</option>
                            <option value="17460">Cleveland-Elyria, OH</option>
                            <option value="17660">Coeur d'Alene, ID</option>
                            <option value="17780">College Station-Bryan, TX</option>
                            <option value="17820">Colorado Springs, CO</option>
                            <option value="17860">Columbia, MO</option>
                            <option value="17900">Columbia, SC</option>
                            <option value="18140">Columbus, OH</option>
                            <option value="18880">Crestview-Fort Walton Beach-Destin, FL</option>
                            <option value="19100">Dallas-Fort Worth-Arlington, TX</option>
                            <option value="19300">Daphne-Fairhope-Foley, AL</option>
                            <option value="19340">Davenport-Moline-Rock Island, IA-IL</option>
                            <option value="19380">Dayton, OH</option>
                            <option value="19660">Deltona-Daytona Beach-Ormond Beach, FL</option>
                            <option value="19740">Denver-Aurora-Lakewood, CO</option>
                            <option value="19780">Des Moines-West Des Moines, IA</option>
                            <option value="19820">Detroit-Warren-Dearborn, MI</option>
                            <option value="20100">Dover, DE</option>
                            <option value="20500">Durham-Chapel Hill, NC</option>
                            <option value="20700">East Stroudsburg, PA</option>
                            <option value="21140">Elkhart-Goshen, IN</option>
                            <option value="21340">El Paso, TX</option>
                            <option value="21500">Erie, PA</option>
                            <option value="21660">Eugene, OR</option>
                            <option value="22180">Fayetteville, NC</option>
                            <option value="22220">Fayetteville-Springdale-Rogers, AR-MO</option>
                            <option value="22420">Flint, MI</option>
                            <option value="22660">Fort Collins, CO</option>
                            <option value="23060">Fort Wayne, IN</option>
                            <option value="23420">Fresno, CA</option>
                            <option value="23540">Gainesville, FL</option>
                            <option value="23580">Gainesville, GA</option>
                            <option value="24300">Grand Junction, CO</option>
                            <option value="24340">Grand Rapids-Wyoming, MI</option>
                            <option value="24540">Greeley, CO</option>
                            <option value="24580">Green Bay, WI</option>
                            <option value="24660">Greensboro-High Point, NC</option>
                            <option value="24780">Greenville, NC</option>
                            <option value="24860">Greenville-Anderson-Mauldin, SC</option>
                            <option value="25180">Hagerstown-Martinsburg, MD-WV</option>
                            <option value="25420">Harrisburg-Carlisle, PA</option>
                            <option value="25540">Hartford-West Hartford-East Hartford, CT</option>
                            <option value="25940">Hilton Head Island-Bluffton-Beaufort, SC</option>
                            <option value="26420">Houston-The Woodlands-Sugar Land, TX</option>
                            <option value="26620">Huntsville, AL</option>
                            <option value="26900">Indianapolis-Carmel-Anderson, IN</option>
                            <option value="26980">Iowa City, IA</option>
                            <option value="27100">Jackson, MI</option>
                            <option value="27140">Jackson, MS</option>
                            <option value="27260">Jacksonville, FL</option>
                            <option value="27340">Jacksonville, NC</option>
                            <option value="27500">Janesville-Beloit, WI</option>
                            <option value="28020">Kalamazoo-Portage, MI</option>
                            <option value="28140">Kansas City, MO-KS</option>
                            <option value="28420">Kennewick-Richland, WA</option>
                            <option value="28660">Killeen-Temple, TX</option>
                            <option value="28740">Kingston, NY</option>
                            <option value="28940">Knoxville, TN</option>
                            <option value="29180">Lafayette, LA</option>
                            <option value="29340">Lake Charles, LA</option>
                            <option value="29420">Lake Havasu City-Kingman, AZ</option>
                            <option value="29460">Lakeland-Winter Haven, FL</option>
                            <option value="29540">Lancaster, PA</option>
                            <option value="29620">Lansing-East Lansing, MI</option>
                            <option value="29700">Laredo, TX</option>
                            <option value="29740">Las Cruces, NM</option>
                            <option value="29820">Las Vegas-Henderson-Paradise, NV</option>
                            <option value="30460">Lexington-Fayette, KY</option>
                            <option value="30700">Lincoln, NE</option>
                            <option value="30780">Little Rock-North Little Rock-Conway, AR</option>
                            <option value="31080">Los Angeles-Long Beach-Anaheim, CA</option>
                            <option value="31140">Louisville/Jefferson County, KY-IN</option>
                            <option value="31540">Madison, WI</option>
                            <option value="31700">Manchester-Nashua, NH</option>
                            <option value="32580">McAllen-Edinburg-Mission, TX</option>
                            <option value="32780">Medford, OR</option>
                            <option value="32820">Memphis, TN-MS-AR</option>
                            <option value="32900">Merced, CA</option>
                            <option value="33100">Miami-Fort Lauderdale-West Palm Beach, FL</option>
                            <option value="33340">Milwaukee-Waukesha-West Allis, WI</option>
                            <option value="33460">Minneapolis-St. Paul-Bloomington, MN-WI</option>
                            <option value="33660">Mobile, AL</option>
                            <option value="33700">Modesto, CA</option>
                            <option value="33780">Monroe, MI</option>
                            <option value="33860">Montgomery, AL</option>
                            <option value="34740">Muskegon, MI</option>
                            <option value="34820">Myrtle Beach-Conway-North Myrtle Beach, SC-NC</option>
                            <option value="34900">Napa, CA</option>
                            <option value="34940">Naples-Immokalee-Marco Island, FL</option>
                            <option value="34980">Nashville-Davidson--Murfreesboro--Franklin, TN</option>
                            <option value="35300">New Haven-Milford, CT</option>
                            <option value="35380">New Orleans-Metairie, LA</option>
                            <option value="35620">New York-Newark-Jersey City, NY-NJ-PA</option>
                            <option value="35660">Niles-Benton Harbor, MI</option>
                            <option value="35840">North Port-Sarasota-Bradenton, FL</option>
                            <option value="35980">Norwich-New London, CT</option>
                            <option value="36100">Ocala, FL</option>
                            <option value="36140">Ocean City, NJ</option>
                            <option value="36260">Ogden-Clearfield, UT</option>
                            <option value="36420">Oklahoma City, OK</option>
                            <option value="36500">Olympia-Tumwater, WA</option>
                            <option value="36540">Omaha-Council Bluffs, NE-IA</option>
                            <option value="36740">Orlando-Kissimmee-Sanford, FL</option>
                            <option value="36780">Oshkosh-Neenah, WI</option>
                            <option value="37100">Oxnard-Thousand Oaks-Ventura, CA</option>
                            <option value="37340">Palm Bay-Melbourne-Titusville, FL</option>
                            <option value="37460">Panama City, FL</option>
                            <option value="37860">Pensacola-Ferry Pass-Brent, FL</option>
                            <option value="37980">Philadelphia-Camden-Wilmington, PA-NJ-DE-MD</option>
                            <option value="38060">Phoenix-Mesa-Scottsdale, AZ</option>
                            <option value="38300">Pittsburgh, PA</option>
                            <option value="38340">Pittsfield, MA</option>
                            <option value="38860">Portland-South Portland, ME</option>
                            <option value="38900">Portland-Vancouver-Hillsboro, OR-WA</option>
                            <option value="38940">Port St. Lucie, FL</option>
                            <option value="39140">Prescott, AZ</option>
                            <option value="39300">Providence-Warwick, RI-MA</option>
                            <option value="39340">Provo-Orem, UT</option>
                            <option value="39380">Pueblo, CO</option>
                            <option value="39460">Punta Gorda, FL</option>
                            <option value="39540">Racine, WI</option>
                            <option value="39580">Raleigh, NC</option>
                            <option value="39740">Reading, PA</option>
                            <option value="39820">Redding, CA</option>
                            <option value="40060">Richmond, VA</option>
                            <option value="40140">Riverside-San Bernardino-Ontario, CA</option>
                            <option value="40380">Rochester, NY</option>
                            <option value="40420">Rockford, IL</option>
                            <option value="40900">Sacramento--Roseville--Arden-Arcade, CA</option>
                            <option value="40980">Saginaw, MI</option>
                            <option value="41100">St. George, UT</option>
                            <option value="41180">St. Louis, MO-IL</option>
                            <option value="41420">Salem, OR</option>
                            <option value="41500">Salinas, CA</option>
                            <option value="41540">Salisbury, MD-DE</option>
                            <option value="41620">Salt Lake City, UT</option>
                            <option value="41700">San Antonio-New Braunfels, TX</option>
                            <option value="41740">San Diego-Carlsbad, CA</option>
                            <option value="41860">San Francisco-Oakland-Hayward, CA</option>
                            <option value="41940">San Jose-Sunnyvale-Santa Clara, CA</option>
                            <option value="42020">San Luis Obispo-Paso Robles-Arroyo Grande, CA</option>
                            <option value="42100">Santa Cruz-Watsonville, CA</option>
                            <option value="42140">Santa Fe, NM</option>
                            <option value="42200">Santa Maria-Santa Barbara, CA</option>
                            <option value="42220">Santa Rosa, CA</option>
                            <option value="42340">Savannah, GA</option>
                            <option value="42540">Scranton--Wilkes-Barre--Hazleton, PA</option>
                            <option value="42660">Seattle-Tacoma-Bellevue, WA</option>
                            <option value="42680">Sebastian-Vero Beach, FL</option>
                            <option value="43340">Shreveport-Bossier City, LA</option>
                            <option value="43780">South Bend-Mishawaka, IN-MI</option>
                            <option value="43900">Spartanburg, SC</option>
                            <option value="44060">Spokane-Spokane Valley, WA</option>
                            <option value="44140">Springfield, MA</option>
                            <option value="44180">Springfield, MO</option>
                            <option value="44700">Stockton-Lodi, CA</option>
                            <option value="45060">Syracuse, NY</option>
                            <option value="45300">Tampa-St. Petersburg-Clearwater, FL</option>
                            <option value="45780">Toledo, OH</option>
                            <option value="45940">Trenton, NJ</option>
                            <option value="46060">Tucson, AZ</option>
                            <option value="46140">Tulsa, OK</option>
                            <option value="46340">Tyler, TX</option>
                            <option value="46520">Urban Honolulu, HI</option>
                            <option value="46700">Vallejo-Fairfield, CA</option>
                            <option value="47260">Virginia Beach-Norfolk-Newport News, VA-NC</option>
                            <option value="47300">Visalia-Porterville, CA</option>
                            <option value="47580">Warner Robins, GA</option>
                            <option value="47900">Washington-Arlington-Alexandria, DC-VA-MD-WV</option>
                            <option value="48620">Wichita, KS</option>
                            <option value="48900">Wilmington, NC</option>
                            <option value="49180">Winston-Salem, NC</option>
                            <option value="49340">Worcester, MA-CT</option>
                            <option value="49420">Yakima, WA</option>
                            <option value="49620">York-Hanover, PA</option>
                            <option value="49660">Youngstown-Warren-Boardman, OH-PA</option>
                            <option value="49740">Yuma, AZ</option>
                        </select>
                    </div>
                </div>
                <div class="m-form-field m-form-field__select mp-map-select-container" id="mp-map-state-container">
                    <label class="a-label" for="mp-map-state">State</label>
                    <div class="a-select">
                        <select id="mp-map-state">
                            <option value="" selected> </option>
                            <option value="01" data-abbr="AL">Alabama</option>
                            <option value="02" data-abbr="AK">Alaska</option>
                            <option value="04" data-abbr="AZ">Arizona</option>
                            <option value="05" data-abbr="AR">Arkansas</option>
                            <option value="06" data-abbr="CA">California</option>
                            <option value="08" data-abbr="CO">Colorado</option>
                            <option value="09" data-abbr="CT">Connecticut</option>
                            <option value="10" data-abbr="DE">Delaware</option>
                            <option value="11" data-abbr="DC">District of Columbia</option>
                            <option value="12" data-abbr="FL">Florida</option>
                            <option value="13" data-abbr="GA">Georgia</option>
                            <option value="15" data-abbr="HI">Hawaii</option>
                            <option value="16" data-abbr="ID">Idaho</option>
                            <option value="17" data-abbr="IL">Illinois</option>
                            <option value="18" data-abbr="IN">Indiana</option>
                            <option value="19" data-abbr="IA">Iowa</option>
                            <option value="20" data-abbr="KS">Kansas</option>
                            <option value="21" data-abbr="KY">Kentucky</option>
                            <option value="22" data-abbr="LA">Louisiana</option>
                            <option value="23" data-abbr="ME">Maine</option>
                            <option value="24" data-abbr="MD">Maryland</option>
                            <option value="25" data-abbr="MA">Massachusetts</option>
                            <option value="26" data-abbr="MI">Michigan</option>
                            <option value="27" data-abbr="MN">Minnesota</option>
                            <option value="28" data-abbr="MS">Mississippi</option>
                            <option value="29" data-abbr="MO">Missouri</option>
                            <option value="30" data-abbr="MT">Montana</option>
                            <option value="31" data-abbr="NE">Nebraska</option>
                            <option value="32" data-abbr="NV">Nevada</option>
                            <option value="33" data-abbr="NH">New Hampshire</option>
                            <option value="34" data-abbr="NJ">New Jersey</option>
                            <option value="35" data-abbr="NM">New Mexico</option>
                            <option value="36" data-abbr="NY">New York</option>
                            <option value="37" data-abbr="NC">North Carolina</option>
                            <option value="38" data-abbr="ND">North Dakota</option>
                            <option value="39" data-abbr="OH">Ohio</option>
                            <option value="40" data-abbr="OK">Oklahoma</option>
                            <option value="41" data-abbr="OR">Oregon</option>
                            <option value="42" data-abbr="PA">Pennsylvania</option>
                            <option value="44" data-abbr="RI">Rhode Island</option>
                            <option value="45" data-abbr="SC">South Carolina</option>
                            <option value="46" data-abbr="SD">South Dakota</option>
                            <option value="47" data-abbr="TN">Tennessee</option>
                            <option value="48" data-abbr="TX">Texas</option>
                            <option value="49" data-abbr="UT">Utah</option>
                            <option value="50" data-abbr="VT">Vermont</option>
                            <option value="51" data-abbr="VA">Virginia</option>
                            <option value="53" data-abbr="WA">Washington</option>
                            <option value="54" data-abbr="WV">West Virginia</option>
                            <option value="55" data-abbr="WI">Wisconsin</option>
                            <option value="56" data-abbr="WY">Wyoming</option>
                        </select>
                    </div>
                </div>
                <div class="m-form-field m-form-field__select mp-map-select-container" id="mp-map-county-container" style="display:none">
                    <label class="a-label" for="mp-map-county">Select from available counties</label>
                    <div class="a-select">
                        <select id="mp-map-county" disabled>
                            <option value="" selected> </option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="content-l_col content-l_col-1-2" style="margin-left:0;padding-left:0;border:0;">
                <label class="a-label u-mb20"><strong>Select month and year to display</strong></label>
                <div class="m-form-field m-form-field__select" id="mp-map-month-container">
                    <label class="a-label" for="mp-map-month">Month</label>
                    <div class="a-select">
                        <select id="mp-map-month">
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="content-l_col content-l_col-1-2" style="margin-left:0;padding-left:0;border:0;">
                <label class="a-label u-mb20">&nbsp;</label>
                <div class="m-form-field m-form-field__select" id="mp-map-year-container">
                    <label class="a-label" for="mp-map-year">Year</label>
                    <div class="a-select">
                        <select id="mp-map-year">
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
        <h2 id="mp-map-title">Percentage of mortgages 30-89 days delinquent: <span id="mp-map-title-date">January 2008</span></h2>
    </div>
    <img src="https://i.imgur.com/3AyyOQN.png" alt="">
    <div data-chart-color="green" data-chart-description="{{ value.description }}" data-chart-source="mortgage-performance/map/states-2009-01.json" data-chart-metadata="states" data-chart-title="MP test" data-chart-type="geo-map" id="mp-map">
        This is the chart description.
    </div>
    <p class="m-chart-footnote block__sub block__border-top block short-desc" style="font-size:14px !important"><strong>Source:</strong> Download CSV files with <a class="icon-link icon-link__download" href="{{ state_meta['url'] }}" <span class="icon-link_text">state</span></a> ({{ state_meta['size'] }}), <a class="icon-link icon-link__download" href="{{ metro_meta['url'] }}" <span class="icon-link_text">metro area</span></a> ({{ metro_meta['size'] }}), or <a class="icon-link icon-link__download" href="{{ county_meta['url'] }}" <span class="icon-link_text">county</span></a> ({{ county_meta['size'] }})  data.<br>
        <strong>Date published:</strong> {{ pub_date_formatted }}<br>
        <strong>Note:</strong> Data from the last six months are not final. The most recent data available in each visualization is for {{ thru_month_formatted }}.
    </p>
</div>
