{# ==========================================================================

   reg_comment.render()

   ==========================================================================

   Description:

   Creates an Regulations.gov comment form when given:

   value:               An object used to customize the markup.

   value.document_id:   Federal Register document ID number to which
                        the comment should be submitted.
                        Should follow this format: `CFPB-FRDOC_####-####`.

   value.id:            (optional) Sets the id attribute in the form's markup.
                        If not set, the form will be assigned a base id of
                        `o-reg-comment_` with a random number appended.

   ========================================================================== #}

<div class="o-reg-comment">
    <form id="{{ value.id or ('o-reg-comment_' ~ range(1, 100) | random) }}"
          action="/regulation-comment/new/"
          method="POST"
          enctype="multipart/form-data">
        <label for="general_comment">
            Enter your comments
        </label>
        <textarea name="general_comment" rows="5" required></textarea>

        <p class="u-mb30">
            If you would like to include an attachment with your response,
            please submit your comment at
            <a class="icon-link icon-link__external-link"
               href="https://www.regulations.gov/">
                <span class="icon-link_text">Regulations.gov</span>
            </a>.
        </p>

        <label for="first_name">
            First name
            <span class="label_note">(optional)</span>
        </label>
        <input type="text" id="first_name" name="first_name">

        <label for="last_name">
            Last name
            <span class="label_note">(optional)</span>
        </label>
        <input type="text" id="last_name" name="last_name">

        <label for="email">
            Email address
            <span class="label_note">(optional)</span>
        </label>
        <input type="email" id="email" name="email"
               placeholder="example@mail.com">

        <p>
            <strong>Sensitive personal information, such as account numbers or
            Social Security numbers, should not be included.</strong>
            Your comments will become part of the public record and posted to
            <a class="icon-link icon-link__external-link"
               href="https://www.regulations.gov/">
            <span class="icon-link_text">Regulations.gov</span>
            </a>.
            Comments generally will not be edited to remove any
            identifying or contact information.
        </p>

        <input class="btn btn__full" type="submit" value="Submit your feedback">

        <input type="hidden" name="comment_on" value="{{ value.document_id }}">
    </form>
</div>
