{# ==========================================================================

   searchbar.render()

   ==========================================================================

   Description:

   Create a search form bar when given:

   value:                     An object used to customize the markup.

   value.label:               Label for the search form.

   value.action:              Form action.

   value.additional_classes   Additional classes for the search bar.

   value.autocomplete         Whether autocomplete will be activated for search.

   value.q                    The previous search query string

   value.label_tag            Label tag (defaults to h4) 

   ========================================================================== #}

{% macro render( value ) %}

<aside class="o-search-bar
              {{ value.additional_classes }}">
    <form method="get" action="{{ value.action }}">
        {% if value.label %}
        <label for="o-search-bar_query">
            {{ value.label | safe }}
        </label>
        {% endif %}
        <div class="o-search-bar_input">
            <div class="input-with-btn input-with-btn__bar">
                <div class="input-with-btn_input 
                            {{ 'm-autocomplete' if value.autocomplete else ''}}"
                      data-language="{{ value.language }}">
                    <input class="a-text-input" type="text" name="q" id="o-search-bar_query" value="{{ value.q }}">
                </div>
                <div class="input-with-btn_btn">
                    <button class="a-btn" id="btnSearch" type="submit">
                        {{ value.button_text if value.button_text else 'Search' }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</aside>

{% endmacro %}
