{# ==========================================================================

   searchbar.render()

   ==========================================================================

   Description:

   Create a search form bar when given:

   value:                     An object used to customize the markup.

   value.position:            The location of the bar on the page:
                                left: in a main section with a right sidebar
                                right: in a main section with a left nav sidebar
                                full: in a full-width page.

   value.label:               Label for the search form.

   value.action:              Form action.

   value.additional_classes   Additional classes for the search bar.

   value.autocomplete         Whether autocomplete will be activated for search.

   value.q                    The previous search query string

   ========================================================================== #}

{% macro render( value ) %}

<aside class="o-search-bar
              block
              block__bg
              {% if value.position == 'full' %}
                o-search-bar__full
              {% else %}
                o-search-bar__with-sidebar
                block__flush-sides
                block__bg-extend-{{ value.position }}
              {% endif %}
              {{ value.additional_classes }}">
    <form method="get" action="{{ value.action }}" class="content-l">
        {% if value.label %}
        <label for="o-search-bar_query" class="o-search-bar_label o-search-bar_col">
            <h4 class="u-mb0">
                {{ value.label | safe }}
            </h4>
        </label>
        {% endif %}
        <div class="o-search-bar_input o-search-bar_col">
            <div class="input-with-btn input-with-btn__bar">
                <div class="input-with-btn_input 
                            {{ 'm-autocomplete' if value.autocomplete else ''}}"
                      data-language="{{value.language}}">
                    <input class="a-text-input" type="text" name="q" id="o-search-bar_query" value="{{ value.q }}">
                </div>
                <div class="input-with-btn_btn">
                    <button class="a-btn" name="btnSearch" id="btnSearch" type="submit">
                        {{ value.button_text if value.button_text else 'Search' }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</aside>

{% endmacro %}
