{# ==========================================================================

  secondary_navigation_fig.render()

  ==========================================================================

  Description:

  Creates markup for a filing instruction guide's secondary navigation.

  version_status:  Optional FIG version status.

  effective_start_date:  FIG effective start date, in the format '%B %d, %Y'.

  effective_end_date:  FIG effective end date, in the format '%B %d, %Y'.

  ========================================================================== #}

{% macro render(version_status=none, effective_start_date=none, effective_end_date=none) %}
<nav class="o-fig_sidebar o-secondary-navigation"
    aria-label="{{ _('Table of contents') }}">
    {% set sec_nav_settings_label = _("Table of contents") %}
    {% set sec_nav_settings_label = sec_nav_settings_label + " (" + _(version_status) + ")" %}
    {% set sec_nav_settings = {
        'label': sec_nav_settings_label,
        'is_midtone': true,
        'is_bordered': false,
        'is_expanded': false
    } %}
    {% set tag_modification = 'dark' if version_status == 'Archived' else 'info'  %}
    <div class="u-hide-on-tablet">
        {% if version_status %}
            <div class="a-tag a-tag__{{ tag_modification }} u-mb20">
                {{ version_status }}
            </div>
            <p>
                Effective {{ effective_start_date }} to {{ effective_end_date }}
            </p>
        {% endif %}
        <h3>Table of contents</h3>
    </div>
    {% from 'organisms/expandable.html' import expandable with context %}
    {% call() expandable(sec_nav_settings) %}
        {% import 'molecules/nav-link.html' as nav_link %}
        <p class="u-hide-on-desktop">
            Effective {{ effective_start_date }} to {{ effective_end_date }}
        </p>
        <ul class="m-list
                 m-list__unstyled
                 o-secondary-navigation_list
                 o-secondary-navigation_list__parents">
            {%- for item in toc_headers %}
            <li class="m-list_item">
                {{ nav_link.render(item.id + ". " + item.header, "#" + item.id, true) }}
                {% if item.children %}
                <ul class="m-list
                           m-list__unstyled
                           o-secondary-navigation_list
                           o-secondary-navigation_list__children">
                    {%- for child in item.children %}
                    <li class="m-list_item">
                        {{ nav_link.render(child.id + ". " + child.header, "#" + child.id, false) }}
                    </li>
                {%- endfor %}
                </ul>
                {% endif %}
            </li>
            {%- endfor %}
        </ul>
    {% endcall %}
</nav>
{% endmacro %}
