{# ==========================================================================

   secondary_navigation.render()

   ==========================================================================

   Description:

   Create secondary navigation markup when given:

   items:              An array of tuples used to display nav items.
                       format: (href, id, text, children)

   active_item_id:     A string indicating the id of the nav item
                       to be activated.

   ========================================================================== #}

{% macro _secondary_navigation(items, active_item_id) %}
{% from 'molecules/nav-link.html' import nav_link as nav_link %}
    <ul class="o-secondary-navigation_list
               o-secondary-navigation_list__parents">
        {%- for item in items %}
            <li>
                {{ nav_link(item.title, item.url, true, item.url == request.url) }}
                {%- for child in item.children -%}
                    <ul class="o-secondary-navigation_list
                               o-secondary-navigation_list__children">
                        <li>
                            {{ nav_link(child.title, child.url, false, child.url == request.url) }}
                        </li>
                    </ul>
                {%- endfor %}
            </li>

        {%- endfor %}
    </ul>
{% endmacro %}

{% set nav_items, has_children = get_secondary_nav_items(page) %}

{# TODO: This should be hidden on tablets as well. #}
<nav class="o-secondary-navigation
            {{ 'u-hide-on-mobile' if not has_children else '' }}"
     aria-label="Section navigation">
    {% set sec_nav_settings = {
        'label': 'In this section',
        'is_bordered': false,
        'is_midtone': true,
        'is_expanded': false
    } %}

    {% from 'molecules/expandable.html' import expandable with context %}
    {% call() expandable(sec_nav_settings) %}
        {{ _secondary_navigation(nav_items, active_nav_id) | safe }}
    {% endcall %}
</nav>
