{# ==========================================================================

   sidenav_toc.render()

   ==========================================================================

   Description:

   Creates markup for sidenav table of contents

   ========================================================================== #}

{% macro render() %}
  {{ _render_secondary_navigation() }}
{% endmacro %}

{# ==========================================================================

   _render_secondary_navigation()

   ========================================================================== #}
{% macro _render_secondary_navigation() %}

<nav class="o-report-sidenav o-secondary-navigation o-secondary-navigation__no-children"
     aria-label="Section navigation">
     {% import 'molecules/nav-link.html' as nav_link %}
      <h3>Table of contents</h3>
      <ul class="m-list">
       {%- for item in get_sections %}
        {% if item.level == 1 %}
        <li class="m-list_item">
          {{ nav_link.render(item.id + " " + item.header, "#" + item.id, true) }}
        </a>
        </li>
        {% elif item.level == 2 %}
        <ul class="m-list">
            <li class="m-list_item">
              {{ nav_link.render(item.id + " " + item.header, "#" + item.id, false) }}
            </li>
        </ul>
        {% endif %}
       {%- endfor %}
      </ul>
</nav>
{% endmacro %}
