{# ==========================================================================

   sidenav_toc.render()

   ==========================================================================

   Description:

   Creates markup for sidenav table of contents

   ========================================================================== #}

{% macro render() %}
  {{ _render_secondary_navigation() }}
{% endmacro %}

{# ==========================================================================

   _render_secondary_navigation()

   ========================================================================== #}
{% macro _render_secondary_navigation() %}
{% if toc_sections is not defined  %}
    {% set toc_sections = get_toc_sections(request, page) %}
{% endif %}

{% if toc_appendices is not defined  %}
    {% set toc_appendices = get_toc_appendices(request, page) %}
{% endif %}

{% set alpha_map = '_ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}

<nav class="o-report-sidenav o-secondary-navigation o-secondary-navigation__no-children"
     aria-label="Section navigation">
      {% import 'molecules/nav-link.html' as nav_link %}
      <h3>Table of Contents</h3>
      <ul class="m-list
                 m-list__unstyled
                 o-secondary-navigation_list
                 o-secondary-navigation_list__parents">
       {%- for item in toc_sections %}
          <li class="m-list_item">
            {{ nav_link.render(loop.index|string + '. ' + item.title, item.url, true) }}
          {% if item.children %}
              <ul class="m-list
                         m-list__unstyled
                         o-secondary-navigation_list
                         o-secondary-navigation_list__children">
              {%- for child in item.children -%}
                  <li class="m-list_item">
                      {{ nav_link.render(child.title, child.url, false) }}
                  </li>
              {%- endfor %}
              </ul>
          {% endif %}
          </li>
      {%- endfor %}
      </ul>
      {% if toc_appendices %}
        <h4>Appendices</h4>
      {% endif %}
      <ul class="m-list
                 m-list__unstyled
                 o-secondary-navigation_list
                 o-secondary-navigation_list__parents
                 o-report-sidenav__appendix">
       {%- for item in toc_appendices %}
          <li class="m-list_item">
            {{ nav_link.render(alpha_map[loop.index] + '. ' + item.title, item.url, true) }}
          {%- if item.children -%}
              <ul class="m-list
                         m-list__unstyled
                         o-secondary-navigation_list
                         o-secondary-navigation_list__children">
              {%- for child in item.children -%}
                  <li class="m-list_item">
                      {{ nav_link.render(child.title, child.url, false) }}
                  </li>
              {%- endfor %}
              </ul>
          {%- endif -%}
          </li>
      {%- endfor %}
      </ul>
</nav>
{% endmacro %}
