{# ==========================================================================

   Sidebar Contact Info

   ==========================================================================

   Description:

   Create a Contact Information Sidebar organism.
   See [GHE]/flapjack/Modules-V1/wiki/Contact-Information-(Sidebar)

   content:                  An object containing sidebar content.
   content.heading:          A string containing a sidebar heading.
   content.body:             A string containing sidebar paragraph content.

   contact:                  An object with contact details.
   contact.emails:           An array containing email addresses.

   contact.phones:           An array containing phone number information.
   contact.phones.number:    A phone number.
   contact.phones.vanity:    An associated vanity phone number.
   contact.phones.tty:       An associated TTY/TDD number.

   contact.faxes:            An object containing fax numbers.
   contact.faxes.number:     A fax number.
   contact.faxes.vanity:     An associated vanity fax number.
   contact.faxes.tty:        An associated TTY/TDD number.
                             This value can be used, but is not applicable.

   contact.address:          An object containing address information.
   contact.address.title:    A string containing an address name.
   contact.address.street:   A string containing a street address.
   contact.address.city:     A string containing a city.
   contact.address.state:    A string containing a state.
   contact.address.zip_code: A string containing a zip code.

   ========================================================================== #}

{% import 'molecules/contact-email.html' as contact_email %}
{% import 'molecules/contact-phone.html' as contact_phone %}
{% import 'molecules/contact-address.html' as contact_address %}
{% if page %}
    <div class="o-sidebar-contact-info">
        <div class="o-sidebar-contact-info_heading">
            <h2 class="header-slug">
            <span class="header-slug_inner">
                Contact Information
            </span>
            </h2>
        </div>

        <div class="o-sidebar-contact-info_column">
            {% for block in page.contact.contact_info %}
                {% if block.block_type == 'address' %}
                    {% set map_details = (block.value.street + ', ' +
                    block.value.city + ' ' +
                    block.value.state + ' ' +
                    block.value.zip_code) | urlencode %}
                    <figure>
                        <a href="https://www.google.com/maps/place/{{ map_details }}">
                            <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=16&size=330x250&markers=color:red%7C{{ map_details }}&scale=2"
                                 alt="">
                        </a>
                    </figure>
                {% endif %}
            {% endfor %}

            <h3>{{ page.contact.heading }}</h3>

            <p>{{ page.contact.body |safe }}</p>
        </div>

        <div class="o-sidebar-contact-info_column">
            {% if page.contact.contact_info %}

                {% for block in page.contact.contact_info %}
                    {{ render_stream_child(block) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% else %}
    {% macro render(content, contact) %}
        <div class="o-sidebar-contact-info">
            <div class="o-sidebar-contact-info_heading">
                <h2 class="header-slug">
            <span class="header-slug_inner">
                Contact Information
            </span>
                </h2>
            </div>

            <div class="o-sidebar-contact-info_column">
                {% set map_details = (contact.address.street + ', ' +
                contact.address.city + ' ' +
                contact.address.state + ' ' +
                contact.address.zip_code) | urlencode %}
                <figure>
                    <a href="https://www.google.com/maps/place/{{ map_details }}">
                        <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=16&size=330x250&markers=color:red%7C{{ map_details }}&scale=2"
                             alt="">
                    </a>
                </figure>

                <h3>{{ content.heading }}</h3>

                <p>{{ content.body }}</p>
            </div>

            <div class="o-sidebar-contact-info_column">

                {{ contact_email.render(contact.emails) }}

                {{ contact_phone.render(contact.phones) }}

                {{ contact_phone.render(contact.faxes, true) }}

                {{ contact_address.render({
                        'label':    'Mailing Address',
                        'title':    contact.address.title,
                        'street':   contact.address.street,
                        'city':     contact.address.city,
                        'state':    contact.address.state,
                        'zip_code': contact.address.zip_code
                        }) }}
            </div>
        </div>
    {% endmacro %}
{% endif %}
