{# ==========================================================================

   sidenav_toc.render()

   ==========================================================================

   Description:

   Creates markup for sidenav table of contents

   ========================================================================== #}

{% macro render() %}
  {{ _render_secondary_navigation() }}
{% endmacro %}

{# ==========================================================================

   _render_secondary_navigation()

   ========================================================================== #}
{% macro _render_secondary_navigation() %}
{% if report_sections is not defined  %}
    {% set report_sections = get_report_sections(request, page) %}
{% endif %}

{% if report_appendices is not defined  %}
    {% set report_appendices = get_report_appendices(request, page) %}
{% endif %}

<nav class="o-report-sidenav o-secondary-navigation o-secondary-navigation__no-children"
     aria-label="Section navigation">
      {% import 'molecules/nav-link.html' as nav_link %}
      <h3>Table of contents</h3>
      <ul class="m-list
                 m-list__unstyled
                 o-secondary-navigation_list
                 o-secondary-navigation_list__parents">
       {%- for item in report_sections %}
          <li class="m-list_item">
            {{ nav_link.render(item.numbering + item.title, item.url, true) }}
          {% if item.children %}
              <ul class="m-list
                         m-list__unstyled
                         o-secondary-navigation_list
                         o-secondary-navigation_list__children">
              {%- for child in item.children -%}
                  <li class="m-list_item">
                      {{ nav_link.render(child.title, child.url, false) }}
                  </li>
              {%- endfor %}
              </ul>
          {% endif %}
          </li>
      {%- endfor %}
      </ul>
      {% if report_appendices %}
        <h4>Appendices</h4>
      {% endif %}
      <ul class="m-list
                 m-list__unstyled
                 o-secondary-navigation_list
                 o-secondary-navigation_list__parents
                 o-report-sidenav__appendix">
       {%- for item in report_appendices %}
          <li class="m-list_item">
            {{ nav_link.render(item.numbering + item.title, item.url, true) }}
          {%- if item.children -%}
              <ul class="m-list
                         m-list__unstyled
                         o-secondary-navigation_list
                         o-secondary-navigation_list__children">
              {%- for child in item.children -%}
                  <li class="m-list_item">
                      {{ nav_link.render(child.title, child.url, false) }}
                  </li>
              {%- endfor %}
              </ul>
          {%- endif -%}
          </li>
      {%- endfor %}
      </ul>
</nav>
{% endmacro %}
