{# ==========================================================================

   Chart

   ==========================================================================

   Description:

   Create a chart organism with data

   ========================================================================== #}

<div class="o-simple-chart">
    {% if value.figure %}
    <h5>Figure {{ value.figure }}</h5>
    {% endif %}

    {% if value.title %}
    <h3>{{ value.title }}</h3>
    {% endif %}

    {% if value.subtitle %}
    <p style="font-size:14px">{{ value.subtitle }}</h3>
    {% endif %}

    <div class="simple-chart-target"
         {% if value.chart_type %}data-chart-type="{{ value.chart_type }}"{% endif %}
         {% if value.data_source %}data-source="{{ value.data_source }}"{% endif %}
         {% if value.transform %}data-transform="{{ value.transform }}"{% endif %}
         {% if value.style_overrides %}data-style-overrides='{{ value.style_overrides }}'{% endif %}
         {% if value.description %}data-description="{{ value.data_source }}"{% endif %}
         {% if value.y_axis_label %}
              data-y-axis-label="{{ value.y_axis_label }}"
         {% endif %}
         >
    </div>

    <p class="m-chart-footnote block__sub block__border-top block short-desc">
        {% if value.credits %}<strong>Source:</strong> {{value.credits}}<br>{% endif %}
        {% if value.data_source %}
        <strong>Download:</strong>
        <a class="icon-link icon-link__download"
           href="{{ value.data_source }}">
          <span class="icon-link_text">CSV file</span></a><br>
        {% endif %}

        {% if value.notes%}<strong>Notes:</strong> {{value.notes}}{% endif %}
    </p>
</div>
