{# ==========================================================================

   snippet_list.render(value)

   ==========================================================================

   Description:

   Outputs a snippet list when given:

   value:                           Object defined from a StreamField block.

   value.heading:                   The heading for the snippet list intro.

   value.body:                      A description for the snippet list intro.

   value.image:                     An image for the snippet list intro.
                                    If set, the snippet list intro will
                                    format as a 25/75 Image and Text module.

   value.snippet_type:              The type of snippet being listed.
                                    Options defined in ref.py.


   value.actions:                   A list of actions with two fields each:
                                    link_label and snippet_field

   value.actions[i].link_label:     A string for the text of the action link.

   value.actions[i].snippet_field:  The snippet field to which the action
                                    will link. Options defined in ref.py.

   value.tags:                      A list of tag names by which the snippet
                                    list will be filtered. Returned snippets
                                    must match all tag names in this list.

   ========================================================================== #}

{% from 'molecules/info-unit.html' import info_unit with context %}

<div class="o-snippet-list">
    {% set img = image(value.image.upload, 'original') if value.image.upload else '/' %}
    {% set image = {
        'url': img.url,
        'alt': value.image.alt,
        'is_square': true,
        'is_decorative': value.image.alt == ''
    } if value.image.upload else null %}
    {% set modifier = 'inline' if value.image.upload else '' %}
    {% set heading = '<h3>' ~ value.heading ~ '</h3>' if value.heading else '' %}
    {{ info_unit( {
        'modifier': modifier,
        'image': image,
        'heading': heading,
        'body': parse_links(value.body) | safe
    } ) }}

    {% set snippets = get_snippets(value.snippet_type) %}
    {% set filtered_snippets = snippets.objects.filter_by_tags(value.tags) %}
    {% if filtered_snippets.exists() %}
        <div class="o-table__stack-on-small o-snippet-list_list" data-display-table="table">
            <header data-display-table="thead">
                <div class="o-snippet-list_list-heading" data-display-table="cell">Description</div>
                <div class="o-snippet-list_list-heading" data-display-table="cell">Actions</div>
            </header>
            <ul data-display-table="row-group">
            {% for snippet in filtered_snippets %}
                <li data-display-table="row">
                    <div class="o-snippet-list_list-item" data-display-table="cell">
                        <div class="o-snippet-list_list-item-title">{{ snippet.title }}</div>
                        {{ snippet.desc if snippet.desc else '' }}
                    </div>
                    <div class="o-snippet-list_list-item" data-display-table="cell">
                        <ul class="list__horizontal">
                    {% for action in value.actions %}
                        {% if snippet[action.snippet_field] %}
                            {%- set href = snippet[action.snippet_field].url
                               if snippet[action.snippet_field].url is defined
                               else snippet[action.snippet_field] -%}
                            <li class="list_item">
                                <a href="{{ href }}">{{ action.link_label }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        {% import 'molecules/notification.html' as notification %}
        <div class="u-mt30">
            {{ notification.render('warning', true, 'No items found.') }}
        </div>
    {% endif %}
</div>
