
{# ==========================================================================

   Table

   ==========================================================================

   Description:

   Create a table.
   See [GHE]/flapjack/Modules-V1/wiki/Tables

   ========================================================================== #}

<table class="table__stack-on-small table__entry-header-on-small">
    <thead>
        <tr>
            {% for thead in value.headers %}
                <th>{{ thead }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for row in value.rows %}
        <tr>
        {% for cell in row %}
            {% set colcount = loop.index %}
            {% for thead in value.headers %}
                {% if colcount == loop.index %}
                    <td data-label="{{ thead }}">
                        {{ cell | safe }}
                    </td>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
