
{# ==========================================================================

   Third Width Link Blob Group

   ==========================================================================

   Description:

   Create a third-width-link-blob-group organism when given:

   value:             Object defined from a StreamField block.

   value.heading:     A string containing title of module.

   value.link_blobs:  A list composed of Wagtail Streamfield blocks.


   ========================================================================== #}

{% from 'organisms/info-unit-group.html' import info_unit_group with context %}

{{ info_unit_group(heading=value.heading, blocks=value.link_blobs, columns=3) }}
