
{# ==========================================================================

   well.render()

   ==========================================================================

   Description:

   Create a gray well organism.
   See [GHE]/flapjack/Modules-V1/wiki/Well

   template: Template URL for content to include.

   ========================================================================== #}

{% if not value %}
    {% set lipsumText = lipsum(1, false, 10, 25) | safe %}
    {% do global_dict.update({'well': { 'content' :  lipsumText  }}) %}
    {% set value = global_dict.well %}
{% endif %}
<div class="o-well">
    {{ value.content | safe }}
</div>

