
{# ==========================================================================

   well.render()

   ==========================================================================

   Description:

   Create a gray well organism.
   See [GHE]/flapjack/Modules-V1/wiki/Well

   template: Template URL for content to include.

   ========================================================================== #}


<div class="o-well">
    {% if value %}
        {% include value.template_path %}
    {% else %}
        {% macro render(template) %}
            {% import template as content %}
            {{ content }}
        {% endmacro %}
    {% endif %}
</div>
