
{# ==========================================================================

   well.render()

   ==========================================================================

   Description:

   Create a gray well organism.
   See [GHE]/flapjack/Modules-V1/wiki/Well

   template: Template URL for content to include.

   ========================================================================== #}

{% set value = value or global_dict.well %}

<div class="o-well">
    {{ value.content | safe }}
</div>
