{% extends "base.html" %}

{% block title -%}
    Students
{%- endblock %}

{% block desc -%}
    Students
{%- endblock %}

{% block content %}

    <main class="content content__1-3" id="main" role="main">

        <!-- .content_bar must come after .content_hero but before .content_wrapper -->
        <div class="content_bar"></div>

        <div class="wrapper content_wrapper">

            <aside class="content_sidebar content__flush-all-on-small">
                {% block office_nav %}{% endblock %}
            </aside>

            <div class="content_main content__flush-bottom content__flush-top-on-small">
                <section>
                    <h1>{{ test_prop }}</h1>
                </section>
            </div><!-- END .content_main -->

        </div><!-- END .content_wrapper -->
    </main><!-- END .content -->

{% endblock content %}
