{% extends "layout-side-nav.html" %}
{% import "_vars-offices.html" as vars with context %}

{% block title -%}
    {{ office.title | safe if office.title }}
{%- endblock %}

{% block content_main_modifiers -%}
    {{ super() }} content__flush-bottom
{%- endblock %}

{% block content_main %}

    {% from "post-macros.html" import activity_snippets as activity_snippets with context %}
    {% import "contact-macro.html" as contact_macro %}
    {% set activities_feed = activity_snippets(activity_type) %}

    {% if office.title %}
        <h1>{{ office.title | safe }}</h1>
    {% endif %}
    {% if office.intro.text %}
        <section class="block block__flush-top content-l content-l__main content-l__large-gutters">
            {% set intro = office.intro %}
            {% set show_subscription = intro.subscribe_form and intro.govdelivery_code %}
            <section class="office_intro content-l_col
                            {% if show_subscription -%}
                                content-l_col-1-2
                            {% else -%}
                                content-l_col-1
                            {%- endif %}
                            ">
                <p class="h3">{{ intro.text | safe if intro.text }}</p>
            </section>
            {% if show_subscription %}
                <section class="content-l_col content-l_col-1-2 content-l_col__before-divider">
                    <p class="h3 u-show-on-mobile">Stay informed</p>
                    <p class="short-desc">Stay up to date with our email newsletter</p>
                    {% from "macros.html" import subscribe as subscribe with context %}
                    {{ subscribe(intro.govdelivery_code) }}
                </section>
            {% endif %}
        </section>
    {% endif %}

    {% if office.top_story %}
    {% set top_story = office.top_story %}
        <section class="office_featured block block__padded-top block__border-top">
            {% if top_story.head %}
            <h1 class="h3">{{ top_story.head | safe }}</h1>
            {% endif %}
            <div class="content-l content-l__main content-l__large-gutters">
                {% if top_story.desc %}
                <div class="content-l_col content-l_col-1-2">
                    <p class="short-desc">{{ top_story.desc | safe }}</p>
                </div>
                {% endif %}
                {% if top_story.links %}
                <div class="content-l_col content-l_col-1-2 content-l_col__before-divider">
                    <ul class="list__links">
                    {% for link in top_story.links %}
                        <li class="list_item">
                            <a class="jump-link jump-link__right list_link" href="{{ link.url }}">
                                {{link.label}}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </section>
    {% endif %}
    {% if office.resources %}
    <section class="office_resources block block__padded-top block__border-top">
        <h1 class="h2">
            {{ resource_title }}
        </h1>
        {% for resource in office.resources %}
            <div class="media office_resource block__sub">
                {% if resource.icon %}
                <div class="media_image-container media_image-container__wide-margin">
                    <img class="media_image u-centered-on-mobile"
                         width="150"
                         src="{{resource.icon}}">
                </div>
                {% endif %}
                <div class="media_body">
                    {% if resource.title %}
                    <h2 class="h3">{{ resource.title | safe }}</h2>
                    {% endif %}

                    {% if resource.desc %}
                    <p class="short-desc">{{ resource.desc | safe }}</p>
                    {% endif %}

                    {% if resource.link %}
                    <a class="jump-link jump-link__right" href="{{ resource.link.url if resource.link }}">
                          {{ resource.link.label }}
                    </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
    {% endif %}

    {% for page in vars.sub_pages if page.show_in_office == "on" %}
        {% if loop.first %}
        <section class="office_sub_pages block block__sub block__padded-top block__border-top">
            <h1 class="h2">
                Our Work
            </h1>
            <div class="content-l content-l__main content-l__large-gutters expandables-group">
        {% endif %}
            <div class="office_initiative
                        expandable
                        expandable__expanded
                        expandable__mobile-only
                        content-l_col
                        {% if loop.length > 1 -%}
                            content-l_col-1
                        {% else -%}
                            content-l_col-1-2
                        {%- endif %}
                        ">
                <button class="expandable_header expandable_target u-show-on-mobile">
                    {% if page.short_title or page.title %}
                    <span class="expandable_header-left expandable_label">
                        {% if page.short_title %}
                            {{ page.short_title | safe }}
                        {% elif page.title %}
                            {{ page.title | safe }}
                        {% endif %}
                    </span>
                    {% endif %}
                    <span class="expandable_header-right expandable_link">
                        <span class="expandable_cue-open">
                            <span class="cf-icon cf-icon-plus-round"></span>
                        </span>
                        <span class="expandable_cue-close">
                            <span class="cf-icon cf-icon-minus-round"></span>
                        </span>
                    </span>
                </button>
                <div class="expandable_content">
                    {% if page.short_title or page.title %}
                    <h2 class="h4 u-hide-on-mobile">
                        {% if page.short_title %}
                            {{ page.short_title | safe }}
                        {% elif page.title %}
                            {{ page.title | safe }}
                        {% endif %}
                    </h2>
                    {% endif %}
                    {% if page.excerpt %}
                        <p class="short-desc">
                            {{ page.excerpt | safe }}
                        </p>
                    {% endif %}
                    {% if page.slug %}
                        <a class="jump-link jump-link__right" href="{{ page.permalink }}">
                            Read more
                        </a>
                    {% endif %}
                </div>
            </div><!-- END .expandable -->
        {% if loop.last %}
            </div>
        </section>
        {% endif %}
    {% endfor %}

    <div class="u-mb0
                block
                block__bg
                block__flush-sides">

        {% if activities_feed %}
        <section class="office_activities">
            <h1 class="header-slug">
                <span class="header-slug_inner">
                    Latest Office Activities
                </span>
            </h1>
            {{ activities_feed }}
            <!-- link to activities page? -->
            <a class="jump-link jump-link__right" href="/activity-log/">
                View all of our activity
            </a>
        </section>
        {% endif %}

        {% if office.related_contact %}
        {% set contact = get_document('contact', office.related_contact) %}
        {% if contact %}
        <section class="office_content block u-mb0">
            <h1 class="header-slug">
                <span class="header-slug_inner">
                    Office Contact Information
                </span>
            </h1>
            <div class="content-l content-l__main content-l__large-gutters">
                <div class="content-l_col content-l_col-1">
                    <h2 class="h5">{{ contact.title }}</h2>
                </div>
            </div>
            {{ contact_macro.render( contact, 'block block__flush-top' ) }}
        </section>
        {% endif %}
        {% endif %}

    </div>

{% endblock %}

{% block javascript %}
    {{ super() }}
    <!-- TODO: Move this to a Browserify module. -->
    <script>
        $('document').ready(function () {
            if (!$('html').hasClass('lt-ie9')) {
                $('.expandable__mobile-only').each(function (i) {
                    new MobileOnlyExpandable($(this), 599);
                });
            }
        });
    </script>
{% endblock %}
