{% set path = '/offices/' %}
{% set sub_pages = [] %}
{% for slug in office.related_sub_pages %}
    {% set _ignore = sub_pages.append(get_document('sub_page', slug)) %}
{% endfor %}

{% set title = office.short_title|safe if office.short_title else office.title|safe %}
{% set nav_items = [(office.permalink, 'index', title)] -%}
{% for page in sub_pages|sort(attribute='order') %}
    {% set title = page.short_title|safe if page.short_title else page.title|safe %}
    {%- set _ignore = nav_items.append((page.permalink, page.slug, title)) -%}
{% endfor %}
