{# Display a contact's data in two column format #}
{% macro render(contact, classes) %}

{% from 'macros/util/format/contact.html' import format_phone as format_phone %}

<div class="content-l content-l__large-gutters{{ ' ' + classes if classes else '' }}">
    <div class="content-l_col content-l_col-1-2">
        {{ contact.content|safe }}
    {%- if contact.web %}
        {%- if contact.web.url %}
            <a class="jump-link" href="{{ contact.web.url }}">
                {{ contact.web.label if contact.web.label else contact.web.url }}
            </a>
        {%- endif %}
    {%- endif %}
    </div>
    <div class="content-l_col content-l_col-1-2">
    {%- if contact.email or contact.phone or contact.fax or contact.street %}
        <ul class="list list__icons">
        {%- if contact.email %}
            {%- for email in contact.email %}
                <li class="list_item u-break-word">
                    {%- if loop.index == 1 %}
                        <span class="cf-icon cf-icon-email list_icon"></span>
                        <span class="h5 list_text">Email</span>
                    {%- endif %}
                    {%- if email.addr %}
                        <p>
                            <a class="list_link" href="mailto:{{ email.addr }}">
                                {{ email.addr }}
                            </a>
                        </p>
                    {%- endif %}
                </li>
            {%- endfor %}
        {%- endif %}
        {%- if contact.phone %}
            {%- for phone in contact.phone %}
                <li class="list_item">
                    {%- if loop.index == 1 %}
                        <span class="cf-icon cf-icon-phone list_icon"></span>
                        <span class="h5 list_text">Phone</span>
                    {%- endif %}
                    <p>
                        <a class="list_link list_link__phone" href="tel:{{ phone.num }}">
                            {{ format_phone(phone.num) }}
                        </a>
                        {%- if phone.desc %}
                            <span class="micro-copy micro-copy__large">
                                {{ phone.desc }}
                            </span>
                        {%- endif %}
                    </p>
                </li>
            {%- endfor %}
        {%- endif %}
        {%- if contact.fax %}
            <li class="list_item">
                <span class="cf-icon cf-icon-fax list_icon"></span>
                <span class="h5 list_text">Fax</span>
                <p>
                    {{ format_phone(contact.fax.num) if contact.fax.num else '' }}
                </p>
            </li>
        {%- endif %}
        {%- if contact.street %}
            <li class="list_item">
                <span class="cf-icon cf-icon-mail list_icon"></span>
                <span class="h5 list_text">Mailing Address</span>
                <p>
                    Consumer Financial Protection Bureau<br>
                    {{ contact.attn if contact.attn else '' }}<br>
                    {{ contact.street + '<br>'|safe if contact.street else '' }}
                    {{ contact.city + ',' if contact.city else '' }}
                    {{ contact.state if contact.state else '' }}
                    {{ contact.zip_code if contact.zip_code else '' }}
                {%- if contact.addr_desc %}
                    <br>
                    <span class="micro-copy">
                        {{ contact.addr_desc }}
                    </span>
                {%- endif %}
                </p>
            </li>
        {%- endif %}
        </ul>
    {%- endif %}
    </div><!-- END .content-l_col -->
</div><!-- END .content-l -->

{% endmacro %}
