
{# ==========================================================================

   mobile_carousel.render()

   ==========================================================================

   Description:

   Render HTML for a carousel of slides with an image, title, and description.
   Argument is:

   slides: An array of data to populate the carousel slides with.
           The structure looks like:
           {
             'image_sizes_class': <A image sizing class for responsive sizes>,
             'image_base_url':    <Base URL path for images>,
             'data': [{
                'image_filename': <Carousel slide image filename>,
                'title':          <Carousel slide filename>,
                'desc':           <Carousel slide description>
                }, {
                'image_filename': <Carousel slide image filename>,
                'title':          <Carousel slide filename>,
                'desc':           <Carousel slide description>
                }]
           }

   ========================================================================== #}

{% macro render(slides) %}
    <section class="media-stack">

        {% for slide in slides.data %}
        <div class="media-stack_item">
            <section class="media">
                <div class="media_image-container media_image-container__wide-margin">
                    <img class="media_image u-centered-on-mobile {{ slides.image_sizes_class }}"
                         src="{{ slides.image_base_url + slide.image_filename }}">
                </div>
                <div class="media_body u-centered-on-mobile">
                    <h2 class="h3">{{ slide.title }}</h2>
                    <p>{{ slide.desc }}</p>
                </div>
            </section>
        </div>
        {% endfor %}

    </section>
{% endmacro %}
