{# ==========================================================================

   common_form_fields.date_picker()

   ==========================================================================

   Description: Returns a date picker.

   legend:      Name of the field. Defaults to 'Enter Date Range'.

   required:    Whether the field is required. Defaults to false.

   disabled:    Whether the field is disabled. Defaults to false.

   ========================================================================== #}

{% macro date_picker(legend='Enter Date Range', required=false, disabled=false) %}
    <fieldset class="u-reset">
        <div class="form-l_col
                    form-l_col-1
                    u-mb0">
            <legend class="form-label-header">
                {{ legend }}
            </legend>
        </div>
        <div class="form-l_col form-l_col-1-2">
            <label class="micro-copy micro-copy__large"
                   for="form_date-picker-starting-date">
                From:
            </label>
            <input class="input__long"
                   id="form_date-picker-starting-date"
                   placeholder="mm/dd/yyyy"
                   type="text"
                   {{ 'required' if required }}
                   {{ 'disabled' if disabled }}>
        </div>
        <div class="form-l_col
                    form-l_col-1-2
                    input__long">
            <label class="micro-copy micro-copy__large"
                   for="form_date-picker-ending-date">
                To:
            </label>
            <input class="input__long"
                   id="form_date-picker-ending-date"
                   placeholder="mm/dd/yyyy"
                   type="text"
                   {{ 'required' if required }}
                   {{ 'disabled' if disabled }}
        </div>
    </fieldset>
{% endmacro %}
