{# ==========================================================================

   string_length()

   ==========================================================================

   Description:

   Get the length of a string after removing whitespace.
   Macros can only return strings so you'll need to convert the value to an
   integer using the `int` filter. The following example should return 6.

       string_length('foo bar')|int

   ========================================================================== #}

{% macro string_length(string) %}
    {{ string|replace('\n', '')|replace(' ', '')|list|length }}
{% endmacro %}
