{# ==========================================================================

   url_parameters()

   ==========================================================================

   Description:

   Builds pagination markup when given:

   parameters:   A dictionary of url parameters.

   ========================================================================== #}

{% macro url_parameters(parameters) %}
    {%- set ignored_params = ('page', 'partial') -%}
    {%- for key in parameters.keys() -%}
        {% if parameters.getlist(key) and key not in ignored_params -%}
            {%- for value in parameters.getlist(key, []) -%}
                &amp;{{ key }}={{ value }}
            {%- endfor -%}
        {%- endif %}
    {%- endfor -%}
{% endmacro %}
