{% extends 'v1/layouts/layout-full.html' %}

{% block title -%}
    404 error: not found | Consumer Financial Protection Bureau
{%- endblock %}

{% block desc -%}
    404 error: the page requested could not be found
{%- endblock %}

{% block css -%}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/on-demand/error.css') }}">
{%- endblock css %}

{% block content_modifiers -%}
    error-page
{%- endblock %}

{% block content_main_modifiers -%}
    error-page__main error-page__404
{%- endblock %}

{% block content_main %}
    <div class="block block--flush-top">
        <header>
            <h1>404: Page not found</h1>
            <p class="lead-paragraph">
                We can’t find the page you’re looking for.
                Visit our homepage for helpful tools and resources,
                or contact us and we’ll point you in the right direction.
            </p>
        </header>

        <aside class="block block--sub">
            <ul class="m-list m-list--horizontal m-list__divider">
                <li class="m-list__item">
                    <a href="/" class="a-btn a-btn--full-on-xs">Visit homepage</a>
                </li>
                <li class="m-list__item">
                    <a class="a-btn a-btn--full-on-xs" href="/about-us/contact-us/">
                        Contact us
                    </a>
                </li>
            </ul>
        </aside>

        <p>Are you sure this is the right web address?
            <a class="a-link a-link--jump"
            href={{"mailto:CFPB_website@consumerfinance.gov?subject=404%20Error%20at%20%22" + request.build_absolute_uri() + "%22"}}>
                <span class="a-link__text">Let us know</span>
            </a>
        </p>
    </div>
{% endblock %}

{% block javascript %}
{# Include site-wide JavaScript. #}
<script type='text/javascript' src="{{ static('js/routes/common.js') }}"></script>
{% endblock javascript %}
