{#
    This is a RTL version of layout-2-1 that uses a CSS grid layout.
    TODO: delete this when layout-2-1 is converted to a grid layout and
    replaces the need for this arabic-specific template.
#}

{% extends 'v1/layouts/base.html' %}

{% if page and not breadcrumb_items %}
{% set breadcrumb_items = page.get_breadcrumbs(request) %}
{% endif %}

{% block content scoped %}
    <main class="u-layout-grid u-layout-grid__2-1"
          id="main"
          {% if language == 'ar' %} dir="rtl" {% endif %}>
        <div class="u-layout-grid_wrapper">
        {% block hero -%}{%- endblock %}
        {% block pre_content scoped -%}
            {% if breadcrumb_items | length > 0 %}
                <div class="u-layout-grid_breadcrumbs">
                {%- import 'v1/includes/molecules/breadcrumbs.html' as breadcrumbs with context -%}
                {{ breadcrumbs.render(breadcrumb_items) }}
                </div>
            {% endif %}
        {%- endblock %}
        {% block body_content scoped %}
        <div class="u-layout-grid_main">
            {% block content_main scoped -%}{%- endblock %}
        </div>
        <aside class="u-layout-grid_sidebar">
            {% block content_sidebar scoped -%}{%- endblock %}
        </aside>
        {% endblock %}
        </div>
    </main>
{% endblock %}
