#Default configuration items.
[general]
testing_output = test-results

[logging]
log_level = 20

[browser_testing]
browser = Chrome
#browser = Sauce
delay = 1
take_screenshots = True
base_url = http://localhost:7000

[chrome_driver]
chromedriver_path = /put/t0/chromedriver