{% extends 'layout-side-nav.html' %}
{% import '_vars-the-bureau.html' as vars with context %}
{% set active_nav_id = 'about-deputy-director' %}
{% set breadcrumb_items = vars.breadcrumb_items %}

{% block title -%}
    About David Silberman
{%- endblock %}

{% block desc -%}
    About David Silberamn
{%- endblock %}

{% block content_main_modifiers -%}
    {{ super() }} content__flush-bottom
{%- endblock %}

{% block content_main %}

	{% import 'molecules/social-media.html' as social_media %}

    <div class="block block__flush-top" data-qa-hook="director-bio">
        <h1 data-qa-hook="director-bio-title">
            Deputy Director David Silberman (Acting)
        </h1>
        <p class="lead-paragraph" data-qa-hook="director-bio-summary">
            David Silberman currently serves as the Acting Deputy Director as well as the Associate Director of Research, Markets, and Regulations at the Consumer Financial Protection Bureau (CFPB).
        </p>
    </div>
    <div class="block">
        <figure class="media float-media rwd-crop" data-qa-hook="director-bio-image">
            <img class="media_image media_image__150 rwd-crop_item"
                 src="/static/img/deputy-director-silberman-low-res.jpg"
                 alt="Portrait of Deputy Director David Silberman">
        </figure>
        <p>
           David Silberman currently serves as both the Acting Deputy Director
           at the Consumer Financial Protection Bureau & Associate Director for
           the Research, Markets, and Regulations Division at the Consumer
           Financial Protection Bureau, a position he has held since 2011.
           Prior to joining the CFPB in 2010, Mr. Silberman served for 12 years
           as General Counsel and Executive Vice President of Kessler Financial
           Services, a privately-held company focused on providing advisory
           services in developing and marketing financial service products
           through distribution partnerships. Mr. Silberman’s involvement with
           consumer financial services began when, as Deputy General Counsel of
           the AFL-CIO, he created and then served as President and CEO of
           Union Privilege, an arm of the AFL-CIO responsible for sponsoring
           and overseeing the delivery of financial services to union members.
       </p>
        <p>
            Mr. Silberman began his career as a law clerk to Justice Thurgood
            Marshall and then as a member of the law firm Bredhoff & Kaiser.
            Mr. Silberman is a graduate of Brandeis University and Harvard Law
            School.
        </p>
        {{ social_media.render() }}
    </div>

    <section class="block block__padded-top block__padded-bottom block__border-top">
        <div class="content-l content-l__main">
            <div class="content-l_col content-l_col-1-2">
                <div class="media">
                    <div class="media_image-container media_image-container__wide-margin">
                        <img class="media_image media_image__100"
                             src="/static/img/deputy-director-silberman-round-200x200.jpg"
                             alt="Portrait of Deputy Director David Silberman">
                    </div>
                    <div class="media_body" data-qa-hook="director-media-downloads">
                        <h2 class="h4 u-mb5">
                            Downloads
                        </h2>
                        <ul class="list list__links">
                            <li class="list_item">
                                <a class="list_link jump-link jump-link__download"
                                    href="/static/img/deputy-director-silberman-high-res.jpg">
                                    <span class="jump-link_text">High-res portrait</span>
                                </a>
                            </li>
                            <li class="list_item">
                                <a class="list_link jump-link jump-link__download"
                                   href="/static/img/deputy-director-silberman-low-res.jpg">
                                    <span class="jump-link_text">Low-res portrait</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-l_col content-l_col-1-2"
                 data-qa-hook="director-speaking-info">
                <h2 class="h4 u-mb5">
                    Request the deputy director’s speaking info
                </h2>
                <a class="styled-link"
                   href="mailto:externalaffairs@cfpb.gov">
                    <span class="cf-icon cf-icon-email"></span>
                    externalaffairs@cfpb.gov
                </a>
            </div>
        </div>
    </section>

    <aside>

        <section class="block block__padded-top block__border-top"
                 data-qa-hook="director-more-info">
            <h2>
                More information about David Silberman
            </h2>
            <div class="content-l content-l__main">
                <div class="content-l_col content-l_col-1-3">
                    <h3 class="h5">
                        <span class="cf-icon cf-icon-newspaper"></span>
                        Newsroom
                    </h3>
                    <p>
                        Get the latest CFPB news, including speeches, testimony and op-eds by the assistant director.
                    </p>
                    <a class="jump-link jump-link__underline"
                       href="/newsroom/?filter_author=David+Silberman">
                        See how our deputy director is making headlines
                    </a>
                </div>
                <div class="content-l_col content-l_col-1-3">
                    <h3 class="h5">
                        <span class="cf-icon cf-icon-newspaper"></span>
                        Blogs
                    </h3>
                    <p>
                        Read blogs written by the deputy director on a variety of consumer financial topics.
                    </p>
                    <a class="jump-link jump-link__underline"
                       href="/blog/?filter_author=David+Silberman">
                        Browse blogs by the deputy director
                    </a>
                </div>
                <div class="content-l_col content-l_col-1-3">
                    <h3 class="h5">
                        <span class="cf-icon cf-icon-newspaper"></span>
                        Calendar
                    </h3>
                    <p>
                        See how the deputy director spends his time working for consumers.
                    </p>
                    {# TODO: Add calendar link when there's content available
                             {{ vars.path + 'leadership-calendar/?filter_calendar=David+Silberman' }}
                    #}
                    <a class="jump-link jump-link__underline u-link__disabled">
                        View the deputy director’s public calendar
                    </a>
                </div>
            </div>
        </section>
        <section class="prefooter">
            <div class="block block__flush-top">
                {%- import 'related-links.html' as related_links -%}
                {{- related_links.render([
                    [ vars.path + 'about-director/',
                      'Learn about Director Richard Cordray' ],
                    [ vars.path + 'bureau-structure/',
                      'Bureau organizational structure' ],
                ]) -}}
            </div>
        </section>

    </aside>

{% endblock %}
