{% extends 'layout-side-nav.html' %}
{% import '_vars-budget.html' as vars with context %}
{% set active_nav_id = 'strategic-plan' %}
{% set breadcrumb_items = vars.breadcrumb_items %}

{% block title -%}
    Strategic Plan
{%- endblock %}

{% block desc -%}

{%- endblock %}

{% block content_main %}
    <div class="block block__flush-top">
        <h1>
            Strategic Plan
        </h1>
        <p class="lead-paragraph">
            The CFPB Strategic Plan outlines four goals in pursuit of the Bureau’s mission.
            For each, the plan also describes desired outcomes, required strategies and investments,
            and specific measures of success. This is the work you should expect us to take
            on over the coming years.
        <p>
    </div>
    <div class="block block__sub">
        <h2 class="h4">
            CFPB Strategic Plan
        </h2>
        <ul class="list list__horizontal">
            <li class="list_item">
                <a class="list_link icon-link icon-link__right" href="interactive/" target="_blank">
                    <span class="icon-link_text">
                        Interactive
                    </span>
                </a>
            </li>
            <li class="list_item">
                <a class="list_link icon-link icon-link__pdf"
                   href="http://files.consumerfinance.gov/f/strategic-plan.pdf">
                    <span class="icon-link_text">
                        PDF
                    </span>
                </a>
            </li>
        </ul>
    </div>

{% endblock %}
