/* COMPARISON TOOL
In general, organization flows from the top of the page to the bottom.
PFC = Paying for College

Styles are for:
- https://www.consumerfinance.gov/paying-for-college/compare-financial-aid-and-college-cost/
- https://www.consumerfinance.gov/paying-for-college/compare-financial-aid-and-college-cost/feedback/
- https://www.consumerfinance.gov/paying-for-college/compare-financial-aid-and-college-cost/technote/

Table of Contents
-----------------
- NOTIFICATION BAR
- ADJUST MAIN CONTENT CONTAINER
- HEROS
- PFC NAVIGATION
- ADD A SCHOOL
- TYPOGRAPHY
- BASIC ELEMENTS
- THE TABLE & TABLE ELEMENTS
- FORM ELEMENTS
- MISC. ELEMENTS
  - TOOLTIPS
  - BAR GRAPH
  - SAVE & SHARE
- OTHER PAGES
- HELPER CLASSES
-------------------------------------------------------------------------------*/

/* NOTIFICATION BAR
This creates the styles for the desktop only notification (via Media Queries)
appears on smaller screens.
-------------------------------------------------------------------------------*/
.pfc-notification-wrapper {
/* See JS file; Display is modified there. */
    background-color: #fff;
    display: none;
}

.lt-ie9 .pfc-notification-wrapper {
    display: none !important;
}

.pfc-notification-bar {
    background-color: #dbedd4;
    color: #101820;
    font-family: "Avenir Next", Arial, sans-serif;
    padding: 1em;
}

/* Close links */
/* A link in the HTML */
.pfc-close-text {
    color: #101820;
}

.pfc-close-text:hover,
.pfc-close-text:active,
.pfc-close-text:focus {
    background: transparent;
    border-color: #101820;
}

/* A button in the HTML */
.pfc-close-bar {
    background-color: transparent;
    border: none;
    color: #101820;
    padding: 0.5em;
}

.pfc-close-bar .icon-delete {
    color: #101820;
}

/* Layout */
.pfc-notification-left {
    float: left;
    margin: 0 5% 0 0;
    text-align: left;
    width: 75%;
}

.pfc-notification-right {
    float: right;
    margin: 0 0 0 1%;
    text-align: right;
    width: 19%;
}

/* Hide the notification on screens larger than 600px wide */
@media only screen and (min-width: 37.5em) {
    .pfc-notification-wrapper { display: none !important; }
}

/* ADJUST MAIN CONTENT CONTAINER
This is for full width page background colors. It adjust some styles
from the main site stylesheet.
-------------------------------------------------------------------------------*/
.paying-for-college #maincontent {
    padding: 0 0 2em;
    width: 1016px;
}

/* No breadcrumbs in PFC. Current Django templates output an empty UL when
breadcrumbs do not exist unfortunately. :( Bug reported; to be fixed in future. */
.bread {
    display: none;
}

/* Padding on inner containers */
.bread,
#introduction,
#comparison-tables,
#save-footer,
.sub-page-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

/* HEROS
This just the hero for the Comparison Tool.
-------------------------------------------------------------------------------*/
/* This is a placeholder for now. */
.pfc-hero-wrapper {
    background-color: #2cb34a;
    padding: 2.375em 3.125em;
    position: relative;
}

.pfc-hero-wrapper a {
    background-color: transparent;
    border-bottom: 1px dashed #101820;
    color: #101820;
}

.pfc-hero-wrapper a:hover,
.pfc-hero-wrapper a:active,
.pfc-hero-wrapper a:focus {
    background-color: transparent;
    border-bottom-style: solid;
}

/* IE7 calculates padding with decimals differently. This makes sure the Hero is full width. */
.lt-ie8 .pfc-hero-wrapper {
    width: 89.75%;
}

.breadcrumbs a {
    background-color: transparent;
    border-bottom: none;
    color: #328ed8;
    padding-left: 0.5em;
}

.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:focus {
    background-color: transparent;
    border-bottom-style: none;
}

.breadcrumbs > p {
    font-family: "Avenir Next", Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 0.625em;
    margin-top: 0.25em;
}

.pfc-hero-content {
    /* Not an official color, but a mix of green and white. */
    background-color: #d3efdb;
    font-family: "Avenir Next", Verdana, sans-serif;
    float: left;
    min-height: 155px;
    padding: 1em;
    width: 35%;
}

.pfc-hero-image {
    position: absolute;
        bottom: 38px;
        right: 30px;
}

.pfc-hero-image img {
    vertical-align: bottom;
}

/* Use this class on Hero images to make it stick to bottom of container. */
.pfc-hero-image.alignbottom {
    bottom: 0;
}

/* Use this class on Hero images to make it stick to bottom right of container. */
.pfc-hero-image.alignbottomright {
    bottom: 0;
    right: 0;
}

.pfc-header {
    margin: 0 0 3em 0;
    position: relative;
}

.pfc-header.sub-page {
    padding-top: 1em;
}

.pfc-header h1 {
    font-size: 2.125em;
    font-weight: 600;
    margin-bottom: 0.25em;
    font-family: "Avenir Next", Arial, sans-serif;
    text-transform: none;
}

/* Sub-pages have a different sized H1 */
.pfc-header h1.sub-page {
    font-size: 1.625em;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1em;
}

/* PFC NAVIGATION
This has similar styles as the global site navigation.
-------------------------------------------------------------------------------*/
.pfc-nav-wrapper {
    background-color: #337e7d;
    border-bottom: 1px solid #101820;
    border-top: 1px solid #101820;
}

.pfc-nav-wrapper ul {
    background-color: #337e7d;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.pfc-nav-wrapper ul li {
    background-color: #337e7d;
    display: inline-block;
    font-family: "Avenir Next", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin: 0;
    position: relative;
    width: auto;
}

.lt-ie8 .pfc-nav-wrapper ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.lt-ie9 .pfc-nav-wrapper ul li {
    font-family: "Avenir Next Demi", Verdana, sans-serif;
}

/* This class acts like a link because we don't want to use an empty <a> tag. */
.fake-link {
    cursor: pointer;
}

.pfc-nav-wrapper ul li a,
.fake-link {
    -webkit-transition: background-color ease 1000ms;
    -moz-transition: background-color ease 1000ms;
    transition: background-color ease 1000ms;
    display: block;
    width: auto;
    height: auto;
    padding: 0.5em 1.75em 0.25em;
    border-bottom: 0;
    color: #fff;
    text-align: center;
    background-color: #337e7d;
}

.pfc-nav-wrapper ul li a:visited {
    color: #fff;
}

.pfc-nav-wrapper ul li a:hover,
.fake-link:hover {
    background-color: #ccdfdf;
    color: #000;
}

.pfc-nav-wrapper ul li a:focus {
    background-color: #ccdfdf;
    color: #000;
}

.pfc-nav-wrapper ul li a.is-active,
.pfc-nav-wrapper ul li .fake-link.is-active {
    background-color: #ccdfdf;
    color: #000;
}

/* Dropdown */
.pfc-nav-wrapper ul ul {
    background-color: #ccdfdf;
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    text-align: left;
    top: 100%;
    width: 12.5em;
    z-index: 9999;
}

.pfc-nav-wrapper ul ul li {
    background-color: #ccdfdf;
    border-bottom: 1px solid #000;
    display: block;
    width: 100%;
}

.pfc-nav-wrapper ul ul a,
.pfc-nav-wrapper ul ul a:visited {
    background-color: #ccdfdf;
    color: #000;
    display: block;
    padding: 1em 0.5em 0.75em 1.5em;
    text-align: left;
}

.pfc-nav-wrapper li:hover > ul,
.pfc-nav-wrapper li.focus > ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}

.pfc-nav-wrapper ul ul li:hover > ul,
.pfc-nav-wrapper ul ul li.focus > ul { /* Display the dropdown on hover */
    left: 100%; /* Bring back on-screen when needed */
    top: 0;
}

/* ADD A SCHOOL
This is for each step in the process.
-------------------------------------------------------------------------------*/
.pfc-intro-text {
    display: none; /* Hiding for now, but leaving in source in case content folks need it. */
    font-size: 1.125em;
}

.about-link {
    position: absolute;
        top: -20px;
        right: 50px;
}

.get-started {
    background-color: #f8f8f8;
    border: 1px solid #e3e4e5;
    margin: 1em 0 0;
    padding: 1.5em 0;
    position: relative;
}

/* First step is step-one, so these are hidden and activated via JS */
#introduction #step-two,
#introduction #step-three,
#introduction #step-four,
/* We're hiding these portions of steps, and will display them with JS, based on user input. */
#step-four .success-message {
    display: none;
}

.xml-error {
    color: #d12124;
    display: none;
}

/* The main layout components for Add a School. */
#step-one .step-left {
    float: left;
    margin-right: 30px;
    width: 554.5px;
}

#step-one .step-right {
    float: left;
    margin-right: 0;
    width: 387.5px;
}

#step-one .max-schools {
    color: #d12124;
    display: none;
}

#step-two .step-left {
    float: left;
    margin-right: 20px;
    width: 554.5px;
}

#step-two .step-right {
    position: absolute;
    right: 0;
    bottom: 24px;
    margin-right: 0;
    text-align: right;
    width: 387.5px;
}

#step-three .step-left {
    float: left;
    margin-right: 30px;
    width: 554.5px;
}

#step-three .step-right {
    margin-right: 0;
    position: absolute;
    right: 0;
    bottom: 24px;
    text-align: right;
    width: 387.5px;
}

#step-three fieldset {
    margin: 1.25em 0;
}

#step-four .step-left {
    float: left;
    margin-right: 30px;
    width: 554.5px;
}

#step-four .step-right {
    margin-right: 0;
    position: absolute;
    right: 0;
    bottom: 24px;
    text-align: right;
    width: 387.5px;
}

/* Containers for padding. */
.get-started .pfc-container-left {
    padding-left: 30px;
}

.get-started .pfc-container-right {
    padding-right: 30px;
}

/* Basic structure */
.pfc-left {
    float: left;
    margin-right: 10px;
}

.pfc-right {
    float: right;
    margin-right: 0;
}

/* This is for the Get Started button only. */
.paying-for-college #wrapper .get-started #get-started-button {
    font-size: 1.125em;
    margin-top: 2.5em;
    padding: 0.75em 2em;
}

.paying-for-college #wrapper .get-started #save-and-share {
    background-color: #75787b;
    display: none;
    font-size: 1.125em;
    margin-top: 1em;
    padding: 0.75em 2.9em;
}

.paying-for-college #wrapper .get-started #save-and-share:hover,
.paying-for-college #wrapper .get-started #save-and-share:focus {
    background-color: #919395;
}

.paying-for-college #wrapper .get-started #save-and-share:active {
    background-color: #43484e;
}

.get-started .step-legend {
    padding: 0 30px;
    margin: 1em 0;
    width: 874px;
}

/* General label styling in Get Started */
.get-started label {
    font-size: 0.875em;
}

.get-started .school-name,
.get-started .success-school-name,
.get-started .prgmlength,
.get-started .xml {
    font-weight: 600;
}

/* Make columns for Step One */
.get-started .school-name,
.get-started .prgmlength {
    float: left;
    display: block;
    margin-right: 1.25em;
    text-align: right;
    width: 24%;
}

.school-search {
    padding-bottom: 1em;
}

.school-search-box {
    float: left;
    width: 54%;
}

/* The search results for Add a School. */
.search-results {
    background-color: #fff;
    border: 1px solid black;
    clear: both;
    display: none;
    font-size: .9em;
    list-style-type: none;
    margin: 0 0 1em 8%;
    padding: .25em;
    width: 385px;
}

.search-results li a,
.search-results li p {
    border: none;
    font-weight: normal;
}
.search-results li p.location {
    margin: .1em 0 .5em .75em;
    font-weight: 400;
    font-size: .8em;
    font-style: italic;
    line-height: 1em;
}

.get-started .get-started-ckbx-group {
    clear: both;
    padding: 1em 0 0 28%;
}

.program-selection legend {
    float: left;
    font-size: 0.875em;
    display: block;
    margin-right: 1.25em;
    padding: 1.25em 0;
    text-align: right;
    width: 24%;
}

.get-started-radios {
    border-bottom: 1px solid #babbbd;
    border-top: 1px solid #babbbd;
    float: left;
    padding: 1em 0;
    width: 56%
}

.prgmlength-selection {
    padding-top: 1em;
}

.get-started .xml-text {
    width: 60%;
}

.get-started .finaidoffer {
    vertical-align: middle;
}

/* TYPOGRAPHY
This overrides a lot of styles in the main stylesheet. It contains
font styles, heading styles, etc. Other adjustments happen within components.
-------------------------------------------------------------------------------*/
.comparison-tool {
    color: #101820;
    font-family: "Avenir Next", Verdana, sans-serif !important;
}

.h2 {
    color: #101820;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.3em;
    text-transform: none;
    margin-top: 2.5em;
}

thead #institution-row div.inactive {
    color: #babbbd;
    padding-bottom: 2em;
}

.comparison-tool th span.institution-name.inactive,
.comparison-tool td h6.inactive,
.comparison-tool td h6.inactive.data-total {
    color: #babbbd;
}

.comparison-tool td input.inactive {
    background-color: #E3E4E5;
    color: #BABBBD;
}

.h3,
table h3 {
    color: #101820;
    font-size: 0.8125em;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.h4,
h4 {
    color: #101820;
    font-size: 1.125em;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
}

.totalcont .h4,
.totalcost .h4 {
    color: #101820;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 0;
}

.totalcont .h6.data-total,
.totalcost .h6.data-total {
    color: #101820;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0;
}

.h6,
h6 {
    color: #101820;
    font-size: 1.125em;
    font-weight: 600;
    letter-spacing: 0;
}

/* BASIC ELEMENTS
This contains basic HTML elements.
-------------------------------------------------------------------------------*/
/* Buttons
The buttons differ from others on the site. */

/* Override current styles */
.paying-for-college #wrapper button,
.paying-for-college #modal button {
    letter-spacing: 0;
    text-transform: none;
}

.paying-for-college #wrapper button,
.paying-for-college #wrapper .button,
.paying-for-college #modal button {
    box-sizing: border-box;
    display: inline-block;

    padding: 0.71428571428571em 1em; /* 10/14 14/14 */

    border: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    margin-right: 1em;

    background-color: #0072ce; /* Pacific */

    color: #fff;
    font-size: 1em;
    line-height: 1;
    font-family: "Avenir Next Medium", Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;

    -webkit-transition: .1s;
       -moz-transition: .1s;
            transition: .1s;
}

.paying-for-college #wrapper button:hover,
.paying-for-college #wrapper button:focus,
.paying-for-college #wrapper .button:hover,
.paying-for-college #wrapper .button:focus,
.paying-for-college #modal button:hover,
.paying-for-college #modal button:focus {
    background-color: #328ed8; /* Pacific/80 */
}

.paying-for-college #wrapper button:active,
.paying-for-college #wrapper .button:active,
.paying-for-college #modal .button:active,
.paying-for-college #modal button:active {
    background-color: #33578e; /* Navy/80 */
}

.paying-for-college #wrapper button[disabled=disabled],
.paying-for-college #modal button[disabled=disabled],
.paying-for-college #wrapper button[disabled],
.paying-for-college #modal button[disabled],
.paying-for-college #wrapper button.disabled,
.paying-for-college #modal button.disabled,
.paying-for-college #wrapper button.preset,
.paying-for-college #modal button.preset,
.paying-for-college #wrapper .button.disabled,
.paying-for-college #modal .button.disabled,
.paying-for-college #wrapper .button.preset,
.paying-for-college #modal .button.preset {
    background-color: #e7e7e6;
    color: #75787b;
    cursor: default; /* Fallback for IE/Opera */
    cursor: not-allowed;
}

.paying-for-college #wrapper button.cancel,
.paying-for-college #modal button.cancel {
    background-color: #75787b;
    color: #fff;
}

.paying-for-college #wrapper button.cancel:hover,
.paying-for-college #wrapper button.cancel:focus,
.paying-for-college #modal button.cancel:hover,
.paying-for-college #modal button.cancel:focus {
    background-color: #8E9193;
    color: #fff;
}

.paying-for-college #wrapper button.cancel:active,
.paying-for-college #modal button.cancel:active {
    background-color: #515355;
    color: #fff;
}

.paying-for-college #wrapper button.destructive,
.paying-for-college #modal button.destructive {
    background-color: #d14124;
    color: #fff;
}

.paying-for-college #wrapper button.destructive:hover,
.paying-for-college #wrapper button.destructive:active,
.paying-for-college #wrapper button.destructive:focus,
.paying-for-college #wrapper .button.destructive:hover,
.paying-for-college #wrapper .button.destructive:active,
.paying-for-college #wrapper .button.destructive:focus,
.paying-for-college #modal button.destructive:hover,
.paying-for-college #modal button.destructive:active,
.paying-for-college #modal button.destructive:focus,
.paying-for-college #modal .button.destructive:hover,
.paying-for-college #modal .button.destructive:active,
.paying-for-college #modal .button.destructive:focus {
    background-color: #da6750;
    color: #fff;
}

.paying-for-college #wrapper .button-small {
    font-size: .75em;
    padding: .5em 1em;
}

.paying-for-college #wrapper .button-link {
    background-color: transparent;
    border-bottom: 1px dashed #d14124;
    color: #d14124;
    padding: 0;
}

.paying-for-college #wrapper .button-link:hover,
.paying-for-college #wrapper .button-link:focus {
    background-color: transparent;
    border-bottom: 1px solid #d14124;
}

/* THE TABLE & TABLE ELEMENTS
This contains the majority of the structural styles for table-based elements.
-------------------------------------------------------------------------------*/
/* The main table container. */
#comparison-tables {
    clear: both;
    margin-top: 3em;
    padding-top: 1em;
}

/* The structural table elements */
.comparison-tool table {
    border: none;
    border-collapse: collapse;
}

.comparison-tool thead th {
    background: transparent;
    border: none;
    text-align: left;
    font-size: 1em;
    line-height: 1em;
    white-space: normal;
}

/* Remove a school links */
.comparison-tool .removal-row .remove-this-school {
    font-size: 0.75em;
    font-weight: 400;
    padding: 0.5em 0 0.5em 1.875em;
    position: absolute;
        top: -98px;
        right: 0;
}

.comparison-tool #institution-row .removal-row .remove-this-school button {
    margin-right: 0;
}

.comparison-tool .removal-row .remove-confirm {
    background-color: #f6d9d3;
    border: 1px solid #d14124;
    display: none;
    font-weight: 400;
    margin: 0.625em 0 auto;
    padding: 1em .5em;
    position: absolute;
        top: -74px;
}

.comparison-tool .removal-row .remove-confirm .button-group {
    float: right;
    margin-top: 0;
}

.comparison-tool table tbody th {
    font-size: 0.875em;
    border-right: none;
    vertical-align: middle;
    padding: 0.75em 1em;
}

.comparison-tool table > tbody thead th {
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.75em 0.5em 0.75em 1em;
    white-space: normal;
}

.comparison-tool table td {
    width: 25%;
    padding: 0.5em 0;
}

.comparison-tool table thead th {
    border: none;
    color: #585858;
    background: transparent;
    padding: 0.75em 0;
    white-space: normal;
}

.comparison-tool th {
    width: 25%;
    white-space: normal;
}

.comparison-tool td {
    border-right: none;
}

/* Full width styles in the table for descriptions */
.comparison-tool td.full {
    padding: 0.5em 1em;
    text-align: left;
}

.comparison-tool td:last-child {
    border-right: none;
}

.comparison-tool thead th {
    text-align: right;
}

.comparison-tool tbody > th, tbody thead th:first-child {
    text-align: right;
    padding-right: 0.9em;
}

.comparison-tool tr.school-name-row .institution-name {
    font-size: 0.875em;
    font-weight: 700;
}

/* Accordion elements, not the instrument, sadly */
.grants th, .grants td {
    border-bottom: 5px solid #0072ce;
}

.federal th, .federal td {
    border-bottom: 5px solid #ff931b;
}

.private th, .private td {
    border-bottom: 5px solid #d14124;
}

.grants .h5, .federal .h5, .private .h5, .contributions .h5 {
    font-size: 1.125em;
    font-weight: 600;
}

.grants h6, .federal h6, .private h6, .contributions h6 {
    font-size: 1.125em;
}

.contributions th, .contributions td {
    border-bottom: 5px solid #0072ce;
}

.totalcost {
    background: #cce3f5;
}

.totalcont {
    background: #cce3f5;
}

.comparison-tool table .breakdown th.bg-spacing {
    padding: 2em 0.5em 1em;
}

.comparison-tool table .breakdown td.bg-spacing {
    padding: 1.5em 0;
}

/* The styles for accodion arrows. See the JS file. All are collapsed by default. */
.hide,
.tr-hide {
    display: none;
}

#comparison-tables tr th a.arrw-click {
    border: none;
    color: #101820;
    display: block;
    text-align: right;
    text-decoration: none;
}

#comparison-tables tr th a.arrw-click:focus {
    outline: thin dotted;
}

.arrw-collapse th:first-child .arrw-click,
.arrw th:first-child .arrw-click{
    background: url(../images/collapse_arrows.png) no-repeat 5px -36px;
    cursor: pointer;
}

.totalcost.arrw-collapse.arrw th:first-child .arrw-click,
.totalcont.arrw-collapse.arrw th:first-child .arrw-click{
    background-position: 5px -3px;
}

.grants.arrw-collapse th:first-child .arrw-click {
    background-position: 5px -106px;
}

.grants.arrw-collapse.arrw th:first-child .arrw-click  {
    background-position: 5px -71px;
}

.contributions.arrw-collapse th:first-child .arrw-click  {
    background-position: 5px -176px;
}

.contributions.arrw-collapse.arrw th:first-child .arrw-click  {
    background-position: 5px -141px;
}

.federal.arrw-collapse th:first-child .arrw-click  {
    background-position: 5px -246px;
}

.federal.arrw-collapse.arrw th:first-child .arrw-click  {
    background-position: 5px -211px;
}

.private.arrw-collapse th:first-child .arrw-click  {
    background-position: 5px -316px;
}

.private.arrw-collapse.arrw th:first-child .arrw-click  {
    background-position: 5px -281px;
}

/* The GI Bill section. */
.grants-row td .gibill-panel {
    background-color: #d3d3d3;
    display: none;
    font-size: .8em;
    padding: .5em 1em 1em 1em;
    position: absolute;
        top: 4em;
    text-align: left;
    z-index: 2;
}

.gibill-panel fieldset,
.gibill-panel legend {
    width: 100%;
}

.gibill-calculator-tip {
    background: url(../images/gibill-arrow-up.png) 0 0 no-repeat;
    position: absolute;
        top: -8px;
        left: 50px;
    overflow: visible;
    height: 10px;
    width: 10px;
}

/*.grants-row td .gibill-panel label {
    display: block;
    margin: 1em 0 .25em 0;
}*/

.gibill-panel .gibill-title {
    font-weight: 600;
}

.gibill-panel .military-status,
.gibill-panel .military-status-select,
.gibill-panel .military-service,
.gibill-panel .military-tier-select {
    display: block;
    margin: 0.5em 0 .25em 0;
}

.military-residency-panel legend {
    margin: 0.5em 0;
}

.grants-row td .gibill-panel select {
    background-color: #f4f4f4;
    max-width: 90%;
    margin-bottom: 1.5em;
}

.comparison-tables .military-residency-panel input.radio-input {
    display: inline;
}

.comparison-tables .military-residency-panel label.radio-label {
    display: inline;
    margin: 0.5em 0 .25em 0;
}

.comparison-tables label.radio-label:after {
    content: "\A";
    white-space: pre;
}

.comparison-tables .military-instate {
    display: none;
    margin: 0.5em 0 .25em 0;
}

.comparison-tables input.military-instate {
    background-color: #F5f5f5;
}

.comparison-tables .military-calculate {
    background-color: #d12124;
    display: block;
    margin: 1.5em auto;
    padding: 0.5em 1em;
    text-transform: none;
    width: 50%;
}

/* GI Bill calculator link */
.paying-for-college #wrapper .gibill-calculator {
    font-size: 0.75em;
    position: absolute;
        top: -0.25em;
        left: 2.5em;
    width: 6.5em;
}

/* The fields right next to the GI Bill calculator button:
Make them smaller and push them right to make it all look presentable. */
#s-one-gibill,
#s-two-gibill,
#s-three-gibill {
    position: absolute;
        right: 1.8125em;
    width: 35%;
}

/* The Column headers in the table. */
.comparison-tool section > table > thead th {
    background: transparent;
    border: none;
    border-left: 1px dashed #babbbd;
    border-right: 1px dashed #babbbd;
    color: #585858;
    vertical-align: top;
    line-height: 1.25em;
    padding: 0.5em 1.875em;
}

.comparison-tool section > table > thead .removal-row th {
    border: none;
}

.visualization-row td {
    vertical-align: middle;
}

.breakdown th p,
.visualization-row th p {
    font-size: 0.9em;
}

.visualization-row .total-debt {
    font-weight: 500;
}


#after-school-section .visualization-row p.monthly-payment {
    text-align: left;
    margin: 0em 1em .25em 0em;
    padding-top: 1em;
}

#after-school-section .visualization-row p.monthly-payment .payment-amount {
    display: block;
    margin: 0em;
}

#after-school-section .visualization-row p.percent-of-salary {
    font-size: 0.7em;
    margin-top: 0em;
}

#s-one-institutionalloan,
#s-two-institutionalloan,
#s-three-institutionalloan,
#s-one-privateloan,
#s-two-privateloan,
#s-three-privateloan {
    position: absolute;
        left: 1.825em;
    width: 35%;
}

/* The change rate styles and buttons have IDs so they can override other form element styles. */
#comparison-tables .private-row .interest-rate,
#comparison-tables .private-row .interest-rate:hover {
    border-radius: 0;
    box-shadow: none;
    font-size: 1em;
    height: 1.75em;
    margin: 0;
    padding: 0 0 0 0.4em;
    position: absolute;
        right: 1.825em;
    text-align: left;
    -webkit-box-sizing: border-box;
    width: 30%;
}

#comparison-tables .private-row td button.rate-change.down {
    background: url(../images/arrow-down.png) 50% 50% no-repeat;
    border: none;
    font-size: 0.875em;
    margin: 0;
    padding: .5em 1em;
    position: absolute;
        right: 1.65em;
        top: 1em;
    height: 10px;
    width: 10px;
}

#comparison-tables .private-row td button.rate-change.up {
    background: url(../images/arrow-up.png) 50% 50% no-repeat;
    border: none;
    font-size: 0.875em;
    margin: 0;
    padding: .5em 1em;
    position: absolute;
        right: 1.65em;
        top: 0;
    height: 10px;
    width: 10px;
}

#comparison-tables .private-row td button.rate-change:focus {
    border: 1px dotted #101820;
}

/* FORM ELEMENTS
This contains the form elements for manipulating data within the tool.
-------------------------------------------------------------------------------*/
.comparison-tool input[type="text"],
.comparison-tool input[type="email"],
.comparison-tool input[type="url"],
.comparison-tool input[type="password"],
.comparison-tool input[type="search"],
.comparison-tool textarea,
#modal input[type="text"],
#modal input[type="email"],
#modal input[type="url"],
#modal input[type="password"],
#modal input[type="search"],
#modal textarea {
    background: #ffffff;
    border: 1px solid #75787b;
    border-radius: 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
    padding: 0.25em;
    vertical-align: top;
}

.comparison-tool input[type="text"]:focus,
.comparison-tool input[type="email"]:focus,
.comparison-tool input[type="url"]:focus,
.comparison-tool input[type="password"]:focus,
.comparison-tool input[type="search"]:focus,
.comparison-tool textarea:focus,
#modal input[type="text"]:focus,
#modal input[type="email"]:focus,
#modal input[type="url"]:focus,
#modal input[type="password"]:focus,
#modal input[type="search"]:focus,
#modal textarea:focus {
      border: 1px solid #0072ce;
      border-color: #0072ce;
      outline: 1px solid #0072ce;
      outline-offset: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
}

.comparison-tool input.error[type="text"],
.comparison-tool input.error[type="email"],
.comparison-tool input.error[type="url"],
.comparison-tool input.error[type="password"],
.comparison-tool input.error[type="search"],
.comparison-tool textarea.error,
#modal input.error[type="text"],
#modal input.error[type="email"],
#modal input.error[type="url"],
#modal input.error[type="password"],
#modal input.error[type="search"],
#modal textarea.error {
      border: 1px solid #d12124;
      outline: 1px solid #d12124;
}

.comparison-tool input.success[type="text"],
.comparison-tool input.success[type="email"],
.comparison-tool input.success[type="url"],
.comparison-tool input.success[type="password"],
.comparison-tool input.success[type="search"],
.comparison-tool textarea.success,
#modal input.success[type="text"],
#modal input.success[type="email"],
#modal input.success[type="url"],
#modal input.success[type="password"],
#modal input.success[type="search"],
#modal textarea.success {
      border: 1px solid #2cb34a;
      outline: 1px solid #2cb34a;
}

.comparison-tool td input.disabled, td input.disabled:hover,
.comparison-tool td h6.disabled, td h6.disabled:hover {
    border: none;
    color: transparent;
}

.comparison-tool td,
.comparison-tool td input {
    text-align: center;
}

.comparison-tool input[type=checkbox],
.comparison-tool input[type=radio] {
    margin-right: 0.5em;
}

/* MISC. ELEMENTS
This contains varous elements that are standalone components within the tool.
-------------------------------------------------------------------------------*/
/* TOOLTIPS */
.tooltip-info, .tooltip-info:hover {
    cursor: auto;
    border-bottom: none;
}

th div.tooltip-info {
    display: inline;
}

input.tooltip-info {
    border-bottom: 1px solid #fff;
}

input.tooltip-info:hover, input.tooltip-info:focus {
    border-bottom: 1px solid #FFF;
}

.tooltip-info, .tooltip-info:hover {
    cursor: help;
    border-bottom: 1px dotted #000;
}

h4.tooltip-info {
    display: inline-block;
}

label.tooltip-info {
    display: inline;
}

#tooltip-container {
    background-color: #fff;
    border: 2px solid #000;
    display: none;
    font-style: normal;
    font-size: .8em;
    padding: 10px;
    position: absolute;
    text-align: justify;
    width: 20em;
    z-index: 3000;
}

#bar-info-container {
    background-color: #fff;
    border: 2px solid #666;
    display: none;
    font-style: normal;
    font-size: .8em;
    padding: .25em 2em;
    position: absolute;
    text-align: justify;
    z-index: 3000;
}

#tooltip-container > p,
#bar-info-container > p {
    padding: 0;
    margin: 0;
}

/* These elements, .outertip and .innertip, make the little speech-balloon styled
   tip appear along the top of the tooltip. */
#tooltip-container .outertip {
    border: 10px solid transparent;
    border-bottom-color: #000;
    content: ' ';
    height: 0;
    position: absolute;
    left: 5px;
    top: -20px;
    width: 0;
}

#tooltip-container .innertip {
    border: 7px solid transparent;
    border-bottom-color: #fff;
    content: ' ';
    height: 0;
    position: absolute;
    left: 8px;
    top: -14px;
    width: 0;
}

#bar-info-container .outertip {
    border: 10px solid transparent;
    border-bottom-color: #000;
    content: ' ';
    height: 0;
    position: absolute;
    left: 5px;
    top: -20px;
    width: 0;
}

#bar-info-container .innertip {
    border: 7px solid transparent;
    border-bottom-color: #fff;
    content: ' ';
    height: 0;
    position: absolute;
    left: 8px;
    top: -14px;
    width: 0;
}

/* BAR GRAPH, AKA .meter */
/* TODO: Make this section less specific. */
#comparison-tables .breakdown td,
#comparison-tables .breakdown th  {
    vertical-align: top;
}

#comparison-tables .breakdown .meter {
    font-size: .75em;
    margin: .25em 1em;
}

#comparison-tables .breakdown .meter .bars {
    margin: 0;
}

#comparison-tables .breakdown .meter .bars .bars-container {
    margin: 0 auto;
}

#comparison-tables .breakdown .meter .chart_mask_internal {
    height: 15px;
    overflow: hidden;
    padding: .1em 0 0 0;
    text-align: left;
}
#comparison-tables .breakdown .meter .institution-name {
    font-weight: 700;
    margin: 0em 0em 1em 0em;
}

#comparison-tables .breakdown .meter .total-first-year-costs {

}

#comparison-tables .breakdown .meter .total-first-year-costs .costs-label,
#comparison-tables .breakdown .meter .borrowing-bar-text .borrowing-label,
#comparison-tables .breakdown .meter .borrowing-loans-text .federal-loans-label,
#comparison-tables .breakdown .meter .borrowing-loans-text .private-loans-label  {
    margin-top: 0em;
}

#comparison-tables .breakdown .meter .total-first-year-costs .costs-value,
#comparison-tables .breakdown .meter .borrowing-bar-text .borrowing-value,
#comparison-tables .breakdown .meter .borrowing-loans-text .federal-loans-value,
#comparison-tables .breakdown .meter .borrowing-loans-text .private-loans-value    {
    text-align: right;
}

#comparison-tables .breakdown .meter .bars .full {
    background: #585858;
    height: 15px;
    margin: 0;
}

#comparison-tables .breakdown .meter .bars .bar {
    border-right: 1px solid #fff;
    display: none;
    float: left;
    height: 15px;
    padding: 0;
}

#comparison-tables .breakdown .meter .bars .bar.discount {
    background: #0072ce;
}

#comparison-tables .breakdown .meter .bars .bar.savings {
    background: #0072ce;
}

#comparison-tables .breakdown .meter .bars .bar.fedloans {
    background: #ff931b;
}

#comparison-tables .breakdown .meter .bars .bar.privloans {
    background: #d14124;
}

#comparison-tables .breakdown .meter .bars .bar.overage {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=50);
    opacity: 0.9;
}

#comparison-tables .breakdown .meter .cost-of-attendance th {
    padding: .75em 0em;
}

#comparison-tables .breakdown .meter .cost-of-attendance td {
    text-align: left;
}

#comparison-tables .breakdown .meter .cost-of-attendance td.value {
    font-weight: 600;
    text-align: right;
}

#comparison-tables .breakdown .meter .cost-of-attendance td.value.total-grants-savings-value {
    color: #0072ce;
}

#comparison-tables .breakdown .meter .cost-of-attendance td.value.federal-loans-value {
    color: #ff931b;
}

#comparison-tables .breakdown .meter .cost-of-attendance td.value.private-loans-value {
    color: #d14124;
}

#comparison-tables .breakdown .meter .cost-of-attendance .left-to-pay td {
    border-top: 1px solid #43484e;
    color: #43484e;
    font-weight: 600;
}

#comparison-tables .breakdown .meter .borrowing-bar-text {
    margin-top: 1.5em;
}

#comparison-tables .breakdown .meter .bars .borrowing-bars .bar.discount,
#comparison-tables .breakdown .meter .bars .borrowing-bars .bar.savings {
    background: #888;
    border-right: 1px solid #DDD;
}

#comparison-tables .breakdown .meter .bars .borrowing-container {
    position: relative;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .bar.borrowing {
    background: #dc0000;
    border: none;
    height: 5px;
    margin-top: .25em;
    position: relative;
        right: 0;
        top: 0;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .totalborrowing {
    color: #dc0000;
    padding-top: 1.5em;
    text-align: left;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .totalborrowing b {
    display: block;
}

#comparison-tables .breakdown .meter .bars .borrowing-container .tick-borrowing {
    background-color: #dc0000;
    display: block;
    height: .75em;
    position: relative;
        right: 0;
        top: .5em;
    width: 2px;
}

#comparison-tables .breakdown .meter .error_msg {
    clear: left;
    display: none;
}

#comparison-tables .breakdown .meter .error_msg p {
    color: #dc0000;
    padding: .9em 1em 0em 1em;
    font-size: .8em;
    font-weight: bold;
    text-align: right;
}

#comparison-tables .debt-pie {
    float: left;
}

#comparison-tables td.debt-burden-cell {
    background-image: url(../images/debt_burden.png);
    background-repeat: no-repeat;
    background-position: 25px 60px;
}

#comparison-tables td.debt-burden-cell span {
    margin-left: 40px;
}

#comparison-tables .gradrisk-container {
    margin-bottom: 7px;
    position: relative;
        left: 0px;
    width: 10%;
}

#comparison-tables .gradrisk-container .gradrisk-value {
    border-bottom: 2px solid #666;
}

#comparison-tables .gradrisk-container .gradrisk-percent {
    display: block;
    font-size: .9em;
    text-align: center;
    position: relative;
    width: 3em;
}

#comparison-tables .gradrisk-pointer {
    border: 8px solid transparent;
    border-top-color: #666;
    position: absolute;
        left: 0%;
        top: 90%;
    width: 0;
    z-index: 5;
}

#comparison-tables .gradrisk-bar {
    margin: 5px auto 1em auto;
    width: 90%;
}

#comparison-tables .gradrisk-bar div {
    background-color: #e5e5e5;
    border: 1px solid black;
    border-left: none;
    color: #FFF;
    font-size: .75em;
    float: left;
    padding: .3em 0;
    width: 32%;
}

#comparison-tables .gradrisk-bar .low {
    background-color: #99b8c4;
}

#comparison-tables .gradrisk-bar .medium {
    background-color: #3b778d;
}

#comparison-tables .gradrisk-bar .high {
    background-color: #104d6e;
}

#comparison-tables .gradrisk-bar div:first-child {
    border: 1px solid black;
}

#comparison-tables .default-rate-chart {
    position: relative;
}

#comparison-tables .default-rate-chart p {
    font-size: .6em;
    position: absolute;
        left: 13px;
        top: 105px;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}

#comparison-tables .default-rate-chart .default-rate-avg {
    left: 113px;
}

#comparison-tables .default-rate-chart p .percent {
    display: block;
    font-size: 1.5em;
    line-height: 1.2;
    margin: 0;
}

#comparison-tables .median-borrowing-chart {
    background-image: url(../images/speedometer.png);
    background-position: 24px 21px;
    background-repeat: no-repeat;
    height: 100px;
    margin: auto;
    width: 200px;
}

#comparison-tables .median-borrowing-text {
    margin: .15em 0 1em 0;
}

/* STYLES FOR 'INACTIVE' elements */
#comparison-tables .breakdown td .meter.inactive .cost-of-attendance,
#comparison-tables .breakdown td .meter.inactive .cost-of-attendance td.value,
#comparison-tables .breakdown td .meter.inactive .cost-of-attendance .left-to-pay td  {
    color: #babbbd;
}

#comparison-tables .breakdown td .meter.inactive .cost-of-attendance div.full {
    background-color: #babbbd;
}

#comparison-tables .visualization-row td .inactive {
    color: #babbbd;
}


/* SAVE & SHARE */
#modal-overlay {
    width: 100%;
    height: 100%;
    z-index: 2; /* places the modal overlay between the main page and the modal dialog*/
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
}


#modal {
    background-color: #fff;
    border-top: 3px solid #2cb34a;
    display: none;
    font-family: "Avenir Next", Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 40%;
    z-index: 3; /* places the modal dialog on top of everything else */
}

#modal-title {
    font-size: 1.125em;
    font-weight: 600;
}

#modal #close-modal {
    background-color: transparent;
    margin: 0;
    padding: 0.5em;
    position: absolute;
    right: 1%;
    top: 2%;
}

#modal #close-modal .icon-delete-alt {
    color: #0072ce;
}

#modal #close-modal:hover .icon-delete-alt,
#modal #close-modal:focus .icon-delete-alt {
    color: #328ed8; /* Pacific/80 */
}

#modal #close-modal:focus .icon-delete-alt {
    outline: thin dotted;
}

#modal #close-modal:active .icon-delete-alt {
    color: #33578e; /* Navy/80 */
}

.modal-container {
    margin-right: 2%;
    width: 74%;
}

.form-container {
    margin: 1em 0;
}

.save-modal .unique-label,
.save-modal .email-label {
    display: inline-block;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
    width: 14%;
}

.save-modal #unique,
.save-modal #email {
    display: inline-block;
    margin-left: 2%;
    width: 76%;
}

.save-modal .email-group {
    position: absolute;
        bottom: 29%;
        right: 3%;
}

#send-email {
    margin-right: 0 !important;
}

.no-save {
    font-size: 0.875em;
    padding-left: 15%;
}

.time {
    margin-bottom: 0;
}

#modal .icon-approved-alt {
    color: #75787b;
    margin-right: 0.25em;
}

/* OTHER PAGES
This contains styles for
- https://www.consumerfinance.gov/paying-for-college/compare-financial-aid-and-college-cost/feedback/
- https://www.consumerfinance.gov/paying-for-college/compare-financial-aid-and-college-cost/technote/
-------------------------------------------------------------------------------*/
/* A grid only used for /paying-for-college/ and /technote/ */
/* Clear these with .clearfix */
.paying-for-college .col {
    display: inline;
    float: left;
    margin-right: 30px;
}

.paying-for-college .col.last,
.paying-for-college .col.col12 {
    margin-right: 0;
}

/* Column widths */
.paying-for-college .col1 { width: 53.5px; }
.paying-for-college .col2 { width: 137px; }
.paying-for-college .col3 { width: 220.5px; }
.paying-for-college .col4 { width: 304px; }
.paying-for-college .col5 { width: 387.5px; }
.paying-for-college .col6 { width: 471px; }
.paying-for-college .col7 { width: 554.5px; }
.paying-for-college .col8 { width: 638px; }
.paying-for-college .col9 { width: 721.5px; }
.paying-for-college .col10 { width: 805px; }
.paying-for-college .col11 { width: 888.5px; }
.paying-for-college .col12 { width: 936px; }
.paying-for-college .pre1 { padding-left: 53.5px; }
.paying-for-college .pre2 { padding-left: 137px; }
.paying-for-college .pre3 { padding-left: 220.5px; }
.paying-for-college .pre4 { padding-left: 304px; }
.paying-for-college .pre5 { padding-left: 387.5px; }
.paying-for-college .pre6 { padding-left: 471px; }
.paying-for-college .pre7 { padding-left: 554.5px; }
.paying-for-college .pre8 { padding-left: 638px; }
.paying-for-college .pre9 { padding-left: 721.5px; }
.paying-for-college .pre10 { padding-left: 805px; }
.paying-for-college .pre11 { padding-left: 888.5px; }
.paying-for-college .suf1 { padding-right: 53.5px; }
.paying-for-college .suf2 { padding-right: 137px; }
.paying-for-college .suf3 { padding-right: 220.5px; }
.paying-for-college .suf4 { padding-right: 304px; }
.paying-for-college .suf5 { padding-right: 387.5px; }
.paying-for-college .suf6 { padding-right: 471px; }
.paying-for-college .suf7 { padding-right: 554.5px; }
.paying-for-college .suf8 { padding-right: 638px; }
.paying-for-college .suf9 { padding-right: 721.5px; }
.paying-for-college .suf10 { padding-right: 805px; }
.paying-for-college .suf11 { padding-right: 888.5px; }

#comparison-tool .about-section {
    padding-top: 2em;
    margin-top: 2em;
    border-top: 1px solid #000;
}

#comparison-tool .about-section a {
    color: #0081a1;
    border: 0;
    background: none;
}

#comparison-tool .about-section .screenshot {
    display: block;
    width: 900px;
    margin: 0 auto 2em auto;
}

#comparison-tool .about-section .screenshot img {
    display: block;
    margin-bottom: .5em;
}

#comparison-tool .about-section .screenshot .caption {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #808184;
    font-weight: 500;
}

#comparison-tool .about-section h2 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.2;
    text-transform: none;
    letter-spacing: 0;
}

#comparison-tool .about-section h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: 0;
}

#comparison-tool .about-section p {
    font-weight: 500;
}

#comparison-tool .about-section p:first-child {
    margin-top: 0;
    padding-top: 0;
}

#comparison-tool .about-section .useful-links {
    list-style: none;
    padding: 0.75em 0 0 0;
    margin: 0.25em 0 0 0;
    border-top: 1px solid #ccc;
    font-weight: 500;
}

#comparison-tool .about-section .useful-links li {
    padding: 0.25em 0;
}

#comparison-tool .about-section .useful-links li a {
    color: #0081a1;
    border-bottom: 0;
    padding: 0;
    margin: 0;
}

#comparison-tool .about-section .useful-links li a:hover {
    background: none;
}

#comparison-tool .about-section ul {
    font-weight: 500;
}

.feedback-container {
    width: 56%;
}

.comparison-tool .feedback-header {
    padding-top: 2em;
}

.comparison-tool .feedback-header h1 {
    font-size: 1.625em;
    font-weight: 400;
}

.comparison-tool .feedback-section h2 {
    font-size: 1.125em;
    font-weight: 600;
    text-transform: none;
}

.feedback-section .pfc-feedback {
    display: block;
    margin: 1em 0;
}

.feedback-section .pfc-signup {
    background-color: #e3e4e5;
}

.feedback-section #id_message {
    width: 97%;
}

.feedback-section .pfc-signup label {
    display: block;
    float: left;
    font-weight: 600;
    text-align: right;
    width: 25%;
}

.feedback-section .pfc-signup #email,
.feedback-section .pfc-signup #questionid_10376 {
    display: block;
    float: right;
    width: 70%;
}

.pfc-signup .pfc-send-email {
    text-align: right;
}

.paying-for-college #wrapper #pfc-send-email {
    margin-right: 0;
}

/* HELPER CLASSES
This contains varous elements that are standalone components within the tool.
-------------------------------------------------------------------------------*/
/* Structural stuff */
/* Clear floats */
#comparison-tool .clearfix:before,.clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
#comparison-tool .clearfix:after { clear: both; }
#comparison-tool .clearfix { zoom: 1; }

/* Relatively position items */
.p-rel {
    position: relative;
}

/* TODO: Decrease specificity further within CSS so !important not needed. */
.vert-pad {
    padding-bottom: 0.5em !important;
    padding-top: 0.5em !important;
}

.nopad {
    padding: 0 !important;
}

.nopad-vert {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.nopad-horiz {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.center {
    text-align: center !important;
}

/* Stylistic stuff */
.medium {
    font-weight: 500 !important;
}

.demi {
    font-weight: 600 !important;
}

.bold {
    font-weight: bold !important;
}

.bottom-border,
.bottom-border th,
.bottom-border td {
    border-bottom: 5px solid #101820 !important;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
