env:
  node: true
  jasmine: true
  protractor: true
globals:
  by: true
  browser: true
  element: true
rules:
  new-cap: 0
  no-console: 0
  no-unused-expressions: 0
  max-nested-callbacks: 0
  require-jsdoc: 0
  max-statements: 0
parserOptions:
  ecmaVersion: 8
