{% extends 'layout-side-nav.html' %}

{% import 'molecules/related-posts.html' as related_posts with context %}

{% set parent = page.parent() %}

{% block title -%}
    {{ page.seo_title }}
{%- endblock %}

{% block content_main_modifiers -%}
    {{ super() }} content__flush-bottom
{%- endblock %}

{% block content_main %}
    {% for block in page.header -%}
        {% if loop.index == 1 %}
            <div class="block
                        block__flush-top">
                {{ render_stream_child(block) }}
            </div>
        {% else %}
            <div class="block">
                {{ render_stream_child(block) }}
            </div>
        {% endif %}
    {%- endfor %}

    {% for block in page.content -%}
        {% include 'templates/render_block.html' with context %}
    {%- endfor %}

    <aside class="prefooter">
        {% for block in page.sidefoot %}
            {% if 'related_posts' or 'call_to_action' or 'email_signup' in block.block_type %}
                {% if loop.index == 1 %}
                    <div class="block
                                block__flush-top">
                        {{ render_stream_child(block) }}
                    </div>
                {% else %}
                    <div class="block">
                        {{ render_stream_child(block) }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </aside>
{% endblock %}

