/* Tooltip styles */
.tooltip-info, .tooltip-info:hover {
    cursor: help;
	border-bottom: 1px dotted #50a748;
}
p.tooltip-info {
	display: inline;	
}
#tooltip-container {
	background-color: #a0f798;
	border: 2px solid #50a748;
	display: none;
	font-style: normal;
	font-size: .8em;
	padding: 10px;
	position: absolute;
	text-align: justify;
	width: 20em;
	z-index: 3000;
}
/* These two elements, #outertip and #innertip, make the little speech-balloon styled
	tip appear along the top of the tooltip. */
#tooltip-container #outertip {
	border: 10px solid transparent;
	border-bottom-color: #50a748;
	content: ' ';
	height: 0;
	position: absolute;
	left: 5px;
	top: -20px;
	width: 0;
}
#tooltip-container #innertip {
	border: 7px solid transparent;
	border-bottom-color: #a0f798;
	content: ' ';
	height: 0;
	position: absolute;
	left: 8px;
	top: -14px;
	width: 0;
}
#tooltip-container > p {
	padding: 0;
	margin: 0;
}