a, 
.rst-content a code {
    color: #0072ce;
}
a:visited,
.rst-content a:visited code {
    color: #a01b68;
}
a:hover,
.rst-content a:hover code {
    color: #0050b4;
}
.wy-body-for-nav {
    background-color: #ffffff;
}
.wy-nav-top {
    background: #1e9642;
}
.wy-nav-top a,
.wy-nav-top a:visited {
    color: #ffffff;
}
.wy-side-nav-search {
    background-color: #1e9642;
}
.wy-side-nav-search > a, 
.wy-side-nav-search .wy-dropdown > a {
    color: #ffffff;
    font-size: 150%;
}
.wy-side-nav-search input[type=text] {
    border-color: #1e9642;
}
.wy-menu-vertical .caption-text {
    color: #d2d3d5;
}
.wy-menu-vertical li.current .subnav a,
.wy-menu-vertical .subnav li.current a {
    color: #101820;
}
.wy-nav-side {
    background: #43484e;
}
.wy-menu-vertical li a,
.wy-menu-vertical .subnav li a {
    color: #ffffff;
}
.wy-menu-vertical li a:hover {
    background-color: #5a5d61
}
.rst-versions .rst-current-version {
    background-color: #43484e;
}
footer {
    color: #5a5d61;
}
}
