
{# ==========================================================================

   Anchor Link ID

   ==========================================================================

   Description:

   Create an ID for use in anchor links.

   value:                  Object defined from a StreamField block.

   value.link_id:         A string consisting of a prefix ('anchor_'), a 
   concatenated random number, and text that a content editor can optionally 
   supply.

   ========================================================================== #}

{{ value.link_id }}
