{# ==========================================================================

   select.render()

   ==========================================================================

   Builds a select for a form.

   settings:

   label:         Name of the field.

   placeholder:   Text for the placeholder.

   fields:        An array of all the fields to select.

   size:          The size of the field. Defaults to 1 (full-width).
                  Possible options: 1, 1-2, 1-3

   required:      Whether the field is required. Defaults to false.

   disabled:      Whether the field is disabled. Defaults to false.

   ========================================================================== #}
{% from 'macros/util/format/url.html' import slugify as slugify %}
{% set id = get_unique_id('select_', '_') ~ slugify( value.label ) %}
<div class="form-l_col {{ 'form-l_col-' ~ value.size if value.size else 'form-l_col-1'}}">
    <label class="form-label-header"
           for="{{ id }}">
        {{ value.label }}
        {%- if value.required == false -%}
            <span class="micro-copy">&nbsp;(Optional)</span>
        {%- endif -%}
    </label>
    <div class="cf-select">
        <select id="{{ id }}"
                {{ 'required' if value.required else '' }}
                {{ 'disabled' if value.disabled else '' }}>
            {%- if value.placeholder -%}
                <option value="" disabled selected>{{ value.placeholder }}</option>
            {%- endif -%}
            {% for field in value.fields %}
                <option value="{{ slugify(field) }}">{{ field }}</option>
            {% endfor %}
        </select>
    </div>
</div>
