{# ==========================================================================

   notification.render()

   ==========================================================================

   Description:

   Builds notification markup when given:

   options (optional):         An object used to customize
                               the notification markup.

   options.type:               Type of the notification to display.

   options.text:               Text to display within the notification markup.

   options.additional_classes: Extra classes added to the notification markup.

   ========================================================================== #}
{% macro render(options={}) -%}
    {% set type  =  options.type if options.type in ['success', 'error', 'warning'] %}
    {% set icon_lookup  = {
          'success' : 'approved',
          'error'   : 'delete',
          'warning' : 'error'
        }
    %}
    {% set text  =  options.text | default('This is the default alert.') %}
    {% set notification_type  =  ('cf-notification__' + type) if type %}
    {% set notification_icon_type  =  (' cf-notification_icon__' + type) if type %}
    {% set icon_style              =  (' cf-icon-' + icon_lookup[type] + '-round') if type %}
    {% set additional_classes = options.additional_classes  %}
    <div class="cf-notification {{ notification_type ~ ' ' ~ additional_classes}} ">
        <span class="cf-notification_icon cf-icon {{ notification_icon_type ~  icon_style }} "></span>
        <p class="cf-notification_text">{{ text }}</p>
    </div>
{%- endmacro %}
