/* ==========================================================================
   cfgov-refresh
   Budgeting pages at /budget/.
   ========================================================================== */

.budget_page-content {

    .list__download();

    h4 {
        // Negative offset is to accommodate for the gap added by line-height.
        margin-top: unit( ((@grid_gutter-width * 2) - 15) / @base-font-size-px, em);
    }

    &.funding-request {
        h4 {
            margin-top: unit(35px / @base-font-size-px, em);
        }

        a time {
            color: @black;
            padding-right: .5em;

            .respond-to-min(1024px, {
                display: inline-block;
                width: 11em;
            });
        }
    }

    &.performance-plan {
        sub {
            display: block;
            margin-top: unit(-10px / @base-font-size-px, em);
            margin-bottom: unit(@grid_gutter-width * 2 / @base-font-size-px, em);
        }
    }
}
