/* ==========================================================================
   cfgov-refresh
   header
   ========================================================================== */

/* topdoc
  name: Header
  family: cfgov-header
  patterns:
    - name: Logo
      markup: |
        <a href="/">
            <img class="header_logo u-js-only"
                 src="/static/img/logo_sm-exec.svg"
                 onerror="this.onerror=null;this.src='/static/img/logo_sm-exec.png';"
                 alt="Consumer Financial Protection Bureau"
                 width="237"
                 height="50">
            <noscript>
                <img class="header_logo logo__no-js"
                     src="/static/img/logo_sm-exec.png"
                     alt="Consumer Financial Protection Bureau"
                     width="237"
                     height="50">
            </noscript>
        </a>
      notes:
        - "The `onerror` attribute allows for the usage of an SVG logo for
           browsers that support SVG, with a fallback to PNG for browsers that
           don't."
        - "The `noscript` element displays the PNG fallback in the event that
           JavaScript is not available."
        - "The path in the `src` attribute has been adjusted for these docs."
    - name: Miscellaneous stuff (top right)
      markup: |
        <div style="position: relative; min-height: 80px;">
            <div class="header_misc">
                Contact us: <a class="header_misc_tel" href="tel:8554112372">(855) 411-2372</a>
                <a class="header_misc_es">Español</a>
            </div>
        </div>
      notes:
        - "The outer div with the inline style is only for demonstration
           purposes in these docs, because the `.header_misc` div is positioned
           absolutely."
  tags:
    - cfgov-header
*/

.header_logo {
    width: 190px;
    height: 40px;
    margin: 10px;
    vertical-align: middle; // removes typical inline vertical whitespace

    .respond-to-min(@desktop-min, {
        margin: @grid_gutter-width 0 unit(20px / @base-font-size-px, em) 0;
        height: 50px;
        width: 237px;
    });
}

.header_logo__no-js {
    display: none;
}

.no-js .header_logo__no-js {
    display: block;
}

.header_misc {
    display: none;

    .respond-to-min(@desktop-min, {
        display: block;
        // magic number for top margin aligns text baseline with logo baseline
        margin: 52px
                (@grid_gutter-width / 2)
                (@grid_gutter-width / 2);
        position: absolute;
        top: 0;
        right: @grid_gutter-width / 2;
        color: @gray;
        .webfont-regular();

        &_tel {
            padding-right: @grid_gutter-width / 2;
            border-right: 1px solid @gray-50;
            // Subtracting typical inline horizonal whitespace from right margin.
            margin-right: unit(@grid_gutter-width / 2 / @base-font-size-px, em) - 0.25em;
            .u-link__colors(@darkgray);
        }

        &_es {
            .h5();
            .u-link__no-border();
            color: @gray-20;
            &:hover {
                color: @gray-20;
            }
        }
    });
}

/* topdoc
    name: EOF
    eof: true
*/
