#skip-nav {
    padding: 10px;
    border: 2px solid @green;
    border-top: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    top: -50px;
    left: 10px;
    color: @pacific;
    background: transparent;
    transition: top 1s ease, background .5s linear;
    z-index: 100;
    .h5;
}

#skip-nav:focus {
    position: absolute;
    top: 0;
    background: @white;
    outline: 0;
    -webkit-transition: top .1s ease, background .2s linear;
    transition: top .1s ease, background .2s linear;
}
