{# ==========================================================================

   big_checkbox.render()

   ==========================================================================

   Description: Builds checkboxes fields with a large hit target.

   settings (required):

   settings.legend:     Name of the field.

   settings.fields:     An array of all the checkbox labels.

   options (optional):

   options.required:    Whether the field is required. Defaults to false.

   options.disabled:    Whether the field is disabled. Defaults to false.

   ========================================================================== #}

{% macro render(settings, options) -%}
    {% from 'macros/util/format/url.html' import slugify as slugify %}
    {% set id_slug = options.id or slugify( settings.legend ) %}
    <fieldset class="o-form-input-group
                    {{ 'o-form-input-group__two-column' if settings.fields | length == 2 else '' }}">
        <div class="form-l_col
                    form-l_col-1
                    u-mb0">
            <legend class="form-label-header">
                {{ settings.legend }}
                {%- if options.required -%}
                    * <span class="u-visually-hidden">Required</span>
                {%- endif -%}
            </legend>
        </div>
        {% for field in settings.fields %}
            <div class="m-big-checkbox">
                <div class="m-big-checkbox_container">
                    <input class="a-input"
                           type="checkbox"
                           name="form_{{ id_slug }}"
                           id="input_{{ id_slug }}_{{ loop.index0 }}"
                           value="{{ loop.index0 }}"
                           {{ 'required' if settings.required else '' }}
                           {{ 'disabled' if settings.disabled else '' }}
                           {{ 'checked' if loop.index0|string in settings.value else '' }}>
                    <label class="a-input_label"
                           for="input_{{ id_slug }}_{{ loop.index0 }}">
                        {{ field }}
                    </label>
                </div>
            </div>
        {% endfor %}
    </fieldset>
{%- endmacro %}
