{# ==========================================================================

   breadcrumbs.render()

   ==========================================================================

   Description:

   Create breadcrumb markup when given:

   items:              An array of tuples used to display nav items.
                       format: (href, id, caption)

   ========================================================================== #}

{% macro render(breadcrumbs) %}
    <nav class="breadcrumbs" aria-label="Breadcrumbs">
        {% for crumb in breadcrumbs %}
        <a class="breadcrumbs_link" href="{{ crumb.href if crumb.href else get_protected_url(crumb) }}">
            {{ svg_icon('left') }}
            {{ crumb.title | e }}
        </a>
        {% endfor %}
    </nav>
{% endmacro %}
