{# ==========================================================================

   Call to Action

   ==========================================================================

   Description:

   Creates a call to action when given:

   value.slug_text:      The text to display within the header slug.

   value.paragraph_text: The text to display within the paragraph.

   value.button:         A dictionary containing options used to create
                         the Button markup.

   value.button.url:     A link to a page.
                         Defaults to '/'.

   value.button.text:    The text to display on button.

   ========================================================================== #}

<div class="m-call-to-action">
    {% if value.slug_text %}
    <h2 class="header-slug">
        <span class="header-slug_inner">
            {{ value.slug_text }}
        </span>
    </h2>
    {% endif %}

    {% if value.paragraph_text %}
    <div class="m-call-to-action_text">
        {{ parse_links(value.paragraph_text) | safe }}
    </div>
    {% endif %}

    {% if value.button %}
    <a class="a-btn a-btn__full-on-xs
             {{ 'a-btn__super' if value.button.size == 'large' else '' }}"
       href="{{ value.button.url or '/' }}">
        {{ value.button.text }}
    </a>
    {% endif %}
</div>
