{# ==========================================================================

   call-to-action.render()

   ==========================================================================

   Description:

   Creates a call to action when given:

   value.slug_text:      The text to display within the header slug.

   value.paragraph_text: The text to display within the paragraph.

   value.button:         A dictionary containing options used to create
                            the Button markup.

   value.button.url:     A link to a page.
                            Defaults to '/'.

   value.button.text:    The text to display on button.

   ========================================================================== #}
{% if not value %}
    {% set lipsumText = lipsum(1, false, 10, 25) | safe %}
    {% do global_dict.update(
        {
            'call_to_action': {
                'slug_text':    'Slug Title',
                'button': {
                    'text':   'Call to Action'
                },
                'paragraph_text': lipsumText
            }
        })
    %}
    {% set value = global_dict.call_to_action %}
{% endif %}
<div class="m-call-to-action">
    {% if value.slug_text %}
        <h2 class="header-slug">
                <span class="header-slug_inner">
                    {{ value.slug_text }}
                </span>
        </h2>
    {% endif %}
    {% if value.paragraph_text %}
        <p class="short-desc">
            {{ value.paragraph_text }}
        </p>
    {% endif %}

    {% if value.button %}
        <a class="btn btn__full"
           href="{{ value.button.url or '/' }}">
            {{ value.button.text }}
        </a>
    {% endif %}
</div>
