{# ==========================================================================

   card.render( value )

   ==========================================================================

   Description:

   Creates markup for a Card molecule, which displays an icon, some text,
   and a link.

   value.text:                  Card body text.

   value.link_text:             Card link text.

   value.link_url:              Card link URL.

   ========================================================================== #}

{% macro render( value ) %}
<article class="m-card">
    <div class="m-card_icon">{{ svg_icon( value.icon ) }}</div>
    <p>{{ value.text }}</p>
    <p class="m-card_footer">
        <a href="{{ value.link_url }}">{{ value.link_text }}</a>
    </p>
</article>
{% endmacro %}
