{# ==========================================================================

   card.render( value )

   ==========================================================================

   Description:

   Creates markup for a Card molecule, which displays an icon, some text,
   and a link.

   value.text:                  Card body text.

   value.link_text:             Card link text.

   value.link_url:              Card link URL.

   ========================================================================== #}

{% macro render( value ) %}
<div class="o-card-group">
    {{ svg_icon( value.icon ) }}
    <p>{{ value.text }}</p>
    <a href="{{ value.link_url }}">{{ value.link_text }}</a>
</div>
{% endmacro %}
