{# ==========================================================================

   Contact Address

   ==========================================================================

   Description:

   Create a Contact-Address molecule.
   See [GHE]/flapjack/Modules-V1/wiki/Contact:-Address

   value:          Object defined from a StreamField block.

   value.label:    A string containing a label for the address.

   value.title:    (Optional) A string containing an address name.

   value.street:   A string containing a street address.

   value.city:     A string containing a city.

   value.state:    A string containing a state.

   value.zip_code: A string containing a zip code.

   ========================================================================== #}

<div class="m-contact m-contact-address" data-qa-hook="contact-address">
    <span class="h5">{{ svg_icon('mail') }} {{ value.label }}</span>

    <p>
        {% if value.title %}
            <span>{{ value.title }}</span><br>
        {% endif %}
        <span>{{ value.street }}</span><br>
        <span>{{ value.city }}</span>,
        <span>{{ value.state }}</span>
        <span>{{ value.zip_code }}</span>
    </p>
</div>
