{# ==========================================================================

   contact_address.render()

   ==========================================================================

   Description:

   Create a Contact-Address molecule.
   See [GHE]/flapjack/Modules-V1/wiki/Contact:-Address

   address:          An object containing address information.
   address.label:    A string containing a label for the address.
   address.title:    A string containing an address name.
   address.street:   A string containing a street address.
   address.city:     A string containing a city.
   address.state:    A string containing a state.
   address.zip_code: A string containing a zip code.

   ========================================================================== #}

<div class="m-contact-address">
    <span class="cf-icon cf-icon-mail"></span>
    <span class="h5">{{ value.label }}</span>

    <p>
        {% if value.title %}
            <span>{{ value.title }}</span><br>
        {% endif %}
        <span>{{ value.street }}</span><br>
        <span>{{ value.city }}</span>,
        <span>{{ value.state }}</span>
        <span>{{ value.zip_code }}</span>
    </p>
</div>


