{# ==========================================================================

   Contact Phone

   ==========================================================================

   Description:

   Create a Contact-Phone molecule.
   See [GHE]/flapjack/Modules-V1/wiki/Contact:-Phone

   value:                  Object defined from a StreamField block.

   value.fax:              (Optional) A fax number.

   value.phones:           An array containing objects with phone number details.

   value.phones[i].number: A phone number.

   value.phones[i].vanity: (Optional) An associated vanity phone number.

   value.phones[i].tty:    (Optional) An associated TTY/TDD number.

   ========================================================================== #}

{% from 'macros/util/format/contact.html' import format_phone as format_phone %}
<div class="m-contact m-contact-phone" data-qa-hook="contact-phone">
    {# TODO: Update fax param name to is_fax to make clear it's a boolean. #}
    {% if value.fax == true %}
        {% set icon = 'fax' %}
        {% set label = 'Fax' %}
    {% else %}
        {% set icon = 'phone' %}
        {% set label = 'Phone' %}
    {% endif %}
    <span class="h5">{{ svg_icon(icon) }} {{ label }}</span>
    {% for phone in value.phones %}
    <p>
        <b>
            {{ format_phone(phone.number) }}
            {{ 'Ext. ' ~ phone.extension if phone.extension else '' }}
        </b>
        {% if phone.vanity %}
        <br>
        <span>{{ phone.vanity }}</span>
        {% endif %}
        {% if phone.tty %}
        <br>
        <span>TTY/TDD: {{ format_phone(phone.tty) }}{{ ' Ext. ' ~ phone.tty_ext if phone.tty_ext else '' }}</span>
        {% endif %}
    </p>
    {% endfor %}
</div>
