{# ==========================================================================

   contact_email.render()

   ==========================================================================

   Description:

   Create a Contact-Email molecule.
   See [GHE]/flapjack/Modules-V1/wiki/Contact:-Email

   emails: An array containing the email addresses.

   ========================================================================== #}


<div class="m-contact-email">
    <span class="cf-icon cf-icon-email"></span>
    <span class="h5">Email</span>
    <p>
        {% for email in value.emails %}
            <a href="mailto:{{ email.url }}">
                {{ email.url }}
            </a><br>
        {% endfor %}
    </p>
</div>

