{# ==========================================================================

   contact_phone.render()

   ==========================================================================

   Description:

   Create a Contact-Phone molecule.
   See [GHE]/flapjack/Modules-V1/wiki/Contact:-Phone

   phones:                   An array containing phone number information.
   phones.number:            A phone number.
   phones.vanity (Optional): An associated vanity phone number.
   phones.tty (Optional):    An associated TTY/TDD number.

   is_fax (Optional):        Boolean for phone type.
                             Is a fax number if value is `true`.
                             Default is `false`.

   ========================================================================== #}

{% from 'macros/util/format/contact.html' import format_phone as format_phone %}
<div class="m-contact-phone">
    {% if value.fax == true %}
        {% set icon = 'cf-icon-fax' %}
        {% set label = 'Fax' %}
    {% else %}
        {% set icon = 'cf-icon-phone' %}
        {% set label = 'Phone' %}
    {% endif %}

    <span class="cf-icon {{ icon }}"></span>
    <span class="h5">{{ label }}</span>

    <p>
        {% for phone in value.phones %}
            <span>{{ format_phone(phone.number) }}</span>
            {% if phone.vanity %}
                | <span>{{ format_phone(phone.vanity) }}</span>
            {% endif %}
            {% if phone.tty %}
                <br>TTY/TDD: {{ format_phone(phone.tty) }}<br>
            {% endif %}
        {% endfor %}
    </p>
</div>

