{# ==========================================================================

   Contact Phone

   ==========================================================================

   Description:

   Create a Contact-Phone molecule.
   See [GHE]/flapjack/Modules-V1/wiki/Contact:-Phone

   value:                  Object defined from a StreamField block.

   value.fax:              (Optional) A fax number.

   value.phones:           An array containing objects with phone number details.

   value.phones[i].number: A phone number.

   value.phones[i].vanity: (Optional) An associated vanity phone number.

   value.phones[i].tty:    (Optional) An associated TTY/TDD number.

   ========================================================================== #}

{% from 'macros/util/format/contact.html' import format_phone as format_phone %}
<div class="m-contact m-contact-phone" data-qa-hook="contact-phone">
    {# TODO: Update fax param name to is_fax to make clear it's a boolean. #}
    {% if value.fax == true %}
        {% set icon = 'cf-icon-fax' %}
        {% set label = 'Fax' %}
    {% else %}
        {% set icon = 'cf-icon-phone' %}
        {% set label = 'Phone' %}
    {% endif %}
    <span class="cf-icon {{ icon }}"></span>
    <span class="h5">{{ label }}</span>
    {% for phone in value.phones %}
    <p>
        <b>{{ format_phone(phone.number) }}</b>
        {% if phone.vanity %}
        <span>{{ format_phone(phone.vanity) }}</span>
        {% endif %}
        {% if phone.tty %}
        <span>TTY/TDD: {{ format_phone(phone.tty) }}<span>
        {% endif %}
    </p>
    {% endfor %}
</div>
