{# ==========================================================================

   enforcement_action_metadata.render()

   ==========================================================================

   Description:

   Creates related metadata markup from an EnforcementActionPage
   The following are available specifically on this page type:

   sidebar_header - CharField, defaults to Action Details
   court - CharField
   institution_type - CharField, with choices: Nonbank & Bank
   status - CharField, with choices:
        Post Order/Post Judgment
        Expired/Terminated/Dismissed
        Pending Litigation
   docker_number - CharField

   ========================================================================== #}

{% macro render() %}

<div class="m-related-metadata block block__flush-top">
    <header class="m-slug-header">
        <h2 class="a-heading">
            {{ page.sidebar_header }}
        </h2>
    </header>
    <div class="m-related-metadata_item-container">
        <h3 class="h4">
          Category
        </h3>
        {{_categories(page.categories)}}
    </div>
    {% if page.court %}
        <div class="m-related-metadata_item-container">
            <h3 class="h4">
              Court 
            </h3>
            {{_text(page.court)}}
        </div>
    {% endif %}
    <div class="m-related-metadata_item-container">
        <h3 class="h4">
          Institution Type 
        </h3>
        {{_text(page.institution_type)}}
    </div>
    <div class="m-related-metadata_item-container">
        <h3 class="h4">
          Status 
        </h3>
        {{_text(page.status)}}
    </div>
    <div class="m-related-metadata_item-container">
        <h3 class="h4">
          Docket Number
        </h3>
        {{_text(page.docket_number)}}
    </div>
    <div class="m-related-metadata_item-container">
        <h3 class="h4">
          Topics 
        </h3>
        {{_topics(page.tags)}}
    </div>
    <div class="m-related-metadata_item-container">
        <h3 class="h4">
          Date Filed
        </h3>
        {{_date(page.date_filed)}}
    </div>
</div>
{% endmacro %}

{# ==========================================================================

   _list()

   ==========================================================================

   Description:

   Creates related metadata list markup when given:

   list:              A list of dictionaries containing links.

   is_related_topics: Boolean indicating whether the list is a
                      Related Topics list. Defaults to false.

   ========================================================================== #}

{% macro _list(list, is_related_topics=false) %}
<ul class="m-list
           m-list__unstyled
           m-list__links
           {{ 'm-related-metadata_topics' if is_related_topics else '' }} ">
    {% for link in list.links %}
    <li class="m-list_item">
        {% if link.url %}
            <a href="{{ link.url }}" class="m-list_link">
                {{ link.text }}
            </a>
        {% else %}
            <span class="m-list_link">{{ link.text }}</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# ==========================================================================

   _date()

   ==========================================================================

   Description:

   Creates related metadata date markup when given:

   date: A string representing a date.

   ========================================================================== #}

{% macro _date(date) %}
<p class="a-date">
    {% import 'macros/time.html' as time %}
    {{ time.render(date, {'date':true}) }}
</p>
{% endmacro %}

{# ==========================================================================

   _text()

   ==========================================================================

   Description:

   Creates related metadata text markup when given:

   text: A string representing text.

   ========================================================================== #}

{% macro _text(text) %}
    {{ text | safe }}
{% endmacro %}

{# ==========================================================================

   _topics()

   ==========================================================================

   Description:

   Creates related metadata related topics markup

   list: An object holding the tag information.

   ========================================================================== #}

{% macro _topics(list) %}
    {{ _list( page.related_metadata_tags(), true ) }}
{% endmacro %}

{# ==========================================================================

   _categories()

   ==========================================================================

   Description:

   Creates related metadata categories markup

   categories_check: A dict holding a string heading and a show_categories bool

   ========================================================================== #}

{% macro _categories(categories_check) %}
    <ul class="m-list m-list__unstyled">
    {% for category in page.categories.all() %}
    <li class="m-list_item">
        <span>{{ category.get_name_display() }}</span>
    </li>
    {% endfor %}
</ul>
{% endmacro %}
