{# ==========================================================================

   enforcement_action_metadata.render()

   ==========================================================================

   Description:

   Creates related metadata markup from an EnforcementActionPage
   The following are available specifically on this page type:

   sidebar_header - CharField, defaults to Action Details
   court - CharField
   defendant_type - CharField, with choices: Nonbank, Bank, Individual
   statuses - relation of EnforcementActionStatus, which each have:
        institution (CharField), status (CharField with choices)
   docket_numbers - relation of EnforcementActionDocket, which each have:
        docket_number (CharField)

   The context has been updated with the following:
   total_consumer_relief - Decimal - sum of consumer relief for each
       final disposition associated with this action
   total_cmp - Decimal - sum of civil money penalties for each
       final disposition associated with this action
   statutes - list of strings - Deduped statutes violated in this action
   products - list of strings - Products at issue in this action
   at_risk_groups - list of strings - Specific consumer groups affected
       by this action

   ========================================================================== #}

{% macro render() %}

{% set show_enf_data = False %}
<div class="m-related-metadata block block__flush-top">
    <header class="m-slug-header">
        <h2 class="a-heading">
          Action Details
        </h2>
    </header>
    <div class="m-related-metadata_item-container">
        <h3 class="h4">
          Forum
        </h3>
        {{_categories(page.categories)}}
    </div>
    {% if page.court %}
        <div class="m-related-metadata_item-container">
            <h3 class="h4">
              Court
            </h3>
            {{page.court}}
        </div>
    {% endif %}
    <div class="m-related-metadata_item-container">
        <h3 class="h4">
          Docket number
        </h3>
        {% for docket in page.docket_numbers.all() %}
            <p>{{docket.docket_number}}</p>
        {% endfor %}
    </div>
    {% if page.initial_filing_date %}
    <div class="m-related-metadata_item-container">
        <h3 class="h4">
          Initial filing date
        </h3>
        {{_date(page.initial_filing_date)}}
    </div>
    {% endif %}
    <div class="m-related-metadata_item-container m-related-metadata_status">
        <h3 class="h4">
          Status
        </h3>
        {% for action_status in page.statuses.all() %}
            <div>
                {{action_status.get_status_display()}}
            </div>
        {% endfor %}
        <a
          class="status-definitions"
          href="/enforcement/actions/enforcement-action-definitions/"
          target="_blank"
          rel="noopener referrer"
        >See status definitions</a>
    </div>
    {% if show_enf_data and statutes|length > 0 %}
      <div class="m-related-metadata_item-container">
          <h3 class="h4">
            Statutes
          </h3>
          {{_list(statutes)}}
      </div>
    {% endif %}
    {{_dispositions(page.enforcement_dispositions.all())}}
    {% if show_enf_data and defendant_types|length > 0 %}
      <div class="m-related-metadata_item-container">
          <h3 class="h4">
            Defendant/Respondent type
          </h3>
          {% for dt in defendant_types %}
              <p>{{dt}}</p>
          {% endfor %}
          <div>
          </div>
      </div>
    {% endif %}
    {% if show_enf_data and products|length > 0 %}
      <div class="m-related-metadata_item-container">
          <h3 class="h4">
            Products
          </h3>
          {{_list(products)}}
      </div>
    {% endif %}

    {% if show_enf_data and at_risk_groups|length > 0 %}
      <div class="m-related-metadata_item-container">
          <h3 class="h4">
            At Risk Groups
          </h3>
          {{_list(at_risk_groups)}}
      </div>
    {% endif %}


</div>
{% endmacro %}

{# ==========================================================================

   _list()

   ==========================================================================

   Description:

   Creates related metadata list markup when given:

   list:              A list of dictionaries containing links.

   is_related_topics: Boolean indicating whether the list is a
                      Related Topics list. Defaults to false.

   ========================================================================== #}

{% macro _list(list, is_related_topics=false) %}
<ul class="m-list
           m-list__unstyled
           m-list__links
           m-related-metadata_topics">
    {% for item in list %}
    <li class="m-list_item">
        <span class="m-list_link">{{item}}</span>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# ==========================================================================

   _date()

   ==========================================================================

   Description:

   Creates related metadata date markup when given:

   date: A string representing a date.

   ========================================================================== #}

{% macro _date(date) %}
<p class="a-date">
    {% import 'macros/time.html' as time %}
    {{ time.render(date, {'date':true}) }}
</p>
{% endmacro %}


{# ==========================================================================

   _dispositions(dispositions)

   ==========================================================================

   Description:

   Renders metadata side based on list of dispositions

   dispositions: List of dispositions associated with an enforcement page

   ========================================================================== #}
{% macro _dispositions(dispositions) %}
    {% if show_enf_data and dispositions|length > 0 %}
      <div class="m-related-metadata_item-container">
          <h3 class="h4">
            Total consumer relief
          </h3>
          <div>
            ${{'{:,}'.format(total_consumer_relief)}}
          </div>
      </div>
      <div class="m-related-metadata_item-container">
          <h3 class="h4">
            Total civil money penalties
          </h3>
          <div>
            ${{'{:,}'.format(total_cmp)}}
          </div>
      </div>
    {% endif %}
{% endmacro %}


{# ==========================================================================

   _categories()

   ==========================================================================

   Description:

   Creates related metadata categories markup

   categories_check: A dict holding a string heading and a show_categories bool

   ========================================================================== #}

{% macro _categories(categories_check) %}
    <ul class="m-list m-list__unstyled">
    {% for category in page.categories.all() %}
    <li class="m-list_item">
        <span>{{ category.get_name_display() }}</span>
    </li>
    {% endfor %}
</ul>
{% endmacro %}
