{# ==========================================================================

   enforcement_action_metadata.render()

   ==========================================================================

   Description:

   Creates related metadata markup when given:

   value:                       Object defined from a StreamField block.

   value.slug:                  A string of text to use as a header
                                for the entire module.

   value.date_filed:            A date object

   value.(court,                String values derieved from
          status,               Char and Choice blocks
          institution_type,
          docket_number)

   value.(topics,               Boolean values to determine whether
         categories)            to show the pages' topics/categories

   ========================================================================== #}

{% macro render(value) %}

{# This references each of the private macros,
   so _date(), _text(), and topics()
   are called for the appropriate keys #}
{% set macro_lookup = {
    'date_filed':   _date,
    'topics': _topics,
    'categories': _categories,
    'institution_type':   _text,
    'status':   _text,
    'docket_number': _text,
    'court': _text,
} %}

<div class="m-related-metadata">
    <header class="m-slug-header">
        <h2 class="a-heading">
            {{ value.slug }}
        </h2>
    </header>
    {% for key, val in value.items() %}
        {% if key == 'topics' and not value.topics %}
            {% continue %}
        {% elif key == 'categories' and not value.categories %}
            {% continue %}
        {% elif key == 'slug' %}
            {% continue %}
        {% endif %}
        <div class="m-related-metadata_item-container">
            <h3 class="h4">
              {{key.capitalize() | replace("_", " ")}}
            </h3>
            {{macro_lookup[key](val)}}
        </div>
    {% endfor %}
</div>
{% endmacro %}

{# ==========================================================================

   _list()

   ==========================================================================

   Description:

   Creates related metadata list markup when given:

   list:              A list of dictionaries containing links.

   is_related_topics: Boolean indicating whether the list is a
                      Related Topics list. Defaults to false.

   ========================================================================== #}

{% macro _list(list, is_related_topics=false) %}
<ul class="m-list
           m-list__unstyled
           m-list__links
           {{ 'm-related-metadata_topics' if is_related_topics else '' }} ">
    {% for link in list.links %}
    <li class="m-list_item">
        {% if link.url %}
            <a href="{{ link.url }}" class="m-list_link">
                {{ link.text }}
            </a>
        {% else %}
            <span class="m-list_link">{{ link.text }}</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# ==========================================================================

   _date()

   ==========================================================================

   Description:

   Creates related metadata date markup when given:

   date: A string representing a date.

   ========================================================================== #}

{% macro _date(date) %}
<p class="a-date">
    {% import 'macros/time.html' as time %}
    {{ time.render(date, {'date':true}) }}
</p>
{% endmacro %}

{# ==========================================================================

   _text()

   ==========================================================================

   Description:

   Creates related metadata text markup when given:

   text: A string representing text.

   ========================================================================== #}

{% macro _text(text) %}
    {{ text | safe }}
{% endmacro %}

{# ==========================================================================

   _topics()

   ==========================================================================

   Description:

   Creates related metadata related topics markup

   list: An object holding the tag information.

   ========================================================================== #}

{% macro _topics(list) %}
    {{ _list( page.related_metadata_tags(), true ) }}
{% endmacro %}

{# ==========================================================================

   _categories()

   ==========================================================================

   Description:

   Creates related metadata categories markup

   categories_check: A dict holding a string heading and a show_categories bool

   ========================================================================== #}

{% macro _categories(categories_check) %}
    <ul class="m-list m-list__unstyled">
    {% for category in page.categories.all() %}
    <li class="m-list_item">
        <span>{{ category.get_name_display() }}</span>
    </li>
    {% endfor %}
</ul>
{% endmacro %}
