{# ==========================================================================

   Expandable

   ==========================================================================

   Description:

   Create an Expandable molecule when given:

   value.label:       Label you want on the Expandable.
                      Default is an empty string.

   value.paragraph:   Intro paragraph text.

   value.content:     Main content of the expandable.

   value.is_bordered: Whether the Expandable has a bottom border or not.
                      Default is true.

   value.is_midtone:  Whether the Expandable is gray or not.
                      Default is false.

   value.is_expanded: Whether the Expandable is expanded or not.
                      Default is false.

   TODO: Add description to `filter` param, and possibly reconsider name to
         avoid confusion w/ the filter controls that use it.
   ========================================================================== #}

{% macro expandable(value, filter=false) %}
<div class="m-expandable
            m-expandable__expanded
            {{ 'm-expandable__borders' if value.is_bordered else '' }}
            {{ 'm-expandable__midtone' if value.is_midtone else '' }}"
            {{ 'data-state=expanded' if value.is_expanded else '' }}>

    <button class="m-expandable_target">
        <div class="m-expandable_header">
            <span class="m-expandable_header-left
                         m-expandable_label">
                {{ value.label }}
            </span>
            <span class="m-expandable_header-right
                         m-expandable_link
                         u-hidden">
                <span class="m-expandable_cue
                             m-expandable_cue-open">
                    <span class="m-expandable_cue-label">Show</span>
                    <span class="cf-icon cf-icon-plus-round"></span>
                </span>
                <span class="m-expandable_cue
                             m-expandable_cue-close">
                    <span class="m-expandable_cue-label">Hide</span>
                    <span class="cf-icon cf-icon-minus-round"></span>
                </span>
            </span>
        </div>
    </button>
    <div class="m-expandable_content"
            {{ 'aria-expanded=true' if value.is_expanded else '' }}>
        <div class="m-expandable_content-animated">
            {% if filter %}
                {{ caller() }}
            {% else %}
                {% for block in value.content %}
                    {% if 'paragraph' in block.block_type %}
                        {{ block | safe }}
                    {% else %}
                        {{ render_stream_child(block) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}

{% if value %}
    {{ expandable(value) }}
{% endif %}
