{# ==========================================================================

   Featured Menu Content

   ==========================================================================

   Description:

   Create a featured menu content molecule. See
   [GHE]/flapjack/Modules-V1/wiki/Featured-Menu-Content

   value:                       Object defined from a StreamField block.

   value.link:                  A link object, containing:

   value.link.page_link:        A Wagtail page link.

   value.link.external_link:    URL for page outside Wagtail.

   value.link.link_text:        A string for the text of the link.

   value.body:                  Body text.

   value.image:                 An image object

   ========================================================================== #}

{% macro render( value ) %}
{% if value.image and value.image.upload %}
    {% set featured_image = image(value.image.upload, 'original') %}
    {% set img_src = featured_image.url if featured_image.url else '' %}
{% else %}
    {% set featured_image = value.image %}
    {% set img_src = static(featured_image.url) if featured_image.url else '' %}

{% endif %}
{% if value.link %}
    {% set link = value.link %}
    {% set link_url = link.page_link.url if link.page_link else link.external_link %}
    {% set link_text = link.link_text %}
{% endif %}

<aside class="m-featured-menu-content">
    <a class="m-featured-menu-content_link" href="{{ link_url }}">
        {% if img_src %}
        <img src="{{ img_src }}"
             alt=""
             height="150"
             width="270">
        {% endif %}
        <div>
          {{ link_text }}
        </div>
    </a>
    <div>
        {{ value.body }}
    </div>
</aside>
{% endmacro %}
