{# ==========================================================================

   featured_content

   ==========================================================================

   Description:

   Create a featured content molecule.
   See [GHE]/flapjack/Modules-V1/wiki/Featured-Content-Module

   value:                An object with the following options for value.

   value.heading:        Heading text.

   value.body:           Body text.

   value.post:           Page being featured.

   value.show_post_link: Flag to render the post link

   value.post_link_text: String for the link text of the displayed post

   value.macro_link:     If the FCM is rendered outside of wagtail,
                         this is a simpler way of adding a link.
                         This is an object made up of url and text.

   value.links:          If the FCM is rendered in wagtail,
                         this returns the links.

   value.video:          This object gets passed to video-player.html
                         By default, the following values should exist:
                           'is_fcm': true,
                           'height': '320',
                           'width':  '568'
                         Wagtail should set the following values:
                           'id', 'url'

   value.image:          A image object containing the URL & alt text for screenreaders
                         of the image to be placed adjacent to the text.

   value.links:          A collection of links with URL & Text.

   ========================================================================== #}

{% macro render(value) %}
{% import 'macros/category-icon.html' as category_icon %}

<section class="featured-content-module">
    <div class="featured-content-module_text">
        <p class="h4">
            {{ category_icon.render( fcm_label(value.category) ) | safe }}
            {{ fcm_label( value.category ) }}
        </p>
        <h2>
            {{ value.heading }}
        </h2>
        <p>
            {{ parse_links(value.body) |safe }}
        </p>
        <ul class="list list__links">
            {% if value.show_post_link and value.post %}
                <li class="list_item">
                  <a class="list_link" href="{{ value.post.url_path }}">
                    {{ value.post_link_text }}
                  </a>
                </li>
            {% endif %}
            {% if value.macro_link %}
              <li class="list_item">
                  <a class="list_link" href="{{ value.macro_link.url }}">
                      {{ value.macro_link.text }}
                  </a>
              </li>
            {% endif %}
            {% for link in value.links %}
                <li class="list_item">
                    <a class="list_link" href="{{ link.url }}">
                        {{ link.text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if value.video.url and value.video.id %}
        <div class="featured-content-module_visual">
            {% import 'macros/video-player.html' as video_player %}
            {{ video_player.render(value) }}
        </div>
    {% elif value.image %}
        <div class="featured-content-module_visual">
            {% set photo = image(value.image.upload, 'original') %}
            <img class="featured-content-module_img"
                 src="{{ photo.url }}"
                 alt="{{ value.image.alt }}">
        </div>
    {% endif %}
</section>
{% endmacro %}
