{# ==========================================================================

   featured_content.render()

   ==========================================================================

   Description:

   Create a featured content molecule.
   See [GHE]/flapjack/Modules-V1/wiki/Featured-Content-Module

   value:                 Object defined from a StreamField block.

   value.heading:         Heading text.

   value.body:            Body text.

   value.show_post_link:  Boolean flag for whether to render the post link.

   value.post:            (Optional) Page being featured.

   value.post_link_text:  String for the link text of the displayed post.

   value.macro_link:      (Optional) Object used if the FCM is
                          rendered outside of wagtail,
                          this is a simpler way of adding a link.

   value.macro_link.url:  String for URL of the link.

   value.macro_link.text: String for text of the link.

   value.links:           If the FCM is rendered in wagtail,
                          this returns the array of links.

   value.links[i].url:    String for URL of the link.

   value.links[i].text:   String for text of the link.

   value.video:           (Optional)
                          This object gets passed to macros/video-player.html.
                          By default, the following values should exist:
                            'is_fcm': true,
                            'height': '320',
                            'width':  '568'
                          Wagtail should set the following values:
                            'id', 'url'

   value.video.url:       A String used to denote the url of the video.

   value.video.id:        A String used to denote the id of the video.

   value.image:           (Optional) An ImageBasic atom object containing:

   value.image.upload:    A CFGOVImage object.

   value.image.alt:       String for alt text for screenreaders.

   ========================================================================== #}

{% macro render(value) %}
{% import 'macros/category-icon.html' as category_icon %}

{# This atomic molecule does not use a m- prefix
   because it comes from Capital Framework. #}
<section class="featured-content-module">
    <div class="featured-content-module_text">
        <div class="category-slug">
            {{ category_icon.render( fcm_label(value.category) ) | safe }}
            {{ fcm_label( value.category ) }}
        </div>
        <h2>
            {{ value.heading }}
        </h2>
        <p>
            {{ parse_links(value.body) | safe }}
        </p>
        <ul class="list list__links">
            {% if value.show_post_link and value.post %}
                <li class="list_item">
                    <a class="list_link" href="{{ get_protected_url(value.post) }}">
                        {{ value.post_link_text }}
                    </a>
                </li>
            {% endif %}
            {% if value.macro_link %}
                <li class="list_item">
                    <a class="list_link" href="{{ value.macro_link.url }}">
                        {{ value.macro_link.text }}
                    </a>
                </li>
            {% endif %}
            {% for link in value.links %}
                <li class="list_item">
                    <a class="list_link" href="{{ link.url }}">
                        {{ link.text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if value.video and
          value.video.url and
          value.video.id %}
        {% import 'macros/video-player.html' as video_player %}
        {{ video_player.render(value) }}
    {% elif value.image %}
        <div class="featured-content-module_visual">
            {% set photo = image(value.image.upload, 'original') %}
            <img class="featured-content-module_img"
                 src="{{ photo.url }}"
                 alt="{{ image_alt_value(value.image) }}">
        </div>
    {% endif %}
</section>
{% endmacro %}
