{# ==========================================================================

   Featured Menu Content

   ==========================================================================

   Description:

   Create a featured menu content molecule. See
   [GHE]/flapjack/Modules-V1/wiki/Featured-Menu-Content

   value:               Object defined from a StreamField block.

   value.link:          A tuple of link info, containing:

   value.link.url:      A string for the URL of the link.

   value.link.text:     A string for the text of the link.

   value.body:          Body text.

   value.image_src:     A string for the image source URI.

   ========================================================================== #}

{% macro render( value ) %}
<aside class="m-featured-menu-content">
    <a class="m-featured-menu-content_link" href="{{ value.link.url }}">
        <img src="{{ static(value.image_src) }}"
             alt=""
             height="150"
             width="270">
        <div>
          {{ value.link.text }}
        </div>
    </a>
    <p>
        {{ value.body }}
    </p>
</aside>
{% endmacro %}
