{# ==========================================================================

   Form Field With Button

   ==========================================================================

   Description:

   Creates a form field with text when given:

   value:                   Object defined from a StreamField block.

   value.label:             String for form input label.

   value.required:          Boolean on whether the input is required or not.

   value.type:              String for the type of HTML input.

   value.placeholder:       String for the placeholder of HTML input.

   value.info:              String for the text information to display
                            above the HTML input.

   value.btn_text:          String for the text for the submit button.

   ========================================================================== #}

<div class="m-form-field-with-button" data-qa-hook="formfield-with-button">
    {% set form_id = ('form_' ~ range(1, 100) | random) %}
    <div class="form-group">
        <label for="{{ form_id }}">
            <b>{{ value.label }}</b>
            {# TODO: Update required param name to is_required
                     to make clear it's a boolean. #}
            {{ _('(required)') if value.required else '' }}
        </label>

        <input id="{{ form_id }}"
               type="{{ value.type }}"
               placeholder="{{ value.placeholder }}"
               name="{{ field or '' }}"
               class="m-form-field-with-button_field a-text-input"
               {{ 'required' if value.required else '' }}>
    </div>
    {{ parse_links(value.info) | safe }}
    <input class="a-btn a-btn__full-on-xs" type="submit" value="{{ value.btn_text }}">
</div>
