{# ==========================================================================

   form_field_with_button.render()

   ==========================================================================

   Description:

   Creates a form field with text when given:

   value:  An object used to customize the markup.

   value.btn_text:          The text for the submit button.

   value.field.required:    Boolean indicating whether the field is required.

   value.field.id:          The id for the input.

   value.field.info:        The text information to display above the field.

   value.field.label:       The label for the input.

   value.field.placeholder: The placeholder used for the input.

   ========================================================================== #}

<div class="m-form-field-with-button">
    <div class="form-group">
        <label for="{{ value.id }}">
            <b>{{ value.label }}</b>
            {{ '(required)' if value.required else '' }}
        </label>
        <input id="{{ value.id }}"
               type="{{ value.type }}"
               placeholder="{{ value.placeholder }}"
               name="{{ value.name }}"
               class="m-form-field-with-button_field"
               {{ 'required' if value.required else '' }}>
    </div>
    <p>{{ parse_links(value.info) | safe }}</p>
    <input class="btn btn__full" type="submit" value="{{ value.btn_text }}">
</div>

