{# ==========================================================================

   global_eyebrow.render()

   ==========================================================================

   Description:

   Creates markup for Global Eyebrow molecule.

   is_horizontal: Whether the molecule appears horizontally or vertically.
                  defaults to false.
   language:      The page's language value (used to display different
                  information on Spanish pages). Defaults to English.

   ========================================================================== #}
{% macro render( is_horizontal=false, language='en' ) %}
{% import 'atoms/tagline.html' as tagline with context %}
    <div class="m-global-eyebrow
                m-global-eyebrow__{{ 'horizontal' if is_horizontal
                                      else 'list' }}">
        <div class="wrapper
                    {{ 'wrapper__match-content' if is_horizontal else '' }}">
            {{ tagline.render() }}
            <div class="m-global-eyebrow_actions">
                <ul class="m-list
                           m-list__horizontal
                           m-global-eyebrow_languages">
                    <li class="m-list_item">
                        {% if language == 'es' %}
                        <a href="/" hreflang="en" lang="en">
                            English
                        </a>
                        {% else %}
                        <a href="/es/" hreflang="es" lang="es">
                            Español
                        </a>
                        {% endif %}
                    </li>
                    <li class="m-list_item">
                        <a href="/language/zh/" hreflang="zh" lang="zh">
                            中文
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/vi/" hreflang="vi" lang="vi">
                            Tiếng Việt
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/ko/" hreflang="ko" lang="ko">
                            한국어
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/tl/" hreflang="tl" lang="tl">
                            Tagalog
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/ru/" hreflang="ru" lang="ru">
                            Pусский
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/ar/" hreflang="ar" lang="ar">
                            العربية
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/ht/" hreflang="ht" lang="ht">
                            Kreyòl Ayisyen
                        </a>
                    </li>
                </ul>
                <span class="m-global-eyebrow_phone">
                    <a href="tel:+1-855-411-2372">(855) 411-2372</a>
                </span>
            </div>
        </div>
    </div>
{% endmacro %}
