{# ==========================================================================

   Global Search

   ==========================================================================

   Description:

   Creates a global search box.

   ========================================================================== #}



{% macro render( language='en' ) %}

<div class="m-global-search"
     data-js-hook="behavior_flyout-menu">
    <div class="m-global-search_fallback">
        <a href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=">
            {{ _('Search') }}
        </a>
    </div>
    <button class="m-global-search_trigger"
            data-js-hook="behavior_flyout-menu_trigger"
            aria-label="{{ _('Search') }}">
        <span class="m-global-search_trigger-open-label">
            {{ svg_icon('search') }}
            <span class="u-hide-on-mobile">{{ _('Search') }}</span>
        </span>
        <span class="m-global-search_trigger-close-label">
            {{ svg_icon('delete') }}
            <span class="u-hide-on-mobile">{{ _('Close') }}</span>
        </span>
    </button>
    <div class="m-global-search_content
                u-hidden"
         data-js-hook="behavior_flyout-menu_content"
         aria-expanded="false"
         role="search">
        <form class="m-global-search_content-form"
              action="https://search.consumerfinance.gov/search"
              method="get">
            {#
                The following two inputs are required by the search portal.
                See: https://search.gov/manual/code.html
            #}
            <input type="hidden"
                   name="utf8"
                   value="✓">
            <input type="hidden"
                   id="affiliate"
                   name="affiliate"
                   value="{{ 'cfpb_es' if language == 'es' else 'cfpb' }}">

            <div class="o-form__input-w-btn">
               <div class="o-form__input-w-btn_input-container">
                   <div class="m-btn-inside-input
                               input-contains-label">
                       <label for="m-global-search_query"
                              class="input-contains-label_before
                                     input-contains-label_before__search">
                            {{ svg_icon('search') }}
                            <span class="u-visually-hidden">{{ _('Search') }}</span>
                       </label>
                       <input id="m-global-search_query"
                              name="query"
                              type="text"
                              title="{{ _('Search the CFPB') }}"
                              class="a-text-input"
                              value=""
                              placeholder="{{ _('Search the CFPB') }}">
                       <label for="m-global-search_query"
                              class="input-contains-label_after
                                     input-contains-label_after__clear
                                     u-hidden">
                            {{ svg_icon('delete') }}
                            <span class="u-visually-hidden">{{ _('Clear search') }}</span>
                       </label>
                   </div>
               </div>
               <div class="o-form__input-w-btn_btn-container">
                   <button class="a-btn">{{ _('Search') }}</button>
               </div>
            </div>

            <div class="m-global-search_content-suggestions">
                <p class="h5">{{ _('Suggested search terms:') }}</p>
                <ul class="m-list m-list__horizontal">
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=regulations">
                            {{ _('Regulations') }}
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=compliance+guides">
                            {{ _('Compliance guides') }}
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=mortgage">
                            {{ _('Mortgage') }}
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=college+loans">
                            {{ _('College loans') }}
                        </a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
{% endmacro %}
