{# ==========================================================================

   Global Search

   ==========================================================================

   Description:

   Creates a global search box.

   ========================================================================== #}



{% macro render( language='en' ) %}

{% set search_text = 'Buscar' if language == 'es' else 'Search' %}
{% set close_text = 'Cerrar' if language == 'es' else 'Close' %}
{% set search_placeholder = 'Buscar la CFPB' if language == 'es' else 'Search the CFPB' %}

<div class="m-global-search"
     data-js-hook="behavior_flyout-menu">
    <button class="m-global-search_trigger"
            data-js-hook="behavior_flyout-menu_trigger">
        <span class="m-global-search_trigger-open-label">
            {{ svg_icon('search') }}
            <span class="u-hide-on-mobile">{{ search_text }}</span>
        </span>
        <span class="m-global-search_trigger-close-label">
            {{ svg_icon('delete') }}
            <span class="u-hide-on-mobile">{{ close_text }}</span>
        </span>
    </button>
    <div class="m-global-search_content
                u-hidden"
         data-js-hook="behavior_flyout-menu_content"
         aria-expanded="false"
         role="search">
        <form class="m-global-search_content-form"
              action="https://search.consumerfinance.gov/search"
              method="get">
            {#
                The following two inputs are required by the search portal.
                See https://search.digitalgov.gov/manual/code.html
            #}
            <input type="hidden"
                   name="utf8"
                   value="✓">
            <input type="hidden"
                   id="affiliate"
                   name="affiliate"
                   value="cfpb">

            <div class="o-form__input-w-btn">
               <div class="o-form__input-w-btn_input-container">
                   <div class="m-btn-inside-input
                               input-contains-label">
                       <label for="m-global-search_query"
                              class="input-contains-label_before
                                     input-contains-label_before__search">
                            {{ svg_icon('search') }}
                            <span class="u-visually-hidden">{{ search_text }}</span>
                       </label>
                       <input id="m-global-search_query"
                              name="query"
                              type="text"
                              title="{{ search_placeholder }}"
                              class="a-text-input"
                              value=""
                              placeholder="{{ search_placeholder }}">
                       <label for="m-global-search_query"
                              class="input-contains-label_after
                                     input-contains-label_after__clear
                                     u-hidden">
                            {{ svg_icon('delete') }}
                            <span class="u-visually-hidden">{{ close_text }}</span>
                       </label>
                   </div>
               </div>
               <div class="o-form__input-w-btn_btn-container">
                   <button class="a-btn">{{ search_text }}</button>
               </div>
            </div>

            <div class="m-global-search_content-suggestions">
                <p class="h5">Suggested search terms:</p>
                <ul class="m-list m-list__horizontal">
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=regulations">
                            Regulations
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=compliance+guides">
                            Compliance guides
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=mortgage">
                            Mortgage
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=college+loans">
                            College loans
                        </a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
{% endmacro %}