{# ==========================================================================

   global_eyebrow.render()

   ==========================================================================

   Description:

   Creates markup for Global Eyebrow molecule.

   is_horizontal: Whether the molecule appears horizontally or vertically.
                  defaults to false.

   ========================================================================== #}
{% macro render( is_horizontal=false ) %}
    <div class="m-global-eyebrow
                m-global-eyebrow__{{ 'horizontal' if is_horizontal
                                      else 'list' }}">
        <div class="wrapper
                    {{ 'wrapper__match-content' if is_horizontal else '' }}">
            <div class="m-global-eyebrow_tagline">
                {# NOTE:
                   The tagline has spans so that "United States Government" is
                   prevented from being split across two lines using
                   `white-space: no wrap`.
                   Consequently, the full tagline is read as two sentences
                   by screenreaders. To prevent pausing we use aria-labelledby
                   to present the tagline as a whole sentence.
                #}
                <span aria-hidden="true">
                    An official website of the
                </span>
                <span class="m-global-eyebrow_tagline-usa"
                      aria-label="An official website of the United States Government">
                    United States Government
                </span>
            </div>
            <div class="m-global-eyebrow_actions">
                <ul class="m-list
                           m-list__horizontal
                           m-global-eyebrow_languages">
                    <li class="m-list_item">
                        <a href="/es/" hreflang="es" lang="es">
                            Español
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/zh/" hreflang="zh" lang="zh">
                            中文
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/vi/" hreflang="vi" lang="vi">
                            Tiếng Việt
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/ko/" hreflang="ko" lang="ko">
                            한국어
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/tl/" hreflang="tl" lang="tl">
                            Tagalog
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/ru/" hreflang="ru" lang="ru">
                            Pусский
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/ar/" hreflang="ar" lang="ar">
                            العربية
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="/language/ht/" hreflang="ht" lang="ht">
                            Kreyòl Ayisyen
                        </a>
                    </li>
                </ul>
                <span class="m-global-eyebrow_phone">
                    <a href="tel:+1-855-411-2372">(855) 411-2372</a>
                </span>
            </div>
        </div>
    </div>
{% endmacro %}
