{# ==========================================================================

  global_header_cta.render()

   ==========================================================================

   Description:

   Creates markup for Global Header Call to Action (CTA) molecule.

   language:      The page's language value (used to display different
                  information on Spanish pages). Defaults to English.

   ========================================================================== #}


{% macro render( language='en' ) %}
    {% if request.path != '/complaint/' %}
        {% set complaint_link = '/es/enviar-una-queja/' if language == 'es' else '/complaint/' %}
        {# TODO: Padding should be on link, not CTA itself #}
    <div class="m-global-header-cta">
        <a href="{{ complaint_link }}">
            {{ svg_icon('complaint') }}
            {{ _('Submit a Complaint') }}
        </a>
    </div>
    {% endif %}
{% endmacro %}
