{# ==========================================================================

   Global Search

   ==========================================================================

   Description:

   Creates a global search box.

   ========================================================================== #}

<div class="m-global-search"
     data-js-hook="behavior_flyout-menu">
    <button class="m-global-search_trigger"
            data-js-hook="behavior_flyout-menu_trigger">
        <span class="m-global-search_trigger-open-label">
            {% include 'icons/search.svg' %}
            <span class="u-hide-on-mobile">Search</span>
        </span>
        <span class="m-global-search_trigger-close-label">
            {% include 'icons/delete.svg' %}
            <span class="u-hide-on-mobile">Close</span>
        </span>
    </button>
    <div class="m-global-search_content
                u-hidden"
         data-js-hook="behavior_flyout-menu_content"
         aria-expanded="false">
        <form class="m-global-search_content-form"
              action="https://search.consumerfinance.gov/search"
              method="get">
            {# The following inputs are required by the CFPB search portal. #}
            <input type="hidden"
                   name="utf8"
                   value="✓">
            <input type="hidden"
                   id="affiliate"
                   name="affiliate"
                   value="cfpb">

            <div class="o-form__input-w-btn">
               <div class="o-form__input-w-btn_input-container">
                   <div class="m-btn-inside-input
                               input-contains-label">
                       <label for="query"
                              class="input-contains-label_before
                                     input-contains-label_before__search">
                            {%include 'icons/search.svg' %}
                            <span class="u-visually-hidden">Search</span>
                       </label>
                       <input id="query"
                              name="query"
                              type="text"
                              title="Search the CFPB"
                              class="a-text-input"
                              value=""
                              placeholder="Search the CFPB">
                       <label for="query"
                              class="input-contains-label_after
                                     input-contains-label_after__clear
                                     u-hidden">
                            {% include 'icons/delete.svg' %}
                            <span class="u-visually-hidden">Close</span>
                       </label>                   </div>
               </div>
               <div class="o-form__input-w-btn_btn-container">
                   <button class="a-btn">Search</button>
               </div>
            </div>

            <div class="m-global-search_content-suggestions">
                <p class="h5">Suggested search terms:</p>
                <ul class="m-list m-list__horizontal">
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=regulations">
                            Regulations
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=compliance+guides">
                            Compliance guides
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=mortgage">
                            Mortgage
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link" href="https://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=college+loans">
                            College loans
                        </a>
                    </li>
                </ul>
            </div>
        </form>
        <button class="m-global-search_tab-trigger" aria-hidden="true"></button>
    </div>
</div>
