{# ==========================================================================

   Global Header Call to Action (CTA)

   ==========================================================================

   Description:

   Creates markup for Global Header Call to Action molecule.

   value.is_in_list: Whether the molecule appears in a list or not.

   ========================================================================== #}

<div class="m-global-header-cta
            m-global-header-cta__{{ 'list' if value.is_in_list else 'horizontal' }}">
    <a href="#">Submit a Complaint</a>
</div>
