{# ==========================================================================

   half-width-link-blob.render()

   ==========================================================================

   Description:

   Create a half-width-link-blob molecule when given:

   value: An object with the following options for value.

    value.heading: A string containing title of module.

    value.content: A string containing the content  to display below the
                      heading (typically a paragraph).

    value.links: A tuple of items to create a list of links. Objects include
                    a url and text to display.

                    link_url: A string for the URL of the link.
                    link_text: A string for the text of the link.

   ========================================================================== #}


<div class="m-half-width-link-blob">
    <h2 class="h3">{{ value.heading }}</h2>
    <p>{{ value.content | safe }}</p>
    <ul class="list list__links">
        {% for link in value.links %}
        <li class="list_item">
            <a class="list_link" href="{{ link.url }}">
                {{ link.text }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

