{# ==========================================================================

   Half Width Link Blob

   ==========================================================================

   Description:

   Create a half-width-link-blob molecule when given:

   value:               Object defined from a StreamField block.

   value.heading:       (Optional) A string containing title of module.

   value.body:          A string containing the content to display below the
                        heading (typically a paragraph).

   value.links:         A tuple of items to create a list of links, containing:

   value.links[i].url:  A string for the URL of the link.

   value.links[i].text: A string for the text of the link.

   ========================================================================== #}

{% from 'molecules/info-unit.html' import info_unit with context %}

{{ info_unit( {
    'heading': '<h3>' ~ value.heading ~ '</h3>' if value.heading else '',
    'body':    parse_links(value.body) | safe,
    'links':   value.links
} ) }}
