{# ==========================================================================

   half-width-link-blob.render()

   ==========================================================================

   Description:

   Create a half-width-link-blob molecule when given:

   value:         An object with the following options for value.

   value.heading: A string containing title of module.

   value.body:    A string containing the content  to display below the
                     heading (typically a paragraph).

   value.links:   A tuple of items to create a list of links, containing:

                  url:  A string for the URL of the link.
                  text: A string for the text of the link.

   ========================================================================== #}

{% from 'molecules/info-unit.html' import info_unit with context %}

{{ info_unit( {
    'heading': '<h3>' ~ value.heading ~ '</h3>',
    'body':    value.body,
    'links':   value.links
} ) }}
