{# ==========================================================================

   hero.render()

   ==========================================================================

   Description:

   Create a hero molecule.

   value:           An object with the following requirements.

   value.heading:   A string containing title of module.

   value.body:      A string containing the content to display below the
                       heading (typically a paragraph).

   value.image:     A image object containing the URL of the image to be placed
                       adjacent to the text.


   value.background_color:
                       A string containing the color code (in any format) to
                       set as the hero background color.

   value.links:      A list of links containing URL & Text of the link/button.
   value.is_button:  A boolean to change the CTA link to a button.


   See [GHE]/flapjack/Modules-V1/wiki/Heros

   ========================================================================== #}
{% macro render(value) %}
  <section class="hero"
    {{ value.body.source }}
           {{ 'style=background-color:' +
               value.background_color + ';'
               if value.background_color else '' }}>
      <div class="wrapper hero_wrapper">
          <div class="hero_text">
              <h1 class="hero_heading">{{ value.heading | safe}}</h1>
              <div class="hero_subhead">{{ value.body.source |safe}}</div>
              {% for link in value.links %}
                  <a href="{{ link.url }}"
                     class="hero_cta
                     {{ 'btn' if value.is_button
                     else '' }}">
                      {{ link.text }}
                  </a>
              {% endfor %}
          </div>


          {# TODO: Remove this when /the-bureau/ has been converted to wagtail #}
          {% if value.macro_image %}
              <div class="hero_image"
                   style="background-image: url( {{ value.macro_image.url }} );">
              </div>
          {% else %}
              {% if value.image.upload.url %}
                  {% set photo=image(value.image.upload, 'original') %}
                  <div class="hero_image"
                       style="background-image: url( {{ photo.url }} );">
              {% endif %}
          {% endif %}
      </div>
  </section>
{% endmacro %}


