{# ==========================================================================

   Hero

   ==========================================================================

   See https://cfpb.github.io/design-manual/global-elements/heroes.html

   Description:

   Create a hero molecule.

   value:                  Object defined from a StreamField block.

   value.heading:          A string containing title of module.

   value.body:             A string containing the content to display below
                           the heading (typically a paragraph).

   value.links:            A tuple of items to create a list of links,
                           containing:

   value.links[i].url:     A string for the URL of the link.

   value.links[i].text:    A string for the text of the link.

   value.is_button:        A boolean to change the CTA link(s) to a button.

   value.image:            An image object containing the image to be
                           placed adjacent to the text.

   value.is_overlay:       A boolean to change the hero to an overlay hero.

   value.background_color: A string containing the color code (in any format)
                           to set as the hero background color.

   value.is_white_text:    A boolean to change the text color to white.

   value.cta_link_color:   A string containing the color code (in any format)
                           to set as the CTA link color. Should only be used
                           in the event that the background_color value does
                           not have sufficient contrast with the default
                           link color.

   value.is_bleeding:      A boolean that indicates that the image bleeds
                           vertically.

   value.small_image:      An image object containing the alternate image
                           for smaller screens when bleeding or overlaying
                           at larger screen sizes.

   ========================================================================== #}


{# TODO: Programatically set the images and padding via Django #}
{% set img=image(value.image, 'original') %}

{% if value.small_image %}
    {% set sm_img=image(value.small_image, 'original') %}
{% else %}
    {% set sm_img = image(value.image, 'original') %}
{% endif %}

{% set bp_sm_padding = "41.4893617%" %}

{% if value.is_bleeding %}
    {% set bp_xs_padding = "25.1020408%" %}
{% elif value.is_overlay %}
    {% set bg_xs_padding = "56.25%" %}
{% else %}
    {% set bp_xs_padding = "41.4893617%" %}
{% endif %}

<section class="m-hero
                {{ 'm-hero__knockout' if value.is_white_text else '' }}
                {{ 'm-hero__bleeding' if value.is_bleeding else '' }}
                {{ 'm-hero__overlay' if value.is_overlay else '' }}">
    <div class="m-hero_wrapper wrapper">
        <div class="m-hero_text">
            <h1 class="m-hero_heading">{{ value.heading | safe }}</h1>
            <div class="m-hero_subhead">
                {{ parse_links( value.body ) | safe }}
            </div>
        </div>
        <div class="m-hero_image-wrapper">
            <div class="m-hero_image"></div>
        </div>
    </div>
    <style>
        .m-hero {
            {%- if value.background_color %}
                background-color: {{ value.background_color }};
            {% endif -%}
        }

        .m-hero_image {
            background-image:
                url('{{ sm_img.url }}');
            background-image: -webkit-image-set(
                url('{{ sm_img.url }}') 1x,
                url('{{ sm_img.url }}') 2x
            );
            background-image: image-set(
                url('{{ sm_img.url }}') 1x,
                url('{{ sm_img.url }}') 2x
            );
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='{{ sm_img.url }}',
                sizingMethod='scale');
            padding-bottom: {{ bp_xs_padding }};
        }

        @media screen and (min-width: 37.5625em) {
            .m-hero_image {
                background-image:
                    url('{{ img.url }}');
                background-image: -webkit-image-set(
                    url('{{ img.url }}') 1x,
                    url('{{ img.url }}') 2x
                );
                background-image: image-set(
                    url('{{ img.url }}') 1x,
                    url('{{ img.url }}') 2x
                );
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src='{{ img.url }}',
                    sizingMethod='scale');
                padding-bottom: {{ bp_sm_padding }}
            }

            .m-hero__overlay .m-hero_wrapper {
                background-image:
                    url('{{ img.url }}');
                background-image: -webkit-image-set(
                    url('{{ img.url }}') 1x,
                    url('{{ img.url }}') 2x
                );
                background-image: image-set(
                    url('{{ img.url }}') 1x,
                    url('{{ img.url }}') 2x
                );
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src='{{ img.url }}',
                    sizingMethod='scale');
            }
        }
    </style>
</section>
