{# ==========================================================================

   Hero

   ==========================================================================

   See https://cfpb.github.io/design-system/patterns/heroes

   Description:

   Create a hero molecule.

   value:                  Object defined from a StreamField block.

   value.heading:          A string containing title of module.

   value.body:             A string containing the content to display below
                           the heading (typically a paragraph).

   value.image:            An image object containing the image to be
                           placed adjacent to the text.

   value.small_image:      An image object containing the alternate image
                           for smaller screens when bleeding or overlaying
                           at larger screen sizes.

   value.background_color: A string containing the color code (in any format)
                           to set as the hero background color.

   value.is_white_text:    A boolean to change the text color to white.

   value.is_bleeding:      A boolean that indicates that the image bleeds
                           vertically.

   value.is_overlay:       A boolean to change the hero to an overlay hero.

   value.is_50_50:         A boolean to split the hero's heading/image area
                           50/50 and add a border around the container.

   value.is_jumbo:         A boolean that indicates whether the image is
                           extra large (jumbo).

   ========================================================================== #}


{# TODO: This is simple now, but in the future we'll hopefully be able to
   provide 1x and 2x values as well. We should update this to be an image
   array delivered by Django in the future. #}
{% set img = image(value.image, 'original') %}

{% if value.small_image %}
    {% set sm_img = image(value.small_image, 'original') %}
{% else %}
    {% set sm_img = image(value.image, 'original') %}
{% endif %}

<section class="m-hero
                {{- ' m-hero__knockout' if value.is_white_text else '' }}
                {{- ' m-hero__bleeding' if value.is_bleeding else '' }}
                {{- ' m-hero__overlay' if value.is_overlay else '' }}
                {{- ' m-hero__50-50' if value.is_50_50 else '' }}
                {{- ' m-hero__jumbo' if value.is_jumbo else '' }}">
    <div class="m-hero_wrapper">
        <div class="m-hero_text">
            <h1 class="m-hero_heading">{{ value.heading | safe }}</h1>
            <div class="m-hero_subhead">
                {{ value.body | safe }}
            </div>
        </div>
        <div class="m-hero_image-wrapper">
        {% if img %}
            <div class="m-hero_image"></div>
        {% endif %}
        </div>
    </div>

    {# Due to the nature of setting backgrounds and padding dynamically,
       these styles are set in an element to both contain them and make
       it clear where to change them in the future. #}
    <style>
        {# If the hero is in 50/50 mode and constrained by a border, only
           the inner wrapper container gets the background color to prevent
           it from bleeding horizontally to the edges of the screen. #}
        .m-hero{%- if value.is_50_50 %}_wrapper{% endif %} {
            {%- if value.background_color %}
                background-color: {{ value.background_color }};
            {% endif -%}
        }
    {% if img %}
        .m-hero_image {
            background-image: url('{{ sm_img.url }}');
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='{{ sm_img.url }}',
                sizingMethod='scale');
            padding-bottom: {{ sm_img.height / sm_img.width * 100 }}%;
        }

        @media screen and (min-width: 37.5625em) {
            .m-hero_image {
                background-image: url('{{ img.url }}');
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src='{{ img.url }}',
                    sizingMethod='scale');
                padding-bottom: {{ img.height / img.width * 100 }}%;
            }

            .m-hero__jumbo .m-hero_wrapper,
            .m-hero__50-50 .m-hero_wrapper,
            .m-hero__overlay .m-hero_wrapper {
                background-image: url('{{ img.url }}');
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src='{{ img.url }}',
                    sizingMethod='scale');
            }
        }
    {% endif %}
    </style>
</section>
