<div class="o-well
            o-well__home
            o-well__home-hero">
    <div class="content-l">
        <section class="m-home-hero">
            <h1 class="m-home-hero_heading">We're on your side</h1>
            <p class="m-home-hero_text">
                We are the Consumer Financial Protection Bureau,
                a U.S. government agency that makes sure banks, lenders,
                and other financial companies treat you fairly.
            </p>
        </section>
    </div>
</div>
