{# ==========================================================================

   Image And Text 25/75

   ==========================================================================

   Description:

   Create an image and text 25/75 molecule.
   See [GHE]/flapjack/Modules-V1/wiki/25-75-Image-&-Text

   value:                        Object defined from a StreamField block.

   value.image:                  An ImageBasic atom object containing:

   value.image.upload:           A CFGOVImage object.

   value.image.alt:              String for alt text for screenreaders.

   value.heading:                Heading of the text content.

   value.body:                   Body of the text content.

   value.links:                  A tuple of items to create a list of links,
                                 containing:

   value.links[i].url:           A string for the URL of the link.

   value.links[i].text:          A string for the text of the link.

   value.link_image_and_heading: Boolean for whether the image and heading
                                 should be linked to the value.links[0].url.

   ========================================================================== #}

{% from 'molecules/info-unit.html' import info_unit with context %}
{% if value.image.upload %}
    {% set photo=image(value.image.upload, 'original') %}
{% endif %}
{% set heading = '<h3>' ~ value.heading ~ '</h3>' if value.heading else '' %}

{{ info_unit( {
    'modifier': 'inline',
    'image': {
        'url': photo.url if photo else '/',
        'alt': image_alt_value(value.image),
        'is_square': true,
        'is_decorative': image_alt_value(value.image) == ''
    },
    'heading': heading,
    'body': parse_links(value.body) | safe,
    'links': value.links,
    'link_image_and_heading': value.link_image_and_heading or false
} ) }}
