{# ==========================================================================

   image_text_50_50.render()

   ==========================================================================

   Description:

   When image conveys critical information and text is supporting it --
   i.e. chart, excerpt from document

   See [GHE]/flapjack/Modules-V1/wiki/50-50-Image-&-Text

   value:                An object with the following options for value.
   value.heading:        A string containing title of module.
   value.image:          A image object containing the URL & alt text for screenreaders
                         of the image to be placed adjacent to the text.
   value.is_widescreen:  Boolean if the image should be widescreen ratio.
                         Will be square ratio by default.
                         TODO: change is_widescreen to is_square after backend change is made.
   value.body:           A string for the description under the image.

   value.is_button:      Boolean if the link should be a button.
                         If false/blank,
                         the button will remain a plain link.
   value.links:          A list of links containing URL & Text of the link/button.

   ========================================================================== #}
{% from 'molecules/info-unit.html' import info_unit with context %}
{% if value.image.upload %}
    {% set photo=image(value.image.upload, 'original') %}
{% endif %}
{{ info_unit( {
    'image': {
        'url': photo.url if photo else '/',
        'alt': value.image.alt,
        'is_square': value.is_widescreen == false,
        'is_decorative': value.image.alt == ''
    },
    'heading': '<h3>' ~ value.heading ~ '</h3>',
    'body': value.body.source,
    'is_button': value.is_button,
    'links': value.links
} ) }}
