{# ==========================================================================

   Image And Text 50/50

   ==========================================================================

   Description:

   Create an image and text 50/50 molecule.
   See [GHE]/flapjack/Modules-V1/wiki/50-50-Image-&-Text

   value:                        Object defined from a StreamField block.

   value.image:                  A image object containing the image to be
                                 placed adjacent to the text.

   value.image.upload:           An image object.

   value.image.alt:              String for alt text for screenreaders.

   value.is_widescreen:          Boolean indicating that the supplied image
                                 has a 16:9 aspect ratio. If not set,
                                 it will render square by default.
                                 TODO: change is_widescreen to is_square
                                 after backend change is made.

   value.heading:                Heading of the text content.

   value.body:                   Body of the text content.

   value.is_button:              Boolean if the link should be a button.

   value.links:                  A tuple of items to create a list of links,
                                 containing:

   value.links[i].url:           A string for the URL of the link.

   value.links[i].text:          A string for the text of the link.

   value.link_image_and_heading: Boolean for whether the image and heading
                                 should be linked to the value.links[0].url.

   ========================================================================== #}
{% from 'molecules/info-unit.html' import info_unit with context %}
{% if value.image.upload %}
    {% set photo=image(value.image.upload, 'original') %}
{% endif %}

{{ info_unit( {
    'image': {
        'url': photo.url if photo else '/',
        'alt': value.image.alt,
        'is_square': value.is_widescreen == false,
        'is_decorative': value.image.alt == ''
    },
    'heading': '<h3>' ~ value.heading ~ '</h3>',
    'body': parse_links(value.body) | safe,
    'is_button': value.is_button,
    'links': value.links,
    'link_image_and_heading': value.link_image_and_heading or false
} ) }}
