
{# ==========================================================================

   image_text_25_75.render()

   ==========================================================================

   Description:

   Create an image and text 25/75 molecule.
   See [GHE]/flapjack/Modules-V1/wiki/25-75-Image-&-Text

   value:            An object with the following options for value.

   value.image:      A image object containing the URL & alt text for screenreaders
                        of the image to be placed adjacent to the text.

   value.heading:    Heading of the text content.
   value.body:       Body of the text content.

   value.links:      A list of links containing URL & Text of the link/button.

   value.has_rule:   Whether there is a top gray rule.
                        Default is false.

   ========================================================================== #}

{% from 'molecules/info-unit.html' import info_unit with context %}
{% if value.image.upload %}
    {% set photo=image(value.image.upload, 'original') %}
{% endif %}
{{ info_unit( {
    'modifier': 'inline',
    'image': {
        'url': photo.url if photo else '/',
        'alt': value.image.alt,
        'is_square': true,
        'is_decorative': value.image.alt == ''
    },
    'heading': '<h3>' ~ value.heading ~ '</h3>',
    'body': value.body,
    'links': value.links
} ) }}
