{# ==========================================================================

   image_text_50_50.render()

   ==========================================================================

   Description:

   When image conveys critical information and text is supporting it --
   i.e. chart, excerpt from document

   See [GHE]/flapjack/Modules-V1/wiki/50-50-Image-&-Text

   value:                An object with the following options for value.
   value.heading:          A string containing title of module.
   value.image:          A image object containing the URL & alt text for screenreaders
                            of the image to be placed adjacent to the text.
   value.is_widescreen:  Boolean if the image should be widescreen ratio.
                            Will be 4:3 ratio by default.
   value.body:           A string for the description under the image.

   value.is_button:      Boolean if the link should be a button.
                            If false/blank,
                            the button will remain a plain link.
   value.links:          A list of links containing URL & Text of the link/button.

   value.has_rule:       Whether there is a bottom gray rule.
                            Default is false.

   ========================================================================== #}

<div class="m-image-text-50-50
            content-l_col
            content-l_col-1-2">
    {# TODO: Change to HR #}
    {% if value.has_rule %}
        <div class="a-rule-break"></div>
    {% endif %}

    <div class="{{ 'm-image-text-50-50_widescreen-container' if value.is_widescreen
            else 'm-image-text-50-50_container'}}">

        {% if value.image.upload %}
            {% set photo=image(value.image.upload, 'original') %}
            <img src="{{ photo.url }}"
                 alt="{{ value.image.alt }}"
                 class="m-image-text-50-50_image">
        {% endif %}
    </div>

    <h2>
        {{ value.heading }}
    </h2>

    <p>
        {{ value.body.source | safe }}
    </p>

    {% if value.links %}
        <ul class="list list__links">
            {% for link in value.links %}
                <li class="list_item">
                    <a class="{% if value.is_button %}
                              btn m-image-text-50-50_btn
                              {% else %}
                              jump-link jump-link__underline
                              {% endif %}" href="{{ link.url }}">
                        {{ link.text if link.text else 'Learn More' }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
