{# ==========================================================================

   Info Unit

   ==========================================================================

   Description:

   Create an info-unit molecule when given:

   value:                        Object defined from a StreamField block.

   value.image:                  (Optional) An object containing:

   value.image.upload:           A CFGovRendition object.

   value.image.alt:              String for image alt text.

   value.heading:                (Optional) A heading object.
                                 See _includes/blocks/heading.html.

   value.body:                   (Optional) A string containing the content
                                 to display below the heading (typically a
                                 paragraph).

   value.links:                  (Optional) A tuple of items to create a list
                                 of links, containing:

   value.links[i].url:           A string for the URL of the link.

   value.links[i].text:          A string for the text of the link.

   format:                       Code for the layout of the parent Info Unit
                                 Group, used to determine whether to add the
                                 `__inline` modifier to the main div.

   link_image_and_heading:       Boolean for whether the image and heading
                                 should be linked to the value.links[0].url.

   ========================================================================== #}

{%- from 'blocks/heading.html' import heading without context %}

{%- macro info_unit(value, format, link_image_and_heading) -%}

{# Confirm that not only is link_image_and_heading set, but that this
   particular info unit has a link in its list and there's either an
   image or heading to wrap in a link. #}
{%- set has_heading = value.heading and value.heading.text %}
{%- set has_image = value.image and value.image.upload %}
{%- set has_link = value.links and value.links[0] and value.links[0].url %}
{%- set link_image_and_heading = link_image_and_heading
                                 and has_link
                                 and ( has_heading or has_image ) %}

<div class="m-info-unit
            {{- ' m-info-unit__inline' if format == '25-75' else '' }}">

    {% if link_image_and_heading %}
        <a class="m-info-unit_heading-link"
           href="{{ value.links[0].url | safe }}">
    {% endif %}

    {%- if has_image %}
        {%- set img = image( value.image.upload, 'original' ) %}

        {%- if not link_image_and_heading %}
            {# If the image isn't being linked, include its alt text. #}
            {% set img_alt_text = image_alt_value( value.image ) %}
        {% elif has_heading %}
            {# If the image is being linked, and there's a heading, set
               empty alt text to avoid having duplicate text in the link. #}
            {% set img_alt_text = '' %}
        {% else %}
            {# If the image is being linked, but there's no heading, use
               the text from the link. #}
            {% set img_alt_text = value.links[0].text %}
        {% endif -%}

        <img class="m-info-unit_image
                    {{- ' m-info-unit_image__square' if img.is_square else '' }}"
            src="{{ img.url }}"
            alt="{{ img_alt_text }}">
    {%- endif %}

    {%- if has_heading %}
        <div class="m-info-unit_heading-text">
            {{ heading( value.heading ) }}
        </div>
    {%- endif %}

    {%- if link_image_and_heading %}
        </a>
    {%- endif -%}

    <div class="m-info-unit_content">
        {{ value.body | safe }}

        {% if value.links %}
            <ul class="m-list m-list__links u-mt15">
            {%- for link in value.links %}
                <li class="m-list_item">
                {%- if link.text is defined and link.text.find('@') > -1 -%}
                    {%- if not value.emails is defined -%}
                        {%- do value.update({'emails':[{'url':link.text}]}) -%}
                    {%- endif -%}
                    {% include 'contact-email.html' with context %}
                {%- else -%}
                    {%- set link_text = link.text if link.text
                        else 'Learn More' -%}
                    {%- set link = '<a class="m-list_link" href="' ~
                        link.url ~ '">' ~ link_text ~ '</a>' %}
                    {{ link | safe }}
                {%- endif %}
                </li>
            {%- endfor %}
            </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}
