{# ==========================================================================

   jobs_list.render(value)

   ==========================================================================

   Description:

   Creates jobs list when given:

   value:                Object defined from a StreamField block.

   value.close_date:     A string representing the closing date for the job.

   value.heading:        The heading of the jobs list.
                         Default is "Career Openings".

   value.more_jobs_url:  A string for the URL of the more jobs url.

   value.more_jobs_text: A string for the text of the more jobs link.

   value.jobs:           A list of jobs with the link first
                         followed by the text of link.

   value.jobs[i].url:    A string for the URL of the link.

   value.jobs[i].text:   A string for the text of the link.


   ========================================================================== #}

{% macro render(value) %}
<aside class="m-jobs-list"
       data-qa-hook="openings-section">
    <h3>
        {{ value.heading or 'Career Openings' }}
    </h3>
    {% if value.jobs is defined and value.jobs | length > 0 %}
    {% import 'macros/time.html' as time %}
    <ul class="list list__unstyled">
        {% for job in value.jobs %}
        <li class="list_item">
            <a class="list_link"
               href="{{ job.url }}">{{ job.text }}</a>
            <p class="date">
                CLOSING
                {% if job.close_date is defined %}
                    {{ time.render(job.close_date, {'date':true}) }}
                {% endif %}
            </p>
        </li>
        {% endfor %}
    </ul>
    <a class="jump-link
              jump-link__underline"
       href="{{ value.more_jobs_url }}">
        <span class="jump-link_text">
          {{ value.more_jobs_text or 'View all job openings' }}
        </span>
    </a>
    {% else %}
    <p class='short-desc'>There are no current openings at this time.</p>
    {% endif %}
</aside>
{% endmacro %}
