{# ==========================================================================

   Link Blob

   ==========================================================================

   Description:

   Create a link-blob molecule when given:

   value:                  Object defined from a StreamField block.

   value.heading:          (Optional) A string containing title of module.

   value.sub_heading:      (Optional) A string containing subtitle
                           of module.

   value.sub_heading_icon: (Optional) A string containing cf-icon name
                           that triggers the insertion of an icon before
                           the heading.

   value.body:             A string containing the content to display
                           below the heading (typically a paragraph).

   value.links:            A tuple of items to create a list of links,
                           containing:

   value.links[i].url:     A string for the URL of the link.

   value.links[i].text:    A string for the text of the link.

   ========================================================================== #}

{% from 'molecules/info-unit.html' import info_unit with context %}

{% if value.sub_heading and value.sub_heading_icon %}
    {% set sub_heading = '<h4>' ~ svg_icon(value.sub_heading_icon) ~ ' ' ~ value.sub_heading ~ '</h4>' %}
{% elif value.sub_heading %}
    {% set sub_heading = '<h4>' ~ value.sub_heading ~ '</h4>' %}
{% else %}
    {% set sub_heading = '' %}
{% endif %}

{{ info_unit( {
    'heading':     '<h3>' ~ value.heading ~ '</h3>' if value.heading else '',
    'sub_heading': sub_heading,
    'body':        parse_links(value.body) | safe,
    'links':       value.links
} ) }}
