{# =========================================================================

   nav_link.render()

   =========================================================================

   Description:

   Creates a nav link when given:

   text:    The text to display within the header slug.

   href:    The url to display within the paragraph.

   parent:  Adds a parent modifier to the link.
            Defaults to true.

   current: Adds a current modifier to the link.
            Defaults to false.

   ========================================================================= #}
{% macro render(text, href, parent=true, current=false) %}
<a class="m-nav-link
          {{ 'm-nav-link__parent' if parent else '' }}
          {{ 'm-nav-link__current' if current else '' }}"
   {{ 'href=' ~ href | e if not current else '' }}>
    {{ text | e }}
</a>
{% endmacro %}
