{# ==========================================================================

   notification.render()

   ==========================================================================

   Description:

   Builds notification markup when given:

   type:        The type of notification to display.
                Values may be: 'success', 'error', or 'warning'.

   is_visible:  Whether the notification is initially shown or not.
                Default is false.

   message:     Text to display within the notification markup.

   explanation: Text to display as an explanation
                within the notification markup.

   ========================================================================== #}

{% macro render(type, is_visible, message, explanation=none) %}

  {% set type_lookup  = {
        'default': 'information-round',
        'success': 'approved-round',
        'warning': 'warning-round',
        'error':   'error-round',
      }
  %}
  {% set icon = type_lookup[type]  %}
  {% set type = ('m-notification__' + type | string)
     if type and type != 'default'
     else '' %}

  <div class="m-notification
              {{ type }}
              {{ 'm-notification__visible' if is_visible else '' }}">
      {{ svg_icon(icon) }}
      <div class="m-notification_content"
           {{ 'role="alert"' if type == 'warning' or type == 'error' else '' }}>
          <div class="h4 m-notification_message">{{ message }}</div>
          {% if explanation %}
              <p class="h4 m-notification_explanation">{{ explanation }}</p>
          {% endif %}
      </div>
  </div>

{% endmacro %}
