{# ==========================================================================

   notification.render()

   ==========================================================================

   Description:

   Builds notification markup when given:

   type:        The type of notification to display.
                Values may be: 'information',
                'success', 'error', 'warning',
                'money-tips', or 'caution'.

   is_visible:  Whether the notification is initially shown or not.
                Default is false.

   message:     Text to display within the notification markup.

   explanation: Text to display as an explanation
                within the notification markup.
                Defaults to none.

   links:       Array of link objects, which each contain:
                - text (required): text of link.
                - url:             link url.
                Defaults to an empty array.

   ========================================================================== #}

{% macro render(type, is_visible, message, explanation=none, links=[]) %}

  {# Lookup table for the CSS class and icon for each notification type. #}
  {% set type_lookup = {
        'information': ['', 'information-round'],
        'success':     [' m-notification__success', 'approved-round'],
        'warning':     [' m-notification__warning', 'warning-round'],
        'error':       [' m-notification__error', 'error-round'],
        'money-tips':  [' m-notification__success', 'dollar-round'],
        'caution':     [' m-notification__error', 'information-round']
      }
  %}
  {% set icon = type_lookup[type | default( 'information' )][1] %}
  {% set type = type_lookup[type | default( 'information' )][0] %}

  <div class="m-notification
              {{- type -}}
              {{- ' m-notification__visible' if is_visible else '' -}}">
      {{ svg_icon(icon) }}
      <div class="m-notification_content"
          {{ 'role="alert"' if type == 'warning' or type == 'error' else '' }}>
          {%- if message %}
          <div class="h4 m-notification_message">{{ message }}</div>
          {% endif -%}
          {%- if explanation %}
              <div class="m-notification_explanation">{{ explanation }}</div>
          {% endif -%}
          {% for link in links %}
              {% if link.text %}
                  {% if loop.first %}<ul class="m-list m-list__links">{% endif %}
                      <li class="m-list_item">
                          <a class="m-list_link" href="{{ link.url }}">
                              {{ link.text }}
                          </a>
                      </li>
                  {% if loop.last %}</ul>{% endif %}
              {% endif %}
          {% endfor %}
      </div>
  </div>

{% endmacro %}

{% if value %}
  {{ render(
      value.type | default( 'warning' ),
      value.is_visible | default( true ),
      value.message,
      value.explanation | default( '' ),
      value.links | default( [] )
    )
  }}
{% endif %}
