
{# ==========================================================================

   Pagination

   ==========================================================================

   Description:

   Builds pagination markup when given:

   posts:                        TODO: fill in data type and description.

   posts.paginator:              TODO: fill in data type and description.

   posts.paginator.num_pages:    Number of total pages.

   posts.number:                 TODO: fill in data type and description.

   posts.previous_page_number(): Method to return previous page number.

   posts.page:                   Current page number of the iterable list.

   ========================================================================== #}

{% if posts and posts.paginator.num_pages > 1 %}
{% from 'macros/util/url_parameters.html' import url_parameters %}

    <nav class="m-pagination"
         role="navigation"
         aria-label="Pagination">
        {%- if posts.number > 1 %}
        <a class="btn btn__super m-pagination_btn-prev"
           href="?page={{ posts.previous_page_number()
                          ~ url_parameters(request.GET)
                          ~ '#o-filterable-list-controls' }}">
        {%- else %}
        <a class="btn btn__super
                  btn__disabled
                  m-pagination_btn-prev">
        {% endif %}
            <span class="btn_icon__left cf-icon cf-icon-left"></span>
            Newer
        </a>
        {%- if posts.number < posts.paginator.num_pages %}
        <a class="btn btn__super m-pagination_btn-next"
           href="?page={{ posts.next_page_number()
                          ~ url_parameters(request.GET)
                          ~ '#o-filterable-list-controls' }}">
        {%- else %}
        <a class="btn btn__super btn__disabled m-pagination_btn-next">
        {% endif -%}
            Older
            <span class="btn_icon__right cf-icon cf-icon-right"></span>
        </a>
        <form action="#o-filterable-list-controls">
            <label for="m-pagination_current-page">
                Page
                <span class="u-visually-hidden">
                    number out of {{ posts.paginator.num_pages }} total pages
                </span>
            </label>
            {% for (key, value) in request.GET.items() %}
                {% if value != '' %}
                    <input type="hidden"
                           name="{{ key }}"
                           value="{{ value }}">
                {% endif %}
            {% endfor %}
            <input id="m-pagination_current-page"
                   name="page"
                   type="number"
                   min="1"
                   max="{{ posts.paginator.num_pages }}"
                   pattern="[0-9]*"
                   inputmode="numeric"
                   value="{{ posts.number }}">
            <span class="m-pagination_label">
                of {{ posts.paginator.num_pages }}
            </span>
            <button class="btn btn__link"
                    id="m-pagination_submit-btn"
                    type="submit">
                Go
            </button>
        </form>
    </nav>
{% endif %}
