{# ==========================================================================

   related_posts.render()

   ==========================================================================

   Description:

   Creates related posts markup when given:

   is_half_width:    A Boolean indicating whether the posts should be at half
                     width. Defaults to False.

   hide_header_slug: A Boolean indicating whether the header should be hidden.
                     Defaults to False.

   ========================================================================== #}

{% macro render(block, is_half_width=false, hide_header_slug=false) %}
{% import 'macros/category-icon.html' as category_icon %}
{% set title_icon_lookup = {
    "newsroom" : ("Newsroom","newspaper"),
    "posts"    : ("Blog", "speech-bubble"),
    "events"   : ("Events", "speech-bubble")
  }
%}
{% set related_post_types = page.related_posts(block) %}
{% if related_post_types %}
<div class="m-related-posts
            {{'m-related-posts__half-width'
              if is_half_width else ''}}">
    {% if not hide_header_slug %}
    <h2 class="header-slug">
        <span class="header-slug_inner">
            Related Posts
        </span>
    </h2>
    {% endif %}
    {% for post_type, post_type_list in related_post_types.iteritems() %}
    {% set title, icon = title_icon_lookup[post_type] or ("Blog", "speech-bubble") %}
    <div class="m-related-posts_list-container">
    {% if block.value.show_heading %}
        <h3 class="h4">
             <span class="cf-icon cf-icon-{{icon}}"></span>
            {{ title }}
        </h3>
    {% endif %}
        {{ _related_posts_list(post_type_list) }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endmacro %}


{# ==========================================================================

   _related_posts_list()

   ==========================================================================

   Description:

   Creates related posts markup when given:

   posts: A list of dictionaries containing related posts.

   ========================================================================== #}

{% macro _related_posts_list(posts) %}
{% import 'macros/time.html' as time %}
<ul class="m-related-posts_list
           list list__unstyled
           list__spaced">
    {% for post in posts %}
    {% set post_url = slugurl(post.slug) or '' %}
    <li class="list_item">
        <h3 class="h4 u-mb5">
            <a class="list_link"
               href="{{ post_url if post_url else post.permalink }}">
                {{ post.title | safe }}
            </a>
        </h3>
        {% if post.text %}
        <p>
            {{ post.text | safe }}
        </p>
        {% endif %}
        <p class="date">
            {{ time.render(post.latest_revision_created_at, {'date':true}) }}
        </p>
    </li>
    {% endfor %}
</ul>

{% for block in page.sidefoot %}
  {% if 'related_posts' in block.block_type %}
    {% if block.value.view_more %}
        {{ _view_more(block) }}
    {% endif %}
  {% endif %}
{% endfor %}
{% endmacro %}

{# ==========================================================================

   _view_more()

   ==========================================================================

   Description:

   Creates view more markup when given:

   ========================================================================== #}

{% macro _view_more(block) %}
{% if block.value.view_more.text %}
<a class="jump-link jump-link__underline"
   href="{{ block.value.view_more.url }}">
    <span class="jump-link_text">
        {{ block.value.view_more.text }}
    </span>
</a>
{% endif %}
{% endmacro %}
