{# ==========================================================================

   related_metadata.render()

   ==========================================================================

   Description:

   Creates related metadata markup when given:

   value:                              Object defined from a StreamField block.

   value.half_width:                   A Boolean indicating whether the
                                       list items should be at half width.
                                       Defaults to False.

   value.slug:                         TODO: Add data type and description.

   value.content:

   value.content[i].block_type:        String for a block type,
                                       it should be date, list, text,
                                       or topics.

   value.content[i].value:             TODO: Add data type and description.

   value.content[i].value.show_topics: Boolean for whether to
                                       topic should be rendered.

   value.content[i].value.heading:     TODO: Add data type and description.

   ========================================================================== #}

{% macro render(value) %}
{% set types_lookup = {
    'date':   _date,
    'list':   _list,
    'text':   _text,
    'topics': _topics,
} %}
{# TODO: Update `half_width` param to `is_half_width`
         to make it clear it's a boolean. #}
<div class="m-related-metadata
            {{ 'm-related-metadata__half-width' if value.half_width else '' }}">
    <header class="m-slug-header">
        <h2 class="a-heading">
            {{ value.slug }}
        </h2>
    </header>
    {# For each of the blocks render them if they're there except for Topics.
       In that case, render only if the value `show_topics` is True. #}
    {% for block in value.content %}
        {% if 'topics' in block.block_type and not block.value.show_topics %}
            {% continue %}
        {% endif %}
        <div class="m-related-metadata_item-container">
            <h3 class="h4">
                {{ block.value.heading }}
            </h3>
            {{ types_lookup[block.block_type](block.value) }}
        </div>
    {% endfor %}
</div>
{% endmacro %}

{# ==========================================================================

   _list()

   ==========================================================================

   Description:

   Creates related metadata list markup when given:

   list:              A list of dictionaries containing links.

   is_related_topics: Boolean indicating whether the list is a
                      Related Topics list. Defaults to false.

   ========================================================================== #}

{% macro _list(list, is_related_topics=false) %}
<ul class="list
           list__unstyled
           list__links
           {{ 'm-related-metadata_topics' if is_related_topics else '' }} ">
    {% for link in list.links %}
    <li class="list_item">
        {% if link.url %}
            <a href="{{ link.url }}" class="list_link">
                {{ link.text }}
            </a>
        {% else %}
            <span class="list_link">{{ link.text }}</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# ==========================================================================

   _date()

   ==========================================================================

   Description:

   Creates related metadata date markup when given:

   date: A string representing a date.

   ========================================================================== #}

{% macro _date(date) %}
{% import 'macros/time.html' as time %}
<p class="date u-mb0">
    {{ time.render(date.date, {'date':true}) }}
</p>
{% endmacro %}

{# ==========================================================================

   _text()

   ==========================================================================

   Description:

   Creates related metadata text markup when given:

   text: A string representing text.

   ========================================================================== #}

{% macro _text(text) %}

<p class="u-mb0">
    {{ parse_links(text.blob) | safe }}
</p>
{% endmacro %}

{# TODO: This function is not used and can be removed. #}
{# ==========================================================================

   _topics()

   ==========================================================================

   Description:

   Creates related metadata related topics markup

   list: An object holding the tag information.

   ========================================================================== #}

{% macro _topics(list) %}
    {{ _list( related_metadata_tags(page), true ) }}
{% endmacro %}
