{# ==========================================================================

   Related Metadata

   ==========================================================================

   Description:

   Creates related metadata markup when given:

   related_metadata_list: A list of relatated metadata items.

   is_half_width:         A Boolean indicating whether the list items should be at half
                          width. Defaults to False.

   ========================================================================== #}

{% macro render(value) %}
{% set types_lookup = {
    'date':   _date,
    'list':   _list,
    'text':   _text,
    'topics': _topics,
} %}
<div class="m-related-metadata
            {{ 'm-related-metadata__half-width' if value.half_width else '' }}">
    <h2 class="header-slug">
        <span class="header-slug_inner">
            {{ value.slug }}
        </span>
    </h2>
    {# For each of the blocks render them if they're there except for Topics.
       In that case, render only if the value `show_topics` is True. #}
    {% for block in value.content %}
        {% if 'topics' in block.block_type and not block.value.show_topics %}
            {% continue %}
        {% endif %}
        <div class="m-related-metadata_item-container">
            <h3 class="h4">
                {{ block.value.heading }}
            </h3>
            {{ types_lookup[block.block_type](block.value) }}
        </div>
    {% endfor %}
</div>
{% endmacro %}

{# ==========================================================================

   _list( is_topics )

   ==========================================================================

   Description:

   Creates related metadata list markup when given:

   list:              A list of dictionaries containing links.

   is_related_topics: Boolean indicating whether the list is a
                      Related Topics list. Defaults to false.

   ========================================================================== #}

{% macro _list(list, is_related_topics=false) %}
<ul class="list
           list__unstyled
           list__links
           {{ 'm-related-metadata_topics' if is_related_topics else '' }} ">
    {% for link in list.links %}
    <li class="list_item">
        <a href="{{ link.url }}" class="list_link">
            {{ link.text }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# ==========================================================================

   _date()

   ==========================================================================

   Description:

   Creates related metadata date markup when given:

   date: A string representing a date.

   ========================================================================== #}

{% macro _date(date) %}
{% import 'macros/time.html' as time %}
<p class="date u-mb0">
    {{ time.render(date.date, {'date':true}) }}
</p>
{% endmacro %}

{# ==========================================================================

   _text()

   ==========================================================================

   Description:

   Creates related metadata text markup when given:

   text: A string representing text.

   ========================================================================== #}

{% macro _text(text) %}
<p class="u-mb0">
    {{ text.blob.source | safe }}
</p>
{% endmacro %}

{# ==========================================================================

   _topics()

   ==========================================================================

   Description:

   Creates related metadata related topics markup

   value: An object holding the tag information (Unused)

   ========================================================================== #}

{% macro _topics(list) %}
    {{ _list( page.related_metadata_tags(request.GET), true ) }}
{% endmacro %}
