{# ==========================================================================

    Related Topics

    ==========================================================================

    Description:

    Creates related topics markup when given:

    value:                Object defined from a StreamField block.

    value.heading:        The heading of the related topics.
                          Default is "Related Topics".

    value.topics:         A list of links with the url first followed
                          by the text of link.

    value.topics[i].url:  String for the URL of link.

    value.topics[i].text: String for the text of link.

   ========================================================================== #}
<div class="m-related-topics">
    <header class="m-slug-header">
        <h2 class="a-heading">
            {{ value.heading or 'Related Topics' }}
        </h2>
    </header>
    <ul class="m-list
               m-list__unstyled
               m-list__links">
    {% for topic in value.topics %}
    <li class="m-list_item">
        <a href="{{ topic.url }}" class="m-list_link">
            {{ topic.text }}
        </a>
    </li>
    {% endfor %}
    </ul>
</div>
