{# ==========================================================================

    Related Links

    ==========================================================================

    Description:

    Creates related posts markup when given:

    value:         A collection of a heading and links.

    value.heading: The heading of the related links inset.
                    (Default: Related Links)

    value.links:   An list of links with the link first followed by the text of
                    link   .

   ========================================================================== #}

<div class="m-related-links">
    {% if value.heading %}
        <h2 class="header-slug">
            <span class="header-slug_inner">
                {{ value.heading }}
            </span>
        </h2>
    {% endif %}

    {{ value.paragraph }}

    {% if value.links %}
        <ul class="list list__unstyled list__links">
        {% for link in value.links %}
            <li class="list_item">
                <a href="{{ link.url }}" class="list_link">{{ link.text }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
