{# ==========================================================================

   _related_posts_list()

   ==========================================================================

   Description:

   Creates related posts markup when given:

   posts: A list of dictionaries containing related posts.

   limit: Number at which to limit displaying posts.

   ========================================================================== #}

{% macro _related_posts_list(posts, limit) %}
    {% set limit = limit | int if posts | length >= limit | int else posts | length %}
    <ul class="m-related-posts_list
               m-list
               m-list__unstyled
               m-list__spaced">
        {% for i in range(limit) %}
            {% set post_url = posts[i].url or '' %}
            <li class="m-list_item">
                <h3 class="h4 u-mb5">
                    <a class="m-list_link"
                       href="{{ post_url or posts[i].permalink }}">
                        {{ posts[i].title | safe }}
                    </a>
                </h3>
                {% if posts[i].text %}
                <p>
                    {{ posts[i].text | safe }}
                </p>
                {% endif %}
                <p class="a-date">
                    {% import 'macros/time.html' as time %}
                    {% set date = posts[i].start_dt
                                  or posts[i].date_published
                                  or posts[i].latest_revision_created_at
                                  or posts[i].date %}
                    {{ time.render(date, {'date':true}) }}
                </p>
            </li>
        {% endfor %}
    </ul>

{% endmacro %}

{# ==========================================================================

   Template for v1.atomic_elements.organisms.RelatedPosts.

   ==========================================================================

   Description:

   Creates related posts markup for RelatedPosts block.

   Uses these entries from the block's value:

   value.header_title:  String for the heading at the top of the rendered
                        module.

   value.limit:         Integer setting the number of posts that will be shown
                        for each type of post selected.

   value.show_heading:  Boolean indicating whether or not the heading and icon
                        for each type of post will be shown. Defaults to True.

   Also expects context to contain these extra parameters:

   half_width:          Boolean indicating whether the posts should be at half
                        width. Defaults to False.

   hide_header_slug:    Boolean indicating whether the header should be hidden.
                        Defaults to False.

   posts:               List of related posts to render. Required.

   view_more_url:       URL for "View more" link. Required.

   ========================================================================== #}

{% import 'macros/category-icon.html' as category_icon %}

<div class="m-related-posts
    {{'m-related-posts__half-width' if half_width else '' }}">
    {% if not hide_header_slug %}
        <header class="m-slug-header">
            <h2 class="a-heading">
                {{ value.header_title }}
            </h2>
        </header>
    {% endif %}
    {% for post_type, post_type_list in posts.items() %}
        {% set title, icon = (post_type, category_icon.render(post_type)) or ("Blog", category_icon.render('blog')) %}
        <div class="m-related-posts_list-container">
            {% if value.show_heading %}
                <h3 class="h4">
                    {{ icon }} {{ title }}
                </h3>
            {% endif %}
            {{ _related_posts_list(post_type_list, value.limit) }}
        </div>
    {% endfor %}

    <a class="a-link a-link__jump"
       href="{{ view_more_url }}"
       aria-label="{{ _('View more related posts') }}">
        <span class="a-link_text">
            {{ _('View more') }}
        </span>
    </a>
</div>
