{# ==========================================================================

   related_metadata.render()

   ==========================================================================

   Description:

   Creates related metadata markup when given:

   value:                              Object defined from a StreamField block.

   value.is_half_width:                A boolean indicating whether the
                                       list items should be at half width.
                                       Defaults to False.

   value.slug:                         A string of text to use as a header
                                       for the entire module.

   value.content:                      A list of metadata blocks.

   value.content[i].block_type:        String for a block type,
                                       it should be date, list, text,
                                       or topics.

   value.content[i].value:             A date, list, text, or topics markup.

   value.content[i].value.show_topics: A boolean for whether the
                                       topic should be rendered.

   value.content[i].value.heading:     A string for the heading on the related
                                       metadata block
                                       (date, list, text, or topic).

   ========================================================================== #}

{% macro render(value) %}

{# This references each of the private macros,
   so _date(), _list(), _text(), and topics()
   are called via type_lookup() while looping over this array. #}
{% set types_lookup = {
    'date':   _date,
    'list':   _list,
    'text':   _text,
    'topics': _topics,
    'categories': _categories,
} %}
<div class="m-related-metadata
            {{ 'm-related-metadata__half-width' if value.is_half_width else '' }}">
    <header class="m-slug-header">
        <h2 class="a-heading">
            {{ value.slug }}
        </h2>
    </header>
    {# For each of the blocks render them if they're there except for Topics.
       In that case, render only if the value `show_topics` is True. #}
    {% for block in value.content %}
        {% if 'topics' in block.block_type and not block.value.show_topics %}
            {% continue %}
        {% endif %}
        {% if 'categories' in block.block_type and not block.value.show_categories %}
            {% continue %}
        {% endif %}
        <div class="m-related-metadata_item-container">
            <h3 class="h4">
                {{ block.value.heading }}
            </h3>
            {{ types_lookup[block.block_type](block.value) }}
        </div>
    {% endfor %}
</div>
{% endmacro %}

{# ==========================================================================

   _list()

   ==========================================================================

   Description:

   Creates related metadata list markup when given:

   list:              A list of dictionaries containing links.

   is_related_topics: Boolean indicating whether the list is a
                      Related Topics list. Defaults to false.

   ========================================================================== #}

{% macro _list(list, is_related_topics=false) %}
<ul class="m-list
           m-list__unstyled
           m-list__links
           {{ 'm-related-metadata_topics' if is_related_topics else '' }} ">
    {% for link in list.links %}
    <li class="m-list_item">
        {% if link.url %}
            <a href="{{ link.url }}" class="m-list_link">
                {{ link.text }}
            </a>
        {% else %}
            <span class="m-list_link">{{ link.text }}</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# ==========================================================================

   _date()

   ==========================================================================

   Description:

   Creates related metadata date markup when given:

   date: A string representing a date.

   ========================================================================== #}

{% macro _date(date) %}
<p class="a-date">
    {% import 'macros/time.html' as time %}
    {{ time.render(date.date, {'date':true}) }}
</p>
{% endmacro %}

{# ==========================================================================

   _text()

   ==========================================================================

   Description:

   Creates related metadata text markup when given:

   text: A string representing text.

   ========================================================================== #}

{% macro _text(text) %}
    {{ text.blob | safe }}
{% endmacro %}

{# ==========================================================================

   _topics()

   ==========================================================================

   Description:

   Creates related metadata related topics markup

   list: An object holding the tag information.

   ========================================================================== #}

{% macro _topics(list) %}
    {{ _list( page.related_metadata_tags(), true ) }}
{% endmacro %}

{# ==========================================================================

   _categories()

   ==========================================================================

   Description:

   Creates related metadata categories markup

   categories_check: A dict holding a string heading and a show_categories bool

   ========================================================================== #}

{% macro _categories(categories_check) %}
    <ul class="m-list m-list__unstyled">
    {% for category in page.categories.all() %}
    <li class="m-list_item">
        <span>{{ category.get_name_display() }}</span>
    </li>
    {% endfor %}
</ul>
{% endmacro %}
