{# ==========================================================================

    Related Content

    ==========================================================================

    Description:

    Creates related content markup when given:

    value:                     Object defined from a StreamField block.

    value.heading:             (Optional) Heading of the related content inset.
                               Default is "Related content".

    value.paragraph:           String for text above the links.

    value.links:               (Optional) A list of links with the link first
                               followed by the text of link.

    value.links[i].url:        A string for the URL of the link.

    value.links[i].text:       A string for the text of the link.

    value.links[i].aria_label: (Optional) An aria-label for the link.

   ========================================================================== #}

<div class="m-related-links">
    {% if value.heading %}
        <header class="m-slug-header">
            <h2 class="a-heading">
                {{ value.heading }}
            </h2>
        </header>
    {% endif %}
    {% if value.paragraph %}
    {{ value.paragraph | safe }}
    {% endif %}
    {% if value.links %}
        <ul class="m-list m-list__links">
        {% for link in value.links %}
            <li class="m-list_item">
                <a href="{{ link.url }}"
                   class="m-list_link"
                   {% if link.aria_label %}aria-label="{{ link.aria_label }}"{% endif %}>
                    {{ link.text }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
