{# ==========================================================================

   related_posts.render()

   ==========================================================================

   Description:

   Creates related posts markup when given:

   half_width:       A Boolean indicating whether the posts should be
                              at half width.

   hide_header_slug: A Boolean indicating whether the header should be
                              hidden.

   ========================================================================== #}

{% macro render(half_width=false, hide_header_slug=false) %}
<div class="m-related-posts
            {{ 'm-related-posts__half-width'
               if settings.half_width else '' }}">
    {% if not hide_header_slug %}
    <h2 class="header-slug">
        <span class="header-slug_inner">
            Related Posts
        </span>
    </h2>
    {% endif %}
    {#% TODO: Add condition to display various related post types %#}
    {{ _related_posts_list() }}
</div>
{% endmacro %}


{# ==========================================================================

   _related_posts_list()

   ==========================================================================

   Description:

   Creates related posts markup when given:

   ========================================================================== #}

{% macro _related_posts_list() %}
{% import 'macros/time.html' as time %}
<ul class="m-related-posts_list
           list list__unstyled
           list__spaced">
    {% for post in page.related_posts %}
    <li class="list_item">
        <h4 class="u-mb5">
            <a class="list_link"
               href="{{ post.permalink }}">
                {{ post.title | safe }}
            </a>
        </h4>
        {% if post.text %}
        <p class="short-desc">
            {{ post.text | safe }}
        </p>
        {% endif %}
        <p class="date">
            {{ time.render(post.date, {'date':true}) }}
        </p>
    </li>
    {% endfor %}
</ul>

{% if view_more %}
  {{ _view_more() }}
{% endif %}

{% endmacro %}

{# ==========================================================================

   _view_more()

   ==========================================================================

   Description:

   Creates view more markup when given:

   ========================================================================== #}

{% macro _view_more() %}
{% if page.view_more_url %}
<a class="jump-link jump-link__underline"
   href="{{ page.view_more_url }}">
    <span class="jump-link_text">
        {{ page.view_more_label or 'View More' }}
    </span>
</a>
{% endif %}
{% endmacro %}
