{# ==========================================================================

   snippet_list.render(value)

   ==========================================================================

   Description:

   Creates snippet list when given:

   value:                Object defined from a StreamField block.

   value.heading:        The heading of the snippet list.
                         Default is the type of snippet being listed.

   value.snippet_type:   The type off snippet being listed

   value.more_snippets_url:  A string for the URL of the more snippets url.

   value.more_snippets_text: A string for the text of the more snippets link.

   value.snippets:           A list of snippets with the link first
                             followed by the text of link.

   value.snippets[i].url:    A string for the URL of the link.

   value.snippets[i].text:   A string for the text of the link.


   ========================================================================== #}


<div class="m-snippet-list">
    <h3>
        {{ value.heading or value.snippet_type }}
    </h3>
    {{ value.body if value.body }}
    {% set snippets = get_snippets(value.snippet_type) %}
    {% if value.snippet_type is defined and snippets | length > 0 %}
        {# include value.snippet + '.html' #}
        <table class="table__stack-on-small">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ value.tags }}
            {% for snippet in snippets.filter(tags__name__in=value.tags).distinct() %}
                <tr>
                    <th data-label="Description">{{ snippet.title }}</th>
                    <td data-label="Actions">
                    {% for action in value.actions %}
                        {%- set href = snippet[action.snippet_field].url
                           if snippet[action.snippet_field].url is defined
                           else snippet[action.snippet_field] -%}
                        <a href="{{ href }}">{{ action.link_label }}</a>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no items at this time.</p>
    {% endif %}
</div>
