{# ==========================================================================

   social_media.render()

   ==========================================================================

   Description:

   Creates markup for Social Media molecule.

   options:       Object of optional parameters.

   options.is_share_view:    Whether the "Share this" heading is shown.
                             Default is true.

   options.title:            Sets the title in email subject line
                             and in the LinkedIn share post.
                             Default is "Look what I found on the CFPB!"

   options.twitter_hashtags: A comma-separated list of hashtags
                             to be appended to default Tweet text.
                             https://dev.twitter.com/web/tweet-button/parameters

   options.twitter_related:  A comma-separated list of accounts
                             related to the content of the shared URI.
                             https://dev.twitter.com/web/tweet-button/parameters
                             Default is `cfpb`.

   options.twitter_lang:     Loads text components in the specified language,
                             if other than English.
                             https://dev.twitter.com/web/tweet-button/parameters

   ========================================================================== #}

{# TODO: Remove global page reference when moving to Wagtail. #}
{% macro render( options={} ) %}
{% set title = options.title | urlencode or ( page or {} ).seo_title | urlencode  %}
{% set parsed_url = request.url | urlencode %}
{% set external_redirect_url = '/external-site/?ext_url=' %}
{% set is_share_view = options.is_share_view | default( true ) %}
<div class="m-social-media
            m-social-media__{{ 'share' if is_share_view else 'follow' }}">
    {% if is_share_view %}
        <p class="h5 m-social-media_heading">Share this</p>
    {% endif %}

    <ul class="list
               list__unstyled
               list__horizontal
               m-social-media_icons">

        {% set facebook_info = {
            'name': 'Facebook',
            'homepage': 'https://facebook.com/cfpb',
            'share_url': 'https://www.facebook.com/dialog/share?app_id=210516218981921&display=page&href=' ~ parsed_url ~ '&redirect_uri=' ~ parsed_url,
            'class': 'cf-icon-facebook-square'
        } %}

        {% set twitter_info = {
            'name': 'Twitter',
            'homepage': 'https://twitter.com/cfpb',
            'share_url': _share_twitter_url(parsed_url, title, options),
            'class': 'cf-icon-twitter-square'
        } %}

        {% set linkedin_info = {
            'name': 'LinkedIn',
            'homepage': 'https://www.linkedin.com/company/consumer-financial-protection-bureau',
            'share_url': 'https://www.linkedin.com/shareArticle?mini=true&url=' ~ parsed_url ~ '&title=' ~ title ~ '%20Developer%20Network',
            'class': 'cf-icon-linkedin-square'
        } %}

        {% set email_info = {
            'name': 'email',
            'share_url': 'mailto:?subject=' ~ title ~ '&body=Check out this page from the CFPB - ' ~ parsed_url,
            'class': 'cf-icon-email-social-square'
        } %}

        {% set youtube_info = {
            'name': 'YouTube',
            'homepage': 'https://www.youtube.com/user/cfpbvideo',
            'class': 'cf-icon-youtube-square'
        } %}

        {% set flickr_info = {
            'name': 'Flickr',
            'homepage': 'https://www.flickr.com/photos/cfpbphotos',
            'class': 'cf-icon-flickr-square'
        } %}

        {% if is_share_view %}
            {% set links = [
                facebook_info,
                twitter_info,
                linkedin_info,
                email_info
            ] %}
        {% else %}
            {% set links = [
                facebook_info,
                twitter_info,
                linkedin_info,
                youtube_info,
                flickr_info
            ] %}
        {% endif %}


        {% for link in links %}
            {% if is_share_view %}
                <li class="list_item">
                    <a class="m-social-media_icon"
                       href="{{ external_redirect_url ~ link.share_url | trim }}"
                       {{ 'target=_blank' if link.name != 'email' else '' }}>
                        <span class="cf-icon {{ link.class }}"></span>
                        <span class="u-visually-hidden">Share on {{ link.name }}</span>
                    </a>
                </li>
            {% else %}
                <li class="list_item">
                    <a class="m-social-media_icon"
                       href="{{ external_redirect_url ~ link.homepage | trim }}">
                        <span class="cf-icon {{ link.class }}"></span>
                        <span class="u-visually-hidden">Visit us on {{ link.name }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}

    </ul>
</div>
{% endmacro %}

{% macro _share_twitter_url(parsed_url, title, options) %}
    {%- set _share_twitter_url = 'http://twitter.com/intent/tweet' -%}
    {%- set _share_twitter_url = _share_twitter_url + '?url=' + parsed_url -%}
    {%- set _share_twitter_url = _share_twitter_url + '&via=CFPB' -%}
    {%- set _share_twitter_url = _share_twitter_url + '&text=' + title + '%20--' -%}

    {%- if options.twitter_hashtags %}
        {% set _share_twitter_url = _share_twitter_url + '&hashtags=' + options.twitter_hashtags %}
    {% endif -%}
    {%- if options.twitter_related %}
        {% set _share_twitter_url = _share_twitter_url + '&related=' + options.twitter_related %}
    {%- else %}
        {% set _share_twitter_url = _share_twitter_url + '&related=cfpb' %}
    {% endif -%}
    {%- if options.twitter_lang %}
        {% set _share_twitter_url = _share_twitter_url + '&lang=' + options.twitter_lang %}
    {% endif -%}

    {{ _share_twitter_url }}
{% endmacro %}
