{# ==========================================================================

   text_introduction.render()

   ==========================================================================

   Description:

   Create a Text Introduction molecule.
   See [GHE]/flapjack/Modules-V1/wiki/Text-Introduction

   value:           An object with the following options for value.

   value.heading:   Heading text.
   value.intro:     Body introduction text.
   value.body:      Body text.

   value.links:     A collection of links with URL & Text.

   value.has_rule:  Whether there is a bottom gray rule.
                       Default is false.

   ========================================================================== #}

{% if not value %}
    {% set lipsumText = lipsum(1, false, 10, 25) | safe %}
    {% do global_dict.update(
        {
            'introduction': {
                'heading':      'Text Introduction',
                'intro':        'Content Intro Lorem Ipsum',
                'body': {
                    'source': lipsumText
                },
                'links': [{
                            'text': 'Placeholder link',
                            'url':  '#'
                }]
            }
        })
    %}
    {% set value = global_dict.introduction %}
{% endif %}

<div class="m-text-introduction
            {{ 'm-text-introduction__bottom-rule' if value.has_rule else '' }}">
    <h1 class='m-text-introduction_heading'>{{ value.heading }}</h1>

    <p class='m-text-introduction_intro'>{{ value.intro.source | safe }}</p>

    <div class='m-text-introduction_body'>{{ value.body.source | safe }}</div>

    <div class='m-text-introduction_link-container'>
        {% for link in value.links %}
            <li class="list_item">
                <a class='jump-link' href='{{ link.url }}'>{{ link.text }}</a>
            </li>
        {% endfor %}

    </div>

</div>
