<html>
	<head>
	</head>
	<body>
		<h1>Request for individual access to records protected under the Privacy Act</h1>
		<p>
		The following information was submitted via web form on consumerfinance.gov/privacy/records-access.
		Any attachments have not been scanned for viruses and may be unsafe.
		</p>

		<h2>Information about the request</h2>
		<p><b>Description of the nature of the records sought</b>:</br>
		    {{description}}
		</p>
		<p><b>Name of the system of records that you believe contain the record requested</b>:</br>
		    {{system_of_record}}
		</p>
		<p><b>Date of the record(s)</b>:</br>
		    {{date_of_records}}
		</p>
		<p><b>Any other information that might assist the CFPB in identifying the record sought</b>:</br>
		    {{other_info}}
		</p>

		<h2>Contact Information</h2>
		<p><b>Name of requestor</b>: </br>
		    {{requestor_name}}
		</p>
		<p><b>Requestor email address</b>: </br>
		    {{requestor_email}}
		</p>
		<p>Please send my records by <b>{{contact_channel}}</b>.</p>
		{% if contact_channel == 'mail' %}
		<p>Recipient mailing address: </br>
		    {{street_address}}<br>{{city}} {{state}}, {{zip_code}}
		</p>
		{% endif %}

		<p><b>Supporting documentation</b>: {{num_files}} file(s) attached. </p>
		{% if num_files > 0 %}
		    <ul>
			{% for f in uploaded_files %}
			    <li>{{ f.name }}</li>
			{% endfor %}
		    </ul>
		{% endif %}

		<h2>Consent for disclosure of records</h2>
		<p><b>Full name</b>: </br>
		    {{full_name}}
		</p>
		<p>{{consent_text}}: <b>{{consent}}</b></p>
	</body>
</html>
