

/* BIG BUBBLES */
.bubbles{clear:both;}
.bubble{width:208px;float:left;background:#D2E1EF;margin:0 5px 10px 5px;cursor:pointer;height:270px;}
.bubble.bubble-active{background:#DD6344;}
.bubble-text{min-height:150px;background-repeat:no-repeat;background-position:20px 20px;
	padding:80px 20px 0 20px;color:black;font-size:18px;line-height:26px;}
.bubble.bubble-active .bubble-text{color:white;}

.bubble-text.key-options {background-image:url(key_options.png);}
.bubble-text.key-dollar {background-image:url(key_dollar.png);}
.bubble-text.key-check {background-image:url(key_check.png);}
.bubble-text.key-clock {background-image:url(key_clock.png);}
.bubble-text.key-compass {background-image:url(key_compass.png);}
.bubble-text.key-bank {background-image:url(key_bank.png);}
.bubble-text.key-checklist {background-image:url(key_checklist.png);}

.answer-box{border:1px solid #5281AB;padding:14px;}
.answer-box .answer-entry{display:none;}
.answer-box .answer-entry.bubble-active{display:block;}
.answer-box .answer-entry.bubble-active b{/*text-transform:uppercase;*/font-weight:600;font-family: "Avenir Next", Arial, sans-serif;}
.answer-box .answer-entry.bubble-active li{margin:14px; line-height:23px;font-family:Georgia, serif;}


ul.m,ol.m {font-size:14px; line-height:20px;font-family:Georgia, serif;}

#print-questions{display:none;}
.answer-hidden{display:none;} /*hides answer box--added 11-30-12 by dzg*/