h4 {padding:0px; color:#212121; letter-spacing:0px;margin-left:0px;}
h3 {text-transform:none; color:#212121;}
.comparison-h2{font-size:24px;}
p {line-height:1.4em;}


.rel-ico-span{position: relative;width:300px;margin-left:21px; float:left; height:100%;}
.rel-ico-span h4{margin-left:22px;}
.rel-ico-span .icon{margin-top:1px;}
#ask-cfpb-print {display:none;}
