{% for event in events|list if events %}
    {%- set city =  event.venue_city + ', ' + event.venue_state
                    | default('Washington, DC') -%}
    <article class="post-preview post-preview__event">
        <div class="media">
            <a class="media_image-container post-summary-image" href="{{ event.url }}">
                <div class="post-summary-image_container">
                    {% from 'events/_macros.html' import event_location_image %}
                    {{ event_location_image({'location': city}) }}
                </div>
            </a>
            <div class="media_body media_body__event">
                <a href="{{ event.url }}">
                    <header class="summary_header">
                        <time class="calendar-icon"
                            data-month="{{ event.start_dt | date('%b') }}"
                            data-day="{{ event.start_dt | date('%-d') }}"
                            datetime="{{ event.start_dt | date('%c') }}">
                            <span class="u-visually-hidden">{{ event.start_dt | date('%b %-d, %Y') }}</span>
                        </time>
                        <div class="summary-meta_container">
                            <h1 class="summary_heading">{{ event.title | safe }}</h1>
                                <div class="event-meta h-event">
                                {% from 'events/_macros.html' import event_meta_address %}
                                {% import 'macros/time.html' as time %}
                                    {{ event_meta_address(event) }}
                                    {{ time.render(event.start_dt,
                                                   {'date':true, 'time':true,
                                                    'timezone':true}) }}
                                </div>
                        </div>
                    </header>
                    <p class="summary_text">
                    {% if when(event.start_dt | date('%c'),
                               event.end_dt | date('%c')) == 'past' %}
                        {{ event.archive_body | striptags }}
                    {% elif when(event.start_dt | date('%c'),
                               event.end_dt | date('%c')) == 'present' %}
                        {{ event.live_body | striptags }}
                    {% elif when(event.start_dt | date('%c'),
                               event.end_dt | date('%c')) == 'future' %}
                        {{ event.future_body | striptags }}
                    {% endif %}
                    </p>
                </a>
                <footer>
                    {# tags.html #}
                    <div class="tags tags__hide-heading">
                        <span class="tags_heading u-visually-hidden">Topics:</span>
                        <ul class="tags_list">
                        {% for tag in event.tags.all() %}
                            <li class="tags_tag">
                                <a class="tags_link" href="{{ request.path }}?topics={{ tag.slug }}">
                                    <span class="tags_bullet" aria-hidden="true">&bull;</span>
                                    {{ tag.name }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </article>
{% endfor %}
