{% load wagtailadmin_tags %}

{% comment %}
    TODO: Remove once we are Wagtail 5.1.1:
    https://docs.wagtail.org/en/stable/releases/5.1.1.html
{% endcomment %}

<td {% if column.classname %}class="{{ column.classname }}"{% endif %}>
    {% if value is None %}
        {% icon title=value|stringformat:'s' name="help" classname="default" %}
    {% elif value %}
        {% icon title=value|stringformat:'s' name="success" classname="default w-text-positive-100" %}
    {% else %}
        {% icon title=value|stringformat:'s' name="error" classname="default w-text-critical-100" %}
    {% endif %}
</td>
