/* ==========================================================================
   Capital Framework
   Enhancements
   ========================================================================== */

// This is your project's CF enhancements.
//
// Whenever building enhancements or changes to existing CF components, write them here
// to work out the details before contributing them back to a Capital Framework component
//

/* ==========================================================================
   Full-width buttons on small screens
   ========================================================================== */

.btn__full-small {

  .respond-to-max(@bp-xs-max, {
    display: block;
    width: 100%;
    text-align: center;
  });

  &.btn__link {
    .respond-to-max(@bp-xs-max, {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    });
  }

  & + & {

    .respond-to-max(@bp-xs-max, {
      margin-top: unit(10px / @base-font-size-px, em);
      margin-left: auto;
    });
  }
}

a.btn__full-small.btn__link {

  .respond-to-max(@bp-xs-max, {
    display: inline-block;
  });
}

/* ==========================================================================
   Flush left lists
   ========================================================================== */

.list__flush-left {
  padding-left: 0;
  list-style-position: inside;
}

/* ==========================================================================
   New style form labels
   ========================================================================== */

.form-label {
  font: @webfont-medium;
  font-size: 1.125em;
}

.form-label_text-wrapper {
  display: block;
  margin-bottom: unit(5px / @base-font-size-px, em);
  font: @webfont-medium;
  font-size: 1.125em;
}

/* ==========================================================================
   Expanded intros
   ========================================================================== */

.hero__intro {
  background-color: transparent;
}

/* ==========================================================================
   Capital Framework Notification Styling
   from https://github.com/cfpb/consumerfinance.gov/blob/2c62c966880afba0d634df7062876abec3393661/cfgov/unprocessed/css/cf-notifications.less
   ========================================================================== */

.cf-notification {
  @notification-padding__px: 11px;

  position: relative;

  padding: @notification-padding__px;
  padding-left: 40px;
  margin-bottom: @notification-padding__px + 4px;

  background: @gray-20;
  border: 1px solid @gray;

  &__error {
    background: @red-20;
    border-color: @input-error;
  }

  &__success {
    background: @green-20;
    border-color: @input-success;
  }

  &__warning {
    background: @gold-20;
    border-color: @input-warning;
  }

  &_icon {
    position: absolute;
    top: @notification-padding__px + 2px;
    left: @notification-padding__px + 4px;

    color: @gray-20;
    font-size: unit( 18px / @base-font-size-px, em );

    &__error {
      color: #d14327;
    }

    &__success {
      color: #2cb34a;
    }

    &__warning {
      color: #ff931b;
    }
  }

  &_text {
    .h4();
    margin: 0;

    .short-desc {
      display: block;
      font-size: @base-font-size-px;
    }
  }
}

/* ==========================================================================
   Big numbered lists (from Know Before You Owe)
   ========================================================================== */

@char-icon-size: unit(32px / @base-font-size-px, em);
@char-icon-spacing: 0.5em;

.char-icon {
  box-sizing: border-box;
  padding-left: @char-icon-size + @char-icon-spacing;
  position: relative;

  &:before {
    display: block;
    box-sizing: border-box;
    width: @char-icon-size;
    height: @char-icon-size;
    border-radius: 100%;
    margin-right: @char-icon-spacing;
    position: absolute;
    left: 0;
    top: unit(@base-line-height - @char-icon-size, em);
    background: @green-20;
    color: @black;
    font: @webfont-medium;
    font-size: unit(18px / @base-font-size-px, em);
    line-height: @char-icon-size;
    text-align: center;
    text-indent: 0;
  }

  &__1:before { content: '1'; }
  &__2:before { content: '2'; }
  &__3:before { content: '3'; }
  &__4:before { content: '4'; }
  &__5:before { content: '5'; }
  &__6:before { content: '6'; }
  &__7:before { content: '7'; }
  &__8:before { content: '8'; }
  &__9:before { content: '9'; }
  &__0:before { content: '0'; }
}

// Ordered list with char-icon-style numerals
.super-numerals {
  padding-left: 0;
  list-style: none;

  & > li {
    counter-increment: steps;
    .char-icon();
  }

  & > li:before {
    content: counter(steps);
  }
}

/* ==========================================================================
   Well that runs the entire height of a column
   ========================================================================== */

.column-well {
  padding-top: unit(25px / @base-font-size-px, em);
  padding-bottom: unit(10px / @base-font-size-px, em);
  position: relative;

  .respond-to-min(@bp-sm-min, {
    padding-top: unit(30px / @base-font-size-px, em);
    padding-bottom: unit(30px / @base-font-size-px, em);
  });

  &:after {
    display: block;
    width: 9999px;
    height: 9999px;
    position: absolute;
    top: 0;
    left: unit(-(@grid_gutter-width / @base-font-size-px) / 2, em);
    z-index: 0;
    background-color: @gray-5;
    content: '';

    .respond-to-min(@bp-sm-min, {
      width: 100%;
      left: 0;
    });
  }

  &_wrapper {
    overflow: hidden;

    &__overflow-small {
      overflow: visible;

      .respond-to-min(@bp-sm-min, {
        overflow: hidden;
      });
    }
  }

  &_content {
    position: relative;
    z-index: 1;

    .respond-to-min(@bp-sm-min, {
      padding-right: unit(30px / @base-font-size-px, em);
      padding-left: unit(30px / @base-font-size-px, em);
    });
  }

  &__bleed {

    &:after {

      .respond-to-min(@bp-med-min, {
        padding-right: @grid_gutter-width * 2;
        left: -@grid_gutter-width;
      });
    }

    .column-well_content {

      .respond-to-min(@bp-med-min, {
        padding-right: 0;
        padding-left: 0;
      });
    }
  }

  &__not-stacked {
    padding-top: 0;
    padding-bottom: 0;

    .respond-to-min(@bp-sm-min, {
      padding-top: unit(30px / @base-font-size-px, em);
      padding-bottom: unit(30px / @base-font-size-px, em);
    });

    &:after {
      display: none;

      .respond-to-min(@bp-sm-min, {
        display: block;
      });
    }
  }

  &__emphasis {
    .respond-to-min(@bp-sm-min, {
      padding-top: unit(50px / @base-font-size-px, em);
      padding-bottom: unit(50px / @base-font-size-px, em);
    });

    &:after {
      background-color: @gray-5;
    }
  }
}

/* ==========================================================================
   Accessible bleedbar
   ========================================================================== */

.content__bleedbar {

  .content_wrapper:after {
    background-color: @gray-5;
  }

  .header-slug {
    border-color: @gray-40;
  }
}

/* ==========================================================================
   Tyopgraphy spacing enhancements
   ========================================================================== */

.block_section {
  margin: 0;
}

.block_section__h2 {

  p + &,
  ul + &,
  ol + &,
  dl + &,
  figure + &,
  img + &,
  table + &,
  blockquote + &,
  .block_section + & {
    margin-top: unit( 45px / @base-font-size-px, em );
  }

  h1 + &,
  .h1 + &,
  h3 + &,
  .h3 + &,
  h4 + &,
  .h4 + &,
  h5 + &,
  .h5 + &,
  h6 + &,
  .h6 + & {
    margin-top: unit( 30px / @base-font-size-px, em );
  }

  .respond-to-max(@bp-xs-max, {

    p + &,
    ul + &,
    ol + &,
    dl + &,
    figure + &,
    img + &,
    table + &,
    blockquote + &,
    .block_section + & {
      margin-top: unit( 30px / @base-font-size-px, em );
    }
  });
}
