/* ==========================================================================
   Capital Framework theme overrides
   ========================================================================== */

/* cf-core
   ========================================================================== */

// Sizing variables

@base-font-size-px: 16px;
@base-line-height-px: 22px;
@base-line-height: unit(@base-line-height-px / @base-font-size-px);
@mobile-max: 599px;
@tablet-min: 600px;

// Color variables

// body
@text: var(--black);

// a
@link-text: var(--pacific);
@link-underline: var(--pacific);
@link-text-visited: var(--teal-dark);
@link-underline-visited: var(--teal-dark);
@link-text-hover: var(--pacific-60);
@link-underline-hover: var(--pacific-60);
@link-text-active: var(--navy-dark);
@link-underline-active: var(--navy-dark);

// thead
@table-head-text: var(--white);
@table-head-bg: var(--gray-dark);
@td-bg: var(--gray-5);
@td-bg-alt: var(--gray-10);

// input
@input-bg: var(--white);
@input-border: var(--gray-80);
@input-border-focus: var(--pacific);
@input-placeholder: var(--gray-60);

// .figure__bordered
@figure__bordered: var(--gray-40);

/* cf-buttons
   ========================================================================== */

// Color variables

// .btn
@btn-text: var(--white);
@btn-bg: var(--pacific);
@btn-bg-hover: var(--pacific-80);
@btn-bg-active: var(--navy);

// .btn__secondary
@btn__secondary-text: var(--white);
@btn__secondary-bg: var(--gray-80);
@btn__secondary-bg-hover: var(--gray-60);
@btn__secondary-bg-active: var(--gray-dark);

// .btn__warning
@btn__warning-text: var(--white);
@btn__warning-bg: var(--red);
@btn__warning-bg-hover: var(--red-80);
@btn__warning-bg-active: var(--red-dark);

// .btn__disabled
@btn__disabled-text: var(--gray-80);
@btn__disabled-bg: var(--gray-10);
@btn__disabled-outline: var(--gray-10);

// Sizing variables

// .btn
@btn-font-size: 16px;
@btn-v-padding: 8px;
@btn-v-padding-modifier-ie: 0.8;

/* cf-expandables
   ========================================================================== */

// Color variables

// .expandable
@expandable-focus: var(--black);

// .expandable_label
@expandable_label-text: var(--black);

// .expandable_link
@expandable_link-text: var(--pacific);

// .expandable__padded
@expandable__padded-bg: var(--gray-10);
@expandable__padded-bg-hover: var(--gray-10);
@expandable__padded-divider: var(--gray-40);

// .expandable-group
@expandable-group_header-text: var(--gray-80);
@expandable-group_header-bg: var(--gray-10);
@expandable-group-bg: var(--white);
@expandable-group-divider: var(--gray-40);

// Sizing variables

// .expandable_link
@expandable_link-font-size: @btn-font-size;

/* cf-forms
   ========================================================================== */

// Color variables

// .error
@input-error: var(--red);

// warning
@input-warning: @gold;

// .success
@input-success: var(--green);

// .disabled
@input-disabled: var(--gray-10);

// .form-label-helper-text
@label-helper: var(--gray-dark);

// .form-l-inset_container
@input-inset-bg: var(--gray-10);

// .form-l-inset_container.is-checked
@input-inset-selected: var(--pacific-20);

/* cf-grid
   ========================================================================== */

@grid_wrapper-width: 1230px;
@grid_gutter-width: 30px;
@grid_total-columns: 12;
@grid_debug: false;

/* cf-icons
   ========================================================================== */

@cf-icon-path: '/static/icons';

/* cf-layout
   ========================================================================== */

// Color variables

// .block
@block__border-top: var(--gray-40);
@block__border-bottom: var(--gray-40);
@block__bg: var(--gray-10);

// .content_main
@content_main-border: var(--gray-40);

// .content_sidebar
@content_sidebar-bg: var(--gray-10);
@content_sidebar-border: var(--gray-40);

// .content_line
@content_line: var(--gray-40);

/* cf-pagination
   ========================================================================== */

// Color variables

@pagination-text: var(--gray-80);
@pagination-bg: var(--gray-10);

// Sizing variables

@pagination-font-size: 16px;
@pagination-bp: 640px;

/* cf-typography
   ========================================================================== */

// Color variables

// .pull-quote
@pull-quote_body: var(--black);
@pull-quote_citation: var(--gray-80);

// .micro-copy
@micro-copy-text: var(--gray-80);

// .date
@date-text: var(--gray-80);

// .padded-header
@padded-header-text: var(--gray-dark);
@padded-header-bg: var(--gray-10);
@padded-header-border: var(--gray-40);

// .fancy-slug
@fancy-slug-text: var(--black);
@fancy-slug-bg: var(--white);
@fancy-slug-border: var(--gray-40);

// .meta-header
@meta-header-border: var(--gray-40);

// .jump-link
@jump-link__bg: var(--gray-10);
@jump-link__bg-border: var(--gray-10);

// .list__branded
@list__branded-bullet: var(--green);
