
#college-costs__school-search {
	position: relative;
}

#college-costs__school-search #tmp__search-results {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid black;
	padding: 5px 10px;
}