/* ==========================================================================
   Global
   ========================================================================== */

@small-font-size-px:    14px;
@x-small-font-size-px:  12px;
// Minimum width that putting the + or - sign inline with values in two-column line items works
@bp-inline-sign-min:    689px;
// Minimum width that bar graphs work in two columns
@bp-graph-cols-min:     740px;

.understanding-financial-aid-offer {

  // Hide the clear-input "helper" in IE10+; it throws off calculations
  input::-ms-clear {
    display: none;
  }

  .content {

    &_main {
      padding-top: 0;
      padding-bottom: 0;

      button.a-btn.a-btn__link {
          border-bottom: none;
      }

      // Overrides a style bleeding in from footer.css/header.css
      p:last-child {
        margin-bottom: 15px;
      }
    }

    &_sidebar a {
      border-bottom-width: 1px;
    }
  }

  .information-right, .information-wrong,
  .offer-part_content-positive-cost, .offer-part_content-negative-cost,
  .evaluate, .question, .get-options, .followup__no-not-sure, .followup__yes,
  .next-steps, .feedback {
    display: none;
  }

  #info-right:target, #info-wrong:target {
    display: block;
    outline: none;
  }
}

.step {

  &_heading {
    .heading-2();
  }

  &_intro {
    .respond-to-min(@bp-sm-min, {
      .heading-3();
    });
  }
}

// A bottom border for the sections in step 3 that use a special grid (11 columns plus bleeding into one gutter)
.offer-part:after,
.criteria_wrapper:after {

  .respond-to-min(@bp-sm-min, {
    display: block;
    height: 1px;
    border-right: 0;
    border-left: 0;
    margin-right: 0;
    position: absolute;
    bottom: 0;
    right: @grid_gutter-width / 2;
    left: @grid_gutter-width / 2;
    z-index: 10;
    background-color: @gray-40;
    content: ' ';
  });

  .respond-to-min(@bp-med-min, {
    width: unit( (11 / @grid_total-columns) * 100, %);
  });
}

/* ==========================================================================
   Tool intro
   ========================================================================== */

.understanding-financial-aid-offer .m-hero_image {
  background-image: url('../img/intro-195.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .understanding-financial-aid-offer .m-hero_image {
    background-image: url('../img/intro-390.png');
  }
}

/* ==========================================================================
   Verify offer
   ========================================================================== */

.verify {
  margin-top: unit(20px / @base-font-size-px, em);

  .respond-to-min(@bp-sm-min, {
    margin-top: unit(30px / @base-font-size-px, em);
  });

  &_wrapper {
    margin-bottom: unit(20px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      .grid_nested-col-group();
      margin-bottom: unit(45px / @base-font-size-px, em);
    });
  }

  &_content {

    dt, dd {
      display: block;
    }

    .respond-to-min(@bp-sm-min, {
      .grid_column(9);
    });

    .respond-to-min(@bp-lg-min, {
      .grid_column(7);
    });

    .respond-to-min(@bp-xl-min, {
      .grid_column(6);
    });

  }

  &_prompt {
    .heading-2();
    margin-bottom: unit(30px / @font-size, em);
  }

  &_school,
  &_location {
    .heading-3();

    .respond-to-min(@bp-sm-min, {
      margin-bottom: unit(5px / @font-size, em);
    });
  }
  &_school {
    margin-bottom: 0;
    font-weight: bold;
  }

  &_list {
    margin-top: unit(15px / @base-font-size-px, em);
    margin-bottom: unit(15px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      margin-top: unit(20px / @base-font-size-px, em);
    });
  }

  &_heading,
  &_label {
    .heading-5();
    margin-bottom: 0;
  }

  &_value {
    margin-left: 0;
  }

  &_value + &_heading {
    padding-top: unit(15px / @x-small-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      padding-top: unit(20px / @x-small-font-size-px, em);
    });
  }

  &_estimate {
    .respond-to-min(@bp-sm-min, {
      .grid_column(8);
      border: none;
    });
  }

  &_controls {
    margin-top: unit(30px / @base-font-size-px, em);
    text-align: center;

    .respond-to-min(@bp-sm-min, {
      text-align: left;
    });
  }

  &_wrong-info-btn {
    font-size: 1em;
  }

  [data-missing-data-error] {
    display: none;
  }
}

/* ==========================================================================
   Instructions
   ========================================================================== */

.instructions {
  margin-top: unit(30px / @base-font-size-px, em);

  &_wrapper {
    padding-bottom: unit(5px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      .grid_nested-col-group();
      padding-bottom: unit(20px / @base-font-size-px, em);
    });
  }

  &_content {

    .respond-to-min(@bp-sm-min, {
      .grid_column(6);
    });
  }

  &_subheading {
    .heading-4();
  }

  &_about-wrapper {
    padding-top: unit(20px / @base-font-size-px, em);
    padding-bottom: unit(20px / @base-font-size-px, em);
    margin-top: unit(30px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      .grid_column(5);
      .grid_push(1);
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
    });
  }

  &_about-heading {
    .heading-5();
  }

}

/* ==========================================================================
   Offer and expenses forms
   ========================================================================== */

.aid-form {
  @aid-form-left-inset: 40px;
  margin-top: unit(30px / @base-font-size-px, em);

  .respond-to-min(@bp-sm-min, {
    margin-top: 0;
  });

  .respond-to-min(@bp-lg-min, {
    padding-left: unit(@aid-form-left-inset / @base-font-size-px, em);
  });

  &_heading {
    margin-bottom: unit(20px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      padding-bottom: unit(5px / @base-font-size-px, em);
      border-bottom: 1px solid @gray-40;
    });
  }

  &_title {
    margin-bottom: unit(5px / 18px, em);
  }

  &_caption {
    margin-bottom: 0;
    font-size: @small-font-size-px;
  }

  &_label-wrapper,
  .form-label_text-wrapper {

    .respond-to-min(@bp-sm-min, {
      .grid_column(12);
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(15,24);
    });

    .aid-form_definition {
      margin-bottom: unit(5px / @small-font-size-px, em);
    }
  }

  &_input-wrapper {

    .respond-to-min(@bp-sm-min, {
      .grid_column(12);
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(9,24);
    });
  }

  &_input {
    box-sizing: border-box;
    width: 100%;

    .respond-to-min(@bp-sm-min, {
      max-width: unit(280px / @base-font-size-px, em);
    });

    &__currency {
      text-align: right;
    }

    &__percent,
    &__time {
      width: unit(65px / @base-font-size-px, em);
      text-align: right;
    }

    &[disabled] {
      background-color: @gray-10;
      color: @black;
      // Need to set -webkit-text-fill-color to make disabled input text @black in Safari/iOS
      -webkit-text-fill-color: @black;
      opacity: 1;
    }

    &&__error {
     border-color: @red-80;
     border-width: unit( 2px / @base-font-size-px, em );
    }
  }

  &_calc-error {
    font-size: unit(@small-font-size-px / @base-font-size-px, em);
    line-height: 1.5;
    margin-top: unit( 5px / @base-font-size-px, em );
    display: none;

    & > .cf-icon-svg {
      color: @red-80;
      margin-right: unit( 5px / @base-font-size-px, em );
    }
  }

  &_unit {
    display: inline-block;
    margin-top: unit(6px / @base-font-size-px, em);
    margin-left: unit(10px / @base-font-size-px, em);
  }

  &_equals-line {
    margin-top: unit(15px / @base-font-size-px, em);
    margin-bottom: unit(5px / @base-font-size-px, em);
    background-color: @black;
  }

  &_summary,
  &_summary.column-well_content {
    padding-top: unit(20px / @base-font-size-px, em);
    padding-right: (@grid_gutter-width / 2);
    padding-bottom: unit(20px / @base-font-size-px, em);
    padding-left: (@grid_gutter-width / 2);
    margin-top: unit(30px / @base-font-size-px, em);
    margin-right: -(@grid_gutter-width / 2);
    margin-left: -(@grid_gutter-width / 2);
    background-color: @gray-5;

    .respond-to-min(@bp-sm-min, {
      padding-top: 0;
      padding-right: @grid_gutter-width;
      padding-bottom: 0;
      padding-left: @grid_gutter-width;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    });

    .respond-to-min(@bp-med-min, {
      margin-right: -@grid_gutter-width;
      margin-left: -@grid_gutter-width;
    });
  }

  &_summary-heading {
    padding-bottom: unit(5px / @font-size, em);
    border-bottom: 1px solid @black;
    .heading-4();

    .respond-to-min(@bp-sm-min, {
      .heading-5();
    });
  }

  &_definition {
    font-size: unit(@small-font-size-px / @base-font-size-px, em);
  }

  &_group-header {
    margin-bottom: unit(20px / @base-font-size-px, em);

    .respond-to-min(@bp-lg-min, {
      margin-left: unit(-@aid-form-left-inset / @base-font-size-px, em);
    });
  }

  &_inline-subtotal {

    .respond-to-min(@bp-sm-min, {
      display: none;
    });
  }

  .form-group + .form-group {
    margin-top: unit(60px / @base-font-size-px, em);
  }

  .form-group_item {

    .respond-to-min(@bp-sm-min, {
      .grid_nested-col-group();
    });
  }

  .form-group_item + .form-group_item {

    .respond-to-min(@bp-sm-min, {
      margin-top: unit(20px / @base-font-size-px, em);
    });
  }

  .form-label {

    .respond-to-min(@bp-med-min, {
      margin-top: unit(4px / @base-font-size-px, em);
    });
  }

  .form-label-header {
    font-family: 'AvenirNextLTW01-Demi',Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: .875em;
    display: block;
    letter-spacing: 1px;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: .71428571em;
    padding-bottom: unit(5px / @small-font-size-px, em);
    border-bottom: 1px solid @gray-40;

    & + .aid-form_definition {
      margin-top: unit(-5px / @small-font-size-px, em);
    }
  }

  .form-label + .aid-form_definition {
    margin-top: unit(-5px / @small-font-size-px, em);
  }
}

.line-item {
  @line-item-font-size: 18px;

  .grid_nested-col-group();
  margin-bottom: unit(15px / @font-size, em);
  .heading-4();

  &_sign {
    display: inline-block;
    margin-right: unit(5px / @line-item-font-size, em);
    font-size: unit(@line-item-font-size / @font-size, em);
  }

  &_currency {
    position: absolute;
    right: unit(88px / @font-size, em);
  }

  &_explanation {
    display: block;
    margin-top: unit(5px / @line-item-font-size, em);
    font-size: unit(14px / @line-item-font-size, em);
  }

  &_title {
    .grid_column(7);

    .respond-to-min(@bp-sm-min, {
      .grid_column(6);
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(7);
    });

    .respond-to-min(@bp-xl-min, {
      .grid_column(8);
    });
  }

  &_value {
    .grid_column(5);

    .respond-to-min(@bp-sm-min, {
      .grid_column(6);
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(5);
    });

    .respond-to-min(@bp-xl-min, {
      .grid_column(4);
    });
  }

  &_amount {
    float: right;
  }

  &__total {
    margin-bottom: 0;
  }

  & + p {
    margin-top: unit(20px / @base-font-size-px, em);
  }
}

.lt-ie9 {

  .line-item_title {

    .respond-to-min(@bp-sm-min, {
      .grid_column(7);
    });
  }

  .line-item_value {

    .respond-to-min(@bp-sm-min, {
      .grid_column(5);
    });
  }
}

/* ==========================================================================
   Review your first year offer
   ========================================================================== */

.review {
  margin-top: unit(45px / @base-font-size-px, em);

  &_wrapper {

    .respond-to-min(@bp-med-min, {
      .grid_nested-col-group();
    });

    & + .criteria {
      margin-top: unit(30px / @base-font-size-px, em);
    }
  }

  &_intro {

    .respond-to-min(@bp-med-min, {
      .grid_column(10);
    });

    .respond-to-min(@bp-xl-min, {
      .grid_column(7);
    });
  }
}

.offer-part {
  /* padding-top, z-index, and background color need to be set here to make
     sticky sidebars work correctly */
  padding-top: unit(45px / @base-font-size-px, em);
  z-index: 200;
  background-color: #fff;

  .respond-to-min(@bp-sm-min, {
    .grid_nested-col-group();
    padding-bottom: unit(30px / @base-font-size-px, em);
  });

  &_intro {
    margin-bottom: unit(15px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      .grid_column(12);
    });
  }

  &_intro-wrapper {

    .respond-to-min(@bp-sm-min, {
      .grid_nested-col-group();
    });
  }

  &_intro-content {

    .respond-to-min(@bp-sm-min, {
      .grid_column(12);
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(6);
    });

    .respond-to-min(@bp-lg-min, {
      .grid_column(7);
    });
  }

  &_heading {
    .heading-3();
  }

  &_form-wrapper {

    .respond-to-min(@bp-sm-min, {
      .grid_column(6);
    });
  }

  &_summary-wrapper {

    .respond-to-min(@bp-sm-min, {
      .grid_column(6);
      padding-top: unit(30px / @base-font-size-px, em);
      margin-top: 0;
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(4);
      .grid_push(1);

      &.is_stuck {
        .grid_column(4);
        .grid_push(7);
        margin-left: -20px;
      }

      &.is_stuck.is_bottomed {
        margin-left: 0;
      }

    });

    .line-item {

      .respond-to-range(@bp-sm-min, @bp-inline-sign-min, {
        font-size: unit(16px / @base-font-size-px, em);
      });
    }
  }

  &_terms {

    .respond-to-min(@bp-sm-min, {
      .grid_column(12);
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(15,24);
      margin-top: unit(-15px / @base-font-size-px, em);
    });
  }

  &_term {
    margin-top: unit(15px / @base-font-size-px, em);
    margin-bottom: unit(5px / @base-font-size-px, em);
  }

  &.cost-to-attend {
    margin-top: unit(30px / @base-font-size-px, em);
  }
}

.contributions,
.loans,
.future {

  .column-well {
    padding-top: 0;
    padding-bottom: 0;
  }

  .aid-form_summary {

    .respond-to-min(@bp-sm-min, {
      padding-top: unit(30px / @base-font-size-px, em);
      padding-bottom: unit(30px / @base-font-size-px, em);
    });
  }
}

.contributions,
.loans {

  .big-picture {
    display: none;
    padding-bottom: 0;
    background-color: transparent;

    .respond-to-min(@bp-sm-min, {
      display: block;
    });
  }

  .column-well:after {
    background-color: @gold-20;
  }
}

.future {

  .aid-form_summary.debt-summary {
    margin-top: 0;
    background-color: @gold-40;

    .respond-to-min(@bp-sm-min, {
      padding-bottom: 0;
    });
  }

  .aid-form_summary.big-picture {
    background-color: @gold-20;
  }

  .column-well:after {
    background-color: @gold-40;
  }
}

.loans {

  &_line {
    border-top: 1px dotted @gray-40;
    margin-top: unit(30px / @base-font-size-px, em);
    margin-bottom: unit(15px / @base-font-size-px, em);
    background-color: transparent;

    .respond-to-min(@bp-sm-min, {
      margin-top: unit(15px / @base-font-size-px, em);
    });
  }
}

.private-loans {
  border-bottom: 1px dotted @gray-40;
  margin-bottom: unit(15px / @base-font-size-px, em);

  &_heading {
    border-bottom: 1px solid @gray-40;
    margin-bottom: unit(15px / @base-font-size-px, em);
    position: relative;
  }

  &_heading-text {
    .heading-4();
  }

  &_remove-btn,
  &_add-btn {
    border-bottom: none;
    font-size: 1em;

    &:hover,
    &:visited,
    &:active {
      border-bottom: none;
    }
  }

  &_remove-btn {
    position: absolute;
    top: unit(-8px / @base-font-size-px, em);
    right: 0;
    font-size: 1em;
  }

  &_add-btn {
    margin-top: unit(20px / @base-font-size-px, em);
    margin-right: 0;
    margin-bottom: unit(30px / @base-font-size-px, em);
    margin-left: 0;
    text-align: left;
  }

  &_loan + &_loan {
    margin-top: unit(45px / @base-font-size-px, em);
  }
}

.debt-summary {

  .aid-form_summary-heading {
    .heading-3();

    .respond-to-min(@bp-sm-min, {
      .heading-5();
    });
  }
}

/* ==========================================================================
   Evaluating your offer
   ========================================================================== */

.evaluate {
  margin-top: unit(45px / @base-font-size-px, em);

  &_wrapper {

    .respond-to-min(@bp-med-min, {
      .grid_nested-col-group();
    });

    & + .criteria {
      margin-top: unit(30px / @base-font-size-px, em);
    }
  }

  &_intro {

    .respond-to-min(@bp-med-min, {
      .grid_column(10);
    });

    .respond-to-min(@bp-xl-min, {
      .grid_column(7);
    });
  }
}

.criteria {
  margin-top: unit(30px / @base-font-size-px, em);

  .respond-to-min(@bp-graph-cols-min, {
    margin-top: unit(45px / @base-font-size-px, em);
  });

  &_heading {
    .heading-3();
  }

  &_wrapper {

    .respond-to-min(@bp-sm-min, {
      .grid_nested-col-group();
    });

    &:after {

      .respond-to-range(@bp-sm-min, @bp-graph-cols-min - 1, {
        display: none;
      });
    }
  }

  &_intro {

    .respond-to-min(@bp-sm-min, {
      .grid_column(10);
    });

    .respond-to-min(@bp-graph-cols-min, {
      .grid_column(6);
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(5);
    });
  }

  & + & {
    padding-top: unit(15px / @base-font-size-px, em);
    border-top: 1px solid @gray-20;

    .respond-to-min(@bp-graph-cols-min, {
      padding-top: 0;
      border-top: none;
    });
  }
}

.metric {

  .respond-to-min(@bp-sm-min, {
    .grid_column(10);
  });

  .respond-to-range(@bp-sm-min, @bp-graph-cols-min - 1, {
    padding-bottom: 0;
  });

  .respond-to-min(@bp-graph-cols-min, {
    .grid_column(6);
    padding-top: unit(30px / @base-font-size-px, em);
  });

  .respond-to-min(@bp-med-min, {
    .grid_column(4);
    .grid_push(2);
  });

  &_heading {
    .heading-4();
  }

  &_explanation {
    margin-bottom: unit(15px / 14px, em);
    font-size: unit(14px / @base-font-size-px, em);
  }

  &_notification {
    margin-bottom: unit(15px / @base-font-size-px, em);

    .cf-notification_text,
    .cf-notification_icon {
      display: none;
    }

    &__no-you,
    &__no-average,
    &__no-data {
      padding-left: 11px;
    }

    &__better .metric_notification_text__better,
    &__same .metric_notification_text__same,
    &__worse .metric_notification_text__worse,
    &__no-you .metric_notification_text__no-you,
    &__no-average .metric_notification_text__no-average,
    &__no-data .metric_notification_text__no-data {
      display: block;
    }

    &.cf-notification .cf-notification_icon {
      display: inline-block;
    }

    p + .cf-notification_text {
      margin-top: 0;
    }
  }

  &_link {
    border-top: 1px solid @gray-40;
    margin-top: 30px;
    padding-top: 30px;
  }

  &.column-well__not-stacked {

    .respond-to-range(@bp-sm-min, @bp-graph-cols-min - 1, {
      padding-top: 0;
    });
  }

  &.column-well__not-stacked:after {

    .respond-to-range(@bp-sm-min, @bp-graph-cols-min - 1, {
      display: none;
    });
  }

  .column-well_content {

    .respond-to-range(@bp-sm-min, @bp-graph-cols-min - 1, {
      padding-right: 0;
      padding-left: 0;
    });
  }
}

.salary-and-debt {

  @salary-and-debt-font-size: 18px;

  &_projection {
    .grid_nested-col-group();
    max-width: unit(380px / @base-font-size-px, em);
    margin-bottom: unit(20px / @base-font-size-px, em);
  }

  &_projection-name {
    .grid_column(7);
    .heading-4();
  }

  &_projection-value {
    .grid_column(5);
    .heading-4();
    text-align: right;
  }

  &_explanation {
    display: block;
    margin-top: unit(5px / @salary-and-debt-font-size, em);
    font-size: unit(14px / @salary-and-debt-font-size, em);
  }

  &_payment-term {
    margin-bottom: unit(30px / @base-font-size-px, em);

    label {
      // Bug in Chrome and Safari
      // Radio button w/ margin-left: 0 in an overflow: hidden container
      // has clipping on the left side. Fix: set a tiny margin-left value.
      margin-left: 1px;
      line-height: 2;

      .respond-to-min(@bp-med-min, {
        margin-left: 0;
      });

      .respond-to-min(@bp-lg-min, {
        line-height: normal;
      });
    }
  }
}

.debt-burden {

  &_projection {
    .grid_nested-col-group();
    max-width: unit(380px / @base-font-size-px, em);
    margin-bottom: unit(20px / @base-font-size-px, em);
  }

  &_projection-name {
    .grid_column(7);
  }

  &_projection-value {
    .grid_column(5);
    text-align: right;
  }

  &_payment-term {
    margin-bottom: unit(30px / @base-font-size-px, em);

    label {
      // Bug in Chrome and Safari
      // Radio button w/ margin-left: 0 in an overflow: hidden container
      // has clipping on the left side. Fix: set a tiny margin-left value.
      margin-left: 1px;
      line-height: 2;

      .respond-to-min(@bp-med-min, {
        margin-left: 0;
      });

      .respond-to-min(@bp-lg-min, {
        line-height: normal;
      });
    }
  }
}

.debt-equation {
  max-width: unit(380px / @base-font-size-px, em);
  padding-top: unit(10px / @base-font-size-px, em);
  margin-bottom: unit(30px / @base-font-size-px, em);

  &_part {
    float: left;
  }

  &_part__loan {
    width: 25%;
  }

  &_part__income {
    width: 25%;
  }

  &_part__percent {
    width: 20%;
  }

  &_symbol {
    @symbol-font-size-px: 36px;
    margin-top: unit(3px / @symbol-font-size-px, em);
    width: 15%;
    float: left;
    font-size: @symbol-font-size-px;
    text-align: center;
  }

  &_number {
    font-size: unit(18px / @base-font-size-px, em);
  }
}

.bar-graph {
  @bar-graph-container-max-width:  380px;
  @bar-graph-width:                45px;
  @bar-graph-width-sm:             25px;
  @bar-graph-width-xs:             17px;
  @bar-graph-height:              130px;
  @bar-graph-label-width:         135px;
  @bar-graph-value-min-width:      95px;
  @bar-graph-you-font-size:        18px;
  @bar-graph-average-font-size:    16px;
  @bar-graph-line-overhang:         6px;
  @bar-graph-top-label-width:      70px;
  @bar-graph-top-label-height:     20px;
  // A little cheat to make the line look vertically centered
  @bar-graph-line-top-cheat:        3px;

  height: @bar-graph-height;
  max-width: unit(@bar-graph-container-max-width / @base-font-size-px, em);
  margin-bottom: unit(10px / @base-font-size-px, em);
  position: relative;

  &_point {
    width: 100%;
    position: absolute;
  }

  &_label,
  &_value {
    position: absolute;
    top: 0;
    background-color: @white;

    .respond-to-min(@bp-graph-cols-min, {
      background-color: @gray-5;
    });
  }

  &_label {
    width: @bar-graph-label-width;
    left: 0;
    z-index: 10;
  }

  &_value {
    min-width: @bar-graph-value-min-width;
    padding-left: 8px;
    right: 0;
  }

  &_line {
    width: 100%;
    border-top-width: 3px;
    position: absolute;
  }

  &_number {
    display: inline-block;
  }

  &_bar {
    width: @bar-graph-width;
    height: @bar-graph-height;
    margin-left: -@bar-graph-line-overhang;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: @gray-10;

    .respond-to-range(@bp-graph-cols-min, @bp-med-max, {
      width: @bar-graph-width-sm;
      border-right: (@bar-graph-width - @bar-graph-width-sm) / 2 solid @gray-5;
      border-left: (@bar-graph-width - @bar-graph-width-sm) / 2 solid @gray-5;
    });

    // Graph bars need to get really skinny at some screen sizes
    .respond-to-range(@bp-graph-cols-min, 759px, {
      width: @bar-graph-width-xs;
      border-right: (@bar-graph-width - @bar-graph-width-xs) / 2 solid @gray-5;
      border-left: (@bar-graph-width - @bar-graph-width-xs) / 2 solid @gray-5;
    });

    .respond-to-range(901px, 929px, {
      width: @bar-graph-width-xs;
      border-right: (@bar-graph-width - @bar-graph-width-xs) / 2 solid @gray-5;
      border-left: (@bar-graph-width - @bar-graph-width-xs) / 2 solid @gray-5;
    });
  }

  &_top-label {
    width: @bar-graph-top-label-width;
    margin-left: -(@bar-graph-top-label-width - @bar-graph-width) / 2 - @bar-graph-line-overhang;
    position: absolute;
    top: unit(-@bar-graph-top-label-height / @small-font-size-px, em);
    left: 50%;
    z-index: 100;
    font-size: unit(@small-font-size-px / @base-font-size-px, em);
    text-align: center;
  }

  &_point__you {
    font-size: unit(@bar-graph-you-font-size / @base-font-size-px, em);

    .bar-graph_line {
      border-top-color: @black;
      border-top-style: solid;
      top: unit( (@bar-graph-you-font-size + @bar-graph-line-top-cheat) / 2, px);
    }
  }

  &_point__average {
    color: @gray-dark;

    .bar-graph_line {
      border-top-color: @gray-dark;
      border-top-style: dotted;
      top: unit( (@bar-graph-average-font-size + @bar-graph-line-top-cheat) / 2, px);
    }
  }

  &__equal &_point__average {
    display: none;
  }

  &__missing-you {
    display: none;
  }

  &__missing-average &_point__average {
    display: none;
  }

  &__high-point &_top-label {
    display: none;
  }

  // Median salary and loan default graphs need room above for the top-label
  &[data-metric="medianSalary"],
  &[data-metric="defaultRate"], {
    border-top: @bar-graph-top-label-height solid transparent;
  }
}

#content_expenses-nat-salary {
  display: none;
}

/* ==========================================================================
   Estimated monthly expenses
   ========================================================================== */

.debt-burden .column-well_content {

  .respond-to-min(@bp-graph-cols-min, {
    position: absolute;
  });
}

.estimated-expenses {
  padding-top: unit(10px / @base-font-size-px, em);
  padding-bottom: unit(15px / @base-font-size-px, em);
  border-top: 1px solid @gray-40;
  margin-top: unit(30px / @base-font-size-px, em);
  margin-bottom: unit(15px / @base-font-size-px, em);

  .respond-to-min(@bp-sm-min, {
    .grid_column(10);
    padding-bottom: 0;
    border-top: 1px solid @gray-40;
  });

  .respond-to-min(@bp-graph-cols-min, {
    .grid_column(6);
    padding-top: 0;
    border-top: none;
    margin-top: unit(15px / @base-font-size-px, em);
    margin-bottom: unit(45px / @base-font-size-px, em);
  });

  &_region {
    margin-bottom: unit(20px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      .grid_column(6);
      border-width: 0;
    });
  }

  .aid-form {
    margin-top: 0;

    &_heading {

      .respond-to-range(@bp-sm-min, @bp-graph-cols-min, {
        border-bottom: none;
      });
    }

    .form-label_text-wrapper {

      .respond-to-min(@bp-sm-min, {
        .grid_column(12);
      });

      .respond-to-min(@bp-med-min, {
        .grid_column(12,24);
      });

    }

    &_input-wrapper {

      .respond-to-min(@bp-sm-min, {
        .grid_column(12);
      });

      .respond-to-min(@bp-med-min, {
        .grid_column(12,24);
      });
    }

    &_sign {
      .grid_column(3,24);
      border-width: 0px;

      .respond-to-min(@bp-med-min, {
        .grid_column(3);
        border-width: 0px;
      });
    }

    &_input {
      max-width: none;
      width: 80%;

      .respond-to-min(@bp-sm-min, {
        width: 85%;
      });

      .respond-to-min(@bp-med-min, {
        width: 75%;
      });

    }

    &_summary {

      .respond-to-min(@bp-sm-min, {
        padding-left: 0;
        margin-top: unit(30px / @base-font-size-px, em);
        margin-left: 0;
        background-color: transparent;
      });

      .respond-to-range(@bp-sm-min, @bp-sm-max, {
        padding-right: 0;
      });

      .respond-to-min(@bp-lg-min, {
        padding-left: unit(40px / @base-font-size-px, em);
      });
    }

    &_summary-heading {
      .heading-4();
      margin-bottom: unit(10px / @font-size, em);
      text-transform: none;
    }

  }

  .line-item {

    &_title {

      .respond-to-min(@bp-sm-min, {
        .grid_column(8);
      });

    }

    &_value {

      .respond-to-min(@bp-sm-min, {
        .grid_column(4);
      });
    }

    &_sign {
      position: absolute;
      right: unit(100px / @base-font-size-px, em);
    }
  }
}

.recalculating-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: @gold-20;
  font-size: unit(14px / @base-font-size-px, em);

  .respond-to-min(@bp-med-min, {
    top: -100em;
  });

}

.lt-ie9 {

  .estimated-expenses .line-item_title {

    .respond-to-min(@bp-sm-min, {
      .grid_column(8);
    });
  }

  .estimated-expenses .line-item_value {

    .respond-to-min(@bp-sm-min, {
      .grid_column(4);
    });
  }
}

/* ==========================================================================
   Continue to step 2, and the big question
   ========================================================================== */

.continue, .question {
  padding-top: unit(25px / @base-font-size-px, em);
  padding-bottom: unit(5px / @base-font-size-px, em);
  margin-top: unit(30px / @base-font-size-px, em);
  background-color: @teal-20;

  .respond-to-min(@bp-sm-min, {
    padding-top: unit(30px / @base-font-size-px, em);
    padding-bottom: unit(15px / @base-font-size-px, em);
    margin-top: unit(45px / @base-font-size-px, em);
  });

  &_wrapper {

    .respond-to-min(@bp-med-min, {
      .grid_nested-col-group();
    });
  }

  &_content {

  .respond-to-min(@bp-med-min, {
      .grid_column(10);
    });

    .respond-to-min(@bp-xl-min, {
      .grid_column(8);
    });
  }

  &_answers, &_controls {
    margin-top: unit(20px / @base-font-size-px, em);
    margin-bottom: unit(20px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      margin-top: unit(30px / @base-font-size-px, em);
      margin-bottom: unit(30px / @base-font-size-px, em);
    });
  }
}

/* ==========================================================================
   You have options
   ========================================================================== */

.get-options {
  margin-top: unit(45px / @base-font-size-px, em);

  .respond-to-min(@bp-sm-min, {
    padding-bottom: unit(30px / @base-font-size-px, em);
  });

  &_wrapper {

    .respond-to-min(@bp-med-min, {
      .grid_nested-col-group();
    });
  }

  &_wrapper + &_wrapper {

    .respond-to-min(@bp-sm-min, {
      .grid_nested-col-group();
    });
  }

  &_intro {

    .respond-to-min(@bp-med-min, {
      .grid_column(10);
    });

    .respond-to-min(@bp-xl-min, {
      .grid_column(8);
    });
  }

  .step_intro {
    margin-bottom: 0;
  }

  .step_intro + p {
    margin-top: unit(20px / @base-font-size-px, em);
  }

  & + .content_line {
    display: none;

    .respond-to-min(@bp-sm-min, {
      display: block;
    });
  }

  &__settlement {

    .respond-to-min(@bp-sm-min, {
      .grid_column(6);
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(8);
    });
  }

  &__sidebar {
    margin-top: unit(60px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      .grid_column(6);
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(4);
    });

    .header-slug {
      margin-top: unit(45px / @base-font-size-px, em);
    }
  }
}

.option {
  margin-top: unit(45px / @base-font-size-px, em);

  .respond-to-min(@bp-med-min, {
    .grid_column(4);
  });

  &__maximize-grants,
  &__reduce-costs,
  &__different-program,
  &__transfer-credits,
  &__work-while-studying,
  &__explore-schools {
    background-position: center 30px;
    background-size: 150px;
    background-repeat: no-repeat;

    .respond-to-min(@bp-med-min, {
      background-position: center 60px;
    });
  }

  &__maximize-grants {
    background-image: url('../img/maximize-grants_150.png');
  }

  &__reduce-costs {
    background-image: url('../img/reduce-costs_150.png');
  }

  &__different-program {
    background-image: url('../img/different-program_150.png');
  }

  &__transfer-credits {
    background-image: url('../img/transfer-credits_150.png');
  }

  &__explore-schools {
    background-image: url('../img/explore-schools_150.png');
  }

  &__work-while-studying {
    background-image: url('../img/work-while-studying_150.png');
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    &__maximize-grants {
      background-image: url('../img/maximize-grants_300.png');
    }

    &__reduce-costs {
      background-image: url('../img/reduce-costs_300.png');
    }

    &__different-program {
      background-image: url('../img/different-program_300.png');
    }

    &__transfer-credits {
      background-image: url('../img/transfer-credits_300.png');
    }

    &__explore-schools {
      background-image: url('../img/explore-schools_300.png');
    }

    &__work-while-studying {
      background-image: url('../img/work-while-studying_300.png');
    }
  }

  // Add padding on top of the heading for the 150px illustration
  // X-small and small screens: 150px + 30px padding above and below the image
  // Meidum and larger screens: 150px + 60px padding above and below the image
  &_heading {
    padding-top: unit(210px / @font-size, em);
    .heading-4();

    .respond-to-min(@bp-med-min, {
      padding-top: unit(270px / @font-size, em);
    });
  }

  &__take-action-header {
    .heading-3();
  }

  // Top borders on all but the first option on small screens and only the second row of options on larger screens
  & + & &_heading {
    border-top: 1px solid @gray-40;

    .respond-to-min(@bp-sm-min, {
      border-top: none;
    });
  }

  & + & + & &_heading {

    .respond-to-min(@bp-sm-min, {
      border-top: 1px solid @gray-40;
    });

    .respond-to-min(@bp-med-min, {
      border-top: none;
    });
  }

  & + & + & + & &_heading {

    .respond-to-min(@bp-med-min, {
      border-top: 1px solid @gray-40;
    });
  }

  // Settlement school modifications
  &__settlement {

    .respond-to-min(@bp-med-min, {
      .grid_column(1, 2);
    });

    // Top borders on all but the first option on small screens and only the second row of options on larger screens
    & + & .option_heading {
      border-top: 1px solid @gray-40;

      .respond-to-min(@bp-med-min, {
        border-top: none;
      });
    }

    & + & + & .option_heading {

      .respond-to-min(@bp-sm-min, {
        border-top: 1px solid @gray-40;
      });

    }

    & + & + & + & .option_heading {

      .respond-to-min(@bp-med-min, {
        border-top: 1px solid @gray-40;
      });
    }
  }
}

/* ==========================================================================
   Next steps
   ========================================================================== */

.next-steps {
  padding-bottom: unit(30px / @base-font-size-px, em);

  &_wrapper {
    margin-top: unit(30px / @base-font-size-px, em);

    .respond-to-min(@bp-med-min, {
      margin-top: unit(45px / @base-font-size-px, em);
      .grid_nested-col-group();
    });
  }

  &_intro {

    .respond-to-min(@bp-med-min, {
      .grid_column(10);
    });

    .respond-to-min(@bp-xl-min, {
      .grid_column(7);
    });
  }

  &_list {
    margin-top: unit(45px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      .grid_nested-col-group();
    });

    .respond-to-min(@bp-med-min, {
      margin-top: unit(60px / @base-font-size-px, em);
    });
  }

  &_list-item {
    margin-top: unit(30px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      margin-top: 0;
      .grid_column(9);
    });

    .respond-to-min(@bp-med-min, {
      .grid_column(4);
    });
  }

  &_list-intro {
    .heading-4();
  }

  &_controls {
    margin-top: unit(20px / @base-font-size-px, em);
    margin-left: -2.5em;

    .respond-to-min(@bp-sm-min, {
      margin-left: 0;
    });

    .respond-to-min(@bp-med-min, {
      margin-top: unit(30px / @base-font-size-px, em);
    });
  }

  .content_line {
    display: none;

    .respond-to-min(@bp-sm-min, {
      display: block;
    });
  }
}

.change-list {
  padding-left: 1em;

  .respond-to-min(@bp-sm-min, {
    padding-left: 2em;
  });
}

/* ==========================================================================
   Feedback
   ========================================================================== */

.feedback {
  margin-bottom: unit(60px / @base-font-size-px, em);

  &_wrapper {
    margin-top: unit(30px / @base-font-size-px, em);
    margin-bottom: unit(15px / @base-font-size-px, em);

    .respond-to-min(@bp-sm-min, {
      margin-top: unit(45px / @base-font-size-px, em);
      .grid_nested-col-group();
    });
  }

  &_intro {

    .respond-to-min(@bp-sm-min, {
      .grid_column(9);
    });

    .respond-to-min(@bp-xl-min, {
      .grid_column(6);
    });
  }
}

/* ==========================================================================
   About This Tool
   ========================================================================== */

.about-this-tool {
  margin-bottom: unit(60px / @base-font-size-px, em);

  .content_intro {
    border: 0;
    padding: unit(@grid_gutter-width / @base-font-size-px, em)
             0;

    .respond-to-min(@bp-sm-min, {
      .grid_column(12);
      border: 0;
      padding: unit((@grid_gutter-width * 1.5) / @base-font-size-px, em)
               unit((@grid_gutter-width / 2) / @base-font-size-px, em);
    });

    .respond-to-min(@bp-med-min, {
      border: 0 15px;
    });
  }
}

/* ==========================================================================
   Scripted Elements
   ========================================================================== */

[data-multi_year="false"] {
  display: none;
}
