#choose-a-student-loan {

	.quiz__answers {

		.quiz__answer-choice {
			margin-bottom: unit( 5px / @base-font-size-px, rem );
		}

		.quiz__answer-response {
			max-width: 41.875rem;
		    border: 1px solid black;
		    margin: 0 unit( 30px / @base-font-size-px, rem );
		    margin-bottom: unit( 15px / @base-font-size-px, rem );
		    padding: unit( 15px / @base-font-size-px, rem );
		    background: #f7f8f9;
		    overflow: hidden;
		}

		.quiz__response-target {
			margin: unit( 15px / @base-font-size-px, rem ) 0;
		}

		.quiz__response-button {
			margin-top: unit( 15px / @base-font-size-px, rem );
		}
	}

	.quiz__question {
	
		.quiz__question-content {
			dt {
				// .h4();
				// margin-top: unit( 15px / @base-font-size-px, rem );
				// text-transform: uppercase;
				display: none;
			}

			dd:nth-child(2),
			dd:nth-child(4) {
				display: none;
			}

			dd {
				margin: 0;
			}

		}


	}

}