{% extends "layout-side-nav.html" %}
{% import "section-vars.html" as section_vars %}

{# Variables #}
{% set active_nav_id = "content-blocks-html" -%}

{# Block overrides #}
{% block demo_title -%}
    Content blocks
{%- endblock %}

{% block title -%}
    Content blocks
{%- endblock %}

{% block desc -%}
    Examples of content blocks
{%- endblock %}

{% block content_main_modifiers %}
{{ super }} content__flush-bottom
{% endblock %}

{% block content_main %}
    <h1>Content blocks</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quaerat minus dignissimos vero eaque sapiente quo quidem commodi repellat eum pariatur sint sunt odit rem id velit nisi delectus excepturi!</p>
    <div class="content_block">
        Simple content sectioning using <code>.content_block</code>. All this does is add some space above and below.
    </div>
    <div class="content_block content_block__flush-sides">
        Now adding the <code>.content_block__flush-sides</code> modifier.
    </div>
    <div class="content_block content_block__flush-bottom">
        Now adding the <code>.content_block__flush-bottom</code> modifier. You can tell because <code>.content_line</code> is directly after this block and there is no space between the two.
    </div>
    <div class="content_line"></div>
    <div class="content_block content_block__bg">
        Now adding the <code>.content_block__bg</code> modifier.
    </div>
    <div class="content_block
                  content_block__flush-bottom
                  content_block__flush-sides
                  content_block__bg">
        Combining all of the above.
    </div>
    <div class="content_block
                  content_block__flush-bottom
                  content_block__flush-sides
                  content_block__bg">
        {% raw %}
        To make this flush with the bottom of the <code>content_main</code> block:
        <pre><code>
{% block content_main_modifiers %}
{{ super }} content__flush-bottom
{% endblock %}

{% block content_sidebar_modifiers %}
{{ super() }} content__flush-bottom
{% endblock %}
        </code></pre>
        {% endraw %}
    </div>
{% endblock %}

{% block content_sidebar_modifiers %}
{{ super() }} content__flush-bottom
{% endblock %}
