/* ==========================================================================
   cfgov-refresh
   cfgov-blog-docs
   ========================================================================== */


/* topdoc
    name: Press Information
    markup: |
      <div class="press-information">
          <h1 class="header-slug">
              <span class="header-slug_inner">
                  Press information
              </span>
          </h1>
          <p>
              If you want to repbulish the article or have questions about the content,
              please contact the press office.
          </p>
          <p>
              <a href="/about-us/newsroom/press-resources/">
                  Go to press resources page
              </a>
          </p>
      </div>
  tags:
    - cfgov-blog-docs
*/

// TODO: Refactor to use existing layout classes in newsroom-page.html,
//       the only place this class is used.
.press-information {
    margin-top: unit(60px / @base-font-size-px, em);
    .respond-to-min(@bp-sm-min, {
        .grid_column(7, @grid_total-columns);
        .grid_nested-col-group();
    });
}

/* topdoc
  name: EOF
  eof: true
*/
