.breadcrumbs {
    .grid_column( 1, 1 );

    padding-top: unit( @grid_gutter-width / 14px, em );
    font-size: unit( 14px / @base-font-size-px, em );

    .cf-icon-svg {
        fill: @pacific;
        margin-right: 0.25em;
    }

    .respond-to-max( @bp-sm-max, {
        padding-top: unit( @grid_gutter-width / 2 / 14px, em );
        padding-bottom: unit( @grid_gutter-width / 2 / 14px, em );
    } );

    &_link, &_text {
        padding-left: 4px;

        &:not( :last-child ):after {
            padding-left: 4px;
            color: @text;
            content: ' /';
        }
    }
}

// Hide on print.
.respond-to-print( {
    .breadcrumbs {
        display: none;
    }
} );
