.breadcrumbs {
  // Mobile size.
  display: flex;
  flex-wrap: wrap;
  gap: unit(10px / @base-font-size-px, rem);
  align-items: center;
  font-size: unit(14px / @base-font-size-px, rem);
  padding-top: unit(15px / 14px, rem);
  padding-bottom: unit(15px / 14px, rem);
  margin-left: unit(40px / @base-font-size-px, rem);
  margin-right: unit(20px / @base-font-size-px, rem);

  .cf-icon-svg {
    fill: @pacific;
    margin-left: unit(-20px / @base-font-size-px, rem);
  }

  // Desktop size.
  .respond-to-min( @bp-med-min, {
    margin-left: unit(20px / @base-font-size-px, rem);
    padding-top: unit(30px / 14px, rem);
    padding-bottom: 0;
  } );
}

// Hide on print.
.respond-to-print( {
  .breadcrumbs {
    display: none;
  }
} );

// Right-to-left (RTL) layout.
html[lang='ar'] {
  .breadcrumbs {
    flex-direction: row-reverse;
    // -40px
    margin-right: unit(40px / @base-font-size-px, rem);
    margin-left: unit(20px / @base-font-size-px, rem);

    .cf-icon-svg {
      margin-right: unit(-20px / @base-font-size-px, rem);
      margin-left: initial;
    }
  }
}
