/* ==========================================================================
   cfgov-refresh
   capital framework enhancements
   ========================================================================== */

body {
  .webfont-regular();
}

/* topdoc
  name: Theme variables
  family: cf-core
  notes:
    - "The following color and sizing variables are exposed, allowing you to
       easily override them before compiling."
  patterns:
    - name: Colors
      codenotes:
        - |
          @horizontal-rule
  tags:
    - cf-core
*/

@horizontal-rule: @gray-40;

/* topdoc
  name: Code styles
  family: cfgov-cf-enhancements
  patterns:
    - name: .inline-code
      markup: |
        <code class="inline-code">code { color: red; }</code>
  tags:
    - cfgov-cf-enhancements
*/

.inline-code {
    display: inline-block;
    padding: unit(3px / 14px, em) unit(5px / 14px, em);
    border-radius: 4px;
    background: @gray-10;
    color: @black;
    font-size: unit(14px / @base-font-size-px, em);
}


/* topdoc
  name: Width utilities
  family: cfgov-cf-enhancements
  patterns:
    - name: Percent-based
      markup: |
        <div class="u-w95pct" style="background: #DBEDD4; margin-bottom: 1px;">
            <code>.u-w95pct</code>
        </div>
        <div class="u-w85pct" style="background: #DBEDD4; margin-bottom: 1px;">
            <code>.u-w85pct</code>
        </div>
        <div class="u-w65pct" style="background: #DBEDD4; margin-bottom: 1px;">
            <code>.u-w65pct</code>
        </div>
        <div class="u-w55pct" style="background: #DBEDD4; margin-bottom: 1px;">
            <code>.u-w55pct</code>
        </div>
        <div class="u-w45pct" style="background: #DBEDD4; margin-bottom: 1px;">
            <code>.u-w45pct</code>
        </div>
        <div class="u-w35pct" style="background: #DBEDD4; margin-bottom: 1px;">
            <code>.u-w35pct</code>
        </div>
        <div class="u-w15pct" style="background: #DBEDD4; margin-bottom: 1px;">
            <code>.u-w15pct</code>
        </div>
        <div class="u-w5pct" style="background: #DBEDD4; margin-bottom: 1px;">
            <code>.u-w5pct</code>
        </div>
      notes:
        - "Inline styles are for demonstration purposes only, please don't use
           them."
  tags:
    - cfgov-cf-enhancements
*/

.u-w95pct  { width: 95%; }
.u-w85pct  { width: 85%; }
.u-w65pct  { width: 65%; }
.u-w55pct  { width: 55%; }
.u-w45pct  { width: 45%; }
.u-w35pct  { width: 35%; }
.u-w15pct  { width: 15%; }
.u-w5pct   { width:  5%; }


/* topdoc
  name: respond-to-print() (mixin)
  notes:
    - "This mixin allows us to easily write styles that target both
       `@media print` and `.print`."
  family: cfgov-cf-enhancements
  patterns:
    - name: Usage
      codenotes:
        - |
          // Example Less
          .example {
              color: @gray;

              .respond-to-print({
                  color: @black;
              });
          }

          // Exports to
          .example {
              color: #75787B;
          }
          @media print {
              .example {
                  color: #101820;
              }
          }
          .print .example {
              color: #101820;
          }
  tags:
    - cfgov-cf-enhancements
*/

.respond-to-print(@rules) {
    @media print {
        @rules();
    }
    .print & {
        @rules();
    }
}

/* topdoc
  name: respond-to-dpi(@ratio) (mixin)
  notes:
    - "This mixin allows us to easily write styles
    that target high-resolution screens,
    such as Apple retina screens"
  family: cfgov-cf-enhancements
  patterns:
    - name: Usage
      codenotes:
        - |
          // Example Less
          .example {
              background: url(regular-resolution-image.png);

              .respond-to-dpi(2, {
                  background-image: url(retina-image.png);
              });
          }

          // Exports to
          .example {
              background: url(regular-resolution-image.png);
          }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .example {
                  background-image: url(retina-image.png);
              }
          }
  tags:
    - cfgov-cf-enhancements
*/

.respond-to-dpi(@ratio, @rules) {
    @dpi: (@ratio * 96dpi);
    @media (-webkit-min-device-pixel-ratio: @ratio), (min-resolution: @dpi) {
        @rules();
    }
}


/* topdoc
  name: Superheader print styles
  family: cfgov-cf-enhancements
  patterns:
    - name: .superheader
      markup: |
        <div class="print">
            <h1 class="superheader">
                A big green header
            </h1>
        </div>
  tags:
    - cfgov-cf-enhancements
*/

.superheader {
    .respond-to-print({
        color: @green;
    });
}

/* topdoc
  name: Centered on mobile utility
  family: cfgov-cf-enhancements
  patterns:
    - name: .u-centered-on-mobile
      markup: |
        <div>
            <div class="u-centered-on-mobile" style="width:100px;height:100px;background-color:green;">
                Block centered on mobile
            </div>
            <p class="u-centered-on-mobile">Paragraph centered on mobile</p>
        </div>
      notes:
        - "Sometimes content (parts/all of a media block, for example)
           should be centered on mobile, but not on larger screen sizes."
        - "This implementation conflates inline & block element centering,
           though they could be made into separate classes."
  tags:
    - cfgov-cf-enhancements
*/

.respond-to-max(@bp-xs-max, {
    .u-centered-on-mobile {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
});


/* topdoc
  name: Tables
  family: cf-tables
  notes:
    - Adjustments for cf-tables to allow them to be full-width
  tags:
    - cfgov-cf-tables
*/

.respond-to-max(@bp-sm-max, {
    table {
        width: 100%;
    }
});

/* topdoc
  name: Simple Table
  family: cfgov-cf-enhancements
  notes:
    - Extends the above stacked tables for sm devices
    - Hides the thead
    - Styles first td as if it were the thead
    - Allows any other td to be styled as a heading level 4
    - Adds data-label attr for small td labels above td content
    - Used in older blog posts to make them responsive.
      Do not remove unless removed from blog posts.
  patterns:
    - name: Collapsable Table
      markup: |
        <table class="simple-table">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                    <th>Column 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor.</td>
                    <td class="simple-table_row-heading">Lorem ipsum dolor.</td>
                    <td data-label="Lorem">Lorem ipsum dolor.</td>
                    <td data-label="Ipsum">Lorem ipsum dolor.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor.</td>
                    <td class="simple-table_row-heading">Lorem ipsum dolor.</td>
                    <td data-label="Lorem">Lorem ipsum dolor.</td>
                    <td data-label="Ipsum">Lorem ipsum dolor.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor.</td>
                    <td class="simple-table_row-heading">Lorem ipsum dolor.</td>
                    <td data-label="Lorem">Lorem ipsum dolor.</td>
                    <td data-label="Ipsum">Lorem ipsum dolor.</td>
                </tr>
            </tbody>
        </table>
    - name: simple-table__row-links (modifier)
      markup: |
        <table class="simple-table simple-table__row-links">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Lorem ipsum dolor.</a></td>
                    <td class="simple-table_row-heading">Lorem ipsum dolor.</td>
                </tr>
                <tr>
                    <td><a href="#">Lorem ipsum dolor.</a></td>
                    <td class="simple-table_row-heading">Lorem ipsum dolor.</td>
                </tr>
            </tbody>
        </table>
      codenotes:
        - |
          .simple-table.simple-table__row-links
      notes:
        - "Modifier that makes rows appear to be hoverable links.
           Used in coordination with simple-table-row-links.js."
    tags:
  tags:
    - cfgov-cf-enhancements
*/
@td-bg-mobile: @gray-5;
@tr-link-color: @white;
@tr-link-bg-hover: @pacific-80;
.simple-table {

    &__row-links {
      .respond-to-min(961px, {
          tr:hover {
              td {
                  background: @tr-link-bg-hover;
                  color: @tr-link-color;
                  cursor: pointer;
              }
              a {
                  color: @tr-link-color;
              }
          }
      });
    }

    .respond-to-max(960px, {

        font-size: 14px;

        thead {
            display: none;
        }

        tbody {
            border-top: none;
        }

        tr {
            border-bottom: none;
        }

        td:first-child {
            .h4();
            margin-bottom: 10px;
            background-color: @td-bg-mobile;
        }

        td[data-label] {
            padding-bottom: 20px;

            &:before {
                .h6();
                display: block;
                content: attr(data-label);
            }
        }

        &_row-heading {
            .h4();
            margin-bottom: 0;
        }
    });
}


/* topdoc
  name: cf-grid column dividers
  family: cfgov-cf-enhancements
  notes:
    - "cf-grid columns use left and right borders for fixed margins which means
       it's not possible to set visual left and right borders directly on them.
       Instead we can use the :before pseudo element and position it absolutely.
       The added benefit of doing it this way is that the border spans the
       entire height of the next parent using `position: relative;`. This means
       that the border will always match the height of the tallest column in the
       row."
  patterns:
    - name: Classes
      codenotes:
        - .grid_column__top-divider
        - .grid_column__left-divider
    - name: Usage
      codenotes:
        - |
          .my-column-1-2 {

              // Creates a column that spans 6 out of 12 columns.
              .grid_column(6, 12);

              // Add a top divider only at screen 599px and smaller.
              .respond-to-max(599px {
                  .grid_column__top-divider();
              });

              // Add a left divider only at screen 600px and larger.
              .respond-to-min(600px, {
                  .grid_column__left-divider();
              });

          }
  tags:
    - cfgov-cf-enhancements
*/

.grid_column__top-divider {
    margin-top: unit((@grid_gutter-width * 2) / @base-font-size-px, em);
    &:before {
        display: block;
        height: 1px;
        margin-bottom: unit(@grid_gutter-width / @base-font-size-px, em);
        background-color: @gray-40;
        content: '';
    }
}

.grid_column__left-divider {
    border-left-width: @grid_gutter-width;

    &:before {
        display: block;
        width: 1px;
        margin-left: -@grid_gutter-width;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: @gray-40;
        content: '';
    }
}


/* topdoc
    name: Expandable header modifier
    family: cfgov-cf-enhancements
    patterns:
    - name: expandable_header__jump-link (modifier)
      markup: |
        <button class="expandable_header expandable_header__jump-link expandable_target">
            <span class="expandable_header-left expandable_label">
                Expandable Header
            </span>
            <span class="expandable_header-right expandable_link">
                <span class="expandable_cue-open">
                    <span class="cf-icon cf-icon-plus-round"></span>
                </span>
                <span class="expandable_cue-close">
                    <span class="cf-icon cf-icon-minus-round"></span>
                </span>
            </span>
        </button>
      codenotes:
        - |
          .expandable_header__jump-link
      notes:
        - "This modifier styles the expandable header as a jump link on mobile
           screens. Can be used for mobile-only expandables."
        - "Use the `button` element with `.expandable_header`. to make the whole
           header clickable."
    tags:
    - cfgov-cf-enhancements
*/

.expandable_header__jump-link {

    .respond-to-max(@bp-xs-max, {
        display: block;
        width: 100%;
        padding: unit(10px / @base-font-size-px, em) 0;
        border: dotted @pacific;
        border-width: 1px 0;

        .expandable_label,
        .expandable_link {
            color: @pacific;
        }

        &:hover,
        &.hover {
            border-style: solid;
            border-color: @pacific-60;

            .expandable_label,
            .expandable_link {
                color: @pacific-60;
            }
        }

        &:focus,
        &.focus {
            border-style: solid;
            outline: thin dotted;
        }

        &:active,
        &.active {
            border-style: solid;
            border-color: @navy;

            .expandable_label,
            .expandable_link {
                color: @navy;
            }
        }
    });

}

.expandable_header-left {
  width: 78%;
}

.expandable_header-right {
  width: 22%;
  text-align: right;
}

.expandable__mobile-only .expandable_header {
  .respond-to-min(@bp-sm-min, {
    display: none;
  });
}

// TODO: After merging into cf-expandables, this variable can be removed.
@expandable-group-divider: darken(#895983, 15%);
// TODO: If/when `border-bottom` is removed from `.expandable-group_header`
// the following override is not necessary.
.expandable-group_header {
    border-bottom: none;
}
// Adds top border to expandable item so expandables have top-border
// when header is absent.
// TODO: `.expandable-group_items` is non-standard,
// see https://github.com/cfpb/cf-expandables/issues/45
.expandable-group_items .expandable:first-child {
    border-top: 1px solid @expandable-group-divider;
}


/* topdoc
  name: Icon list modifier
  family: cfgov-cf-enhancements
  notes:
    - "Set up a list with icons on the left, in place of bullets."
  patterns:
    - name: Default example
      markup: |
        <ul class="list list__icons">
            <li class="list_item">
                <span class="cf-icon cf-icon-email list_icon"></span>
                <span class="list_text">List item 1</span>
            </li>
            <li class="list_item">
                <span class="cf-icon cf-icon-phone list_icon"></span>
                <span class="list_text">List item 2</span>
            </li>
            <li class="list_item">
                <span class="cf-icon cf-icon-fax list_icon"></span>
                <span class="list_text">List item 3</span>
            </li>
        </ul>
  tags:
    - cf-typography
*/

.list__icons {
    .list__unstyled();

    .list_icon,
    .list_text {
        display: table-cell;
    }

    .list_icon {
        width: 1.5em;
        .list__icons .list_icon__left();
    }
}


/* topdoc
  name: List icon left modifier
  family: cfgov-cf-enhancements
  notes:
    - "Left align the icons in an icon list."
  patterns:
    - name: Default example
      markup: |
        <ul class="list list__icons">
            <li class="list_item">
                <span class="cf-icon cf-icon-technology list_icon list_icon__left"></span>
                <span class="list_text">List item 1</span>
            </li>
            <li class="list_item">
                <span class="cf-icon cf-icon-phone list_icon list_icon__left"></span>
                <span class="list_text">List item 2</span>
            </li>
            <li class="list_item">
                <span class="cf-icon cf-icon-money list_icon list_icon__left"></span>
                <span class="list_text">List item 3</span>
            </li>
        </ul>
  tags:
    - cf-typography
*/

.list__icons {
    .list_icon__left {
        // TODO: Remove the !important once this lands in cf-typography.
        text-align: left !important;
    }
}

/* topdoc
  name: List icon center modifier
  family: cfgov-cf-enhancements
  notes:
    - "Center align the icons in an icon list."
  patterns:
    - name: Default example
      markup: |
        <ul class="list list__icons">
            <li class="list_item">
                <span class="cf-icon cf-icon-technology list_icon list_icon__center"></span>
                <span class="list_text">List item 1</span>
            </li>
            <li class="list_item">
                <span class="cf-icon cf-icon-phone list_icon list_icon__center"></span>
                <span class="list_text">List item 2</span>
            </li>
            <li class="list_item">
                <span class="cf-icon cf-icon-money list_icon list_icon__center"></span>
                <span class="list_text">List item 3</span>
            </li>
        </ul>
  tags:
    - cf-typography
*/

.list__icons {
    .list_icon__center {
        text-align: center;
    }
}

/* topdoc
  name: List icon right modifier
  family: cfgov-cf-enhancements
  notes:
    - "Right align the icons in an icon list."
  patterns:
    - name: Default example
      markup: |
        <ul class="list list__icons">
            <li class="list_item list_icon__right">
                <span class="cf-icon cf-icon-technology list_icon"></span>
                <span class="list_text">List item 1</span>
            </li>
            <li class="list_item list_icon__right">
                <span class="cf-icon cf-icon-phone list_icon"></span>
                <span class="list_text">List item 2</span>
            </li>
            <li class="list_item list_icon__right">
                <span class="cf-icon cf-icon-money list_icon"></span>
                <span class="list_text">List item 3</span>
            </li>
        </ul>
  tags:
    - cf-typography
*/

.list__icons {
    .list_icon__right {
        padding-right: .5em;
        text-align: right;
    }
}


/* topdoc
  name: Download links list
  family: cfgov-cf-enhancements
  patterns:
    codenotes:
        - ".list__download();"
    notes:
        - "Styles a list of links with associated download icons."
  tags:
    - cf-typography
*/
.list__download() {
    ul {
        .list__links();
        .list__icons();

        li {
            .list__links .list_item();
            .list__icons .list_item();
        }

        a {
            .list_link();
            .jump-link();

            // Override jump-link optical offset value.
            left: 0;

            span {
                .list__icons .list_text();
            }

            &:after {
                .cf-icon();
                // Offset to address lack of space between text and icon
                width: 1em;
                content: @cf-icon-download;
                color: @pacific;
                text-align: right;
            }
        }

        // Remove the bottom border on all but the last
        // link when at mobile sizes, so that the top and bottom
        // dotted borders don't double-up to 2px width.
        // Does not work in IE8.
        :not(:last-child) {
            a {
                .respond-to-max(@bp-xs-max, {
                    border-bottom: none;
                });
            }
        }

    }
}

/* topdoc
  name: Steps list modifier
  family: cfgov-cf-enhancements
  notes:
    - "Set up a list with 'Step x:' instead of bullets "
  patterns:
    - name: Default example
      markup: |
        <ol class="list list__steps short-desc">
            <li class="list-item">Fill out the form</li>
            <li class="list-item">Generate a PDF</li>
            <li class="list-item">Email, fax or mail the PDF</li>
        </ol>
  tags:
    - cf-typography
*/

.list__steps {
    padding-left: 0;
    counter-reset: item;
    list-style: none;

    .list-item {
        position: relative;

        &::before {
            content: "Step " counter(item) ": ";
            counter-increment: item;
        }
    }
}

/* topdoc
  name: Jump link
  family: cf-typography
  patterns:
    - name: .jump-link
      markup: |
        <a class="jump-link" href="#">
            <span class="jump-link_text">Default jump link</span>
        </a>
      codenotes:
        - .jump-link
    - name: .jump-link__large (modifier)
      markup: |
        <a class="jump-link jump-link__large" href="#">
            <span class="jump-link_text">Large jump link</span>
        </a>
      codenotes:
        - .jump-link__large
      notes:
        - "18px font-size, compared to the default of 16px"
    - name: .jump-link__<icon> (modifier)
      markup: |
        <a class="jump-link jump-link__right" href="#">
            <span class="jump-link_text">Jump link using the right icon from cf-icons</span>
        </a>
      codenotes:
        - .jump-link__<icon>
      notes:
        - ".jump-link extends .icon-link, so all that is needed to add an icon
           to a jump link is to add a modifier with the icon's name."
    - name: .jump-link__before (modifier)
      markup: |
        <a class="jump-link jump-link__left jump-link__before" href="#">
            <span class="jump-link_text">Jump link with icon on left</span>
        </a>
      codenotes:
        - .jump-link__<icon>.jump-link__before
      notes:
        - "Jump links can also have icons before the text, like icon links."
    - name: .jump-link__bg (modifier)
      markup: |
        <a class="jump-link jump-link__bg" href="#">
            <span class="jump-link_text">Jump link with grey background and
                solid borders on small screens</span>
        </a>
      codenotes:
        - .jump-link__bg
  tags:
    - cf-typography
*/

.jump-link {
    .webfont-medium();
    .icon-link();
    font-size: unit(16px / @base-font-size-px, em);

    &__large {
        font-size: unit(18px / @base-font-size-px, em);
    }

    &__underline {
        border-bottom-width: 1px;
    }

    .respond-to-max(@bp-xs-max, {
        .block-link();

        &:after {
            margin-bottom: -0.625em;
            position: absolute;
            right: 0;
            bottom: 50%;
            text-align: right;
        }

        &__before {
            padding-left: 1.25em;

            &:before {
                position: absolute;
                margin-bottom: -0.625em;
                bottom: 50%;
                left: 0;
            }
        }

        &_text {
            border-bottom-width: 0;
        }

        &__bg {
            background: @jump-link__bg;
            border: solid @jump-link__bg-border;
            border-width: 1px 0;
            padding: unit(10px / @base-font-size-px, em) 1.25em unit(10px / @base-font-size-px, em) 1em;
            &:after {
                right: 1em;
            }
            &:before {
                left: unit(10px / @base-font-size-px, em);
            }
        }
    });
}



/* topdoc
  name: Link list modifier
  family: cf-typography
  notes:
    - "The link list modifier is intended to be used for lists where each item
      is a link. It converts to a finger-friendly link with a large tap area
      on smaller screens."
  patterns:
    - name: Default example
      markup: |
        <ul class="list list__links">
            <li class="list_item">
                <a class="list_link" href="#">List item 1</a>
            </li>
            <li class="list_item">
                <a class="list_link" href="#">List item 2</a>
            </li>
            <li class="list_item">
                <a class="list_link" href="#">List item 3</a>
            </li>
        </ul>
    - name: Link list with icons
      markup: |
        <ul class="list list__links list__icons">
            <li class="list_item">
                <a class="list_link icon-link icon-link__before icon-link__email"
                   href="#">
                    <span class="icon-link_text">List item 1</span>
                </a>
            </li>
            <li class="list_item">
                <a class="list_link icon-link icon-link__before icon-link__phone"
                   href="#">
                    <span class="icon-link_text">List item 2</span>
                </a>
            </li>
            <li class="list_item">
                <a class="list_link icon-link icon-link__before icon-link__fax"
                   href="#">
                    <span class="icon-link_text">List item 3</span>
                </a>
            </li>
        </ul>
  tags:
    - cf-typography
*/

.list__links {
    .list__unstyled();

    .list_item {
        margin-bottom: unit(10px / @base-font-size-px, em);

        .respond-to-max(@bp-xs-max, {
            margin-bottom: -1px;
        });
    }

    &.list__spaced .list_item + .list_item {
        margin-top: 0;
    }

    .list_link {
        .respond-to-max(@bp-xs-max, {
            .block-link();

            &.icon-link:after {
                position: absolute;
                margin-bottom: -0.625em;
                right: 0;
                bottom: 50%;
                text-align: right;
            }

            .icon-link_text {
                border-bottom-width: 0;
            }
        });
    }

    &.list__icons {
        .list_link {
            position: relative;
            // Adjust for optical alignment of icons.
            left: -0.125em;
        }

        .icon-link:before,
        .icon-link:after {
            width: 1.125em;
            text-align: center;
        }
    }
}


/* topdoc
  name: Lists
  family: cfgov-lists
  notes:
    - "Note that modifiers are the most common use cases for this block, hence
      the reason there are no direct styles associated with .list or .list_item."
  patterns:
    - name: Basic structure
      markup: |
        <ul class="list">
            <li class="list_item">
                <a class="list_link" href="#">List item 1</a>
            </li>
            <li class="list_item">
                <a class="list_link" href="#">List item 2</a>
            </li>
            <li class="list_item">
                <a class="list_link" href="#">List item 3</a>
            </li>
            <li class="list_item">
                <a class="list_link" href="#">List item 4</a>
            </li>
        </ul>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .list
            .list_item
              .list_link
    - name: List link
      markup: |
        <a class="list_link" href="#">List link</a>,&nbsp;
        <span class="list_link">List link</span>
      codenotes:
        - .list_link
      notes:
        - "Notice that you can use any element for .list_link."
  tags:
    - cf-typography
*/

.list_link {
    .webfont-medium();

    &.list_link__phone {
        .respond-to-min(@bp-sm-min, {
            .u-link__colors(@black);
            .u-link__no-border;
        });
    }
}


/* topdoc
  name: Full Width Buttons
  family: cf-enhancements
  notes:
    - "Modifier to buttons full width at small screen sizes"
  patterns:
    - name: Default example
      markup: |
        <btn class="btn btn__full">Button Text</btn>
  tags:
    - cf-buttons
*/

.btn__full {

    .respond-to-max(@bp-xs-max, {
        display: block;
        width: 100%;

        + .btn__full {
            margin-left: initial;
        }
    });
}


/* topdoc
  name: Block
  family: cf-layout
    - name: Padded-left modifier
      markup: |
        Main content...
        <div class="block block__padded-left block__border-left">
            Content block with left margin, padding, and border.
        </div>
      codenotes:
        - .block.block__padded-left
    - name: Padded-right modifier
      markup: |
        <div class="block block__padded-right block__border-right">
            Content block with right margin, padding, and border.
        </div>
        Content...
      codenotes:
        - .block.block__padded-right
  tags:
    - cf-layout
*/
.respond-to-min(@bp-med-min, {
    .block {
        &__padded-left {
            padding-left: unit(@grid_gutter-width / @base-font-size-px, em);
            margin-left: unit(@grid_gutter-width / @base-font-size-px, em);
        }

        &__padded-right {
            padding-right: unit(@grid_gutter-width / @base-font-size-px, em);
            margin-right: unit(@grid_gutter-width / @base-font-size-px, em);
        }
    }
});


/* topdoc
  name: Warning
  family: cf-forms
  notes:
    - "Adds Warning state to form fields"
  tags:
    - cf-forms
*/

@input-warning:     @gold;

input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
select[multiple],
textarea {
    &.warning {
        border: 1px solid @input-warning;
        outline: 1px solid @input-warning;
    }
}

.warning + .@{cf-forms_input-icon-class} {
    color: @input-warning;
}

/* topdoc
  name: Icon inside input
  family: cf-forms
  patterns:
    - name: Default icons before and after a default input.
      markup: |
        <div class="input-contains-label">
            <label for="search-input"
                   class="input-contains-label_before
                          input-contains-label_before__search">
            </label>
            <label for="search-input"
                   class="input-contains-label_after
                          input-contains-label_after__clear">
            </label>
            <input type="text"
                   value="">
        </div>
    - name: Super-sized icons before and after a super input.
      markup: |
        <div class="input-contains-label
                    input__super">
            <label for="search-input"
                   class="input-contains-label_before
                          input-contains-label_before__search">
            </label>
            <label for="search-input"
                   class="input-contains-label_after
                          input-contains-label_after__clear">
            </label>
            <input class="input__super"
                   type="text"
                   value="">
        </div>
    - name: Default icons before and after a default input, with a button.
      markup: |
        <div class="input-with-btn">
            <div class="input-with-btn_input
                        input-contains-label">
                <label for="search-input"
                       class="input-contains-label_before
                              input-contains-label_before__search">
                </label>
                <label for="search-input"
                       class="input-contains-label_after
                              input-contains-label_after__clear">
                </label>
                <input type="text"
                       id="search-input"
                       value="">
            </div>
            <div class="input-with-btn_btn">
                <button class="btn">Search</button>
            </div>
        </div>
    - name: Super-sized icons before and after a super input, with a button.
      markup: |
        <div class="input-with-btn">
            <div class="input-with-btn_input
                        input-contains-label
                        input__super">
                <label for="search-input"
                       class="input-contains-label_before
                              input-contains-label_before__search">
                </label>
                <label for="search-input"
                       class="input-contains-label_after
                              input-contains-label_after__clear">
                </label>
                <input class="input__super"
                       type="text"
                       id="search-input"
                       value="">
            </div>
            <div class="input-with-btn_btn">
                <button class="btn btn__super">Search</button>
            </div>
        </div>
  tags:
    - cf-forms
*/

.input-contains-label {
    position: relative;

    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="number"] {
        box-sizing: border-box;
        width: 100%;
    }

    &_before ~ input[type="text"],
    &_before ~ input[type="search"],
    &_before ~ input[type="email"],
    &_before ~ input[type="url"],
    &_before ~ input[type="tel"],
    &_before ~ input[type="number"] {
        padding-left: unit( 25px / @btn-font-size, em );

        &.input__super {
            padding-left: unit( 35px / @super-btn-font-size, em );
        }
    }

    &_after ~ input[type="text"],
    &_after ~ input[type="search"],
    &_after ~ input[type="email"],
    &_after ~ input[type="url"],
    &_after ~ input[type="tel"],
    &_after ~ input[type="number"] {
        padding-right: unit( 30px / @btn-font-size, em );

        &.input__super {
            padding-right: unit( 35px / @super-btn-font-size, em );
        }
    }

    &_before,
    &_after {
        position: absolute;
        top: unit( 7px / @btn-font-size, em );
        cursor: pointer;
        font-size: unit( @btn-font-size / @base-font-size-px, em );
    }

    &_before {
        left: unit( 12px / @btn-font-size, em );
    }

    &_after {
        right: unit( 14px / @btn-font-size, em );
    }

    &.input__super {
        .input-contains-label_before,
        .input-contains-label_after {
            font-size: unit( @super-btn-font-size / @base-font-size-px, em );
        }

        .input-contains-label_before {
            left: unit( 12px / @super-btn-font-size, em );
        }

        .input-contains-label_after {
            right: unit( 12px / @super-btn-font-size, em );
        }
    }


    // Specific adjustments for particular icon/label combinations.

    // Example of icon without label.
    // Add magnifying glass icon to input field.
    &_before__search {
        &:before {
            .cf-icon();
            content: @cf-icon-search;
        }
    }

    // Example of icon + label.
    // Add "x Clear" button to input field.
    &_after__clear {
        &:before {
            .cf-icon();
            content: @cf-icon-delete;
        }

        .respond-to-min( @bp-sm-min, {
            &:after {
                content: 'Clear';
            }

            & ~ input[type="text"],
            & ~ input[type="search"],
            & ~ input[type="email"],
            & ~ input[type="url"],
            & ~ input[type="tel"],
            & ~ input[type="number"] {
                padding-right: unit( 65px / @btn-font-size, em );

                &.input__super {
                    padding-right: unit( 80px / @super-btn-font-size, em );
                }
            }
        } );
    }
}

/* topdoc
  name: Reset all
  family: cf-core
  patterns:
    - name: .u-reset
      markup: |
        <fieldset class="u-reset">
        </fieldset>
      notes:
        - "A class to remove any default spacing or borders on an element."
  tags:
    - cf-utilities
*/

.u-reset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* topdoc
  name: Hide only when JS is active
  family: cf-core
  patterns:
    - name: .js-is-hidden
      markup: |
        <fieldset class="js-reveal-with-js-class u-hide-js-only">
        </fieldset>
      notes:
        - "A class to hide only when JS is active."
  tags:
    - cf-utilities
*/

.js-is-hidden {
    display: none !important;
    .no-js & {
        display: block;
    }
}


/* topdoc
  name: Hidden
  family: cf-core
  patterns:
    - name: Utility class
      markup: |
        <span class="u-hidden">Not shown</span>
      codenotes:
        - .u-hidden;
      notes:
        - "Use this class to hide something from everything.
           Useful if you want to show it using JS after
           checking for browser-support."
  tags:
    - cf-core
*/

.u-hidden {
    display: none;
}


/* topdoc
  name: Invisible
  family: cf-core
  patterns:
    - name: Utility class
      markup: |
        <span class="u-invisible">Not shown</span>
      codenotes:
        - .u-invisible;
      notes:
        - "Use this class to make something invisible.
           Useful for hiding off-screen elements that
           are part of an animation, but you don't want
           as part of the tabindex."
  tags:
    - cf-core
*/

.u-invisible {
    visibility: hidden;
}


/* topdoc
  name: Disabled link
  family: cf-core
  patterns:
    - name: Utility class
      markup: |
        <a class="u-link__disabled">
          This link is disabled.
        </div>
      codenotes:
        - .u-link__disabled;
      notes:
        - "Use this as a general class to give links
           or button links disabled styling.
           Sets the color, background-color,
           removes the border, and sets the cursor to not-allowed."
  tags:
    - cf-core
*/
.u-link__disabled {
    border: none !important;
    color: @gray-40 !important;
    cursor: not-allowed !important;

    &.btn {
        background-color: @gray-20 !important;
    }
}


/* topdoc
  name: Half top padding
  family: cf-layout
  patterns:
    - name: .content__half-top-on-desk
      markup: |
        <aside class="content_sidebar content__half-top-on-desk">
          <!-- sidebar components -->
        </aside>
        <div class="content_main content__half-top-on-desk">
          <!-- main content components -->
        </div>
  tags: cf-layout
*/
.content__half-top-on-desk {
    .respond-to-min(@bp-med-min, {
        padding-top: unit( @grid_gutter-width / @base-font-size-px, em);

        &:after {
            top: unit( @grid_gutter-width / @base-font-size-px, em) !important;
        }
    });
}


/* topdoc
  name: Code styles
  family: cf-layout
  notes:
    - "Removes top margin on 1-column layouts."
  tags:
    - cf-layout
*/
.content-l_col {
    &.content-l_col-1 + &.content-l_col-1 {
        margin-top: 0;
    }
}


/* topdoc
  name: Base styles for definition lists
  family: cf-core
  notes:
    - "Sets the term and definition in-line to each other but broken into rows"
  tags:
    - cf-core
*/
dt {
    .h5();
    .u-inline-block();

    margin-bottom: 0.5em;

    &:last-of-type {
      margin-bottom: 0;
    }
}

dd {
    display: inline;
    margin-left: 0.2em;

    &:after {
        display: block;
        content: '';
    }
}


/* topdoc
  name: Remove margin from last-children
  family: cf-core
  notes:
    - "Remove margin bottom for items that close out a block to ensure the
      60px margin on the block is concistent"
  tags:
    - cf-core
*/

ul:last-child,
.list__links .list_item:last-child {
    margin-bottom: 0;
}


/* topdoc
  name: Add 1/4 and 3/4 columns
  family: cf-layout
  notes:
    - "Temporary addition until latest cf-layout is included in the project"
  tags:
    - cf-layout
*/

.content-l_col-1-4 {
    .respond-to-min(@bp-sm-min, {
        .grid_column(3);
    });
}

.content-l_col-3-4 {
    .respond-to-min(@bp-sm-min, {
        margin-top: 0 !important;
        .grid_column(9);
    });
}

/* topdoc
  name: Adjustments to meta-header
  family: cf-typography
  notes:
    - "Temporary changes to meta-header to be ported to cf-typography to allow better adjustments on mobile"
  tags:
    - cf-typography
*/


.meta-header_right {
    .respond-to-max(@mobile-max, {
        margin-bottom: unit( (@grid_gutter-width / 2) / @base-font-size-px, em);
    });
}


/* topdoc
  name: Adjustments to pull quote citation
  family: cf-typography
  notes:
    - "An adjustment to add an emdash to pull quote citation"
  tags:
    - cf-typography
*/

.pull-quote_citation:before {
    content: "\2014 ";
}


/* topdoc
  name: Sets default styling for multi-selects
 */

select[multiple] {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.form-label-header {
    .heading-4();
    margin-bottom: unit(10px / @font-size, em);

    // TODO: These two properties can be removed when this is ported to CF
    text-transform: none;
    letter-spacing: 0;
}

.micro-copy {
    font-size: 14px;
    &p {
        margin-bottom: unit(10px / @base-font-size-px, em);
    }
}

/* topdoc
    name: EOF
    eof: true
*/
