// TODO: Remove this once Spanish Ask and the Multiselect script have been updated or removed

/* topdoc
  name: Checkboxes and radio buttons
    family: cf-forms
    notes:
      - "CSS for checkboxes and radio buttons requires following a specific HTML structure for each type of input, otherwise the styles will not be properly applied."
      - "Labels should follow the input"
      - "Remember to use 'for' and 'id' attributes so that selected/checked styles function properly."
      - "Remember to use the same 'name' attribute for each set of radio buttons."
    patterns:
      - name: Checkbox
        markup: |
            <fieldset class="u-reset">
                <div class="form-l_col
                            form-l_col-1">
                    <legend class="a-legend">
                        Pets you own
                    </legend>
                </div>
                <div class="form-l_col
                            form-l_col-1-2
                            form-l-col__inset">
                    <div class="form-l-inset_container">
                        <input class="cf-input"
                               type="checkbox"
                               name="form_id"
                               id="input_id_cats">
                        <label class="cf-input_label"
                               for="input_id_cats">
                            Cats
                        </label>
                    </div>
                </div>
                <div class="form-l_col
                            form-l_col-1-2
                            form-l-inset">
                    <div class="form-l-inset_container">
                        <input class="cf-input"
                               type="checkbox"
                               name="form_id"
                               id="input_id_dogs">
                        <label class="cf-input_label"
                               for="input_id_dogs">
                            Dogs
                        </label>
                    </div>
                </div>
            </fieldset>
        codenotes:
          - |
            Structural cheat sheet:
            -----------------------
            fieldset
                .form-l_col-1
                    legend
                .form-l-inset
                    .form-l-inset_container
                        input[type="checkbox"].cf-input
                        label.cf-input_label
        notes:
          - "Use the markup structure above to add checkbox .cf-input elements."
      - name: Radio buttons
        markup: |
            <fieldset class="u-reset">
                <div class="form-l_col
                            form-l_col-1">
                    <legend class="a-legend">
                        Pick an option
                    </legend>
                </div>
                <div class="form-l_col
                            form-l_col-1-2
                            form-l-inset">
                    <div class="form-l-inset_container">
                        <input class="cf-input"
                               type="radio"
                               name="form_id"
                               id="input_id_1">
                        <label class="cf-input_label"
                               for="input_id_1">
                            Yes
                        </label>
                    </div>
                </div>
                <div class="form-l_col
                            form-l_col-1-2
                            form-l-inset">
                    <div class="form-l-inset_container">
                        <input class="cf-input"
                               type="radio"
                               name="form_id"
                               id="input_id_2">
                        <label class="cf-input_label"
                               for="input_id_2">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
        codenotes:
          - |
            Structural cheat sheet:
            -----------------------
            fieldset
                .form-l_col-1
                    legend
                .form-l-inset
                    .form-l-inset_container
                        input[type="radio"].cf-input
                        label.cf-input_label
        notes:
          - "Use the markup structure above to add radio button .cf-input elements."
    tags:
      - cf-forms
*/

@input-active:                  @pacific;

@input-bg-disabled:             @gray;
@input-border-disabled:         @gray-40;

// Insets
@input-inset-bg:                @gray-20;
@input-inset-selected:          @pacific-20;


.cf-input {

    @checkbox-width: unit( 18px / @base-font-size-px, em);
    @radio-width: unit( 17px / @base-font-size-px, em);

    &[type="checkbox"],
    &[type="radio"]{
        .u-visually-hidden();

        .lt-ie9 & {
            height: 20px;
            width: 20px;
            border: 0;
            float: left;
            margin: 1em;
            position: static;
            width: auto;
        }
    }

    &[type="checkbox"] + label,
    &[type="radio"] + label {
        cursor: pointer;
        margin-bottom: 0.5em;
    }

    &[type="checkbox"] + label::before,
    &[type="radio"] + label::before {
        background: white;
        content: '\a0';
        display: inline-block;
        margin-top: unit( 2px / @base-font-size-px, em);
        margin-right: .6em;
    }

    &[type="radio"] + label::before {
        height: @radio-width;
        width: @radio-width;
        border-radius: 100%;
        box-shadow: 0 0 0 2px #fff, 0 0 0 3px @input-border;
    }

    &[type="radio"]:checked + label::before {
        background-color: @input-active;
        box-shadow: 0 0 0 2px @input-bg, 0 0 0 3px @input-active;
    }

    &[type="radio"]:hover + label::before {
        box-shadow: 0 0 0 2px @input-bg, 0 0 0 3px @input-active;
    }

    &[type="radio"]:focus + label::before {
        box-shadow: 0 0 0 1px @input-bg, 0 0 0 3px @input-active;
    }

    &[type="checkbox"] + label::before {
        height: @checkbox-width;
        width: @checkbox-width;
        box-shadow: 0 0 0 1px @input-bg, 0 0 0 2px @input-border;
    }

    &[type="checkbox"]:checked + label::before {
        font-size: unit( 16px / @base-font-size-px, em);
        box-shadow: 0 0 0 1px @input-bg, 0 0 0 2px @input-active;
        text-align: center;
    }

    &[type="checkbox"]:hover + label::before {
        box-shadow: 0 0 0 1px @input-bg, 0 0 0 2px @input-active;
    }

    &[type="checkbox"]:focus + label::before {
        box-shadow: 0 0 0 2px @input-active;
    }

    &[type="checkbox"]:disabled + label {
        color: @input-border-disabled;
    }

    &[type="checkbox"]:disabled + label::before,
    &[type="radio"]:disabled + label::before {
      background: @input-bg-disabled;
      box-shadow: 0 0 0 1px @input-bg, 0 0 0 2px @input-border-disabled;
      cursor: not-allowed;
    }

}


/* topdoc
  name: EOF
  eof: true
*/
