/* ==========================================================================
   cfgov-refresh
   lists
   ========================================================================== */


/* topdoc
  name: Filtered-by list
  family: cfgov-lists
  notes:
    - "A list of applied filters."
    - "This pattern is subject to change. This initial style simply highlights
      the filters that have been applied. In the future this pattern will evolve
      so that each applied filter can be removed by clicking/tapping it."
  patterns:
    - name: Default example
      markup: |
        <dl class="filtered-by m-list m-list__horizontal">
            <dt class="m-list_item">
                <span class="filtered-by_header">Filtered by</span>
            </dt>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Lorem,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Ipsum,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Dolor,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Sit,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Amet,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Lorem,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Ipsum,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Dolor,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Sit,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Amet,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Lorem,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Ipsum,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Dolor,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Sit,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Amet</span>
            </dd>
        </dl>
    - name: Filters aligned with a button
      markup: |
        <a class="btn btn__secondary"
           style="float:right;"
           href="#">
            Filter
        </a>
        <dl class="filtered-by filtered-by__align-with-btn m-list m-list__horizontal">
            <dt class="m-list_item">
                <span class="filtered-by_header">Filtered by</span>
            </dt>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Lorem,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Ipsum,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Dolor,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Sit,</span>
            </dd>
            <dd class="m-list_item">
                <span class="filtered-by_filter">Amet,</span>
            </dd>
        </dl>
  tags:
    - cfgov-lists
*/


.filtered-by {
    margin: 0;

    &_header {
        .h5();
        margin: 0;
        color: @black;

        .filtered-by__align-with-btn & {
            .u-align-with-btn(@font-size);
        }
    }

    &_filter {
        color: @gray;

        .respond-to-print({
            & {
                .u-webfont-medium();
                color: @black;
            }
        });
    }
}


/* topdoc
  name: EOF
  eof: true
*/
