/* ==========================================================================
   consumerfinance.gov
   Main Less file
   ========================================================================== */


/* Base styles
   ========================================================================== */

// Import required CF components.
@import (less) 'cfpb-core.less';
@import (less) 'cfpb-icons.less';
@import (less) 'cfpb-buttons.less';
@import (less) 'cfpb-forms.less';
@import (less) 'cfpb-grid.less';
@import (less) 'cfpb-layout.less';
@import (less) 'cfpb-typography.less';
@import (less) 'cfpb-notifications.less';
@import (less) 'cfpb-pagination.less';
@import (less) 'cfpb-expandables.less';
@import (less) 'cfpb-tables.less';

// Icon font path
@cf-icon-path: '/static/icons';

// Webfont variables
// This is the path for self-hosted fonts.
@cf-fonts-path: '/static/fonts';
// Whether or not to override the local path and retrieve fonts from fonts.net.
@use-font-cdn: false;

// Enhancements that are on a migration path to being added to CF.
// CF Core
@import (less) "enhancements/vars.less";
@import (less) "enhancements/utilities.less";
@import (less) "enhancements/base.less";

// CF Typography
@import (less) "enhancements/typography.less";

// CF Layout
@import (less) "enhancements/layout.less";

// CF Forms
@import (less) "enhancements/forms.less";

// CF Tables
@import (less) "enhancements/tables.less";

// CF ???
@import (less) "enhancements/print.less";



/* Base patterns
   ========================================================================== */

@import (less) "images.less";
@import (less) "media.less";
@import (less) "meta.less";
@import (less) "misc.less";
@import (less) "schema.less";


/* Amalgamated patterns
   ========================================================================== */

@import (less) "post.less";
@import (less) "calendar-icon.less";
@import (less) "modification-date.less";


/* Atom pieces
   ========================================================================== */

@import (less) "atoms/rule-break.less";
@import (less) "atoms/overlay.less";
@import (less) "atoms/partially-styled-link.less";
@import (less) "atoms/tag.less";


/* Molecule pieces
   ========================================================================== */

@import (less) "molecules/archived-banner.less";
@import (less) "molecules/archived-pill.less";
@import (less) "molecules/autocomplete.less";
@import (less) "molecules/call-to-action.less";
@import (less) "molecules/card.less";
@import (less) "molecules/form-field-with-button.less";
@import (less) "molecules/full-width-media.less";
@import (less) "molecules/global-banner.less";
@import (less) "molecules/global-eyebrow.less";
@import (less) "molecules/global-header-cta.less";
@import (less) "molecules/global-search.less";
@import (less) "molecules/info-unit.less";
@import (less) "molecules/inset.less";
@import (less) "molecules/nav-link.less";
@import (less) "molecules/related-metadata.less";
@import (less) "molecules/related-posts.less";
@import (less) "molecules/social-media.less";
@import (less) "molecules/file-input.less";


/* Organism pieces
   ========================================================================== */
@import (less) "organisms/ask-search.less";
@import (less) "organisms/audio-player.less";
@import (less) "organisms/chart.less";
@import (less) "organisms/email-popup.less";
@import (less) "organisms/footer.less";
@import (less) "organisms/form.less";
@import (less) "organisms/full-width-text-group.less";
@import (less) "organisms/header.less";
@import (less) "organisms/info-unit-group.less";
@import (less) "organisms/item-introduction.less";
@import (less) "organisms/mega-menu.less";
@import (less) "organisms/mortgage-performance-trends.less";
@import (less) "organisms/post-preview.less";
@import (less) "organisms/prefooter.less";
@import (less) "organisms/read-more.less";
@import (less) "organisms/summary.less";
@import (less) "organisms/reg-comment.less";
@import (less) "organisms/resource-list.less";
@import (less) "organisms/secondary-navigation.less";
@import (less) "organisms/sidebar-breakout.less";
@import (less) "organisms/sidebar-contact-info.less";
@import (less) "organisms/sidebar-content.less";
@import (less) "organisms/video-player.less";
@import (less) "organisms/card-group.less";
@import (less) "organisms/simple-chart.less";


/* Template pieces
   ========================================================================== */

@import (less) "skip-nav.less";
@import (less) "breadcrumbs.less";


/* Page-specific styles
   ========================================================================== */

@import (less) "pages/ask.less";
@import (less) "pages/careers.less";
@import (less) "pages/event.less";
@import (less) "pages/external-site.less";
@import (less) "pages/error.less";
@import (less) "pages/press-resources.less";
// @import (less) "pages/car-buying-guide.less";


/* Print styles
   ========================================================================== */

@import (less) "print.less";


.content-grid {
   display: grid;
}