/* ==========================================================================
   consumerfinance.gov
   media
   ========================================================================== */

/* topdoc
  name: Media
  family: cfgov-media
  patterns:
    - name: Media object (OOCSS)
      markup: |
        <article class="media">
            <div class="media_image-container">
                <img class="media_image" src="https://placekitten.com/276/155" alt="">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .media
            .media_image-container
              .media_image
            .media_body
      notes:
        - "Based on Object-oriented CSS' media object. In mobile sizes
           (less than 600px), image container stacks on top of media_body."
    - name: .media_image-container__right modifier
      markup: |
        <article class="media">
            <div class="media_image-container media_image-container__right">
                <img class="media_image" src="https://placekitten.com/276/155" alt="">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
      notes:
        - "Image is positioned to right instead of left of content."

    - name: .media_image-container__wide-margin modifier
      markup: |
        <article class="media">
            <div class="media_image-container media_image-container__wide-margin">
                <img class="media_image" src="https://placekitten.com/276/155" alt="">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
        <article class="media">
            <div class="media_image-container media_image-container__wide-margin media_image-container__right">
                <img class="media_image" src="https://placekitten.com/276/155" alt="">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
      notes:
        - "Increased right (or left, when used with .media_image-container__right modifier),
           margin on .media_image-container."

    - name: .media_image__100 modifier
      markup: |
        <article class="media">
            <div class="media_image-container">
                <img class="media_image media_image__100" src="https://placekitten.com/100/100">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
      notes:
        - "Makes an image that is 100 pixels wide."

    - name: .media_image__150 modifier
      markup: |
        <article class="media">
            <div class="media_image-container">
                <img class="media_image media_image__150" src="https://placekitten.com/150/150">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
      notes:
        - "Makes an image that is 150 pixels wide."

    - name: .media_image__130-to-150 modifier
      markup: |
        <article class="media">
            <div class="media_image-container">
                <img class="media_image media_image__130-to-150" src="https://placekitten.com/150/150">
            </div>
            <div class="media_body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum non sapiente nobis molestias delectus optio ipsam
                    voluptas esse blanditiis ipsa debitis consequuntur excepturi
                    accusantium doloribus dicta fugiat itaque ab porro.
                </p>
            </div>
        </article>
      notes:
        - "Makes an image that has two responsive sizes, 130 and 150 pixels wide."
  tags:
    - cfgov-media
*/
.media {
    display: block;
    .u-clearfix;

    &_image-container {
        .respond-to-min(@bp-sm-min, {
            float: left;
            margin-right: @grid_gutter-width;
        });

        .respond-to-max(@bp-xs-max, {
            margin-left: 0;
            margin-right: 0;
        });

        &.media_image-container__wide-margin {
            margin-right: @grid_gutter-width;

            .respond-to-max(@bp-xs-max, {
                margin-left: 0;
                margin-right: 0;
            });
        }

    }

    &_image-container__right {
        display: block;

        .respond-to-min(@bp-sm-min, {
            float: right;
            margin-left: @grid_gutter-width / 2;
            margin-right: 0;
        });

        &.media_image-container__wide-margin {
            margin-left: @grid_gutter-width;
            margin-right: 0;

            .respond-to-max(@bp-xs-max, {
                margin-left: 0;
            });
        }

    }

    &_image {
        display: block;
    }

    &_image__100 {
        width: 100px;
    }

    &_image__150 {
        width: 150px;
    }

    &_image__130-to-150 {
        width: 130px;
        .respond-to-min(@bp-med-min, {
            width: 150px;
        });
    }

    &_body {
        .respond-to-max(@bp-xs-max, {
            margin-top: @grid_gutter-width / 2;
        });

        .respond-to-min(@bp-sm-min, {
            display: table-cell;
            width: 10000px;
            vertical-align:top;
        });
    }

    .lt-ie8 &_body {
        zoom: 1;
        display: block;
        width: auto;
    }
}

/* topdoc
  name: Media Stack
  family: cfgov-media
  patterns:
    - name: Media Stack object (OOCSS)
      markup: |
        <section class="media-stack">
            <div class="media-stack_item">
                <article class="media">
                    <div class="media_image-container">
                        <img class="media_image" src="https://placekitten.com/276/155" alt="">
                    </div>
                    <div class="media_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dolorum non sapiente nobis molestias delectus optio ipsam
                            voluptas esse blanditiis ipsa debitis consequuntur excepturi
                            accusantium doloribus dicta fugiat itaque ab porro.
                        </p>
                    </div>
                </article>
            </div>
            <div class="media-stack_item">
                <article class="media">
                    <div class="media_image-container">
                        <img class="media_image" src="https://placekitten.com/276/155" alt="">
                    </div>
                    <div class="media_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dolorum non sapiente nobis molestias delectus optio ipsam
                            voluptas esse blanditiis ipsa debitis consequuntur excepturi
                            accusantium doloribus dicta fugiat itaque ab porro.
                        </p>
                    </div>
                </article>
            </div>
            <div class="media-stack_item">
                <article class="media">
                    <div class="media_image-container">
                        <img class="media_image" src="https://placekitten.com/276/155" alt="">
                    </div>
                    <div class="media_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dolorum non sapiente nobis molestias delectus optio ipsam
                            voluptas esse blanditiis ipsa debitis consequuntur excepturi
                            accusantium doloribus dicta fugiat itaque ab porro.
                        </p>
                    </div>
                </article>
            </div>
        </section>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .media-stack
            .media-stack_item
                .media
                  .media_image-container
                    .media_image
                  .media_body
            .media-stack_item
                .media
                  .media_image-container
                    .media_image
                  .media_body
            .media-stack_item
                .media
                  .media_image-container
                    .media_image
                  .media_body
      notes:
        - "A vertical stack of media objects, separated by a horizontal rules."
  tags:
    - cfgov-media
*/
.media-stack {
    margin-bottom: unit(45px / @base-font-size-px, em);

    .media-stack_item {
        border-top: 1px solid @gray-40;
        padding-top: unit( (@grid_gutter-width / 2) / @base-font-size-px, em);
        margin-top: unit( (@grid_gutter-width / 2) / @base-font-size-px, em);
    }

    .media-stack_item:first-child {
        padding-top: unit( @grid_gutter-width / @base-font-size-px, em);
        border-top: none;
    }

    .media {
        margin-left: @grid_gutter-width / 2;
        margin-right: @grid_gutter-width / 2;
    }
}

/* topdoc
    name: EOF
    eof: true
*/
