/* ==========================================================================
   consumerfinance.gov
   meta
   ========================================================================== */

/* topdoc
  name: Tags
  family: cfgov-meta
  patterns:
    - name: Default example
      markup: |
        <div class="tags">
            <h4 class="tags_heading">Topics:</h4>
            <ul class="tags_list">
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Students
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Consumers
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        College loans
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Students
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Consumers
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        College loans
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Students
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Consumers
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        College loans
                    </a>
                </li>
            </ul>
        </div>
    - name: Hide heading modifier
      markup: |
        <div class="tags tags__hide-heading">
            <h4 class="tags_heading u-visually-hidden">Topics:</h4>
            <ul class="tags_list">
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Students
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Consumers
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        College loans
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Students
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Consumers
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        College loans
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Students
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        Consumers
                    </a>
                </li>
                <li class="tags_tag">
                    <a href="#" class="tags_link">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        College loans
                    </a>
                </li>
            </ul>
        </div>
  tags:
    - cfgov-meta
*/

.tags {
    .respond-to-min(@bp-sm-min, {
        position: relative;
        // 58px here comes from the .tags_heading width.
        padding-left: unit((58px + 8px) / @base-font-size-px, em);
    });

    &_heading {
        .h4();
        display: block;
        // Bottom margin is eyeballed to 20px from the baseline.
        margin: 0 0 unit(16px / @font-size, em);
        color: @black;

        .respond-to-min(@bp-sm-min, {
            position: absolute;
            left: 0;
            width: unit(58px / @font-size, em);
            margin: 0;
        });
    }

    &_list {
        padding-left: 0;
        border-top: 1px dotted @gold-80;
        list-style-type: none;

        .respond-to-min(@bp-sm-min, {
            border-top: none;
        });
    }

    &_tag {
        border-bottom: 1px dotted @gold-80;
        margin-bottom: 0;
        line-height: 1;

        .respond-to-min(@bp-sm-min, {
            display: inline-block;
            margin-right: unit(15px / @base-font-size-px, em);
            // Eyeballed to be 15px of vertical space between each.
            margin-bottom: unit(8px / @base-font-size-px, em);
            border-bottom: none;
        });
    }

    @bullet-font-size: 17px;

    &_link {
        position: relative;
        .h6();
        display: block;
        // Eyeballed to 15px including line-height.
        padding: 14px 0 10px;
        margin: 0 0 0 unit(@bullet-font-size / @font-size, em);
        // Match the height of the bullet.
        line-height: unit(@bullet-font-size / @font-size, em);

        .u-link__colors(@gray, @gray, @gray, @gray, @gray,
                        @gold-80, @gold-80, @gold-80, @gold-80, @gold-80);

        .respond-to-max(@bp-sm-max, {
            .u-link__no-border();
        });

        .respond-to-min(@bp-sm-min, {
            padding: 0;
        });
    }

    &_bullet {
        position: absolute;
        left: -1em;
        // Display block + width makes this whole area clickable.
        display: block;
        width: 1em;
        color: @gold-80;
        // 12px is the font size of .tags_link.
        font-size: unit(@bullet-font-size / 12px, em);
    }

    &__hide-heading {
        padding-left: 0;

        .tags_heading {
            margin: 0;
        }
    }

    .respond-to-print({
        display: none;
    });
}


/* topdoc
  name: EOF
  eof: true
*/
