/* ==========================================================================
   cfgov-refresh
   misc
   ========================================================================== */

/* topdoc
  name: Expandable customizations
  family: cfgov-misc
  patterns:
    - name: Expandable filters
      markup: |
        <div class="expandable expandable__filters">
            <div class="expandable_header expandable_header__spaced">
                <div class="expandable_header-right u-hide-on-mobile">
                    <span class="expandable_target">
                        <button class="btn btn__secondary">
                            Filter activities
                            <span class="expandable_cue-open">
                                <span class="btn_icon__right cf-icon cf-icon-down"></span>
                            </span>
                            <span class="expandable_cue-close">
                                <span class="btn_icon__right cf-icon cf-icon-up"></span>
                            </span>
                        </button>
                    </span>
                </div>
                <ul class="filtered-by filtered-by__align-with-btn list__horizontal">
                    <li class="list_item filtered-by_header">80 filtered results for</li>
                    <li class="list_item filtered-by_filter">
                        Blog,
                    </li>
                    <li class="list_item filtered-by_filter">
                        Press Release,
                    </li>
                    <li class="list_item filtered-by_filter">
                        January 2014&ndash;September 2014
                    </li>
                </ul>
                <div class="expandable_header-right u-show-on-mobile">
                    <span class="expandable_target">
                        <button class="btn btn__secondary">
                            Filter activities
                            <span class="expandable_cue-open">
                                <span class="btn_icon__right cf-icon cf-icon-down"></span>
                            </span>
                            <span class="expandable_cue-close">
                                <span class="btn_icon__right cf-icon cf-icon-up"></span>
                            </span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="expandable_content padded-container">
                <div class="padded-container_body">
                    Filters body
                </div>
            </div>
        </div>
    - name: JavaScript setup
      markup: |
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//cfpb.github.io/cf-expandables/docs/static/js/component.min.js"></script>
  tags:
    - cfgov-misc
*/

.expandable__filters {
    margin-bottom: unit(15px / @base-font-size-px, em);

    &.expandable__expanded {
        margin-bottom: unit(@grid_gutter-width / @base-font-size-px, em);
    }

    .respond-to-max(@bp-xs-max, {
        .expandable_header-right {
            float: none;
            // Eyeballed to 15px
            margin-top: unit(10px / @base-font-size-px, em);

            .btn {
                display: block;
                width: 100%;
            }
        }
    });
}


/* topdoc
  name: Floating media
  family: cfgov-misc
  patterns:
    - name: .float-media
      markup: |
        <p>
            <img class="float-media"
                 src="http://placekitten.com/200/230" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
      codenotes:
        - .float-media
      notes:
        - "Float some media left with margins."
    - name: .float-media__right (modifier)
      markup: |
        <p>
            <img class="float-media float-media__right"
                 src="http://placekitten.com/200/230" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
      codenotes:
        - .float-media.float-media__right
      notes:
        - "Float some media right with margins."
  tags:
    - cfgov-misc
*/

.float-media {
    @gutter: @grid_gutter-width;

    display: block;
    margin: 0 0 @gutter;

    .respond-to-min(@bp-sm-min, {
        float: left;
        margin-right: @gutter;
    });

    &__right {
        .respond-to-min(@bp-sm-min, {
            float: right;
            margin-right: 0;
            margin-left: @gutter;
        });
    }
}


/* topdoc
  name: Responsive cropping
  family: cfgov-misc
  notes:
    - "A simple cropping pattern. We may need more advanced ones in the future."
    - "How it works: At smaller screens .rwd-crop is cropped to 75% of its
       original height and flexibily scales 100% of its parents width. At larger
       screens it is no longer flexible and uses its default width. For images
       the default width can be set using the width attribute."
  patterns:
    - name: .rwd-crop
      markup: |
        <figure class="rwd-crop">
            <img class="rwd-crop_item" src="http://placekitten.com/480/544" width="155" alt="">
        </figure>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .rwd-crop
            .rwd-crop_item
      notes:
        - "The default .rwd-crop pattern only supports square or portrait-style
           images. We'll need to create a modifier to support landscape images."
        - "Notice how the image has a default width of 155 which is set using
           the width attribute."
    - name: .float-media example
      markup: |
        <p>
            <figure class="float-media rwd-crop">
                <img class="rwd-crop_item" src="http://placekitten.com/480/480" width="200" alt="">
            </figure>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
      notes:
        - "An example of using .rwd-crop in combination with .float-media."
  tags:
    - cfgov-misc
*/

.rwd-crop {
    .respond-to-max(@bp-xs-max, {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 75%;
        overflow: hidden;

        &_item {
            position: absolute;
            width: 100%;
            max-width: none;
        }
    });
}


/* topdoc
  name: Video poster
  family: cfgov-misc
  patterns:
    - name: .video-poster
      markup: |
        <figure>
            <a class="video-poster" href="#link-to-video">
                <img src="http://placekitten.com/600/338" alt="">
            </a>
        </figure>
      codenotes:
        - .video-poster
  tags:
    - cfgov-misc
*/

.video-poster {
    @font-size: 26px;

    position: relative;
    display: inline-block;

    &:after {
        .cf-icon();
        // cf-icon-play
        content: "\e640";
        position: absolute;
        right: @grid_gutter-width / 2;
        bottom: @grid_gutter-width / 2;
        display: block;
        width: 1em;
        height: 1em;
        padding: unit(10px / @font-size, em)
                 unit(8px / @font-size, em)
                 unit(10px / @font-size, em)
                 unit(12px / @font-size, em);
        background: @black;
        background: fade(@black, 75%);
        color: @white;
        font-size: unit(@font-size / @base-font-size-px, em);
        text-align: center;
        border-radius: 100%;
        transition: background 200ms;
    }

    &:hover {
        &:after {
            background: @green;
            background: fade(@green, 75%);
        }
    }

    & img {
        vertical-align: middle;
    }
}

/* TOOD: .share-icon is superceded by atomic social-media.less file.
         Delete this after merging atomic prototype into existing codebase. */
/* topdoc
  name: Share icon
  family: cfgov-misc
  patterns:
    - name: .share-icon (base)
      markup: |
        <a class="share-icon" href="#">
            <span class="cf-icon cf-icon-email-social-square"></span>
            <span class="u-visually-hidden">
                Share by email
            </span>
        </a>
      notes:
        - "Text for screenreaders is added with the .u-visually-hidden element."
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .share-icon
            .cf-icon.cf-icon-name
            .u-visually-hidden
    - name: .share-icon__large (modifier)
      markup: |
        <a class="share-icon share-icon__large" href="#">
            <span class="cf-icon cf-icon-email-social-square"></span>
            <span class="u-visually-hidden">
                Share by email
            </span>
        </a>
      codenotes:
        - .share-icon__large
  tags:
    - cfgov-misc
*/

.share-icon {
    color: @dark-gray;
    font-size: unit(26px / @base-font-size-px, em);
    line-height: 1;
    .u-link__colors(@dark-gray, @pacific-80);
    .u-link__no-border();

    &__large {
        // 35px creates a 30px square icon.
        font-size: unit(35px / @base-font-size-px, em);
    }
}


/* topdoc
  name: Line container
  family: cfgov-misc
  notes:
    - ".line-container is meant to contain anything you want with consistent top
      and bottom padding. It uses a margin collapsing trick in CSS to achieve
      this consistency which this is why .line-container_body is needed. The
      only caveat to this consistency is if you place something inside of it
      that has a bottom-margin that is larger than the .line-container padding."
  patterns:
    - name: Basic line container
      markup: |
        <div class="line-container">
            <div class="line-container_body">
                <p>
                    ¯\_(ツ)_/¯<br>
                    There is a light border above and below me!
                </p>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .line-container
            .line-container_body
    - name: Line container with no top border or padding (example 1)
      markup: |
        <div class="line-container line-container__no-top">
            <div class="line-container_body">
                <h2 class="header-slug">
                    <span class="header-slug_inner">
                        Blog summary
                    </span>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum ex provident dolorem ipsum molestias eius tenetur
                    doloribus obcaecati illum autem! Fuga commodi natus
                    distinctio accusantium esse ab dolore in aliquid.
                </p>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .line-container.line-container__no-top
            .line-container_body
    - name: Line container with no top border or padding (example 2)
      markup: |
        <div class="line-container">
            <div class="line-container_body line-container__no-top">
                <p>
                    <img src="http://placekitten.com/700/200" alt="">
                </p>
                <h2>
                    Photo heading
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum ex provident dolorem ipsum molestias eius tenetur
                    doloribus obcaecati illum autem! Fuga commodi natus
                    distinctio accusantium esse ab dolore in aliquid.
                </p>
            </div>
        </div>
  tags:
    - cfgov-misc
*/

.line-container {
    margin: 0 0 unit(30px / @base-font-size-px, em);
    border-top: 1px solid @gray-20;
    border-bottom: 1px solid @gray-20;

    &_body {
        // 26px is eyeballed to 30px when considering line heights of potential
        // children.
        margin: unit(26px / @base-font-size-px, em)
                0
                unit(26px / @base-font-size-px, em);
    }

    &__no-top {
        border-top: 0;
        .line-container_body {
            margin-top: 0;
        }
    }
}


/* topdoc
  name: Padded container
  family: cfgov-misc
  notes:
    - ".padded-container is meant to contain anything you want with consistent
      padding. It uses a margin collapsing trick in CSS to achieve this
      consistency which this is why .line-container_body is needed. The only
      caveat to this consistency is if you place something inside of it that has
      a bottom-margin that is larger than the .padded-container padding."
  patterns:
    - name: Basic padded container
      markup: |
        <div class="padded-container">
            <div class="padded-container_body">
                <p>
                    ¯\_(ツ)_/¯<br>
                    There is padding all around me!
                </p>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .padded-container
            .padded-container_body
  tags:
    - cfgov-misc
*/

.padded-container {
    margin-bottom: unit(30px / @base-font-size-px, em);
    // Use pixels here, Opera doesn't like 1px represented as an em.
    // Maybe it rounds down or something?
    padding: 1px;
    background: @gray-10;

    &_body {
        // 23px is eyeballed to 30px when considering line heights of potential
        // children. One pixel has been taken off of each value to account for
        // the 1px padding on the parent. This padding stops margin collapsing
        // from extending outside of the padded box.
        margin: unit(23px / @base-font-size-px, em)
                unit(29px / @base-font-size-px, em)
                unit(23px / @base-font-size-px, em);
    }
}


/* topdoc
  name: Character icons
  family: cfgov-misc
  notes:
    - "A way to create icons that feature a single character on a circular
       background. Useful because cf-icons does not have any of this type of
       icon in its library. Typical use case would be to identify steps in a
       process."
  patterns:
    - name: Default usage
      markup: |
        <h2 class="char-icon char-icon__1">This is the first thing</h2>
  tags:
    - cfgov-misc
*/


// Size of cicular background.
@icon-size: 1.5em;

.char-icon {
    &:before {
        display: inline-block;
        box-sizing: border-box;
        width: @icon-size;
        height: @icon-size;
        border-radius: 100%;
        margin-right: 0.375em;
        position: relative;
        background: @green;
        color: @white;
        .webfont-medium();
        line-height: @icon-size;
        text-align: center;
    }

    &__1:before { content: '1'; }
    &__2:before { content: '2'; }
    &__3:before { content: '3'; }
    &__4:before { content: '4'; }
    &__5:before { content: '5'; }
    &__6:before { content: '6'; }
    &__7:before { content: '7'; }
    &__8:before { content: '8'; }
    &__9:before { content: '9'; }
    &__0:before { content: '0'; }
    &__A:before { content: 'A'; }
    &__B:before { content: 'B'; }
    &__C:before { content: 'C'; }
    &__D:before { content: 'D'; }
    &__E:before { content: 'E'; }
    &__F:before { content: 'F'; }
    &__G:before { content: 'G'; }
    &__H:before { content: 'H'; }
    &__I:before { content: 'I'; }
    &__J:before { content: 'J'; }
    &__K:before { content: 'K'; }
    &__L:before { content: 'L'; }
    &__M:before { content: 'M'; }
    &__N:before { content: 'N'; }
    &__O:before { content: 'O'; }
    &__P:before { content: 'P'; }
    &__Q:before { content: 'Q'; }
    &__R:before { content: 'R'; }
    &__S:before { content: 'S'; }
    &__T:before { content: 'T'; }
    &__U:before { content: 'U'; }
    &__V:before { content: 'V'; }
    &__W:before { content: 'W'; }
    &__X:before { content: 'X'; }
    &__Y:before { content: 'Y'; }
    &__Z:before { content: 'Z'; }
    &__a:before { content: 'a'; }
    &__b:before { content: 'b'; }
    &__c:before { content: 'c'; }
    &__d:before { content: 'd'; }
    &__e:before { content: 'e'; }
    &__f:before { content: 'f'; }
    &__g:before { content: 'g'; }
    &__h:before { content: 'h'; }
    &__i:before { content: 'i'; }
    &__j:before { content: 'j'; }
    &__k:before { content: 'k'; }
    &__l:before { content: 'l'; }
    &__m:before { content: 'm'; }
    &__n:before { content: 'n'; }
    &__o:before { content: 'o'; }
    &__p:before { content: 'p'; }
    &__q:before { content: 'q'; }
    &__r:before { content: 'r'; }
    &__s:before { content: 's'; }
    &__t:before { content: 't'; }
    &__u:before { content: 'u'; }
    &__v:before { content: 'v'; }
    &__w:before { content: 'w'; }
    &__x:before { content: 'x'; }
    &__y:before { content: 'y'; }
    &__z:before { content: 'z'; }
}


/* topdoc
  name: Step slugs
  family: cfgov-misc
  notes:
    - "Styling for a slug that indicates a step in a process."
  patterns:
    - name: Embedded in a heading
      markup: |
        <h2>
            <span class="step-slug char-icon char-icon__1">Step one</span>
            Description of the step
        </h2>
      notes:
        - "Useful when you want to include the slug text in the heading for the
           purposes of visibility in the document outline."
    - name: Standalone
      markup: |
        <h2 class="step-slug char-icon char-icon__1">Step one</h2>
        <p>Description of the step</p>
      notes:
        - "Useful when the 'Step number' text itself serves as a heading."
        - "Equivalent to the .char-icon default usage pattern, but with specific
           styling for the text that follows."
  tags:
    - cfgov-misc
*/

.step-slug {
    display: block;
    margin-bottom: unit(15px / 14px, em);

    color: @dark-gray;
    .webfont-demi();
    font-size: 14px; // fallback for browsers that don't support rem units
    // rem units needed because the main use case for this is within a heading
    font-size: unit(14px / @base-font-size-px, rem);
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* topdoc
  name: Drop shadow
  family: cfgov-misc
  notes:
    - "Mixin to create a semi-transparent drop-shadow after element."
  tags:
    - cfgov-misc
*/
.u-drop-shadow-after() {
    &:after {
        display: block;
        height: 5px;
        width: 100%;

        position: absolute;
        // Offset for thickness of shadow.
        bottom: -5px;
        left: 0;

        background: @gray;
        // Whitespace in content so element can have dimensions set.
        content: '';
        opacity: 0.2;
    }
}


/* topdoc
  name: Transition utility classes.
  family: cfgov-misc
  notes:
    - "Adds transitions utilty classes for transform, opacity,
       and for the removing the transition duration."
    - "`.u-move-transition__disabled` is used for disabling tests
        in protractor tests"
  tags:
    - cfgov-misc
*/
.u-move-transition {
    transition: transform 0.25s ease-out;
}

.u-alpha-transition {
    transition: opacity 0.25s ease-out;
}

.u-no-animation {
    transition-duration: 0s;
}

// The mega-menu code doesn't work with a transition of 0ms
.u-move-transition__disabled {
  .u-move-transition {
    transition: transform 1ms ease;
  }
}

/* topdoc
  name: Move utility classes.
  family: cfgov-misc
  notes:
    - "Utility classes for moving an element using transform translate values."
  tags:
    - cfgov-misc
*/
.u-move-to-origin {
    transform: translateX( 0 );
}

.u-move-left {
    transform: translateX( -100% );
}

// TODO: Look into adding a mixin for movement multiples.
.u-move-left-2x {
    transform: translateX( -200% );
}

.u-move-left-3x {
    transform: translateX( -300% );
}

.u-move-right {
    transform: translateX( 100% );
}

.u-move-up {
    transform: translateY( -100% );
}

/* topdoc
  name: Alpha utility classes.
  family: cfgov-misc
  notes:
    - "Utility classes for setting an element's opacity."
  tags:
    - cfgov-misc
*/
.u-alpha-100 {
    opacity: 1;
}

.u-alpha-0 {
    opacity: 0;
}

/* topdoc
  name: Download icons
  family: cfgov-misc
  notes:
    - "Adds download icons to certain links"
  tags:
    - cfgov-misc
*/

a[href$='.PDF']:after,
a[href$='.pdf']:after,
a[href$='.doc']:after,
a[href$='.docx']:after,
a[href$='.xls']:after,
a[href$='.xlsx']:after,
a[href$='.csv']:after,
a[href$='.zip']:after {
    .cf-icon();
    display: inline-block;
    content: @cf-icon-download;
    width: 1em;
    text-align: right;
}

.date-range {
    &_label {
        display: none;

        .lt-ie10 & {
            display: inline;
        }
    }
}

/* topdoc
  name: EOF
  eof: true
*/
