/* ==========================================================================
   cfgov-refresh
   Overrides for slick carousel on /the-bureau/ and /careers/working-at-cfpb/.
   ========================================================================== */

.mobile-carousel {

    // Slick carousel overrides https://github.com/kenwheeler/slick/.
    &.slick-slider {
        margin-top: (@grid_gutter-width * 2);
        padding-top: (@grid_gutter-width * 2);
        border-top: 1px solid @gray-40;
        border-bottom: 1px solid @gray-40;
        padding-bottom: (@grid_gutter-width / 2);

        .slick-dots {
            top: 30px;

            li {
                margin: 0;
            }

            button {
                &:before {
                    color: @gray-40;
                    font-size: 40px;
                    opacity: 1;
                }

                &:hover:before {
                    color: @gray;
                }
            }

            .slick-active button:before {
                opacity: 1;
                color: @gray;
            }
        }

        .slick-prev,
        .slick-next {
            height: 30px;
            width: 30px;
            // TODO:
            // The top value relies on the height of the carousel slide image,
            // which may vary. Find a way to set this value with the
            // .media_image__100 and .media_image__130-to-150 classes.
            top: 140px;
            z-index: 1000;

            &:hover:before {
                color: @gray-40;
            }

            &:before {
                color: @gray-20;
                opacity: initial;
                font-size: 30px;
                .cf-icon();
            }
        }

        .slick-prev {
            left: 10%;

            &:before {
                // cf-icon-left.
                content: "\e000";
            }
        }

        .slick-next {
            right: 10%;

            &:before {
                // cf-icon-right.
                content: "\e002";
            }
        }
    }

    // Overrides media-stack settings for border and padding.
    .slick-slide {
        border-top: none;
        padding-top: 0;
        margin-top: unit(30px / @base-font-size-px, em);
    }
}
