/* ==========================================================================
   consumerfinance.gov
   cfgov-post
   ========================================================================== */


/* topdoc
  name: Blog post
  family: cfgov-post
  patterns:
    - name: Default post
      markup: |
        <article class="post">
            <header>
                <a href="#" class="a-heading a-heading__icon">
                    {{ svg_icon('bullhorn') }}
                    <span class="u-visually-hidden">Category:</span>
                    Announcements &amp; updates
                </a>
                <h1 class="post_heading">
                    A consumer-centered supervision program
                </h1>
                <p class="post_dek">
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Quis architecto commodi cupiditate excepturi
                    consequatur sequi quia consectetur est ea laborum
                    saepe earum quidem a necessitatibus modi magni error
                    ab suscipit.
                </p>
                <div>
                    <span class="date">
                        Jan 22, 2014
                    </span>
                </div>
                <ul class="m-list m-list__horizontal">
                    <li class="m-list_item">
                        <a href="#" aria-label="Share by email">
                            {{ svg_icon('email-square') }}
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="#" aria-label="Share on Facebook">
                            {{ svg_icon('facebook-square') }}
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="#" aria-label="Share on Twitter">
                            {{ svg_icon('twitter-square') }}
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a href="#" aria-label="Share on LinkedIn">
                            {{ svg_icon('linkedin-square') }}
                        </a>
                    </li>
                </ul>
            </header>
            <div class="post_body">
                <aside class="post_inset post_inset__right line-container">
                    <div class="line-container_body">
                        <h3>
                            Final list of rural and underserved counties
                        </h3>
                        <p>
                            View or download the list in any of these formats:
                        </p>
                        <ul class="m-list m-list__unstyled m-list__horizontal">
                            <li class="m-list_item">
                                <a class="m-list_link" href="#">
                                    CSV
                                </a>
                            </li>
                            <li class="m-list_item">
                                <a class="m-list_link" href="#">
                                    XLS
                                </a>
                            </li>
                            <li class="m-list_item">
                                <a class="m-list_link" href="#">
                                    PDF {{ svg_icon('document') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="line-container_body">
                        <h3>
                            Final list of rural and underserved counties
                        </h3>
                        <p>
                            View or download the list in any of these formats:
                        </p>
                        <ul class="m-list m-list__unstyled m-list__horizontal">
                            <li class="m-list_item">
                                <a class="m-list_link" href="#">
                                    CSV
                                </a>
                            </li>
                            <li class="m-list_item">
                                <a class="m-list_link" href="#">
                                    XLS
                                </a>
                            </li>
                            <li class="m-list_item">
                                <a class="m-list_link" href="#">
                                    PDF {{ svg_icon('document') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <aside class="post_inset post_inset__right line-container">
                    <div class="line-container_body m-pull-quote">
                        <div class="m-pull-quote_body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Cum corrupti tempora nam nihil qui mollitia consectetur
                            corporis nemo culpa dolorum!
                        </div>
                        <footer>
                            <cite class="m-pull-quote_citation">
                                Author Name
                            </cite>
                        </footer>
                    </div>
                </aside>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <aside class="post_inset line-container">
                    <div class="line-container_body m-pull-quote m-pull-quote__large">
                        <div class="m-pull-quote_body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Cum corrupti tempora nam nihil qui mollitia consectetur
                            corporis nemo culpa dolorum!
                        </div>
                        <footer>
                            <cite class="m-pull-quote_citation">
                                Author Name
                            </cite>
                        </footer>
                    </div>
                </aside>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <aside class="post_inset post_inset__right line-container line-container__no-top">
                    <header class="m-slug-header">
                        <h2 class="a-heading">
                            More information
                        </h2>
                    </header>
                    <div class="line-container_body">
                        <ul class="m-list m-list__unstyled">
                            <li class="m-list_item m-list_item__spaced">
                                <a class="m-list_link" href="#">
                                    Consumer help
                                </a>
                            </li>
                            <li class="m-list_item m-list_item__spaced">
                                <a class="m-list_link" href="#">
                                    Know before you owe
                                </a>
                            </li>
                            <li class="m-list_item m-list_item__spaced">
                                <a class="m-list_link" href="#">
                                    Submit a complaint
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <blockquote>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cum corrupti tempora nam nihil qui mollitia consectetur
                        corporis nemo culpa dolorum! Laborum at eos deleniti
                        consequatur itaque officiis debitis quisquam! Provident!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cum corrupti tempora nam nihil qui mollitia consectetur
                        corporis nemo culpa dolorum! Laborum at eos deleniti
                        consequatur itaque officiis debitis quisquam! Provident!
                    </p>
                </blockquote>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                </ul>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cum corrupti tempora nam nihil qui mollitia consectetur
                    corporis nemo culpa dolorum! Laborum at eos deleniti
                    consequatur itaque officiis debitis quisquam! Provident!
                </p>
            </div>
            <footer>
                <div class="tags">
                    <h4 class="tags_header">Topics:</h4>
                    <ul class="tags_list">
                        <li class="tags_tag">
                            <a href="#" class="tags_link">
                                <span class="tags_bullet" aria-hidden="true">&bull;</span>
                                Students
                            </a>
                        </li>
                        <li class="tags_tag">
                            <a href="#" class="tags_link">
                                <span class="tags_bullet" aria-hidden="true">&bull;</span>
                                Consumers
                            </a>
                        </li>
                        <li class="tags_tag">
                            <a href="#" class="tags_link">
                                <span class="tags_bullet" aria-hidden="true">&bull;</span>
                                College loans
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
        </article>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          article.post
            header
                a
                h1.post_heading
            p.post_dek
            aside
              ul
                li.m-list_item
                  a
            div.post_body
              aside.post_inset
            footer
  tags:
    - cfgov-post
*/

// TODO: `post_heading` is only used on events/_event-detail.html.
//       Refactor to use CF classes.

.post_heading {
    .h2();
    // Eyeballed to 24px.
    margin-bottom: unit(13px / @font-size, em);
    .respond-to-min(@bp-sm-min, {
        .h1();
        // Eyeballed to 24px.
        margin-bottom: unit(10px / @font-size, em);
    });
}

// TODO: `post_dek` is only used on events/_event-detail.html.
//       Refactor to use CF classes.

.post_dek {
    .h4();
    // Eyeballed to 30px.
    margin-bottom: unit(20px / @font-size, em);
}

// TODO: `post_body` is used on article.html and events/_event-detail.html.
//       Refactor to use CF classes if possible.

.post_body {
    .u-clearfix();
    margin-top: unit( @grid_gutter-width / @base-font-size-px, em );
    color: @gray-dark;

    // Spacing has been eyeballed to be 30px.
    p ~ h1, p ~ .h1 {
        margin-top: unit(22px / @base-font-size-px, em);
    }

    // Spacing has been eyeballed to be 30px.
    p ~ h2, p ~ .h2 {
        margin-top: unit(31px / @base-font-size-px, em);
    }

    // Spacing has been eyeballed to be 30px.
    p ~ h3, p ~ .h3 {
        margin-top: unit(35px / @base-font-size-px, em);
    }

    // Spacing has been eyeballed to be 15px.
    p ~ h4, p ~ .h4 {
        margin-bottom: unit(7px / @base-font-size-px, em);
    }

    // Spacing has been eyeballed to be 15px.
    p ~ h5, p ~ .h5 {
        margin-bottom: unit(6px / @base-font-size-px, em);
    }

    // Spacing has been eyeballed to be 15px.
    p ~ h6, p ~ .h6 {
        margin-bottom: unit(5px / @base-font-size-px, em);
    }
}

// TODO: `post_inset` is only used on events/_event-detail.html.
//       Refactor to use CF classes.

.post_inset {
    margin: unit(30px / @base-font-size-px, em) 0;
    color: @black;

    &__right {
        .respond-to-min(@bp-sm-min, {
            .u-right();
            width: unit(250px / @base-font-size-px, em);
            margin-top: unit(5px / @base-font-size-px, em);
            margin-left: unit(@grid_gutter-width / @base-font-size-px, em);
        });
    }
}

/* ==========================================================================
   Accessible bleedbar
   ========================================================================== */

.content__bleedbar {

  .content_wrapper:after {
    background-color: @gray-5;
  }

}

/* topdoc
  name: EOF
  eof: true
*/
