/* ==========================================================================
   consumerfinance.gov
   Print
   ========================================================================== */


/* topdoc
  name: Print pages
  family: cfgov-print
  notes:
    - "Print pages are barebones printer friendly pages which are also sometimes
       used as the source to generate PDF's through PDF creation software."
    - "The `.print` class acts a styling hook. When using the
       `.respond-to-print()` mixin, all stlyes will be nested under both
       `@media print` and `.print`."
  patterns:
    - name: Usage
      markup: |
        <div class="print">
            <h1 class="superheader">
                I am a green superheader
            </h1>
        </div>
      notes:
        - "To trigger a print page simply add the `.print` class to a containing
           element."
  tags:
    - cfgov-print
*/

.respond-to-print({
    a {
        font-weight: 500;
    }

    a:after {
        border-bottom: 1px solid @white;
        font-weight: 300;
        word-break: break-all;
    }

    a[href*="://"]:after {
        // Output href in parentheses for links with a protocol already there.
        content: " (" attr(href) ")";
    }

    a[href^="/"]:after {
        // Output root-relative hrefs in parentheses with our domain prepended.
        content: " (cfpb.gov" attr(href) ")";
    }

    a[href^="/external-site"]:after {
        // Output original href for links with external site interstitial.
        content: " (" attr(data-orig-href) ")";
    }

    a[href="/"]:after,
    a[href*="?authors"]:after {
        // Don't append hrefs to the logo or author links.
        content: none;
    }

    a[href^="#"],
    a[href*="?authors"]{
        // Style in-page anchor links (like page TOCs) and author links
        // to not look like links.
        color: @gray-dark;
        border-bottom-width: 0;
    }

    a.a-btn {
        &:link,
        &:visited {
            // Undo all button stylings and make it look like a standard link
            all: unset;
            border-bottom: 1px dotted @link-underline;
            color: @link-text;
            display: inline-block;
            font-weight: 500;
            text-decoration: none;
        }
    }

    .o-video-player_play-btn {
        // !important used here to avoid being overriden by a much more specific
        // selector that sets the display property for this element
        // and to avoid using a selector that specific here.
        display: none !important;
    }

    .a-tagline {
        // Force the tagline's background image to be visible when printing
        color-adjust: exact;
    }

    .o-video-player::after {
        content: "Watch the video at https://www.youtube.com/watch?v=" attr(data-id);
    }

    .m-hero .m-hero_image {
        padding-bottom: 0;
    }

    .m-global-eyebrow,
    .join-the-conversation,
    .o-email-signup,
    .rss-subscribe,
    .o-feedback,
    .o-search-bar {
        display: none;
    }

    // Solving Firefox's longstanding issue of cutting off inline-block
    // elements after one page.
    @-moz-document url-prefix() {
        html,
        body {
            margin: 0;
            padding: 0;
        }

        .content_main {
            margin: 0;
            display: block !important;
        }

        .content_sidebar {
            display: block !important;
        }
    }
});
