.search_wrapper {
    &.o-well {
        max-width: 100%;
    }
}

.filters_applied {
    padding: 30px 15px;
    border-bottom: 1px solid @gray-40;
    &-label {
        display: inline-block;
        margin-right: 15px;
        font-weight: 600;
    }
}

.filters_tags {
    display: inline-block;
}

.search_results {
    .content_sidebar {
        padding: 45px 15px 0;
        border: 1px solid @gray-40;
        background-color: #f7f8f9;

        .o-expandable_content,
        .o-expandable_target {
            border: 0;
            padding: 0;
            &:before,
            &:after {
                border: 0;
                padding: 0;
            }
        }
        .num-results {
            float: right;
        }
        .o-expandable {
            padding-bottom: 15px;
            border-bottom: 1px solid @gray-40;
            margin-bottom: 15px;
            &_label {
                .h4;
                margin-bottom: 0;
            }
        }
        .o-form_group {
            margin-bottom: 0;
        }
    }
    .content_main {
        &:after {
            border: 0;
        }
        border: 0;
        border-top: 1px solid @gray-40;
        padding-top: 0;
    }
    .results_count {
        padding: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em )
                 unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em )
                 0
                 unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
        border-right: 1px solid @gray-40;
        border-bottom: 1px solid @gray-40;
        background-color: @green-20;
        &.no-results {
            background-color: @red-20;
            padding-bottom: 15px;
        }
    }
    .results_list {
        padding: unit( @grid_gutter-width / @base-font-size-px, em )
                 unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
        li {
            list-style-type: none;
        }
    }
    .results_item {
        margin: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
        &+ .results_item {
            margin-top: unit( @grid_gutter-width / @base-font-size-px, em );
            h4 {
                padding-top: unit( @grid_gutter-width / @base-font-size-px, em );
                border-top: 1px solid @gray-40;
            }
        }
    }
    .results_paginator {
        margin: 0 unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
        padding: 0 unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
        max-width: 41.875rem;
    }
}

.respond-to-max( @bp-sm-max, {
    .search_results {
        .content_sidebar {
            padding-top: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
        }
        .content_main {
            margin-top: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
        }
        .results_count {
            border-left: 1px solid @gray-40;
        }
    }
});