/* ==========================================================================
   cfgov-refresh
   share
   ========================================================================== */

/* topdoc
  name: Share
  family: cfgov-share
  notes:
    - "Note that modifiers are the most common use cases for this block, hence
      the reason there are no direct styles associated with .share."
  patterns:
    - name: Basic structure
      markup: |
        <aside class="share">
            <h1 class="h6 share_heading">
                Share this page
            </h1>
            <ul class="m-list m-list__horizontal share_items">
                <li class="m-list_item">
                    <a class="share-icon"
                       href="mailto:sharing.url">
                        <span class="cf-icon cf-icon-email-social-square"></span>
                        <span class="u-visually-hidden">Share by email</span>
                    </a>
                </li>
                <li class="m-list_item">
                    <a class="share-icon"
                       href="facebook.sharing.url"
                       target="_blank">
                        <span class="cf-icon cf-icon-facebook-square"></span>
                        <span class="u-visually-hidden">Share on Facebook</span>
                    </a>
                </li>
            </ul>
        </aside>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .share
            .share_heading
            .share_items

    - name: Horizontal Share modifier
      markup: |
        <aside class="share share__horizontal">
        </aside>
  tags:
    - cfgov-share
*/

.share__horizontal {
    .share_heading,
    .share_items {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }
}


/* topdoc
  name: Align Right modifier
  family: cfgov-share
  patterns:
    - name: Default example
      markup: |
        <aside class="share share__align-right">
        </aside>
  tags:
    - cfgov-lists
*/

.share__align-right {
    .respond-to-min(@bp-sm-min, {
        text-align: right;
    });
}

/* topdoc
  name: EOF
  eof: true
*/
