/* ==========================================================================
   consumerfinance.gov
   skip-nav
   ========================================================================== */

/* topdoc
  name: CF.gov skip navigation button
  family: cfgov-header
  tags:
    - cfgov-header
*/
.skip-nav {
    position: relative;

    &_link {
        position: absolute;
        top: auto;
        left: -10000px;
        height: 1px;
        width: 1px;
        overflow: hidden;
        background: transparent;
        transition: transform 1s ease, background .5s linear;
        z-index: 11;

        &:focus {
            .a-btn();
            // Taken from .a-btn__super.
            padding:
                unit( 11px / 18px, em )
                unit( 29px / 18px, em );
            font-size: unit( 18px / @base-font-size-px, em );

            top: 15px;
            left: 15px;
            height: auto;
            width: auto;
            overflow: visible;
            outline: 0;
            transition: transform .1s ease, background .2s linear;
        }

        &__flush-left:focus {
          left: 0;
        }
    }
}
