@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;

.skip-nav {
  position: relative;

  &__link {
    position: absolute;
    top: auto;
    left: -10000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
    background: transparent;
    transition:
      transform 1s ease,
      background 0.5s linear;
    z-index: 11;

    &:focus {
      top: 15px;
      left: 15px;
      height: auto;
      width: auto;
      overflow: visible;
      transition:
        transform 0.1s ease,
        background 0.2s linear;
    }

    &--flush-left:focus {
      left: 0;
    }
  }

  // Don't print the skip-nav.
  @media print {
    display: none;
  }
}
