@import (less) "enhancements/buttons.less";

/* ==========================================================================
   cfgov-refresh
   skip-nav
   ========================================================================== */

/* topdoc
  name: CF.gov skip navigation button
  family: cfgov-header
  tags:
    - cfgov-header
*/

#skip-nav {
    position: absolute;
    top: unit(-@grid_gutter-width / @base-font-size-px, em);
    left: unit(@grid_gutter-width / @base-font-size-px, em);
    background: transparent;
    transition: transform 1s ease, background .5s linear;
    z-index: 11;
}

#skip-nav:focus {
    .a-btn;
    // Taken from .a-btn__super.
    padding:
      unit( 11px / 18px, em )
      unit( 29px / 18px, em );
    font-size: unit( 18px / @base-font-size-px, em );

    position: absolute;
    top: 0;
    outline: 0;
    transition: transform .1s ease, background .2s linear;
}
