{% extends "layout-base-main-first.html" %}
{% import "_section_layouts.html" as section %}

{% block demo_title -%}
    Base layout with main content first
{%- endblock %}

{% block title -%}
    Base layout with main content first
{%- endblock %}

{% block desc -%}
    An example of using layout-base-main-first.html
{%- endblock %}

{% block content_main %}
    <h1>Base layout with main content first</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quaerat minus dignissimos vero eaque sapiente quo quidem commodi repellat eum pariatur sint sunt odit rem id velit nisi delectus excepturi!</p>
{% endblock %}

{% block content_sidebar %}
    <h1>Sidebar</h1>
{% endblock %}
