<section class="block
                block__bg
                block__border
                block__flush-sides">
    <form class="form-l js-validate-filters">
        <div class="form-l_col form-l_col-1-2">
            <label class="form-label-header" for="first-name">
                First name
            </label>
            <input class="input__long"
                   id="first-name"
                   required
                   type="text">
        </div>

        <div class="form-l_col form-l_col-1-2">
            <label class="form-label-header" for="last-name">
                Last name
            </label>
            <input class="input__long"
                   id="last-name"
                   required
                   type="text">
        </div>

        <div class="form-l_col form-l_col-1">
            <label class="form-label-header"
                   for="organization-address">
                Address
            </label>
            <input class="input__long"
                   id="organization-address"
                   type="text"
                   required>
        </div>

        <div class="form-l_col form-l_col-1-2">
            <label class="form-label-header"
                   for="organization-city">
                City
            </label>
            <input class="input__long"
                   id="organization-city"
                   type="text"
                   required>
        </div>

        <div class="form-l_col form-l_col-1-2">
            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header"
                       for="organization-state">
                    State
                </label>
                <div class="custom-select">
                    <select class="custom-select_select"
                            data-placeholder="Select state"
                            id="organization-state"
                            required>
                        <option value="">Select state</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="Other">Other States to be added</option>
                    </select>
                    <span class="custom-select_icon
                                 cf-icon
                                 cf-icon-down"></span>
                </div>
            </div>
            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header" for="organization-zip">
                    Zip code
                </label>
                <input class="input__long"
                       id="organization-zip"
                       type="text"
                       required>
            </div>
        </div>
        <div class="form-l_col form-l_col-1-2">
            <label class="form-label-header" for="telephone-number">
                Telephone number
            </label>
            <input class="input__long"
                   id="telephone_number"
                   type="number"
                   required>
        </div>
        <div class="form-l_col form-l_col-1-2">
            <label class="form-label-header" for="contact-time">
                Best time to reach you
            </label>
            <div class="custom-select">
                <select class="custom-select_select"
                        data-placeholder="Select Time"
                        id="contact-time">
                      <option value="">Select time</option>
                      <option>8:00 a.m</option>
                 </select>
                 <span class="custom-select_icon
                                 cf-icon
                                 cf-icon-down"></span>
            </div>
        </div>
        <div class="form-l_col form-l_col-1-2">
            <label for="fax-number">
                <span class="form-label-header">
                    Fax number
                </span>
                <span class="micro-copy">
                    (Optional)
                </span>
            </label>
            <input class="input__long"
                   id="fax-number"
                   type="text">
        </div>
        <div class="form-l_col form-l_col-1-2">
            <label for="email-address">
                <span class="form-label-header">
                    Email address
                </span>
                <span class="micro-copy">
                    (Optional)
                </span>
            </label>
            <input class="input__long"
                   id="email-address"
                   type="text">
        </div>
        <div class="form-l_col form-l_col-1-2">
            <label class="form-label-header"
                   for="request-date">
                Request date
            </label>
            <input class="input__long"
                   id="request-date"
                   type="text"
                   required>
        </div>
        <div class="form-l_col form-l_col-1">
            <label class="form-label-header" for="complaint-desc">
                Description of complaint
            </label>
            <textarea class="input__long"
                      id="complaint-desc"
                      required>
            </textarea>
        </div>
        <div class="form-l_col form-l_col-1">
            <label for="complaint-summary">
                <span class="form-label-header">
                    Summary to resolve complaint
                </span>
                <br>
                <span class="micro-copy micro-copy__large">
                    Summarize the steps taken, if any, by you or the CFPB to
                    resolve this complaint.
                </span>
            </label>
            <textarea class="input__long"
                      id="complaint-summary"
                      required>
            </textarea>
        </div>
        <div class="form-actions form-actions__right-on-med ">
            <input class="btn form-actions_item"
                   type="submit"
                   value="Generate PDF">
            <a href="#" class="btn btn__link form-actions_item">
                Sample Letter
                <span class="cf-icon cf-icon-pdf"></span>
            </a>
        </div>

    </form>
</section>
