    <section class="block
                    block__bg
                    block__border
                    block__flush-sides">
        <form class="form-l js-validate-filters">
            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header" for="plain-writing-fb_first-name">
                    First name
                </label>
                <input class="input__long"
                       id="plain-writing-fb_first-name"
                       required
                       type="text">
            </div>

            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header" for="plain-writing-fb_last-name">
                    Last name
                </label>
                <input class="input__long"
                       id="plain-writing-fb_last-name"
                       required
                       type="text">
            </div>

            <div class="form-l_col form-l_col-1">
                <label class="form-label-header"
                       for="plain-writing-fb_organization-address">
                    Address
                </label>
                <input class="input__long"
                       id="plain-writing-fb_organization-address"
                       type="text"
                       required>
            </div>

            <div class="form-l_col form-l_col-1-2">
                <label class="form-label-header"
                       for="plain-writing-fb_organization-city">
                    City
                </label>
                <input class="input__long"
                       id="plain-writing-fb_organization-city"
                       type="text"
                       required>
            </div>

            <div class="form-l_col form-l_col-1-2">
                <div class="form-l_col form-l_col-1-2">
                    <label class="form-label-header"
                           for="plain-writing-fb_organization-state">
                        State
                    </label>
                    <div class="custom-select">
                        <select class="custom-select_select"
                                data-placeholder="State"
                                id="plain-writing-fb_organization-state"
                                required>
                            <option value="">Please select</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="Other">Other States to be added</option>
                        </select>
                        <span class="custom-select_icon
                                     cf-icon
                                     cf-icon-down"></span>
                    </div>
                </div>
                <div class="form-l_col form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-fb_organization-zip">
                        Zip code
                    </label>
                    <input class="input__long"
                           id="plain-writing-fb_organization-zip"
                           type="text"
                           required>
                </div>
            </div>

            <div class="form-l_col form-l_col-1">
                <label class="form-label-header"
                       for="plain-writing-fb_starting-date">
                    Comment date
                </label>
                <input class="input__long"
                       id="plain-writing-fb_starting-date"
                       placeholder="mm/dd/yyyy"
                       type="text">
            </div>


            <div class="form-l_col form-l_col-1">
                <label class="form-label-header" for="plain-writing-fb_request-desc">
                    Plain writing feedback
                </label>
                <textarea class="input__long"
                          id="plain-writing-fb_request-desc"
                          required>
                </textarea>
            </div>

            <div class="form-l_col form-l_col-1"
                 id="plain-writing-fb-fee-waiver-justify">
                <label>
                    <span class="form-label-header">
                        URL with plain writing issue
                    </span>
                    <span class="micro-text">
                        (Optional)
                    </span>
                </label>
                <input class="input__long"
                       id="plain-writing-fb_starting-date"
                       placeholder="http://www.consumerfinance.gov/"
                       type="text">
            </div>

            <div class="form-actions form-actions__right-on-med ">
                <input class="btn form-actions_item"
                       type="submit"
                       value="Generate PDF">
                <a href="#" class="btn btn__link form-actions_item">
                    Sample Letter
                    <span class="cf-icon cf-icon-pdf"></span>
                </a>
            </div>

        </form>
    </section>
    <section class="block">
        <p>
            Once you generate the PDF, send your feedback by email or fax.
        </p>
        <div class="content-l content-l__main">
            <div class="content-l_col
                        content-l_col-1-2
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-email"></span>
                    Email
                </h5>

                <p class="short-desc">
                    <a href="mailto:Plain_Writing_Act@consumerfinance.gov">Plain_Writing_Act@consumerfinance.gov</a>
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1-2
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-fax"></span>
                    Fax
                </h5>
                <p class="short-desc">
                    (855) 237-2392
                </p>
            </div>
        </div>
    </section>
