<div class="plain-writing-feedback">
    <section class="block">
        <div class="content-l
                    block__border-bottom">
            <div class="content-l_col
                        content-l_col-1-3
                        block">
                <h2 class="h5 plain-writing-feedback_step">
                    Step 1
                </h2>
                <p class="short-desc plain-writing-feedback_step">
                    Fill out the form
                </p>
            </div>

            <div class="content-l_col
                        content-l_col-1-3
                        block">
                <h2 class="h5 plain-writing-feedback_step">
                    Step 2
                </h2>
                <p class="short-desc plain-writing-feedback_step">
                    Generate the PDF
                </p>
            </div>

            <div class="content-l_col
                        content-l_col-1-3
                        block">
                <h2 class="h5 plain-writing-feedback_step">
                    Step 3
                </h2>
                <p class="short-desc plain-writing-feedback_step">
                    Send feedback letter
                </p>
            </div>
        </div>
    </section>


    <section class="block ">
        <h4>Enter your information to auto-generate a plain writing feedback letter.</h4>
        <form class="form-l js-validate-filters">
            <div class="form-group">
                <div class="form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-feedback_first-name">
                        First name
                    </label>
                </div>
                <div class="form-l_col-1-2">
                    <input class="input__long"
                           id="plain-writing-feedback_first-name"
                           type="text"
                           placeholder="Requestor's first name"
                           required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-feedback_last-name">
                        Last name
                    </label>
                </div>
                <div class="form-l_col-1-2">
                    <input class="input__long"
                           id="plain-writing-feedback_last-name"
                           type="text"
                           placeholder="Requestor's last name"
                           required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-feedback_address-1">
                        Address 1
                    </label>
                </div>
                <div class="form-l_col-1-2">
                    <input class="input__long"
                           id="plain-writing-feedback_address-1"
                           type="text"
                           placeholder="Requestor's address 1"
                           required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-feedback_address-2">
                        Address 2
                    </label>
                </div>
                <div class="form-l_col-1-2">
                    <input class="input__long"
                           id="plain-writing-feedback_address-2"
                           type="text"
                           placeholder="Requestor's address 2"
                           required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-feedback_city">
                        City
                    </label>
                </div>
                <div class="form-l_col-1-2">
                    <input class="input__long"
                           id="plain-writing-feedback_city"
                           type="text"
                           placeholder="Requestor's city"
                           required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-feedback_state">
                        State
                    </label>
                </div>
                <div class="form-l_col-1-2">
                    <div class="select-content">
                        <select id="plain-writing-feedback_state">
                            <option value="">Select state</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-feedback_zip-code">
                        Zip code
                    </label>
                </div>
                <div class="form-l_col-1-2">
                    <input class="input__long"
                           id="plain-writing-feedback_zip-code"
                           type="text"
                           placeholder="Requestor's zip code"
                           required>
                </div>
            </div>

           <div class="form-group">
                <div class="form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-feedback_comment-date">
                        Comment date
                    </label>
                </div>
                <div class="form-l_col-1-2">
                    <input class="input__long"
                           id="plain-writing-feedback_comment-date"
                           type="number"
                           placeholder="mm/dd/yyyy"
                           required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-feedback_comments">
                        Plain writing feedback or comments
                    </label>
                </div>
                <div class="form-l_col-1-2">
                    <textarea class="input__long"
                              id="plain-writing-feedback_comments"
                              required>
                    </textarea>

                </div>
            </div>

            <div class="form-group">
                <div class="form-l_col-1-2">
                    <label class="form-label-header" for="plain-writing-feedback_url">
                        URL of page with plain writing issue
                    </label>
                </div>
                <div class="form-l_col-1-2">
                    <input class="input__long"
                           id="plain-writing-feedback_url"
                           type="text"
                           placeholder="(Optional)"
                           >
                </div>
            </div>

            <div class="form-group">
                <div class="form-l_col-1-2">
                    {# Empty column to align buttons with input fields #}
                </div>
                <div class="form-l_col-1-2">
                    <input class="btn form-actions_item"
                       type="submit"
                       value="Generate feedback PDF">
                    <a href="#" class="btn btn__link form-actions_item">
                        Sample Letter
                        <span class="cf-icon cf-icon-pdf"></span>
                    </a>
                </div>
            </div>
        </form>
    </section>
    <!-- End Form Module. -->
    <section class="block">
        <p>
            Once you generate the PDF, send your feedback by email or fax.
        </p>
        <div class="content-l content-l__main">
            <div class="content-l_col
                        content-l_col-1-2
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-email"></span>
                    Email
                </h5>

                <p class="short-desc">
                    <a href="mailto:Plain_Writing_Act@consumerfinance.gov">Plain_Writing_Act@consumerfinance.gov</a>
                </p>
            </div>
            <div class="content-l_col
                        content-l_col-1-2
                        block
                        block__flush-top">
                <h5>
                    <span class="cf-icon cf-icon-fax"></span>
                    Fax
                </h5>
                <p class="short-desc">
                    (855) 237-2392
                </p>
            </div>
        </div>
    </section>
</div>
