.external-links .results > h2 {
	margin-top: 30px;
}

.external-links .results-message {
	margin-top: 30px;
	font-size: 1.17em;
	font-weight: 400;
}

.external-links .results-note {
	margin-bottom: 45px;
}

.external-links form  {
	display: flex;
    max-width: 600px;
}

.external-links form button {
    height: 3em;
    padding: 0 1.4em;
    font-size: .95em;
}

.external-links .field {
    flex: 2;
    margin-right: 10px;
}

.external-links .iconfield.field-small .input:before {
    top: .4em;
}

.external-links input {
    padding: .5em 1.2em;
}

table.listing {
	margin-bottom: 1em;
}