body:before {
    content: attr(data-env);
    display: block;
    padding: 0.25em;
    background-color: #b4267a; /* Purple */
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 800px) {
    body:before {
        box-sizing: border-box;
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }
}
