/* CSS to display HeadingTextBlock, HeadingLevelBlock, and HeadingIconBlock
   inline when used in a HeadingBlock, which overrides its form_template to
   add the field name classes you see below so we can hook into them. */

.heading-text-block,
.heading-level-block,
.heading-icon-block {
    display: inline-block;
    margin-right: -0.25em;
}

.heading-text-block { width: 50%; }
.heading-level-block { width: 20%; }
.heading-icon-block { width: 26%; }

.heading-level-block,
.heading-icon-block {
    margin-left: 2%;
}

.heading-text-block label,
.heading-level-block label,
.heading-icon-block label {
    display: block;
    width: auto;
    float: none;
}

.heading-text-block .field-content,
.heading-level-block .field-content,
.heading-icon-block .field-content {
    /* Using !important to override default styling without needing
       excessively long selectors here. */
    width: 100% !important;
}

.heading-level-block.required > label::after {
    /* Hide the unnecessary required. We are forcing a default value, so
       indicating that it's required is superfluous. Using !important to
       override default styling without needing an excessively long selector. */
    display: none !important;
}
