.Draftail-Editor__wrapper {
 height: auto !important;
 width: 800px !important;
 max-width: 800px !important;
}

.Draftail-Editor .DraftEditor-root {
    padding: 0.75em;
}

.handsontableInputHolder {
  left: 0 !important;
}

.handsontable {
  height: 100% !important;
  overflow: visible !important;
}

.heading-text-block,
.heading-level-block,
.heading-icon-block {
    vertical-align: top;
}


.table-block-modal {
    box-sizing: border-box;
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
}

.table-block-modal .close {
    padding: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.table-block-warning {
    font-weight: bold;
    background-color: #ffecd1;
    display: none;
    border: 2px solid #ff9e1b;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1.25em;
}

table[id$=fixed-width-column-input],
table[id$=sortable-input] {
    width: 100%;
    margin-bottom: 10px;
    display: none;
}

table[id$=fixed-width-column-input] .column-width-input,
table[id$=sortable-input] .sortable-type-input {
    border: 1px solid #b4b5b6 !important;
    height: 1.875em;
    width: 100%;
    padding: .25em .375em;
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
    appearance: menulist !important;
    border-radius: 0;
    color: #101820;
}

.hidden {
    display: none;
}
