{% extends "front/base_nonresponsive.html" %}
{% load static from staticfiles %}

{% block jquery %}
<script src="{% static 'nemo/_/js/jquery-1.9.1.min.js' %}"></script>
{% endblock %}

{% block nemo_js %}
<script src="{% static 'nemo/_/js/functions.js' %}"></script>
{% endblock %}

{% block title %}
    Helping borrowers find ways to stay afloat &gt; Consumer Financial Protection Bureau
{% endblock %}

{% block breadcrumbs %}
<li><a href="/" class="internal-link">Home</a></li>
<li><a href="/students">STUDENTS AND YOUNG CONSUMERS</a></li>
<li>HELPING BORROWERS FIND WAYS TO STAY AFLOAT</li>
{% endblock %}

{% block content %}
{% include "front/share_block.html" %}
<article class="page">
<header class="pagetitle">
    <h1>Helping borrowers find ways to stay afloat</h1>
</header>
<h3>A path forward to spur affordable repayment options </h3>
<p>Earlier this year, we asked what you thought should be done to help borrowers find affordable options to pay for their private student loans. Nearly 30,000 of you responded with personal stories, ideas, and solutions. <a href="https://www.regulations.gov/#!docketDetail;D=CFPB-2013-0004">Here is some of what we heard.</a></p>
<p>We also published an op-ed discussing the potential impact of student debt on the economy.<a href="https://www.consumerfinance.gov/opeds/student-debt-domino-effect/"> Read the entire op-ed here</a>.  </p>
<p>We also published a report highlighting the ways in which student loan debt can be a roadblock to a full financial life for consumers. The report identifies options for policymakers and market participants to consider when helping student borrowers manage their debt. <a href="https://www.consumerfinance.gov/reports/student-loan-affordability/  ">Check out the report</a>.</p>
<ul>
    <li>Download a spreadsheet of the comments as an <a href="https://files.consumerfinance.gov/f/201304_cfpb_data_comments-docket-nonrulemaking-cfpb-2013-00041.xls">.xls </a>sheet or in <a href="https://files.consumerfinance.gov/f/201304_cfpb_data_comments-docket-nonrulemaking-cfpb-2013-0004.csv">.csv format</a>.</li>
    <li><a href="https://files.consumerfinance.gov/f/201304_cfpb_comments_organizational-letters-docket-nonrulemaking-cfpb-2013-0004.pdf">Read comments</a> submitted by consumer groups, financial institutions and nonprofit organizations.</li>
</ul>
<p>Check out <a href="https://www.consumerfinance.gov/blog/category/students/">our blog</a> for more information about this effort. </p>
<h2>Spread the word</h2>
<p>Do you know someone struggling with student loan debt? Share this page with them.</p>
{% endblock %}
