.vspace2 {margin-bottom:20px;}

#college-process-timeline {margin-bottom:120px;font-family: "Avenir Next", Arial, sans-serif;}
#college-process-timeline div {width:120px;}
#college-process-timeline div.tl-highlighted {width:205px;}
#college-process-timeline div:last-child {width:165px;}

.proces-timeline{margin-left:0px;}
.tl-step {position:relative;float:left;margin-left:5px;height:20px;z-index:2;
    font-size:.9em;padding:8px 8px 8px 8px;}
.tl-marker {
	position:absolute;
	top:36px;left:10px;
	padding:23px 14px 0px 14px !important;
	margin:0px!important;
	z-index:1;
	min-height:30px;
	background-image:url(timeline-marker.png); 
	background-repeat: no-repeat;
	width:110px!important;
	color:#000;
}

.tl-marker-invert {background-position-x:130px;text-align:right;}

.tl-arrow-right:after {left: 100%;border:solid transparent;content: " ";height: 0;width: 0;position: absolute;}
.tl-arrow-right:after {border-left-color: inherit;border-width: 18px;top: 0px;}

.tl-arrow-left {margin-left:18px;}
.tl-arrow-left:before {right: 100%;border:solid transparent;content: " ";height: 0;width: 0;position: absolute;}
.tl-arrow-left:before {border-right-color: inherit;border-width: 18px;top: 0px;}

/* pacific */
.pacific {color:#256AB4;}
.pacific-bg {background-color:#256AB4; border-color:#256AB4; color:#FFFFFF;}
.bubble.active {background-color:#256AB4;border-color:#256AB4;color:#FFF;}
.orange {color:#D83D00;}
.orange-bg {background-color:#D83D00; border-color:#D83D00; color:#FFFFFF;}
.orange-light {color:#DD6344;}
.orange-light-bg {background-color:#DD6344; border-color:#DD6344; color:#FFFFFF;}

.tline-h4{margin:30px 0 10px 0;}
.font-s{font-size:smaller;}