{# ==========================================================================

   accessible-languages.render()

   ==========================================================================

   Use this in a section or div to set the language and letter direction
   settings. This may need to be updated when more right-to-left languages
   are added.

   ========================================================================== #}

{% macro render() %}
    {%- set rtl_languages = ['ar'] -%}
    {%- if page and page.language in rtl_languages -%}
        lang="{{ page.language }}" dir="rtl"
    {%- endif -%}
{% endmacro %}
