
{# ==========================================================================

   activities_block.render()

   ==========================================================================

   Description:

   Render activities block when given:

   tags: List of activities tags.

   ========================================================================== #}

{% macro render(tags) %}
{% from 'macros/util/text.html' import string_length as string_length %}
<section class="m-related-posts
                qa-tags">
    {% import 'macros/activity-snippets.html' as activity_snippets with context %}
    {% set activities_feed = activity_snippets.render(tags, include_date_flag=true, number_columns=2) %}
    {% include 'templates/activities-feed.html' %}
    <a class="jump-link jump-link__underline"
       href="/activity-log/{{ ('?filter_tags=' ~ tags | join('&') ) if tags }}">
        View all of our activities
    </a>
</section>
{% endmacro %}
