
{# ==========================================================================

   active_filters.render()

   ==========================================================================

   Description:

   Create active filters markup when given:

   posts:    The query object search results.
             Used to show how many filtered items resulted.

   filters:  An array of the filters that you want.
             Possible values: activity_category, author, calendar, category,
             range_date, tags.

   options:  An object of non-required options that can be overriden.

   options.expand_label:          The label you want on the expandable button.

   options.show_unfiltered_count: Allows you to enable the count
                                  label when no filters are applied.

   options.show_filters_label:    Allows disabling of showing the count label.

   options.use_list:              Boolean for whether to use list markup.

   ========================================================================== #}

{% macro render(posts, filters, options) %}
{% set active_filters = [] %}
{% set active_date_filters = [] %}
{% set use_list = options.use_list or false %}

{# This is a hack. `_ignore` is a variable we will never use but we can use
   its var expression as a means to write the expression needed to update
   `active_date_filters`. #}
{%- for filter in filters %}
    {%- if filter == 'range_date' -%}
        {% set _ignore = active_date_filters.extend(selected_filters_for_field('range_date_gte')) %}
        {% set _ignore = active_date_filters.extend(selected_filters_for_field('range_date_lte')) %}
    {%- elif filter == 'activity_category' -%}
        {% set _ignore = active_filters.extend(selected_filters_for_field('type')) %}
        {% set _ignore = active_filters.extend(selected_filters_for_field('category')) %}
    {%- else -%}
        {% set _ignore = active_filters.extend(selected_filters_for_field(filter)) %}
    {%- endif -%}
{% endfor -%}

{%- set active_filters_total = active_filters | length + active_date_filters | length -%}

{%- if use_list == false -%}
    {{ _active_filters_notification(posts, active_filters_total > 0) }}
{% else %}
    {{ _active_filters_list(active_filters_total, active_filters, active_date_filters, options) }}
{% endif %}

{% endmacro %}


{# A helper macro to display the active_filters as a list.
  ========================================================================== #}
{% macro _active_filters_list(active_filters_total, active_filters, active_date_filters, options) %}
<ul class="filtered-by
           filtered-by__align-with-btn
           m-list
           m-list__horizontal">
{%- if active_filters_total > 0 -%}
    {%- if options.show_filters_label -%}
        <li class="list_item filtered-by_header">
        {%- if posts | list | length > 0 -%}
            {{ posts | list | length }} filtered result{{ 's' if posts | list | length > 1 }} for
        {%- else -%}
            No results for
        {%- endif -%}
        </li>
        {%- endif %}
    {%- for filter in active_filters %}
        <li class="list_item filtered-by_filter">
            {{ 'Blog' if filter == 'post' else filter }}
        {% if not loop.last or active_date_filters | length > 0 %}
            ,
        {% endif %}
        </li>
    {% endfor %}
    {%- if active_date_filters | length > 0 -%}
        <li class="list_item filtered-by_filter">
        {%- for filter in active_date_filters %}
            {{ filter | date("%B %Y") }}
            {{ '&ndash;' | safe if not loop.last else '' }}
        {%- endfor -%}
        </li>
    {%- endif %}
{%- else -%}
    {% if options.show_unfiltered_count and options.show_filters_label %}
        <li class="list_item">
            <span class="filtered-by_header">
              {{ posts | list | length }} filtered result{{ 's' if posts | list | length > 1 }} for
            </span>
        </li>
    {% endif %}
{%- endif -%}
</ul>
{% endmacro %}


{# A helper macro to display the active_filters as a notification.
   ========================================================================== #}
{% macro _active_filters_notification(posts, has_active_filters=false) %}
{%- if posts | list | length > 0 -%}
    {% set text = posts | list | length | string
                  + ' filtered result'
                  + ('s' if posts | list | length > 1 else '') %}
    {% set type = 'success' %}
    {% set is_visible = has_active_filters %}
{%- else -%}
    {% macro _no_results_text () %}
        Sorry, there were no results based on your filter selections.
        <p class="u-mt15">
            Please clear the filter or change your selections and try again.
        </p>
    {% endmacro %}
    {% set text = _no_results_text() %}
    {% set type = 'warning' %}
    {% set is_visible = true %}
{%- endif -%}

{% import 'molecules/notification.html' as notification %}
    {{ notification.render(type=type, is_visible=is_visible, message=text) }}
{% endmacro %}
