
{# ==========================================================================

   activity_snippets.render()

   ==========================================================================

   Description:

   List a bunch of activity snippets when given:

   tag:               A tag to use in the query.

   activity_types:    An array of activity types.
                      Default values: posts, op-ed, newsroom, press release,
                                      speech, testimony.

   include_date_flag: Boolean indicating whether to
                      display the date of the activity.
                      Default is false.

   number_columns:    Number of columns.
                      Default is 1.

   ========================================================================== #}

{% macro render(tag,
                activity_types=['blog', 'op-ed', 'newsroom', 'press release', 'speech', 'testimony'],
                include_date_flag=false,
                number_columns=1
               )
%}
    {% from 'macros/util/text.html' import string_length as string_length %}
    <div class="content-l content-l__large-gutters">
    {% for activity_type in activity_types %}
        {% set activity = _activity_snippet(activity_type, tag, 5, include_date_flag) %}
        {% if string_length(activity)|int > 0 %}
            <div class="content-l_col {{ 'content-l_col-1' ~ ('-' ~ number_columns if number_columns > 1 else '') }}">
                {{ activity }}
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endmacro %}


{# ==========================================================================

   _activity_snippet()

   ==========================================================================

   Description:

   List titles of recent document type posts when given:

   doctype:           The document type you wish to display.
                      Note that newsroom is not a supported document type in this
                      macro. Use newsroom categories instead.

   querystring:       The elastic search query you'd like to make.
                      Example: 'category:"Press Release" AND tags:Students'.
                      Reference: http://www.elasticsearch.org/guide/en/elasticsearch
                                 /reference/current/query-dsl-query-string-query.html

   quantity:          The number of results you want to display.

   include_date_flag: Boolean indicating whether to display the date of the activity.
                      Default is false.

   ========================================================================== #}

{% macro _activity_snippet(activity_type, tags, quantity, include_date_flag=false) %}
    {% import 'macros/category-icon.html' as category_icon %}
    {% set feed = get_latest_activities(activity_type) %}
    {% if feed %}
      {% set header = activity_type.title() %}
      {% set icon = category_icon.render(activity_type) %}
      <div class="activity">
          <h3 class="h4">{{ icon }} {{ header }}</h3>
          <ul class="m-list
                     m-list__spaced
                     m-list__links">
          {% for item in feed %}
              <li class="m-list_item">
                  <a class="m-list_link"
                     href="{{ get_protected_url(item) }}">
                      {{ item.preview_title | safe if item.preview_title else item.title | safe  }}
                      {%- if include_date_flag and item.specific.date_published -%}
                          <span class="a-date">
                              &ndash;
                              {% import 'macros/time.html' as time %}
                              {{ time.render(item.specific.date_published, {'date':true}) }}
                          </span>
                      {%- endif -%}
                  </a>
              </li>
          {% endfor %}
          </ul>
      </div>
    {% endif %}
{% endmacro %}
