
{# ==========================================================================

   category_icon.render()

   ==========================================================================

   Description:

   Create an HTML icon when given:

   category:           A document type category.

   additional_classes: Extra classes you wish to add to the icon, space
                       separated.

   ========================================================================== #}

{% macro render(category, additional_classes) %}
    {% set icons = {
        'info for consumers': 'cf-icon-information',
        'at the cfpb': 'cf-icon-bullhorn',
        'data, research & reports': 'cf-icon-chart',
        'policy & compliance': 'cf-icon-bank-account',
        'speech': 'cf-icon-microphone',
        'press release': 'cf-icon-bullhorn',
        'op-ed': 'cf-icon-contract',
        'testimony': 'cf-icon-double-quote',
        'blog': 'cf-icon-speech-bubble',
        'newsroom': 'cf-icon-newspaper',
        'featured event': 'cf-icon-date',
        'featured blog': 'cf-icon-speech-bubble',
        'featured video': 'cf-icon-play-round',
        'featured tool': 'cf-icon-settings',
        'featured news': 'cf-icon-newspaper',
        'featured': 'cf-icon-favorite'
      }
    %}
    {% set category = category | lower %}
    {%- if icons[category] -%}
    <span class="cf-icon {{ icons[category] }}
                 {{ additional_classes or '' }}"></span>
    {%- endif -%}
{% endmacro %}
