
{# ==========================================================================

   category_slug.render()

   ==========================================================================

   Description:

   Render a category slug when given:

   category:           A string.

   href (optional):    If present creates a link with
                       a path to which the category filter applies.
                       For example, if the slug is used on a blog article
                       then path should be '/blog/'.
                       Remember to leverage vars.path instead of
                       using the literal string '/blog/'.
                       Path is used to create the filtered URL:
                       {{ href }}?filter_category={{ category }}

   classes (optional): Space separated list of class names.

   use_blog_category:  Whether to use the blog category filter or not.
                       Defaults to false.

   ========================================================================== #}

{% macro render(category, href, classes, use_blog_category=false, index=0) %}
    {% import 'macros/category-icon.html' as category_icon %}

    {% if href %}
        {# TODO: Remove use_blog_category parameter when this element becomes atomic. #}
        {% if use_blog_category %}
            {% set href = href + '?filter_blog_category=' + category | urlencode | replace('%20', '+') %}
        {% else %}
            {% set href = href + '?filter' + index | string + '_categories=' + category | urlencode | replace('%20', '+') %}
        {% endif %}
    {% endif %}

    {% call _category_link(href, classes) %}
        {% set cat = category_label(category) or category %}
        {{ category_icon.render(cat, 'category-slug_icon') | safe }}
        <span class="u-visually-hidden">Category:</span>
        {{ cat }}
    {% endcall %}
{% endmacro %}

{% macro _category_link(href, classes) %}
    {% if href %}
        <a href="{{ href }}"
           class="category-slug{{ ' ' + classes if classes }}">
    {% endif %}
       {{ caller() }}
    {% if href %}
        </a>
    {% endif %}
{% endmacro %}
