
{# ==========================================================================

   category_icon.render()

   ==========================================================================

   Description:

   Create an HTML icon when given:

   category: A document type category.

   ========================================================================== #}

{% macro render(category) %}
    {% set icons = {
        'at the cfpb': 'bullhorn',
        'auto loans': 'car',
        'bank accounts': 'bank',
        'bank accounts and services': 'bank',
        'blog': 'speech-bubble',
        'credit cards': 'credit-card',
        'credit reporting': 'credit-report',
        'credit reports and scores': 'credit-report',
        'data, research, and reports': 'chart',
        'debt collection': 'debt-collection',
        "director's notebook": 'edit',
        'events': 'date',
        'families and money': 'money',
        'featured event': 'date',
        'featured blog': 'speech-bubble',
        'featured video': 'play-round',
        'featured tool': 'settings',
        'featured news': 'newspaper',
        'featured': 'favorite',
        'fraud and scams': 'money',
        'info for consumers': 'information',
        'mortgages': 'mortgage',
        'money basics': 'money',
        'money transfers': 'money-transfer',
        'newsroom': 'newspaper',
        'op-ed': 'fountain-pen',
        'payday loans': 'payday-loan',
        'policy and compliance': 'bank',
        'prepaid cards': 'prepaid-cards',
        'press release': 'bullhorn',
        'report': 'chart',
        'reverse mortgages': 'loan',
        'speech': 'microphone',
        'student loans': 'college',
        'testimony': 'open-quote',
      }
    %}
    {% set icon_name = icons[category | lower] %}
    {% if icon_name %}
        {{ svg_icon( icon_name ) | safe }}
    {% endif %}
{% endmacro %}
