{# ==========================================================================

   filters.render()

   ==========================================================================

   Requirements:

   - Must be imported `with context`.

   ==========================================================================

   Description:

   Create an expandable of filters when given:

   filters:

        An array of the filters that you want.
        Possible values: activity_category, author, calendar, category,
                         range_date, tags.

        Note that 'range_date_gte' and 'range_date_lte' have been condensed
        into 'range_date' for this macro only.

        You can add more in filters_form() by adding to the if statement, for
        example: `{% elif filter == 'NEW_FILTER' %}`.

        TODO: Maybe make each filter type its own macro to keep the form macro
              a little shorter. This would also make the individual filters
              more reusable elsewhere.

   query:

        The post type query object like `queries.posts`.
        Needed so we can utilize `query.possible_values_for()` to get access to
        the values of each filter.

   posts:

        The query object search results.
        Used to show how many filtered items resulted.

   doc_type:

        The type of document that posts contains.
        Mainly used for conditionals needed to support newsroom filters.

   user_options:

        An object of non-required options that can be overriden.

   user_options.expand_label:

        The label you want on the expandable button.

   user_options.submit_label:

        The label you want on the submit button.

   user_options.form_method :

       Allows you to change request method associated with the form submission which is 'GET' by default

   user_options.show_current_filters:

        Allows you to disable showing the currently applied filters.

   user_options.show_unfiltered_count:

        Allows you to enable the count label when no filters are applied.

   user_options.show_filters_label:

        Allows you to disable showing the count label.

   user_options.id_prefix:

        ID's are automatically added to certain elements that need them, but if
        you need more than one filters form on a page you'll want to give it a
        unique prefix.

   ==========================================================================

   Examples:

   blog/index.html
   newsroom/index.html

        Standard filter usage.

   the-bureau/leadership-calendar/index.html

        This is an example of using two instances of the filters macro on the
        same page. One of them uses the full set of options including
        `id_prefix` so that there are no ID attribute conflicts.

   ========================================================================== #}

{% macro render(filters, query, posts, doc_type, user_options) %}

{%- set options = {
    'action':                   '/',
    'expand_label':             'Filter',
    'submit_label':             'Apply filters',
    'form_method':              'get',
    'show_current_filters':     true,
    'show_unfiltered_count':    false,
    'show_filters_label':       true,
    'id_prefix':                '',
    'id_tags':                  'filter_tags',
    'id_author':                'filter_author',
    'id_range_date_gte':        'filter_range-date-gte',
    'id_range_date_lte':        'filter_range-date-lte',
    'id_from_month':            'filter_from-month',
    'id_from_year':             'filter_from-year',
    'id_to_month':              'filter_to-month',
    'id_to_year':               'filter_to-year'
} -%}
{%- set _ignore = options.update(user_options) -%}

{#- Create ID's for all of the form inputs and containers using `id_prefix`. -#}
{%- if options.id_prefix != '' %}
{%- set _ignore = options.update({
    'id_tags':              options.id_prefix + '-filter_tags',
    'id_author':            options.id_prefix + '-filter_author',
    'id_range_date_gte':    options.id_prefix + '-filter_range-date-gte',
    'id_range_date_lte':    options.id_prefix + '-filter_range-date-lte',
    'id_from_month':        options.id_prefix + '-filter_from-month',
    'id_from_year':         options.id_prefix + '-filter_from-year',
    'id_to_month':          options.id_prefix + '-filter_to-month',
    'id_to_year':           options.id_prefix + '-filter_to-year'
}) -%}
{%- endif -%}

{%- import 'macros/active-filters.html' as active_filters with context %}
{% set active_filters_markup = active_filters.render(posts, filters, user_options) %}
{% set is_expanded = active_filters_markup | trim | length > 0
                     and options.show_current_filters
%}

<div class="expandable
            expandable__filters
            expandable__padded
            {{ 'expandable__expanded' if is_expanded else '' }}
            js-post-filter">
    <button class="expandable_header expandable_target">
        <span class="expandable_header-left expandable_label">
            {{ options.expand_label }}
        </span>
        <span class="expandable_header-right expandable_link">
            <span class="expandable_cue-open">
                Show
              <span class="cf-icon cf-icon-plus-round"></span>
            </span>
            <span class="expandable_cue-close">
                Hide
                <span class="cf-icon cf-icon-minus-round"></span>
            </span>
        </span>
    </button>
    <div class="expandable_content">
      {%- if options.show_errors -%}
        {{ _errors() }}
      {% endif %}
       {{ _filters_form(filters, query, doc_type, options) }}
    </div>
</div>

{%- if options.show_current_filters -%}
{{ active_filters_markup }}
{%- endif -%}

{% endmacro %}


{# A helper macro for filters()
   ========================================================================== #}
{% macro _filters_form(filters, query, doc_type, options) %}

<form class="{{ options.additional_classes }}"
      method="{{ options.form_method }}"
      {{ "action=" ~ options.action if options.action != '/' }}
      >
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="form-l form-l__float form-l__flush">
{% for filter in filters %}

    {# Category filters #}
    {% if filter in ['blog_category', 'category'] %}
        <div class="form-l_col form-l_col-1-3">
            <div class="form-group" data-qa-hook="filter-categories">
                <label class="form-label-header">
                    Categories
                </label>
            {% if doc_type == 'posts' -%}
                {% set categories = query.possible_values_for('blog_category')|sort(attribute='key') %}
                {% set category_field = 'blog_category' %}
            {%- else -%}
                {% set categories = query.possible_values_for('category')|sort(attribute='key') %}
                {% set category_field = 'category' %}
            {% endif -%}
            {% for category in categories -%}
                {{ _filter_checkbox(category_field, category.key)|safe }}
            {% endfor %}
            </div>
        </div>

    {# Activity category filters #}
    {% elif filter == 'activity_category' %}
        <div class="form-l_col form-l_col-1-3">
            <div class="form-group">
                <label class="form-label-header">
                    Category type
                </label>
            {% set categories =
               query.possible_values_for('category')|sort(attribute='key') %}
            {% for category in categories -%}
                {{ _filter_checkbox('category', category.key)|safe }}
            {% endfor %}
            </div>
        </div>

    {# Calendar filters #}
    {% elif filter == 'calendar' %}
    {% set directors_list = ['Richard Cordray',
                             'David Silberman',
                             'Meredith Fuchs',
                             'Steve Antonakes',
                             'Raj Date',
                             'Elizabeth Warren'] %}
        <div class="form-l_col form-l_col-1-3">
            <div class="form-group required-check-group">
                <label class="form-label-header">
                    Calendars
                </label>
                {% for director in directors_list %}
                    {{ _filter_checkbox('calendar', director) | safe }}
                {% endfor %}
            </div>
        </div>

    {# Tag filters #}
    {% elif filter == 'tags' %}
        <div class="form-l_col form-l_col-1-3">
            <label class="form-label-header" for="{{ options.id_tags }}">
                Topics
            </label>
            <select class="chosen-select"
                    id="{{ options.id_tags }}"
                    name="{{ options.id_tags }}"
                    multiple
                    data-placeholder="Search for topics">
                <optgroup label="Most frequent">
            {% if doc_type == 'newsroom' -%}
                {% set possible_tags = query.possible_values_for('tags', doc_type='newsroom') %}
            {%- else -%}
                {% set possible_tags = query.possible_values_for('tags') %}
            {% endif -%}
            {# Top 3 tags come first #}
            {%- for tags in possible_tags -%}
                {%- if loop.index < 4 -%}
                    {{ _filter_option('tags', tags.key)|safe }}
                {%- endif -%}
            {%- endfor -%}
                </optgroup>
                <optgroup label="All other topics">
            {# Then the rest of the tags #}
            {%- for tags in possible_tags[3:]|sort(attribute='key') -%}
                    {{ _filter_option('tags', tags.key)|safe }}
            {%- endfor -%}
                </optgroup>
            </select>
        </div>

    {# Author filters #}
    {% elif filter == 'author' %}
        <div class="form-l_col form-l_col-1-3">
            <label class="form-label-header" for="{{ options.id_author }}">
                Author
            </label>
            <select class="chosen-select"
                    id="{{ options.id_author }}"
                    name="{{ options.id_author }}"
                    multiple
                    data-placeholder="Search for authors">
            {% if doc_type == 'newsroom' -%}
                {% set authors = query.possible_values_for('author', doc_type='newsroom')|sort(attribute='key') %}
            {%- else -%}
                {% set authors = query.possible_values_for('author')|sort(attribute='key') %}
            {% endif -%}
            {% for author in authors %}
                {{ _filter_option('author', author.key)|safe }}
            {% endfor %}
            </select>
        </div>

    {# Date range filters #}
    {% elif filter == 'range_date' %}
        <div class="form-l_col form-l_col-2-3">
          <div class="form-l form-l__flush">
            <label class="form-l_col-1 form-label-header">
                Date range
            </label>
            {#
                =================
                "From" date input
                =================
            #}
            {% set from_date = selected_filters_for_field('range_date_gte')[0] %}
            {% set from_date_formatted = from_date | date('%m/%d/%Y') if from_date %}
            <div class="form-l_col form-l_col-1-2">
                <label for="{{ options.id_range_date_gte }}">
                    From <span class="date_label">(YYYY-MM)</span>:
                </label>
                <input class="js-filter_range-date js-filter_range-date__gte"
                       id="{{ options.id_range_date_gte }}"
                       name="filter_range_date_gte"
                       type="text"
                       value="{{ from_date_formatted if from_date_formatted else '' }}"
                       placeholder="YYYY-MM">
            </div>
            {#
                ===============
                "To" date input
                ===============
            #}
            {% set to_date = selected_filters_for_field('range_date_lte')[0] %}
            {% set to_date_formatted = to_date | date('%m/%d/%Y') if to_date %}
            <div class="form-l_col form-l_col-1-2">
                <label for="{{ options.id_range_date_lte }}">
                    To <span class="date_label">(YYYY-MM)</span>:
                </label>
                <input class="js-filter_range-date js-filter_range-date__lte"
                       id="{{ options.id_range_date_lte }}"
                       name="filter_range_date_lte"
                       type="text"
                       value="{{ to_date_formatted if to_date_formatted else '' }}"
                       placeholder="YYYY-MM">
            </div>
          </div>
        </div>
    {% endif %}
{% endfor %}
    </div> <!-- END .form-l__flush -->

    <div class="form-actions form-actions__right-on-med">
        <input class="btn btn__warning btn__link form-actions_item js-form_clear"
               type="button"
               value="Reset filters">
        <input class="btn form-actions_item"
               type="submit"
               value="{{ options.submit_label }}">
    </div>

</form>
{% endmacro %}


{# A helper macro for filters()
   ========================================================================== #}
{% macro _errors(errors=[]) %}
    {% set errors = errors or get_messages(request) %}
    {%- if errors -%}
        {% set error_messages = [] %}
        {% for error in errors %}
           {% do error_messages.append(error|string) %}
        {% endfor %}
        {% set value = {
            'message': '</br>'.join(error_messages) | safe,
            'type': 'error'
        } %}
        <div class="u-mt15 u-mb15">
            {% include 'molecules/notification.html' with context %}
        </div>
    {%- endif -%}
{% endmacro %}

{# A helper macro for filters()
   ========================================================================== #}
{% macro _filter_checkbox(field, value, label) %}
    {% from 'macros/util/format/url.html' import slugify as slugify %}
    {% set id = get_unique_id('filter_', '_') ~ slugify( value ) %}
    <input class="cf-input"
           type="checkbox"
           name="filter_{{ field }}"
           value="{{ value }}"
           id="{{ id }}"
           {%- if is_filter_selected(field, value) %}
           checked
           {%- endif -%}
           >
    <label class="form-group_item" for="{{ id }}">
        {{ label if label else value }}
    </label>
{% endmacro %}

{# A helper macro for filters()
   ========================================================================== #}
{% macro _filter_option(field, value) %}
    <option value="{{ value }}"
        {%- if is_filter_selected(field, value) %}
            selected
        {%- endif -%}
        {{ '>' | safe ~ value }}
    </option>
{% endmacro %}
