
{# ==========================================================================

   footer_global.render()

   ==========================================================================

   Description:

   Render HTML for the global footer.

   ========================================================================== #}

{% macro render() %}
{% import 'molecules/social-media.html' as social_media with context %}
{% set external_redirect_url = '/external-site/?ext_url=' %}
<footer class="footer" role="contentinfo">
    <div class="wrapper wrapper__match-content">

        <div class="footer-pre">

            <a class="btn
                      btn__secondary
                      footer_top-button
                      js-return-to-top"
               href="#">
                Back to top <span class="cf-icon cf-icon-arrow-up"></span>
            </a>

            <ul class="footer_nav-list">
                <li class="list_item">
                    <a class="list_link" href="/about-us/contact-us/">
                        Contact Us
                    </a>
                </li>
                <li class="list_item">
                    <a class="list_link" href="/about-us/newsroom/">
                        Newsroom
                    </a>
                </li>
                <li class="list_item">
                    <a class="list_link" href="/about-us/careers/">
                        Careers
                    </a>
                </li>
                <li class="list_item">
                    <a class="list_link" href="/cfpb-ombudsman/">
                        CFPB Ombudsman
                    </a>
                </li>
            </ul>
            <div class="block
                        block__flush-top
                        block__flush-bottom
                        block__padded-top">
                {{ social_media.render( { 'is_share_view': false } ) }}
            </div>
        </div><!-- END .footer-pre -->

        <div class="footer-middle-left">

            <div class="footer_col">
                <ul class="footer_list">
                    <li class="list_item">
                        <a class="list_link" href="/foia-requests/">
                            FOIA
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/plain-writing/">
                            Plain Writing
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/privacy/">
                            Privacy, Policy & Legal Notices
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link"
                           href="/privacy/digital-privacy-policy/">
                            Digital Privacy Policy
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_col">
                <ul class="footer_list">
                    <li class="list_item">
                        <a class="list_link" href="/accessibility/">
                            Accessibility
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/office-civil-rights/">
                            Office of Civil Rights
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/open-government/">
                            Open Government
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/tribal/">
                            Tribal
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- END .footer-middle-left -->

        <div class="footer-middle-right">
                <ul class="footer_list">
                    <li class="list_item">
                        <a class="list_link
                                  icon-link
                                  icon-link__external-link"
                           href="http://usa.gov/">
                            USA.gov
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link
                                  icon-link
                                  icon-link__external-link"
                           href="http://www.federalreserve.gov/oig/default.htm">
                            Office of Inspector General
                        </a>
                    </li>
                </ul>
        </div><!-- END .footer-middle-right -->

        <div class="footer-post">
            <p class="footer_official-website">
                An official website of the United States Government
            </p>
        </div><!-- END .footer-post -->

    </div><!-- END .wrapper.wrapper__match-content -->
</footer><!-- END .footer -->
{% endmacro %}
