{# ==========================================================================

   share.render()

   ==========================================================================

   Description:

   Make share icons when given a dict of options (optional):

       title:           The title of the thing to share. Used by the
                        'share via email' and 'share via LinkedIn' links.

       heading:         Heading text for the social-share module

       hide_heading:    Toggles the heading. Defaults to false.

       show_email:      Toggles the email share icon

       show_facebook:   Toggles the Facebook share icon

       show_twitter:    Toggles the Twitter share icon

       show_linkedin:   Toggles the LinkedIn share icon

       twitter_options: See `options` under the `_share_twitter_url()` macro.

   ==========================================================================

   Example:

       {{ share.render({
            'title': 'Title for email sharing',
            'heading': 'Share this page',
            'hide_heading': false,
            'show_linkedin': true,
            'twitter_options': {
                'text': 'I can write my custom tweet text here'
            }
        }) }}

   ========================================================================== #}

{% macro render(options) %}
    {% set settings = {
        'heading': 'Share this post',
        'hide_heading': false,
        'show_email': true,
        'show_facebook': true,
        'show_twitter': true,
        'show_linkedin': false
    } %}
  {% set external_redirect_url = '/external-site/?ext_url=' %}
  {% set _ignore = settings.update(options) %}

    <div class="share
                 {{ settings.additional_classes
                 if settings.additional_classes else '' }}">
        <span class="h6 share_heading
                  {{'u-visually-hidden'
                  if settings.hide_heading else '' }}">
            {{ settings.heading }}
        </span>
        <ul class="list__horizontal share_items">
            {% if settings.show_email %}
            <li class="list_item">
                <a class="share-icon"
                   href="{{ mail_url }}">
                    <span class="cf-icon cf-icon-email-social-square"></span>
                    <span class="u-visually-hidden">Share by email</span>
                </a>
            </li>
            {% endif %}
            {% if settings.show_facebook %}
            <li class="list_item">
                <a class="share-icon"
                   href="{{ facebook_url }}"
                   target="_blank">
                    <span class="cf-icon cf-icon-facebook-square"></span>
                    <span class="u-visually-hidden">Share on Facebook</span>
                </a>
            </li>
            {% endif %}
            {% if settings.show_twitter %}
            <li class="list_item">
                <a class="share-icon"
                   href="{{ twitter_url }}"
                   target="_blank">
                    <span class="cf-icon cf-icon-twitter-square"></span>
                    <span class="u-visually-hidden">Share on Twitter</span>
                </a>
            </li>
            {% endif %}
            {% if settings.show_linkedin %}
            <li class="list_item">
                <a class="share-icon"
                   href="{{ linkedin_url }}"
                   target="_blank">
                    <span class="cf-icon cf-icon-linkedin-square"></span>
                    <span class="u-visually-hidden">Share on LinkedIn</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}
