{# ==========================================================================

   sub_pages.render()

   ==========================================================================

   Description:

   Builds sub-pages markup when given:

   sub_pages:        An array containing sub-pages.

   title (optional): String to use for the sub-pages markup title.

   ========================================================================== #}

{% macro render( sub_pages, title ) %}
    {% set is_office_page = request.path.find('/offices/') > -1 %}
    {% for page in sub_pages | sort(attribute='order') %}
        {% set subpage_title = page.short_title or page.title  %}
        {% if loop.first %}
            <section class="block
                            block__sub
                            block__padded-top
                            block__border-top
                            qa-subpage
                            {{ 'block__border-bottom' if is_office_page == false else '' }}">
                  {% if title %}
                      <h2>
                          {{ title }}
                      </h2>
                  {% endif %}
                  <div class="content-l
                              content-l__main
                              content-l__large-gutters
                              ">
        {% endif %}
                      <div class="content-l_col
                                  {%- if loop.length == 1 -%}
                                  content-l_col-1 {% else %}
                                  content-l_col-1-2{% endif %}
                                  ">
                          {% if subpage_title %}
                              <h3 class="h4">
                                  {{ subpage_title | safe }}
                              </h3>
                          {% endif %}
                          {% if page.excerpt %}
                              <p>
                                  {{ page.excerpt | safe }}
                              </p>
                          {% endif %}
                          {% if is_office_page == false and page.related_links %}
                              <ul class="list__links">
                                  {% for link in page.related_links %}
                                      <li class="list_item">
                                          <a class="list_link" href="{{link.url}}">
                                              {{ link.label }}
                                          </a>
                                      </li>
                                  {% endfor %}
                              </ul>
                          {% elif is_office_page or not page.related_links %}
                              <a class="jump-link jump-link__underline" href="{{ page.permalink }}">
                                  {{ page.preview_text or 'Read more' }}
                              </a>
                          {% endif %}
                      </div>
        {% if loop.last %}
                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endmacro %}
