{% import 'macros/util/format/datetime.html' as dt %}

{# ==========================================================================

   time.render()

   ==========================================================================

   Description:

   Renders a time element with a standard datetime format when given:

   datetime:       A date timestamp to format.

   show_value_for: (Optional) Object of fields to show.
                   Default is true for 'date', 'time', and 'timezone'.

   ========================================================================== #}

{% macro render(datetime,
                show_value_for={'date':true, 'time':true, 'timezone':true},
                text_format=False) -%}
<span class="datetime">
    {%- if show_value_for.date == true  -%}
    <time class="datetime_date" datetime="{{ dt.format_datetime(datetime) }}">
        {{- dt.format_date(datetime, text_format) -}}
    </time>
    {%- endif -%}

    {%- if show_value_for.date == true and show_value_for.time == true %}
    <span class="datetime_divider">@</span>
    {% endif %}

    {%- if show_value_for.time == true %}
    <time class="datetime_time" datetime="{{ dt.format_datetime(datetime) }}">
        {% if show_value_for.timezone == true %}
        {{ dt.format_time(localtime(datetime), show_timezone=true) }}
        {% else %}
        {{ dt.format_time(datetime) }}
        {% endif %}
    </time>
    {%- endif %}
</span>
{%- endmacro %}
