{# ==========================================================================

   video_player.render()

   ==========================================================================

   Description:

   Builds Video markup when given:

   options (optional):   An object used to customize the Video markup.

   options.video.id:     A String used to denote the id of the video.

   options.video.url:    A String used to denote the url of the video.

   options.image.url:    A String used to denote the url of the image.

   options.button_pos:   A String used to denote the position of the video
                         play button.

                         Possible Values: 'center (default), bottomRight'

   ========================================================================== #}

{% macro render(options={}) -%}
    {% set video_url    = options.video.url | default('/') %}
    {% set image_url = static('img/cfpb_video_cover_card_1380x776.png') %}
    {% set video_id = options.video.id | default('') %}

    {# TODO: Move the advanced Jinja logic into Django. #}
     {% if video_url.find( '?' ) == -1 -%}
        {% set video_url = video_url ~ '?'  %}
    {% endif %}
    {% if video_url.find( 'autoplay=' ) == -1 -%}
        {% set video_url = _buildParam( video_url, 'autoplay=1' )  %}
    {% endif %}
    {% set video_id =  video_url.split('?')[0].split('/') | last %}
    {% if video_url.find( 'enablejsapi=' ) == -1 -%}
        {% set video_url = _buildParam( video_url, 'enablejsapi=1' )  %}
    {% endif -%}
    {% if video_url.find( 'origin=' ) == -1 -%}
        {% set video_url = _buildParam(
             video_url,
             'origin=' ~ request.scheme ~ '://' ~ request.META['HTTP_HOST']
        ) %}
    {% endif %}
    {% set button_pos   = options.button_pos or 'center' %}
    {% set is_flexible  = ( options.video.width or options.video.height ) is not defined %}
    <div class="video-player
                video-player__youtube
                {{ 'o-featured-content-module_visual' if is_flexible == false else '' }}"
         {{ 'data-id="' ~ video_id ~ '"' if video_id else '' }}
         data-src="{{ video_url }}"
         data-width="{{ options.video.width if options.video.width else '' }}"
         data-height="{{ options.video.height if options.video.height else '' }}">
        {{ caller() | safe if caller else '' }}
        <div class="video-player_video-container
                    show-on_video-playing
                    {{ 'video-player_video-container__flexible' if is_flexible else '' }}">
            <div class="video-player_iframe-container"></div>
            <div class="video-player_video-actions-container">
                <div class="video-player_video-actions">
                    <a class="a-btn video-player_close-btn" href="/">
                        <span class="a-btn_icon
                                     a-btn_icon__on-left">
                            {{ svg_icon('close-round') }}
                        </span>
                        close
                    </a>
                </div>
            {% import 'molecules/social-media.html' as social_media with context %}
            {{ social_media.render( {
                'is_share_view': true,
                'linkedin_title': 'Consumer Financial Protection Bureau',
                'linkedin_text': 'Check out this video from the @CFPB',
                'twitter_text': 'Check out this video from the @CFPB',
                'email_title': page.title if page else 'Consumer Financial Protection Bureau'
            } ) }}
            </div>
        </div>
        <div class="video-player_image-container
                    hide-on_video-playing">
            <a class="video-player_play-btn video-player_play-btn__{{ button_pos }}"
               href="{{ video_url }}"
               target="_blank"
               rel="noopener noreferrer">
                <span class="u-visually-hidden">Play video</span>
            </a>
            <img class="video-player_image
                        {{ image_loaded_class | default }}
                        {{ 'o-featured-content-module_img' if is_flexible == false else '' }}"
                 alt="Video image"
                 src="{{ image_url }}">
        </div>
    </div>
{%- endmacro %}

{% macro _buildParam( previousParam , param='') -%}
    {% set lastParamChar = previousParam | last -%}
    {%- if lastParamChar == '&' or lastParamChar == '?' -%}
        {{  previousParam ~ param }}
    {%- else -%}
        {{ previousParam ~ '&' ~ param }}
    {%- endif -%}
{%- endmacro %}
