{# ==========================================================================

   video_player.render()

   ==========================================================================

   Description:

   Builds Video markup when given:

   options (optional):   An object used to customize the Video markup.

   options.video.player: A String used to denote the type of video player.

   options.video.id:     A String used to denote the id of the video.

   options.video.url:    A String used to denote the url of the video.

   options.image.url:    A String used to denote the url of the image.

   options.button_pos:   A String used to denote the position of the video
                         play button.

                         Possible Values: 'center (default), bottomRight'

   ========================================================================== #}

{% macro render(options={}) -%}
    {% import 'macros/share.html' as share with context %}
    {% set video_url    = options.video.url | default('/') %}
    {% set video_player = options.video.player or
                          ( video_url.find( 'youtube.com') > -1 and 'youtube' ) or
                          ( video_url.find( 'ustream.tv') and 'ustream' ) %}
    {# TODO: Replace with django method for getting video id if youtube and urlparams #}
    {% if video_player == 'youtube' -%}
        {% set video_id = options.video.id or ( video_url.split('?')[0].split('/') | last ) %}
        {% set image_url = options.image.url or ( 'https://img.youtube.com/vi/' + video_id + '/maxresdefault.jpg' ) %}
        {% if video_url.find( '?' ) == -1 -%}
            {% set video_url = video_url ~ '?'  %}
        {% endif %}
        {% if video_url.find( 'enablejsapi=' ) == -1 -%}
            {% set video_url = _buildParam( video_url, 'enablejsapi=1' )  %}
        {% endif -%}
        {% if video_url.find( 'autoplay=' ) == -1 -%}
            {% set video_url = _buildParam( video_url, 'autoplay=1' )  %}
        {% endif %}
        {% if video_url.find( 'origin=' ) == -1 -%}
            {% set video_url = _buildParam( video_url, 'origin=http://' ~ request.META['HTTP_HOST'] )  %}
        {% endif %}
    {% else %}
        {% set video_id = '' %}
        {% set image_url = '/static/img/cfpb_video_cover_card_1380x776.png' %}
    {% endif %}

    {% set button_pos   = options.button_pos or 'center' %}
    {% set is_flexible  = ( options.video.width or options.video.height ) is not defined %}
    <div class="video-player
                video-player__{{ video_player }}"
         {{ "data-id="~video_id | trim if video_id else '' }}
         data-src="{{ video_url }}"
         data-width="{{ options.video.width if options.video.width else '' }}"
         data-height="{{ options.video.height if options.video.height else '' }}">
        {{ caller() | safe if caller else '' }}
        <div class="video-player_video-container
                    show-on_video-playing
                    {{ 'video-player_video-container__flexible' if is_flexible else '' }}">
            <div class="video-player_iframe-container"></div>
            <div class="video-player_video-actions-container">
                <div class="video-player_video-actions">
                    <a class="btn video-player_close-btn" href="/">
                        <span class="btn_icon
                                     btn_icon__left
                                     cf-icon
                                     cf-icon-delete-round
                                     cf-icon-left">
                        </span>
                        close
                    </a>
                </div>
                {# TODO: Update Title #}
                {{ share.render({
                    'title': 'About the CFPB',
                    'heading': 'Share this video',
                    'additional_classes': 'video-player_share-actions',
                    'twitter_options': {
                        'text': 'Check out this video from the @CFPB'
                    }
                }) }}
            </div>
        </div>
        <div class="video-player_image-container
                    hide-on_video-playing">
            <a class="video-player_play-btn video-player_play-btn__{{ button_pos }}"
               href="{{ video_url }}"
               target="_blank">
                <span class="u-visually-hidden">Play video</span>
            </a>
            <img class="video-player_image"
                 alt="Video image"
                 src="{{ image_url }}">
        </div>
    </div>

{%- endmacro %}

{% macro _buildParam( previousParam , param='') -%}
    {% set lastParamChar = previousParam | last -%}
    {%- if lastParamChar == '&' or lastParamChar == '?' -%}
        {{  previousParam ~ param }}
    {%- else -%}
        {{ previousParam ~ '&' ~ param }}
    {%- endif -%}
{%- endmacro %}

