/* ==========================================================================
   consumerfinance.gov
   Ask Search organism
   ========================================================================== */

// TODO: Reconcile this with the input with button in the Design System.
.o-form__input-w-btn_btn-container {
    // Only attach the button to the input at tablet/desktop sizes.
    .respond-to-min( 480px, {
        border-left: 0;

        .a-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    } );
}
