.o-carousel {

  // Override default unordered list padding.
  & ul {
    padding: 0;
  }

  &_navigator {
    position: relative;
  }

  &_btn {
    padding-left: unit( 10px / @btn-font-size, em );
    padding-right: unit( 10px / @btn-font-size, em );
    margin-top: -16px;
    position: absolute;
    top: 50%;

    &-prev {
      left: 20px;
    }

    &-next {
      right: 20px;
    }
  }

  &_items {
    border: 1px solid @gray;
    border-bottom: none;
  }

  &_item {
    box-sizing: border-box;

    &:not( .u-hidden ) {
      display: table-row;
    }
  }

  &_item-text {
    display: table-cell;
    width: 66%;
    padding: unit( @grid_gutter-width / @base-font-size-px, em );
    padding-left: unit( ( @grid_gutter-width * 3 ) / @base-font-size-px, em );
  }

  &_item-visual {
    display: table-cell;
    width: auto;

    // This should be set to the height of the image we want to include.
    height: 300px;

    // This is a temporary value.
    background: red;
  }

  &_thumbnails {
    // Remove gap between child inline elements. See https://stackoverflow.com/questions/26950005/strange-gap-between-two-buttons
    font-size: 0;
  }

  &_thumbnail {
    width: 25%;
    display: table-row;

    // This should be set to the height of the thumbnail image we want to include.
    height: 100px;

    // Set font-size to override parent font-size:0, which removes the gap between the thumbnails.
    font-size: unit( 16px / @base-font-size-px, rem );
    background: @white;
    border: 1px solid @gray;
    border-right: none;

    &:nth-child(4) {
      border-right: 1px solid @gray;
    }
  }

  &_thumbnail-selected {
    background: @gray-10;
  }

  &_thumbnail-visual,
  &_thumbnail-text {
    display: table-cell;

    padding: 5px;
    text-align: left;
    vertical-align: top;
  }

  // These are temporary styles.
  &_thumbnail-img {
    height: 48px;
    width: 48px;
    display: block;
    border: 1px solid gray;
  }
}

// Show no-js state of carousel where all items show and buttons are hidden.
.no-js .o-carousel {
  // Override u-hidden when
  display: block !important;

  &_btn,
  &_thumbnails {
    display: none !important;
  }
}