/* topdoc
  name: Content Main
  family: cfgov-organism
  patterns:
    - name: Default example
      markup: |
          <div class="o-content-main">
              <*></*>
          </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .o-content-main
  tags:
    - cfgov-organism
*/

.o-content-main {}

/* topdoc
    name: EOF
    eof: true
*/
