/* topdoc
  name: Signup Form
  family: cfgov-organism
  patterns:
    - name: Default example
      markup: |
        <div class="o-email-signup">
            <header class="m-slug-header">
                <h2 class="a-heading">
                    Stay informed
                </h2>
            </header>
            <p>
                Subscribe to our email newsletter. We will update you on new blogs.
            </p>
            <form class="o-form o-form__email-signup"
                  id="o-form__email-signup_371b6fce64d1b6"
                  method="POST"
                  action="/subscriptions/new/"
                  enctype="application/x-www-form-urlencoded">
                <div class="m-notification m-notification__default" data-js-hook="state_atomic_init">
                    <div class="m-notification_content">
                        <div class="h4 m-notification_message"></div>
                    </div>
                </div>
                <div class="m-form-field">
                    <label class="a-label a-label__heading" for="email_371b6fce64d1b6">
                        Email address
                    </label>
                    <input class="a-text-input a-text-input__full"
                           id="email_371b6fce64d1b6"
                           name="email"
                           type="email"
                           placeholder="mail@example.com"
                           required="">
                </div>
                <div class="m-btn-group">
                    <button class="a-btn">Sign up</button>
                    <a class="a-btn a-btn__link a-btn__secondary"
                       href="/owning-a-home/privacy-act-statement/"
                       target="_blank"
                       rel="noopener noreferrer">
                        See Privacy Act statement
                    </a>
                </div>
                <input type="hidden" name="code" value="USCFPB_127">
            </form>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          div.o-email-signup
            header.m-slug-header
              h2.a-heading
            p
            form.o-form.o-form__email-signup
              div.m-notification
              div.m-form-field
                label.a-label.a-label__heading
                input.a-text-input.a-text-input__full
              div.m-btn-group
                button.a-btn
                a.a-btn.a-btn__link.a-btn__secondary
              input[type="hidden"]
  tags:
    - cfgov-organisms
*/

.o-email-signup {
    .m-notification {
        margin-bottom: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
    }

    .a-text-input {
        // Keep inputs in a wider layout to a reasonable width.
        // 370 = 4 columns at max grid width
        max-width: unit( 370px / @base-font-size-px, rem );
    }

    .m-btn-group {
        display: flex;
        margin-top: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
        align-items: flex-start;
        flex-wrap: wrap-reverse;
    }

    button {
        margin-right: unit( @grid_gutter-width / 3 / @base-font-size-px, em );
    }

    // Extra class in selector needed to override default .m-btn-group margin
    .a-btn.a-btn__secondary {
        // Magic number below is to align its baseline with the button
        // label to its left when they are side-by-side.
        margin-bottom: unit( 8px / @base-font-size-px, em );
        margin-left: 0;
        order: 1;
    }

    .respond-to-max( @bp-xs-max, {
        .a-label__heading {
            font-size: 1em;
        }
    } );
}


/* topdoc
    name: EOF
    eof: true
*/
