// Duplicated from current implementation in Capital Framework v4.6.0
// with minor edits (to be released in CFv4.7.0)
// This can be deleted safely when this project is ported to CFv4

@fcm-bp-max: 700px;
@fcm-bp-min: 701px;

.o-featured-content-module {
  .webfont-regular();

  position: relative;

  min-height: 320px;
  margin-right: -1px;
  margin-left: -1px;

  background-color: @block__bg;

  .respond-to-max( @bp-xs-max, {
    padding-right: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em);
    padding-left: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em);
  } );

  .respond-to-range( @bp-sm-min, @fcm-bp-max, {
    padding-right: unit( @grid_gutter-width / @base-font-size-px, em);
    padding-left: unit( @grid_gutter-width / @base-font-size-px, em);
  } );

  &_text {
    padding-top: unit( @grid_gutter-width / @base-font-size-px, em);
    padding-bottom: unit( @grid_gutter-width / @base-font-size-px, em);

    .respond-to-min( @fcm-bp-min, {
      width: 300px; // width of 5 of 12 cols at 799px - @grid_gutter-width padding

      padding-right: unit( @grid_gutter-width / @base-font-size-px, em);
      padding-left: unit( @grid_gutter-width / @base-font-size-px, em);
    } );
  }

  &_visual {
    .respond-to-min( @fcm-bp-min, {
      position: absolute;
      left: 360px;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
    } );

    &.video-playing {
      left: 0;
    }
  }

  &_img {
    display: block;

    .respond-to-max( @bp-sm-max, {
      margin-left: auto;
      margin-right: auto;
    } );

    .respond-to-min( @fcm-bp-min, {
      height: 360px;
      max-width: none;

      .lt-ie9 & {
        left: -302.5px; // Width at full width
        margin-left: 50%;
      }
    } );
  }
}

.o-featured-content-module {
  // Modifiers
  &__right {
    .o-featured-content-module_img {
      .respond-to-min( @fcm-bp-min, {
        position: relative;
        left: 100%;
        transform: translateX( -100% );

        .lt-ie10 & {
          position: absolute;
          right: 0px;
          left: auto;
        }
      } );
    }
  }

  &__center {
    .o-featured-content-module_img {
      .respond-to-min( @fcm-bp-min, {
        position: relative;
        left: 50%;
        transform: translateX( -50% );

        .lt-ie10 & {
          position: absolute;
          left: -100%;
          right: -100%;
          margin: auto;
        }
      } );
    }
  }
}
