/* topdoc
  name: Filterable List Controls
  family: cf-organisms
  patterns:
  - name: Filterable List Controls
    markup: |
      <div class="o-filterable-list-controls">
          <div class="o-expandable
                      o-expandable__borders
                      o-expandable__midtone
                      o-expandable__expanded">
              …
          </div>
          <div class="m-notification"></div>
      </div>
    codenotes:
      - |
        Pattern structure
        -----------------
        .o-filterable-list-controls
          .o-expandable
            [...]
          .m-notification
            [...]
  tags:
  - cf-organisms
*/

.o-filterable-list-controls {
    // TODO: Ideally this would be in a block surrounding the notification.
    //       However, that leads to a gap when the notification is hidden.
    //       See https://github.com/cfpb/cfgov-refresh/pull/1274#discussion_r48609669
    // Add gap between expandable and notification.
    .m-notification {
        margin-top: unit( @grid_gutter-width / @base-font-size-px, em );
        margin-bottom: unit( @grid_gutter-width / @base-font-size-px, em );
    }
    // TODO: Same as notification, explore a better solution in the future
    .o-expandable {
        margin-bottom: unit( @grid_gutter-width / @base-font-size-px, em );
    }

    &.o-filterable-list-controls {
        .cf-multiselect_fieldset {
            position: relative;
        }
    }
}

/* topdoc
    name: EOF
    eof: true
*/
