@import (reference) '../enhancements/typography.less';

.u-upper-hover-line {
  position: absolute;
  top: -1px;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-top: 1px solid currentColor;
}

.o-footer {
  font-weight: 500;
  // Adding an extra 5px to the top to account for the absolute positioned
  // social media icons.
  padding-top: unit(50px / @base-font-size-px, em);
  // There is a 10px margin-bottom on the  last .o-footer__list li's, plus the
  // 50px bottom padding = 60px of total padding at the bottom of the footer.
  padding-bottom: unit(50px / @base-font-size-px, em);
  border-top: 5px solid var(--green);
  background: var(--gray-5);

  .m-list__link {
    font-weight: 500;
  }

  // Mobile only.
  .respond-to-max(@bp-xs-max, {
    .m-list__link {
      display: block;
      box-sizing: border-box;
      padding-top: unit(10px / @base-font-size-px, em);
      padding-bottom: unit(10px / @base-font-size-px, em);
      border-top-width: 1px;
      border-bottom-width: 1px;

      .a-link__text {
        border-bottom: none;
      }
    }

    // Handle the borders of jump links that are adjacent in a list.
    .o-footer-middle-right .m-list__link:hover:before {
      .u-upper-hover-line();
    }

    li:has(.m-list__link) + li:has(.m-list__link) {
      .m-list__link {
        position: relative;
        border-top: none;
      }

      .m-list__link:hover:before {
        .u-upper-hover-line();
      }
    }
  });

  &__nav-list {
    .m-list--links();

    .m-list__link {
      font-size: unit(18px / @base-font-size-px, em);
      .u-link--colors( var(--black) );

      // Tablet and above.
      .respond-to-min(@bp-sm-min, {
        margin-right: 1em;

        .u-link--hover-border();
      });

      // Desktop and above.
      .respond-to-min(@bp-med-min, {
        margin-right: unit( @grid_gutter-width / 22px, em );
        font-size: unit( 20px / @base-font-size-px, em );
      });
    }

    .m-list__link.m-list__link--disabled {
      border-bottom: 1px dotted;

      // Desktop and above.
      .respond-to-min(@bp-med-min, {
        .u-link--no-border();
      });
    }
  }

  &__list {
    .m-list--links();

    .m-list__link {
      .u-link--colors( var(--gray-dark) );
    }
  }

  &__pre {
    position: relative;
    margin-bottom: unit(45px / @base-font-size-px, em);

    .o-footer__top-button {
      display: block;
      width: 100%;
      text-align: center;
      // There's a standard margin between the top
      // of the footer and the links. The button comes between
      // that margin in the wireframes.
      margin: -2em auto 2em;
    }

    .o-footer__nav-list {
      margin-bottom: 0;
    }

    // Tablet and above.
    .respond-to-min(@bp-sm-min, {
      padding-bottom: unit( @grid_gutter-width / @base-font-size-px, em );
      margin-bottom: unit( @grid_gutter-width / @base-font-size-px, em );
      border-bottom: 1px solid var(--gray-40);

      .o-footer__top-button {
        display: none;
      }

      .o-footer__nav-list {
        .m-list--horizontal();

        .m-list__item {
          margin-bottom: 0;
        }
      }
    });

    .respond-to-print( {
      // !important used here to avoid being overriden by a much more specific
      // selector that sets the display property for this element
      // and to avoid using a selector that specific here.
      display: none !important;
    });
  }

  // TODO: Refactor to use Design System Layout package.
  &-middle-left {
    .o-footer__list {
      margin: 0;
    }

    // Mobile only.
    .respond-to-max(@bp-xs-max, {
      // Fix doubled border in mobile view.
      .o-footer__col:nth-child( n+2 ) {
        .o-footer__list {
          .m-list__item .m-list__link {
            border-top-width: 0;
          }
        }
      }
    });

    // Tablet and above.
    .respond-to-min(@bp-sm-min, {
      .grid__column(8);
      border-right: 1px solid var(--gray-40);
      border-left: 0;

      .o-footer__col {
        .grid__column(6);
        border-left: 0;
        border-right: 0;
        padding-right: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
      }
    });

    .respond-to-print( {
      // !important used here to avoid being overriden by a much more specific
      // selector that sets the display property for this element
      // and to avoid using a selector that specific here.
      display: none !important;
    });
  }

  &-middle-right {
    // Mobile only.
    .respond-to-max(@bp-xs-max, {
      // Fix missing top line hover.
      position: relative;

      // Fix doubled border in mobile view.
      .o-footer__list {
        .m-list__item .m-list__link {
          border-top-width: 0;
        }
      }
    });

    // Tablet and above.
    .respond-to-min(@bp-sm-min, {
      .grid__column(4);

      .o-footer__list {
        padding-left: @grid_gutter-width;
        padding-right: @grid_gutter-width;
      }
    });

    .respond-to-print( {
      // !important used here to avoid being overriden by a much more specific
      // selector that sets the display property for this element
      // and to avoid using a selector that specific here.
      display: none !important;
    });
  }

  &-post {
    margin-top: unit(@grid_gutter-width / @base-font-size-px, em);

    // Tablet and above.
    .respond-to-min(@bp-sm-min, {
      padding-top: unit( @grid_gutter-width / @base-font-size-px, em );
      border-top: 1px solid var(--gray-40);
    });

    .respond-to-print( {
      padding: 0;
      border: none;
      margin: 0;
    });
  }
}
