@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.o-heading-archived {
  display: flex;
  gap: math.div(5px, $base-font-size-px) + rem;

  // Mobile only.
  @include respond-to-max($bp-xs-max) {
    flex-direction: column;
  }
}
