/* topdoc
  name: Info Unit Group
  family: cfgov-organisms
  patterns:
    - name: Single column (old 25/75)
      markup: |
        <div class="o-info-unit-group">
            <h2>Group heading</h2>
            <div class="content-l">
                <div class="content-l_col content-l_col-1">
                    info-unit
                </div>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .o-info-unit-group
            h2
            .content-l
              .content-l_col.content-l_col-1
                .info-unit
    - name: Two or Three column
      markup: |
        <div class="o-info-unit-group">
            <h2>Group heading</h2>
            <div class="content-l">
                <div class="content-l_col content-l_col-1-(2|3)">
                    info-unit
                </div>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .o-info-unit-group
            h2
            .content-l
              .content-l_col.content-l_col-1-(2|3)
                .info-unit
  tags:
    - cfgov-organisms
*/
.o-info-unit-group {

    // This is hacky but we need to target a variable number of
    // nested info unit headings. h2, h3 and h4 are all optional. We want
    // 30px between headings and 15px between headings and paragraphs.
    // See https://[GHE]/CFGOV/platform/issues/860
    h2 {
      .u-mb0;
      + .content-l {
        h3 {
          margin-top: unit( @grid_gutter-width / @size-iii, em );
        }
        h4 {
          margin-top: unit( @grid_gutter-width / @size-iv, em );
        }
        p {
          margin-top: unit( @grid_gutter-width / @base-font-size-px / 2, em );
        }
      }
    }

    .content-l_col-1 + .content-l_col-1 {
        // Adds margin top to info units that follow another
        margin-top: unit( @grid_gutter-width / @base-font-size-px, em ) !important;
    }

    .respond-to-min(@bp-sm-min, {
        .content-l_col-1-2:nth-of-type(n+3) {
            // Adds margin top to info units that are 3rd and up in a group
            margin-top: unit(@grid_gutter-width / @base-font-size-px, em);
        }
    } );
}

/* topdoc
    name: EOF
    eof: true
*/
