.o-item-introduction {
  margin-bottom: unit(@grid_gutter-width * 2 / @base-font-size-px, rem);

  &__intro {
    padding-bottom: unit(@grid_gutter-width / 2 / @base-font-size-px, rem);
  }

  .lead-paragraph {
    margin-top: 0;
  }

  .meta {
    margin-bottom: unit(@grid_gutter-width / @base-font-size-px, rem);

    .byline {
      .heading-4();
    }
  }
}
