
// Import Capital Framework Atomic Component less file to get transition CSS.
@import (less) 'cf-atomic-component.less';

// TODO: Move the theme variables to /enhancements/ for CF.
/* topdoc
  name: Theme variables
  family: cf-core
  notes:
    - "The following color and sizing variables are exposed, allowing you to
       easily override them before compiling."
  patterns:
    - name: Sizing
      codenotes:
        - |
          @mobile_trigger_ht__px
  tags:
    - cf-core
*/

@mobile_trigger_ht__px: 54px;

/* topdoc
  name: Body Overflow
  notes:
    - "Hides menu overflow on mobile sizes."
  patterns:
    - name: Body
      codenotes:
        - |
          body
*/
// TODO: Reduce global scope and reign it in to the menu only if possible.

body {
    .respond-to-max( @bp-sm-max, {
        overflow-x: hidden;
    } );
}

/* topdoc
  name: Mega Menu
  family: cfgov-organisms
  patterns:
    - name: Default example
      markup: |
        <nav class="o-mega-menu"
             aria-label="main navigation"
             role="navigation">
            <button class="o-mega-menu_trigger" aria-expanded="false">
                <span class="u-visually-hidden">Menu</span>
            </button>
            <div class="o-mega-menu_content"
                 aria-expanded="false">
                <div class="o-mega-menu_content-wrapper">
                    <div class="wrapper">
                        <div class="o-mega-menu_content-grid">
                            <div class="o-mega-menu-lists">
                                <ul class="o-mega-menu_content-list">
                                    <li class="o-mega-menu_content-item">
                                        [Global Header CTA]
                                    </li>
                                    <li class="o-mega-menu_content-item">
                                        <a class="o-mega-menu_content-link"
                                           href="/about-us/"
                                           aria-expanded="false">
                                            About Us
                                        </a>
                                        <div class="o-mega-menu_content"
                                             aria-expanded="false">
                                            <div class="o-mega-menu_content-wrapper">
                                                <div class="wrapper">
                                                    <button class="o-mega-menu_content-alt-trigger">
                                                        Back
                                                    </button>
                                                    <div class="o-mega-menu_content-grid">
                                                        <span class="o-mega-menu_content-overview">
                                                            <a class="o-mega-menu_content-overview-link"
                                                               href="/about-us/">
                                                                About Us Overview
                                                            </a>
                                                        </span>
                                                        <div class="o-mega-menu_content-lists">
                                                            <ul class="m-list
                                                                       m-list__unstyled
                                                                       o-mega-menu_content-list">
                                                                <li class="m-list_item
                                                                           o-mega-menu_content-item">
                                                                    <a class="o-mega-menu_content-link"
                                                                       href="/the-bureau/">
                                                                        The Bureau
                                                                     </a>
                                                                </li>
                                                                …
                                                            </ul>
                                                            <ul class="m-list
                                                                       m-list__unstyled
                                                                       o-mega-menu_content-list">
                                                                    <li class="m-list_item
                                                                               o-mega-menu_content-item">
                                                                        <a class="o-mega-menu_content-link__current
                                                                                  o-mega-menu_content-link"
                                                                           href="/about-us/careers/">
                                                                            Careers
                                                                         </a>
                                                                    </li>
                                                                    …
                                                            </ul>
                                                            …
                                                        </div>
                                                    </div>
                                                    <aside class="sub-nav_media">
                                                        [Featured Menu Content]
                                                    </aside>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                [Global Eyebrow]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          nav.o-mega-menu
            .o-mega-menu_trigger
            .o-mega-menu_content
                .o-mega-menu_content-wrapper
                    .wrapper
                        .o-mega-menu-content-grid
                            .o-mega-menu_content-title
                                a.o-mega-menu_content-link
                            .o-mega-menu_content-lists
                                ul.o-mega-menu_content-list
                                    li.o-mega-menu_content-item
                                        .m-global-header-cta.m-global-header-cta__list
                                    li.o-mega-menu_content-item
                                        a.o-mega-menu_content-link
                                    li.o-mega-menu_content-item
                                        a.o-mega-menu_content-link
                                        .o-mega-menu_content
                                            .o-mega-menu_content-wrapper
                                                .wrapper
                                                    button.o-mega-menu_content-alt-trigger
                                                    .o-mega-menu_content-grid
                                                        .o-mega-menu_content-title
                                                            a.o-mega-menu_content-link
                                                        .o-mega-menu_content-lists
                                                            ul.o-mega-menu_content-list
                                                                li.o-mega-menu_content-item
                                                            ul.o-mega-menu_content-list
                                                                li.o-mega-menu_content-item
                                                    aside.sub-nav_media
      notes:
        - "Not shown, but each content level adds a depth-specific class,
           such as o-mega-menu_content-1, o-mega-menu_content-2, etc."
  tags:
    - cfgov-organisms
*/

.o-mega-menu {

    ul ul {
        // Override margin added by CF between lists.
        margin-top: 0;
    }

    &_content-item {
        // Override margin added by CF to list items.
        margin-bottom: 0;
    }

    // 1st-level menu.
    &_content-1 {
        &-link {
            // Colors for :link, :visited, :hover, :focus, :active.
            .u-link__colors( @black );

            display: block;

            .cf-icon-svg {
                display: none;
            }
        }
    }

    // 2nd and 3rd-level menus.
    &_content-2,
    &_content-3 {
        &-overview {
            display: block;
            border-bottom: 1px solid @gray-40;
        }

        &-link,
        &-overview-link {
            // Colors for :link, :visited, :hover, :focus, :active.
            .u-link__colors( @pacific, @black );

            display: block;

            .cf-icon-svg {
                display: none;
            }
        }
    }

    &_footer {
        border-top: 1px solid @gray-40;
        padding: @grid_gutter-width / 2 0;
    }


    // Mobile sizes.
    .respond-to-max( @bp-xs-max, {
        &_trigger {
            margin-left: -15px;
        }
    } );

    // Tablet sizes.
    .respond-to-range( @bp-sm-min, @bp-sm-max, {
        &_trigger {
            margin-left: -30px;
        }
    } );

    // Tablet/mobile sizes.
    .respond-to-max( @bp-sm-max, {
        &_trigger {
            display: none;
            height: unit( @mobile_trigger_ht__px / 18px, em );
            min-width: unit( @mobile_trigger_ht__px / 18px, em );
            padding-top: unit( @grid_gutter-width / 2 / 18px, em );
            padding-bottom: unit( @grid_gutter-width / 2 / 18px, em );

            position: absolute;
            top: 0;
            z-index: 20;

            background: @white;
            border: none;
            border-right: 1px solid @gray-40;
            color: @black;
            font-size: unit( 18px / @base-font-size-px, em );

            .js & {
                display: block;
            }

            &:focus {
                outline: 1px dotted @black;
            }

            .o-mega-menu_trigger-close {
                display: none;
            }

            .o-mega-menu_trigger-open {
                display: block;
            }

            &[aria-expanded="true"] {
                background: @gray-10;
                border-left: 1px solid @gray-40;
                border-right: 1px solid @gray-40;
                color: @black;

                .o-mega-menu_trigger-close {
                    display: block;
                }

                .o-mega-menu_trigger-open {
                    display: none;
                }
            }

        }

        // Menu flyout.
        // All menus - Tablet/Mobile.
        &_content {
            display: none;
            box-sizing: border-box;
            width: 100%;

            .js & {
                display: block;
                position: absolute;
                left: 0;
                top: -1px;
                z-index: 10;
            }

            background-color: @gray-5;
            border-top: 1px solid @gray-40;
            border-bottom: 1px solid @gray-40;

            .u-drop-shadow-after();

            &[aria-expanded="true"] {
                display: block;
            }

            &-alt-trigger {
                display: block;
                width: 100%;
                padding: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
                border: none;
                border-bottom: 1px solid @gray-40;
                position: relative;
                background-color: @gray-10;
                font-weight: 500;
                text-align: left;
                text-transform: uppercase;

                &:focus {
                    outline: 1px dotted @black;
                }

                .cf-icon-svg {
                    margin-right: 0.6em;
                }
            }

            &-overview {
                display: block;
                border-bottom: 1px solid @gray-40;
            }

            // Adjust padding and margin on unordered list menu items
            // above the global eyebrow.
            &-list {
                padding-left: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
                margin-bottom: 0;
            }

            &-item {
                border-bottom: 1px solid @gray-40;
            }

            &-link,
            &-overview-link {
                position: relative;
                // Colors for :link, :visited, :hover, :focus, :active.
                .u-link__colors( @pacific, @pacific, @pacific-60, @pacific, @dark-navy );

                padding-top: @grid_gutter-width / 2;
                padding-right: @grid_gutter-width / 2;
                padding-bottom: @grid_gutter-width / 2;

                .js & {
                    &__has-children .cf-icon-svg {
                        display: block;

                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY( -50% );

                        fill: @green;
                    }
                }

                &__current,
                &:hover {
                    cursor: pointer;
                }
            }
        }

        // 1st-level menu - Tablet/Mobile.
        &_content-1 {
            .js & {
                // Offset for height of trigger button.
                top: @mobile_trigger_ht__px;
            }
            display: block;

            &-list {
                padding-right: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
            }

            // Remove final border line of last list item.
            &-list:last-child {
                .o-mega-menu_content-1-item:last-child {
                    border-bottom: none;
                }
            }

            // TODO: Remove when Consumer Tools and Ed Resources links are in.
            // Overrides disabled link styles.
            &-link.u-link__disabled {
                color: @pacific !important;

                &:hover {
                    color: @pacific-60 !important;
                    cursor: pointer !important;
                }
            }
        }

        // 2nd-level menu - Tablet/Mobile.
        &_content-2 {

            // TODO: Enable or delete when non-clickable
            //       current page link is in.
            //       The problem is sections with a 3rd
            //       level need to remain links and the
            //       overview link is what needs to be disabled.
            // Make current page menu link non-clickable.
            // &-link,
            // &-overview-link {
            //    &__current,
            //    &__current:hover {
            //        color: @black;
            //        cursor: default;
            //    }
            // }

            // Remove final border line of last list item.
            &-list:last-child {
                .o-mega-menu_content-2-item:last-child {
                    border-bottom: none;
                }
            }
        }

        // 3rd-level menu - Tablet/Mobile.
        &_content-3 {
            // TODO: There is similar code set on all three menus.
            //       Investigate if it can be combined.
            // Remove final border line of last list item.
            &-list:last-child {
                .o-mega-menu_content-3-item:last-child {
                    border-bottom: none;
                }
            }
        }

        // Submenus - Tablet/Mobile.
        &_content-2,
        &_content-3 {
            .u-move-right();
            position: absolute;
            left: 0;
            top: -1px;
            z-index: 10;

            &-grid {
                padding-left: unit( @grid_gutter-width / 2 / 18px, em );
                padding-right: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
            }
        }

        // Group heading - Tablet/Mobile
        &_group-heading {
            margin-top: @grid_gutter-width;

            &__hidden {
                .u-visually-hidden;
            }

            // add border between title and following list
            &:not(&__hidden) + ul {
                border-top: 1px solid @gray-40;
            }
        }

    } );

    // Desktop sizes.
    .respond-to-min( @bp-med-min, {

        &_trigger {
            display: none;
        }

        &_footer {
            margin-top: @grid_gutter-width;
            font-size: unit( 18px / @base-font-size-px, em );
        }

        // 1st-level menu - Desktop.
        &_content-1 {
            &[aria-expanded="true"] {
                .o-mega-menu_content-1-wrapper {
                    display: block;
                    transform: translateY( 0 );
                }
            }

            &-list {
                display: inline-block;
                margin-bottom: 0;
            }

            &-item {
                display: inline-block;
                margin-right: unit( 25px / @base-font-size-px, em );

                .no-js &:hover {
                    .o-mega-menu_content-2 {
                        display: block;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            &-link {
                padding-bottom: @grid_gutter-width;
                margin-left: @grid_gutter-width;

                font-size: unit( 18px / @base-font-size-px, em );

                &:first-child {
                    margin-left: 0;
                }

                // -6px padding offset is to account for the border height.
                &[aria-expanded="true"],
                &__current {
                    padding-bottom: @grid_gutter-width - 6px;
                    border-bottom: 6px solid @black;
                    cursor: pointer;
                }

                &:hover {
                    padding-bottom: @grid_gutter-width - 6px;
                    border-bottom: 6px solid @gray-40;
                    cursor: pointer;
                }
            }

            // TODO: Remove when Consumer Tools and Ed Resources links are in.
            // Overrides disabled link styles.
            &-link.u-link__disabled {
                color: @black !important;

                &:hover {
                    padding-bottom: @grid_gutter-width - 6px !important;
                    border-bottom: 6px solid @gray-40 !important;
                    cursor: pointer !important;
                }
            }

        }

        // 2nd-level menu - Desktop.
        &_content-2 {
            overflow: hidden;
            position: absolute;
            left: 0;
            z-index: 10;
            width: 100%;

            .no-js & {
                display: none;
            }

            &[aria-expanded="true"] {

                .o-mega-menu_content-2-wrapper {
                    display: block;
                }
            }

            &-wrapper {
                background-color: @gray-5;
                border-top: 1px solid @gray-40;
                border-bottom: 1px solid @gray-40;

                .u-drop-shadow-after();

                // Adjustments to CF-wrapper.
                // TODO: Investigate applying adjustment to CF directly,
                //       or copying values here.
                .wrapper {
                    padding: unit( @grid_gutter-width / @base-font-size-px, em );
                    padding-left: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
                    padding-right: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
                }
            }

            &-alt-trigger {
                display: none;
            }

            &-overview {
                padding-bottom: @grid_gutter-width / 2;
                margin-bottom: @grid_gutter-width * 2 / 3 ;
                font-size: 1em;

                // ------------------------------------------------------------
                // TODO: Remove when Consumer Tools and Education Resources
                //       have overview pages post-launch.
                //       This is temporary code to hide the overview links
                //       at desktop sizes.
                .u-link__disabled {
                    visibility: hidden;
                }
                // ------------------------------------------------------------
            }

            &-lists {
                .grid_nested-col-group();
            }

            &-list {
                .grid_column(4);
            }

            &-link {
                padding-top: unit( 10px / 18px, em );
                padding-bottom: unit( 10px / 18px, em );
                padding-left: unit( 15px / 18px, em );

                border-left: 5px solid transparent;
                font-size: unit( 18px / @base-font-size-px, em );
            }

            &-link,
            &-overview-link {
                &:hover,
                &__current,
                &__current:visited {
                    color: @black;
                    border-left-color: @green;
                }
            }


        }

        // 3rd-level menu - Desktop.
        &_content-3 {
            display: none;
        }

        // Hide global header CTA container and eyebrow at desktop size.
        &_content-1-item:first-child,
        .m-global-eyebrow {
            display: none;
        }
    } );

    // Large desktop size.
    .respond-to-min( @bp-lg-min, {
        &_content-1 {
            &-item {
                margin-right: @grid_gutter-width * 1.5;
            }
        }
        // 2nd-level menu - Large desktop.
         &_content-2 {
            &-grid {
                .grid_column( 8 );
                // TODO: Check if .grid_nested-col-group()
                //       can be used here when implementing Featured Menu Content.
                border-left: 0;
            }
        }

        // Group heading - Large desktop.

        &_group-heading {
            // match link item indentation
            padding-left: unit( @grid_gutter-width * 2 / 3 / @size-v, em );

            &__hidden {
                visibility: hidden;
            }
        }
    } );

    // Xtra-Large desktop size.
    .respond-to-min( @bp-xl-min, {

        &_content-1 {
            &-item {
                margin-right: @grid_gutter-width * 2;
            }
        }
    } );
}

.o-mega-menu {
    // Tab trigger is used to capture press of the tab key so that
    // global search can be collapsed when it hits this element.
    &_tab-trigger {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

.no-js .o-mega-menu {
    // JS isn't available to remove u-hide-on-mobile class, so override it.
    &.u-hide-on-mobile {
      display: block;
    }
}

// Hide on print.
.respond-to-print( {
    .o-mega-menu {
        display: none;
    }
} );



/* topdoc
    name: EOF
    eof: true
*/
