// Import external cfpb-chart-builder stylesheet
// This is also imported by the chart block (in chart.less)
@import 'cfpb-chart-builder.less';

.o-mp-chart {

}

.o-mp-map {

    border: 1px solid @gray-40;
    margin-top: unit( 30px / @base-font-size-px, em );
    padding: unit( 30px / @base-font-size-px, em )
             unit( 30px / @base-font-size-px, em )
             unit( 15px / @base-font-size-px, em );

    h3 span {
      font-weight: 600;
    }

    // Override some cfpb-chart-builder styles
    .highcharts-map-series {
        .highcharts-point-select,
        .highcharts-point:hover {
            stroke: @black !important;
            stroke-width: 3px !important;
            transition: fill 500ms, fill-opacity 500ms, stroke-width 0 !important;
        }
        .highcharts-point {
            stroke: @black;
            &.highcharts-null-point {
              stroke-width: 0 !important;
            }
        }
    }
    .cfpb-chart-geo- {
        &state-outline-states,
        &state-outline-metros,
        &state-outline-counties,
        &map-separators {
            .highcharts-point {
                stroke: @black;
            }
        }
        &data-outline-counties,
        &data-outline-metros {
            .highcharts-point {
                stroke: #838588;
            }
        }
    }
    .highcharts-tooltip-box {
        fill: @white;
        fill-opacity: 1;
        stroke: @black;
    }

}

.m-mp-map-tooltip {
    // Needed to override a Highcharts default
    font-family: 'Avenir Next', Arial, sans-serif;

    dt {
        border-bottom: 1px solid @black;
        font-size: @size-vi;
        margin-bottom: 5px;
        padding-bottom: 5px;
        width: 100%;
        text-transform: none;
    }
    dd {
        display: block;
        font-size: @size-vi;
        padding: 2px 0;
    }
}

.m-color-ramp {

    margin-top: unit( 15px / @base-font-size-px, em );
    width: 100%;

    &[data-chart-color='blue'] {

        .a-ramp-value {
            &-0 { fill: @gray-5; }
            &-1 { fill: @pacific-20; }
            &-2 { fill: @pacific-40; }
            &-3 { fill: @pacific-60; }
            &-4 { fill: @pacific-80; }
            &-5 { fill: @pacific; }
            &-6 { fill: @pacific-dark; }
        }

    }

    &[data-chart-color='navy'] {

        .a-ramp-value {
            &-0 { fill: @gray-5; }
            &-1 { fill: @navy-20; }
            &-2 { fill: @navy-40; }
            &-3 { fill: @navy-60; }
            &-4 { fill: @navy-80; }
            &-5 { fill: @navy; }
            &-6 { fill: @navy-dark; }
        }

    }

    rect {
        font-size: unit( 12px / @base-font-size-px, em );;
        height: 15px;
        stroke: #838588;
        stroke-miterlimit: 10;
        stroke-width: 0.5;
        width: 91.5px;
    }

    text {
        font-size: unit( 12px / @base-font-size-px, em );;
        text-anchor: start;
    }

    .respond-to-max( @bp-sm-max, {
        text {
            font-size: unit( 16px / @base-font-size-px, em );;
        }
        tspan {
            font-size: unit( 16px / @base-font-size-px, em );;
        }
    } );

}

#mp-line-chart-container,
#mp-map-container {

    // Highcharts auto resizes the charts, causing odd overflow issues
    overflow: inherit;

    .a-label h4 {
        .u-mb15();
    }

    // Fieldsets have silly default values. We should remove them at the CF level
    // but for now I'm removing them only within our app.
    fieldset {
        border: 0;
        margin-left: 0;
        padding:0;
    }
    .content-l_col {
        border-left-width: 0;
    }

    // Helper text under some filter or zoom options
    .m-field-helper-text {
        color: @gray-80;
        @font-size: 12px;
        font-size: unit(@font-size / @base-font-size-px, em);
    }

}

#mp-line-chart-controls,
#mp-map-controls {
  margin-left: 0px;
}

#mp-line-chart-geo,
#mp-map-geo {
  margin-left: 2px;
}

#mp-map-month-container label,
#mp-map-year-container label {
  @font-size: 14px;
  font-size: unit(@font-size / @base-font-size-px, em);
}
