/* topdoc
  name: Post Preview
  family: cfgov-organisms
  patterns:
     - name: Default post
      markup: |
        <article class="o-post-preview">
            <div class="meta-header">
                <span class="date meta-header_right">
                    Published
                    <span class="datetime">
                        <time class="datetime_date" datetime="2003-08-05T21:36:11.000000-0400">
                            AUG 05, 2003
                        </time>
                    </span>
                </span>
                <a href="/blog/?filter_blog_category=Info+for+Consumers" class="category-slug post_slug meta-header_left">
                    <span class="category-slug_icon cf-icon cf-icon-information"></span>
                    <span class="u-visually-hidden">Category:</span>
                    Info for Consumers
                </a>
            </div>
            <div class="o-post-preview_image-container">
                <img class="o-post-preview_image" src="http://www.placehold.it/160x90" alt="">
            </div>
            <div class="o-post-preview_content">
                <h3 class="o-post-preview_title">
                    This is a blog post
                </h3>
                <p class="o-post-preview_description">
                    Sed senectus feugiat arcu tempor, ac vulputate sem pulvinar porta hendrerit magnis, interdum habitasse taciti.
                </p>
                <div class="post_meta">
                    <span class="o-post-preview_byline">
                        By <a href="/blog/?filter_author=Tom">
                            Tom
                        </a> and
                        <a href="/blog/?filter_author=Jerry">
                            Jerry
                        </a>
                    </span>
                </div>
                <div class="tags tags__hide-heading">
                    <span class="u-visually-hidden">Topics:</span>
                    <ul class="tags_list">
                        <li class="tags_tag">
                            <a class="tags_link" href="/blog/?filter_tags=FOIA&amp;filter_topics=FOIA">
                                <span class="tags_bullet" aria-hidden="true">•</span>
                                FOIA
                            </a>
                        </li>
                        <li class="tags_tag">
                            <a class="tags_link" href="/blog/?filter_tags=Mortgage&amp;filter_topics=Mortgage">
                                <span class="tags_bullet" aria-hidden="true">•</span>
                                Mortgage
                            </a>
                        </li>
                    </ul>
                </div>
          </div>
      </article>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          article.o-post-preview
            div.meta-header
            div.o-post-preview_image-container
                img.o-post-preview_image
            div.o-post-preview_content
                h3.o-post-preview_title
                p.o-post-preview_description
            p.post_dek
            div.post_meta
              span.post_byline
              span.post_date
              div.post_meta
                span.o-post-preview_byline
                div.tags
  tags:
    - cfgov-organisms
*/

.o-post-preview {

    + .o-post-preview {
        margin-top: unit( @grid_gutter-width * 2 / @base-font-size-px, em);
    }

    &_image-container {
        .respond-to-max(@bp-sm-max, {
            margin-bottom: unit( @grid_gutter-width / @base-font-size-px, em );
        });
        .respond-to-min(@bp-med-min, {
            .grid_column(4);
        });
    }
    &_image {
        display: block;
        width: 100%;
    }
    &_title a {
        .u-link__colors( @black, @pacific-80 );
    }
}

.o-post-preview_image-container + .o-post-preview_content {
    .respond-to-min(@bp-med-min, {
        .grid_column(8);
    });
}

.o-post-preview_image-container {
    position: relative;

    .calendar-icon {
        position: absolute;
        top: 15px;
        left: 15px;
    }
}

/* topdoc
    name: EOF
    eof: true
*/
