// TODO: Investigate where this fits in the organisms wiki.
//       Remove margin from this file as it doesn't fit within
//       our atomic rules.

.o-prefooter {
  margin-top: unit(((@grid_gutter-width * 2) / @base-font-size-px), em);
  margin-bottom: 0;

  margin-right: unit(@grid_gutter-width / -2 / @base-font-size-px, em);
  margin-left: unit(@grid_gutter-width / -2 / @base-font-size-px, em);

  border-top: 1px solid var(--gray-40);

  padding-top: unit(@grid_gutter-width / @base-font-size-px, em);
  padding-left: unit((@grid_gutter-width / 2) / @base-font-size-px, em);
  padding-right: unit((@grid_gutter-width / 2) / @base-font-size-px, em);

  background: var(--gray-5);
  overflow: auto;

  .respond-to-min(@bp-sm-min, {
    margin-right: unit( -@grid_gutter-width / @base-font-size-px, em );
    margin-left: unit( -@grid_gutter-width / @base-font-size-px, em );

    // Border for both LTR and RTL layouts.
    border-right: 1px solid var(--gray-40);
    border-left: 1px solid var(--gray-40);

    padding-left: unit( @grid_gutter-width / @base-font-size-px, em);
    padding-right: unit( @grid_gutter-width / @base-font-size-px, em);
  });
}
