/* topdoc
  name: Expandable read more toggle modifier
  family: cf-organisms
  notes:
    - "Styles a two-way Expandable organism that previews content across screen sizes."
  patterns:
  - name: Expandable organism
    markup: |
      <div class="o-expandable o-expandable__read-more-toggle" data-read-more="true">
          <div class="o-expandable_content" aria-expanded="false">
          </div>
          <button class="o-expandable_header o-expandable_target"
                  title="Expand content">
              <span class="o-expandable_link">
                  <span class="o-expandable_cue o-expandable_cue-open">
                      Read full answer
                      {{ svg_icon('plus-round') }}
                  </span>
                  <span class="o-expandable_cue o-expandable_cue-close">
                      Hide full answer
                      {{ svg_icon('minus-round') }}
                  </span>
              </span>
          </button>
      </div>
    codenotes:
      - |
        Pattern structure
        -----------------
        .o-expandable
          .o-expandable_content
          .o-expandable_header.o-expandable_target
            .o-expandable_link
              .o-expandable_cue.o-expandable_cue-open
              .o-expandable_cue.o-expandable_cue-close

    notes:
      - "Displays an approximately 4-line preview of content. "
  - name: .o-expandable__read-more-toggle (modifier)
  tags:
  - cf-organisms
*/

.o-expandable__read-more-toggle {
    .o-expandable_content__collapsed {
        // shows approx. 4 lines of content
        // !important needed to override the default o-expandable_content__collapsed
        // max-height
        max-height:  unit( @base-line-height-px * 4 / @base-font-size-px, em ) !important;
        overflow: hidden;
        position: relative;
    }

    .o-expandable_target {
        font-weight: 500;
        margin-top: unit( @grid_gutter-width / 3 / @base-font-size-px, em );
        width: auto;
    }
}
