@margin__em: unit( @grid_gutter-width / @base-font-size-px, em );

.o-reg-comment {
    max-width: 41.875em;

    label {
        .heading-4();
        margin-bottom: unit(15px / @font-size, em);

        .label_note {
            font-size: unit(16px / @font-size, em);
            font-weight: normal;
        }
    }

    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="number"] {
        width: 100%;
        max-width: 22.5em;
        box-sizing: border-box;
        margin-bottom: @margin__em;
    }

    textarea {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: @margin__em / 2;
    }

    &_disclaimer,
    input[type="submit"] {
        display: block;
        margin-bottom: @margin__em;
    }

    &_disclaimer-em {
        font-weight: 500;
    }
}
