/* =========================================================================
   consumerfinance.gov
   o-secondary-navigation
   ========================================================================= */

/* topdoc
  name: Secondary navigation
  family: cfgov-organisms
  patterns:
    - name: Default example
      markup: |
        <nav class="o-expandable
                    o-secondary-navigation">
            <button class="o-expandable_header o-expandable_target">
                <span class="h5
                             o-expandable_header-left
                             o-expandable_label">
                    Nav Button
                </span>
                <span class="o-expandable_header-right">
                    <span class="o-expandable_cue-open">
                        {{ svg_icon('plus-round') }}
                    </span>
                    <span class="o-expandable_cue-close">
                        {{ svg_icon('minus-round') }}
                    </span>
                </span>
            </button>
            <div class="o-expandable_content">
                <ul class="o-secondary-navigation_list
                           o-secondary-navigation_list__parents">
                    li
                        m-nav-link
                    li
                        m-nav-link
                    li
                      m-nav-link
                </ul>
            </div>
        </nav>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .o-expandable.o-secondary-navigation
            .o-expandable_header.o-expandable_target
                .o-expandable_header-left
                .o-expandable_header-right
                  .o-expandable_cue-open
                    .cf-icon-svg
                  .o-expandable_cue-close
                    .cf-icon-svg
            .o-expandable_content
              .o-secondary-navigation_list.o-secondary-navigation_list__parents
                li
                  m-nav-link
  tags:
    - cfgov-organisms
*/

.o-secondary-navigation {

    // TODO: If secondary navigation is overriding o-expandables appearance,
    //       they aren't atomic expandables anymore per the design spec.
    //       Secondary navigation should use FlyoutMenu for expandable-like
    //       behavior and handle its own styling
    //       (possibly shared with expandables).

    .respond-to-max( @bp-sm-max, {
        &__no-children {
            display: none;
        }

        &_list__parents {
            li[data-nav-is-active="False"]{
                display: none;
            }
        }

        .o-expandable {
            border-top: 1px solid @gray-40;
            border-bottom: 1px solid @gray-40;
        }
    } );


    .respond-to-min( @bp-med-min, {
        .o-expandable {
            background: none;
        }

        .o-expandable_target {
            display: none;
        }

        .o-expandable_content {
            // These two !important values override basic expandable styling,
            // because these don't function like expandables on med+ screens.
            display: block !important;
            max-height: 100% !important;
            padding: 0;

            &:before {
                display: none;
            }
        }
    } );

    .o-expandable_label {
        .h5();

        line-height: unit( 22 / @size-v );
        margin-bottom: 0;
    }

    &_list__children {
        margin-left: unit( @grid_gutter-width / 2 / @base-font-size-px, em);

        .respond-to-min( @bp-med-min, {
            // Add 5px for the border to half the gutter
            margin-left: unit( ( (@grid_gutter-width / 2 ) + 5px ) / @base-font-size-px, em) ;
        } );
    }

    // Hide on print.
    .respond-to-print( {
        display: none;
    } );
}

/* topdoc
    name: EOF
    eof: true
*/
