@margin__em: unit(@grid_gutter-width / @base-font-size-px, em);
@o-sidebar-breakout__img-width: 300px;
@o-sidebar-breakout__img-height: 170px;

.o-sidebar-breakout {
  &_img {
    background-repeat: no-repeat;
    background-size: contain;

    // Padding added to maintain 16/9 ratio.
    padding-top: 56.25%;
  }

  &_img-container {
    max-width: @o-sidebar-breakout__img-width;
    max-height: @o-sidebar-breakout__img-height;
  }

  &_img-container__round {
    width: auto;

    .o-sidebar-breakout__img {
      padding: 0;
      height: @o-sidebar-breakout__img-height;
      width: @o-sidebar-breakout__img-height;
    }
  }

  &_text-body {
    margin-bottom: @margin__em;
  }

  &_text-heading {
    margin-top: @margin__em;
    margin-bottom: @margin__em / 2;
  }
}

.respond-to-max(@bp-xs-max, {
  .o-sidebar-breakout {

    margin-bottom: @margin__em;

    &_col {
      width: 100%;
      &:last-child {
        margin-top: unit( (@grid_gutter-width * 2) / @base-font-size-px, em );
      }
    }

    &_img-container {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
});

// Desktop and above.
.respond-to-min(@bp-med-min, {
  .o-sidebar-breakout__col:last-child {
    padding-left: @margin__em;
  }
});

// Tablet only.
.respond-to-range( @bp-sm-min, @bp-sm-max, {
  .o-sidebar-breakout {
    &_img-container {
      float: left;
      width: @o-sidebar-breakout__img-width / @bp-sm-max * 100%;
      margin-right: @margin__em;
    }

    &_text-container {
      overflow: auto;
    }

    &_text-heading {
      margin-top: 0;
    }
  }
});
