.o-simple-chart {
  max-width: 670px;
  margin-bottom: unit( 60 / @base-font-size-px, em );
  .chart-anchor, &:hover, &:visited {
    color: @text;
  }
  h2 {
    margin-top: 0;
  }

  h5 {
   margin-bottom: unit( @size-v / 14, em );
  }

  h3 {
    .respond-to-max( @bp-xs-max, {
      margin-top: unit( 25 / 15, em);
    })
  }

  .o-simple-chart_subtitle {
    margin: 0 0 unit(30 / @base-font-size-px, em) 0;
  }

  .o-simple-chart_selects {
    .respond-to-max( @bp-xs-max, {
      margin-top: unit( 9 / @base-font-size-px, em);
    })
  }
  .highcharts-tilemap-series {
    .highcharts-point {
      stroke: #919395;
    }
    .highcharts-point:hover {
      stroke: #5a5d61;
      stroke-width: 2px;
    }
    .highcharts-label {
      font-family: 'Avenir Next';
      font-size: 12px;
      color: '#101820';
      text {
        pointer-events: none;
      }
      .respond-to-max( @bp-xs-max, {
        font-size: 10px;
        tspan:last-of-type {
          display: none;
        }
      })
    }
  }
  .select-wrapper {
    .grid_column(1,2);
    box-sizing: inherit;
    margin-bottom: unit( 10 / @base-font-size-px, em);
    border-width: 0 30px 0 0;
    .respond-to-max( @bp-xs-max, {
      display: block;
      width: 100%;
      margin-bottom: unit( 30 / @base-font-size-px, em);
    })
  }

  .a-label__heading {
    margin: 0;
    padding-bottom: 10px;
    .respond-to-max( @bp-xs-max, {
      font-size: @base-font-size-px;
    })
  }

  .o-simple-chart_target {
    margin-top: unit( 14 / @base-font-size-px, em);
    .respond-to-max( @bp-xs-max, {
      margin-top: 0;
    })
  }

  .highcharts-navigator-mask-inside{
    fill: @gray-20;
  }
  .highcharts-navigator-handle {
    stroke: @gray;
    fill: @gray-5;
  }
  .highcharts-navigator-outline {
    stroke: @gray-40;
  }

  .highcharts-navigator-xaxis > text {
    font-size: 12px !important;
  }
  .highcharts-xaxis-grid.highcharts-navigator-xaxis > .highcharts-grid-line {
    stroke: @gray-40;
  }
/* Testing line patterns
  .highcharts-line-series.highcharts-series-0 {
    stroke-dasharray: 45, 7;
  }
  .highcharts-line-series.highcharts-series-1 {
    stroke-dasharray: 15, 7;
  }
  .highcharts-line-series.highcharts-series-2 {
    stroke-dasharray: 22, 7, 1, 7;
  }
  .highcharts-line-series.highcharts-series-3 {
    stroke-dasharray: 45, 7, 1, 7, 1, 7;
  }
  .highcharts-line-series.highcharts-series-4 {
    stroke-dasharray: 1, 4;
  }
  */

  .highcharts-line-series .highcharts-graph {
    stroke-width: 2px;
  }

  .highcharts-line-series.highcharts-series-hover .highcharts-graph {
    stroke-width: 3px;
  }

  .highcharts-line-series {
    .highcharts-point, .highcharts-point-hover, .highcharts-point-select {
      display: none;
    }
  }

  .highcharts-axis-line, .highcharts-tick, .highcharts-grid-line {
    stroke: @gray-20;
  }
  .highcharts-button {
    font-size: 14px;
    fill: #d6e8fa;
  }
  .highcharts-button:hover, .highcharts-button-pressed {
    fill: #7eb7e8;
  }
  .highcharts-range-selector-buttons{
    .highcharts-button:last-child {
      text{
      font-weight: 500 !important;
    }
    }
    text {
      transform:translate(0, 5px);
      font-size: @base-font-size-px;
      font-weight: 400;
      &:first-child{
        transform:translate(48px,-28px);
        .respond-to-max( 600px, {
          transform:translate(128px,-28px)
        })

      }
    }
  }
  .highcharts-tooltip-box{
    background-color: #f7f8f9;
  }

  .highcharts-tooltip {
    a, a:hover, a:active {
      color: #101820;
      display: block;
    }

    .a-link {
      color: @link-text;
      border-width: 0 0 1px 0;
      border-style: dotted;
      display:inline-block;
      text-overflow: ellipsis;
      overflow: hidden;

      &:visited {
        color: @link-text-visited;
      }

      &:hover {
        border-style: solid;
        color: @link-text-hover;
      }

      &:active {
        border-style: solid;
        color: @link-text-active;
      }
    }
    b {
      font-weight: 500;
    }
  }
  .o-simple-chart_tilemap_legend {
    display: none;
    width: 100%;
    height: 60px;
    margin-top: -5px;
    margin-bottom: 66px;

    .respond-to-max( @bp-xs-max, {
      margin-top: -8px;
      margin-bottom: -6px;
    });

    .legend-title {
      margin-bottom: 10px;
    }

    .legend-color, .legend-label {
      float: left;
      width: 19.75%;
      text-align: center;
    }
   .legend-label {
     line-height: 2;
   }
   .legend-color {
      height: 15px;
      border: 1px solid @gray-60;
      width: 19.5%;
      &:not(:nth-child(2)){
        border-left: none;
      }
    }

  }

  .m-chart-footnote {
    max-width: unit(670 / @size-vi, rem);
    margin-top: unit(45 / @size-vi, em);
    padding-top: unit(15 / @size-vi, em);
  }
}
