/* topdoc
  name: Theme variables
  family: cfgov-organisms
  notes:
    - "The following color and sizing variables are exposed,
       allowing you to easily override them before compiling."
  patterns:
  - name: Colors
    codenotes:
      - |
        @o-well_bg
        @o-well_border
  tags:
  - less
*/
@o-well_bg: @gray-5;
@o-well_border: @gray-40;


/* topdoc
  name: Well (Gray Well)
  family: cfgov-organisms
  patterns:
    - name: Default example
      markup: |
        <div class="o-well">
            <h2>Gray Well</h2>
            <p>Well's content</p>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .o-well
  tags:
    - cfgov-organisms
*/

.o-well {
    padding-top: unit( @grid_gutter-width / @base-font-size-px, em );
    padding-right: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
    padding-bottom: unit( ( @grid_gutter-width * 2 )  / @base-font-size-px, em );
    padding-left: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
    border: 1px solid @o-well_border;
    background-color: @o-well_bg;

    .respond-to-min( @bp-sm-min, {
        padding-left: unit( @grid_gutter-width / @base-font-size-px, em );
        padding-right: unit( @grid_gutter-width / @base-font-size-px, em );
    } );
}

/* topdoc
    name: EOF
    eof: true
*/
