{% extends "layout-side-nav.html" %}
{% import "_section-layouts.html" as section %}

{# Variables #}

{% set active_nav_id = "layout-side-nav" -%}

{# Block overrides #}

{% block demo_title -%}
    Side nav layout
{%- endblock %}

{% block title -%}
    Side nav layout
{%- endblock %}

{% block desc -%}
    An example of using layout-side-nav.html
{%- endblock %}

{% block content_main %}
    <h1>Side nav layout</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quaerat minus dignissimos vero eaque sapiente quo quidem commodi repellat eum pariatur sint sunt odit rem id velit nisi delectus excepturi!</p>
{% endblock %}
