.intro-row {margin-top: 50px;}
.intro-row{margin-left:-20px;font-family: "Avenir Next", Arial, sans-serif;}
.intro-row:before,.row:after{content:"";display:table;}
.intro-row:after{clear:both;}

.banks-icon{background-image:url(banking.png);}
.loans-icon{background-image:url(loans.png);}
.intro-icon{width:83px;height:83px;position:absolute;margin:-60px 0 0 0px;}

.intro-block{padding:20px;min-height:300px;margin-bottom:10px;}
.intro-block {font-size:1em;}
.intro-header{text-transform:uppercase;margin-top:30px; font-weight:500; margin-left:0px; line-height:26px;}
.intro-h3{margin-top:10px;text-transform:none; font-size:1.5em; font-weight:400;}
.blurb p{font-size:1em;font-family:Georgia, serif;}

.intro-half-block-1{float:left;
                    vertical-align:middle;
                    text-align:center;
                    padding:22px 10px;
                    width:170px;
                    margin:10px 0px 10px 20px; 
                    line-height:20px;
                    }
                    
.intro-half-block-2{float:left;
                    vertical-align:middle;
                    text-align:center;
                    padding:14px 10px;
                    width:170px;
                    margin:10px 0px 10px 20px; 
                    line-height:18px;
                    text-align:center;
                    }
.no-btm{margin-bottom:0px;}
.well-icon{display:none;}

