
h1.p4ch {
    position: relative;
    font-size: 40px;
    font-weight: 400;
    color: #D83D00;
    width: 900px;
    margin: 10px auto 4px 0;
    line-height: 1.375;
    font-family: "Avenir Next", Arial, sans-serif;
    text-transform: none;
}

h1.p4ch sup{
    font-size: .25em;
    font-weight: 600;
    color: gray;
    top: -2.5em;
    letter-spacing: .083333em;
    text-transform: uppercase;
}
