<div class="result-alert chart-alert" role="alert">
  <p class="alert"><strong>We're sorry!</strong> Based on the information you entered, we don't have enough data to display results.</p>
  <p class="point-right">Change your settings</p>
  <p><a id ="reload-link" class="defaults-link" href="">Or, revert to our default values</a>
</div>
