
span.ec{cursor:pointer;}
.ec,.ec-blk {    
    font-size:14px;
	font-weight:400;
	text-decoration:none;
	padding-left:20px;
    padding-right:20px;
	background-image:url(expand_collapse.png);
	background-repeat:no-repeat; 
	background-position-x:0px;
	background-position-y:-1px;
}

.collapse {background-position-y:-24px;color:#212121;}
.compare-table{margin-top:0px;}
.line p{margin-top:0px;margin-left:1px;}

/*.ico-pad .icon{margin-top:8px;}*/

.loans-table td{width:250px;}
thead th {padding:1px;}
#print-accordion {display:none;}