/* ==========================================================================
   TEMPORARY COPY OF CF-ICONS
   Remove when https://github.com/cfpb/consumerfinance.gov/pull/3887 is
   merged and deployed.
   ========================================================================== */

//
// Theme variables
//

//
// Size variables
//

// Icon height matches the 19px rendered canvas of text set in Avenir Next
// sized at 16px ( 19/16 = 1.1875 )
@cf-icon-height: 1.1875em;


//
// The basics
//

.cf-icon-svg {
    height: @cf-icon-height;
    vertical-align: text-top;
    fill: currentColor;

    // IE 10 & 11 require a max-width otherwise the SVG takes up 100%
    max-width: 1em;
}
