<header class="header
               wrapper
               wrapper__match-content"
        role="banner">
    <a href="/">
        <img class="header_logo u-js-only"
             src="{{ static('img/logo_sm-exec.svg')}}"
             onerror="this.onerror=null;this.src='{{ static('img/logo_sm-exec.png')}}';"
             alt="Consumer Financial Protection Bureau"
             width="237"
             height="50">
        <noscript>
            <img class="header_logo logo__no-js"
                 src="{{ static('img/logo_sm-exec.png')}}"
                 alt="Consumer Financial Protection Bureau"
                 width="237"
                 height="50">
        </noscript>
    </a>
</header>
