{% extends 'layout-2-1-bleedbar.html' %}

{% set breadcrumb_items = [{
    "title": "FOIA Requests",
    "href": "/foia-requests/",
    },{
    "title": "Submit a FOIA or Privacy Act Request",
    "href": "/foia-requests/submit-request/",
}] %}

{% block meta_viewport %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block title -%}
    Privacy Act Statement | Consumer Financial Protection Bureau
{%- endblock %}

{% block desc -%}
    The Privacy Act statement for the CFPB’s records disclosure and access forms. 
{%- endblock %}

{% block og_desc -%}
    The Privacy Act statement for the CFPB’s records disclosure and access forms. 
{%- endblock %}

{% block content_main %}
    <div class="block block__flush-top">
        <h1>
            Privacy Act statement
        </h1>
        <p class="lead-paragraph">
            5 U.S.C. 552a(e)(3)
        </p>
        <p>
            In accordance with the Bureau’s Privacy Act Regulations, 12 CFR 1070.50, <i>et seq</i>. personal information sufficient to identify the individuals requesting access to records under the Privacy Act of 1974, 5 U.S.C. § 552a, is required.
            The purpose of this solicitation is to ensure that the records of individuals who are the subject of CFPB systems of records are not wrongfully disclosed by CFPB.
            Requests will not be processed if this information is not furnished. False information on this form may subject the requester to criminal penalties under 18 U.S.C. § 1001 and/or 5 U.S.C. § 552a(i)(3).
            Information collected will be treated in accordance with the SORN, CFPB.001 – Freedom of Information Act/Privacy Act System, 85 FR 3655.
            Although the Bureau does not anticipate further disclosing information provided, it may be disclosed as indicated in the Routine Uses described in the SORN.
            Direct identifying information will be kept private except as required by law.
        </p>
    </div>
{% endblock %}

{% block content_sidebar -%}
    {% include '_sidebar.html' %}
{%- endblock %}
