{% extends "base.html" %}

{% block demo_title -%}
    Newsroom listing
{%- endblock %}

{% block title -%}
    Newsroom
{%- endblock %}
{% block desc -%}
    Press releases, speeches, op-eds, testimony, and blog posts produced by our Office of Communications
{%- endblock %}

{% block content %}


    {# Variables #}

    {% set active_filters =
       selected_filters_for_field('category') +
       selected_filters_for_field('tags') +
       selected_filters_for_field('author')
    %}

    {% set active_date_filters =
       selected_filters_for_field('range_date_gte') + 
       selected_filters_for_field('range_date_lte')
    %}

    {% set active_filters_total = active_filters|length + active_date_filters|length %}

    {# Set a common 'query' variable to enable sharing of filtering functions
       between blog and newsroom. #}
    {% set query = queries.newsroom %}

    {% set newsroom = query.search_with_url_arguments(size=10) %}
    {% set view = get_document('views', 'newsroom') %}

    {# Set 'posts' to the newsroom query to enable
       some functions already developed for blog. #}
    {% set posts = newsroom %}

    {# Get the latest watchroom post. #}
    {% set watchroom = queries.watchroom.search_with_url_arguments(size=1) %}

    {# Macros #}

    {% import "post-macros.html" as post_macros with context %}


    <main class="content content__1-3" id="main" role="main">

        <!-- .content_bar must come after .content_hero but before .content_wrapper -->
        <div class="content_bar"></div>

        <div class="wrapper content_wrapper">

            <aside class="content_sidebar">
                {% include "nav.html" %}
            </aside>

            <section class="content_main content__flush-bottom">
                {% include "post-filters.html" %}
                {% include "watchroom.html" %}
                {% include "posts-paginated.html" %}
                <aside class="content_block">
                    <h1 class="header-slug">
                        <span class="header-slug_inner">
                            Stay informed
                        </span>
                    </h1>
                    <div class="content-l">
                        <div class="content-l_col content-l_col-1-2">
                            <p class="short-desc">
                                Subscribe to our email newsletter. We will update you on new newsroom updates.
                            </p>
                            {% include "email-subscribe-form.html" %}
                        </div>
                        <div class="content-l_col content-l_col-1-2">
                            <p class="short-desc">
                                Subscribe to our RSS feed to get the latest content in your reader.
                            </p>
                            <a class="btn" href="/feed/newsroom">
                                <!-- <span class="btn-icon-left cf-icon cf-icon-rss"></span> -->
                                Subscribe to RSS
                            </a>
                        </div>
                    </div>
                </aside>
                <aside class="content_block content_block__flush-bottom content_block__flush-sides content_block__bg">
                    <div class="content-l">
                        <section class="content-l_col content-l_col-1-2">
                            {% include "related-links.html" %}
                        </section>
                        <section class="content-l_col content-l_col-1-2">
                            {% include "upcoming-events.html" %}
                        </section>
                    </div>
                </aside>
            </section>

        </div><!-- END .content_wrapper -->
    </main><!-- END .content -->

{% endblock content %}
