#header,
#footer {
  /*ul {list-style: none;}*/

  /* tables still need cellspacing="0" in the markup */

  /* Accessible focus treatment
        people.opera.com/patrickl/experiments/keyboard/test */

  /* Make sure sup and sub don't screw with your line-heights
        gist.github.com/413930 */

  /* standardize any monospaced elements */

  /* hand cursor on clickable elements */

  /* Webkit browsers add a 2px margin outside the chrome of form elements */

  /* make buttons play nice in IE */

  /***** BASE STYLES *****/

  /***** LAYOUT *****/

  /***** STATES *****/

  /* Current consumerfinance.gov modules */

  /* This is a straight up copy of the button styles */

}
#header article,
#footer article,
#header aside,
#footer aside,
#header figure,
#footer figure,
#header footer,
#footer footer,
#header header,
#footer header,
#header hgroup,
#footer hgroup,
#header nav,
#footer nav,
#header section,
#footer section {
  display: block;
}
#header img,
#footer img,
#header object,
#footer object,
#header embed,
#footer embed {
  max-width: 100%;
}
#header html,
#footer html {
  overflow-y: scroll;
}
#header blockquote,
#footer blockquote,
#header q,
#footer q {
  quotes: none;
}
#header blockquote:before,
#footer blockquote:before,
#header blockquote:after,
#footer blockquote:after,
#header q:before,
#footer q:before,
#header q:after,
#footer q:after {
  content: '';
  content: none;
}
#header a,
#footer a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
#header del,
#footer del {
  text-decoration: line-through;
}
#header abbr[title],
#footer abbr[title],
#header dfn[title],
#footer dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
#header table,
#footer table {
  border-collapse: collapse;
  border-spacing: 0;
}
#header th,
#footer th {
  font-weight: bold;
  vertical-align: bottom;
}
#header td,
#footer td {
  font-weight: normal;
  vertical-align: top;
}
#header hr,
#footer hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
#header input,
#footer input,
#header select,
#footer select {
  vertical-align: middle;
}
#header pre,
#footer pre {
  white-space: pre;
  /* CSS2 */

  white-space: pre-wrap;
  /* CSS 2.1 */

  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */

  word-wrap: break-word;
  /* IE */

}
#header input[type="radio"],
#footer input[type="radio"] {
  vertical-align: text-bottom;
}
#header input[type="checkbox"],
#footer input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
#header .ie6 input,
#footer .ie6 input {
  vertical-align: text-bottom;
}
#header select,
#footer select,
#header input,
#footer input,
#header textarea,
#footer textarea {
  font: 99% sans-serif;
}
#header table,
#footer table {
  font-size: inherit;
  font: 100%;
}
#header a:hover,
#footer a:hover,
#header a:active,
#footer a:active {
  outline: none;
}
#header small,
#footer small {
  font-size: 85%;
}
#header strong,
#footer strong,
#header th,
#footer th {
  font-weight: bold;
}
#header td,
#footer td,
#header td img,
#footer td img {
  vertical-align: top;
}
#header sub,
#footer sub,
#header sup,
#footer sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
#header sup,
#footer sup {
  top: -0.5em;
}
#header sub,
#footer sub {
  bottom: -0.25em;
}
#header pre,
#footer pre,
#header code,
#footer code,
#header kbd,
#footer kbd,
#header samp,
#footer samp {
  font-family: monospace, sans-serif;
}
#header .clickable,
#footer .clickable,
#header label,
#footer label,
#header input[type=button],
#footer input[type=button],
#header input[type=submit],
#footer input[type=submit],
#header button,
#footer button {
  cursor: pointer;
}
#header button,
#footer button,
#header input,
#footer input,
#header select,
#footer select,
#header textarea,
#footer textarea {
  margin: 0;
}
#header button,
#footer button {
  width: auto;
  overflow: visible;
}
#header p,
#footer p {
  margin: 1em 0;
}
#header h1,
#footer h1,
#header h2,
#footer h2,
#header h3,
#footer h3,
#header h4,
#footer h4,
#header h5,
#footer h5,
#header h6,
#footer h6 {
  font-family: "Avenir Next", Verdana, sans-serif;
}
#header .lt-ie9 h1,
#footer .lt-ie9 h1,
#header .lt-ie9 h2,
#footer .lt-ie9 h2,
#header .lt-ie9 h3,
#footer .lt-ie9 h3,
#header .lt-ie9 h4,
#footer .lt-ie9 h4,
#header .lt-ie9 h5,
#footer .lt-ie9 h5,
#header .lt-ie9 h6,
#footer .lt-ie9 h6 {
  font-family: "Avenir Next Demi", Verdana, sans-serif;
}
#header .lt-ie9 h1 em,
#footer .lt-ie9 h1 em,
#header .lt-ie9 h1 i,
#footer .lt-ie9 h1 i,
#header .lt-ie9 h2 em,
#footer .lt-ie9 h2 em,
#header .lt-ie9 h2 i,
#footer .lt-ie9 h2 i,
#header .lt-ie9 h3 em,
#footer .lt-ie9 h3 em,
#header .lt-ie9 h3 i,
#footer .lt-ie9 h3 i,
#header .lt-ie9 h4 em,
#footer .lt-ie9 h4 em,
#header .lt-ie9 h4 i,
#footer .lt-ie9 h4 i,
#header .lt-ie9 h5 em,
#footer .lt-ie9 h5 em,
#header .lt-ie9 h5 i,
#footer .lt-ie9 h5 i,
#header .lt-ie9 h6 em,
#footer .lt-ie9 h6 em,
#header .lt-ie9 h6 i,
#footer .lt-ie9 h6 i {
  font-family: "Avenir Next Demi Italic", Verdana, sans-serif;
}
#header h1,
#footer h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.375;
}
#header h2,
#footer h2 {
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.08em;
}
#header h3,
#footer h3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2em;
}
#header h4,
#footer h4 {
  font-size: 1.0em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
#header h5,
#footer h5 {
  font-size: 1em;
  font-weight: 600;
}
#header h6,
#footer h6 {
  font-size: 1em;
  font-weight: 600;
}
#header a,
#footer a {
  text-decoration: none;
  color: #4d819a;
  padding-bottom: 0.1em;
  border-bottom: 1px dotted #4d819a;
}
#header blockquote,
#footer blockquote {
  background-color: #e5dfd6;
  padding: 1em 3.0em 0.5em;
  font-family: "Avenir Next", Verdana, sans-serif;
  margin-bottom: 1em;
  border-left: 5px solid #beb099;
}
#header input,
#footer input {
  font-size: 1em;
  border: 1px inset #afafb3;
  border-radius: 0.25em;
  box-shadow: inset 2px 1px 2px -3px #aaaaaa;
  padding: .25em .5em;
  background-color: #fff;
}
#header input[type='radio'],
#footer input[type='radio'],
#header input[type='checkbox'],
#footer input[type='checkbox'] {
  border: none;
  padding: none;
}
#header textarea,
#footer textarea {
  font-size: 1em;
  border: 1px inset #afafb3;
  box-shadow: inset 2px 1px 2px -3px #aaaaaa;
  padding: .25em .5em;
}
#header button,
#footer button {
  color: #fff;
  background-color: #50a748;
  font-family: "Avenir Next", Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 0.35em;
  font-size: .875em;
  border: 1px outset #afafb3;
  position: relative;
  top: -1px;
  padding: .45em .75em;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  transition: all 700ms ease;
}
#header button:disabled,
#footer button:disabled {
  background-color: #a9dc93;
}
#header select,
#footer select {
  font-size: 1em;
}
#header fieldset,
#footer fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
#header legend,
#footer legend {
  padding: 0;
  max-width: 100%;
}
#header {
  background-color: #fff;
  padding: 1em 0 0;
  border-bottom: 5px solid #333;
}
#header a {
  padding: 0;
  border: none;
  color: #333;
  background-color: #fff;
}
#header #logo {
  margin-top: 0.5em;
}
#header > div {
  width: 976px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
#header h1 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
#header nav {
  border-top: 1px solid #333;
  margin: 1em 0 0;
}
#header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 1016px;
  display: table;
}
#header nav ul li {
  font-family: "Avenir Next", Verdana, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
  display: table-cell;
  width: auto;
  letter-spacing: 0.08em;
  margin: 0;
}
.lt-ie8 #header nav ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.lt-ie9 #header nav ul li {
  font-family: "Avenir Next Demi", Verdana, sans-serif;
}
#header nav ul li a {
  -webkit-transition: background-color ease 1000ms;
  -moz-transition: background-color ease 1000ms;
  transition: background-color ease 1000ms;
  display: block;
  width: auto;
  height: auto;
  padding: 0.5em 0.85em 0.25em 0.85em;
  color: #333;
  text-align: center;
  background-color: #fff;
  border: none !important;
}
#header nav ul li a:visited {
  color: #333;
}
#header nav ul li a:hover {
  background-color: #dbe6eb;
  color: #333;
}
#header nav ul li a:focus {
  background-color: #fff;
}
#header nav ul li a.active {
  background-color: #dbe6eb;
}
#header nav ul li a.complaint {
  color: #50a748;
}
#subnav {
  width: 976px;
  margin: 0 auto;
  padding: 1em 20px;
  background-color: #fff;
}
.js #subnav {
  width: auto;
  padding: 0;
  background-color: transparent;
}
#subnav nav {
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  border: 1px solid #333;
  padding: 0 1em;
  background-color: #dbe6eb;
  z-index: 100;
}
#subnav nav a{
  color: #333;
  border: none;
}
#subnav nav h4 {
  display: none;
}
#subnav nav ul {
  margin: 1em 0;
  width: 13em;
  padding: 0;
  list-style-type: none;
}
#subnav nav {
  position: absolute;
  top: 10.25em;
  display: none;
  border-top: none;
}
#subnav nav ul li {
  border-bottom: 1px solid #afafb3;
  padding: 0.5em;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}
#subnav nav ul li:last-child{
  border-bottom: none;
}
#subnav nav ul li h5 {
  margin: 0;
}
#subnav nav ul li p {
  margin: 0;
  font-size: 0.8333em;
  color: #626263;
}
#subnav nav ul li ul li {
  border-bottom: none;
  padding: 0;
  margin-top: 0.5em;
  font-family: "Avenir Next", Verdana, sans-serif;
  word-wrap: normal;
}
#subnav .close {
  font-size: 0.625em;
  font-family: "Avenir Next", Verdana, sans-serif;
  display: block;
  text-align: right;
  padding-bottom: 1em;
}
#subnav a:hover
#subnav a:focus {
  background-color: inherit;
}
#footer {
  font-size: 0.833333333em;
  padding: 2em 0;
  background-color: #fff;
  border-top: 1px solid #333;
}
#footer > div > a {
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
  margin: 1em 1.9685% 0 1.9685%;
  width: 22.53937%;
}
#footer > div > nav {
  border-left: 1px solid #afafb3;
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
  width: 18.50393%;
  padding: 0 1.5%;
  margin-left: 1.9685%;
  vertical-align: top;
  min-height: 12.5em;
}
#footer > div {
  width: 1060px;
  padding: 0;
  margin: 0 auto;
}
#footer > div p {
  margin: 1em 0;
}
#footer > div > a:link {
  padding: 0;
  border: none;
}
#footer > div > nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer > div > nav > ul li {
  margin: 0.75em 0 0;
}
#search_form {
  position: absolute;
  top: 2.35em;
  right: 0;
  text-align: right;
  width: 40%;
}
#search_form button {
  background: #50b948 url(/static/nemo/_/img/search_bg.png) no-repeat center left;
  text-indent: -9999px;
  width: 3em;
}
#header .single .inf,
#footer .single .inf {
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
}
#header .single input,
#footer .single input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-size: 1em;
}
#header .single button,
#footer .single button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
  line-height: 1.95;
  padding: 0 0.5em;
  position: relative;
  top: 1px;
  left: -3px;
}
.lt-ie8 #header .single button,
.lt-ie8 #footer .single button {
  line-height: 1.6;
  top: 4px;
}
#header .inf,
#footer .inf {
  position: relative;
}
#header .inf > label,
#footer .inf > label {
  position: absolute;
  padding: 0 0.5em;
  top: 0.25em;
  z-index: 10;
  background-color: #fff;
  color: #444;
  font-family: "Avenir Next", Verdana, sans-serif;
}
#header .inf > input,
#footer .inf > input {
  position: relative;
  z-index: 20;
  background: transparent;
  background: rgba(255, 255, 255, 0.25);
  -webkit-transition: background 700ms ease;
  -moz-transition: background 700ms ease;
  transition: background 700ms ease;
  width: 210px;
}
#header .inf .filled,
#footer .inf .filled {
  background: #fff;
}
#header .lang,
#footer .lang {
  color: #626263;
  font-family: "Avenir Next", Verdana, sans-serif;
  font-size: 13px;
  position: absolute;
  top: 16px;
  right: 0;
  margin: 0;
}
#header .govt,
#footer .govt {
  color: #626263;
  font-family: "Avenir Next", Verdana, sans-serif;
  font-size: 0.83333333em;
  position: absolute;
  top: 0px;
  right: 2em;
  margin: 0;
  background: transparent url("../img/us_flag_small.png") right center no-repeat;
  padding-right: 24px;
}
#header aside,
#footer aside {
  display: inline-block;
}
#footer button a {
  color: white;
  border-bottom: none;
}
#footer button a:hover {
  background: transparent;
}
#footer > div > nav > div > p {
  padding-top: 1em;
}
#header .check ul,
#footer .check ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
#header .bottom,
#footer .bottom {
  display: block;
  max-width: 976px;
  border: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
#header .bottom > ul,
#footer .bottom > ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 1em 1.9685%;
  border-top: 1px solid #afafb3;
}
#header .bottom > ul > li,
#footer .bottom > ul > li {
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
  margin-right: 1em;
}
#header .bottom > ul > li + li,
#footer .bottom > ul > li + li {
  border-left: 1px solid #afafb3;
  padding-left: 1em;
}
#header .bottom img,
#footer .bottom img {
  position: absolute;
  right: 1.9685%;
  top: 0.75em;
}
#header .lt-ie9 .bottom img,
#footer .lt-ie9 .bottom img {
  top: 2.75em;
}
#header a:hover,
#footer a:hover,
#header a:focus,
#footer a:focus {
  background-color: #dbe6eb;
  border-bottom-style: solid;
}
#header footer > div > a:hover,
#footer footer > div > a:hover,
#header header > div > a:hover,
#footer header > div > a:hover {
  background-color: transparent;
}
.share {
  background: url( /static/nemo/_/img/diagonal_texture.png );
  text-align: center;
  border: 1px solid #eee;
  width: 9em;
  padding: 0.25em 1em;
  margin: 2em auto;
  clear: both;
}
.share h3 {
  margin: 0 0 3px;
}
.share a {
  border: none;
  padding: 0 2px;
}
.share a:hover
.share a:focus {
  background-color: transparent;
  border: none;
}
.share a:hover img,
.share a:focus img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#header input:focus,
#footer input:focus {
  border: 1px solid #50a748;
}
#header .inf input:focus,
#footer .inf input:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
}
#header button:hover,
#footer button:hover,
#header button:focus,
#footer button:focus {
  cursor: pointer;
  outline: 2px;
}
#header button:disabled:hover,
#footer button:disabled:hover,
#header button:disabled:focus,
#footer button:disabled:focus {
  cursor: default;
}
.wrapper-banner,
.wrapper-header {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  color: #101820;
  font-size: 75%;
}
.wrapper-banner {
  width: 100%;
  background-color: #f7f5f4;
  padding: 4px 0;
  text-align: center;
}
.wrapper-banner a {
  background: none;
  margin: 0 6px;
  padding-bottom: none;
  border-bottom: none;
}
.wrapper-container {
  line-height: 1.25em;
  width: 1016px;
  margin: 0 auto;
  text-align: left;
  font-size: 93%;
}
.small {
  font-size: 0.625em;
}
.split {
  line-height: 1.25em;
  width: 1016px;
  display: block;
  position: relative;
}
.split-right {
  position: absolute;
  right: 0;
  left: auto;
  display: inline-block;
  text-align: right;
  margin-right: 28px;
}
.official-website {
  margin-left: 1.9685%;
  padding-left: 24px;
  background: transparent url("../../img/us_flag_small.png") left center no-repeat;
}
.split a {
  background: none;
}
#header .noStyles,
#footer .noStyles,
#header a.noStyles:hover,
#footer a.noStyles:hover {
  color: #333;
  border: none;
  padding: 0;
  background: none;
}
#header .horizontal-list-item,
#footer .horizontal-list-item {
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */

  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
#header .horizontal-list-item img,
#footer .horizontal-list-item img {
  vertical-align: top;
}
#header .link-button,
#footer .link-button,
#header .link-button:hover,
#footer .link-button:hover,
#header .link-button:active,
#footer .link-button:active,
#header .link-button:focus,
#footer .link-button:focus {
  color: #fff !important;
  background-color: #50a748;
  font-family: "Avenir Next", Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 0.35em;
  font-size: .875em;
  border: 1px outset #afafb3;
  position: relative;
  top: -1px;
  padding: .45em .75em;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  transition: all 700ms ease;
}