{% extends 'layout-2-1-bleedbar.html' %}

{# Import organisms and molecules used in the template. #}
{% import 'organisms/image-and-text-50-50.html' as image_and_text_50_50 %}

{% block title -%}
    TODO: This is a prototype page for testing landing page layouts.
    Remove when fully implemented elsewhere.
{%- endblock %}


{% block content_main %}
    <div class="block
                block__flush-top">
        {# TODO: Add main molecules and organisms. #}
        <h1>Landing Page Prototype</h1>


    </div>
    <div class="content-l">
        <div class="content-l_col-1-2">
                {{ image_and_text_50_50.render({
                                'title' : 'Image and Text 50-50',
                                'image_path': 'http://placehold.it/1600x900',
                                'image_alt': 'This is a placeholder image',
                                'is_widescreen': true,
                                'description': 'When image conveys critical information and text is supporting it --
                                i.e. chart, excerpt from document',
                                'is_button' : true,
                                'link_url': 'http://www.google.com',
                                'link_text' : 'Visit Google'
                                }) }}
        </div>
    </div>
{% endblock %}

{% block content_sidebar scoped -%}
    <aside>
        {# TODO: Add sidebar organisms. #}
    </aside>
{%- endblock %}
