/* topdoc
  name: Featured Menu Content
  family: cfgov-molecules
  patterns:
    - name: Default example
      markup: |
          <aside class="m-featured-menu-content">
              <div class="m-featured-menu-content_text">
                  <p class="h4">
                      <a href="#">
                          The CFPB: Working for you
                      </a>
                  </p>
                  <p>
                      Short description.
                  </p>
              </div>
              <a href="#" class="m-featured-menu-content_img">
                  <img src="../img/fmc-image-540x300.jpg"
                       alt="Video image"
                       height="150"
                       width="270">
              </a>
          </aside>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-featured-menu-content
            .m-featured-menu-content_text
              p.h4
                a
              p
            a.m-featured-menu-content_img
              img
      notes:
        - "The m-featured-menu-content__horizontal
           can be added to change the layout side-by-side text and image."
  tags:
    - cfgov-molecules
*/

.m-featured-menu-content {
    .grid_column( 4 );

    padding: 0 unit( @grid_gutter-width / 2 / @base-font-size-px, em );

    &_text {
        display: table-footer-group;
    }

    &_img {
        // Width of Featured Menu Content image.
        min-width: 270px;
        display: table-header-group;
    }

    &__horizontal {
        .m-featured-menu-content_text,
        .m-featured-menu-content_img {
            display: table-cell;
            vertical-align: top;
        }

        .m-featured-menu-content_text {
            padding-right: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
        }
    }

    .respond-to-max( @bp-med-max, {
        display: none;
    } );

    .respond-to-min( @bp-xl-min, {
        padding-right: unit( @grid_gutter-width / @base-font-size-px, em );
        padding-left: unit( @grid_gutter-width / @base-font-size-px, em );
    } );
}

/* topdoc
    name: EOF
    eof: true
*/
