/* topdoc
  name: Submit a Complaint Call to Action (CTA)
  family: cfgov-molecules
  patterns:
    - name: Horizontal layout example
      markup: |
        <div class="m-global-header-cta">
            <a href="#">Submit a Complaint</a>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-global-header-cta
            a
  tags:
    - cfgov-molecules
*/

.m-global-header-cta {
    border-left: 1px solid @gray-40;
    padding-left: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
    padding-top: 13px;
    padding-bottom: 11px;

    a {
        // Colors for :link, :visited, :hover, :focus, :active.
        .u-link__colors( @pacific, @pacific, @pacific-dark, @pacific, @navy-dark );
        font-weight: 500;
    }
}

/* topdoc
    name: EOF
    eof: true
*/
