/* topdoc
  name: Global Eyebrow
  family: cfgov-molecules
  patterns:
    - name: Horizontal layout example
      markup: |
        <div class="m-global-eyebrow
                    m-global-eyebrow__horizontal">
            <div class="wrapper">
              <div class="m-global-eyebrow_tagline"></div>
              <ul class="m-global-eyebrow_languages">
                <li><a href="/es/" hreflang="es" lang="es">Español</a></li>
              </ul>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-global-eyebrow.m-global-eyebrow__horizontal
            .wrapper
              .m-global-eyebrow_tagline
              ul.m-global-eyebrow_languages
                li
                  a
    - name: List item example
      markup: |
        <div class="m-global-eyebrow
                    m-global-eyebrow__list">
            <div class="wrapper">
              <div class="m-global-eyebrow_tagline"></div>
              <ul class="m-global-eyebrow_languages">
                <li><a href="/es/" hreflang="es" lang="es">Español</a></li>
              </ul>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-global-eyebrow.m-global-eyebrow__list
            .wrapper
              .a-tagline
              ul.m-global-eyebrow_languages
                li
                  a
  tags:
    - cfgov-molecules
*/

.m-global-eyebrow {
    font-size: unit( 12px / @base-font-size-px, em);

    &_actions {
        text-align: right;
    }

    &_languages {
        display: inline;

        .m-list_item:not(:last-child) {
            margin-right: unit( 7px / 12px, em );
            margin-bottom: 0;

            .respond-to-min( @bp-lg-min, {
                margin-right: unit( 10px / 12px, em );
            } );
        }

        a {
            .u-link__no-border();
        }
    }

    &_phone {
        padding-left: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
    }

    &__horizontal {
        width: 100%;
        display: inline-block;
        padding-top: unit( @grid_gutter-width / 3 / @base-font-size-px, em );
        padding-bottom: unit( @grid_gutter-width / 3 / @base-font-size-px, em );
        background: @gray-5;
        border-bottom: 1px solid @gray-40;

        .a-tagline {
            float: left;
        }

        .m-global-eyebrow_languages {
            text-align: right;
        }

        // Tablet/mobile sizes.
        .respond-to-max( @bp-sm-max, {
          .m-global-eyebrow_actions {
            display: none;
          }
        } );
    }

    &__list {
        padding-top: unit( @grid_gutter-width / 2 / @base-font-size-px, rem );
        padding-left: unit( @grid_gutter-width / @base-font-size-px, rem );
        padding-right: unit( @grid_gutter-width / 2 / @base-font-size-px, rem );
        padding-bottom: unit( @grid_gutter-width / @base-font-size-px, rem );

        .a-tagline {
          display: none;
        }

        .m-global-eyebrow_actions {
            text-align: left;
        }

        .m-global-eyebrow_phone,
        .m-global-eyebrow_languages {
            display: block;
            padding-left: 0;
        }

        .m-global-eyebrow_phone {
          border-top: 1px solid @gray-40;
          padding-top: unit( @grid_gutter-width / 2 / @base-font-size-px, rem );

          // Apply padding to the phone number to increase the touch area.
          a {
            padding-top: unit( @grid_gutter-width / 2 / @base-font-size-px, rem );
            padding-bottom: unit( @grid_gutter-width / 2 / @base-font-size-px, rem );
          }
        }

        .m-global-eyebrow_languages {
          margin-bottom: unit( @grid_gutter-width / 2 / @base-font-size-px, rem );

          .m-list_item {
            // Apply padding to the language links to increase their touch area.
            a {
              display: block;
              text-align: center;
              min-width: 48px;
              padding-top: unit( @grid_gutter-width / 2 / @base-font-size-px, rem );
              padding-bottom: unit( @grid_gutter-width / 2 / @base-font-size-px, rem );
            }
          }
        }
    }
}

/* topdoc
    name: EOF
    eof: true
*/
