.m-global-header-cta {
  border-left: 1px solid var(--gray-40);
  padding-left: unit(@grid_gutter-width / 2 / @base-font-size-px, em);
  padding-top: 13px;
  padding-bottom: 11px;

  a {
    // Colors for :link, :visited, :hover, :focus, :active.
    .u-link--colors( var(--pacific), var(--pacific), var(--pacific-dark), var(--pacific), var(--navy-dark) );
    font-weight: 500;
  }
}
