/* ==========================================================================
   cfgov-refresh
   Global banner in the header.
   ========================================================================== */
.m-global-banner {
    // Override notification box styling to align notification in header.
    .m-notification {
        border: none;
        padding: 0;

        &_icon {
          left: 0;
          top: 0;
        }
    }
}
/* topdoc
    name: EOF
    eof: true
*/
