// Copied from capital-framework:prerelease-ver-4 on 9/8/16
// Remove when cfgov-refresh upgrades to CF4.

//
// Theme variables
// NOTE: Variables have been commented out here and declared in cf-theme-overrides.less
//

// Sizing variables

// @hero-desktop-height: 285px;
// @hero-image-height:   195px;
//
// // Color variables
// // $color- variables are from 18F's U.S. Web Design Standards
// // https://github.com/18F/web-design-standards/blob/master/src/stylesheets/core/_variables.scss
//
// @hero-bg:             #dce4ef; // $color-gray-cool-light
// @hero-overlay-bg:     #5b616b; // $color-gray
// @hero-overlay-text:   white;
// @hero-overlay-cta:    #dce4ef; // $color-gray-cool-light


.m-hero {
    background-color: @hero-bg;

    .respond-to-min( @bp-sm-min, {
        width: 100%;
        min-height: @hero-desktop-height;
    } );

    &_wrapper {
        padding-top: unit( @grid_gutter-width / @base-font-size-px, em );
        padding-bottom: unit( @grid_gutter-width / @base-font-size-px, em );

        .respond-to-min( @bp-sm-min, {
            display: flex;
            min-height: @hero-desktop-height;
            padding: 0;
        } );

        .respond-to-max( @bp-xs-max, {
            padding-top: unit( @grid_gutter-width / @base-font-size-px, em );
            padding-bottom: unit( @grid_gutter-width / @base-font-size-px, em );
        } );
    }

    &_text {
        margin: 0 unit( @grid_gutter-width / 2 / @base-font-size-px, em );

        .respond-to-min( @bp-sm-min, {
            // Provides width for all browsers and inline-block display fallback
            // for browsers that don't support flexbox.
            .grid_column( 7, 12 );

            padding: unit( @grid_gutter-width / @base-font-size-px, em ) 0;

            // Full `margin: auto;`` for vertical centering with Flexbox.
            margin: auto;

            // `vertical-align: middle;`` for vertical centering in
            // inline-block mode.
            vertical-align: middle;

            .lt-ie10 & {
                // Undo the full margin: auto; from the flexbox implementation.
                margin: 0 -0.25em 0 0;
                // Hacky magic number fix to correct stupid IE rounding errors.
                width: 58%;
            }
        } );

        .respond-to-min( @bp-med-min, {
            padding: unit( @grid_gutter-width * 1.5 / @base-font-size-px, em ) 0;
        } );

        .respond-to-range( @bp-sm-min, ( @bp-lg-max - @grid_gutter-width ), {
            padding-left: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
        } );
    }

    &_heading {
        // Not using the `.h1()` mixin here because we want the
        // size to change at a different breakpoint.
        .heading-2();

        margin-top: 0;

        .respond-to-min( @bp-med-min, {
            .heading-1();
        } );
    }

    &_subhead,
    &_cta:not( .a-btn ) {
        // Not using the `.intro-pagraph()` mixin here because we want the
        // size to change at a different breakpoint.
        font-size: @size-iv;
        line-height: 1.25;

        .respond-to-min( @bp-med-min, {
            font-size: @size-iii;
        } );
    }

    &_subhead {
        // In case the subhead is on a `p` element and is followed by a CTA.
        // Possibly unnecessary.
        margin-bottom: 0;
    }

    &_cta {
        // Gives the ability to affect margins if class is applied directly to
        // an `a` element.
        display: inline-block;

        margin-top: unit( @grid_gutter-width / 2 / @size-iv, em );

        &.a-btn {
            margin-top: unit( @grid_gutter-width / 2 / @btn-font-size, em );
        }

        &:not( .a-btn ) {
            border-bottom-width: 1px;
        }

        .respond-to-min( @bp-med-min, {
            margin-top: unit( @grid_gutter-width / 2 / @size-iii, em );
        } );
    }

    &_image-wrapper {
        margin: unit( @grid_gutter-width / @base-font-size-px, em )
                unit( @grid_gutter-width / 2 / @base-font-size-px, em )
                0
                unit( @grid_gutter-width / 2 / @base-font-size-px, em );

        // Center images when narrower than viewport in single-column layout.
        text-align: center;

        .respond-to-min( @bp-sm-min, {
            // Provides width for all browsers and inline-block display fallback
            // for browsers that don't support flexbox.
            .grid_column( 5, 12 );

            padding: unit( ( @hero-desktop-height - @hero-image-height ) / 2 / @base-font-size-px, em ) 0;

            // Full margin: auto; for vertical centering with Flexbox.
            margin: auto;

            // vertical-align: middle; for vertical centering in inline-block mode.
            vertical-align: middle;

            .lt-ie10 & {
                // Undo the full margin: auto; from the flexbox implementation.
                margin: 0;
            }
        } );

        &__bleed-vertical {
            padding: 0;

            .m-hero_image {
                height: auto;
            }

            .m-hero_image__bleeding {
                width: 100%;
                height: 100%;
                min-height: @hero-desktop-height;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .respond-to-max( @bp-xs-max, {
                // Hide the bleeding image on smaller screens.
                .m-hero_image__bleeding {
                    display: none;
                }
            } );

            .respond-to-min( @bp-sm-min, {
                margin: 0;

                .m-hero_image {
                    // Hide the alternate small screen image on larger screens.
                    display: none;
                }
            } );
        }
    }

    &_image {
        max-width: 100%;
        max-height: unit( @hero-image-height / @base-font-size-px, em );

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        // Removes space below image created by standard inline display.
        vertical-align: middle;
    }

    &__overlay {
        .m-hero_wrapper {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .respond-to-max( @bp-xs-max, {
            .m-hero_wrapper {
                // Remove wrapper bottom padding to prevent background color
                // from peeking through under the image.
                padding-bottom: 0;

                // Overwrite the image that is set in the markup because
                // we're showing the image container below instead.
                background-image: none !important;
            }

            .m-hero_image-wrapper {
                // Push left and right edges of image out to edge of screen.
                margin-right: 0;
                margin-left: 0;
            }

            .m-hero_image {
                // Remove max-height constraint to ensure that image can bleed
                // to the left and right edges of the screen.
                max-height: none;
            }
        } );

        .respond-to-min( @bp-sm-min, {
            .m-hero_image {
                // Overwrite the image but don't remove the container from
                // the grid flow. Necessary due to table-cell.
                display: none;
            }
        } );

        .respond-to-min( ( @bp-lg-max - @grid_gutter-width ), {
            .m-hero_wrapper {
                padding: 0 unit( @grid_gutter-width / 2 / @base-font-size-px, em );
            }
        } );
    }

    &__overlay-text {
        background-color: @hero-overlay-bg;

        .m-hero_wrapper {
            color: @hero-overlay-text;
        }

        .m-hero_cta {
            color: @hero-overlay-cta;
        }

        .m-hero_cta.a-btn {
            // Prevent inline style from CMS from overriding button text color.
            color: @btn-text !important;
        }
    }
}
