
/* topdoc
  name: Theme variables
  family: cfgov-organisms
  notes:
    - "The following sizing variables are exposed,
       allowing you to easily override them before compiling."
  patterns:
  - name: Sizes
    codenotes:
      - |
        @home-hero_sm
        @home-hero_lg
  tags:
  - less
*/
@home-hero_sm: 100%;
@home-hero_lg: 1230px;

/* topdoc
  name: Home Hero
  family: cfgov-molecules
  patterns:
    - name: Default example
      markup: |
        <div class="m-home-hero" style="background-image: url(lg_img.jpg);">
            <div class="content-l">
                <section class="m-home-hero_content">
                    <h1 class="m-home-hero_heading">Home Hero</h1>
                    <p class="m-home-hero_text">
                        Home Hero content
                    </p>
                </section>
            </div>
            <div class="m-home-hero_sm-img"
                 style="background-image: url(sm_img.jpg);"></div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-home-hero
            .content-l
              .m-home-hero_content
                .m-home-hero_heading
                .m-home-hero_text
              .m-home-hero_sm-img

  tags:
    - cfgov-molecules
*/

.m-home-hero {
    position: relative;

    padding-top: unit( @grid_gutter-width / @base-font-size-px, em );
    padding-right: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
    padding-left: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );

    .respond-to-max( @bp-xs-max, {
        // Hide the background set in the markup for small devices
        background: transparent !important;
    } );

    .respond-to-min( @bp-sm-min, {
        padding: unit( 45px / @base-font-size-px, em )
                 unit( @grid_gutter-width / @base-font-size-px, em );
        min-height: 380px - ( 45px * 2 );

        background-color: @gray;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: @home-hero_lg;
        color: @white;
    } );

    .respond-to-min( @bp-xl-min, {
        padding-right: unit( 45px / @base-font-size-px, em );
        padding-left: unit( 45px / @base-font-size-px, em );

        // Max-width - both gutters: required due to well spanning the
        // full page
        max-width: 1230px - ( 45px * 2 );
        margin: 0 auto;
    } );

    &_content {
        .respond-to-max( @bp-xs-max, {
            margin-bottom: unit( @grid_gutter-width / @base-font-size-px, em );
        } );

        .respond-to-min( @bp-sm-min, {
            .grid_column( 1, 1 );
        } );

        // Adding a custom breakpoint at 776px to fix specific
        // layout issues
        .respond-to-range( 776px, @bp-sm-max, {
            .grid_column( 8, 12 );
        } );

        .respond-to-min( @bp-med-min, {
            .grid_column( 7, 12 );
        } );
    }

    &_heading {
        .respond-to-min( @bp-sm-min, {
            .superheading();
        } );
    }

    &_text {
        .lead-paragraph();

        .respond-to-min( @bp-sm-min, {
            .heading-2();
        } );
    }

    &_sm-img {
        .u-flexible-container();

        background-position: center center;
        background-repeat: no-repeat;
        background-size: @home-hero_sm;

        .respond-to-max( @bp-xs-max, {
            margin-right: -15px;
            margin-left: -15px;
        } );

        .respond-to-min( @bp-sm-min, {
            // Hide this faux image and rely on the background of the hero
            display: none;
        } );
    }

    // Hide image on print.
    .respond-to-print( {
        &_sm-img {
            display: none;
        }
    } );
}

/* topdoc
    name: EOF
    eof: true
*/
