/* topdoc
  name: Info Unit
  family: cfgov-molecules
  patterns:
    - name: Default example
      markup: |
        <div class="m-info-unit">
            <img src="https://placehold.it/267x150"
                 alt="Image alt"
                 class="m-info-unit_image">
            <div class="m-info-unit_content">
                <h2>
                    Basic Info Unit
                </h2>

                <p>
                    Body text
                </p>

                <ul class="m-list m-list__links">
                    <li class="m-list_item">
                        <a class="m-list_link"
                           href="#">
                            Link Text
                        </a>
                    </li>
                    <li class="m-list_item">
                        <a class="m-list_link"
                           href="#">
                            Link Text
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-info-unit
            .m-info-unit_image
            .m-info-unit_content
              h2
              p
              ul.m-list.m-list__links
                li.m-list_item
                  a.m-list_link
    - name: Square/Circle image
      markup: |
        <div class="m-info-unit">
            <img src="https://placehold.it/267x150"
                 alt="Image alt"
                 class="m-info-unit_image
                        m-info-unit_image__square">
            <div class="m-info-unit_content">
                ...
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-info-unit
            .m-info-unit_image.m-info-unit_image__square
            .m-info-unit_content
              ...
    - name: Inline Layout (aka 25/75)
      markup: |
        <div class="m-info-unit
                    m-info-unit__inline">
            <img src="https://placehold.it/267x150"
                 alt="Image alt"
                 class="m-info-unit_image
                        m-info-unit_image__square">
            <div class="m-info-unit_content">
                ...
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-info-unit.m-info-unit__inline
            .m-info-unit_image.m-info-unit_image__square
            .m-info-unit_content
              ...
  tags:
    - cfgov-molecules
*/

@m-info-unit_img__sm: 130px;
@m-info-unit_img__lg: 150px;

/*
    info-unit Helper Mixin -
    This mixin is used to create the main info-unit class below.
    It shouldn't be used on it's own.
 */
.u-info-unit-base() {
    &_image {
        display: block;
        margin-right: auto;
        margin-bottom: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
        margin-left: auto;
        background-size: cover;

        &__square {
            width: unit( @m-info-unit_img__sm / @base-font-size-px, em );
            height: unit( @m-info-unit_img__sm / @base-font-size-px, em );

            .respond-to-min( @bp-med-min, {
                width: unit( @m-info-unit_img__lg / @base-font-size-px, em );
                height: unit( @m-info-unit_img__lg / @base-font-size-px, em );
            } );
        }
    }

    &_heading-link {
        display: block;

        .u-link__colors( @black, @pacific-80 );
    }

    &_btn {
        .respond-to-max( @bp-xs-max, {
            width: 100%;
            text-align: center;
        } );
    }
}

/*
    Inline info-unit Helper Mixin -
    This mixin is used to modify an info-unit to an inline arrangement.
    Most of the time the `.m-info-unit__inline` class will be sufficient,
    but there are limited situations the inline arrangement needs to be conditioned.
    See /pages/home.less L:103
 */
.u-info-unit-base__inline( @img_size ) {
    .u-clearfix();

    .m-info-unit_image {
        float: left;
        margin-bottom: 0;
    }

    .m-info-unit_content,
    .m-info-unit_heading-text {
        margin-left: unit( ( @img_size + @grid_gutter-width ) / @base-font-size-px, em );
    }
}

.m-info-unit {
    .u-info-unit-base();

    &__inline {
        .respond-to-range( @bp-sm-min, @bp-sm-max, {
            .u-info-unit-base__inline( @m-info-unit_img__sm );
        } );

        .respond-to-min( @bp-med-max, {
            .u-info-unit-base__inline( @m-info-unit_img__lg );
        } );
    }

    // Hide image on print.
    .respond-to-print( {
        &_image {
            display: none;
        }
    } );
}

/* topdoc
    name: EOF
    eof: true
*/
