/* topdoc
  name: Insets near Full Width Text
  family: cfgov-molecules
  patterns:
    - name: Default example
      markup: |
        <div class="o-full-width-text-group">
            <div class="m-full-width-text"></div>
            <div class="m-inset
                        m-inset__bottom-rule
                        m-inset__left
                        m-inset__portrait
                        m-inset__270">
                <div class="m-inset_image-container">
                    <img class="m-inset_image" />
                </div>
                <div class="m-inset_caption"></div>
                <div class="m-quote"></div>
                <div class="m-related-links"></div>
                <div class="m-call-to-action"></div>
            </div>
            <div class="m-full-width-text"></div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .o-full-width-text
            .m-full-width-text
            .m-inset
            .m-inset__bottom-rule
            .m-inset__left
            .m-inset__portrait
            .m-inset__270
                .m-inset_image-container
                    img.m-inset_image
                .m-inset_caption
                .m-quote
                .m-related-links
                .m-call-to-action
            .m-full-width-text
  tags:
    - cfgov-molecules
  notes:
    - These are held in a full-width-text-group container to be held with
      various full-width text blocks, insets, and tables as needed.
*/

.m-inset {
    width: 100%;
    clear: right;
    margin-left: auto;
    margin-right: auto;

    &__bottom-rule {
        padding-bottom: unit( @grid_gutter-width / 2 / @base-font-size-px, em );
        border-bottom: 1px solid @horizontal-rule;
    }

    &_caption {
        margin-top: unit( 15px / @base-font-size-px, em );
    }

    &__bordered { // Styling for "Tip" insets, most commonly used in Ask CFPB
        border-top: 4px solid @teal-60;
        border-bottom: 2px solid @teal-40;
        padding: unit( @grid_gutter-width / 2 / @base-font-size-px, em ) 0;
        margin-bottom: unit( @grid_gutter-width /2 / @base-font-size-px, em );

        .respond-to-min(@bp-sm-min, {
            margin: unit( 3px / @base-font-size-px, em )
                    0
                    unit( @grid_gutter-width / @base-font-size-px, em )
                    unit( @grid_gutter-width / @base-font-size-px, em );
            padding: unit( @grid_gutter-width / @base-font-size-px, em ) 0;
        } );
    }

    &.m-inset__170 {
        // Ensure that 170px inset images are that same size on XS screens
        width: unit( 170px / @base-font-size-px, em );
    }

    &__270 {
        // Ensure that 270px inset images are that same size on XS screens
        width: unit( 270px / @base-font-size-px, em );
    }

    .respond-to-min( @bp-sm-min, {
        // Default anything with just an .m-inset class to 270px floating right,
        // e.g., quote and related links blocks.
        float: right;
        width: unit( 270px / @base-font-size-px, em );

        &__left {
            float: left;
            clear: left;
        }

        .m-call-to-action {
            width: 100%;
        }
    } );

    .respond-to-min( @bp-xl-min, {
        &__470 {
            width: unit( 470px / @base-font-size-px, em );
        }
    } );

    .m-call-to-action,
    .m-related-links {
        padding-bottom: unit( @grid_gutter-width / @base-font-size-px, em );
        border-bottom: 1px solid @horizontal-rule;
    }

    .m-full-width-text,
    .m-quote {
        padding-top: unit( @grid_gutter-width / @base-font-size-px, em );
        padding-bottom: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
        border-top: 1px solid @horizontal-rule;
        border-bottom: 1px solid @horizontal-rule;
        margin-bottom: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
    }
}

// in .content__1-3 pages, inset should be 4 of 9 columns
// except in the 600-650px range, where it becomes unusably narrow
.content__1-3 .m-inset__email {
    .respond-to-min(650px, {
        width: percentage( 4 / 9 );
    });
}


/* topdoc
    name: EOF
    eof: true
*/
