// Initial and no-js state.
select.o-multiselect {
  box-sizing: border-box;
  width: 100%;
  padding: unit( 7px / @base-font-size-px, em );
}

.o-multiselect {
    position: relative;

    &_header {
        position: relative;
    }

    &_search[type="text"] {
        display: block;

        box-sizing: border-box;
        width: 100%;
    }

    &_fieldset {
        // Resets
        border-color: @input-border;
        border-top: none;
        margin: 0;
        padding: 0;

        // Styles
        box-sizing: border-box;
        overflow-y: scroll;
        position: absolute;
        z-index: 10;

        max-height: 0;
        margin-top: -1px;
        width: 100%;

        transition: max-height 0.25s ease-out;
    }

     &.u-active {
        .o-multiselect_fieldset {
            margin-top: 0;
            max-height: 140px;

            border-color: @pacific;
            border-width: 2px;
            border-top: 0;
        }
    }

    &_options {
        background-color: @white;
        padding: unit( 10px / @base-font-size-px, em );

        li:last-child {
            margin-bottom: 0;
        }

        &.u-filtered li:not( .u-filter-match ) {
            display: none;
        }

        &.u-no-results,
        &.u-max-selections {
            li {
                display: none;
            }

            &:after {
                display: list-item;
            }
        }

        &.u-no-results:after {
            content: 'No results found';
        }

        &.u-max-selections:after {
            content: 'Reached maximum of five selections';
        }
    }

    &_choices {
        // The following is required to make side-by-side LI
        // have a space between them.
        margin-right: unit( -10px / @base-font-size-px, em );
        margin-bottom: 0;

        li {
            display: inline-block;

            // The following is required to make side-by-side LI
            // have a space between them.
            margin-right: unit( 10px / @base-font-size-px, em );
        }

        li:last-child {
            margin-bottom: unit( 10px / @base-font-size-px, em );
        }

        label {
            display: inline-block;
            padding: 2px 5px;
            padding-right: unit( 25px / @size-v, em );

            background-color: @navy-80;
            border-radius: unit( 4px / @size-v, em );
            color: @white;
            cursor: pointer;
            font-size: unit( 14px / @base-font-size-px, em );
            position: relative;

            &:hover {
                background-color: @navy;

                &:after {
                    color: @white;
                }
            }

            .cf-icon-svg {
                position: absolute;
                top: 3px;
                right: 5px;
                fill: @navy-20;
            }
        }
    }
}
