.cf-multi-select {
    position: relative;

    &_header {
        position: relative;
    }

    &_search[type="text"] {
        display: block;

        box-sizing: border-box;
        width: 100%;

        .active & {
            border-color: @pacific;
            outline: 1px solid @pacific;
        }
    }

    &_fieldset {
        // Resets
        border-color: @input-border;
        border-top: none;
        margin: 0;
        padding: 0;

        // Styles
        box-sizing: border-box;
        overflow-y: scroll;
        position: absolute;
        z-index: 10;

        max-height: 0;
        margin-top: -1px;
        width: 100%;

        background-color: @white;
        transition: max-height 0.25s ease-out;
    }

     &.active {
        .cf-multi-select_fieldset {
            margin-top: 0;
            max-height: 140px;

            border-color: @pacific;
            border-top: 1px solid;
            outline: 1px solid @pacific;
        }
    }

    &_options {
        padding: unit(10px / @base-font-size-px, em);

        li:last-child {
            margin-bottom: 0;
        }

        &.filtered li:not( .filter-match ) {
            display: none;
        }

        &.no-results,
        &.max-selections {
            li {
                display: none;
            }

            &:after {
                display: list-item;
            }
        }

        &.no-results:after {
            content: 'No results found';
        }

        &.max-selections:after {
            content: 'Reached maximum of five selections';
        }
    }

    .cf-input[type="checkbox"] + label {
        margin-bottom: 0;
    }

    &_choices {
        margin-bottom: 0;

        li {
            display: inline-block;

            margin-right: unit(15px / @base-font-size-px, em);
        }

        label {
            padding: 2px 5px;

            background-color: @navy-80;
            border-radius: unit(4px / @base-font-size-px, em);
            color: @white;
            cursor: pointer;
            font-size: unit(14px / @base-font-size-px, em);

            &:hover {
                background-color: @navy;

                &:after {
                    color: @white;
                }
            }

            &:after {
                .cf-icon();

                margin-left: unit(15px / 14px, em);

                color: @navy-20;
                content: @cf-icon-delete;
            }
        }
    }
}
