@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.m-pill {
  @include heading-6($has-margin-bottom: false, $has-margin-top: false);
  display: inline-block;
  width: fit-content;
  height: 100%;
  padding: math.div(5px, $base-font-size-px) + rem
    math.div(7px, $base-font-size-px) + rem;
  border-radius: $btn-border-radius-size;
  line-height: 1;

  &--archived {
    background-color: var(--teal-mid-dark);
    color: var(--white);
  }
}
