@gap: unit(15px / @base-font-size-px, rem);

.m-related-posts_list {
  display: grid;
  column-gap: @gap * 2;
  row-gap: @gap;

  grid-template-columns: repeat(
    auto-fit,
    // 230px is an arbitrary width for small screens.
    minmax(230px, calc(50% - @gap))
  );

  .m-list_link {
    .u-link__colors(@pacific, @pacific, @pacific-60, @pacific, @navy);
    .u-link__no-border();

    &:hover {
      border-bottom: 1px dotted;
    }
  }

  .m-list_item .a-date {
    margin-bottom: 0;
    margin-top: unit(10px / @base-font-size-px, rem);
  }
}

.m-related-posts_list-container {
  margin-bottom: @gap * 2;

  &:last-child {
    margin-bottom: 0;
  }
}
// Mobile only.
.respond-to-max(@bp-xs-max, {
  // Always remove columns at mobile size.
  .m-related-posts_list {
    grid-template-columns: initial;
  }
});

// Desktop and above.
.respond-to-min(@bp-med-min, {
  // If in the sidebar at desktop sizes, do not break into columns.
  // Related posts also appear in the pre-footer, so we exclude that here.
  .u-layout-grid_sidebar .m-related-posts_list {
    grid-template-columns: initial;
  }
});
