/* topdoc
  name: Related Metadata
  family: cfgov-molecules
  patterns:
    - name: Default example
      markup: |
    <div class="m-related-metadata">
        <h2 class="header-slug">
            <span class="header-slug_inner">
                Related Metadata
            </span>
        </h2>
        <div class="m-related-metadata_item-container">
            <h4></h4>
            <ul class="list
                       list__unstyled
                       list__links">
                <li class="list_item">
                    <a class="list_link">
                    </a>
                </li>
            </ul>
            <p class="date u-mb0"></p>
            <p class="short-desc u-mb0"></p>
            <ul class="list list__unstyled list__links m-related-metadata_topics">
                <li class="list_item">
                    <a href="" class="list_link">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    codenotes:
      - |
        Structural cheat sheet:
        -----------------------
        .m-related-metadata
          .header-slug
            .header-slug_inner
        .m-related-metadata_item-container
          h4
          .list
            .list_item
              .list_link
          .date .u-mb0
          .short-desc .u-mb0
          .m-related-metadata_topics
            .list.list__unstyled.list__links
              .list-item
                a.list-link
  tags:
    - cfgov-molecules
*/

@margin_half__em: unit(15px / @base-font-size-px, em);

@bullet-font-size__em: unit(15px / @base-font-size-px, em);

.m-related-metadata {
    .list_link {
        .u-link__colors(@pacific, @pacific, @pacific-60, @pacific, @navy);
    }

    .respond-to-range(@bp-sm-min, @bp-sm-max, {
        border-left: @margin_half__em solid transparent;
        border-right: @margin_half__em solid transparent;
    });
}

.m-related-metadata_item-container {
    &:not(:last-child) {
        margin-bottom: @margin_half__em * 2;
    }
}

.m-related-metadata_topics {
    line-height: 1em;

    .list_link {
        .h6();
        position: relative;
        margin: 0 0 0 @bullet-font-size__em;
        text-transform: uppercase;

        .u-link__colors(@gray, @gray, @gray, @gray, @gray,
                        @gold-80, @gold-80, @gold-80, @gold-80, @gold-80);

        &:before {
            position: absolute;
            left: -@bullet-font-size__em;
            width: @bullet-font-size__em;

            // Adding bullet.
            content: "\2022";
            color: @gold-80;
        }
    }

    .respond-to-max(@bp-sm-min, {
        .list_link {
            margin-left: 0;

            &:before {
                position: static;
            }
        }
    });
}

.m-related-metadata__half-width {
    .respond-to-range(@bp-sm-min, @bp-sm-max, {
        border: 0;

        .m-related-metadata_item-container {
            .grid_column(6);
        };

        .header-slug {
            margin-left: @margin_half__em;
            margin-right: @margin_half__em;
        }
    });
}

/* topdoc
    name: EOF
    eof: true
*/
