/* topdoc
  name: Related Posts
  family: cfgov-molecules
  patterns:
    - name: Default example
      markup: |
    <div class="m-related-posts">
        <h2 class="header-slug">
            <span class="header-slug_inner">
                Related Posts
            </span>
        </h2>
        <ul class="m-related-posts_list">
            <li class="list_item">
                <h3 class="h4 u-mb5">
                    <a class="list_link" >
                    </a>
                </h3>
                <p class="date">
                    <span class="datetime">
                        <time class="datetime_date" datetime="">
                        </time>
                    </span>
                </p>
            </li>
        </ul>
    </div>
    codenotes:
      - |
        Structural cheat sheet:
        -----------------------
        .m-related-posts
          .header-slug
            .header-slug_inner
        .m-related-posts_list
          .list-item
            h3
              .list-link
            .date
              .datetime
                .time.datetime_date
  tags:
    - cfgov-molecules
*/

@margin_half__em: unit(15px / @base-font-size-px, em);

@list_half-width: {

    .list_item {
        .grid_column(6);
    }

    // Using .list__spaced items within a grid column causes unwanted
    // extra margins because grid columns suppress margin collapsing.
    // To counteract that we need to use a negative margin on the list.
    // This means we also need to add a top margin to the first list
    // item since the default .list__spaced only applies margins to
    // .list_item + .list_item.
    &.list__spaced {
        margin-top: @margin_half__em * -1;

        .list_item {
            margin-top: @margin_half__em;
        }
    }
};

.m-related-posts {

    .respond-to-range(@bp-sm-min, @bp-sm-max, {
        .grid_column(12);
    });
}

.m-related-posts__half-width {
    .m-related-posts_list {
        .respond-to-min(@bp-sm-min, {
            @list_half-width();
        });
    }
}

.m-related-posts_list {
    .list_link {
        .u-link__colors(@pacific, @pacific, @pacific-60, @pacific, @navy);
        .u-link__no-border();

        &:hover {
            border-bottom: 1px dotted;
        }
    }

    .list_item .date {
        margin-bottom:0;
        margin-top: unit(10px / @base-font-size-px, em);
    }
    .respond-to-range(@bp-sm-min, @bp-sm-max, {
        @list_half-width();
    });
}

.m-related-posts_list-container {
    margin-bottom: @margin_half__em * 2;

    &:last-child {
        margin-bottom: 0;
    }

    .respond-to-range(@bp-sm-min, @bp-sm-max, {
        .m-related-posts_list {
            .grid_nested-col-group();
        }
    });
}

/* topdoc
    name: EOF
    eof: true
*/
