// Modifier for jump links to give them topic-tags style gold/gray styling.
.a-link--jump-gold {
  font-size: unit(12px / @base-font-size-px, rem);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--gold-80);
  border-color: var(--gold-80);
  letter-spacing: 1px;

  .u-link-colors(var(--gold-80));

  .a-link__text {
    color: var(--gray-90);
    border-bottom-color: var(--gold-80);
  }

  a&:hover .a-link__text {
    color: var(--black);
  }

  a&:hover:before {
    border-color: var(--gold-80);
    color: var(--gold-80);
  }

  // If it's not a link, don't add a border.
  // TODO: Make it so topic tag related metadata items are ALWAYS links.
  span&:hover:before {
    border-top-color: transparent !important;
  }
}

@margin-half-em: unit(15px / @base-font-size-px, em);

.m-related-metadata {
  .m-list__link {
    .u-link-colors(var(--pacific), var(--pacific), var(--pacific-60), var(--pacific), var(--navy));
  }

  // Tablet only.
  .respond-to-range(@bp-sm-min, @bp-sm-max, {
    border-left: @margin-half-em solid transparent;
    border-right: @margin-half-em solid transparent;
  });
}

.m-related-metadata__item-container {
  &:not(:last-child) {
    margin-bottom: @margin-half-em * 2;
  }

  .status-definitions {
    display: block;
  }
}

.m-related-metadata__status {
  div {
    margin-bottom: 1.25em;
  }

  h6 {
    margin-bottom: 0.25em;
    color: var(--gray);
  }
}

.m-related-metadata__topics {
  line-height: 1em;
}
