/* topdoc
  name: Social Media
  family: cfgov-molecules
  patterns:
    - name: Default example
      markup: |
        <div class="m-social-media m-social-media__share">
            <h5 class="m-social-media_heading">Share this</h5>
            <ul class="m-list">
                <li class="m-list_item">
                    <a class="m-social-media_icon" href="#">
                        {{ svg_icon('email') }}
                        <span class="u-visually-hidden">
                            Share by email
                        </span>
                    </a>
                </li>
            </ul>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-social-media.m-social-media__share
            .m-social-media_heading
            ul.m-list
              li.m-list_item
                .m-social-media_icon
                  .cf-icon-svg
                  span.u-visually-hidden
      notes:
        - "m-social-media__follow modifier is identical
           but does not include the heading."
  tags:
    - cfgov-molecules
*/

.m-social-media {
  //icon CSS needs to be separate to cover footer icons as well
  .m-social-media_icon {
    color: @gray-dark;
    font-size: unit(@grid_gutter-width / @base-font-size-px, rem);
    line-height: 1;
    .u-link__colors( @gray-dark, @pacific-80 );
    .u-link__no-border();
  }

  &__share {
    display: inline-block;

    .m-social-media_heading {
      .heading-5();
      display: inline-block;
      // 0.25em subtracted to compensate for inline spacing
      padding-right: unit(15px / @base-font-size-px - 0.25rem, rem);
      margin: 0;
      vertical-align: middle;
    }

    .m-list {
      display: inline-block;
      vertical-align: middle;

      .m-list_item {
        // 0.25em subtracted to compensate for inline spacing
        padding-right: unit(15px / @base-font-size-px - 0.25rem, rem);
        margin: 0;
      }

      .m-social-media_print {
        padding-left: unit(15px / @base-font-size-px - 0.25rem, rem);
        border-left: 1px solid @black;
      }
    }

    // Hide on print.
    .respond-to-print( {
      & {
        display: none;
      }
    } );

    // Position share & print text above social media icons
    // for rtl on small screens
    .respond-to-max( @bp-xs-max,  {
      .m-social-media_heading {
        padding-bottom: unit(15px / @base-font-size-px - 0.25rem, rem);
      }
    
      & .m-list {
        width: 100%;
      }
      
      .m-list_item:first-child {
        // 0.25em subtracted to compensate for inline spacing
        padding-right: 0;
      }
    } );
  }
}

.no-js .m-social-media_print {
  display: none;
}

//fix issue with padding/margin and verticle rule appearing to the left of print icon
html[lang='ar'] .m-social-media__share {
  .m-social-media_heading {
    padding-right: 0;
  }

  .m-social-media_print {
    padding-left: 0;
    border-left: none;
    margin-right: unit(15px / @base-font-size-px - 0.25rem, rem);
    padding-right: unit(15px / @base-font-size-px - 0.25rem, rem);
    border-right: 1px solid @black;
  }
}

/* topdoc
    name: EOF
    eof: true
*/
