/* topdoc
  name: Social Media
  family: cfgov-molecules
  patterns:
    - name: Default example
      markup: |
        <div class="m-social-media m-social-media__share">
            <h5 class="m-social-media_heading">Share this</h5>
            <ul class="m-list">
                <li class="m-list_item">
                    <a class="m-social-media_icon" href="#">
                        {{ svg_icon('email') }}
                        <span class="u-visually-hidden">
                            Share by email
                        </span>
                    </a>
                </li>
            </ul>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .m-social-media.m-social-media__share
            .m-social-media_heading
            ul.m-list
              li.m-list_item
                .m-social-media_icon
                  .cf-icon-svg
                  span.u-visually-hidden
      notes:
        - "m-social-media__follow modifier is identical
           but does not include the heading."
  tags:
    - cfgov-molecules
*/

.m-social-media {
  display: inline-block;

  // This could be wrapped in the `m-social-media__share` modifier,
  // but it's ok on its own too.
  &_heading {
    .heading-5();
    display: inline-block;
    // 0.25em subtracted to compensate for inline spacing
    padding-right: unit(@grid_gutter-width / @font-size - 0.25em, em);
    margin-bottom: 0;
    vertical-align: middle;
  }

  .m-list {
    display: inline-block;
    vertical-align: middle;

    .m-list_item {
      // 0.25em subtracted to compensate for inline spacing
      margin-right: unit(
        (@grid_gutter-width / 2) / @base-font-size-px - 0.25em,
        em
      );
      margin-bottom: 0;
    }

    .m-list_item:last-child {
      margin-right: 0;
    }
  }

  &_icon {
    color: @gray-dark;
    font-size: unit(@grid_gutter-width / @base-font-size-px, em);
    line-height: 1;
    .u-link__colors( @gray-dark, @pacific-80 );
    .u-link__no-border();
  }

  &_print {
    padding-left: unit((@grid_gutter-width / 2) / @base-font-size-px, em);
    border-left: 1px solid @black;
  }

  // Hide on print.
  .respond-to-print( {
    & {
      display: none;
    }
  } );
}

.no-js .m-social-media_print {
  display: none;
}

//fix issue with padding/margin and verticle rule appearing to the left of print icon
html[lang='ar'] .m-social-media {
  &_heading {
    padding-right: 0;
  }

  .m-list_item:last-child {
    margin-right: unit(15px / @base-font-size-px, rem);
  }

  &_print {
    padding-left: 0;
    border-left: none;
    padding-right: unit((@grid_gutter-width / 2) / @base-font-size-px, em);
    border-right: 1px solid @black;
  }

  //Position share & print text above social media icons and remove right margin
  .respond-to-max( @bp-xs-max,  {
    & .m-list {
      width: 100%;
      padding-top: unit(15px / @base-font-size-px, rem);

      & .m-list_item:first-child {
        margin-right: 0;
      }
    }    
  } );
}

/* topdoc
    name: EOF
    eof: true
*/
