@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/utilities' as *;

$bullet-font-size: 17px;

.m-tags {
  // Mobile.
  &__heading {
    display: block;
    color: var(--black);

    @include h4;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    list-style-type: none;
  }

  &__tag {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    color: var(--gray);

    @include h6;

    // Override h6 margin and line-height.
    margin: 0;
    line-height: $bullet-font-size;
  }

  &__item {
    margin: 0;
  }

  &__bullet {
    position: absolute;
    left: -1em;
    color: var(--gold-80);
    font-size: math.div($bullet-font-size, $base-font-size-px) + rem;
    margin-right: math.div(5px, $base-font-size-px) + rem;
    margin-left: $bullet-font-size;
  }

  a.m-tags__tag {
    @include u-link-colors(
      var(--gray),
      var(--gray),
      var(--gray),
      var(--gray),
      var(--gray),
      var(--gold-80),
      var(--gold-80),
      var(--gold-80),
      var(--gold-80),
      var(--gold-80)
    );
  }

  // Negate the border of the sibling when hovering.
  &__item:hover + &__item {
    a.m-tags__tag {
      border-top: none;
    }
  }

  // Mobile only.
  @include respond-to-max($bp-xs-max) {
    &__tag {
      height: 100%;
      width: 100%;
      padding-top: math.div(10px, $base-font-size-px) + rem;
      padding-bottom: math.div(10px, $base-font-size-px) + rem;
      padding-left: $bullet-font-size;
      border-top: 1px dotted var(--gold-80);
    }

    a.m-tags__tag {
      border-bottom-width: 0;

      &:hover {
        border-top: 1px solid var(--gold-80);
        border-bottom: 1px solid var(--gold-80);
      }
    }

    // Add bottom border to last tag.
    &__item:last-child {
      // This needs to appear after border-bottom-width: 0;
      .m-tags__tag {
        border-bottom: 1px dotted var(--gold-80);
      }
    }
  }

  // Tablet and above.
  @include respond-to-min($bp-sm-min) {
    display: flex;
    align-items: baseline;
    gap: math.div(15px, $base-font-size-px) + rem;

    &__list {
      flex-direction: row;
      gap: math.div(15px, $base-font-size-px) + rem;
    }

    &__tag {
      margin-left: $bullet-font-size;
    }

    &__bullet {
      margin-left: 0;
    }
  }

  @include respond-to-print {
    display: none;
  }
}

// Right-to-left (RTL) adjustments for arabic pages.
html[lang='ar'] {
  .m-tags {
    &__bullet {
      position: absolute;
      right: -1rem;
      left: initial;
      color: var(--gold-80);
    }

    // Mobile only.
    @include respond-to-max($bp-xs-max) {
      &__tag {
        padding-right: $bullet-font-size;
      }

      &__bullet {
        right: math.div(-7px, $base-font-size-px) + rem;
      }
    }

    // Tablet and above.
    @include respond-to-min($bp-sm-min) {
      &__tag {
        margin-left: 0;
        margin-right: $bullet-font-size;
      }

      &__bullet {
        margin-right: 0;
      }
    }
  }
}
