#featured-story-embed {padding-top:1.67em;}

#pfc_content {

}

.share, .botshare {display:none;}

#pfc_content li,
#pfc_content label {
    font-family: "Avenir Next", Arial, sans-serif;
}

#pfc_content #hero {
    background-color: #d84d2d;
    background-image: none;
    height: 271px;
    width: 1016px;
    margin-top: -29px;
    padding-top: 0px;
    margin-left: -20px;
    position: relative;
}

#pfc_content #hero img {
    position: absolute;  
}

#pfc_content #hero #hero_hgroup {
    position: absolute;
        right: 0;
        top: 40%;
}

#pfc_content #hero h1 {
    background: #FFF;
    color: #d84d2d;
    float: right;
    font-size: 2.5em;
    font-weight: 500;
    padding:4px 20px 4px 70px;
    vertical-align: middle;
}

/* Moving out of Beta, saving if we need it.
#pfc_content #hero .beta {
    color: #FFF;
    float: right;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.08em;
    vertical-align: middle;
    margin-top: -27px;
    line-height: 1.67em;
    padding-right: 7px;
    text-transform: uppercase;
}
*/

#pfc_content #hero h2 {
    background: #df8b74;
    clear: right;
    color: #FFF;
    float: right;
    font-size: 1.1em;
    padding: 15px 20px 15px 15px;
    margin-top: -6px;
    text-align: right;
    text-transform: none;
    vertical-align: middle;
    line-height: 1.67em;
}

#hero h3 {
    line-height: 1.67em;
}


#pfc_content .sidekick > div.twothirds-col,
#pfc_content .sidekick > div.two-col {
    width: 100%;
}

#pfc_content .sidekick h2 {
    background-color: #FFF;
    font-weight: 600;
    letter-spacing: 1px;
}

.pfc-lnk{margin:-15px 0 15px 0;}
#pfc_content .sidekick a.arrow {
    background: transparent url("http://files.consumerfinance.gov/f/theme/_/img/blue_arrow_links.png") right no-repeat;
    padding-right: 20px;
}

#pfc_content .sidekick-intro-blurb {
    padding-top: 15px;
}



#pfc_content .sidekick-intro-blurb h2 {
    font-size:27px; 
    font-weight:500;
    margin-top: 15px;
    line-height: 1.2em;
}

#pfc_content .sidekick-intro-blurb h3 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5em;
}

#pfc_content .sidekick-offer-me {
    padding-top: 0em;
}
#pfc_content .sidekick-offer-me h2 {
    border-top: 1px solid #333;
}

#pfc_content .sidekick h4 {
    color: #004D6B;
    /*margin-top: 1em;*/
    margin-bottom: -.67em;
}

#pfc_content li,
#pfc_content label {
    font-family: "Avenir Next", Arial, sans-serif;
}

#pfc_content #hero {
    background-color: #d84d2d;
    background-image: none;
    height: 271px;
    width: 1016px;
    margin-top: -29px;
    padding-top: 0px;
    margin-left: -20px;
    position: relative;
}

#pfc_content #hero img {
    position: absolute;
     
}

#pfc_content #hero #hero_hgroup {
    position: absolute;
        right: 0;
        top: 40%;
}

#pfc_content #hero h1 {
    background: #FFF;
    color: #d84d2d;
    float: right;
    font-size: 2.5em;
    font-weight: 500;
    padding:4px 20px 4px 70px;
    vertical-align: middle;
}

#pfc_content #hero h2 {
    background: #df8b74;
    clear: right;
    color: #FFF;
    float: right;
    font-size: 1.1em;
    padding: 15px 20px 15px 15px;
    margin-top: -6px;
    text-align: right;
    text-transform: none;
    vertical-align: middle;
    line-height: 1.67em;
}

#hero h3 {
    line-height: 1.67em;
}


#pfc_content .sidekick > div.twothirds-col,
#pfc_content .sidekick > div.two-col {
    width: 100%;
}


#pfc_content .sidekick-intro-blurb {
    padding-top: 15px;
}



#pfc_content .sidekick-intro-blurb h2 {
    font-size:27px; 
    font-weight:500;
    margin-top: 15px;
    line-height: 1.2em;
}

#pfc_content .sidekick-intro-blurb h3 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5em;
}

#pfc_content .sidekick-offer-me {
    padding-top: 0em;
}
#pfc_content .sidekick-offer-me h2 {
    border-top: 1px solid #333;
}

#pfc_content .sidekick h3 {
    text-transform:none;
    font-weight:400;
    letter-spacing:0;
}

#pfc_content .sidekick-compare-costs h3 {
    background-image: url("comparison-icon.png");
    margin-top: 1em;

}

#pfc_content .sidekick-guides h3 {
    background-image: url("guides-icon.png");
     margin-top: 1em;
}


#pfc_content .sidekick-ultratool h3 {
    background-image: url("ultratool-icon.png");
     margin-top: 1em;
}

/* #pfc_content .sidekick-featured-story div {
    width: 100%;

}
#pfc_content .sidekick-featured-story h3 {
    background-image: url("featured-story-icon.png");


    
}
#pfc_content .sidekick-featured-story img {
    border: none;
    float: right;
    margin: 1em 3em 1em 1em;
}
#pfc_content .sidekick-featured-story h3+p {
    
}
*/


#pfc_content .sidekick-featured-story {
    margin-top: 0px;
}

#pfc_content .sidekick-featured-story h3 {
    background-image: url("featured-story-icon.png");
    
}

#pfc_content .sidekick-featured-story .col-mapping .map-line {
    margin: 2em .5em 2em 0;
}

#pfc_content .sidekick-featured-story .col-mapping .map-line h3 {
    display: inline-block;
    font-size: 1em;
    margin: 0px;
    min-height: 1em;
    padding: 0px 0px 0px 0px;
    width: 5em;
}


#pfc_content .sidekick-featured-story .col-mapping ul {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
} 

#pfc_content .sidekick-featured-story .col-mapping ul li {
    display: inline-block;
}

#pfc_content .sidekick-featured-story .col-mapping ul li a.arrow {
    font-size: .9em;
    margin-right: 10px;
}


#pfc_content hr.gray-rule {
    background-color: #DDD;
    border: none;
    height: 1px;
    margin: .5em auto;
    width: 90%;
}


#pfc_content .sidekick-engage .col-share-this-page h3 {
  
}

#pfc_content .sidekick-engage .col-share-this-page div.input-container {

    margin: .5em 0;
}

#pfc_content .sidekick-engage .col-share-this-page label {
    background-repeat: no-repeat;
    background-position: 1.25em .75em;
    display: inline-block;
    padding: .2em 10px .2em 50px;
    width: 100px;
}
#pfc_content .sidekick-engage .col-share-this-page label.email {
    background-image: url("email-page-icon.png");
}
#pfc_content .sidekick-engage .col-share-this-page label.permalink {
    background-image: url("hyperlink-icon.png");
}

#pfc_content .sidekick-engage .col-share-this-page input {
    font-size: .9em;
}

#pfc_content .sidekick-engage .col-share-this-page textarea {
    border: 1px inset #AFAFB3;
    border-radius: 0.25em;
    font-size: .9em;
    height: 5em;
    margin: .2em 10px .2em 165px;
    width: 188px;
}



#pfc_content .sidekick-engage .col-share-this-page button {
    margin: .2em 10px .2em 165px;
}

#pfc_content .sidekick-explore {
    margin-top: 0px;
}

#pfc_content .sidekick-explore h3 {
    background-image: url("your-story-icon.png");
    
}

#pfc_content .sidekick-explore .col-mapping .map-line {
    margin: 2em .5em 2em 0;
}

#pfc_content .sidekick-explore .col-mapping .map-line h3 {
    display: inline-block;
    font-size: 1em;
    margin: 0px;
    min-height: 1em;
    padding: 0px 0px 0px 0px;
    width: 5em;
}


#pfc_content .sidekick-explore .col-mapping ul {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
} 

#pfc_content .sidekick-explore .col-mapping ul li {
    display: inline-block;
}

#pfc_content .sidekick-explore .col-mapping ul li a.arrow {
    font-size: .9em;
    margin-right: 10px;
} 





/*****  TIMELINE *****/
/* STRUCTURE / GRID / METRICS !
-------------------------------------------------------------------------------*/

.vspace2 {margin-top:30px; margin-bottom:10px; margin-left:15px;}

#college-process-timeline {margin-bottom:120px;margin-left:60px;}
#college-process-timeline div {width:130px;}
#college-process-timeline div.tl-highlighted {width:205px;}
#college-process-timeline div:last-child {width:165px;}



/* COLORS!
-------------------------------------------------------------------------------*/

/* navy */
.navy {color:#2B327A;}
.navy-bg {background-color:#2B327A; border-color:#2B327A; color:#FFFFFF;}

/* navy light */
.navy-light {color:#435498;}
.navy-light-bg {background-color:#435498; border-color:#435498; color:#FFFFFF;}

/* slate blue */
.slate-blue {color:#004E6B;}
.slate-blue-bg {background-color:#004E6B; border-color:#004E6B; color:#FFFFFF;}

/* slate blue light */
.slate-blue-light {color:#3B7187;}
.slate-blue-light-bg {background-color:#3B7187; border-color:#3B7187; color:#FFFFFF;}

/* dark teal */
.teal {color:#004047;}
.teal-bg {background-color:#004047; border-color:#004047; color:#FFFFFF;}

/* dark teal light */
.teal-light {color:#38666B;}
.teal-light-bg {background-color:#38666B; border-color:#38666B; color:#FFFFFF;}

/* pacific */
.pacific {color:#256AB4;}
.pacific-bg {background-color:#256AB4; border-color:#256AB4; color:#FFFFFF;}
.bubble.active {background-color:#256AB4;border-color:#256AB4;color:#FFF;}

/* pacific light */
.pacific-light {color:#4188C7;}
.pacific-light-bg {background-color:#4188C7; border-color:#4188C7; color:#FFFFFF;}

/* indigo */
.indigo {color:#4A1177;}
.indigo-bg {background-color:#4A1177; border-color:#4A1177; color:#FFFFFF;}

/* indigo light */
.indigo-light {color:#6D4591;}
.indigo-light-bg {background-color:#6D4591; border-color:#6D4591; color:#FFFFFF;}

/* violet red */
.violet-red {color:#D20051;}
.violet-red-bg {background-color:#D20051; border-color:#D20051; color:#FFFFFF;}

/* violet red light */
.violet-red-light {color:#D83675;}
.violet-red-light-bg {background-color:#D83675; border-color:#D83675; color:#FFFFFF;}

/* crimson red */
.crimson {color:#C90D23;}
.crimson-bg {background-color:#C90D23; border-color:#C90D23; color:#FFFFFF;}

/* crimson red light */
.crimson-light {color:#D13D54;}
.crimson-light-bg {background-color:#D13D54; border-color:#D13D54; color:#FFFFFF;}

/* orange */
.orange {color:#D83D00;}
.orange-bg {background-color:#D83D00; border-color:#D83D00; color:#FFFFFF;}
.orange-bubble.active {background-color:#D83D00;border-color:#D83D00;color:#FFF;}

/* orange light */
.orange-light {color:#DD6344;}
.orange-light-bg {background-color:#DD6344; border-color:#DD6344; color:#FFFFFF;}

/* saddle brown */
.brown {color:#7B3210;}
.brown-bg {background-color:#7B3210; border-color:#7B3210; color:#FFFFFF;}

/* saddle brown light */
.brown-light {color:#945B44;}
.brown-light-bg {background-color:#945B44; border-color:#945B44; color:#FFFFFF;}

/* navy */
.navy {color:#2B327A;}
.navy-bg {background-color:#2B327A; border-color:#2B327A; color:#FFFFFF;}

/* navy light */
.navy-light {color:#435498;}
.navy-light-bg {background-color:#435498; border-color:#435498; color:#FFFFFF;}

/* TIMELINE */
.timeline {
    height: 60px; /* 50px on internal pages */
    background-image: url(timeline-dots-bg.png); width:960px;
    background-repeat: no-repeat;
    background-position: 0 38px;
    position: relative;
    font-size: 0.625em;
    text-transform: uppercase;
    margin-bottom: 80px; /* 60 on internal pages */
    margin-top: 40px; /* 10 on internal pages */

}

/* Add a generic horizontal nav abstraction */
.nav-links {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
    .nav-links > li,
        .nav-links > li > a {
            display: inline-block;
            *display: inline;
            zoom: 1;
            margin-right: 0.25em;
    }

/* Extending our .links class here. */
.timeline .nav-links > li {
    margin-right: 10px;
    vertical-align: top;
}

/* Crazy different numbers here so we can have different distances between points on the timeline.
   Each of these are lis in the menu.
*/ 
.research {
    margin-left: 60px;
}

.finaid {
    margin-left: 5px;
}

.loans {
    margin-left: 10px;
    /* Evens vertical spacing because li does not have label */
    margin-top: 20px;
}

.compare {
    margin-left: 10px;
}

.manage {
    margin-left: 50px;
}

.repay {
    margin-left: 5px;
}

.ico-process {
    width: 38px;
    height: 40px;
}

.ico-process-applications {
    background: url(applications.png);
    background-position: 0 0;
}

.ico-process-applications.selected,
.ico-process-applications:hover {
    width: 38px;
    height: 40px;
    background-position: -37px 0;
}

.ico-process-fafsa {
    background: url(fafsa.png);
    background-position: 0 0;
}

.ico-process-fafsa.selected,
.ico-process-fafsa:hover {
    width: 38px;
    height: 40px;
    background-position: -37px 0;
}

.ico-process-loans-guide {
    background: url(loans.png);
    background-position: 0 0;
}

.ico-process-loans-guide.selected,
.ico-process-loans-guide:hover {
    width: 38px;
    height:40px;
    background-position: -37px 0;
}

.ico-process-comparison {
    width: 38px;
    height: 40px;
    background: url(comparison.png);
    background-position: 0 0;
}

.ico-process-comparison.selected,
.ico-process-comparison:hover {
    width: 38px;
    height: 40px;
    background-position: -37px 0;
}

.ico-process-banking-guide {
    width: 38px;
    height: 40px;
    background: url(banking.png);
    background-position: 0 0;
}

.ico-process-banking-guide.selected,
.ico-process-banking-guide:hover {
    width:38px;
    height:40px;
    background-position: -37px 0;
}

.ico-process-ultratool {
    width: 38px;
    background: url(ultratool.png);
}

.ico-process-ultratool.selected,
.ico-process-ultratool:hover {
    width:38px;
    height:40px;
    background-position: -37px 0;
}

/* Labels */
.top-process-label,
.ico-process,
.bottom-process-label {
    display: block;
}

.top-process-label {
    padding: 0 0 5px;
}

.bottom-process-label {
    padding: 10px 0 0 20px;
}

/*.process-hover {display:none;}*/

/* orange */
.orange {
    color: #D83D00;
}

.orange-bg {
    background-color: #D83D00;
    border-color: #D83D00;
    color: #FFFFFF;
}

.horizontal-bar {
    padding: 5px 0px 5px 10px;
    margin-top: 10px;
    font-size: 0.75em;
    font-weight: 500;
    text-transform: uppercase;
}
/* END TIMELINE */

/* TYPOGRAPHY!
-------------------------------------------------------------------------------*/

body {font-family: "Avenir Next";}

h4 {margin:0; font-weight:normal; font-size:14px;font-weight:500;}

/* uppercase, lowercase, nocase */
.uc {text-transform:uppercase; font-weight:400;}

/*serif, sansserif */
.ss {font-family:"Avenir Next", Arial;}

/* Components */
.timeline {font-weight:500;}

body {font-family: "Avenir Next";}

/* a, */ .lnk {font-size:14px;}
p {font-size:14px; font-family: "Georgia";}

a.ec,a.ec-blk { 
    font-size:14px;
    font-weight:400;
    text-decoration:none;
    padding-left:20px;  
    background-image:url(expand_collapse.png);
    background-repeat:no-repeat; 
    background-position-x:0px;
    background-position-y:0px;
}
a.collapse {background-position-y:-14px;color:#212121;}

a.fix2bottom {position:absolute;bottom:18px;}

h1, h2 {margin:0; font-weight:normal;}
h2 {text-transform:uppercase;}
h1 {font-size:24px; margin-bottom:6px; font-weight:400;}
h2 {font-size:18px; font-weight:500; letter-spacing:0px;}
h3 {font-size:18px; font-weight:400; letter-spacing:0px; text-transform: none; padding-top: .67em;}

/* uppercase, lowercase, nocase */
.uc {text-transform:uppercase; font-weight:400;}
.lc {text-transform:lowercase;}
.nc {text-transform:none;}

/*serif, sansserif */
.s  {font-family:Georgia; font-weight:normal!important; font-style:italic;}
.ss {font-family:"Avenir Next", Arial, sans-serif;}

/* Components */
.well-solid h1 {font-size:28px; text-transform:none; line-height:36px;}
.hero h1,
.hero h2 {text-transform:none; margin:0;} 
.hero h1 {font-size:36px; line-height:48px; font-weight:600;}
.hero h2 {font-size:27px; line-height:35px; font-weight:500;}

.sidekick{
    width:1016px !important;
    margin-left:-20px !important;
}

.pfc-inf input, .pfc-inf textarea{border-color:#bbb; width:244px;}
.pfc-inf textarea{border-radius:5px;}

.sidekick-stay-connected {}
.sidekick-stay-informed {}
.sidekick-stay-informed form {}
.sidekick-twitter {}
.sidekick-facebook {}