<header class="o-header
               o-header__no-nav
               wrapper
               wrapper__match-content">
    <a href="/">
        <img class="o-header_logo-img"
             src="{{ static('img/logo_237x50.png') }}"
             srcset="{{ static('img/logo_161x34.png') }} 161w,
                     {{ static('img/logo_161x34@2x.png') }} 322w,
                     {{ static('img/logo_161x34@3x.png') }} 483w,
                     {{ static('img/logo_161x34@4x.png') }} 644w,
                     {{ static('img/logo_237x50.png') }} 237w,
                     {{ static('img/logo_237x50@2x.png') }} 474w"
             sizes="(max-width: 900px) 161px,
                    237px"
             alt="Consumer Financial Protection Bureau"
             width="237"
             height="50">
    </a>
</header>
