{% set contact = get_document('contact', office.related_contact) if office.related_contact %}
{% if contact %}
    {% import 'macros/contact-layout.html' as contact_layout %}
    <section class="office_contact
                    block
                    block__flush-top">
        <h2 class="header-slug">
            <span class="header-slug_inner">
                Contact Information
            </span>
        </h2>
        <div class="content-l
                    content-l__main
                    content-l__large-gutters">
            <div class="content-l_col
                        content-l_col-1">
                <h3 class="h5">{{ contact.title }}</h3>
            </div>
        </div>
        {{ contact_layout.render( contact, 'block block__flush-top block__flush-bottom' ) }}
    </section>
{% endif %}
