{% import 'molecules/related-posts.html' as related_posts with context %}
{% import 'molecules/related-metadata.html' as related_metadata with context %}
{% import 'molecules/social-media.html' as social_media with context %}


{% macro render(streamfield, half_width=false) %}
    {% for block in streamfield recursive %}
        {% if 'related_posts' in block.block_type %}
            {% set posts = page.related_posts(block, request.site.hostname) %}
            {% if posts %}
                <div class="block {{ 'block__flush-top' if loop.index == 1 else '' -}}">
                    {{ related_posts.render(posts, block, half_width) }}
                </div>
            {% else %}
                {% set blocks = streamfield|list %}
                {{ loop(blocks[loop.index:]) }}
                {% break %}
            {% endif %}
        {% elif 'related_metadata' in block.block_type %}
            <div class="block {{ 'block__flush-top' if loop.index == 1 else '' -}}">
                {{ related_metadata.render(block.value) }}
            </div>
        {% elif 'social_media' in block.block_type %}
            <div class="block {{ 'block__flush-top' if loop.index == 1 else '' -}}">
                {{ social_media.render(block.value) }}
            </div>
        {% else %}
            {% import 'templates/render_block.html' as render_block with context %}
            {{ render_block.render(block, loop.index) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
