{% extends "front/base_nonresponsive.html" %}
{% load static from staticfiles %}

{% block jquery %}
<script src="{% static 'nemo/_/js/jquery-1.9.1.min.js' %}"></script>
{% endblock %}

{% block nemo_js %}
<script src="{% static 'nemo/_/js/functions.js' %}"></script>
{% endblock %}

{% block title %}Students and young consumers &gt; Consumer Financial Protection Bureau{% endblock %}

{% block breadcrumbs %}
<li><a href="/" class="internal-link">Home</a></li>
<li>STUDENTS AND YOUNG CONSUMERS</li>
{% endblock %}

{% block content %}
{% include "front/share_block.html" %}
<article class="page">
    <header class="pagetitle">
        <h1>Students and young consumers</h1>
    </header>
    <form id="signup"
          class="signup inlineSignup right" action="https://public.govdelivery.com/service/process_ss.xml"
          method="GET" data-thanks="Thanks, we’ll be in touch!">
        <fieldset>
            <h3>Stay informed about our work<br />
                for students and young Americans
            </h3>
            <p><input name="code" type="hidden" value="USCFPB_7" /></p>
            <p><label for="email">Email address:</label> <input name="email" size="33" type="email" /></p>
            <p><button>Sign up</button> <a class="students-privacy-link" href="/privacy/email-campaign-privacy-act-statement/" target="_blank" rel="noopener noreferrer">See Privacy Act statement</a></p>
        </fieldset>
    </form>
    <h3>Helping borrowers understand their repayment options</h3>
    <p>Thank you for submitting your feedback on our Payback Playbook, which may help millions of student loan borrowers better understand their available repayment options. Check out the <a href="https://www.regulations.gov/#!docketBrowser;rpp=25;po=0;dct=PS;D=CFPB-2016-0018">comments</a> we received, and make sure to keep an eye out for updates on our Payback Playbook in the coming months!</p>
    <p><a href="/payback-playbook/">Learn more about how the Payback Playbook can help you better manage your student debt</a></p>
    <p>If you are having trouble with your student loan servicer (the company that sends you a bill each month), including problems getting information on ways to make your monthly payment more affordable, you can <a href="https://www.consumerfinance.gov/complaint/">submit a complaint</a>.</p>
    <h3>Inquiry into student loan servicing</h3>
    <p>In response to our public inquiry into student loan servicing practices, we received over 30,000 comments from the public, highlighting the costly surprises and runarounds some borrowers face when dealing with their servicers. We documented these widespread servicing failures reported by borrowers in our recent report, <a href="https://www.consumerfinance.gov/data-research/research-reports/student-loan-servicing/">Student Loan Servicing</a>.</p>
    <p>We also joined the Department of Education and the Department of the Treasury to issue a series of joint principles that offers a roadmap to <a href="https://files.consumerfinance.gov/f/201509_cfpb_treasury_education-joint-statement-of-principles-on-student-loan-servicing.pdf">strengthen the student loan servicing market for all borrowers</a>.</p>
    <div class="three-col">
        <div class="col">
            <h3>Paying for College</h3>
            <p>From start to finish, we can help you make informed financial decisions about paying for college.</p>
            <p><a class="buttonish" title="Paying" href="/paying-for-college/">Get started</a></p>
        </div>
        <div class="col">
            <h3>Repay student debt</h3>
            <p>While we can’t give you advice for your exact situation, we can point you in the right direction.</p>
            <p><a class="buttonish" href="/paying-for-college/repay-student-debt/#Question-1">Know your options</a></p>
        </div>
        <div class="col">
            <h3>Submit a student loan complaint</h3>
            <p>We’ll forward your issue to the company, give you a tracking number, and keep you updated on the status of your complaint.</p>
            <p><a class="buttonish" href="https://www.consumerfinance.gov/complaint/">Submit now</a></p>
        </div>
    </div>
    <hr />
    <div class="three-col">
        <h2>Student banking and credit cards</h2>
        <div class="col">
            <h3>Banking on campus</h3>
            <p>We’re helping students <a href="https://www.consumerfinance.gov/about-us/blog/new-students-should-look-closely-at-college-sponsored-bank-accounts-and-shop-around/">better understand their options</a> when considering college sponsored checking accounts. We also <a href="https://www.consumerfinance.gov/blog/reminder-accessing-your-scholarships-and-student-loan-funds/">posted a reminder</a> on things to keep in mind to students that manage their scholarships and student loans on college sponsored accounts.</p>
            <p>In December, we <a href="https://files.consumerfinance.gov/f/201512_cfpb_card-act_warning-letter.pdf">warned colleges</a> to better disclose their credit card agreements to comply with the CARD Act so students and families can see the terms of the deals.</p>
        </div>
        <div class="col">
            <h3>College credit card agreement database</h3>
            <p>We collect information on agreements between universities and credit card issuers. Check out the <a href="https://data.consumerfinance.gov/Government/College-Credit-Card-Agreements/r963-hvsf">database</a>. We also released a<a href="https://www.consumerfinance.gov/data-research/research-reports/2015-college-credit-card-agreements/"> report</a> to Congress highlighting trends in credit cards on college campuses.</p>
        </div>
        <div class="col">
            <h3>Safe Student Account Scorecard</h3>
            <p>We published the <a href="https://files.consumerfinance.gov/f/201512_cfpb_safe-student-account-toolkit.pdf">Safe Student Account Scorecard</a> to help colleges and universities make sure the deals they make with financial institutions lead to safer and more affordable products.</p>
        </div>
    </div>
    <hr />
    <div class="three-col">
        <h2>Student loan reports</h2>
        <div class="col">
            <h3><a href="/reports/student-loan-affordability/">Student loan affordability</a></h3>
            <p>In 2013 we published a report discussing comments we received and outlining options policymakers and market participants should consider to help student borrowers manage their debt.</p>
            <p><a href="/students/helping-borrowers-find-ways-to-stay-afloat/">Read what we heard</a> and <a href="https://www.regulations.gov/#!docketDetail;D=CFPB-2013-0004">see the comments we received.</a></p>
        </div>
        <div class="col">
            <h3><a href="/data-research/research-reports/2016-annual-report-cfpb-student-loan-ombudsman/">Annual report of the CFPB student loan ombudsman 2016</a></h3>
            <p>Based on complaints, comments, and other input, we highlight debt collection and servicing problems plaguing the federal programs designed to help defaulted student loan borrowers get on track and into affordable repayment plans.</p>
            <p>Check out <a href="https://files.consumerfinance.gov/f/201510_cfpb_annual-report-of-the-cfpb-student-loan-ombudsman.pdf">last year’s report</a> and a <a href="https://files.consumerfinance.gov/f/documents/201704_cfpb_Monthly-Complaint-Report.pdf">snapshot of complaints from last year</a>.</p>
        </div>
        <div class="col">
            <h3><a href="/reports/private-student-loans-report/">Private student loans</a></h3>
            <p>With the Secretary of Education, we submitted a report to Congress. Thousands of consumers gave us their <a href="/blog/thousands-of-voices-on-private-student-loans/">comments.</a></p>
        </div>
    </div>
    <hr />
    <div class="three-col">
        <h2>Leveling the playing field</h2>
        <div class="col">
            <h3><a href="/students/knowbeforeyouowe/">Know Before You Owe</a></h3>
            <p>In partnership with the Department of Education, we’ve developed a <a href="https://collegecost.ed.gov/shopping_sheet.pdf">financial aid shopping sheet</a> to improve the way schools communicate financial aid offers. More than 3,000 colleges have agreed to use the shopping sheet.</p>
            <p><a href="https://files.consumerfinance.gov/f/2012/01/Memorandum_KBYOStudentLoans_FeedbackSummary_Jan2012.pdf"><strong>What we heard</strong></a> – We released a prototype and received feedback from the public.</p>
            <p><a href="/blog/does-your-college-help-you-know-before-you-owe/"><strong>Does your college help you know before you owe?</strong></a></p>
        </div>
        <div class="col">
            <h3>Military education accountability</h3>
            <p>We&#8217;re working with the Departments of Education, Defense, and Veterans Affairs <a href="/blog/accountability-in-military-education">to take steps</a> to ensure that servicemembers, veterans and their families can get the information they need about the schools where they spend their education benefits.</p>
            <p><a href="https://www.consumerfinance.gov/reports/overseas-underserved-student-loan-servicing-and-the-cost-to-our-men-and-women-in-uniform/"><strong>Student loan servicing and the military – Servicemembers face unique challenges when paying back student debt.</strong></a></p>
        </div>
        <div class="col">
            <h3>Public service and student debt</h3>
            <p>We heard from borrowers about the cost of student loan servicing breakdowns for people serving their communities.</p>
            <p>Check out our <a href="https://files.consumerfinance.gov/f/documents/201706_cfpb_PSLF-midyear-report.pdf">report</a>, <a href="https://files.consumerfinance.gov/f/documents/cfpb_employer-guide-to-assisting-employees-with-student-loan-repayment.pdf">toolkit for employers</a>, and our <a href="https://files.consumerfinance.gov/f/documents/cfpb_guide-for-public-service-employees-with-student-debt.pdf">guide for borrowers</a>.</p>
        </div>
        <hr />
        <h3>
            Read more about the CFPB&#8217;s work for students on our
            <a href="/blog/category/students/">blog</a>
        </h3>
        <p>&nbsp;</p>
    </div>
</article>
{% endblock %}
