/* Changes to make ES look like English Ask */

body {
    font-family: "Avenir Next", Arial, sans-serif;
}

.wrapper-body .wrapper-container {
    padding-top: 15px;
}

.ac-search {
    .lead {
        text-transform: none;
        font-weight: 400;
        font-size: 22px;
        font-family: "Avenir Next", Arial, sans-serif;
        line-height: 1.2727;
        margin: 0 0 0.68em;
        max-width: 670px;
    }
}

.full-bleed.content {
    margin-top: 0em;
}

.es-ask_results-section {

    margin-top: 15px;

    h1 {
      margin-bottom: 1.25em;
      font-family: "Avenir Next Bold", Arial, sans-serif;
      line-height: 1;
    }

    h3 {
        text-transform: none;
        font-size: 18px;
        font-family: "Avenir Next Medium", Arial, sans-serif;
        font-weight: 400;
        line-height: 1.222222;
        margin: 0 0 0.68em;
    }

    p {
        font-family: "Avenir Next",Arial,sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #101820;
        font-size: 100%;
        line-height: 1.375;
        margin: unit( 15px / 16px, em ) 0 unit( 5px / 16px, em);

        a {
          font-family: "Avenir Next Medium", Arial, sans-serif;
          border-width: 0;
          border-bottom-width: 1px;
          border-style: dotted;
          border-color: #0072ce;
          color: #0072ce;
          font-size: 16px;
          line-height: 1.375;
          text-decoration: none;
        }
    }

    .share a {
        border: none;
    }

    .ac-search {
        margin-top: unit( 40px / 16px, em );
        margin-bottom: unit( 40px / 16px, em );
        padding-top: 1.25em; /* 20/16 */
        padding-bottom: 1.25em; /* 20/16 */
        background: #e7e7e6;
    }

    li {
        margin-bottom: 0.5em;
    }

    .pagination a {
        border: none;
    }

}

@media @respond-to-medium-screens {
    .es-ask_results-section {
        .ac-search {
            padding: 20px;
        }

        h1 {
            margin-bottom: unit( 30px / 36px, em );
        }

        h3 {
          text-transform: none;
          font-weight: 400;
          font-size: 22px;
          font-family: "Avenir Next", Arial, sans-serif;
          line-height: 1.2727;
          margin: 0 0 0.68em;
        }
    }
}

@media @respond-to-large-screens {
    .es-ask_results-section {

        h1 {
            margin-bottom: unit( 30px / 36px, em );
        }

        h3 {
          text-transform: none;
          font-weight: 400;
          font-size: 22px;
          font-family: "Avenir Next", Arial, sans-serif;
          line-height: 1.2727;
          margin: 0 0 0.68em;
        }
    }
}

/* End changes to make ES look like English Ask */

/**
 * Spanish version of Ask CFPB
 */


/* ==========================================================================
   Modules
   ========================================================================== */

/* Search / .ac-search, .ac-search.full-bleed-padded
   There are two containers for this single form,
   one above .content for large screens with autocomplete
   and one basic hard submit functioning form at the bottom for small screens
   @todo is there a better way to do padding other than resetting the p and
   form to margin 0 and giving the container padding?
   ========================================================================== */

.ac-search {
    background: #e7e7e6;
}

.ac-search.s-show-on-small {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;

    label {
        margin-bottom: 15px;
    }
}



@media @respond-to-medium-screens {

    .wrapper-body .wrapper-container {
        padding-top: 0px;
    }


    .full-bleed.content {
        margin-top: -2em;
    }

    .es-ask_results-section {
        margin-top: 0px;
    }

    .ac-search {
        padding: 30px 20px;
        margin-top: 0em;
        margin-bottom: unit( 30px / 16px, em );
    }

}

@media @respond-to-large-screens {

    .full-bleed.content {
        margin-top: -2em;
    }

    .es-ask__results-section {
        margin-top: 0em;
    }

    .ac-search {
        margin-top: 0em;
        margin-bottom: unit( 30px / 16px, em );
        padding: 70px;
        padding-top: 2em;
        padding-bottom: 2em;
    }

}

.ac-search p,
.ac-search-form {
    margin: 0;
}

.ac-search-prompt {
    margin-top: 0;
    text-transform: none;
    font-size: 1em;
}

.ac-search-form input,
.ac-search-form label {
    display: block;
    width: 100%;
}

/* Reset the padding to what it would be without borders */
.ac-search-form input {
    padding: 0.5em 5.5em 0.5em 0.5em; /* 8/16 5.5em = room for button */
    border: 0;
}

@media @respond-to-medium-screens {

    .ac-search-form {
        margin-top: 1.25em; /* 20/16 */
    }

    .ac-search-form input,
    .ac-search-form label {
        padding-right: 7em;
    }

}

/**
 * .ac-search needs to double it's top margin if .full-bleed is above
 * it because of .full-bleed's negative bottom margin
 */
.full-bleed.content + .ac-search {
    margin-top: 3.25em; /* 26 (negative margin) + 26 = 52/16 */
    margin-bottom: 0;
}

/* Autocomplete menu for .ac-search */

.ui-autocomplete {
    width: 33.125em; /* 530/16 */
    padding: 1em;
    font-family: "Avenir Next", Verdana, sans-serif;
    list-style-type: none;
    background: #fff;
    border: 1px solid #afafb3;
    -webkit-box-shadow: 2px 3px 5px #afafb3;
            box-shadow: 2px 3px 5px #afafb3;
}

.ui-autocomplete li {
    margin-bottom: 0.5em; /* 8/16 */
}

.ui-autocomplete li a {
    border: none;
    cursor: pointer;
}

/* Landing page category tiles / .ac-catnav
   ========================================================================== */

/**
 * Add back the wrapper padding on small screens
 * @todo remove this style and add .full-bleed-padded to .ac-catnav-row
 */

.ac-catnav-row {
    padding: 0 20px;
}

.ac-catnav {
    border-bottom: 1px solid #d0d0ce;
}

/* .ac-catnav inks */

.ac-catnav a {
    text-decoration: none;
}

.ac-catnav a:hover,
.ac-catnav a:focus {
    text-decoration: underline;
}

/* .ac-catnav-heading */

.ac-catnav-heading {
    margin: 0;
}

.ac-catnav-heading a {
    display: block;
    padding: 0.75em 0; /* 12/16 */
    color: #101820;
}

.ac-catnav-heading a:hover {
    color: #0072ce;
}

@media @respond-to-medium-screens-with-max {

    .ac-catnav-heading a {
        padding-right: 35px;
        background-image: url("./../nemo/_/img/icon-arrow-right.png");
        background-repeat: no-repeat;
        background-position: center right;
    }

    .backgroundsize .ac-catnav-heading a {
        background-image: url("./../nemo/_/img/icon-arrow-right-retina.png");
        background-size: 25px 25px;
    }
}

/* .ac-catnav-list */

/* On small screens hide the 'nice-to-have' example questions */
/* @todo instead of hiding this here use the utility s-hide-on-small class instead */
.ac-catnav-list {
    display: none;
    margin: 0;
    font-size: 0.9375em; /* 15/16 */
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: 400;
}

/* .ac-catnav-learn */

/* @todo instead of hiding this here use the utility s-hide-on-small class instead */
.ac-catnav-learn {
    display: none;
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-weight: 600;
    color: #101820;
}

/* IE8 font-weights need "normal" for demi and bold */
.lt-ie9 .ac-catnav-learn {
    font-weight: normal;
}

.ac-catnav-learn .icon-18 {
    margin: -0.142857143em 0.428571429em 0 0; /* 2/14 6/14 */
}

.ac-catnav-learn:hover {
    color: #0072ce;
    text-decoration: underline;
}

/* .ac-catnav large screen customizations 768px-959px */

/* Switch padding and borders from .ac-catnav-row to .ac-catnav */

@media @respond-to-medium-screens {

    .ac-catnav-row {
        padding: 0;
        border-top: 1px solid #d0d0ce;
    }

    .ac-catnav-row:first-child {
        border-top: 0;
    }

    .ac-catnav {
        display: inline-block;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
                box-sizing: border-box;
        width: 50%;
        margin-right: -0.25em; /* 4/16 */
        padding: 1.25em 1.25em 1.75em 5em; /* 20/16 28/16 80/16 */
        vertical-align: top;
        border: 0;
    }

}

/**
 * One border between two siblings of varying heights...
 * 1. border-right on the :first-child
 * 2. border-left on the second child + margin-left: -1px; (so both
 *    borders are on top of each other)
 */

@media @respond-to-medium-screens {

    .ac-catnav:first-child {
        border: 0;
        border-right: 1px solid #d0d0ce;
    }

    .ac-catnav + .ac-catnav {
        margin-left: -1px;
        border-left: 1px solid #d0d0ce;
    }

}

@media @respond-to-medium-screens {

    .ac-catnav-heading a {
        /* Remove the mobile view right arrow icon */
        padding: 0;
        background: none;
    }

    .ac-catnav-heading .icon-40 {
        margin-left: -2.307692308em; /* 60/26 */
    }

}

/**
 * Show .ac-catnav-list on large screens and pull it up 6px's to account for
 * the space that the header icon created
 */

@media @respond-to-medium-screens {


    .ac-catnav-list {
        display: block;
    }

    .ac-catnav-heading + .ac-catnav-list {
        margin-top: -0.4em; /* 6/15 */
    }

    .ac-catnav-learn {
        /* Show .ac-catnav-learn on large screens */
        display: inline;
    }

}

/* .ac-catnav large screen customizations 960px + */

@media @respond-to-large-screens {

    .ac-catnav {
        padding: 2em 4.3125em 2em 5em; /* 32/16 69/16 80/16 */
    }

    .ac-catnav:first-child {
        padding: 2em 1.25em 2em 8.0625em; /* 32/16 20/16 129/16 */
    }


}

/* Question and answer modules
   .ac-qa: single full question/answer module
   .ac-qa-summary: truncated question/answer that stacks well with others

   EMs are calculated from the large screen design using base 16/16
   On small screens the module shrinks by 14/16 by setting its font-size
   ========================================================================== */

.ac-qa {
    padding: 0 0 0 1.625em; /* 26/16 */
}

.ac-qa-question {
    font-size: 1.125em;
    font-family: "Avenir Next Medium", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
}

.ac-qa-answer {
    font-size: 1em; /* 14/16 */
    text-transform: none;
}

.ac-qa-question {
    margin: 0 0 1.142857143em; /* 18/14 */
}

.ac-qa-answer {

}

.ac-qa-answer p:first-child {
    margin: 0;
}

.ac-qa-question:before,
.ac-qa-answer p:first-child:before {
    display: inline-block;
    width: 1.625em; /* 26/16 match .ac-qa left padding */
    margin-left: -1.625em; /* 26/16 match .ac-qa left padding */
    font-size: 1.142857143em;
    font-family: "Avenir Next Bold", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* IE8 font-weights need "normal" for demi and bold */
.lt-ie9 .ac-qa-question:before,
.lt-ie9 .ac-qa-answer p:first-child:before {
    font-weight: normal;
}

.ac-qa-question:before {
    content: "P:";
    font-size: 18px;
}

.ac-qa-answer > p:first-child:before {
    content: "R:";
    font-size: 18px;
}

/* Summary version */
.ac-qa-summary {
    padding: 1.625em 0 1.625em 1.625em; /* 26/16 */
}

a.ac-qa-summary {
    display: block;
    font-size: 1em; /* override default link styling */
    color: #101820;
    text-decoration: none;
}
a.ac-qa-summary:hover,
a.ac-qa-summary:focus {
    color: #101820;
    background: #addc91;
}

/**
 * Separate stacked questions with a border but that border needs to overlap
 * the previous sibling, read the next comment for :hovers to learn why */

.ac-qa-summary + .ac-qa-summary {
    margin-top: -1px;
    border-top: 1px solid #101820;
}

/**
 * Full bleed hovers for small screen
 * To achieve a full bleed only on :hover we use negative margins to pull
 * left/right and borders that match the bg color to fill that space.
 * On :hover the next sibling is selected using the next sibling selector,
 * then we change its border color to match the bg color of the :hover. Now
 * the next sibling's top border matches the bg of the :hover BUT it's not
 * full bleed. To fix this all siblings are set to overlap each other by -1px.
 * now it doesn't matter that the next sibling isn't full bleed because its
 * border color matches the :hover bg color, no one will know!
 * @todo can someone explain this in a simple way? or did I over think it?
 */

/**
 * Full bleed :hover for small screens need left/right bleed because they
 * are not within a column at this size.
 */

.ac-qa-summary:hover,
.ac-qa-summary:focus {
    margin-left: -20px;
    margin-right: -20px;
    border-left: 20px solid #addc91;
    border-right: 20px solid #addc91;
    border-top-color: #addc91;
}

/**
 * Full bleed :hover for large screens only need left full bleed because
 * they exist within the column at this size.
 * @todo assuming it will be in a column at this size is wrong, rethink!
 */

@media @respond-to-medium-screens {

    .ac-qa-summary:hover,
    .ac-qa-summary:focus {
        margin-left: -69px;
        margin-right: 0;
        border-left: 69px solid #addc91;
        border-right: 0;
        border-top-color: #addc91;
    }

}

/**
 * On hover there should be no border between these modules, to do this we're
 * simply changing the border-top color of the next sibling to match the bg
 * color of the hovered module. And since
 */

.ac-qa-summary:hover + .ac-qa-summary,
.ac-qa-summary:focus + .ac-qa-summary {
    border-top-color: #addc91;
}

/* Enlarge this component for larger screens */


.ac-qa-answer p:first-child:before {
    width: 1.40em;
}

@media @respond-to-medium-screens {

    .ac-qa {
        padding: 0 0 0 2.5em; /* 40/16 */
    }

    .ac-qa-summary {
        /* Summary version */
        padding: 2.5em 1.5em 2.5em 2.5em; /* 40/16 24/16 */
    }

    .ac-qa-question {
        margin: 0 0 1.333333333em; /* 24/18 */
    }

    .ac-qa-question,
    .ac-qa-answer {
        line-height: 1.333333333; /* 24/18 */
    }

    .ac-qa-question:before {
        width: 2.2em; /* 40/20 match .ac-qa left padding */
        margin-left: -2.2em; /* 40/20 match .ac-qa left padding */
    }

    .ac-qa-answer p:first-child:before {
        width: 2.0em; /* 40/20 match .ac-qa left padding */
        margin-left: -2.2em; /* 40/20 match .ac-qa left padding */
    }

}

/* Question rating form / .ac-qrating
   ========================================================================== */

/* Hide the form status messages until needed */
.ac-qrating-message {
    display: none;
}

/* Supplement tweaks
   ========================================================================== */

.supplement.ac-filters,
.supplement.ac-related-topics {
    border-top: 0;
}

.supplement.ac-filters h3 {
    margin-bottom: 0;
}

/* ==========================================================================
   Autocomplete
   ========================================================================== */
@pacific:      #0072ce;
@gray-20:      #d2d3d5;
@gray-5:       #f7f8f9;
@black:        #101820;
@block__bg:    @gray-5;

.m-autocomplete {
    position: relative;
}

.m-autocomplete_results {
    box-sizing: border-box;
    width: 100%;
    max-height: 200px;
    border: 1px solid #afafb3;
    padding-left:  0;
    overflow-y: scroll;
    position: absolute;
    z-index: 1000;
    background-color: white;
    list-style-type: none;
    margin-top: 0;
    font-family: "Avenir Next", Verdana, sans-serif;
    background: #fff;
    -webkit-box-shadow: 2px 3px 5px #afafb3;
            box-shadow: 2px 3px 5px #afafb3;

    li {
        border-bottom: 1px solid @gray-20;
        margin-bottom: 0;

        &:hover,
        &.m-autocomplete_selected {
            background-color: @block__bg;
        }

        &:last-child {
            border-bottom-width: 0;
        }
    }

    a {
        display: block;
        padding: 0.5em; /* 8/16 */
        border-width: 0;
        color: @black;
        cursor: pointer;
    }
}

.u-hidden {
  display: none;
}

/* ==========================================================================
   Transition utility classes.
   ========================================================================== */

.u-alpha-100 {
   opacity: 1;
}

.u-alpha-0 {
   opacity: 0;
}

.u-move-transition {
    transition: transform 0.25s ease-out;
}

.u-alpha-transition {
    transition: opacity 0.25s ease-out;
}

.u-no-animation {
    transition-duration: 0s;
}

// The mega-menu code doesn't work with a transition of 0ms
.u-move-transition__disabled {
  .u-move-transition {
    transition: transform 1ms ease;
  }
}

/* ==========================================================================
   Wagtail Ask CFPB styles
   ========================================================================== */
.ask-cfpb-page__es {
  .responsive-object {
     position: relative;
     margin-bottom: 15px;

     iframe,
     object,
     embed {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
     }
  }
}

/* ==========================================================================
   Disclaimer snippet
   ========================================================================== */

.ac-disclaimer h5 {
  display: none;
}


/* ==========================================================================
   Print stylesheet
   ========================================================================== */

@media print {

    .ac-search,
    #ac-qrating-container,
    .ac-similar-answers,
    .ac-related-topics,
    .ac-filters,
    .ac-disclaimer .js-showtoggle-trigger,
    .o-feedback {
        /* Hide stuff */
        display: none !important;
    }

    .ac-disclaimer .js-showtoggle-content {
        /* Show hidden stuff */
        display: block !important;
    }

    .ac-disclaimer {
        /* Typography tweaks */
        font-style: italic;
    }

}

/* Special print-view HTML page requires body.s-printable
   ========================================================================== */

.s-printable .ac-disclaimer {
    font-style: italic;
}
