@font-face{
    font-family: "Avenir Next";
    src: url("../f/e9167238-3b3f-4813-a04a-a384394eed42.eot");
    src: url("../f/e9167238-3b3f-4813-a04a-a384394eed42.eot?iefix") format("embedded-opentype"),
         url("../f/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Italic";
    src: url("../f/d1fddef1-d940-4904-8f6c-17e809462301.eot");
    src: url("../f/d1fddef1-d940-4904-8f6c-17e809462301.eot?iefix") format("embedded-opentype"),
         url("../f/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: "Avenir Next Medium";
    src: url("../f/1a7c9181-cd24-4943-a9d9-d033189524e0.eot");
    src: url("../f/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?iefix") format("embedded-opentype"),
         url("../f/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Medium Italic";
    src: url("../f/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot");
    src: url("../f/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?iefix") format("embedded-opentype"),
         url("../f/8344e877-560d-44d4-82eb-9822766676f9.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: "Avenir Next Demi";
    src: url("../f/12d643f2-3899-49d5-a85b-ff430f5fad15.eot");
    src: url("../f/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?iefix") format("embedded-opentype"),
         url("../f/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Demi Italic";
    src: url("../f/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot");
    src: url("../f/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?iefix") format("embedded-opentype"),
         url("../f/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: "Avenir Next Bold";
    src: url("../f/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot");
    src: url("../f/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?iefix") format("embedded-opentype"),
         url("../f/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Bold Italic";
    src: url("../f/ac2d4349-4327-448f-9887-083a6a227a52.eot");
    src: url("../f/ac2d4349-4327-448f-9887-083a6a227a52.eot?iefix") format("embedded-opentype"),
         url("../f/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}