{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load staticfiles i18n %}
{% block titletag %}{% trans "External Links Management" %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/external-link-manager.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    {% block header %}
    <header class="nice-padding hasform">
        <div class="row header-title">
            <div class="left">
                <div class="col">
                    {% block h1 %}<h1 class="icon icon-link">
                        External Links Search<span></span></h1>
                    {% endblock %}
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block content_main %}
    <div class="nice-padding external-links">
        <p>Enter an external link in the input field to see a list of pages that contain the URL.</p>
    
        <form method="post">
            {% csrf_token %}
            <div class="field iconfield field-small">
                <div class="input icon-search">
                    {{ form.url }}
                </div>
            </div>
            <button type="submit" class="button">Search</button>
        </form>

        {% if request.POST %}
            <div class="results">
                <p class="results-message">
                    {% if num_page_results or num_snippet_results %}
                        There {{single_page|yesno:"is,are"}} {{num_page_results}} matching {{single_page|yesno:"page,pages"}} and {{num_snippet_results}} matching {{single_snippet|yesno:"snippet,snippets"}}.
                    {% else %}
                        There are no matching pages or snippets.
                    {% endif %}
                </p>
            
                {% if num_page_results %}
                    <h2>Page results</h2>
                    {% include "./_list_explore_revised.html" with show_parent=1 allow_navigation=0 %}
                {% endif %}

                {% if num_snippet_results %}
                    <h2>Snippet results</h2>
                    <table class="listing">
                        <thead>
                            <tr class="table-headers">
                                <th>Title</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for snippet in contacts %}
                    <tr>
                        <td class="title" valign="top">
                            <h2>
                                <a href="{% url 'wagtailsnippets:edit' 'v1' 'contact' snippet.pk %}"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                    {{ snippet }}
                                </a>
                            </h2>
                        </td>
                        <td>
                            <a href="{% url 'wagtailsnippets:list' 'v1' 'contact' %}"
                               target="_blank"
                               rel="noopener noreferrer">
                                Contacts
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for snippet in resources %}
                    <tr>
                        <td valign="top"class="title" valign="top">
                            <h2>
                                <a href="{% url 'v1_resource_modeladmin_edit' snippet.pk %}"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                    {{ snippet }}
                                </a>
                            </h2>
                        </td>
                        <td>
                            <a href="{% url 'v1_resource_modeladmin_index' %}"
                               target="_blank"
                               rel="noopener noreferrer">
                                Resources
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for snippet in reusable_texts %}
                    <tr>
                        <td class="title" valign="top">
                            <h2>
                                <a href="{% url 'wagtailsnippets:edit' 'v1' 'reusabletext' snippet.pk %}"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                    {{ snippet }}
                                </a>
                            </h2>
                        </td>
                        <td valign="top">
                            <a href="{% url 'wagtailsnippets:list' 'v1' 'reusabletext' %}"
                               target="_blank"
                               rel="noopener noreferrer">
                                Reusable Texts
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                    </table>
                {% endif%}
            

        {% endif %}
    </div>
    {% endblock %}
{% endblock %}
