{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "External Links Management" %}{% endblock %}

{% block content %}

    <div class="nice-padding">
        <h2>External links</h2>

        <div class="help-block help-info">
            <p>Enter an external link in the input field to see a list of pages that contain the URL.</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <ul class="fields">
                <li>
            <div class="field url_field url_input">
            <div class="input">
            {{ form.url }}
            </div>
            </div>
            </li>
        </ul>
        <button type="submit" class="button">Search</button>
        </form>
        <br>

        {% if request.POST %}
        
            <h2>Number of page results: {{ num_page_results }}</h2>
            {% include "wagtailadmin/pages/listing/_list_explore.html" with show_parent=1 allow_navigation=0 %}

            <h2>Number of snippet results: {{ num_snippet_results }}</h2>
            <table class="listing">
                <thead>
                    <tr class="table-headers">
                        <th>Title</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for snippet in contacts %}
                    <tr>
                        <td class="title" valign="top">
                            <h2>
                                <a href="{% url 'wagtailsnippets:edit' 'v1' 'contact' snippet.pk %}" target="_blank">
                                    {{ snippet }}
                                </a>
                            </h2>
                        </td>
                        <td>
                            <a href="{% url 'wagtailsnippets:list' 'v1' 'contact' %}" target="_blank">
                                Contacts
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for snippet in resources %}
                    <tr>
                        <td valign="top"class="title" valign="top">
                            <h2>
                                <a href="{% url 'v1_resource_modeladmin_edit' snippet.pk %}" target="_blank">
                                    {{ snippet }}
                                </a>
                            </h2>
                        </td>
                        <td>
                            <a href="{% url 'v1_resource_modeladmin_index' %}" target="_blank">
                                Resources
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for snippet in reusable_texts %}
                    <tr>
                        <td class="title" valign="top">
                            <h2>
                                <a href="{% url 'wagtailsnippets:edit' 'v1' 'reusabletext' snippet.pk %}" target="_blank">
                                    {{ snippet }}
                                </a>
                            </h2>
                        </td>
                        <td valign="top">
                            <a href="{% url 'wagtailsnippets:list' 'v1' 'reusabletext' %}" target="_blank">
                                Reusable Texts
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}


{% endblock %}
