// Newer design system
@import (reference) 'cfpb-core.less';

.kbyo-video {
  margin-top: 3.75em;
  margin-bottom: 3.75em;
}

.kbyo-tools,
.kbyo-mortgage-disclosures,
.kbyo-timeline {
  border-top: 1px solid @gray-10;
  padding-top: 1.875em;
  padding-bottom: 2.8125em;
}

.kbyo-professional-resources, .kbyo-footer {
  background-color: @gray-5;
  border-bottom: 1px solid @gray-10;
  border-top: 1px solid @gray-10;
  padding-top: 2.8125em;
  padding-bottom: 2.8125em;
}

.o-info-unit-group .content-l:first-child {
  margin-top: 0;
}

// Compare page.
.kbyo-compare-intro {
  padding-bottom: 2.8125em;
}

.kbyo-compare-tiles {
  margin-bottom: 0.9375em;
  position: relative;
}

.kbyo-compare-col {
  padding-bottom: 2.8125em;
}

@media only all and (min-width: 50em) {
  .kbyo-compare-row {
      display: block;
      position: relative;
      margin-left: -15px;
      margin-right: -15px;
   }

   .kbyo-compare-col {
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: solid transparent;
      border-width: 0 15px;
      margin-right: -0.25em;
      vertical-align: top;
      width: 50%;
  }

}

.kbyo-compare-tiles-overlay {
  height: 374px;
}

.kbyo-compare-tiles img {
  border: 1px solid @gray-30;
  box-shadow: 3px 3px 3px @gray-30;
  display: inline-block;
  zoom: 1;
  margin: 10px 10px 0 0;
  vertical-align: top;
}

.kbyo-compare-tiles-overlay img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  z-index: 100;
}

.kbyo-compare-tiles-overlay a + a img {
  position: absolute;
  top: 50px;
  left: 75px;
  z-index: 90;
}

.kbyo-compare-tiles-overlay a + a + a img {
  position: absolute;
  top: 100px;
  left: 150px;
  z-index: 80;
}

.kbyo-footer {
  background-color: @gray-5;
  border-bottom: 1px solid @gray-10;
  border-top: 1px solid @gray-10;
  padding-top: 2.8125em;
}

// Timeline page.
.kbyo-timeline-page__date {
  color: @gray-90;
}

.kbyo-timeline-page__event {
  border-top: 1px solid @gray-10;
  padding-top: 1.875em;
  margin-bottom: 1.875em;
}
