{% extends "front/base_nonresponsive.html" %}
{% load static from staticfiles %}

{% block title %}Protecting your finances > Consumer Financial Protection Bureau{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/servicemembers">INFORMATION FOR SERVICEMEMBERS</a></li>
<li>PROTECTING YOUR FINANCES</li>
{% endblock %}

{% block page_header_footer_css %}
<link rel="stylesheet" href="{% static 'nemo/_/c/v1-nonresponsive-header.css' %}"/>
<link rel="stylesheet" href="{% static 'nemo/_/c/v1-nonresponsive-footer.css' %}"/>
{% endblock %}

{% block content %}
{% include "front/share_block.html" %}
<article class="page">
    <header class="pagetitle">
        <h1>Protecting your finances</h1>
    </header>
    <p>
        <script type="text/javascript">
            $(document).ready(function() {
            // Hide the "view1" div.
            $('div.view1').hide();
            // Watch for clicks on the "slide1" link.
            $('div.slide1').click(function() {
            // When clicked, toggle the "view1" div.
            $('div.view1').slideToggle(400);
            return false;
            });
            });
            $(document).ready(function() {
            // Hide the "view2" div.
            $('div.view2').hide();
            // Watch for clicks on the "slide2" link.
            $('div.slide2').click(function() {
            // When clicked, toggle the "view2" div.
            $('div.view2').slideToggle(400);
            return false;
            });
            });
            $(document).ready(function() {
            // Hide the "view3" div.
            $('div.view3').hide();
            // Watch for clicks on the "slide3" link.
            $('div.slide3').click(function() {
            // When clicked, toggle the "view3" div.
            $('div.view3').slideToggle(400);
            return false;
            });
            });
            $(document).ready(function() {
            // Hide the "view4" div.
            $('div.view4').hide();
            // Watch for clicks on the "slide4" link.
            $('div.slide4').click(function() {
            // When clicked, toggle the "view4" div.
            $('div.view4').slideToggle(400);
            return false;
            });
            });
            $(document).ready(function() {
            // Hide the "view5" div.
            $('div.view5').hide();
            // Watch for clicks on the "slide5" link.
            $('div.slide5').click(function() {
            // When clicked, toggle the "view5" div.
            $('div.view5').slideToggle(400);
            return false;
            });
            });
            $(document).ready(function() {
            // Hide the "view6" div.
            $('div.view6').hide();
            // Watch for clicks on the "slide6" link.
            $('div.slide6').click(function() {
            // When clicked, toggle the "view6" div.
            $('div.view6').slideToggle(400);
            return false;
            });
            });
        </script>
    </p>
    <div class="two-col">
        <div class="col">
            <p style="text-align: center;"><a href="#homeloan" class="noStyles"><img width="80%" class="alignnone size-full wp-image-3268" title="Accessing your VA benefits" alt="Accessing your VA benefits" src="{% static 'images/sm-va-loan.jpg' %}"></a><br>
                <a href="#homeloan">Accessing your VA benefits</a>
            </p>
        </div>
        <div class="col">
            <p style="text-align: center;"><a href="#scra" class="noStyles"><img width="80%" class="alignnone size-full wp-image-3268" title="Deployment and your credit card" alt="Deployment and your credit card" src="{% static 'images/sm-cc.jpg' %}"></a><br>
                <a href="#scra">Deployment and your credit card</a>
            </p>
        </div>
    </div>
    <p>Servicemembers and their families face unique financial challenges. But there are also unique resources to protect their finances and their rights.</p>
    <h3 id="homeloan">Don’t get ripped off</h3>
    <h6 style="margin-bottom: 1em;">Be smart about accessing your VA benefits</h6>
    <p>Thinking about applying for one or more of your <a href="http://www.ebenefits.va.gov/">VA benefits</a>? Alarms should sound if you receive a call or personal visit at your door offering personalized assistance in filing for your VA benefits.</p>
    <div class="quarterbox column x19 lt-x2">
        <h4>The Setup</h4>
        <p>A knock at the door or a telephone call offering military personnel direct, personalized assistance in applying for their VA benefits.</p>
    </div>
    <div class="quarterbox column x19 lt-x3">
        <h4>The Red Flag</h4>
        <p>The VA doesn’t generally make house calls, and it doesn’t participate in telemarketing.</p>
    </div>
    <div class="quarterbox column x19 lt-x3">
        <h4>The Scam</h4>
        <p>These people are not at your door to provide a public service or reward you for your military service.  <em>They want your personal information and access to your financial accounts!</em></p>
    </div>
    <h4 class="clear-both">The Solution</h4>
    <p>Information and access to all your VA benefits are available online <a href="http://www.ebenefits.va.gov/">through the Department of Veterans Affairs</a>. You can also obtain your Certificate of Eligibility for your VA Home Loan Guaranty through the <a href="http://www.ebenefits.va.gov/">eBenefits portal</a>. All military personnel and veterans can register for access to a variety of information to assist in understanding all your benefits.</p>
    <p>If you don’t register until after you separate from the Armed Services, you may need to visit a <a href="http://www2.va.gov/directory/guide/home.asp">VA service location</a> to validate your credentials before registering. If you register while you are serving, you can save a trip and keep the same account for life.</p>
    <h3 class="clear-both" id="scra">Don’t lose money on your credit cards</h3>
    <h6 style="margin-bottom: 1em;">Your rights under the Servicemembers Civil Relief Act</h6>
    <div style="margin-bottom: 1em;">
        <p>I am…</p>
        <p style="margin-left: 1.5em;">Entering the military and have an existing credit card balance.<br>
            On active duty and have credit card debt from before I was on active duty.<br>
            In the National Guard/Reserves and have been called up to active duty.
        </p>
        <p>I have an existing credit card balance. Can I get any relief from the finance charges?</p>
        <div class="slide1" style="cursor: pointer;">
            <p><img src="http://files.consumerfinance.gov/f/theme/_/img/blue_arrow_links.png" style="margin-bottom: -0.25em;">&nbsp;You have rights. <a href="#">Read more…</a></p>
        </div>
        <div class="view1" style="margin-left: 1.2em; display: none;">
            <p>As a general matter, when you enter active duty, you should notify your card issuer. The maximum interest rate you can be charged on any amount you owed before entering active-duty service is 6 percent.  For this purpose, interest includes not just periodic interest charges, but also other finance charges and fees related to the debt.  One such fee is an annual fee.</p>
            <p>For members of the full-time active-duty military, SCRA protections begin the day you enter military service. For a Reservist or Guardsman, SCRA protections begin the day you receive your mobilization orders.</p>
            <p>To get the benefit of the SCRA, you must notify your credit card company of your active-duty status in writing. You must send a written letter to the card issuer and include a copy of your orders. Include in your letter a request to reduce your interest to 6 percent while you are on active duty.</p>
            <p>Some credit card issuers may even be willing to reduce your interest rate further than the SCRA requires.</p>
            <hr style="margin-bottom: 1em;">
        </div>
    </div>
    <div style="margin-bottom: 1em;">
        <p>I have been on active duty and have returned home. I just learned that I could have gotten a reduction in the interest rate on my credit card while I was on active duty. Is it too late for me to get this reduction?</p>
        <div class="slide2" style="cursor: pointer;">
            <p><img src="http://files.consumerfinance.gov/f/theme/_/img/blue_arrow_links.png" style="margin-bottom: -0.25em;">&nbsp;You have up to 180 days after you are released from active duty to let a lender know that you were on active duty. <a href="#">Read more…</a></p>
        </div>
        <div class="view2" style="margin-left: 1.2em; display: none;">
            <p>You should write your credit card company and send a copy of your military orders.  If you do so within this 180-day time period, you are entitled to have your interest rate reduced to 6 percent. This reduction is effective for the period from the date you entered active duty through the date you were released from active-duty status.</p>
            <hr style="margin-bottom: 1em;">
        </div>
    </div>
    <div style="margin-bottom: 1em;">
        <p>If I ask my credit card company to reduce the interest rate on my balance while I am on active duty, can it close my account or reduce my credit line?</p>
        <div class="slide3" style="cursor: pointer;">
            <p><img src="http://files.consumerfinance.gov/f/theme/_/img/blue_arrow_links.png" style="margin-bottom: -0.25em;">&nbsp;No. <a href="#">Read more…</a></p>
        </div>
        <div class="view3" style="margin-left: 1.2em; display: none;">
            <p>Under the law a lender cannot revoke or reduce your credit because you have exercised your right to a reduced interest rate under the Servicemembers Civil Relief Act.</p>
            <hr style="margin-bottom: 1em;">
        </div>
    </div>
    <div style="margin-bottom: 1em;">
        <p>If I ask my credit card company to reduce the interest rate on my balance while I am on active duty, can that hurt my credit rating?</p>
        <div class="slide4" style="cursor: pointer;">
            <p><img src="http://files.consumerfinance.gov/f/theme/_/img/blue_arrow_links.png" style="margin-bottom: -0.25em;">&nbsp;No. <a href="#">Read more…</a></p>
        </div>
        <div class="view4" style="margin-left: 1.2em; display: none;">
            <p>It is against the law for a lender to make an adverse credit report because you exercised your rights under the Servicemembers Civil Relief Act.</p>
            <hr style="margin-bottom: 1em;">
        </div>
    </div>
    <div style="margin-bottom: 1em;">
        <p>Can I get any reduction in the interest rate I am charged on any new purchases I make using my credit card while I am on active duty?</p>
        <div class="slide5" style="cursor: pointer;">
            <p><img src="http://files.consumerfinance.gov/f/theme/_/img/blue_arrow_links.png" style="margin-bottom: -0.25em;">&nbsp;The law regulates only the interest rate on amounts that you owed at the time you entered the military service or were called up to active duty. <a href="#">Read more…</a></p>
        </div>
        <div class="view5" style="margin-left: 1.2em; display: none;">
            <p>If you make purchases with your card while on active duty, you can be charged your regular APR on this new balance. However, your card issuer must apply towards the new balance any monthly payment you make that exceeds the minimum amount due. This will reduce the total amount of interest you pay on the card.</p>
            <p>Some credit card companies may give you a reduced interest rate on new purchases as well as on the balance you owed when you went on active duty. You should check with your credit card company to see what, if anything, it will do for you.</p>
            <hr style="margin-bottom: 1em;">
        </div>
    </div>
    <div style="margin-bottom: 1em;">
        <p>I believe that my rights as a servicemember have been violated by my credit card issuer. What should I do?</p>
        <div class="slide6" style="cursor: pointer;">
            <p><img src="http://files.consumerfinance.gov/f/theme/_/img/blue_arrow_links.png" style="margin-bottom: -0.25em;">&nbsp;You should contact the nearest Armed Forces Legal Assistance Program office. <a href="#">Read more…</a></p>
        </div>
        <div class="view6" style="margin-left: 1.2em; display: none;">
            <p>Dependents of servicemembers can also contact or visit local military legal assistance offices where they reside. You can get help online to find an office, whether you are <a href="http://legalassistance.law.af.mil/">within the continental United States</a> or <a href="http://www.militaryinstallations.dod.mil/">anywhere else worldwide</a>.  Another potential source of assistance that may be helpful even if you are no longer on active duty is the <a href="http://www.americanbar.org/portals/public_resources/aba_home_front.html">American Bar Association</a>.</p>
        </div>
    </div>
    <hr style="margin-bottom: 1em;">
    <p><em>Learn more…</em><br>
        The <a href="http://www.justice.gov/crt/publications/servicemembers_booklet.pdf" class="pdf">Servicemembers Civil Relief Act</a> gives you certain additional rights.<br>
        Military members or veterans who are having problems with their mortgages: call the CFPB at <br>
    </p>
    <h4 style="text-align: center; font-size: 16px"><em>1 (855) 411-CFPB</em> (2372)</h4>
    <p>Or visit the <a href="http://www.benefits.va.gov/homeloans/">VA’s home loans website</a> for personalized assistance.</p>
    <p>The VA also offers you <a href="http://www.benefits.va.gov/HOMELOANS/resources_video.asp">video advice</a> on alternatives to foreclosure.<br>
        <a href="http://www.consumerfinance.gov/servicemembers/additionalresources">Additional resources</a> for servicemembers, veterans, and their families<br>
        <a href="http://www.consumerfinance.gov/servicemembers/">Return to the servicemembers homepage</a>
    </p>
</article>
{% endblock %}
