{% extends "base.html" %}

{% block demo_title -%}
    Contact us
{%- endblock %}

{% block title -%}
    Contact us
{%- endblock %}
{% block desc -%}
    Contact information for the Consumer Financial Protection Bureau
{%- endblock %}

{% block content %}

    <main class="content content__2-1 content__bleedbar" id="main" role="main">

        <!-- .content_bar must come after .content_hero but before .content_wrapper -->
        <div class="content_bar"></div>

        <div class="wrapper">
            <section class="content_intro">
                <h1>Contact us</h1>

                <div class="content-l">
                    <div class="content-l_col content-l_col-1-2">
                        <div class="demo-placeholder">
                            General inqueries
                        </div>
                    </div>
                    <div class="content-l_col content-l_col-1-2 content-l_col__before-divider">
                        <div class="demo-placeholder">
                            Submit a complaint
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <div class="content_line"></div>

        <div class="wrapper content_wrapper">

            <div class="content_main">
                <section>
                    <div class="demo-placeholder">
                        List of contacts
                    </div>
                </section>
            </div>

            <!-- This might actually not be aside content. Maybe change to section? -->
            <aside class="content_sidebar">
                <section class="content_block content_block__flush-top">
                    <div class="demo-placeholder">
                        Administrative offices
                    </div>
                </section>
                <section class="content_block">
                    <div class="demo-placeholder">
                        Consumer Contact center
                    </div>
                </section>
                <section class="content_block">
                    <div class="demo-placeholder">
                        Accessibility feedback
                    </div>
                </section>
                <section class="content_block">
                    <div class="demo-placeholder">
                        Whistleblowers
                    </div>
                </section>
                <section class="content_block">
                    <div class="demo-placeholder">
                        Tribal consultation
                    </div>
                </section>
                <section class="content_block">
                    <div class="demo-placeholder">
                        ORder print publications
                    </div>
                </section>
            </aside>

        </div>
    </main>

{% endblock content %}
