@import (less) '../../../css/main.less';
@import (less) './search.less';

.prepaid-detail {
    dt h2 {
        .h4();
        margin-bottom: 5px;
    }
    dd {
        margin-bottom: 20px;
    }
}

.filters {
    .o-multiselect_choices {
        display: none;
  }
 }