{% extends 'es/es-base.html' %}

{% block babel_title %}
	Después de presentar una queja &gt; Oficina para la Protección Financiera del Consumidor
{% endblock %}

{% block body_class %}
{% endblock %}

{% block nav_item_presentar %}
	s-active
{% endblock %}


{% block babel_content %}
<header class="hero full-bleed full-bleed-padded">
	<div class="hero-container">
		<h1>Presentar una queja<br>
			<a href="tel:+18554112372">(855) 411-2372</a>
			<small><strong>Una persona que habla español puede tomar su llamada.</strong></small></h1>
			<span>Usted puede presentar quejas acerca de:</span>
			<div class="row">
				<div class="span4">
					<ul>
						<li>Tarjetas de crédito</li>
						<li>Préstamos estudiantiles</li>
						<li>Transferencias de dinero</li>
					</ul>
				</div>
				<div class="span4">
					<ul>
						<li>Hipotecas</li>
						<li>Préstamos de consumo</li>
						<li>Préstamos para vehículo</li>
					</ul>
				</div>
				<div class="span4">
					<ul>
						<li>Informes y calificaciones de crédito</li>
						<li>Cuentas y Servicios bancarios</li>
					</ul>
				</div>
				<p>También puede presentar una queja en línea: <a href="http://consumerfinance.gov/complaint/" hreflang="en-US">consumerfinance.gov/complaint</a> <sub>inglés</sub></p>
			</div>
	 </div><!-- .hero-container-->
</header>
<section class="content">
	<div class="primary">
		<article>

			<h2>Después de presentar una queja</h2>
			<div class="full-bleed full-bleed-padded complaint-step bg-colored">

				<img class="icon-80 alignnone" src="{{ static('nemo/_/img/complaintstep1.png') }}" alt="">
				<h2><span class="circle-text">1</span> Presentación de la queja</h2>
				<p>Usted presenta una queja sobre un problema que tenga con una empresa acerca de un producto o servicio financiero de consumo. Usted recibirá actualizaciones por correo electrónico y <a href="https://help.consumerfinance.gov/app/utils/login_form/" hreflang="en-US">podrá entrar al sistema</a> <sub><i>página en inglés</i></sub> para darle seguimiento al estado de su queja.</p>

			</div>
			<div class="full-bleed full-bleed-padded complaint-step">

				<img class="icon-80" src="{{ static('nemo/_/img/complaintstep2.png') }}" alt="">
				<h2><span class="circle-text">2</span> Revisión y proceso</h2>
				<p>Enviaremos su queja a la empresa y trabajaremos para obtener una respuesta. Si consideramos que otra agencia del gobierno está en mejores condiciones de ayudar, le enviaremos su queja a la misma y se lo informaremos.</p>

			</div>
			<div class="full-bleed full-bleed-padded complaint-step bg-colored">

				<img class="icon-80" src="{{ static('nemo/_/img/complaintstep3.png') }}" alt="">
				<h2><span class="circle-text">3</span> Respuesta de la empresa</h2>
				<p>La empresa revisará su queja, se comunicará con usted cuando sea necesario y le informará Acerca de las medidas que se tomaron o que se tomarán en respuesta a su queja. En estos momentos, nuestros informes están en inglés, pero nos puede llamar al (855) 411-2372 para recibir ayuda de una persona que habla español.</p>

			</div>
			<div class="full-bleed full-bleed-padded complaint-step">

				<img class="icon-80" src="https://s3.amazonaws.com/files.consumerfinance.gov/f/isocons-alt-green-complaint-published-1.png" alt="">
				<h2><span class="circle-text">4</span> Publicación de la queja</h2>
				<p>Nosotros publicamos información sobre su queja, tal como el motivo y la fecha de la misma, en nuestra base de datos de quejas de los consumidores. También publicamos, con su permiso, la descripción de lo que pasó después de eliminar información personal confidencial.</p>

			</div>
			<div class="full-bleed full-bleed-padded complaint-step bg-colored">

				<img class="icon-80" src="https://s3.amazonaws.com/files.consumerfinance.gov/f/isocons-alt-green-consumer-review.png" alt="">
				<h2><span class="circle-text">5</span> Revisión del consumidor</h2>
				<p>Le informaremos sobre la respuesta de la empresa cuando recibamos la misma. Usted podrá revisar la respuesta y tendrá 60 dias para darnos su opinión.</p>

			</div>
			<div class="full-bleed full-bleed-padded complaint-step">

				<img class="icon-80" src="{{ static('nemo/_/img/complaintstep6.png') }}" alt="">
				<h2><span class="circle-text">6</span> Análisis e informe</h2>
				<p>Las quejas ayudan con nuestro trabajo para supervisar a las empresas, hacer cumplir las leyes federales de protección al consumidor y redactar mejores normas y reglamentos. Asimismo, <a href="https://www.consumerfinance.gov/reports/semi-annual-report/" hreflang="en-US">informamos al Congreso</a> <sub><i>página en inglés</i></sub> acerca de las quejas que recibimos y publicamos algunos <a href="https://www.consumerfinance.gov/complaintdatabase/" hreflang="en-US">datos de quejas de los consumidores</a> <sub><i>página en inglés</i></sub>.</p>

			</div>

		</article>
	</div><!-- .primary -->
</section><!-- .content -->

{% endblock %}
