{% import 'templates/nav/_vars-primary-nav.html' as vars with context %}
{% import 'macros/sub-nav.html' as sub_nav with context %}
<nav class="o-mega-menu
            primary-nav
            js-primary-nav"
     aria-expanded="false"
     aria-label="main navigation"
     role="navigation">

    <ul class="primary-nav_menu-list">

        {% do global_dict.update(
            {
                'global_header_cta': {
                    'is_in_list': true
                }

            })
        %}
        {% set value = global_dict.global_header_cta %}
        {# TODO: CTA needs to be focused first when menu is opened. #}
        <li class="primary-nav_item">
            {% include 'molecules/global-header-cta.html' with context %}
        </li>

        {%- for nav_title,
                sub_nav_landing,
                sub_nav_title,
                sub_nav_media,
                sub_nav_items in vars.nav_items %}
            <li class="primary-nav_item js-primary-nav_item">
                {%- if sub_nav_items | length > 0 %}
                    <a class="primary-nav_link
                              js-primary-nav_link"
                       href="{{ sub_nav_landing }}">
                        {{ nav_title }}
                    </a>
                    {{ sub_nav.render(sub_nav_title, sub_nav_landing, sub_nav_items, sub_nav_media) }}
                {%- else %}
                  <a class="primary-nav_link u-link__disabled">
                      {{ nav_title }}
                  </a>
                {%- endif %}
            </li>
        {%- endfor %}
    </ul><!-- END .primary-nav_top-level-list -->

    {% do global_dict.update(
        {
            'global_eyebrow': {
                'is_in_list': true
            }

        })
    %}
    {% set value = global_dict.global_eyebrow %}
    {% include 'molecules/global-eyebrow.html' with context %}

</nav><!-- END .primary-nav -->
