<div class="result-alert credit-alert" role="alert">
  <p class="alert">Many lenders do not accept borrowers with credit scores less than 620.
  Even if your score is low, you may still have options.
  <a href="http://www.consumerfinance.gov/mortgagehelp/">Contact a housing counselor</a> to learn more.</p>
</div>
