{# ==========================================================================

   common_form_fields.date_picker()

   ==========================================================================

   Description: Returns a date picker.

   legend:      Name of the field. Defaults to 'Enter Date Range'.

   required:    Whether the field is required. Defaults to false.

   disabled:    Whether the field is disabled. Defaults to false.

   ========================================================================== #}
{% set start_id = get_unique_id('form_date-picker-starting-date_', '_') %}
{% set end_id = get_unique_id('form_date-picker-ending-date_', '_') %}
<fieldset class="u-reset">
    <div class="form-l_col
                form-l_col-1
                u-mb0">
        <legend class="form-label-header">
            {{ value.legend if value.legend else 'Enter date range' }}
        </legend>
    </div>
    <div class="form-l_col form-l_col-1-2">
        <label class="micro-copy micro-copy__large"
               for="{{ start_id }}">
            From:
        </label>
        <input id="{{ start_id }}"
               placeholder="mm/dd/yyyy"
               type="text"
               {{ 'required' if value.required else '' }}
               {{ 'disabled' if value.disabled else '' }}>
    </div>
    <div class="form-l_col
                form-l_col-1-2
                input__long">
        <label class="micro-copy micro-copy__large"
               for="{{ end_id }}">
            To:
        </label>
        <input id="{{ end_id }}"
               placeholder="mm/dd/yyyy"
               type="text"
               {{ 'required' if value.required else '' }}
               {{ 'disabled' if value.disabled else '' }}>
    </div>
</fieldset>
