{# ==========================================================================

   large_radio.render()

   ==========================================================================

   Builds radio button fields with a large hit target.

   settings (required):

   settings.legend:   Name of the field

   settings.fields:   An array of all the radio button labels.

   settings.size:     The size of the fields. Defaults to 1-2.
                      Possible options: 1 or 1-2

   options (optional):

   options.required:  Whether the field is required. Defaults to false.

   options.disabled:  Whether the field is disabled. Defaults to false.

   ========================================================================== #}

{% macro render(settings, options) -%}
    {% from 'macros/util/format/url.html' import slugify as slugify %}
    {% set id_slug = slugify( settings.legend ) %}
    <fieldset class="u-reset">
        <div class="form-l_col
                    form-l_col-1
                    u-mb0">
            <legend class="form-label-header">
                {{ settings.legend }}
                {%- if options.required -%}
                    * <span class="u-visually-hidden">Required</span>
                {%- endif -%}
            </legend>
        </div>
        {% for field in settings.fields %}
            <div class="form-l_col
                        {{ 'form-l_col-' ~ settings.size if settings.size else 'form-l_col-1-2' }}
                        form-l-inset">
                <div class="form-l-inset_container">
                    <input class="cf-input"
                           type="radio"
                           name="form_{{ id_slug }}"
                           id="radio_{{ id_slug }}_{{ loop.index }}"
                           {{ 'required' if settings.required else '' }}
                           {{ 'disabled' if settings.disabled else '' }}>
                    <label class="cf-input_label"
                           for="radio_{{ id_slug }}_{{ loop.index }}">
                        {{ field }}
                    </label>
                </div>
            </div>
        {% endfor %}
    </fieldset>
{%- endmacro %}
