{# ==========================================================================

   form.input()

   ==========================================================================

   Description: Builds form radio button.

   label:       The radio's label attribute. Required.

   id:          The radio's id attribute. Defaults to `input_${ label }`

   class:       The radio's class attribute. Optional.

   value:       The radio's value attribute. Defaults to `id`.

   name:        The radio's name attribute. Defaults to `id`.

   selected:    Whether or not the radio is selected by default.
                Boolean. Defaults to false.

   el_wrapper:  Element to wrap the radio in. Defaults to div.

   disabled:    Whether the field is disabled. Defaults to false.

   ========================================================================== #}
{% from 'macros/util/format/url.html' import slugify as slugify %}

{% macro render(value) -%}

{%- set id = value.id or 'input_' ~ unique_id_in_context() ~ '_' ~ slugify( value.label ) -%}
{%- set el = value.el_wrapper if value.el_wrapper else 'div' -%}
{%- set val = value.value if value.value else id -%}
{%- set name = value.name if value.name else id -%}
{%- set checked = 'checked' if value.selected else '' -%}

<{{ el }} class="m-form-field m-form-field__radio {{ value.class if value.class else '' }}">
    <input class="a-radio"
           type="radio"
           value="{{ val }}"
           id="{{ id }}"
           name="{{ name }}"
           {{ checked }}
           {{ 'disabled' if value.disabled else ''}}>
    <label class="a-label"
           for="{{ id }}">
        {{ value.label | safe }}
    </label>
</{{ el }}>

{%- endmacro %}
