
{# ==========================================================================

   tag.render()

   ==========================================================================

   Description:

   Renders a small visual tag with an X icon.

   options.label:  The tag's text content.

   value:          The tag's underlying value. Optional.

   behavior:       The checkbox's JS behavior. Optional.

   ========================================================================== #}

{% macro render( options ) %}

{%- set behavior = 'data-js-hook=behavior_' ~ options.behavior if options.behavior else '' -%}
{%- set value = 'data-value=' ~ options.value if options.value else '' -%}
{%- set href = 'href=' ~ options.href if options.href else '' -%}

<div class="a-tag"
     {{ value }}
     {{ behavior }}>
    {{ options.label }} {% if href %}<a {{href}}>{% endif %}{{ svg_icon('remove') }}{% if href %}</a>{% endif %}
</div>
{% endmacro %}
