
{# ==========================================================================

   tagline.render()

   ==========================================================================

   Description:

   Render HTML for the United States government site tagline.

   ========================================================================== #}

{% macro render( is_large ) %}
<div class="a-tagline{{ ' a-tagline__large' if is_large else '' }}">
	<span class="u-usa-flag"></span>
   <div class="a-tagline_text">
      {{ _('This is a United States government website') }}
   </div>
</div>
{% endmacro %}
