
{# ==========================================================================

   tagline.render()

   ==========================================================================

   Description:

   Render HTML for the United States government site tagline.

   ========================================================================== #}

{% macro render( is_large ) %}
<div class="a-tagline{{ ' a-tagline__large' if is_large else '' }}">
	<span class="u-usa-flag"></span>
   <div>
      {{ _('An official website of the') }}
      <span class="u-nowrap">United States government</span>
   </div>
</div>
{% endmacro %}
