{% extends 'layout-2-1-bleedbar.html' %}

{% from 'organisms/expandable.html' import expandable with context %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block title -%}
    Survey: {{ survey.meta.name }} | Consumer Financial Protection Bureau
{%- endblock %}

{% block css -%}
    {{ super() }}

    <link rel="stylesheet" href="{{ static('apps/teachers-digital-platform/css/main.css') }}">
{%- endblock css %}

{% block pre_content scoped -%}
{%- endblock %}

{% block body_content scoped %}
<div class="wrapper content_wrapper">
    <div class="tdp-survey-page content_main"
         data-page-idx="{{ page_idx|tojson|forceescape }}"
         data-questions-by-page="{{ questions_by_page|tojson|forceescape }}">
        {# <h1>Survey Page {{ wizard.steps.step1 }}</h1> #}

            <form action="" method="post"> {{ csrf_input }}

                {# E.g. "./6-8/before-page-2.html" #}
                {% include './' ~ survey.key ~ '/before-page-' ~ wizard.steps.step1 ~ '.html' ignore missing %}

                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form.as_p() }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form.as_p() }}
                {% endif %}

                {# Do not remove the following closing div tag. The div element #}
                {# was opened in a before-page template above so it needs closing. #}
                </div>

                <div class="block">

                    <p>
                    {% if wizard.steps.prev %}
                        <a class="a-btn" href="../{{ wizard.steps.prev }}/">
                            {% include 'icons/left.svg' %} |
                            <span class="a-link_text">Back</span>
                        </a>
                    {% endif %}
                    {% if wizard.steps.next %}
                        <button class="a-btn" type="submit">
                            Next | {% include 'icons/right.svg' %}
                        </button>
                    {% else %}
                        <button class="a-btn" type="submit">
                            Get My Results | {% include 'icons/right.svg' %}
                        </button>
                    {% endif %}

                    <div class="survey-start-over">
                        <p>
                            <a class="a-btn a-btn__link a-btn__warning" href="../../">
                                Reset survey and start over
                            </a>
                        </p>
                        <div class="m-notification">
                            {% include 'icons/information-round.svg' %}
                            <div class="m-notification_content">
                                <div class="h4 m-notification_message">
                                    Are you sure?
                                    <strong><button class="a-btn a-btn__link" data-yes="">Yes</button></strong>
                                    <button class="a-btn a-btn__link" data-cancel="">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>

        {# wizard.steps.all is a list of 'p1', 'p2', ... #}
        <aside class="content_sidebar o-sidebar-content">
            <div class="progress"><h2>[Your survey progress]</h2></div>
            <p>[progress graphic]</p>
            <p>
                Completed <span class="tdp-survey-progress-out-of"></span>.
            </p>
            <div class="tdp-survey-progress-bar" aria-label="50%">
                <div class="tdp-survey-progress-bar--bar"></div>
            </div>
            <p>[section complete]</p>
        </aside>
    </div>
</div>
{% endblock body_content %}

{% block javascript %}
    {{ super() }}

    {# Conditional comment used to block IE8 and under from receiving JS #}
    <!--[if gt IE 8]><!-->
        <script src="{{ static('apps/teachers-digital-platform/js/index.js') }}"></script>
    <!--<![endif]-->
{% endblock javascript %}
