{% overextends "wagtailadmin/login.html" %}
{% load i18n admin_static %}

{% block furniture %}
    <div class="content-wrapper">

        <h1>{% trans 'Welcome' %} <br/>
        {% if 'build' in request.site.hostname %}
            You've logged in to the demo Wagtail.    
        {% else %}
            You've logged in to the consumerfinance.gov editorial tools.    
        {% endif %}
        </h1>

        <h2>Choose which admin interface you'd like to go to</h2>
        <ul>
            {% for name, url in destinations %}
                <li><a href="{{url}}"> {{name}}</a></li>
            {% endfor %}
        </ul>

        <h2>Helpful links</h2>
        <ul>
            <li>
                <a href="https://cfpb.github.io/design-manual/global-elements/global-elements.html">
                    Design Manual - Global Elements
                </a>
            </li>
            <li>
                <a href="https://cfpb.github.io/design-manual/page-components/page-components.html">
                    Design Manual - Page Components
                </a>
            </li>
            <li>
                CFPB-specific Wagtail documentation (please see link in CF.gov Platform team repo under "playground")
            </li>
        </ul>

    </div>
{% endblock %}
