
{% macro render(post) %}

{% from "post-macros.html" import category_icon as category_icon %}
{% from "macros.html" import share as share %}

<article class="post">
    <header>
        {% if post.category.0 %}
        <a href="{{ path }}?filter_category={{ post.category.0 }}" class="post_slug category-slug">
            {{ category_icon(post.category.0, 'category-slug_icon')|safe }}
            <span class="u-visually-hidden">Category:</span>
            {{ post.category.0 }}
        {% endif %}
        </a>
        <h1 class="post_header">
            {{ post.title|safe }}
        </h1>
    {% if post.dek %}
        <div class="post_dek">
            {{ post.dek|safe }}
        </div>
    {% endif %}
        <div class="post_meta">
        {% if post.author.0 %}
            <span class="post_byline">
                By <a href="{{ path }}?filter_author={{ post.author.0 }}">
                    {{ post.author.0 }}
                </a>
                {% if post.author.1 %}
                    and <a href="{{ path }}?filter_author={{ post.author.1 }}">
                        {{ post.author.1 }}
                    </a>
                {% endif %}
                &ndash;
            </span>
        {% endif %}
            <span class="post_date date">
                {{ post.date|date("%b %d, %Y") }}
            </span>
        </div>
        {{ share(post.title, false) }}
    {% if post.thumbnail.images %}
        <img class="post_featured-img"
             src="{{ post.thumbnail.images.full.url }}"
             alt="{{ post.thumbnail.alt_text }}">
    {% endif %}
    </header>
    <div class="post_body">
        {{ post.content|safe }}
    </div>
{% if post.tags|length %}
    <footer>
        <div class="tags">
            <h4 class="tags_header">Topics:</h4>
            <ul class="tags_list">
            {% for tag in post.tags %}
                <li class="tags_tag">
                    <a class="tags_link" href="{{ path }}?filter_tags={{ tag }}">
                        <span class="tags_bullet" aria-hidden="true">&bull;</span>
                        {{ tag }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div> 
    </footer>
{% endif %}
</article>

{% endmacro %}
