    <header class="header" role="banner">
        <div class="wrapper">
            <a href="/">
                <img class="logo u-js-only"
                     src="/static/img/logo.svg"
                     onerror="this.onerror=null;this.src='/static/img/logo.png';"
                     alt="Consumer Financial Protection Bureau"
                     width="262"
                     height="66">
                <noscript>
                    <img class="logo logo__no-js"
                         src="/static/img/logo.png"
                         alt="Consumer Financial Protection Bureau"
                         width="262"
                         height="66">
                </noscript>
            </a>

            <div class="header_misc">
                Contact us: <a class="header_misc_tel" href="tel:8554112372">(855) 411-2372</a>
                <a class="header_misc_es">Español</a>
            </div>
        </div>
    </header><!-- END .header -->
