{% extends "layout-base.html" %}

{# Set the modifier classes needed to trigger this layout. #}
{% set content_modifiers = "content__2-1 content__bleedbar" %}

{% block body_content %}
    <div class="wrapper content_wrapper">
        <div class="content_main {{ content_main_modifiers }}">
            <section>
                {% block content_main -%}{%- endblock %}
            </section>
        </div>
        <aside class="content_sidebar{{ content_sidebar_modifiers }}">
            {% block content_sidebar -%}{%- endblock %}
        </aside>
    </div>
{% endblock %}
