{# Build a Twitter share URL #}
{% macro share_twitter_url() %}
    {% set share_twitter_url = "http://twitter.com/intent/tweet" %}
    {% set share_twitter_url = share_twitter_url + "?url=" + request.url|urlencode %}
    {% set share_twitter_url = share_twitter_url + "&amp;via=CFPB" %}
    {% if post %}
        {# If this is a post object, check for custom fields having been set #}
        {% if post.custom_fields.twtr_text %}
            {% set share_twitter_url = share_twitter_url + "&amp;text=" + post.custom_fields.twtr_text.0|urlencode + "%20--" %}
        {% endif %}
        {% if post.custom_fields.twtr_rel %}
            {% set share_twitter_url = share_twitter_url + "&amp;related=" + post.custom_fields.twtr_rel.0 %}
        {% endif %}
        {% if post.custom_fields.twtr_lang %}
            {% set share_twitter_url = share_twitter_url + "&amp;lang=" + post.custom_fields.twtr_lang.0 %}
        {% endif %}
        {% if post.custom_fields.twtr_hash %}
            {% set share_twitter_url = share_twitter_url + "&amp;hashtags=" + post.custom_fields.twtr_hash.0 %}
        {% endif %}
    {% endif %}
    {{ share_twitter_url }}
{% endmacro %}

{# Format a phone number to `(XXX) XXX-XXXX` when given `XXXXXXXXXX` #}
{% macro format_phone(number) %}
    {%- for char in number -%}
        {{- '(' if loop.index == 1 -}}
        {{ char }}
        {{- ') ' if loop.index == 3 -}}
        {{- '-' if loop.index == 6 -}}
    {%- endfor %}
{% endmacro %}

{# Format address to:
   ```
   Line 1
   Line 2 City, State Zip
   ```
   when given a contact post type #}
{% macro format_address(contact) %}
    {{ contact.street if contact.street }}<br>
    {{ contact.street_2 + '<br>'|safe if contact.street_2 }}
    {{ contact.city + ',' if contact.city }}
    {{ contact.state if contact.state }}
    {{ contact.zip_code if contact.zip_code }}
{% endmacro %}

{# Make share icons when given a title for the share by email link.
   You can turn on the heading by passing a boolena for the second parameter. #}
{% macro share(title, show_header=false) %}
    <aside>
    {% if show_header %}
        <h1 class="h5">Share this page</h1>
    {% endif %}
        <ul class="post_share list__horizontal">
            <li class="list_item">
                <a class="share-icon"
                   href="http://api.addthis.com/oexchange/0.8/forward/email/offer?url={{ request.url|urlencode }}&amp;title={{ title }}&amp;pubid=ra-4da354ee346886d2">
                    <span class="cf-icon cf-icon-email-social-square"></span>
                    <span class="u-visually-hidden">Share by email</span>
                </a>
            </li>
            <li class="list_item">
                <a class="share-icon"
                   href="https://www.facebook.com/dialog/share?app_id=210516218981921&amp;display=page&amp;href={{ request.url|urlencode }}&amp;redirect_uri={{ request.url|urlencode }}">
                    <span class="cf-icon cf-icon-facebook-square"></span>
                    <span class="u-visually-hidden">Share on Facebook</span>
                </a>
            </li>
            <li class="list_item">
                <a class="share-icon"
                   href="{{ share_twitter_url() }}"
                   target="_blank">
                    <span class="cf-icon cf-icon-twitter-square"></span>
                    <span class="u-visually-hidden">Share on Twitter</span>
                </a>
            </li>
        </ul>
    </aside>
{% endmacro %}
