
{% macro rss_button(post_type) %}
    <a class="btn"
       href="/feed/{{ post_type }}">
        <!-- <span class="btn-icon-left cf-icon cf-icon-rss"></span> -->
        Subscribe to RSS
    </a>
{% endmacro %}

{% macro filter_checkbox(field, value, classes, hidden) %}
    <input class="custom-input"
           type="checkbox"
           name="filter_{{ field }}"
           value="{{ value }}"
           {%- if is_filter_selected(field, value) %}
           checked
           {%- endif -%}
           >
        {{ value }}
{% endmacro %}

{% macro filter_option(field, value) %}
    <option value="{{ value }}"
        {%- if is_filter_selected(field, value) %}
            selected
        {%- endif -%}
            >
        {{ value }}
    </option>
{% endmacro %}

{% macro print_hidden_filters(filter_fields) %}
    {%- for field in filter_fields -%}
        {% set selected_filters = selected_filters_for_field(field) %}
        {%- for value in selected_filters -%}
            {%- if value %}
            <input type="hidden" name="filter_{{ field }}" value="{{ value }}">
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
{% endmacro %}

{% macro category_icon(category, additional_classes) %}
    {%- if category|lower == 'announcements & updates' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-bullhorn"></span>
    {% elif category|lower == 'consumer information' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-information"></span>
    {% elif category|lower == 'engagement' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-dialogue"></span>
    {% elif category|lower == 'innovation & data' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-lightbulb"></span>
    {% elif category|lower == 'speech' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-microphone"></span>
    {% elif category|lower == 'press release' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-bullhorn"></span>
    {% elif category|lower == 'op-ed' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-contract"></span>
    {% elif category|lower == 'testimony' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-double-quote"></span>
    {% elif category|lower == 'blog' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-speech-bubble"></span>
    {%- endif -%}
{% endmacro %}

{% macro post_summary(post) %}
    <h1 class="summary_header">{{ post.title|safe }}</h1>
    <p class="summary_text summary_text__max">
    {% if post.dek %}
        {{ post.dek|striptags }}
    {% else %}
        {{ post.excerpt|striptags }}
    {% endif %}
    </p>
    {% if post.author.0 %}
    <p class="summary_byline">
        By {{ post.author.0 }}
    {% if post.author.1 %}
        and {{ post.author.1 }}
    {% endif %}
    </p>
    {% endif %}
{% endmacro %}
