
<div id="pagination_content">

{% for post in posts %}

    {% if path == '/newsroom/' and post.custom_fields.display_in_newsroom %}
        {% set category = 'Blog' %}
        {% set category_filter_url = '?filter_type=post' %}
    {% elif post.category.0 %}
        {% set category = post.category.0 %}
        {% set category_filter_url = '?filter_category=' + category|urlencode|replace('%20', '+') %}
    {% endif %}

    <article class="post-preview">
        <div class="meta-header">
            <span class="date meta-header_right">
                {{ post.date|date("%b %d, %Y") }}
            </span>
        {% if category %}
            <a class="category-slug meta-header_left" href="{{ category_filter_url }}">
                {{ post_macros.category_icon(category, 'category-slug_icon')|safe }}
                <span class="u-visually-hidden">Category:</span>
                {{ category }}
            </a>
        {% else %}
            &nbsp;
        {% endif %}
        </div>
    {% if post.thumbnail.images and post.thumbnail.images.fj_thumbnail %}
        <a class="media-object" href="{{ post.permalink }}">
            <div class="media-object_image-container">
                <img class="media-object_image"
                     src="{{ post.thumbnail.images.fj_thumbnail.url }}"
                     alt="{{ post.thumbnail.alt_text }}">
            </div>
            <div class="media-object_text-container summary">
                {{ post_macros.post_summary(post) }}
            </div>
        </a>
    {% else %}
        <a class="summary" href="{{ post.permalink }}">
            {{ post_macros.post_summary(post) }}
        </a>
    {% endif %}
    </article>

{% endfor %}

{{ post_macros.pagination(posts, [
    'category',
    'tags',
    'author',
    'range_date_gte',
    'range_date_lte'
]) }}

</div>
