
{% macro filter_checkbox(field, value, label) %}
    <input class="custom-input"
           type="checkbox"
           name="filter_{{ field }}"
           value="{{ value }}"
           {%- if is_filter_selected(field, value) %}
           checked
           {%- endif -%}
           >
        {{ label if label else value }}
{% endmacro %}

{% macro filter_option(field, value) %}
    <option value="{{ value }}"
        {%- if is_filter_selected(field, value) %}
            selected
        {%- endif -%}
            >
        {{ value }}
    </option>
{% endmacro %}

{% macro print_hidden_filters(filter_fields) %}
    {%- for field in filter_fields -%}
        {# Note that in order to gain access to selected_filters_for_field you
           will need to import this macros file with context. #}
        {% set selected_filters = selected_filters_for_field(field) %}
        {%- for value in selected_filters -%}
            {%- if value %}
            <input type="hidden" name="filter_{{ field }}" value="{{ value }}">
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
{% endmacro %}

{% macro category_icon(category, additional_classes) %}
    {%- if category|lower == 'announcements & updates' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-bullhorn"></span>
    {% elif category|lower == 'consumer information' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-information"></span>
    {% elif category|lower == 'engagement' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-dialogue"></span>
    {% elif category|lower == 'innovation & data' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-lightbulb"></span>
    {% elif category|lower == 'speech' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-microphone"></span>
    {% elif category|lower == 'press release' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-bullhorn"></span>
    {% elif category|lower == 'op-ed' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-contract"></span>
    {% elif category|lower == 'testimony' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-double-quote"></span>
    {% elif category|lower == 'blog' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-speech-bubble"></span>
    {%- endif -%}
{% endmacro %}

{% macro post_summary(post) %}
    <h1 class="summary_header">{{ post.title|safe }}</h1>
    <p class="summary_text summary_text__max">
    {% if post.dek %}
        {{ post.dek|striptags }}
    {% else %}
        {{ post.excerpt|striptags }}
    {% endif %}
    </p>
    {% if post.author.0 %}
    <p class="summary_byline">
        By {{ post.author.0 }}
    {% if post.author.1 %}
        and {{ post.author.1 }}
    {% endif %}
    </p>
    {% endif %}
{% endmacro %}

{% macro pagination(query_obj, filters) %}

    {# Only show pagination if there is more than one page. #}
    {% if query_obj.pages > 1 %}
        <nav class="post-pagination pagination"
             role="navigation"
             aria-label="Pagination"
             data-ajax-action="posts-paginated.html">
        {% if query_obj.current_page > 1 %}
            <a class="btn btn__super pagination_prev"
               href="{{ query_obj.url_for_page(query_obj.current_page - 1) }}#pagination_content">
        {% else %}
            <a class="btn btn__super btn__disabled pagination_prev">
        {% endif %}
                <span class="btn_icon__left cf-icon cf-icon-left"></span>
                Newer
            </a>
        {% if query_obj.current_page < query_obj.pages %}
            <a class="btn btn__super pagination_next"
               href="{{ query_obj.url_for_page(query_obj.current_page + 1) }}#pagination_content">
        {% else %}
            <a class="btn btn__super btn__disabled pagination_next">
        {% endif %}
                Older
                <span class="btn_icon__right cf-icon cf-icon-right"></span>
            </a>
            <form class="pagination_form" action="#pagination_content">
                <label class="pagination_label" for="pagination_current-page">
                    Page
                    <span class="u-visually-hidden">
                        number out of {{ query_obj.pages }} total pages
                    </span>
                </label>
                <input class="pagination_current-page"
                       id="pagination_current-page"
                       name="page"
                       type="number"
                       min="1"
                       max="{{ query_obj.pages }}"
                       value="{{ query_obj.current_page }}">

                {#- Include any current filters when submitting this form to allow
                    for paginating through a filtered set of results.
                    Without this the form would change the url to `?page=X` and we
                    would lose any currently applied filters that are in the URL. -#}

                {{ print_hidden_filters(filters) }}

                {#{{ post_macros.print_hidden_filters([
                    'category',
                    'tags',
                    'author',
                    'range_date_gte',
                    'range_date_lte'
                    ])|safe
                }}#}

                <label class="pagination_label">
                    <span aria-hidden="true">
                        of {{ query_obj.pages }}
                    </span>
                </label>
                <button class="btn btn__link pagination_submit" id="pagination_submit" type="submit">
                    Go
                </button>
            </form>
        </nav>
    {% endif %}

{% endmacro %}
