
<div class="expandable">
    <div class="expandable_header expandable_header__spaced">
        <div class="expandable_header-right expandable_header-right__float-on-medium">
            <button class="expandable_target expandable_target__btn__secondary">
                Filter posts
                <span class="expandable_cue-open">
                    <span class="btn_icon__right cf-icon cf-icon-down"></span>
                </span>
                <span class="expandable_cue-close">
                    <span class="btn_icon__right cf-icon cf-icon-up"></span>
                </span>
            </button>
        </div>
        {{ post_macros.show_active_filters(posts, ['category', 'tags']) }}
    </div>
    <div class="expandable_content padded-container">
        <div class="padded-container_body">
            {% include "post-filters-form.html" %}
        </div>
    </div>
</div><!-- END .expandable -->
