
{% macro category_icon(category, additional_classes) %}
    {%- if category|lower == 'announcements & updates' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-bullhorn"></span>
    {% elif category|lower == 'consumer information' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-information"></span>
    {% elif category|lower == 'engagement' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-dialogue"></span>
    {% elif category|lower == 'innovation & data' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-lightbulb"></span>
    {% elif category|lower == 'speech' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-microphone"></span>
    {% elif category|lower == 'press release' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-bullhorn"></span>
    {% elif category|lower == 'op-ed' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-contract"></span>
    {% elif category|lower == 'testimony' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-double-quote"></span>
    {% elif category|lower == 'blog' -%}
    <span class="{{ additional_classes }} cf-icon cf-icon-speech-bubble"></span>
    {%- endif -%}
{% endmacro %}


{% macro post_summary(post) %}
    <h1 class="summary_header">{{ post.title|safe }}</h1>
    <p class="summary_text summary_text__max">
    {% if post.dek %}
        {{ post.dek|striptags }}
    {% else %}
        {{ post.excerpt|striptags }}
    {% endif %}
    </p>
    {% if post.author.0 %}
    <p class="summary_byline">
        By {{ post.author.0 }}
    {% if post.author.1 %}
        and {{ post.author.1 }}
    {% endif %}
    </p>
    {% endif %}
{% endmacro %}


{# ==========================================================================
   pagination()

   Create a pagination component when given:

   query:       The post type query object like `queries.posts`.
                This gives us access to necessary pagination info like the
                current page and the total number of pages.
   filters:     An array of the filters that you want pagination to support.
                Possible values: author, calendar, category, range_date_gte,
                range_date_lte, tags.
   ========================================================================== #}

{% macro pagination(query_obj, filters) %}

{# Pagination is only displayed if there is more than one page. #}
{% if query_obj.pages > 1 %}
    <nav class="post-pagination pagination"
         role="navigation"
         aria-label="Pagination"
         data-ajax-action="posts-paginated.html">
    {% if query_obj.current_page > 1 %}
        <a class="btn btn__super pagination_prev"
           href="{{ query_obj.url_for_page(query_obj.current_page - 1) }}#pagination_content">
    {% else %}
        <a class="btn btn__super btn__disabled pagination_prev">
    {% endif %}
            <span class="btn_icon__left cf-icon cf-icon-left"></span>
            Newer
        </a>
    {% if query_obj.current_page < query_obj.pages %}
        <a class="btn btn__super pagination_next"
           href="{{ query_obj.url_for_page(query_obj.current_page + 1) }}#pagination_content">
    {% else %}
        <a class="btn btn__super btn__disabled pagination_next">
    {% endif %}
            Older
            <span class="btn_icon__right cf-icon cf-icon-right"></span>
        </a>
        <form class="pagination_form" action="#pagination_content">
            <label class="pagination_label" for="pagination_current-page">
                Page
                <span class="u-visually-hidden">
                    number out of {{ query_obj.pages }} total pages
                </span>
            </label>
            <input class="pagination_current-page"
                   id="pagination_current-page"
                   name="page"
                   type="number"
                   min="1"
                   max="{{ query_obj.pages }}"
                   value="{{ query_obj.current_page }}">
            {#- Include any current filters when submitting this form to allow
                for paginating through a filtered set of results.
                Without this the form would change the url to `?page=X` and we
                would lose any currently applied filters that are in the URL. -#}
    {%- for filter in filters -%}
        {# Note that in order to gain access to selected_filters_for_field you
           will need to import this macros file with context. #}
        {% set selected_filters = selected_filters_for_field(filter) %}
        {%- for value in selected_filters -%}
            {%- if value %}
            <input type="hidden" name="filter_{{ filter }}" value="{{ value }}">
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
            <label class="pagination_label">
                <span aria-hidden="true">
                    of {{ query_obj.pages }}
                </span>
            </label>
            <button class="btn btn__link pagination_submit"
                    id="pagination_submit"
                    type="submit">
                Go
            </button>
        </form>
    </nav>
{% endif %}
{% endmacro %}


{# ==========================================================================
   filters()

   Create an expandble of post filters when given:

   label:       The label you want on the expandable button
   query:       The post type query object like `queries.posts`.
                Needed so we can utilize `query.possible_values_for()` to get
                access to the values of each filter.
   posts:       The query object search results.
                Used to show how many filtered items resulted.
   doc_type:    The type of document that posts contains.
                Mainly used for conditionals needed to support newsroom filters.
   filters:     An array of the filters that you want.
                Possible values: author, calendar, category, date_range, tags.
                You can add more in filters_form() by adding to the if statement,
                for example: `{% elif filter == 'NEW_FILTER' %}`.
                Note that 'range_date_gte' and 'range_date_lte' have been
                condensed into 'date_range' for this macro only.
   ========================================================================== #}

{% macro filters(label, query, posts, doc_type, filters) %}

<div class="expandable">
    <div class="expandable_header expandable_header__spaced">
        <div class="expandable_header-right expandable_header-right__float-on-medium">
            <button class="expandable_target expandable_target__btn__secondary">
                {{ label }}
                <span class="expandable_cue-open">
                    <span class="btn_icon__right cf-icon cf-icon-down"></span>
                </span>
                <span class="expandable_cue-close">
                    <span class="btn_icon__right cf-icon cf-icon-up"></span>
                </span>
            </button>
        </div>
        {{ active_filters(posts, filters) }}
    </div>
    <div class="expandable_content padded-container">
        <div class="padded-container_body">
            {{ filters_form(filters, query, doc_type) }}
        </div>
    </div>
</div><!-- END .expandable -->

{% endmacro %}


{# A helper macro for filters()
   ========================================================================== #}
{% macro active_filters(posts, filters) %}

{% set active_filters = [] %}
{% set active_date_filters = [] %}

{# This is a hack. `_ignore` is a variable we will never use but we can use
   its var expression as a means to write the expression needed to update
   `active_date_filters`. #}
{% for filter in filters %}
    {% if filter == 'range_date' %}
        {% set _ignore = active_date_filters.extend(selected_filters_for_field('range_date_gte')) %}
        {% set _ignore = active_date_filters.extend(selected_filters_for_field('range_date_lte')) %}
    {% else %}
        {% set _ignore = active_filters.extend(selected_filters_for_field(filter)) %}
    {% endif %}
{% endfor %}

{% set active_filters_total = active_filters|length + active_date_filters|length %}

{% if active_filters_total > 0 %}
    <dl class="filtered-by filtered-by__show-on-medium filtered-by__align-with-btn list list__horizontal">
        <dt class="list_item">
            <span class="filtered-by_header">
            {%- if posts|list|length > 0 -%}
                {{ posts.total }} filtered result{{ 's' if posts.total > 1 }} for
            {%- else -%}
                No results for
            {%- endif -%}
            </span>
        </dt>
    {% for filter in active_filters %}
        <dd class="list_item">
            <span class="filtered-by_filter">
                {{ filter }}
            {%- if not loop.last -%}
                ,
            {%- elif active_date_filters|length > 0 -%}
                ,
            {%- endif -%}
            </span>
        </dd>
    {% endfor %}
    {% for filter in active_date_filters %}
        <dd class="list_item">
            <span class="filtered-by_filter">
                {{ filter|date("%B %Y") }}
                {{ '&nbsp;&ndash;'|safe if not loop.last }}
            </span>
        </dd>
    {% endfor %}
    </dl>
{% endif %}

{% endmacro %}


{# A helper macro for filters()
   ========================================================================== #}
{% macro filters_form(filters, query, doc_type) %}

<form id="post-filters-form" method="get">
    <div class="form-l form-l__float form-l__flush">
{% for filter in filters %}

    {# Category filters #}
    {% if filter == 'category' %}
        <div class="form-l_col form-l_col-1-3">
            <div class="form-group">
                <label class="form-label-header">
                    Categories
                </label>
            {% if doc_type == 'newsroom' -%}
                {% set categories = query.possible_values_for('category', doc_type='newsroom')|sort(attribute='term') %}
            {%- else -%}
                {% set categories = query.possible_values_for('category')|sort(attribute='term') %}
            {% endif -%}
            {% for category in categories -%}
                <label class="form-group_item">
                    {{ filter_checkbox('category', category.term)|safe }}
                </label>
            {% endfor %}
            {% if doc_type == 'newsroom' -%}
                <label class="form-group_item">
                    {{ filter_checkbox('type', 'post', 'Blog')|safe }}
                </label>
            {%- endif %}
            </div>
        </div>

    {# Calendar filters #}
    {% elif filter == 'calendar' %}
        <div class="form-l_col form-l_col-1-3">
            <div class="form-group">
                <label class="form-label-header">
                    Calendars
                </label>
            {% for calendar in query.possible_values_for('calendar')|sort(attribute='term') -%}
                <label class="form-group_item">
                    {{ filter_checkbox('calendar', calendar.term)|safe }}
                </label>
            {% endfor %}
            </div>
        </div>

    {# Tag filters #}
    {% elif filter == 'tags' %}
        <div class="form-l_col form-l_col-1-3">
            <label class="form-label-header" for="filter_tags">
                Topics
            </label>
            <select class="chosen-select"
                    id="filter_tags"
                    name="filter_tags"
                    multiple
                    data-placeholder="Search for topics">
                <optgroup label="Most frequent">
            {% if doc_type == 'newsroom' -%}
                {% set possible_tags = query.possible_values_for('tags', doc_type='newsroom') %}
            {%- else -%}
                {% set possible_tags = query.possible_values_for('tags') %}
            {% endif -%}
            {# Top 3 tags come first #}
            {%- for tags in possible_tags -%}
                {%- if loop.index < 4 -%}
                    {{ filter_option('tags', tags.term)|safe }}
                {%- endif -%}
            {%- endfor -%}
                </optgroup>
                <optgroup label="All other topics">
            {# Then the rest of the tags #}
            {%- for tags in possible_tags[3:]|sort(attribute='term') -%}
                    {{ filter_option('tags', tags.term)|safe }}
            {%- endfor -%}
                </optgroup>
            </select>
        </div>

    {# Author filters #}
    {% elif filter == 'author' %}
        <div class="form-l_col form-l_col-1-3">
            <label class="form-label-header" for="filter_author">
                Author
            </label>
            <select class="chosen-select"
                    id="filter_author"
                    name="filter_author"
                    multiple
                    data-placeholder="Search for authors">
            {% if doc_type == 'newsroom' -%}
                {% set authors = query.possible_values_for('author', doc_type='newsroom')|sort(attribute='term') %}
            {%- else -%}
                {% set authors = query.possible_values_for('author')|sort(attribute='term') %}
            {% endif -%}
            {% for author in authors %}
                {{ filter_option('author', author.term)|safe }}
            {% endfor %}
            </select>
        </div>

    {# Date range filters #}
    {% elif filter == 'range_date' %}
        <label class="form-l_col-2-3 form-label-header">
            Date range
        </label>
        <!-- No-JS date input -->
        {% set from_date = selected_filters_for_field('range_date_gte')[0] %}
        <div class="form-l_col-1-3"
             id="filter_range_date_gte-container">
             <label for="filter_range_date_gte">
                 From:
             </label>
            <input id="filter_range_date_gte"
                   name="filter_range_date_gte"
                   type="text"
                   value="{{ from_date if from_date }}"
                   placeholder="YYYY-MM">
        </div>
        <!-- JS date input -->
        <div class="form-l_col-1-3 input-group"
             id="filter_range_date_gte-replacement"
             style="display:none;">
            <label for="filter_from_month">
                From:
            </label>
            <div class="input-group_item custom-select">
                <select class="form-input-month"
                        id="filter_from_month">
                    <option value="">Month</option>
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <span class="custom-select_icon cf-icon cf-icon-down"></span>
            </div>
            <div class="input-group_item custom-select">
                <select class="form-input_year"
                        id="filter_from_year">
                    <option value="">Year</option>
                {%- for year in range(2011, current_date|date("%Y")|int + 1) -%}
                    <option value="{{ year }}">{{ year }}</option>
                {%- endfor -%}
                </select>
                <span class="custom-select_icon cf-icon cf-icon-down"></span>
            </div>
        </div> <!-- END js date input -->
        <!-- END "From" date input -->
        <!--
            ===============
            "To" date input
            ===============
        -->
        <!-- No-JS date input -->
        {% set to_date = selected_filters_for_field('range_date_lte')[0] %}
        <div class="form-l_col-1-3"
             id="filter_range_date_lte-container">
             <label for="filter_range_date_lte">
                 To:
             </label>
            <input id="filter_range_date_lte"
                   name="filter_range_date_lte"
                   type="text"
                   value="{{ to_date if to_date }}"
                   placeholder="YYYY-MM">
        </div>
        <!-- JS date input -->
        <div class="form-l_col-1-3 input-group"
             id="filter_range_date_lte-replacement"
             style="display:none;">
            <label for="filter_to_month">
                To:
            </label>
            <div class="custom-select input-group_item">
                <select class="form-input-month"
                        id="filter_to_month">
                    <option value="">Month</option>
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <span class="custom-select_icon cf-icon cf-icon-down"></span>
            </div>
            <div class="custom-select input-group_item">
                <select class="form-input_year"
                        id="filter_to_year">
                    <option value="">Year</option>
                {%- for year in range(2011, current_date|date("%Y")|int + 1) %}
                    <option value="{{ year }}">{{ year }}</option>
                {%- endfor %}
                </select>
                <span class="custom-select_icon cf-icon cf-icon-down"></span>
            </div>
        </div> <!-- END JS date input -->
        <!-- END "To" date input -->

    {% endif %}
{% endfor %}
    </div> <!-- END .form-l__flush -->

    <div class="form-actions form-actions__right-on-med">
        <input class="btn btn__warning btn__link form-actions_item js-form_clear"
               type="button"
               value="Clear filters">
        <input class="btn form-actions_item"
               type="submit"
               value="Apply filters">
    </div>

</form>
{% endmacro %}

{# A helper macro for filters()
   ========================================================================== #}
{% macro filter_checkbox(field, value, label, checked=false) %}
    <input class="custom-input"
           type="checkbox"
           name="filter_{{ field }}"
           value="{{ value }}"
           {%- if is_filter_selected(field, value) or checked %}
           checked
           {%- endif -%}
           >
        {{ label if label else value }}
{% endmacro %}

{# A helper macro for filters()
   ========================================================================== #}
{% macro filter_option(field, value) %}
    <option value="{{ value }}"
        {%- if is_filter_selected(field, value) %}
            selected
        {%- endif -%}
            >
        {{ value }}
    </option>
{% endmacro %}
