<div>
	<h2><span class="cf-icon cf-icon-approved-round"></span> Explore Alternatives to your goals</h2>
	<p class="lead">Consider whether there are ways you could accomplish your goals without buying. For example, if you want more space or certain features, could you find a rental unit that would meet those goals? Thinking carefully through your alternatives will help you decide whether it's the right time for you to buy.</p>
    
    <div class="worksheet worksheet-notes"></div>
</div>


