<div>
    <h1>Why buy? Why now?</h1>
    <h2>A worksheet for first-time homebuyers</h2>

    <p class="lead">For many Americans, buying a home can be a great decision. But homeownership isn't for everyone at all times. This worksheet was designed by the CFPB to help you think through your reasons for wanting to buy a home, and to help you evaluate the financial and lifestyle tradeoffs to decide whether now is the right time to buy.</p>
      
    <div class="worksheets block block__padded-top block__border-top">
        
        <section class="worksheet block block__flush-top worksheet-goals">
            
            <div class="summary content-l content-l__main">
                <div class="content-l_col content-l_col-2-3">
                    <h2><span class="cf-icon cf-icon-approved-round"></span> Clarify your goals</h2>
                </div>
                <div class="content-l_col content-l_col-1-3">
                </div>
            </div>
            
            <div class="worksheet-personal">
            </div>
            <div class="worksheet-financial">
            </div> 
             
        </section>

        <section class="worksheet block worksheet-flags">
            <h2>
                <span class="cf-icon cf-icon-complaint-round"></span> 
                Check for red flags
            </h2>
            <p class="lead">Are there financial or lifestyle reasons why renting might be a better choice for you right now?</p>
        </section>

        <section class="worksheet block worksheet-risks">
            <h2><span class="cf-icon cf-icon-error-round"></span> Understand the risks</h2>
            <p class="lead">There are many risks associated with owning property. When you rent, your landlord takes on these risks. When you buy, you take on these risks as the homeowner. How prepared are you to accept these risks?</p>
        </section>
        
    </div>
      
</div>