<table class="worksheet-table worksheet-notes-table">
   <thead>
       <th class="text-col" scope="col">{{title}}</th>
       <th class="input-col" scope="col">{{prompt}}</th>
   </thead>
   <tbody class="worksheet-input-group">
     <!-- Content filled in dynamically from JS -->
   </tbody>
</table>
