{% extends "front/base_nonresponsive.html" %}
{% load static from staticfiles %}

{% block title %}On-demand forums and tools &gt; Consumer Financial Protection Bureau{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/servicemembers">INFORMATION FOR SERVICEMEMBERS</a></li>
<li>On-demand forums and tools</li>
{% endblock %}

{% block page_header_footer_css %}
<link rel="stylesheet" href="{% static 'nemo/_/c/v1-nonresponsive-header.css' %}"/>
<link rel="stylesheet" href="{% static 'nemo/_/c/v1-nonresponsive-footer.css' %}"/>
{% endblock %}

{% block content %}
{% include "front/share_block.html" %}
<article class="page">
    <header class="pagetitle"><h1>On-demand forums and tools</h1></header>
    <p>The Office of Servicemember Affairs hosts an ongoing series of virtual Military Financial Educator Forums on consumer financial topics for service providers who deliver financial, educational, or legal counseling to servicemembers and their families on military installations worldwide.</p>
    <p>The goal of these Military Financial Educator Forums is to supply incremental and easily digestible information on current military consumer financial topics to those service providers.</p>
    <h3>September 2016 forum</h3>
    <p><strong>OSA Info Desk: Resources and Tips for Dealing with Debt Collection</strong></p>
    <p>Military personnel who have trouble handling their personal finances can find their duty status, potential promotions and even military careers in jeopardy.&nbsp; And, over time, the lingering burden of debt can add stress to their personal relationships and damage their credit profiles. During this forum, the OSA info desk will highlight tips and information about ways to communicate with debt collectors.&nbsp; We’ll also show you resources from the CFPB that you can use in dealing with debt collectors.</p>
    <p><a href="https://www.webcaster4.com/Webcast/Page/694/17273">Launch webcast</a></p>
    <h3>July 2016 forum</h3>
    <p><strong>OSA Info Desk: Military Student Loan Tools</strong></p>
    <p>The OSA info desk highlights tools that can be used to compare student financial aid costs, including the GI Bill comparison tool, and where servicemembers and veterans can submit a complaint if they are experiencing a problem with a student loan. The forum also discusses resources offered by the Department of Veterans Affairs and the Department of Defense if a servicemember is having a problem with their school or program.</p>
    <p><a href="http://www.totalwebcasting.com/view/?func=VOFF&amp;id=usda&amp;date=2016-07-18&amp;seq=1">Launch webcast</a></p>
    <figure style="width: 150px; float: right; margin-left: 1em;"><img class="alignnone" src="https://s3.amazonaws.com/files.consumerfinance.gov/f/The-37th-Annual-Telly-site-bugs_bronze.gif" alt="" width="100%"><!--figcaption>

    <p class="wp-caption-text">Winner of 2015 Bronze Telly Award, which honors excellence in non-broadcast film and video productions.</p>


    </figcaption--></figure>
    <h3>October 2015 forum</h3>
    <p><strong>OSA News Desk: The Consumer Complaint Process</strong></p>
    <p>The OSA news desk highlights the CFPB complaint process.</p>
    <p><a class="buttonish" href="http://www.webcaster4.com/Player/Index?webcastId=10561&amp;uid=614563&amp;g=cf1ad562-562a-447c-84a5-2247282fc99c&amp;sid" target="_blank">Launch webcast</a></p>
    <p><!--[Originally broadcast on October 30, 2014]--></p>
    <figure style="width: 150px; float: right; margin-left: 1em;"><img class="alignnone" src="http://files.consumerfinance.gov/f/201510_cfpb_osa-telly-site-bronze.gif" alt="" width="100%"><!--figcaption>

    <p class="wp-caption-text">Winner of 2015 Bronze Telly Award, which honors excellence in non-broadcast film and video productions.</p>


    </figcaption--></figure>
    <h3>October 2014 forum</h3>
    <p><strong>OSA News Desk: Credit Reporting and the Military</strong></p>
    <p>The OSA News Desk highlights important facts about credit reporting agencies and the credit reporting process. The forum also debunks common myths about consumer credit profiles and gives tips on the best ways servicemembers can build good credit.</p>
    <p>Winner of 2015 Bronze Telly Award, which honors excellence in non-broadcast film and video productions.</p>
    <p><a class="buttonish" href="http://www.webcaster4.com/Player/Index?webcastId=5773&amp;uid=614563&amp;g=beff61f8-1bc3-4ae7-bce3-471dec44be2d&amp;sid=" target="_blank">Launch webcast</a><br>
    <!--[Originally broadcast on October 30, 2014]--></p>
    <h3>May 2014 forum</h3>
    <p><strong>OSA News Desk: Veteran consumer issues</strong></p>
    <p>The OSA News Desk spotlights common consumer issues for veterans and military retirees. The forum also highlights useful tools for helping veterans capitalize on key benefits and critical information necessary for avoiding consumer scams targeted at military veterans.</p>
    <p><a class="buttonish" href="http://www.webcaster4.com/Player/Index?webcastId=4329&amp;uid=677961&amp;g=db11a51b-aec3-4fd6-96c0-660b3b4f49af&amp;sid=" target="_blank">Launch webcast</a><br>
    <!--[Originally broadcast on October 30, 2014]--></p>
    <h3>September 2013 forum</h3>
    <p><strong>OSA News Desk: Issues in debt collections</strong></p>
    <p>This inaugural edition of the OSA News Desk spotlights servicemember rights and consumer protections under the Fair Debt Collection Practices Act. The forum also teaches viewers how to recognize and help servicemembers fight back against unfair, deceptive and abusive acts or practices by debt collectors who contact them.</p>
    <p><a class="buttonish" href="http://www.webcaster4.com/Player/Index?webcastId=2880&amp;uid=314561&amp;g=22403268-9e81-4702-ae39-010863686c34&amp;sid=" target="_blank">Launch webcast</a><br>
    <!--[Originally broadcast on October 30, 2014]--></p>
    <h3>July 2013 forum</h3>
    <p><strong>Solutions for a troubled mortgage</strong></p>
    <p>This forum highlights information on government programs under the Making Home Affordable Program, including HAMP and HAFA, and delves into loan options that can help military families struggling with a mortgage or facing foreclosure. The forum also gives viewers information and tools they can use to help servicemembers and military families with this complex issue.</p>
    <p><a class="buttonish" href="http://www.webcaster4.com/Player/Index?webcastId=2884&amp;uid=314561&amp;g=14fb28d9-63ab-40aa-9133-5b4d2670495f&amp;sid=" target="_blank">Launch webcast</a></p>

</article>
{% endblock %}
