{% extends "base.html" %}

{% block title -%}
    Consumer Financial Protection Bureau
{%- endblock %}

{% block desc -%}
    Our vision is a consumer finance marketplace that works for American consumers,
    responsible providers, and the economy as a whole.
{%- endblock %}

{% block content %}

    <main class="content" id="main" role="main">

        <div class="content_hero hero beta-hero">
            <h1 class="beta-hero_title">Welcome to beta.<wbr>consumerfinance.gov!</h1>
            <p class="beta-hero_desc">
                We’re redesigning consumerfinance.gov to make it easier to use.
                Follow our work here as we build in the open.
            </p>
        </div>

        <!-- .content_bar must come after .content_hero and before .content_wrapper -->
        <div class="content_bar"></div>

        <div class="wrapper content_wrapper">
            <div class="content_main">
                <div class="content-l content-l__large-gutters">
                    <section class="content-l_col content-l_col-1-2">
                        <h2 class="h3">Why are we redesigning in beta?</h2>
                        <p class="short_desc">
                            A beta release gives both users and developers a sense of
                            new features and capabilities.
                            It helps us identify what’s working and what’s not.
                            But the content here is not necessarily accurate or up to date.
                            If you need reliable information from us right now, visit the current site.
                        </p>
                        <ul class="list__links">
                            <li class="list_item">
                                <a class="list_link jump-link" href="http://www.consumerfinance.gov/">
                                    Go to consumerfinance.gov
                                </a>
                            </li>
                        </ul>
                    </section>

                    <section class="content-l_col content-l_col-1-2 content-l_col__before-divider">
                        <h2 class="h3">Open government, open code</h2>
                        <p class="short_desc">
                            The new consumerfinance.gov is an open source project,
                            but it’s not our only one.
                            All the software we build is open source by default.
                            We release as much as possible.
                        </p>
                        <ul class="list__links">
                            <li class="list_item">
                                <a class="list_link jump-link jump-link__external-link"
                                   href="https://cfpb.github.io/">
                                    Learn about our projects at CFPB Open Tech
                                </a>
                            </li>
                            <li class="list_item">
                                <a class="list_link jump-link jump-link__external-link"
                                   href="https://github.com/cfpb/cfgov-refresh">
                                    See the code for this redesign on GitHub
                                </a>
                            </li>
                        </ul>
                    </section>
                </div><!-- END .content-l -->
            </div><!-- END .content_main -->
        </div><!-- END .content_wrapper -->
    </main>

{% endblock content %}
