{% extends "front/base_nonresponsive.html" %}
{% load static from staticfiles %}

{% block title %}Planning for your future &gt; Consumer Financial Protection Bureau{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/servicemembers">INFORMATION FOR SERVICEMEMBERS</a></li>
<li>PLANNING FOR YOUR FUTURE</li>
{% endblock %}

{% block page_header_footer_css %}
<link rel="stylesheet" href="{% static 'nemo/_/c/v1-nonresponsive-header.css' %}"/>
<link rel="stylesheet" href="{% static 'nemo/_/c/v1-nonresponsive-footer.css' %}"/>
{% endblock %}

{% block content %}
{% include "front/share_block.html" %}
<article class="page">
    <header class="pagetitle">
        <h1>Planning for your future</h1>
    </header>
    <div class="two-col">
        <div class="col">
            <p style="text-align: center;"><a href="#save" class="noStyles"><img width="280px" class="alignnone size-full wp-image-3268" title="Helping you save" alt="Helping you save" src="{% static 'images/sm-savings.jpg' %}"></a><br>
                <a href="#save">Helping you save</a>
            </p>
        </div>
        <div class="col">
            <p style="text-align: center;"><a href="#degrees" class="noStyles"><img width="280px" class="alignnone size-full wp-image-3268" title="Dollars for degrees" alt="Dollars for degrees" src="{% static 'images/smallicons.gif' %}"></a><br>
                <a href="#degrees">Dollars for degrees</a>
            </p>
        </div>
    </div>
    <p>There’s never going to be a perfect time to start saving. The important thing is to start, and you don’t need lots of cash to do so. Having a “rainy day” or emergency fund can protect you from having to use high-cost credit when you hit a rough patch.</p>
    <h3 id="save">Helping you save</h3>
    <p>There are lots of resources available at no charge that can help you begin your journey to financial independence. Here are three of them:</p>
    <ol>
        <li>
            <p><strong>You have a personal financial management team.</strong></p>
            <p>Start on your installation by talking with your Personal Financial Management Program (PFMP) office, located in your military and family support centers.  These offices are present on all DoD military installations. Find location and contact information for yours by going to <a href="http://www.militaryinstallations.dod.mil/">MilitaryINSTALLATIONS</a> and choosing “Personal Financial Management Services” under program/service. National Guard and Reserve personnel not located near a military installation can access information and personalized financial counseling assistance through <a href="http://www.militaryonesource.com/MOS/FindInformation/Category/MilitaryOneSourceFinancialServices.aspx">Military OneSource</a> by calling 1-800-342-9647 or by visiting Military OneSource online. Using this information comes at no charge to you.</p>
        </li>
        <li>
            <p><strong>You can get a 10% guaranteed rate of return on savings while you’re deployed.</strong></p>
            <p>Military personnel have the opportunity to earn 10 percent interest on up to $10,000 in savings annually while deployed to or in support of a combat zone. Uniformed members of the Armed Forces can contribute to the <a href="http://www.dfas.mil/dfas/militarymembers/payentitlements/sdp.html">Savings Deposit Program</a>, which is administered by the Defense Finance and Accounting Service, after 30 consecutive days of deployment outside the United States, for as long as you are receiving hostile fire pay.  Any military finance office in theater can help you establish an account and assist you in setting up the deposit method most convenient for you.</p>
        </li>
        <li>
            <p><strong>You are eligible for the Federal Thrift Savings Program.</strong></p>
            <p>The <a href="https://www.tsp.gov/index.shtml">Thrift Savings Plan</a> is a retirement savings and investment plan for Federal employees and members of the uniformed services, including the Ready Reserve. By contributing as little as $20 per payday, your savings could really stack up.</p>
            <p>Here is an example to give you an idea of how much you could have: assume 20 years of service; contribute $40 per month; and an annual expected rate of return of 7 percent (rates of return will vary over time, of course). Your contributions would total $9,600, and your return would total $11,359. Altogether, after 20 years you would have <strong>$20,959</strong>.</p>
            <p>Use the <a href="https://www.tsp.gov/planningtools/retirementplanning/howMuchWillGrow.shtml">TSP.gov Calculator</a> to see just how much money you could make.</p>
        </li>
    </ol>
    <h3 id="degrees">Dollars for degrees</h3>
    <p>Paying for your education requires planning. The type of education you choose will greatly affect the costs. Your service in the Armed Forces may help reduce those costs. Eligibility and benefits vary by program. Visit each program link for more detailed information.</p>
    <ul>
        <li>
            <p><strong>The Montgomery GI Bill</strong></p>
            <p><a href="http://www.gibill.va.gov/post-911/montgomery-gi-bill/active-duty.html">The MGIB Active Duty</a> provides up to 36 months of educational benefits to active duty veterans. Reservists may be eligible for <a href="http://www.gibill.va.gov/post-911/montgomery-gi-bill/selected-reserve.html">the MGIB-Selected Reserve</a>.</p>
        </li>
        <li>
            <p><strong>Post 9/11 GI Bill</strong></p>
            <p>The <a href="http://www.gibill.va.gov/benefits/post_911_gibill/index.html">Post-9/11 GI Bill</a> provides up to 36 months of support for education and housing to individuals with at least 90 days of aggregate service on or after September 11, 2001, or individuals discharged with a service-oriented disability after at least 30 days.</p>
        </li>
        <li>
            <p><strong>VEAP/REAP</strong></p>
            <p>The <a href="http://www.gibill.va.gov/benefits/other_programs/veap.html">Veterans Educational Assistance Program</a> and the <a href="http://www.gibill.va.gov/benefits/other_programs/reap.html">Reserve Educational Assistance Program</a> are contribution-based programs to provide servicemembers with educational funding.</p>
        </li>
        <li>
            <p><strong>Loans and Grants</strong></p>
            <p>There are three kinds of federal aid: grants, work-study, and student loans. Federal student aid is need-based. To find out if you are eligible, you must complete the <a href="http://www.fafsa.ed.gov/">Free Application for Federal Student Aid</a>.</p>
            <p><a href="https://www.ebenefits.va.gov/ebenefits-portal/ebenefits.portal?_nfpb=true&amp;_nfxr=false&amp;_pageLabel=BenefitsByState">Some states offer additional educational benefits</a> to members of the military or their family members.</p>
            <p>There are also private loans, which are usually at a higher interest rate than the government loans. These loans do not have the same terms as federal student loans and the repayment terms may be significantly different.</p>
        </li>
        <li>
            <p><strong>Scholarships</strong></p>
            <p>Scholarships for military personnel and family members are available from a variety of sources, such as military professional organizations and veterans service organizations. Some are need-based; others are awarded on merit. <a href="https://www.nationalresourcedirectory.gov/education_and_training/scholarships_and_other_financial_assistance">The National Resource Directory</a> lists a wide variety of scholarships available. The American Legion’s <a href="http://pdf.needalift.org/">Need A Lift</a> publication also lists a wealth of other resources to help further your education.</p>
        </li>
    </ul>
    <hr style="margin-bottom: 1em;">
    <p><em>Learn more…</em><br>
        <a href="/servicemembers/additionalresources">Additional resources</a> for servicemembers, veterans, and their families<br>
        <a href="/servicemembers/planning/creativesavingsstrategies/">Creative savings strategies</a> from the U.S. Navy<br>
        6 ways to <a href="http://www.blogs.va.gov/VAntage/?p=1420">maximize your educational benefits</a><br>
        Factors to consider in <a href="http://www.gibill.va.gov/documents/factsheets/Choosing_a_School.pdf" class="pdf">choosing a school</a><br>
        <a href="/servicemembers">Return to servicemembers homepage</a>
    </p>
</article>
{% endblock %}
