body {font-family: "Avenir Next", Arial, sans-serif;}
.screen-hide{display:none;}
h1, h2, h3, h4, h5, h6 {margin:0; font-weight:normal; margin-bottom:6px; margin-left:0px;}
h1 {font-size:36px; font-weight:500;}
h2,h3,h4 {text-transform:uppercase;}
h2 {font-size:18px;}
h3 {font-size:18px;line-height:24px; margin-bottom:18px;}
h4 {font-size:14px;font-weight:500;}

.letterhead {display:none;}
.cfpb-logo {display:none;}

font-xs,.font-s,.font-m,.font-l,.font-xl,.font-xxl {font-family:"Avenir Next", Arial, sans-serif;}
.font-xs {font-size:10px;}
.font-s {font-size:12px; line-height:18px;}
.font-m {font-size:14px; line-height:20px;}
.font-l {font-size:16px; line-height:22px;}
.font-xl {font-size:18px; line-height:23px;}
.font-xxl {font-size:20px; line-height:28px; font-weight:500;}
.font-xxxl {font-size:28px; line-height:30px;font-weight:500;}




.horizontal-bar {padding:5px 0 5px 20px; font-size:12px; font-weight:500; text-transform:uppercase;}
.guide-content{margin:20px 36px 0;}
/* slate blue */
.slate-blue {color:#004E6B;}
.slate-blue-bg {background-color:#004E6B; border-color:#004E6B; color:#FFFFFF;}
.sky-lightest-bg{background-color: #D2E1EF;border-color: #D2E1EF;color: #212121;}


/* LAYOUT */
.row{margin-left:-20px;font-family: "Avenir Next", Arial, sans-serif;}
.row:before,.row:after{content:"";display:table;}
.row:after{clear:both;}

.span2, .span3, .span9, .span6{float:left;margin-left:20px;}
.span9{width:660px;}
.span3{width:205px;}
.span2{width:130px;}
.span6{width:440px;}


.skyblue-bg{background-color:#DBF3F9;color:#231F20;border-color:#DBF3F9;}
.guide-sect-header{font-family:"Avenir Next", Arial, sans-serif;font-weight:500;color:#5281AB;text-transform:uppercase;font-size:1em;letter-spacing:1;}


.accordion-heading {border-color:#CEE0F2;}


.vspace1 {margin-bottom:10px;}
.vspace2 {margin-bottom:20px;}
.vspace3 {margin-bottom:30px;}
.vspace4 {margin-bottom:40px;}
.vspace5 {margin-bottom:50px;}


.font-xs,.font-s,.font-m,.font-l,.font-xl,.font-xxl {font-family:"Avenir Next", Arial, sans-serif;}
.font-xs {font-size:10px;}
.font-s {font-size:12px; line-height:18px;}
.font-m {font-size:14px; line-height:20px;}
.font-l {font-size:16px; line-height:22px;}
.font-xl {font-size:18px; line-height:26px;}
.font-xxl {font-size:20px; line-height:28px; font-weight:500;}
.font-xxxl {font-size:28px; line-height:30px;}


/* ICONS!
-------------------------------------------------------------------------------*/
.ico {background: url(resources.png) no-repeat top left;padding-left:26px;padding-top:3px;}
.ico-ask { background-position: 0 0; width: 12px; height: 17px; margin-bottom:3px; } 
.ico-watch{ background-position: 0 -37px; width: 21px; height: 20px; } 
.ico-explore{ background-position: 0 -77px; width: 23px; height: 13px; margin-bottom:7px; } 
.ico-compare{ background-position: 0 -110px; width: 19px; height: 19px; margin-bottom:1px; } 

.icon {width:23px;height:23px;background: url(icons.png) no-repeat top left;position:absolute;}
.ico-bullet_check{ background-position: 0 0; width: 17px; height: 17px;} 
.ico-bullet_minus{ background-position: -37px 0; width: 17px; height: 17px;} 
.ico-bullet_plus{ background-position: -74px 0; width: 17px; height: 17px; } 
.ico-criteria_eligibility{ background-position: -111px 0; width: 21px; height: 19px; } 
.ico-criteria_interest{ background-position: -152px 0; width: 20px; height: 18px; } 
.ico-criteria_limits{ background-position: -192px 0; width: 23px; height: 17px; } 
.ico-criteria_repayment{ background-position: -235px 0; width: 20px; height: 19px; } 

.ico-process {width:37px; height:37px; background: url(process.png) no-repeat top left;}
.ico-process-banking{ background-position: 0 0; } 
.ico-process-banking.selected,
.ico-process-banking:hover { background-position: -47px 0; } 
.ico-process-loans{ background-position: -94px 0; } 
.ico-process-loans.selected,
.ico-process-loans:hover { background-position: -141px 0; } 

.icon-positioning-fix {position: relative; display: block; }
.icon-positioning-fix .icon { left:-23px; top:-14px;}

.rh{text-align:right;}
.uc {text-transform:uppercase; font-weight:400;}
.no-pad{padding:0px;}
.no-marg{margin:0px;}


/* Options Table */
table{border:0px;border-collapse: separate;border-spacing: 18px 0px;padding-bottom: 20px;}
table th{background:transparent;color:#212121;border:0px;text-align:left;}
table td{border:0px; }

.thick-line {border-top: 3px solid #000;}
.line {border-top:1px solid #000;}
td{padding: 10px 0px 10px;}
td, .smlr-text{font-family: Georgia;font-size: 14px;line-height: 20px;font-weight: 500;}

/* ACCORDION!
-------------------------------------------------------------------------------*/
.accordion-heading {
    padding: 8px 18px 8px;
    border-top-width: 4px;
    border-top-style: solid;
}
.accordion-heading.offset {
    padding: 8px 8px 8px 139px;
}


.accordion-body {
    padding: 18px;
    position:relative;
}
.accordion-body.offset {
    padding: 18px 18px 18px 139px;
}
.accordion .row {margin-left:-18px;}

.accordion .span6, 
.accordion .span2, 
.accordion .span3 {margin-left:18px;}

.accordion td.span6, 
.accordion td.span2, 
.accordion td.span3 {margin:0;}



.accordion .span6 {width:503px;margin-left:18px;}
.accordion .span2 {width:155px;margin-left:18px;}
.accordion .span3 {width:242px;margin-left:18px;}





/* COLORS!
-------------------------------------------------------------------------------*/
/* orange */
.orange {color:#D83D00;}
.orange-bg {background-color:#D83D00; border-color:#D83D00; color:#FFFFFF;}

/* orange light */
.orange-light {color:#DD6344;}
.orange-light-bg {background-color:#DD6344; border-color:#DD6344; color:#FFFFFF;}

/* orange lighter */
.orange-lighter {color:#EA9D8A;}
.orange-lighter-bg {background-color:#EA9D8A; border-color:#EA9D8A; color:#FFFFFF;}

/* orange lightest */
.orange-lightest {color: #F7D8D0;}
.orange-lightest-bg {background-color:#F7D8D0; border-color:#F7D8D0; color:#FFFFFF;}



/* slate blue */
.slate-blue {color:#004E6B;}
.slate-blue-bg {background-color:#004E6B; border-color:#004E6B; color:#FFFFFF;}

/* slate blue light */
.slate-blue-light {color:#3B7187;}
.slate-blue-light-bg {background-color:#3B7187; border-color:#3B7187; color:#FFFFFF;}
.well.slate-blue-light {border-color:#3B7187;color:#212121;}
a {color:#3B7187;}
section,header {border-color:#3B7187;}

/* slate blue lighter */
.slate-blue-lighter {color:#83A5B3;}
.slate-blue-lighter-bg {background-color:#83A5B3; border-color:#83A5B3; color:#FFFFFF;}

/* slate blue lightest */
.slate-blue-lightest {color:#CDDBE0;}
.slate-blue-lightest-bg {background-color:#CDDBE0; border-color:#CDDBE0; color:#212121;}

/* ------- */

/* dark teal */
.teal {color:#004047;}
.teal-bg {background-color:#004047; border-color:#004047; color:#FFFFFF;}

/* dark teal light */
.teal-light {color:#38666B;}
.teal-light-bg {background-color:#38666B; border-color:#38666B; color:#FFFFFF;}

/* dark teal lighter */
.teal-lighter {color:#829FA2;}
.teal-lighter-bg {background-color:#829FA2; border-color:#829FA2; color:#FFFFFF;}

/* dark teal lightest */
.teal-lightest {color:#CDD9DA;}
.teal-lightest-bg {background-color:#CDD9DA; border-color:#CDD9DA; color:#FFFFFF;}

/* ------- */

/* pacific */
.pacific {color:#256AB4;}
.pacific-bg {background-color:#256AB4; border-color:#256AB4; color:#FFFFFF;}
.bubble.active {background-color:#256AB4;border-color:#256AB4;color:#FFF;}

/* pacific light */
.pacific-light {color:#4188C7;}
.pacific-light-bg {background-color:#4188C7; border-color:#4188C7; color:#FFFFFF;}

/* pacific lighter*/
.pacific-lighter {color:#86B4E0;}
.pacific-lighter-bg {background-color:#86B4E0; border-color:#86B4E0; color:#212121;}

/* pacific lightest */
.pacific-lightest {color:#CEE0F2;}
.pacific-lightest-bg {background-color:#CEE0F2; border-color:#CEE0F2; color:#212121;}
.bubble {background-color:#CEE0F2;border-color:#CEE0F2;color:#212121;}
.accordion-heading {border-color:#CEE0F2;}



/* ------- */


.green-bg{background:#2EB135;}
.bullet{
    color:white;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 26px;
    font-size: 18px;
    border-radius: 100%;
}
.pad-top{margin-top:10px;}


/* DOWNLOAD BTN */
.btn-document {
    background-image: url(download.png);
    background-repeat: no-repeat;
    background-size: auto 36px;
    background-position: 16px 8px;
    text-align: left;
    width: 140px;
    padding-left: 62px;
}

.btn, .btn:hover{
    display: inline-block;
    font-family: "Avenir Next", Arial, sans-serif;
    font-size: 18px;
    padding: 8px 0px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    width: 218px;
    text-decoration: none;
    background-color: #2EB135;
    color: white;
}