{% extends 'es/es-base.html' %}

{% block babel_title %}
	Comprar Casa &gt; Oficina para la Protección Financiera del Consumidor
{% endblock %}

{% block body_class %}
{% endblock %}

{% block nav_item_comprar %}
	s-active
{% endblock %}

{% block babel_content %}
<header class="hero full-bleed full-bleed-padded">
	<div class="hero-container">
		<img class="hero-image"
		     src="{{ static('nemo/_/img/mortgage-hero.png') }}"
		     alt=""
				 style="padding-left: 434px;">
		<div class="hero-copy">
			<h1>
				<div class="heading-inner-small">
					Nuestros recursos gratuitos lo<br>
					ayudan a estar preparado.
				</div>
				<strong>
					Comprar casa es una<br>
					decisión de vida.
				</strong>
			</h1>
		</div>
	</div>
</header>
<section class="content">
	<div class="primary">
		<article>
			<h2>
				<a href="../prepararse-para-comprar-casa/">
					Cómo preparar sus finanzas antes de comprar una casa
				</a>
			</h2>
			<p>La información necesaria para que pueda prepararse para comprar casa algún día.</p>
			<ul>
				<li>Cuentas bancarias</li>
				<li>Crédito</li>
				<li>Comprar casa</li>
			</ul>
			<h2>
				<a href="/f/201509_cfpb_conjunto-de-herramientas-para-prestamos-hipotecarios.pdf"
				   target="_blank"
					 rel="noopener noreferrer">
					Conjunto de herramientas para hipotecas
				</a>
			</h2>
			<p>Este guía puede ayudarle paso a paso a tomar mejores decisiones a lo largo de su camino de ser propietario de una vivienda.</p>
			<a href="/f/201509_cfpb_conjunto-de-herramientas-para-prestamos-hipotecarios.pdf"
			   target="_blank"
				 rel="noopener noreferrer">
				Descargar
			</a>

			<h2>
				<a href="/f/201401_cfpb_consejos-para-los-compradores-de-vivienda.pdf"
				   target="_blank"
					 rel="noopener noreferrer">
					Consejos para los que le gustaría comprar una casa
				</a>
			</h2>
			<p>Saque el máximo beneficio de las nuevas normas hipotecarias.</p>
			<ol>
				<li>Sólo usted puede decidir con qué cantidad de pago de su hipoteca se siente cómodo.</li>
				<li>Use la información del mercado.</li>
				<li>Obtenga ayuda confiable.</li>
				<li>Cuidado con los cargos.</li>
			</ol>
			<a href="/f/201401_cfpb_consejos-para-los-compradores-de-vivienda.pdf"
			   target="_blank"
				 rel="noopener noreferrer">
				Descargar
			</a>

			<h2>
				<a href="/f/201401_cfpb_lista-de-accion-de-hipotecas.pdf"
				   target="_blank"
					 rel="noopener noreferrer">
					Lista de acción de hipotecas
				</a>
			</h2>
			<p>Haga lo siguiente para que aproveche al máximo de su hipoteca.</p>
			<ol>
				<li>Confirme si hay atrasos.</li>
				<li>Arregle los errores.</li>
				<li>Busque y compare.</li>
				<li>Prepárese para una tasa nueva.</li>
				<li>Obtenga ayuda y tome el control.</li>
			</ol>
			<a href="/f/201401_cfpb_lista-de-accion-de-hipotecas.pdf"
			   target="_blank"
				 rel="noopener noreferrer">
				Descargar
			</a>

			<h2>
				<a href="/f/201401_cfpb_lista-de-accion-de-ejecuciones-hipotecarias.pdf"
				   target="_blank"
					 rel="noopener noreferrer">
					Lista de acción de ejecuciones hipotecarias ("foreclosure")
				</a>
			</h2>
			<p>Tome acción para quedarse en su casa.</p>
			<ol>
				<li>Tome el control. Haga o conteste la llamada.</li>
				<li>¡Busque profesionales!</li>
				<li>¡Evite la estafa!</li>
				<li>Hágalo a tiempo.</li>
				<li>Defienda sus derechos.</li>
			</ol>
			<a href="/f/201401_cfpb_lista-de-accion-de-ejecuciones-hipotecarias.pdf"
			   target="_blank"
				 rel="noopener noreferrer">
				Descargar
			</a>

			<h2>
				<a href="/f/201401_cfpb_evitar-ejecuciones-hipotecarias.pdf"
				   target="_blank"
					 rel="noopener noreferrer">
					Evitar ejecuciones hipotecarias ("foreclosure")
				</a>
			</h2>
			<p>Información sobre:</p>
			<ul>
				<li>El proceso y las restricciones de ejecución hipotecaria</li>
				<li>Se exige a los administradores</li>
				<li>Plazos para los prestatarios en dificultades</li>
				<li>Los que buscaron ayuda antes pueden volver a solicitar la mitigación de pérdidas</li>
			</ul>
			<a href="/f/201401_cfpb_evitar-ejecuciones-hipotecarias.pdf"
			   target="_blank"
				 rel="noopener noreferrer">
				Descargar
			</a>

			<h2>
				<a href="/f/201401_cfpb_normas-hipotecarias.pdf"
				   target="_blank"
					 rel="noopener noreferrer">
					Las nuevas normas hipotecarias
				</a>
			</h2>
			<p>Lo que significan las nuevas normas para las familias y los propietarios de viviendas</p>
			<a href="/f/201401_cfpb_normas-hipotecarias.pdf"
			   target="_blank"
				 rel="noopener noreferrer">
				Descargar
			</a>
		</article>
	</div>
</section>
{% endblock %}
