{% extends "base.html" %}

{% block title -%}
    Strategic Plan
{%- endblock %}

{% block desc -%}
    
{%- endblock %}


{% block content %}

    {# Variables #}

    {% set path = '/budget/' %}
    {% set active_page = 'strategic-plan' %}

    {# Macros #}

    {% import "post-macros.html" as post_macros with context %}


    <main class="content content__1-3" id="main" role="main">

        <!-- .content_bar must come after .content_hero but before .content_wrapper -->
        <div class="content_bar"></div>

        <div class="wrapper content_wrapper">

            <aside class="content_sidebar content__flush-all-on-small">
                {% include "_budget-nav.html" %}
            </aside>

            <div class="content_main content__flush-bottom content__flush-top-on-small">
                <section class="block
                                block__flush-top
                                block__sub">
                    <p class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.<p>
                </section>
                <section class="block
                                block__flush-top">
                    <h1 class="h4">
                        CFPB Strategic Plan, Budget, and Performance Plan and Report
                    </h1>
                
                    <a class="jump-link jump-link__download"
                       href="">
                        PDF
                    </a>
                </section>
            </div><!-- END .content_main -->

        </div><!-- END .content_wrapper -->
    </main><!-- END .content -->

{% endblock content %}

