{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load gravatar %}
{% block titletag %}{% trans "Flags" %}{% endblock %}

{% block content %}
    {% trans "Flags" as flags_str %}
    {% trans "Add a flag" as add_a_flag_str %}

    {% include "wagtailadmin/shared/header.html" with title=flags_str   %}
    
    <h2 class="nice-padding">Create a flag</h2>
    <form class="nice-padding" method="POST" action="{% url 'flagadmin:create' %}">
	{% csrf_token %}
        {{form}}
        <input type="submit" value="save"/>
    </form>
{% endblock %}
