<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<head>

<meta charset="utf-8">

<title>{{ title }} | Oficina para la Protección Financiera del Consumidor</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--[if lt IE 9]>      <link rel="stylesheet" href="{{ static('nemo/_/c/es-styles-ie.min.css') }}"> <![endif]-->
    <!--[if gt IE 8]><!--> <link rel="stylesheet" href="{{ static('nemo/_/c/es-styles.min.css') }}"> <!--<![endif]-->

<!--[if lt IE 9]>      <link rel="stylesheet" href="{{ static('knowledgebase/es-ask-styles-ie.min.css') }}"> <![endif]-->
    <!--[if gt IE 8]><!--> <link rel="stylesheet" href="{{ static('knowledgebase/es-ask-styles.min.css') }}"> <!--<![endif]-->

<!--[if lt IE 9]> <script src="{{ static('nemo/_/js/html5shim.js') }}"></script> <![endif]-->

{% include "v1/modernizr.html" %}
</head>
<body class="s-printable">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KMMLRS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KMMLRS');</script>
<!-- End Google Tag Manager -->

<div class="wrapper-body">

    <div class="wrapper-container">

        <div class="brand">
            <h1><a class="brand-logo" href="/es/"><img src="{{ static('nemo/_/img/cfpb-logo-spanish.png') }}" alt="Oficina para la Protección Financiera del Consumidor"></a></h1>
        </div><!-- .brand -->

        <ul class="breadcrumb">
            <li><a href="../" class="back">Regresar al respuesta</a></li>
        </ul>

        <section class="content">

            <div class="primary">
                <article>
                    <h1>{{ title | striptags | safe }}</h1>
                    {{ answer|safe }}
                </article>

                {% if footnotes %}
                <aside class="supplement">
                    <h3>Enlaces</h3>
                    <ol class="footnotes">
                        {% for footnote in footnotes %}
                        <li>{{ footnote.1 }}</li>
                        {% endfor %}
                    </ol>
                </aside><!-- .supplement -->
                {% endif %}

            </div><!-- .primary -->

            <aside class="secondary">

                <aside class="supplement">
                    <h2><b>Visite consumerfinance.gov/es para mas informacion o llame</b> <a href="tel:+18554112372" class="phone">(855) 411-2372</a></h2>
                </aside>

                <!-- <aside class="hero supplement">
                    <div class="hero-container">
                        <h1>Visite consumerfinance.gov/es para mas informacion o llame <a href="tel:+18554112372" class="phone">(855) 411-2372</a></h1>
                    </div>
                </aside> -->

                <aside class="supplement well">
                    <span>Usted puede presentar quejas acerca de:</span>
                    <div class="row">
                        <ul class="span4">
                            <li>Tarjetas de crédito</li>
                            <li>Hipotecas</li>
                            <li>Préstamos estudiantiles</li>
                        </ul>
                        <ul class="span4">
                            <li>Transferencias de dinero</li>
                            <li>Préstamos para vehículo</li>
                            <li>Préstamos de consumo</li>
                        </ul>
                        <ul class="span4">
                            <li>Informes y calificaciones de crédito</li>
                            <li>Cuentas y servicios bancarios </li>
                        </ul>
                    </div>
                </aside>

                <aside class="supplement supplement-plain ac-disclaimer">
                    <p>Estas respuestas se proveen solamente para efectos informativos generales. Si bien no le aconsejarán sobre su situación exacta, esperamos que le ayuden a entender mejor los productos y servicios financieros. Estas respuestas no constituyen asesoramiento legal ni interpretación del CFPB.</p>
                </aside>

            </aside><!-- .secondary -->

        </section><!-- .content -->

    </div>

</div>

<script src="{{ static('nemo/_/js/scripts.min.js') }}"></script>

</body>
</html>
