{% extends 'spanish-ask-base.html' %}

{% block babel_title %}
    {% set page_title=page.ask_category.name_es %}
    {% set search_page = 1 %}
    {% include "ask/title-spanish.html" %}
{% endblock %}

{% block babel_content %}
        <section class="content row">

            {% if questions %}

                <div class="primary span8">

                    <header class="header">
                        <h1>
                            <img src="/static/nemo/_/img/icon-{{ page.ask_category.slug }}-retina.png" alt="" class="icon-40">{{ page.ask_category.name_es }}
                          
                        </h1>
                    </header><!-- .header -->

                    {% if paginator.num_pages > 1 %}
                    <nav class="pagination">
                        <ul class="s-hide-on-small">
                        {% include "ask/pagination-spanish.html" with context %}

                        </ul>
                        <div class="pagination-details"><span class="pagination-count"><strong>{{ results_count }}</strong> respuestas</span> 
                        </div>                    
                    </nav><!-- .pagination -->   
                    {% endif %}                     

                    {% if questions %}
                    {% for question in questions %}
                    {% if question.question_es %}
                    <a href="/es/obtener-respuestas/{{ question.slug_es }} " class="ac-qa-summary">
						<article>
						    <h3 class="ac-qa-question">{{ question.question_es|safe }}</h3>
						    <div class="ac-qa-answer">
                                
						        <p> {{ question.answer_es|safe|striptags|truncate }} </p>
                                
						    </div>
						</article>
					</a>
                    {% endif %}
					{% endfor %}                

                    
                    {% endif %}                
                    
                    {% if paginator.num_pages > 1 %}
                    <nav class="pagination">
                        <ul>                    
                        {% include "ask/pagination-spanish.html" with context %}
                        </ul>
                    </nav>
                    {% endif %}

                </div><!-- .primary -->

                <aside class="secondary span4">            
                    {% if tags %}
                        {% for tag in tags %}
                            {% if loop.first %}
                                <section class="supplement ac-related-topics">
                                    <h3>Temas relacionados</h3>
                                    <ul class="nav-list">
                            {% endif %}
                                {% if tag[1] > 1 %}
                                <li><a href="/es/obtener-respuestas/buscar-por-etiqueta/{{ tag[0].replace(' ', '_') }}/">{{ tag[0] }}</a>
                                </li>
                                {% endif %}
                            {% if loop.last %}
                                    </ul>
                                </section>
                            {% endif %}
                        {% endfor %}
                        
                    {% endif %}

                </aside><!-- .secondary -->          

                <div class="share s-hide-on-small" data-set="share"></div><!-- .share -->

            {% else %}
                <div class="primary span8">
                    <header class="header">
                        <h2>No pudimos encontrar resultados para<br>"<em>{{ query }}</em>"</h2>
                    </header><!-- .header -->

                    <p>Siempre estamos agregando respuestas, así que regrese pronto o llame al <a href="tel:+18554112372" class="phone">(855) 411-2372</a> para hacer una pregunta por teléfono.</p>
                    <ul class="unstyled">
                        <li><a href="/es/presentar-una-queja/">Presentar una queja</a></li>
                        <li><a href="/obtener-respuestas">Obtener respuestas</a></li>
                    </ul>
                </div>
            {% endif %}  

        </section><!-- .content -->

{% endblock %}

{% block babel_share %}
        <div class="share s-show-on-small" data-set="share">
            <span><span class="share-label">Compartir esta página</span>
                {% include "ask/share-links-spanish.html" %}
            </span>
        </div><!-- .share -->
{% endblock %}
