{% extends "base.html" %}
{% import 'tags.html' as tags with context %}
{% import 'form_block.html' as form_block with context %}
{% import 'atoms/partially-styled-link.html' as partially_styled_link with context %}
{% import 'macros/category-icon.html' as category_icon %}
{% import 'templates/render_block.html' as render_block with context %}
{% import 'ask/ask-search-bar.html' as ask_search_bar with context %}

{% block content_main_modifiers -%}
    {{ super() }} content__flush-bottom
{%- endblock %}

{% block content %}

    {% for block in page.header -%}
        {{ render_block.render(block, loop.index) }}
    {%- endfor %}

    <main class="content ask-landing-page ask-cfpb-page" id="main" role="main">
        <div class="wrapper content_wrapper">
            <div class="content-l">
                <section class="content_main content-l_col content-l_col-1">
                    <h2 class="u-show-on-mobile">Browse questions by category</h2>
                    <ul class="u-show-on-mobile category_list list list__links u-mb0">
                        {% for category in categories %}
                            <li class="list_item">
                                <a class="list_link jump-link jump-link__right" 
                                   href="{{ slugurl( 'category-' + category.slug ) }}">
                                    <span class="jump-link_text">
                                        {{ category_icon.render( category.name ) }}
                                        {{ category.name }}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="block block__flush-top block__flush-bottom question-categories">
                        <div class="u-hide-on-mobile">

                            <div class="content-l content-l__equal-height">

                                {% for category in categories %}
                                    <div class="content-l_col content-l_col-1-2__on-med content-l_col-1-3__on-lg content-l_col__equal-height">
                                        <article class="m-card content-l_body__equal-height">

                                            <h2>
                                                <a href="{{ slugurl( 'category-' + category.slug ) }}">
                                                {{ category_icon.render( category.name ) }}
                                                {{ category.name }}
                                                </a>
                                            </h2>

                                            <ul class="list question_list u-mt10 u-mb30">
                                                {% for a in category.featured_answers() %}
                                                <li class="list_item">
                                                {{ partially_styled_link.render( {'plain_text': a.question, 'underlined_text': 'Read answer', 'url': slugurl(a.slug)} ) }}
                                                </li>
                                                {% endfor %}
                                            </ul>

                                            <div class="content-l_footer__equal-height">
                                                <p class="short-desc u-mb0">
                                                    <a href="{{ slugurl( 'category-' + category.slug ) }}">
                                                        See all {{ category.name|lower }} questions
                                                    </a>
                                                </p>
                                            </div>

                                        </article>
                                    </div>

                                {% endfor %}

                            </div>

                        </div>

                        <div class="block block__sub">
                            {{ tags.render( audiences, '/askcfpb/' ) }}
                        </div>
                    </div>

                    

                </section>
                <section class=" content-l_col content-l_col-1">
                    {{ ask_search_bar.render() }}
                </section>
            </div>
        </div>
    </main>
{% endblock %}
