{% extends 'layout-full.html' %}

{% block title -%}
    GovDelivery subscription error | Consumer Financial Protection Bureau
{%- endblock %}

{% block desc -%}
    Your subscription to GovDelivery was not successful because of a server error, please try again later.
{%- endblock %}

{% block content_main %}
    <h1>{{ svg_icon('error-round') }} Please try again later.</h1>
    <p>
        Your subscription to GovDelivery was not successful because of a server error, please try again later.
    </p>
{% endblock %}
