{% extends "front/base_nonresponsive.html" %}
{% load static from staticfiles %}

{% block title %}
    What protections do I have against credit discrimination? | Consumer Financial Protection Bureau
{% endblock %}

{% block breadcrumbs %}
<li><a href="/" class="internal-link">Home</a></li>
<li>WHAT PROTECTIONS DO I HAVE AGAINST CREDIT DISCRIMINATION?</li>
{% endblock %}

{% block content %}
{% include "front/share_block.html" %}
<article class="page">
    <header class="pagetitle">
        <h1>What protections do I have against credit discrimination?</h1>
    </header>
    <div class="twothirds-col" style="margin-bottom: -1em;">
        <div class="col">
            <p>Responsible borrowers use credit to go to college, open businesses, and buy homes. American consumers should have the opportunity to use credit to build a better future for themselves and their loved ones. Credit discrimination prevents people from having access to these opportunities, and can make credit more expensive.</p>
            <h3 id="whatis">What is credit discrimination?</h3>
            <p>The Equal Credit Opportunity Act makes it illegal for a creditor to discriminate in any aspect of credit transaction based on certain characteristics.</p>
            <p>In addition, the Fair Housing Act makes many discrimination practices in home financing illegal.</p>
        </div>
        <div class="col">
            <h2 id="toc">On this page</h2>
            <hr />
            <p class="wp-caption-text"><a href="#whatis"><strong>What is credit discrimination?</strong></a></p>
            <p class="wp-caption-text"><a href="#protectyourself"><strong>How I can protect myself from credit discrimination</strong></a></p>
            <p class="wp-caption-text"><a href="#ouroffice"><strong>The Office of Fair Lending and Equal Opportunity</strong></a></p>
            <p class="wp-caption-text"><a href="#more"><strong>More resources</strong></a></p>
        </div>
    </div>
    <div class="two-col">
        <div class="col">
            <h4>It is illegal to:</h4>
            <ul>
                <li>Refuse you credit if you qualify for it</li>
                <li>Discourage you from applying for credit</li>
                <li>Offer you credit on terms that are less favorable, like a higher interest rate, than terms offered to someone with similar qualifications</li>
                <li>Close your account</li>
            </ul>
        </div>
        <div class="col">
            <h4>On the basis of:</h4>
            <ul>
                <li>Race or color</li>
                <li>Religion</li>
                <li>National origin</li>
                <li>Sex (including gender)*</li>
                <li>Marital status</li>
                <li>Age (as long as you are old enough to enter into a contract)</li>
                <li>Receipt of income from any public assistance program</li>
                <li>Exercising in good faith your rights under the Consumer Credit Protection Act.</li>
            </ul>
        </div>
    </div>
    <p>*Currently, the law supports arguments that the prohibition against sex discrimination also affords broad protection from discrimination based on a consumer&#8217;s gender identity and sexual orientation.</p>
    <h3 id="protectyourself">How can I protect myself from credit discrimination?</h3>
    <div class="note">
        <h4 id="warningsigns" style="margin-top: 0.5em;">Watch for warning signs</h4>
        <p>Credit discrimination is often hidden or even unintentional, which makes it hard to spot. Look for red flags, such as:</p>
        <ul>
            <li>You are treated differently in person than on the phone.</li>
            <li>You are discouraged from applying for credit.</li>
            <li>You hear the lender make negative comments about race, national origin, sex, or other protected groups.</li>
            <li>You are refused credit even though you qualify for it.</li>
            <li>You are offered credit with a higher rate than the one you applied for, even though you qualify for the lower rate.</li>
            <li>You are denied credit, but not given a reason why or told how to find out why.</li>
            <li>Your deal sounds too good to be true.</li>
            <li>You feel pushed or pressured to sign.</li>
        </ul>
    </div>
    <div class="three-col">
        <div class="col">
            <h4><img style="margin-bottom: -0.75em;" src="https://files.consumerfinance.gov/f/theme/_/img/submit_a_complaint_36x36.png" alt="" /> <a href="/complaint/">Submit a complaint</a></h4>
            <p>If you believe a lender has discriminated against you for any reason, you can file a complaint. We&#8217;ll provide you a way to monitor the status and progress of your complaint.</p>
        </div>
        <div class="col">
            <h4><img style="margin-bottom: -0.75em;" src="https://files.consumerfinance.gov/f/theme/_/img/tell_a_story_36x36.png" alt="" /> <a href="https://story.consumerfinance.gov/tell-your-story/s/tell-your-story">Tell us your story</a></h4>
            <p>You can help us protect consumers and create a fairer marketplace even if you don&#8217;t want to file a complaint. Tell us about your experience.</p>
        </div>
        <div class="col">
            <h4><a href="/askcfpb/search?selected_facets=tag_exact%3Adiscrimination">Ask CFPB</a></h4>
            <p>Learn more about what factors lenders can consider in deciding whether to lend money and deciding what features to offer, like the interest rate or the term of the loan.</p>
        </div>
    </div>
    <div class="note">
        <h4 style="margin-top: 0.5em;">More ways you can protect yourself</h4>
        <ul>
            <li><strong>Do your research.</strong> Shop around. Learn about the various features and downsides of the credit product you want. Research the current interest rates. Compare products from several lenders.  Talk to your friends and family members about their credit products.</li>
            <li><strong>Know your credit history.</strong> Creditors will make decisions based on your credit history. Be sure there are no mistakes or missing items in your credit reports. Get a free copy of your credit report from each of the three biggest consumer reporting agencies every 12 months. Get your free copy from <a href="https://www.annualcreditreport.com">AnnualCreditReport.com</a>.</li>
            <li><strong>Ask questions.</strong> Don’t focus only on your monthly payment. Be sure you understand the rates and fees you will pay over the long run. Ask whether the rates and fees quoted to you by your lender are set, or if there are any circumstances in which the quoted rates and fees could change. Keep asking questions until you are fully satisfied. If a creditor does not want to answer your questions, this could be a bad sign.</li>
            <li><strong>Stay in control.</strong> Your lender shouldn’t make you feel rushed, or unnecessarily delay action on your application. Walking away and continuing the discussion later, if you so choose, is a good way to control communications with the lender.</li>
            <li><strong>Don’t sign until you’re satisfied</strong> that the credit product works for you. Remember, the product that works for you today may not work for you down the road. Make sure you’ve considered both before you sign.</li>
        </ul>
    </div>
    <h3 id="ouroffice">Our work</h3>
    <p>The CFPB is unique among financial regulators. Other regulators focus on the safety and soundness of the financial institutions first. The CFPB is the first to focus primarily on the American consumer. To learn more about our fair lending efforts, check out our <a href="https://files.consumerfinance.gov/f/documents/201704_cfpb_Fair_Lending_Report.pdf">recent report</a> to Congress or our <a href="https://www.consumerfinance.gov/blog/category/ecoa/">recent blog posts</a>.</p>
    <p>We work to ensure fair, equitable, and nondiscriminatory access to credit for both individuals and communities through:</p>
    <ul>
        <li>Data-driven research and analysis of consumer financial markets and services;</li>
        <li>Enforcement and oversight of Federal fair lending laws; and</li>
        <li>Promotion of fair lending compliance and education among industry, fair lending, civil rights, and consumer and community advocates.</li>
    </ul>
    <h3 id="more">Additional Information</h3>
    <p>Below you will find links to additional information about your fair lending rights:</p>
    <p>Consumer Financial Protection Bureau: For more information on credit discrimination, see our brochures for consumers (<a href="https://files.consumerfinance.gov/f/documents/201703_cfpb_handout_ECOA_consumers.pdf">English</a> | <a href="https://files.consumerfinance.gov/f/documents/201601_cfpb_handout_ECOA_consumers-Spanish.pdf">Spanish</a>) and for those who work with consumers (<a href="https://files.consumerfinance.gov/f/documents/201703_cfpb_handout_ECOA_helping_consumers.pdf">English</a> | <a href="https://files.consumerfinance.gov/f/documents/201601_cfpb_handout_ECOA_helping_consumers-Spanish.pdf">Spanish</a>).<br />
        Federal Trade Commission: <a href="https://www.consumer.ftc.gov/articles/0188-mortgage-discrimination">Helpful tools to protect yourself from discrimination</a> (y <a href="https://www.consumidor.ftc.gov/articulos/s0188-discriminacion-hipotecaria">en español</a>).<br />
        Department of Housing and Urban Development: <a href="https://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights">Your rights under the Fair Housing Act</a>, from HUD.<br />
        Federal Trade Commission: <a href="https://www.consumer.ftc.gov/articles/0347-your-equal-credit-opportunity-rights">More about the Equal Credit Opportunity Act</a> (y <a href="https://www.consumidor.ftc.gov/articulos/s0347-sus-derechos-de-igualdad-de-oportunidad-de-credito">en español</a>).<br />
        Department of Justice: <a href="https://www.justice.gov/crt/about/hce/">Housing and Civil Enforcement Section</a>, which also enforces antidiscrimination laws.
    </p>
</article>
{% endblock %}
