{% extends "front/base_update.html" %}
{% load staticfiles %}"}

{% block page_meta %}
<meta charset="UTF-8" />
<meta property="og:title" content="Jobs &gt; Consumer Financial Protection Bureau"/>
<meta property="og:type" content="government"/>
<meta property="og:url" content="/jobs/"/>
{% endblock %}

{% load humanize %}

{% block title %}Jobs by title > Jobs{% endblock %}

{% block breadcrumbs %}
	<li><a href="/" class="internal-link">Home</a></li>
	<li><a href="{% url 'jobs' %}" class="internal-link">Jobs</a></li>
	<li>Title</li>
{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="{% static 'jobmanager/css/jobs.css' %}" />
{% endblock %}

{% block content %}

	<section id="recruit">
		<div id="howtoapply">
			<h2>How to apply</h2>
				<p>You'll never work at another agency like the CFPB. Click on any job title below to find out if it is the right opportunity for you. You will also find most CFPB opportunities on <a href="http://www.usajobs.gov/" class="exit-link">USAJOBS.gov</a>. If you have questions about applying for federal jobs, information can be found at the <a href="http://www.usajobs.gov/ResourceCenter" class="exit-link">USA.gov Resource Center</a>. We value feedback and suggestions about what employment information you need from us, and about how we can best communicate with you and other job seekers. Please send your questions and suggestions to <a href="mailto:hr@consumerfinance.gov" class="email-link">hr@consumerfinance.gov</a>.</p>
		</div>
		<div id="followus">
			<h2>Follow us</h2>
			<p>
			<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/FollowCompany" data-id="2463373" data-counter="right"></script>
			</p>
		</div>
	</section>

	<section id="jlist">
	<h1>Job Title</h1>
		{% for job in jobs %}
			<div>
				<section>
					<h2><a href="{% url 'jobs_detail' job.slug %}" name="{{ job.slug }}" class="internal-link">{{ job.title }}</a></h2> -  <date>closes {{ job.close_date }}</date>
					<h5 class="grade">
						OFFICE: {{ job.category }}
					</h5>
					<h5 class="grade">
						REGION{% if job.locations.count > 1 %}S{% endif %}:
						{% for region in job.locations.all %}
							{{ region.region_long }}{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</h5>
					<h5 class="grade">

						GRADE{% if job.grades.count > 1 %}S{% endif %}:
						{% for grade in job.grades.all %}
							{{ grade.grade }}{% if not forloop.last %}, {% endif %}
						{% endfor %} :

						{% if job.salary_min %}
							${{ job.salary_min|floatformat:2|intcomma }} - ${{ job.salary_max|floatformat:2|intcomma }}
              {% if job.hourly %}
                hourly.
              {% endif %}
						{% else %}
							${{ job.min_salary|floatformat:2|intcomma }} - ${{ job.max_salary|floatformat:2|intcomma }}
						{% endif %}
					</h5>
					<h5 class="grade">
						APPOINTMENT{% if job.jobapplicanttype_set.all.count > 1 %}S{% endif %}:
						{% for jobapplicanttype in job.jobapplicanttype_set.all %}
							{{ jobapplicanttype.application_type.applicant_type }}{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</h5>
					<div>{% autoescape off %}{{ job.description|truncatewords_html:50 }}{% endautoescape %}<br><a href="{% url 'jobs_detail' job.slug %}" name="{{ job.id }}" class="meta internal-link">learn more &raquo;</a></div>
				</section>
			</div>
		{% endfor %}
	</section>

	<p>The Consumer Financial Protection Bureau (CFPB) is an equal opportunity employer in compliance with federal law and seeks to create and maintain a vibrant and diverse workforce.  We encourage all people to apply for opportunities with the CFPB.  CFPB does not discriminate on the basis of race, color, religion, sex (including pregnancy, sex stereotyping, gender identity, and gender non-conformity), national origin, disability, age (40 and older), genetic information, political affiliation, marital status, sexual orientation, parental status, uniformed status, membership in a labor organization, or any other non-merit factor.</p>
    <p>The CFPB offers a highly competitive compensation and benefits package. Each vacancy announcement has more information listed under Benefits.</p>
    <p>The CFPB Human Capital Team is committed to the satisfaction, engagement, and retention of CFPB employees. Our service to the people who work here begins with recruitment. It continues through professional development, management of compensation and benefits, and other functions.</p>
    <p>We value feedback and suggestions about what employment information you need from us, and about how we can best communicate with you and other job seekers. Please send your questions and suggestions to <a href="mailto:hr@consumerfinance.gov" class="email-link">hr@consumerfinance.gov</a>. <strong>Please note that we are unable to consider resumes submitted here rather than through a specific job opportunity announcement.</strong> Each job listed on this page links to its official announcement.</p>

{% endblock %}
