{% extends "front/base_update.html" %}
{% load staticfiles %}

{% block page_meta %}
<meta charset="UTF-8" />
<meta property="og:title" content="Jobs &gt; Consumer Financial Protection Bureau"/>
<meta property="og:type" content="government"/>
<meta property="og:url" content="/jobs/"/>
{% endblock %}

{% block title %}Jobs{% endblock %}

{% block breadcrumbs %}
	<li><a href="/" class="internal-link">Home</a></li>
	<li><a href='{% url "jobs" %}' class="internal-link">Jobs</a></li>
{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="{% static 'jobmanager/css/jobs.css' %}" />
{% endblock %}


{% block content %}
	<section id="power">
		<span>Challenge yourself through service.</span>
		<h1>Join us.</h1>
	</section>

	<section id="jobs-search">
    	<h2>Begin Your Search</h2>
		<div class='half'>
			<div class="padded-module border-top-sect">
				<h3>View job openings by location</h3>
				<p>Search our job openings in Headquarters and the Midwest, Northeast, Southeast, and West regions.</p>
				<p><a href='{% url "jobs_location" %}' class="internal-link">View Jobs</a></p>
			</div>
		</div>
		<div class='half omega'>
			<div class='padded-module border-top-sect'>
				<h3>View job openings by title</h3>
				<p>Do you already know what job you are looking for?  Search our job openings by type of work you will be doing.</p>
				<p><a href='{% url "jobs_title" %}' class="internal-link">View Jobs</a></p>
			</div>
		</div>

		<div class='third'>
			<div class='padded-module border-top-sect'>
				<h3>Office of Research</h3>
				<p>Our Office of Research is looking for economists and other behavioral researchers to join our team.</p>
				<p><a href='{% url "jobs_officeresearch" %}' class="internal-link">Learn more</a></p>
				<br>
			</div>
		</div>
		<div class='third'>
			<div class='padded-module border-top-sect'>
				<h3>Enforcement</h3>
				<p>Our Enforcement team is seeking litigators and other team members to contribute to investigations and enforce federal consumer finance laws.</p>
				<p><a href='{% url "jobs_enforcement" %}' class="internal-link">Learn more</a></p>
			</div>
		</div>
		<div class='third omega'>
			<div class='padded-module border-top-sect'>
				<h3>Supervision</h3>
				<p>Ensuring compliance with federal consumer financial laws and regulations and assessing financial risks to consumers.</p>
				<p><a href="{% url 'jobs_supervision' %}" class="internal-link">Learn more</a></p>
				<br>
			</div>
		</div>
	</section>

	<section id="students-and-grads">
	    <h2>Students and recent graduates</h2>
		<div class='half'>
			<div class='padded-module border-top-sect'>
				<h3>Director’s Financial Analyst Program</h3>
				<p>A two-year fellowship with rotations working with Research, Markets & Regulations, Supervision, Enforcement, Fair Lending & Equal Opportunity, Strategy, and Operations with a “supply and demand” approach.</p>
				<p><a href='/students-and-recent-graduates/' class="internal-link">Learn more</a></p>
			</div>
		</div>
		<div class='half omega'>
			<div class='padded-module border-top-sect'>
				<h3>Student Internships</h3>
				<p>We’re currently looking for energetic student leaders to apply for our summer internship program.  We need students from various backgrounds to fill positions at all locations.</p>
					<p><a href='/students-and-recent-graduates/' class="internal-link">Learn more</a></p>
				<br>
				<br>
			</div>
		</div>
	</section>

	<p>The Consumer Financial Protection Bureau (CFPB) is an equal opportunity employer in compliance with federal law and seeks to create and maintain a vibrant and diverse workforce.  We encourage all people to apply for opportunities with the CFPB.  CFPB does not discriminate on the basis of race, color, religion, sex (including pregnancy, sex stereotyping, gender identity, and gender non-conformity), national origin, disability, age (40 and older), genetic information, political affiliation, marital status, sexual orientation, parental status, uniformed status, membership in a labor organization, or any other non-merit factor.</p>
    <p>The CFPB offers a highly competitive compensation and benefits package. Each vacancy announcement has more information listed under Benefits. <a href="/f/201407_cfpb_base-pay-ranges-2014.pdf">Information on base pay ranges and salary structure is also available</a>.</p>
    <p>The CFPB Human Capital Team is committed to the satisfaction, engagement, and retention of CFPB employees. Our service to the people who work here begins with recruitment. It continues through professional development, management of compensation and benefits, and other functions.</p>

{% endblock %}
