{% extends "front/base_nonresponsive.html" %}

{% block page_meta %}
<meta charset="UTF-8" />
<meta property="og:title" content="Supervision"/>
<meta property="og:type" content="government"/>
<meta property="og:url" content="{% url 'jobs_supervision' %}"/>
{% endblock %}

{% block title %}Supervision > Jobs{% endblock %}

{% block breadcrumbs %}
	<li><a href="/" class="internal-link">Home</a></li>
	<li><a href="{% url 'careers:jobs' %}" class="internal-link">Jobs</a></li>
    <li>Supervision</li>
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}jobmanager/css/jobs2.css" />
{% endblock %}

{% block page_js %}
    <script src="{{ STATIC_PREFIX }}jobmanager/js/supervision.js"></script>
{% endblock %}

{% block content %}

{#<!-- TOP BANNER -->#}
<div id='top-green-banner'>
    <div class='main-text supervision-main-text'>Supervision</div>
    <div class='sub-text'>Ensuring compliance with federal consumer financial laws and regulations and assessing financial risks to consumers.</div>
</div>


<section id='jobs-left-sect'>

<iframe width="640" height="360" src="//www.youtube.com/embed/qTJGun-TAIU" frameborder="0" allowfullscreen style="margin-top:20px"></iframe>

</section>

<section id='jobs-right-sect'>
    <div class='border-top-sect job-box gray-box'>
        
    <h1><span style='font-size:.75em;'>Apply Now for the CFPB Supervision Team</span></h1>
    <span ' class='green-button goto-jobs internal-page-link'>Learn more: View Jobs</span>

        <!-- the email tagging form -->
        <form id='email_collection_form' style='margin:0px;padding:0px;'>
            <input type="hidden" name="code" value="USCFPB_19">
            <p class='job-emphasize'>Sign up and you'll be the first to know when we start accepting applications. </p>

            <fieldset>
                <input type="hidden" name="code" value="USCFPB_21">
                <p><label for="email">Email address</label> <input type="email" name="email" id='email'></p>
                <p><span id='signup_for_update' class='green-button'>Sign up for updates</span></p>
                <div id='email-error-box'></div>
            </fieldset>
        </form>

        <div style='margin-top:20px;'>Questions? Contact <a href='mailto:jobs@cfpb.gov' class="email-link">jobs@cfpb.gov</a></div>
    </div>
</section>


<div class='breaker'></div>

<section id='jobs-how-it-works'>
    <h2>Join Our Team</h2>
    <table><tr>
        <td class='border-top-sect'>
            <h3>Our Mission</h3>
            <p>The supervision program will promote the development of markets for consumer financial products and services that are fair, transparent, and competitive.</p>
            <div class='job-quote'>
                <div class='by-line'>"Holding both banks and nonbanks accountable to consumer financial laws will help create a fairer, more transparent market for consumers. It will create a better environment for the honest businesses that serve them. And it will help the overall economic stability of our country."</div>
                <div class='dept-name'>&mdash; Richard Cordray, Director of the CFPB</div>
            </div>
        </td>
        <td class='border-top-sect'>
            <h3>What We Do</h3>
            <p>This consumer-centered approach to supervision is based on three main principles:</p>
            <ol>
                <li>Focus on risks to consumers in the policies and practices of consumer financial providers,</li>
                <li>Analyze available data on the activities of providers, on the markets in which they operate, and on the risks to consumers, and</li>
                <li>Apply consistent standards in supervision of both bank and nonbank consumer financial companies</li>
            </ol>
        </td>
        <td class='border-top-sect'>
            <h3>See Featured Positions</h3>
            <p>We have built &mdash; and continue to build &mdash; a diverse, talented, and highly qualified supervision and examination staff to execute on all of our important goals. Now, we need you! </p>
            <p><a href='#' class='goto-jobs internal-page-link'>See Featured Positions</a> for some of our Supervision job opportunities and check this page for upcoming job announcements.</p>
            <span class='goto-jobs green-button internal-page-link'>View Jobs</span>
        </td>
    </tr></table>
</section>


<div style='clear:both;'></div>
<div class='breaker'></div>

<section>
    <h2>What the Division Does</h2>
    <p>CFPB has designed a supervision program to ensure that banks and nonbanks comply with federal consumer financial laws and to detect and assess the risks to consumers that arise from these businesses.</p>

    <p>This consumer-centered approach to supervision is based on three main principles:</p>
    <ol>
        <li>Focus on risks to consumers in the policies and practices of consumer financial providers,</li>
        <li>Analyze available data on the activities of providers, on the markets in which they operate, and on the risks to consumers, and</li>
        <li>Apply consistent standards in supervision of both bank and nonbank consumer financial companies.</li>
    </ol>

    <p>The Dodd-Frank Wall Street Reform and Consumer Protection Act created the CFPB and gave it critical consumer protection oversight authority &mdash; promoting greater accountability for American consumers.  With this authority, the Consumer Financial Protection Bureau has the ability to examine for and monitor compliance with federal consumer financial laws and regulations at both large banks and nonbank financial services companies.</p>
    <p>The CFPB has primary authority to enforce federal consumer financial laws for banks and other depository institutions with total assets of more than $10 billion, and their affiliates, which collectively hold more than 80 percent of the banking industry's assets.  The CFPB also has the authority to oversee nonbank compliance, regardless of size, in certain specific markets: mortgage companies (originators, brokers, and servicers, as well as providers of loan modification or foreclosure relief services); payday lenders; and private education lenders.  For other nonbank markets, the CFPB can also supervise "larger participants" after defining them by rule.</p>
    <p>CFPB supervision is a comprehensive, ongoing process of pre-examination scoping and review of information, data analysis, on-site examinations, and regular communication with supervised entities and prudential regulators, as well as follow-up monitoring. For most depository institutions supervised by the CFPB, periodic examinations will be conducted. For the largest and most complex banks in the country, the agency has implemented a year-round supervision program that will be customized to reflect the consumer protection risk profile of the organization.  The agency has implemented a risk-based nonbank supervision program that will include conducting individual examinations and may also include requiring reports from businesses to determine what businesses need greater focus.</p>
</section>

<div class='breaker'></div>

<section>
    <h2>Why you should apply to a CFPB Supervision job  opportunity</h2>
    <p>Your job opportunities with the CFPB Supervision team are unique.</p>
    <ul>
        <li>Provide evenhanded oversight that will renew trust in the financial marketplace!</li>
        <li>Learn about both bank and nonbank supervision and compliance.</li>
        <li>Come in at the ground level of creating a new agency.</li> 
        <li>Be a leader in your field by creating a federal supervision program focused on ensuring that markets work for American families.</li>
    </ul>
    <p>The purpose of the CFPB's supervision program is to assess compliance with Federal consumer financial laws, obtain information about supervised entities' activities and compliance systems and procedures, and detect and assess risks to consumers and the consumer financial markets.  In this way, the supervision program will promote the development of markets for consumer financial products and services that are fair, transparent, and competitive.  Supervision team members are working to provide consistent supervisory coverage that will help level the playing field for all industry participants to create a fairer marketplace for consumers and the responsible businesses that serve them.</p>
    <p>We have built &mdash; and continue to build &mdash; a diverse, talented, and highly qualified supervision and examination staff to execute on all of our important goals.  Our team comes from a range of backgrounds and is stationed throughout the country. Supervision headquarters are in Washington, D.C., and we have regional offices in San Francisco (West), Chicago (Midwest), New York (Northeast), and Washington, D.C. (Southeast).  Now, we need you!</p>
    
    <div class='job-quote'>
        <div class='by-line'>"Working for the CFPB is rewarding both professionally and personally.  At the end of the day, I feel good about the job I do safeguarding the financial interests of all Americans &mdash; after all, we are all consumers of the financial markets one way or another."</div>
        <div class='dept-name'> &mdash; Welkis Malveau, Examiner</div>
    </div>

</section>

<div class='breaker'></div>

<section id='featured_positions'>
    <h2>Featured Positions</h2>

    <ul class='green-bulletin green-bulletin-spacer'>
        <li>
            <h3 id='managers'>Field Examination Manager</h3>
            <p>As a Field Examination Manager you will plan and manage the work of a staff of consumer compliance examiners conducting examinations of financial institutions or financial services companies typically offering multiple product lines or services. You will also provide advanced technical support and expertise at a regional level to advise management on significant and sensitive policy, procedural, legal, and examination issues.</p>
            <p><i>Field Manager, CN-570-60</i></p>
        </li>
        <li>
            <h3 id='examiners'>Examiner</h3>
            <p>As an Examiner, you will independently conduct complex examination work.  You will develop, present, and discuss examination findings, recommendations, and required corrective actions with bank and nonbank entities' senior management.  Independently develop and implement supervision strategies for regulated entities being examined.</p>

            <h4>Examiner, CN-30, CN-40 and CN-51:</h4>
            <p>As an Examiner at the CN-30, CN-40 or CN-51 band, you will participate as a member of a team in compliance examinations of financial institutions or financial services companies. You will participate in developing solutions to issues and problems with broad impact on consumers and the industry.</p>
            
            <h4>Examiner CN-52, CN-53 and CN-60:</h4>
            <p>As an Examiner at the CN-52, CN-53 or CN-60 band, you will lead teams as Examiner-in-charge in compliance examinations of financial institutions or financial services companies. You will participate as a technical expert in developing solutions to issues and problems with broad impact on consumers and the industry.</p>
        </li>
        <li>
            <h3>Other Current Job Opportunities</h3>
            <p>Please go to <a href='{% url "careers:jobs" %}' class="internal-link">our jobs sections</a> to view other job opportunities</p>
        </li>
    </ul>
</section>



<div class='breaker'></div>

<section>
    <h2>Interested? Questions?</h2>
    <p>Interested in a job with CFPB supervision, but don't see a current vacancy that is right for you? Please contact <a href='mailto:jobs@cfpb.gov' class="email-link">jobs@cfpb.gov</a>.  We'll let you know if a job that is right for you becomes available.
</section>



{% endblock %}
