{% extends "front/base_nonresponsive.html" %}

{% block page_meta %}
<meta charset="UTF-8" />
<meta property="og:title" content="Technology & Innovation Fellows"/>
<meta property="og:type" content="government"/>
<meta property="og:url" content="{% url 'technology_innovation_fellows' %}"/>

{% endblock %}

{% block title %}Technology &amp; Innovation Fellows > Jobs{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}jobmanager/css/fellows.css" />
{% endblock %}

{% block page_js %}
    <script src="{{ STATIC_PREFIX }}jobmanager/js/fellows.js"></script>
{% endblock %}

{% block content %}
<script type="text/javascript">
fellowship_form_submit_url = "{% url 'fellowship_form_submit' %}";
</script>
<div class="jobs-theme">
    <div class="sub-theme-bold sub-theme-bold--divided">
        <div class="l-separated-small--vertical">
            <div class="hero-wrapper wrapper">
                <div class="row-fluid">
                    <div class="span5">
                        <h1 class="display-type">Technology and<br /> Innovation Fellowship</h1>
                        <h3>Our mission demands smart, usable, and reliable technology. Come serve consumers by helping us design and build it.</h3>
                    </div>
                    <div class="span5 offset1">
                        <img alt="Technology and Innovation Fellowship Hero Image" id="hero-image" src="{{ STATIC_PREFIX }}jobmanager/img/fellowship_hero.png" />
                    </div>
                </div> <!-- END .row-fluid -->
            </div><!-- END .wrapper -->
        </div><!-- END l-separated-small--vertical -->
    </div>

    <div class="sub-theme-quiet sub-theme-quiet--divided l-separated-large--vertical">
        <div class="wrapper">
            <div class="row-fluid" id="main">
                <div class="span6 jobs-intro-text">
                    <h2>Thank you for applying.</h2>
{# ###### REMOVED ###### #}
{% comment %}
                    <p>We're now recruiting candidates for the second round of the CFPB's Technology and Innovation Fellowship, a two year program for technologists interested in leveraging technology to help further our mission of making financial products and services work for consumers.</p>
                    <p>We're seeking talented individuals with diverse backgrounds for positions in software product development, cybersecurity, and data. We're looking for highly skilled people who embrace the Bureau's mission and are excited about building technology and helping to build our organization.</p>
{% endcomment %}
{# ###### REMOVED ###### #}
                    <p>The application period for all Technology &amp; Innovation Fellowship positions has closed. Thank you to everyone who applied. Job opportunities with the Consumer Financial Protection Bureau can always be found on our <a href="http://consumerfinance.gov/jobs">jobs page</a>.</p>

                    <ul class='jobs-external-links'>
                        <li><a href="https://github.com/cfpb">https://github.com/cfpb <i class="icon-external-link"></i></a></li>
                        <li><a href="https://cfpb.github.io/">https://cfpb.github.io/ <i class="icon-external-link"></i></a></li>
                        <li><a href="https://www.youtube.com/watch?v=X078IIOqZGE">Design Reel</a></li>
                    </ul>
                </div><!-- END .span4 -->
                <div class="span5 offset1">
                    <form method="POST" class="fellows-signup-form" id="get-update-form"{#  action="{% url 'fellowship_form_submit' %}" #}>
                        <h3>Sign up for fellowship updates</h3>
                        <label>
                            <div>First Name</div>
                            <input type="text" required name="first_name" />
                        </label>
                        <label>
                            <div>Last Name</div>
                            <input type="text" required name="last_name" />
                        </label>
                        <label>
                            <div>Email Address</div>
                            <input type="email" required name="email" />
                        </label>

                        <h4>Select your area of expertise</h4>
                        <div class="row-liquid jobs-checkboxes">
                            <div class="span6">
                                <label>
                                    <input type="checkbox" name="likes_design" />
                                    <span>Design</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="likes_development" />
                                    <span>Development</span>
                                </label>
                            </div>
                            <div class="span6">
                                <label>
                                    <input type="checkbox" name="likes_cybersecurity" />
                                    <span>Cybersecurity</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="likes_data" />
                                    <span>Data</span>
                                </label>
                            </div>
                        </div>
                        <!-- {# <input type="submit" class="btn btn-primary" value="Sign up" id="signup_btn" /> #} -->
                        <input type="button" class="btn btn-primary btn-disabled" value="Sign up" id="signup_btn" />
                        <div style='margin-top:-31px;padding-right:23px;font-size:.8em;text-align:right;'><a href="#privacy-act-statement">Privacy act statement</a></div>
                    </form>
                </div>
            </div>

            <!-- HOW IT WORKS -->
            <div class="jobsect" id="how-it-works">
                <div class="span12"><h2><span>How it works</span></h2></div>
                <div class="row-fluid" id="main">
                    <div class="span4">
                        <h4>Immerse yourself</h4>
                        <p>You will spend your first few weeks with the rest of the Technology and Innovation team at our headquarters in Washington, D.C., to learn about the CFPB's mission, get to know our team, and understand our work.</p>
                    </div>
                    <div class="span4">
                        <h4>Hunker down</h4>
                        <p>After immersion, you can work from anywhere in the United States of America, including our headquarters in D.C., as long as you have a high speed internet connection. You will be in daily contact with your teammates and other colleagues across the Bureau.</p>
                    </div>
                    <div class="span4">
                        <h4>Regroup</h4>
                        <p>You will return to CFPB headquarters periodically, at critical stages of your projects and to collaborate with the rest of the Technology and Innovation team.</p>
                    </div>
                </div>
            </div>
            <!-- END OF HOW IT WORKS -->

{# ###### REMOVED ###### #}
{% comment %}
            <!-- HOW TO APPLY -->
            <div class="jobsect">
                <div class="span12"><h2><span>How to apply</span></h2></div>
                <div class="row-fluid">
                    <div class="span9">
                        <p>We are now taking applications until July 31 for the following positions: User Experience (UX) Designer, Graphic Designer, Front-End Developer, Software Developer, Data Architect, and Data Scientist. We are taking applications until July 21 for Data Analyst. <a href="#thepositions">See all of the positions and apply here</a>.</p>
                    </div>
                </div>
            </div>
            <!-- END OF HOW TO APPLY -->
{% endcomment %}
{# ###### REMOVED ###### #}

            <!-- Meet our current fellows -->
            <div class="jobsect">
                <div class="span12"><h2><span>Meet our current fellows</span></h2></div>
                <div class="row-fluid">
                    <div class="span9">
                        <p>In January of 2013, our first class of fellows began their two-year term at the CFPB. This group included 8 Graphic Designers, 7 User Experience Designers, 7 Front-end Developers, and 8 Back-end Developers. Here's what a few of our current fellows had to say about their experience:</p>
                    </div>
                </div>
                <div class="row-fluid current-fellows">
                    <div class="span3">
                        <img alt="Photo of Stephanie" src="{{ STATIC_PREFIX }}jobmanager/img/stephanie.png" />
                        <h3 class="fellow-name">Stephanie</h3>
                        <h5 class="fellow-title">Graphic Designer</h5>
                        <p>"I've had the opportunity to do so much more than I was expecting. I've designed web tools to aid consumers shopping for mortgages, user-friendly <a href="http://www.consumerfinance.gov/complaint/#debt-collection">forms for submitting complaints</a>, and <a href="http://www.consumerfinance.gov/strategic-plan/">reports to Congress</a>."</p>
                    </div>
                    <div class="span3">
                        <img alt="Photo of Mehgan" src="{{ STATIC_PREFIX }}jobmanager/img/mehgan.png" />
                        <h3 class="fellow-name">Mehgan</h3>
                        <h5 class="fellow-title">Graphic Designer</h5>
                        <p>"I've always had an interest in socially responsible design. Through improved digital experiences, there is a unique opportunity for the government to reach consumers and bring about positive change in people's lives."</p> </div>
                    <div class="span3">
                        <img alt="Photo of Eduardo" src="{{ STATIC_PREFIX }}jobmanager/img/eduardo.png" />
                        <h3 class="fellow-name">Eduardo</h3>
                        <h5 class="fellow-title">UX Designer</h5>
                        <p>"I work on <a href="https://github.com/cfpb/owning-a-home">Owning a Home</a>, an upcoming online tool that will provide consumers with tools to better understand the process necessary for homeownership. As a veteran, working at CFPB has allowed me to serve my country in a different way."</p>
                    </div>
                    <div class="span3">
                        <img alt="Photo of Shashank" src="{{ STATIC_PREFIX }}jobmanager/img/shashank_photo.png" />
                        <h3 class="fellow-name">Shashank</h3>
                        <h5 class="fellow-title">Back-end Developer</h5>
                        <p>"I work on <a href="http://www.consumerfinance.gov/eregulations/about">eRegulations</a>. I helped develop the <a href="https://github.com/cfpb/regulations-parser">parser</a>, the <a href="https://github.com/cfpb/regulations-parser/blob/master/regparser/notice/compiler.py">compiler</a>, and the regulation <a href="https://github.com/eregs/regulations-site">viewer</a> that displays regulatory information that's easy to read, access, and understand."</p> </div>
                </div>
            </div>
            <!-- END OF MEET OUR CURRENT FELLOWS -->


            <!-- THE POSITIONS -->
            <a name="thepositions"></a>
            <div class="jobsect positions">
                <div class="span12"><h2><span>The positions</span></h2></div>
                <div class="row-fluid">
                    <div class="span9">
                        <h3>Software Product Development</h3>

                        <p>CFPB's software developers build tools for the Bureau as well as for the public. But they also build tools for themselves, to ensure their products are stable, resilient, and secure. Designers are also critical to CFPB's software development process: with a foundation in user-centered design, the Design team develops the Bureau's visual brand, custom front-end software, and produces editorial videos, photography, and webcasts.</p>

                        <h4>User Experience (UX) Designer </h4>
                        <p>UX designers represent the User's needs throughout the development process of the CFPB's products and applications by conducting research, gathering content requirements, determining information architecture, conducting usability tests, and designing interactions, navigation, and interfaces.</p>
                        {% if all_other_positions_closed %}
                            <a class="btn btn-primary btn-disabled">View details</a>
                        {% else %}
                            <a href="http://www.consumerfinance.gov/jobs/detail/it-specialist-internet-ux-designer-1/" class="btn btn-primary">View details</a>
                        {% endif %}

                        <h4>Graphic Designer</h4>
                        <p>Graphic Designers use typography, composition, color, imagery, and logos to effectively communicate the Bureau's mission through its website, software, and print materials.</p>
                        {% if all_other_positions_closed %}
                            <a class="btn btn-primary btn-disabled">View details</a>
                        {% else %}
                            <a href="http://www.consumerfinance.gov/jobs/detail/it-specialist-internet-designer-2/" class="btn btn-primary">View details</a>
                        {% endif %}

                        <h4>Front-End Developer</h4>
                        <p>Front end developers at the CFPB are responsible for developing and maintaining the interface of CFPB web products. Our front-end team writes template markup, CSS, and JavaScript while ensuring accessibility standards and maintaining a high-quality user experience.</p>
                        {% if all_other_positions_closed %}
                            <a class="btn btn-primary btn-disabled">View details</a>
                        {% else %}
                            <a href="http://www.consumerfinance.gov/jobs/detail/it-specialist-internet/" class="btn btn-primary">View details</a>
                        {% endif %}

                        <h4>Software Developer</h4>
                        <p>Software Developer fellows specialize in one of three disciplines: API and Web Developers  work with Python, JavaScript, Clojure, PostgreSQL, MongoDB, and Git to build software for our website and tools for Bureau staff. Software Delivery Automators  shepherd unit/integration, browser, and load testing; continuous delivery; and monitoring. They rely on Jenkins, TravisCI, Selenium WebDriver, Python/Behave/Gherkin, SauceLabs, and JMeter, and are eager to expand their toolkit. Infrastructure Automation Engineers (DevOps) architect, build, and secure cloud environments that are resilient, performant, and scalable using tools like Puppet, Simian Army, Edda, and Ice. These professionals fix server-layer issues, write software and scripts to prevent issue recurrence, and build infrastructure to support the Bureau's software solutions. </p>
                        {% if all_other_positions_closed %}
                            <a class="btn btn-primary btn-disabled">View details</a>
                        {% else %}
                            <a href="http://www.consumerfinance.gov/jobs/detail/it-specialist-software-developer-1/" class="btn btn-primary">View details</a>
                        {% endif %}



                        <!-- CYBERSECURITY -->
                        <h3>Cybersecurity</h3>
                        <p>The CFPB Office of Cybersecurity performs several vital functions that help the Bureau manage risk, providing security for the information and information systems that support the operations and assets of the agency. The team monitors and analyzes information to detect and respond to threats.</p>

                        <h4>Engineer/Administrator</h4>
                        <p>Maintains the network monitoring sensor grid and supporting components, enhances cybersecurity data feeds to expand the depth of detection and response capability, evaluates emerging IT security tools, and conducts vulnerability assessments and automated cybersecurity compliance checks.</p>
                        <a class="btn btn-primary btn-disabled">View details</a>


                        <h4>Threat Analysis Engineer</h4>
                        <p>Creates innovative techniques to analyze and correlate disparate security event information sets, extracts technical indicators from sources and applies intrusion countermeasures, develops strategies to secure both emerging cloud and traditional data center  environments.</p>
                        <a class="btn btn-primary btn-disabled">View details</a>

                        <h4>Web Application Developer</h4>
                        <p>Develops solutions to track and analyze cybersecurity incidents; builds custom tools to facilitate analysis of anomalous network/system activity, and provides development support for one or more programming languages including PHP, Java, JavaScript, Python, and/or Ruby</p>
                        <a class="btn btn-primary btn-disabled">View details</a>

                        <!-- DATA -->
                        <h3>Data</h3>
                        <p>The CFPB is a data driven agency. We take in information, manage it, store it, share it appropriately, and protect it from unauthorized access. The Data Team supports CFPB's efforts to be a data driven agency. The Team serves a wide variety of functions from day-to-day data management and operations, to high-level data analytics and visualizations.</p>

                        <h4>Digital Analyst</h4>
                        <p>Digital Analysts inform strategy for web content and social media through analysis of current usage trends. They integrate digital channels to create a holistic view of audiences and behaviors through an integrated measurement system.</p>
                   
                        <a class="btn btn-primary btn-disabled">View details</a>
                      

                        <h4>Data Architect</h4>
                        <p>Data Architects design, develop, and support the information management architecture and vision for the agency while working closely with subject matter experts to provide solutions for future scalability.</p>
                        {% if all_other_positions_closed %}
                            <a class="btn btn-primary btn-disabled">View details</a>
                        {% else %}
                            <a href="http://www.consumerfinance.gov/jobs/detail/it-specialist-datamgmt-senior-data-architect-big-d/" class="btn btn-primary">View details</a>
                        {% endif %}

                        <h4>Data Scientist</h4>
                        <p>Data Scientists integrate the fields of machine learning, natural language processing, predictive analytics, statistics, geospatial analysis, data visualization, and software development to provide advanced analytics to the rest of the Bureau.</p>
                        {% if all_other_positions_closed %}
                            <a class="btn btn-primary btn-disabled">View details</a>
                        {% else %}
                            <a href="http://www.consumerfinance.gov/jobs/detail/information-technology-specialist-datamgmt-data-sc/" class="btn btn-primary">View details</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- END OF THE POSITIONS -->


            <!-- THE WORK WE DO -->
            <div class="jobsect">
                <div class="span12"><h2><span>The work we do</span></h2></div>
                <div class="row-fluid" id="main">
                    <div class="span3">
                        <h4>eRegulations</h4>
                        <p>The <a href="http://www.consumerfinance.gov/eregulations/">eRegulations tool</a> parses public regulation information, extracts structure and meaning from that data, and then presents the regulation in a format that's easy to read and understand. It also helps keep track of the history of regulations over time.</p>
                    </div>
                    <div class="span3">
                        <h4>Visualizing public information</h4>
                        <p>The Bureau launched an <a href="http://www.consumerfinance.gov/hmda/">easy-to-use, online tool</a> that enables consumers to explore public information about the mortgage market. This set of web-based JavaScript applications runs on top of an API we built using QU, our own Clojure-powered tool.  </p>
                    </div>
                    <div class="span3">
                        <h4>AskCFPB</h4>
                        <p><a href="http://www.consumerfinance.gov/askcfpb/">AskCFPB</a>, available in English and <a href="http://www.consumerfinance.gov/es/">Spanish</a>, is an interactive online tool that helps consumers find clear, unbiased answers to their financial questions. Users can search over 1,000 commonly asked consumer finance questions.</p>
                    </div>
                    <div class="span3">
                        <h4>Information design</h4>
                        <p>Clear, concise information is essential to helping Americans make financial decisions. Some examples of our information design work include the <a href="http://collegecost.ed.gov/shopping_sheet.pdf">college cost shopping sheet</a> and our work on <a href="http://www.consumerfinance.gov/paying-for-college/repay-student-debt/">college debt repayment guide</a>.</p>
                    </div>
                </div>
                <div class="row-fluid" id="main">
                    <div class="span3">
                        <h4>Graphic design</h4>
                        <p>At the CFPB we see design as an effective tool to help solve complex challenges. By integrating <a href="https://cfpb.github.io/design-manual/identity/identity.html">high graphic standards</a> into all facets of our work, we are empowering consumers and changing the way government approaches design. Take a look at our <a href="https://www.youtube.com/watch?v=X078IIOqZGE">design reel</a>.</p>
                    </div>
                    <div class="span3">
                        <h4>Cybersecurity</h4>
                        <p>We're refining our tools to track and analyze cybersecurity incidents and enhance our capability to monitor and secure our IT infrastructure. We're also enhancing our sensor grid to look deeper into network and system events and defend against cyber-attacks.</p>
                    </div>
                    <div class="span3">
                        <h4>Data analytics</h4>
                        <p>The CFPB uses a range of machine learning and data analysis techniques to better understand the markets we regulate and carry out our job of protecting consumers.</p>
                    </div>
                    <div class="span3">
                        <h4>Web analytics</h4>
                        <p>We help our colleagues to leverage digital analytics, research, and data science techniques in order to tailor design and content to improve consumer engagement.</p>
                    </div>
                </div>
            </div>
            <!-- END OF THE WORK WE DO -->


            <!-- Our technology vision -->
            <div class="jobsect">
                <div class="span12"><h2><span>Our technology vision</span></h2></div>
                <div class="row-fluid">
                    <div class="span9">
                        <p>Technology contributes to every facet of the CFPB's work. Our near-term goals include:</p>
                        <ul class="padded-ul">
                            <li><b>Empowering consumers:</b> People need fair, unbiased, and understandable information about their finances. Help us design the tools and disclosures that millions of people rely upon to make financial choices.</b></li>

                            <li><b>Providing market insight:</b> Are foreclosures up? Are credit card debts reaching a tipping point? What's driving student loan defaults? Help us analyze market data to spot financial trends and ensure that institutions are complying with the law.</li>

                            <li><b>Bringing regulatory examination into the digital age:</b> The CFPB employs examiners who monitor the practices of consumer financial institutions. It's important that they do that job well. They need the best tools possible. Help us innovate the tools they need to do their work.</li>

                            <li><b>Assisting consumers directly:</b> Our Consumer Response team facilitates solving real problems for people in difficult financial situations with few places to turn. Help us help consumers.</li>

                            <li><b>Improving government:</b> Use technology to create an organization that feels and acts like a small team instead of a large one; and monitor our progress through data analytics to ensure our work reaches its intended audience, both inside the Bureau and across the country. </li>

                            <li><b>Building our foundation:</b> Achieving these goals requires stable, secure infrastructure that meets stringent federal guidelines. Help us lead the effort to exceed them.</li>

                            <li><b>Employing advanced analytics:</b> Increasingly allow Bureau decisions to be data-driven, using techniques such as machine learning, pattern recognition, and distributed systems to inform everything from enforcement to consumer education to rulemaking.
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END OF Our technology vision -->


            <!-- Frequently asked questions -->
            <div class="jobsect faq">
                <div class="span12"><h2><span>Frequently asked questions</span></h2></div>
                <div class="row-fluid">
                    <div class="span9">
                        <h3>What is a CFPB Technology and Innovation Fellowship?</h3>
                        <p>It is a two-year program for software developers, web designers, security engineers, and data architects and analysts to work with the CFPB to perform the work of a vital government agency, serve millions of consumers, and support the consumer financial marketplace.</p>

                        <h3>What should I know about applying for a federal job?</h3>
                        <p>When we begin taking applications, this page will have links to the vacancy announcement (job posting) for each position on USAJobs.gov. When applying, make sure to pay careful attention to the minimum qualification standards for each position, which will be listed on the USAJobs.gov announcement under the “Qualifications Required" heading. You must ensure that your resume, or other materials attached to your application, clearly show how you meet the required qualifications.</p>

                        <p>The <a href="http://www.opm.gov/">Office of Personnel Management</a> has additional information about applying for a federal job and using USAJobs.gov. You can review <a href="https://www.youtube.com/watch?v=ahg1fselvMg">this video</a> made by OPM for an overview of the federal job application process, as well as <a href="http://www.opm.gov/FAQs/">OPM's FAQ</a> for those seeking a federal job.</p>

                        <h3>What skills are you looking for?</h3>
                        <p>We're looking for back-end and front-end web developers, UX designers, graphic designers, cybersecurity engineers and tool developers, and data architects and analysts. But more than that, we're looking for people who are curious, bring diverse backgrounds and perspectives, can communicate well with non- technical people, and are passionate about solving problems. We are looking for highly-skilled, creative individuals that love learning new things and are eager to serve the American public.</p>

                        <h3>What does the CFPB offer?</h3>
                        <p>The CFPB is an equal opportunity employer. We offer a workplace that is respectful, fair, and values diversity. CFPB offers comprehensive benefits in addition to salary, including: ten paid holidays, ability to accrue up to 13 days of vacation time and 13 days of sick leave each year, a wide range of health insurance plans, coverage for pre-existing conditions, and no waiting periods (we pay up to 75% of your health insurance premium), dental, vision, and life insurance, and flexible spending accounts for health care and dependent care.</p>

                        <h3>Where will I work?</h3>
                        <p>You can work from anywhere in the United States (subject to all applicable Bureau policies and procedures) or at our headquarters in Washington D.C.</p>

                        <h3>What will I need if I work from home?</h3>
                        <p>You will need a strong broadband connection to support video conferencing and other remote collaboration tools. Other necessary equipment will be provided to you.</p>

                        <h3>How often will I travel?</h3>
                        <p>You will travel at least quarterly to regroup with the entire Technology team at our headquarters. Other travel will depend on your projects.</p>

                        <h3>What will the average day be like?</h3>
                        <p>Maybe you'll work side-by-side with an economist, helping spot trends in the marketplace. Maybe you'll redesign forms and disclosures so that they are easier for the public to understand. You may help maintain the CFPB's API catalog, working with outside developers to make the most of our public data.  Or maybe you'll create fundamental tools for the Bureau that will be used for years after your fellowship ends.</p>

                        <p>You'll likely spend a lot of time working directly with mission partners, learning the finer points of their work to help you build better tools for them. Intellectual curiosity and good communication are an essential part of this job. You'll also spend a lot of time with your cohorts and with the rest of the Technology team.</p>

                        <h3>What tools will I use?</h3>
                        <p>Developers: We develop on Macs using a wide variety of languages. On the back end, we tend to develop custom web applications using Python (often with Django), but we also develop with Clojure and PHP (consumerfinance.gov is partly powered by WordPress). On the front end, we use Grunt and Bower to manage our HTML5, Less, and JavaScript codebases. We use GitHub to manage all of our code. For automated testing and continuous integration we use Selenium and Jenkins.</p>

                        <p>Designers: We use the latest Adobe Creative Suite, as well as GitHub to manage prototypes, feedback, and bugs.</p>

                        <p>Security engineers: We use a combination of open source and industry-leading technologies including intrusion detection/prevention systems, firewalls, vulnerability & compliance scanners, antivirus, and more. We're evaluating and implementing new technologies across the organization.</p>

                        <p>Data experts: Our data architecture is primarily PostgreSQL- and MS SQL-based, though we're always looking into other scalable platforms and tools. For data science, we use R, Python (NumPy, SciPy, scikit-learn, etc.), Julia, or whatever tools are necessary for analyzing data (as well as some Stata and SAS for older projects). For web analytics, we use Google Analytics and supporting tools, Tableau, paid search, and SEO tools (plus some data science and visualization tools).</p>

                        <h3>What if I don't know how to use those tools? Can I still apply?</h3>
                        <p>Some of our work must be done according to the standards we've already set. But we're open to applicants with other backgrounds, especially those who are eager to share their knowledge with us. If you like to learn new tools and technologies and pick them up very easily, we want to hear from you.</p>

                        <h3>Are there any other requirements?</h3>
                        <p>You must be a US Citizen to be considered. </p>

                        <h3>Will anyone see my work?</h3>
                        <p>Yes. Per <a href="https://github.com/cfpb/source-code-policy/blob/gh-pages/cfpb-source-code-policy.txt">our source code policy</a>, we make as much of our work available to the public as possible. We also discuss some of the technical details of our work on GitHub.</p>

                        <h3>What if I have more questions?</h3>
                        <p>Feel free to contact us directly at <a href="mailto:tech@consumerfinance.gov">tech@consumerfinance.gov</a>.</p>

                    </div>
                </div>
            </div>
            <!-- END OF Frequently asked questions -->


            <!-- PRIVACY STATEMENT-->
            <div class="jobsect" id="privacy-act-statement">
                <div class="span12"><h2><span>Privacy act statement</span></h2></div>
                <div class="row-fluid">
                    <div class="span9">
                        <p>The information you provide will only be used to allow the Consumer Financial Protection Bureau to respond to your request for fellowship updates.</p>

                        <p>This information may be shared with contractors, agents, and others authorized by the CFPB to receive this information in the normal course of business in order to provide you with the fellowship updates.</p>

                        <p>This collection of information is authorized by 12 U.S.C. § 5492.</p>

                        <p>You are voluntarily providing this information to the CFPB. If you do not provide the requested information, the CFPB will not be able to respond to your request for fellowship updates. You may withdraw your request for fellowship updates at any time.</p>
                    </div>
                </div>
            </div>
            <!-- END OF PRIVACY STATEMENT-->
        </div>
    </div>
</div>


{% endblock %}
