name: frontend

on: pull_request

jobs:

  frontend:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        gulp_cmd:
          - lint
          - test:unit --ci --headless

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node
        uses: actions/setup-node@v1
        with:
            node-version: '12.x'

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install dependencies
        run: |
          ./frontend.sh development
          python -m pip install --upgrade pip
          pip install -r requirements/ci.txt

      - name: Run ${{ matrix.gulp_cmd }}
        run: yarn run gulp ${{ matrix.gulp_cmd }}

      - name: Store test coverage
        # Submit coverage from the unit test run only
        if: matrix.gulp_cmd == 'test:unit --ci --headless'
        uses: actions/upload-artifact@v1
        with:
          name: frontend_coverage
          path: ./test/unit_test_coverage/clover.xml

  coverage:
    runs-on: ubuntu-latest
    needs: 
      - frontend

    steps:
      - uses: actions/checkout@v2
      - run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/ci.txt

      - name: Retrieve frontend coverage
        uses: actions/download-artifact@v1
        with:
          name: frontend_coverage

      - name: Check frontend test coverage
        run: |
          diff-cover frontend_coverage/clover.xml --fail-under=100
