name: functional

on: pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: cfpb
          POSTGRES_PASSWORD: cfpb
          POSTGRES_DB: cfgov
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        # options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2

    - name: Set up Node
      uses: actions/setup-node@v1
      with:
          node-version: '14.x'

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.6

    - name: Install dependencies
      run: |
        ./frontend.sh development
        python -m pip install --upgrade pip
        pip install -r requirements/base.txt

    - name: Set up initial data
      run: ./initial-data.sh

    - name: Run server
      run: python cfgov/manage.py runserver

    - name: Run Cypress
      run: yarn cypress run
