name: functional

on: pull_request

jobs:

  cypress:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgres://cfpb:cfpb@localhost/cfgov

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: cfpb
          POSTGRES_PASSWORD: cfpb
          POSTGRES_DB: cfgov
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2

    - name: Set up Node
      uses: actions/setup-node@v2
      with:
          node-version: '16.x'

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9.x'

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -r requirements/base.txt
        python3 -m pip install django-sslserver==0.20

    - name: Set up initial data
      run: ./initial-data.sh

    # - name: Run server
    #   run: python cfgov/manage.py runserver

    - name: Run Cypress
      uses: cypress-io/github-action@v2
      with:
        build: yarn run gulp
        start: python cfgov/manage.py runserver 0.0.0.0:8000
