---
# Overrides for running in a local development cluster (Ex: Docker Desktop)
### CFGOV OVERRIDES ###
image:
  repository: cfgov_python
  pullPolicy: Never
  tag: local

service:
  port: 8000

volumes:
  - name: code
    volume:
      hostPath:
        path: ${PROJECT_DIR}
        type: Directory
    mountPath: /src/consumerfinance.gov
  - name: dev-env
    volume:
      hostPath:
        path: ${PROJECT_DIR}/.env
        type: File
    mountPath: /src/consumerfinance.gov/.env
  - name: extend-env
    volume:
      hostPath:
        path: ${PROJECT_DIR}/extend-environment.sh
        type: File
    mountPath: /src/consumerfinance.gov/extend-environment.sh
  - name: aws-creds
    volume:
      hostPath:
        path: ${HOME}/.aws
        type: Directory
    mountPath: /var/run/secrets/.aws

importDbPath: "${CFGOV_PROD_DB_LOCATION}"

extraEnvs:
  - name: DJANGO_ADMIN_USERNAME
    value: "${DJANGO_ADMIN_USERNAME}"
  - name: DJANGO_ADMIN_PASSWORD
    value: "${DJANGO_ADMIN_PASSWORD}"
  - name: AWS_CONFIG_FILE
    value: /var/run/secrets/.aws/config
  - name: AWS_SHARED_CREDENTIALS_FILE
    value: /var/run/secrets/.aws/credentials
  - name: AWS_PROFILE
    value: ${AWS_PROFILE}

cronJobs:
  - name: "publish-scheduled-pages"
    schedule: '@hourly'
    command:
      - "django-admin"
    args:
      - "publish_scheduled_pages"
    restartPolicy: OnFailure
    suspend: true

  - name: "clearSessions"
    schedule: "@daily"
    command:
      - "django-admin"
    args:
      - "clearsessions"
    restartPolicy: OnFailure

  - name: "elasticsearch-Rebuild-Index"
    schedule: "@daily"
    command:
      - "django-admin"
    args:
      - "search_index"
      - "--rebuild"
      - "--parallel"
      - "-f"
    restartPolicy: OnFailure

  - name: "dump-Postgres-DB"
    schedule: "@daily"
    command:
      - "bash"
    args:
      - "-c"
      - "pg_dump --no-owner --no-privileges | gzip > test.gz"
      - "aws s3 ls"
    restartPolicy: OnFailure
    suspend: true
