---
# Overrides for running in a local development cluster (Ex: Docker Desktop)
### CFGOV OVERRIDES ###
image:
  repository: cfgov_python
  pullPolicy: Never
  tag: local

service:
  port: 8000
  type: LoadBalancer

volumes:
  - name: code
    volume:
      hostPath:
        path: ${PROJECT_DIR}
        type: Directory
    mountPath: /src/consumerfinance.gov
  - name: dev-env
    volume:
      hostPath:
        path: ${PROJECT_DIR}/.env
        type: File
    mountPath: /src/consumerfinance.gov/.env
  - name: extend-env
    volume:
      hostPath:
        path: ${PROJECT_DIR}/extend-environment.sh
        type: File
    mountPath: /src/consumerfinance.gov/extend-environment.sh

importDbPath: "${CFGOV_PROD_DB_LOCATION}"

extraEnvs:
  - name: DJANGO_ADMIN_USERNAME
    value: "${DJANGO_ADMIN_USERNAME}"
  - name: DJANGO_ADMIN_PASSWORD
    value: "${DJANGO_ADMIN_PASSWORD}"
