---
#  Overrides for running in a local development cluster (Ex: Docker Desktop)
###  CFGOV OVERRIDES ###
image:
  repository: cfgov_python
  pullPolicy: Never
  tag: local

service:
  port: 8000

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: cfgov.localhost
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
#     - secretName: cfgov-tls
#       hosts:
#         - cfgov.localhost

volumes:
  - name: code
    volume:
      hostPath:
        path: ${PROJECT_DIR}
        type: Directory
    mountPath: /src/consumerfinance.gov
  - name: dev-env
    volume:
      hostPath:
        path: ${PROJECT_DIR}/.env
        type: File
    mountPath: /src/consumerfinance.gov/.env
  - name: extend-env
    volume:
      hostPath:
        path: ${PROJECT_DIR}/extend-environment.sh
        type: File
    mountPath: /src/consumerfinance.gov/extend-environment.sh
  - name: aws-creds
    volume:
      hostPath:
        path: ${HOME}/.aws
        type: Directory
    mountPath: /var/run/secrets/.aws

cronJobs:
  archive-wagtail-events:
    suspend: true

  clear-sessions:
    suspend: true

  dump-db:
    suspend: true

  publish-scheduled-pages:
    suspend: true

  rebuild-search-index:
    suspend: true
