{% extends "front/base_nonresponsive.html" %}
{% load static from staticfiles %}

{% block title %}Information for servicemembers &gt; Consumer Financial Protection Bureau{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/servicemembers">INFORMATION FOR SERVICEMEMBERS</a></li>
<li>ADDITIONAL RESOURCES FOR SERVICEMEMBERS, VETERANS, AND THEIR FAMILIES</li>
{% endblock %}

{% block page_header_footer_css %}
<link rel="stylesheet" href="{% static 'nemo/_/c/v1-nonresponsive-header.css' %}"/>
<link rel="stylesheet" href="{% static 'nemo/_/c/v1-nonresponsive-footer.css' %}"/>
{% endblock %}

{% block content %}
{% include "front/share_block.html" %}
<article class="page">
    <header class="pagetitle">
        <h1>Additional resources for servicemembers, veterans, and their families</h1>
    </header>
    <p><a href="/servicemembers">Servicemembers homepage</a> | <a href="/servicemembers/planning">Planning for your future</a> | <a href="/servicemembers/protecting">Protecting your finances</a></p>
    <div class="colx10 sweet-filter column">
        <p>You can filter the information by selecting topics on the right.</p>
        <div>
            <h3>Emergency assistance for servicemembers</h3>
            <p><a href="https://www.afas.org/">Air Force Aid Society</a><br>
                <a href="https://www.aerhq.org/">Army Emergency Relief</a><br>
                <a href="https://www.cgmahq.org/">Coast Guard Mutual Assistance</a><br>
                <a href="http://nmcrs.org/">Navy-Marine Corps Relief Society</a><br>
                <a href="https://www.redcross.org/portal/site/en/menuitem.d8aaecf214c576bf971e4cfe43181aa0/?vgnextoid=a6181b655eb3b110VgnVCM10000089f0870aRCRD&amp;vgnextfmt=default">American Red Cross Financial Assistance for Servicemembers</a>
            </p>
        </div>
        <div>
            <h3>Service-specific personal financial management services</h3>
            <p><a href="http://www.myarmyonesource.com/familyprogramsandservices/financialreadiness/default.aspx">Army</a><br>
                <a href="http://www.usmc-mccs.org/finance/index.cfm?sid=ml&amp;smid=1">Marine Corps</a><br>
                <a href="https://www.cnic.navy.mil/CNIC_HQ_Site/WhatWeDo/FleetandFamilyReadiness/FamilyReadiness/FleetAndFamilySupportProgram/PersonalFinances/index.htm">Navy</a><br>
                <a href="http://www.afcommunity.af.mil/financial/">Air Force</a><br>
                <a href="https://www.uscg.mil/worklife/financial.asp">Coast Guard</a>
            </p>
        </div>
        <div>
            <h3>Military spouses</h3>
            <p>A checklist of <a href="http://www.militaryonesource.com/MOS/FindInformation/Category/Topic/Issue/Material.aspx?MaterialTypeID=9&amp;MaterialID=13174">important information for new military spouses</a><br>
                Education and career <a href="http://www.militaryonesource.com/MOS/FindInformation/Category/MilitarySpouseCareerAdvancementAccounts.aspx">opportunities for military spouses</a><br>
                The Military Spouse Employment Partnership <a href="https://msepjobs.militaryonesource.mil/msep/">Job Board</a>
            </p>
        </div>
        <div>
            <h3>Military parents</h3>
            <p>How to <a href="https://www.consumerfinance.gov/blog/pin-your-way-to-savings">teach your kids to save</a></p>
            <h3>Legal assistance</h3>
            <p>The <a href="http://www.militaryonesource.com/MOS/FindInformation/Category/Topic/Issue/Material.aspx?MaterialID=14642&amp;MaterialTypeID=9">Armed Forces Legal Assistance Program</a> provides legal advice to servicemembers. To find your legal assistance office, use the <a href="http://legalassistance.law.af.mil/content/locator.php">locator</a>.</p>
            <p><a href="https://www.americanbar.org/portals/public_resources/aba_home_front.html">American Bar Association Home Front</a> provides pro bono legal services to servicemembers.</p>
            <p>The Department of Justice publishes a <a href="https://www.justice.gov/crt/publications/servicemembers_booklet.pdf" class="pdf">booklet on the Servicemembers Civil Relief Act</a>.</p>
        </div>
        <div>
            <h3>Information for wounded, ill, or injured warriors</h3>
            <p>The <a href="http://www.militaryonesource.com/MOS/FindInformation/Category.aspx?NoCookieCTI=1&amp;CategoryID=142">Wounded Warrior Resource Center</a> provides a single contact point for information to ensure that wounded warriors will receive appropriate support.</p>
            <p><a href="https://www.dfas.mil/dfas/militarymembers/woundedwarrior/woundedwarriorpay.html">Wounded Warrior Pay Management</a> teams ensure that wounded servicemembers and their families do not have to worry about finances on their own.</p>
            <p>The <a href="https://www.nationalresourcedirectory.gov/">National Resource Directory</a> supports recovery and community reintegration for wounded servicemembers.</p>
            <p>The Social Security Administration provides information on <a href="https://www.socialsecurity.gov/woundedwarriors/">claiming disability benefits</a>.</p>
        </div>
        <div>
            <h3>Money management and saving</h3>
            <p>Kiplinger and the Better Business Bureau have partnered to produce a <a href="https://www.bbb.org/us/storage/16/documents/Military_Families_Final.pdf" class="pdf">Personal Finance Guide for Military Families</a>.</p>
            <p>The New Jersey Attorney General’s Office produced <a href="http://www.njsecurities.gov/salute.pdf" class="pdf">A Salute to Smart Investing</a>, a booklet designed to help military families work through the basics of smart investing.</p>
            <p>The FINRA Investor Education Foundation has created <a href="https://www.saveandinvest.org/">SaveAndInvest</a> to give military families and older investors good information about investing wisely.</p>
            <p>Check out these <a href="/servicemembers/planning/creativesavingsstrategies/">creative saving strategies</a> from the U.S. Navy Personal Financial Management Program.</p>
            <p>Personalized coaching and financial planning is available through the <a href="http://www.militaryhomefront.dod.mil/portal/page/mhf/MHF/MHF_HOME_1?section_id=20.40.500.486.0.0.0.0.0">Department of Defense</a>, your on-base <a href="https://ambahq.org/financial_inst_onsite.php">military bank</a> or <a href="https://dcuc.org/">credit union</a>, and <a href="http://www.militaryonesource.com/MOS.aspx">Military OneSource</a>.</p>
            <p><a href="https://www.militarysaves.org/">Military Saves</a> helps motivate, support, and encourage military families to save money, reduce debt, and build wealth.</p>
        </div>
        <div>
            <h3>Information for surviving spouses</h3>
            <p>The Department of Veterans Affairs provides information about <a href="https://www.va.gov/opa/persona/dependent_survivor.asp">benefits for surviving family members</a> of military personnel who died in service or as veterans. The VA also publishes a <a href="https://www1.va.gov/OPA/publications/benefits_book.asp">book of benefits</a> for veterans, dependents, and survivors.</p>
            <p>Learn more about <a href="https://www.dfas.mil/dfas/retiredmilitary/survivors/Retiree-death.html">reporting a retiree’s death</a> to avoid possible financial complications.</p>
        </div>
        <div>
            <h3>Avoiding scams</h3>
            <p>The Consumer Federation of America provides a summary of <a href="https://www.consumerfed.org/pdfs/MIL-Fact-Sheet-Final-Regs.pdf" class="pdf">protections against predatory lending for servicemembers</a>.</p>
            <p>The Better Business Bureau’s Military Line offers information to <a href="https://www.bbb.org/us/Military/News/">avoid possible scams</a>.</p>
        </div>
        <div>
            <h3>Other information</h3>
            <p><a href="https://www.dfas.mil/dfas/militarymembers.html">General information on pay</a> for military members<br>
                <a href="https://www.irs.gov/individuals/military/index.html">Tax information</a> for military members<br>
                <a href="https://www.ebenefits.va.gov/ebenefits-portal/ebenefits.portal">Information about and access to benefits</a> for servicemembers, veterans, wounded warriors, and their families.<br>
                <a href="https://www.va.gov/statedva.htm">State Veterans Affairs Offices</a><br>
                Access a <a href="https://apps.usa.gov/va-mobile-2/">mobile-friendly version</a> of the Veterans Affairs website.
            </p>
        </div>
    </div>
</article>
{% endblock %}
