{% extends 'layout-2-1-bleedbar.html' %}

{% import 'molecules/related-posts.html' as related_posts with context %}
{% import 'molecules/related-metadata.html' as related_metadata with context %}

{% set parent = page.parent() %}
{% set breadcrumb_items = [(parent.url, parent.url, parent.title)] %}

{% block title -%}
    {{ page.seo_title }}
{%- endblock %}

{% block content_main_modifiers -%}
    {{ super() }} content__flush-bottom
{%- endblock %}

{% block content_main %}
    {% for block in page.header -%}
            <div class="block
                        block__flush-top">
                {{ render_stream_child(block) }}
            </div>
    {%- endfor %}

    {% for block in page.content -%}
        <div class="block">
            {{ render_stream_child(block) }}
        </div>
    {%- endfor %}
{% endblock %}

{% block content_sidebar_modifiers -%}
    o-sidebar-content
{%- endblock %}

{% block content_sidebar scoped -%}
    {% for block in page.sidefoot %}
        <div class="block block__flush-top">
            {% if 'related_posts' in block.block_type %}
                {{ related_posts.render(block) }}
            {% elif 'related_metadata' in block.block_type %}
                {{ related_metadata.render(block.value) }}
            {% else %}
                {{ render_stream_child(block) }}
            {% endif %}
        </div>
    {% endfor %}
{%- endblock %}
