.click_map {
	position: relative;
}

.click_map .border {
	border: 1px solid #ccc;
	width: 807px;
}

.click_map .annotation {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0.5em;
	position: absolute;
		left: 785px;
	width: 185px;
}

.js .click_map .annotation {
	display: none;
}

.click_map .annotation h3 {
	margin-bottom: 0;
}

.click_map .annotation p {
	margin-top: 0;
}

.click_map #loan_estimate {
	top: 71px;
}

.click_map #loan_terms {
	top: 266px;
}

.click_map #projected_payments {
	top: 573px;
}

.click_map #cash_to_close {
	top: 850px;
}

.click_map #learn_more {
	top: 984px;
}


/* Regulation */

.click_map #contact{
	top:46px;
	left:817px;
}
.click_map #amountdue{
	top:146px;
	left:817px;
}
.click_map #accountinfo, .click_map #explanation_due{
	top:290px;
	left:817px;
}

.click_map #transaction_activity{
	top:459px;
	left:817px;
}
.click_map #pastpayment, .click_map #delinquency{
	top:580px;
	left:817px;
}
.click_map #partialpayment{
	top:780px;
	left:817px;
}	