
/* ==========================================================================
   CF.gov Overrides
   ========================================================================== */

#maincontent {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

#maincontent .share,
#maincontent .bread,
#maincontent .pagetitle {
  display: none;
}

#maincontent .page {
  margin: 0;
}

.share,
.share.mini {
  float: none;
  width: auto;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
  text-align: left;
}

.share a,
.share.mini a {
  padding: 0;
  border: none;
}

.lt-ie9 [class^="icon-"],
.lt-ie9 [class*=" icon-"] {
  font-family: "CFPB Icons" !important;
}


/* ==========================================================================
   Reference
   ==========================================================================

#101820 - Black
#75787B - Dark Field
#919395 - Dark Field Light
#BABBBD - Medium Field
#D0D0CE - Light Field
#E3E4E5 - Light Field Lighter
#F8F8F8 - Light Field Lightest
#F1F2F2 - Light Field Lightest?
#002D72 - Navy
#0072CE - Pacific
#328ED8 - Pacific Light
#7FB8E6 - Pacific Lighter
#2CB34A - CFPB Green

*/

/* ==========================================================================
   Typography
   ========================================================================== */

.cr-theme {
  color: #101820;
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1.375; /* 22 / 16 */
  letter-spacing: normal;
  text-transform: none;
}

.lt-ie9 .cr-theme {
  font-weight: normal;
}

.cr-theme b,
.cr-theme strong {
  font-family: "Avenir Next Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.lt-ie9 .cr-theme b,
.lt-ie9 .cr-theme strong {
  font-weight: normal;
}

/* @todo: account for italics in headings */
.cr-theme i,
.cr-theme em, {
  font-family: "Avenir Next Italic";
  font-weight: 400;
  font-style: italic;
}

.lt-ie9 .cr-theme i,
.lt-ie9 .cr-theme em, {
  font-style: normal;
}

.lt-ie8 [class^="icon-"],
.lt-ie8 [class*=" icon-"] {
  font-family: "CFPB Icons";
  font-weight: normal;
  font-style: normal;
}

.cr-theme p {
  margin: 1em 0;
}

.cr-theme h1.display-type {
  margin: 0.208333333em 0; /* 10 / 48 */
  font-family: "Avenir Next Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3em; /* 48 / 16 */
  line-height: 1.416666667; /* 68 / 48 */
}

.cr-theme h1 {
  margin: 0.294117647em 0; /* 10 / 34 */
  font-family: "Avenir Next Medium", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.125em; /* 34 / 16 */
  line-height: 1.294117647; /* 44 / 34 */
  letter-spacing: normal;
  text-transform: none;
}

.cr-theme h2 {
  margin: 0.384615385em 0; /* 10 / 26 */
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.625em; /* 26 / 16 */
  line-height: 1.153846154; /* 30 / 26 */
  letter-spacing: normal;
  text-transform: none;
}

.cr-theme h2.m-loud {
  font-family: "Avenir Next Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.cr-theme h3,
.cr-theme .h3 {
  margin: 0.454545455em 0; /* 10 / 22 */
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.375em; /* 22 / 16 */
  line-height: 1.181818182; /* 26 / 22 */
  letter-spacing: normal;
  text-transform: none;
}

.cr-theme h4 {
  margin: 0.555555556em 0; /* 10 / 18 */
  font-family: "Avenir Next Medium", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.125em; /* 18 / 16 */
  line-height: 1.333333333; /* 24 / 18 */
  letter-spacing: normal;
  text-transform: none;
}

/*.cr-theme h4.m-loud {
  font-family: "Avenir Next Medium", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}*/

.cr-theme h5 {
  margin: 0.714285714em 0; /* 10 / 14 */
  color: #75787B;
  font-family: "Avenir Next Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.875em; /* 14 / 16 */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cr-theme h6.m-loud {
  margin: 0.714285714em 0 0; /* 10 / 14 */
  font-size: 0.75em;
  text-transform: uppercase;
}

.cr-theme .heading-alt {
  margin-top: 0;
}

.lt-ie9 .cr-theme h1,
.lt-ie9 .cr-theme h2,
.lt-ie9 .cr-theme h3,
.lt-ie9 .cr-theme h4,
.lt-ie9 .cr-theme h5 {
  font-weight: normal;
}

.cr-theme .small-type {
  font-size: 0.75em; /* 12 / 16 */
}

/* Reading type
   ========================================================================== */

.cr-theme .reading-type {
  font-family: Georgia, "Times New Roman", serif;
}

.cr-theme .reading-type b,
.cr-theme .reading-type strong {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-style: normal;
}

/* @todo: account for italics in headings */
.cr-theme .reading-type i,
.cr-theme .reading-type em, {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
}

/* Links / Buttons
   ========================================================================== */

/* Links */

.cr-theme a,
.cr-theme .link {
  padding-bottom: 0.0625em; /* 1 / 16 */
  color: #0072CE;
  background: transparent;
  border-bottom: 1px dotted #0072CE;
  text-decoration: none;
}

.cr-theme a:hover,
.cr-theme a:focus,
.cr-theme .link:hover,
.cr-theme .link:focus,
.cr-theme a:hover .link,
.cr-theme a:focus .link {
  color: #7FB8E6;
  background: transparent;
  border-bottom: 1px dotted #7FB8E6;
  text-decoration: none;
}

.cr-theme a.unstyled-link,
.cr-theme a.unstyled-link:hover,
.cr-theme a.unstyled-link:focus {
  padding-bottom: 0;
  color: #101820;
  border-bottom: 0;
}

/* Default button */

/* @todo: once we move to LESS we should move the sub-theme stuff back down
   with the sub-theme styles and nest .btn inside */

.cr-theme .btn,
.cr-theme .sub-theme-bold .btn {
  display: inline-block;
  font-family: "Avenir Next Medium", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875em; /* 14 / 16 */
  padding: 0.5em 1em; /* 7 / 14, 14 / 14 */
  border: 0;
  color: #FFFFFF;
  background: #75787B;
  border: 0;
  border-radius: 4px;
}

.cr-theme .btn:hover,
.cr-theme .sub-theme-bold .btn:hover,
.cr-theme .btn:focus,
.cr-theme .sub-theme-bold .btn:focus {
  color: #FFFFFF;
  background: #444;
  border: 0;
}

.cr-theme .btn-with-leading-icon [class^="icon-"]:before,
.cr-theme .btn-with-leading-icon [class*=" icon-"]:before {
  vertical-align: top;
  font-size: 0.9em;
  padding-right: 0.634920635em; /* 8 / 12.6 */
}

/* Primary button */

.cr-theme .btn-primary,
.cr-theme .sub-theme-bold .btn-primary {
  color: #FFFFFF;
  background: #0072CE;
}

.cr-theme .btn-primary:hover,
.cr-theme .sub-theme-bold .btn-primary:hover,
.cr-theme .btn-primary:focus,
.cr-theme .sub-theme-bold .btn-primary:focus {
  color: #FFFFFF;
  background: #002D72;
}

.cr-theme .btn-primary.btn-with-leading-icon [class^="icon-"],
.cr-theme .btn-primary.btn-with-leading-icon [class*=" icon-"],
.cr-theme .sub-theme-bold .btn-primary.btn-with-leading-icon [class^="icon-"],
.cr-theme .sub-theme-bold .btn-primary.btn-with-leading-icon [class*=" icon-"],
.cr-theme .btn-primary.btn-with-leading-icon:hover [class^="icon-"],
.cr-theme .btn-primary.btn-with-leading-icon:focus [class*=" icon-"],
.cr-theme .sub-theme-bold .btn-primary.btn-with-leading-icon:hover [class^="icon-"],
.cr-theme .sub-theme-bold .btn-primary.btn-with-leading-icon:focus [class*=" icon-"] {
  color: #FFFFFF;
}

/* Large button */

.cr-theme .btn-large,
.cr-theme .sub-theme-bold .btn-large {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em; /* 18 / 16 */
  padding: 0.5em 2.444444444em; /* 9 / 18, 44 / 18 */
}

.lt-ie9 .cr-theme .btn,
.lt-ie9 .cr-theme .sub-theme-bold .btn {
  font-weight: normal;
}

/* Icons
   ========================================================================== */

/* Color */

.cr-theme a [class^="icon-"],
.cr-theme a [class*=" icon-"],
.cr-theme .link [class^="icon-"],
.cr-theme .link [class*=" icon-"] {
  color: #002D72;
}

.cr-theme a:hover [class^="icon-"],
.cr-theme a:focus [class^="icon-"],
.cr-theme a:hover [class*=" icon-"],
.cr-theme a:focus [class*=" icon-"],
.cr-theme .link:hover [class^="icon-"],
.cr-theme .link:focus [class^="icon-"],
.cr-theme .link:hover [class*=" icon-"],
.cr-theme .link:focus [class*=" icon-"] {
  color: #0072CE;
}

/* @todo: do a version of icon link colors with the bold theme */

/* Sizes */

.cr-theme .link-with-icon [class^="icon-"],
.cr-theme .link-with-icon [class*=" icon-"] {
  display: inline-block;
  vertical-align: top;
  font-size: 0.9em;
  margin: 0.138888889em 0.208333333em 0 0; /* 2 / 14.4 / 3 / 14.4 */
  padding-bottom: 0.208333333em;
}

.cr-theme .icon-larger {
  font-size: 36px;
}

/* @todo: convert the rest of the headings to ems and get rid of the previous px version */
.cr-theme h2 .icon-larger {
  font-size: 1.384615385em; /* 36 / 26 */
}

/* Heading with leading icon */

.cr-theme .heading-with-icon {
  display: table;
}

.cr-theme .heading-with-icon_icon,
.cr-theme .heading-with-icon_text {
  display: table-cell;
  vertical-align: middle;
}

.cr-theme .heading-with-icon_text {
  padding-left: 0.5em;
}

/* Isocons
   ========================================================================== */

.cr-theme .isocon-120 {
  width: 120px;
  height: 120px;
}

.cr-theme .isocon-155 {
  width: 155px;
  height: 155px;
}

.cr-theme .isocon-200 {
  width: 200px;
  height: 200px;
}

/* Lists
   ========================================================================== */

.cr-theme .list-unstyled {
  margin: 0px;
  padding: 0px;
}

.cr-theme .list-unstyled li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.cr-theme .list-with-isocons--155 {
  margin-left: 0;
  padding-left: 0;
}

.cr-theme .list-with-isocons--155 li {
  margin-left: 205px;
  font-weight: bold;
  clear: both;
  /* Make font style match h4 */
  font-family: "Avenir Next Medium", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.333333333;
  letter-spacing: normal;
  text-transform: none;
}
.lt-ie9 .cr-theme .list-with-isocons--155 li {
  margin-left: 180px;
}

.cr-theme .list-with-isocons--155 li p {
  position: relative;
  left: -25px;
  color: #101820;
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9em;
  line-height: 1.375; /* 22 / 16 */
  letter-spacing: normal;
  text-transform: none;
}
.lt-ie9 .cr-theme .list-with-isocons--155 li p {
  left: 0;
}

.cr-theme .list-with-isocons--155 .isocon-155 {
  margin: -15px 50px 45px -205px;
  float: left;
}
.lt-ie9 .cr-theme .list-with-isocons--155 .isocon-155 {
  margin-right: 25px;
  margin-left: -180px;
}

/* Radio button lists
   ========================================================================== */
.cr-theme .sub-product-radios {
  margin-bottom: 40px;
}

.cr-theme .sub-product-radios h3 {
  margin-top: 0px;
}

.cr-theme .block-label {
  margin-top: 20px;
  display: block;
  font-family: "Avenir Next", Verdana, sans-serif;
  font-size: 1.125em;
  margin-left: 30px;
}

.cr-theme .block-label input[type=radio]{
  position: absolute;
  margin: 6px 0 0 -25px;
}

.cr-theme .block-sub-label {
  display: block;
  font-size: .75em;
  color: #75787B;
}

/*.cr-theme #credit-repair_conditional,
.cr-theme #debt-settlement_conditional {
  border-top: 1px solid #BABBBD;
  padding-top: 35px;
}*/

/* Well
   ========================================================================== */

.cr-theme .well {
  background: #E3E4E5;
  border: 1px solid #BABBBD;
  padding: 30px;
}

.cr-theme #submit-credit-card, 
.cr-theme #submit-debit-card, 
.cr-theme #submit-prepaid-card,
.cr-theme #submit-check-cashing,
.cr-theme #submit-credit-repair, 
.cr-theme #credit-repair_conditional,
.cr-theme #debt-settlement_conditional,
.cr-theme #submit-debt-settlement, 
.cr-theme #submit-foreign-currency-exchange, 
.cr-theme #submit-money-order, 
.cr-theme #submit-refund-anticipation-check, 
.cr-theme #submit-travelers-check,
.cr-theme #submit-money-service,
.cr-theme #submit-money-transfer2  {
  display: none;
}

/* Share
   ========================================================================== */

.cr-theme .share a {
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
  font-size: 1.25em; /* 20 / 16 */
  line-height: 1;
  border: none;
  border-bottom: none;
  text-decoration: none;
}

.cr-theme .share a + a {
  margin-left: 0.1em; /* 2 / 20 */
}

.cr-theme .share a:hover,
.cr-theme .share a:focus {
  border: none;
  border-bottom: none;
  text-decoration: none;
}

.cr-theme .share a [class^="icon-"],
.cr-theme .share a [class*=" icon-"] {
  color: #75787B;
}

.cr-theme .share a:hover [class^="icon-"],
.cr-theme .share a:focus [class^="icon-"],
.cr-theme .share a:hover [class*=" icon-"],
.cr-theme .share a:focus [class*=" icon-"] {
  color: #101820;
}

/* Sub theme bold */

.cr-theme .sub-theme-bold .share a,
.cr-theme .sub-theme-bold .share a:hover,
.cr-theme .sub-theme-bold .share a:focus {
  color: #FFFFFF;
  background: transparent;
  border-bottom: 0;
}

.cr-theme .sub-theme-bold .share a [class^="icon-"],
.cr-theme .sub-theme-bold .share a [class*=" icon-"],
.cr-theme .sub-theme-bold .share a:hover [class^="icon-"],
.cr-theme .sub-theme-bold .share a:focus [class^="icon-"],
.cr-theme .sub-theme-bold .share a:hover [class*=" icon-"],
.cr-theme .sub-theme-bold .share a:focus [class*=" icon-"] {
  color: #FFFFFF;
}

/* Breadcrumb
   ========================================================================== */

.cr-theme .bread {
  margin: 0;
  padding: 0;
  font-size: 0.75em; /* 12 / 16 */
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.083333333em; /* 1 / 12 */
  text-transform: uppercase;
  color: #75787B;
}

.lt-ie9 .cr-theme .bread {
  font-weight: normal;
}

.cr-theme .bread li {
  display: inline-block;
  /* IE7 hack to mimic inline-block on block elements */
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.cr-theme .bread li:before{
  content: " > ";
  padding: 0 0.333333333em; /* 4 / 12 */
}

.cr-theme .bread li:last-child:before {
  color: #75787B;
}

.cr-theme .bread li:first-child:before {
  content: none;
}

/* ==========================================================================
   Layout / Spacing
   ========================================================================== */

/* Wrapper
   ========================================================================== */

/**
 * 1. This matches the overall cf.gov site width of 1016px
 */

/* @todo: change to .l-wrapper */
.cr-theme .wrapper {
  width: 976px;
  margin: 0 auto;
  padding: 0 20px; /* 1 */
  overflow: hidden;
}

/* Hero
   ========================================================================== */

.cr-theme .hero-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Header bar
   ========================================================================== */

.cr-theme .hero-wrapper .header-bar {
  margin-top: -8px;
  margin-bottom: -18px;
}

.cr-theme .hero-wrapper .l-separated-small--vertical .header-bar {
  margin-top: -23px;
  margin-bottom: -18px;
}

.cr-theme .header-bar .share {
  text-align: right;
}

/* Scheduled maintenance
   ========================================================================== */

.cr-theme .maintenance-msg {
  background-color: #E3E4E5;
  border-bottom: solid 3px #BABBBD;
}

.cr-theme .maintenance-msg_icon {
  float: left;
  padding: 8px 15px 0 0;
  font-size: 40px;
  color: #FF931B;
}

/* Spacing / Border classes
   ========================================================================== */

.cr-theme .l-separated--vertical {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cr-theme .l-separated--top {
  padding-top: 30px;
}

.cr-theme .l-separated--right {
  padding-right: 30px;
}

.cr-theme .l-separated--bottom {
  padding-bottom: 30px;
}

.cr-theme .l-separated--left {
  padding-left: 30px;
}

.cr-theme .row-fluid [class*="span"].l-separated--left {
  margin-left: 0;
}

.cr-theme .l-separated-small--vertical {
  padding-top: 15px;
  padding-bottom: 15px;
}

.cr-theme .l-separated-small--top {
  padding-top: 15px;
}

.cr-theme .l-separated-small--bottom {
  padding-bottom: 15px;
}

.cr-theme .l-separated-small--left {
  padding-left: 15px;
}

.cr-theme .l-separated-medium--vertical {
  padding-top: 25px;
  padding-bottom: 25px;
}

.cr-theme .l-separated-medium--top {
  padding-top: 25px;
}

.cr-theme .l-separated-medium--bottom {
  padding-bottom: 25px;
}

.cr-theme .l-separated-large--vertical {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cr-theme .l-separated-large--top {
  padding-top: 50px;
}

.cr-theme .l-separated-large--bottom {
  padding-bottom: 50px;
}

.cr-theme .l-divided--vertical {
  border-top: 1px solid #D0D0CE;
  border-bottom: 1px solid #D0D0CE;
}

.cr-theme .l-divided--top {
  border-top: 1px solid #D0D0CE;
}

.cr-theme .l-divided--right {
  border-right: 1px solid #D0D0CE;
}

.cr-theme .l-divided--bottom {
  border-bottom: 1px solid #D0D0CE;
}

.cr-theme .sub-theme-quiet .l-divided--bottom {
  border-bottom: 1px solid #919395;
}

.cr-theme .l-divided-medium--bottom-green {
  border-bottom: 4px solid #2CB34A;
}

/* ==========================================================================
   Sub Themes
   ========================================================================== */

/* Bold (blue)
   ========================================================================== */

/* Base colors */

.cr-theme .sub-theme-bold {
  background-color: #328ED8;
  color: #FFFFFF;
}

/* Overrides */

.cr-theme .sub-theme-bold h1,
.cr-theme .sub-theme-bold h2,
.cr-theme .sub-theme-bold h3,
.cr-theme .sub-theme-bold h4,
.cr-theme .sub-theme-bold h5 {
  color: #FFFFFF;
}

.cr-theme .sub-theme-bold a,
.cr-theme .sub-theme-bold a:hover,
.cr-theme .sub-theme-bold a:hover .link,
.cr-theme .sub-theme-bold .link {
  color: #FFFFFF;
  background: transparent;
  border-bottom: 1px dotted #FFFFFF;
}

.cr-theme .sub-theme-bold a.unstyled-link,
.cr-theme .sub-theme-bold a:hover.unstyled-link,
.cr-theme .sub-theme-bold a:hover.unstyled-link,
.cr-theme .sub-theme-bold .unstyled-link {
  color: #FFFFFF;
  background: transparent;
  border-bottom: 0;
}

/* Modifiers */

.cr-theme .sub-theme-bold--divided {
  border-bottom: 4px solid #0072CE;
}

.cr-theme .sub-theme-bold--textured {
  background-image: url("../img/cr-003-sub-theme-bold-texture.png");
  background-position: center;
}

/* Quiet (light grey)
   ========================================================================== */

/* Base colors */

.cr-theme .sub-theme-quiet {
  background-color: #F8F8F8;
  color: #101820;
}

.cr-theme .sub-theme-quiet--divided {
  border-bottom: 4px solid #F1F2F2;
}

/* ==========================================================================
   Complaints Portal Styles
   ========================================================================== */

.cr-theme .cr-complaints-portal-wizard {
  min-height: 400px;
}

/* @todo: change this to a bg image with bg sizing, but we need modernizr first */

.cr-theme .hero-wrapper_cr-003-process {
  background-image: url("../img/cr-003-process_small.png");
  background-repeat: no-repeat;
  background-position: 90% 0;
}

.cr-theme .hero-wrapper_cr-003-data {
  background-image: url("../img/cr-003-data_small.png");
  background-repeat: no-repeat;
  background-position: 98% 100%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  .cr-theme .hero-wrapper_cr-003-process {
    background-image: url("../img/cr-003-process.png");
    background-size: 201px;
  }

  .cr-theme .hero-wrapper_cr-003-data {
    background-image: url("../img/cr-003-data.png");
    background-size: 349px;
  }

}

/* ==========================================================================
   Utilities
   ========================================================================== */

.cr-theme .no-margin,
.cr-theme h1.no-margin,
.cr-theme h2.no-margin,
.cr-theme h3.no-margin,
.cr-theme h4.no-margin,
.cr-theme h5.no-margin {
  margin: 0;
}

/* ==========================================================================
   Grid
   ========================================================================== */

.cr-theme .row-fluid {
  width: 100%;
  *zoom: 1;
}
.cr-theme .row-fluid:before,
.cr-theme .row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.cr-theme .row-fluid:after {
  clear: both;
}
.cr-theme .row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cr-theme .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.cr-theme .row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}
.cr-theme .row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.cr-theme .row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.cr-theme .row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.cr-theme .row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.cr-theme .row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.cr-theme .row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.cr-theme .row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.cr-theme .row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.cr-theme .row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.cr-theme .row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.cr-theme .row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.cr-theme .row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.cr-theme .row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}
.cr-theme .row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}
.cr-theme .row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}
.cr-theme .row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}
.cr-theme .row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}
.cr-theme .row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}
.cr-theme .row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}
.cr-theme .row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}
.cr-theme .row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}
.cr-theme .row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}
.cr-theme .row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}
.cr-theme .row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}
.cr-theme .row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}
.cr-theme .row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}
.cr-theme .row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}
.cr-theme .row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}
.cr-theme .row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}
.cr-theme .row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}
.cr-theme .row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}
.cr-theme .row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}
.cr-theme .row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}
.cr-theme .row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}
.cr-theme .row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}
.cr-theme .row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face{
    font-family: "Avenir Next";
    src: url("../f/e9167238-3b3f-4813-a04a-a384394eed42.eot");
    src: url("../f/e9167238-3b3f-4813-a04a-a384394eed42.eot?iefix") format("embedded-opentype"),
         url("../f/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Italic";
    src: url("../f/d1fddef1-d940-4904-8f6c-17e809462301.eot");
    src: url("../f/d1fddef1-d940-4904-8f6c-17e809462301.eot?iefix") format("embedded-opentype"),
         url("../f/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: "Avenir Next Medium";
    src: url("../f/1a7c9181-cd24-4943-a9d9-d033189524e0.eot");
    src: url("../f/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?iefix") format("embedded-opentype"),
         url("../f/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

/*@font-face{
    font-family: "Avenir Next Medium Italic";
    src: url("../f/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot");
    src: url("../f/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?iefix") format("embedded-opentype"),
         url("../f/8344e877-560d-44d4-82eb-9822766676f9.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}*/

@font-face{
    font-family: "Avenir Next Demi";
    src: url("../f/12d643f2-3899-49d5-a85b-ff430f5fad15.eot");
    src: url("../f/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?iefix") format("embedded-opentype"),
         url("../f/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

/*@font-face{
    font-family: "Avenir Next Demi Italic";
    src: url("../f/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot");
    src: url("../f/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?iefix") format("embedded-opentype"),
         url("../f/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}*/

/*@font-face{
    font-family: "Avenir Next Bold";
    src: url("../f/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot");
    src: url("../f/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?iefix") format("embedded-opentype"),
         url("../f/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}*/

/*@font-face{
    font-family: "Avenir Next Bold Italic";
    src: url("../f/ac2d4349-4327-448f-9887-083a6a227a52.eot");
    src: url("../f/ac2d4349-4327-448f-9887-083a6a227a52.eot?iefix") format("embedded-opentype"),
         url("../f/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}*/


.list__links {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
.list__links .list_item {
  margin-left: 0;
}
.list__links .list_item {
  margin-bottom: 0.625em;
}
@media only all and (max-width: 37.4375em) {
  .list__links .list_item {
    margin-bottom: -1px;
  }
}
.list__links.list__spaced .list_item + .list_item {
  margin-top: 0;
}
@media only all and (max-width: 37.4375em) {
  .list__links .list_link {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 0.625em 1.25em 0.625em 0;
    border: dotted #c7336e;
    border-width: 1px 0;
    margin-right: 0;
    width: 100%;
    text-align: left;
  }
  .list__links .list_link.icon-link:after {
    position: absolute;
    margin-bottom: -0.625em;
    right: 0;
    bottom: 50%;
    text-align: right;
  }
  .list__links .list_link .icon-link_text {
    border-bottom-width: 0;
  }
}
.list__links.list__icons .list_link {
  position: relative;
  left: -0.125em;
}
.list__links.list__icons .icon-link:before,
.list__links.list__icons .icon-link:after {
  width: 1.125em;
  text-align: center;
}


@font-face {
    font-family: 'CFPB Minicons';
    src: url('fonts/cf-icons.eot');
    src: url('fonts/cf-icons-iefix.eot') format('embedded-opentype'), url('fonts/cf-icons.woff') format('woff'), url('fonts/cf-icons.ttf') format('truetype'), url('fonts/cf-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pdf-link {
  display: inline-block;
  position: relative;
  margin-right: 1.25em;
}

.pdf-link:after {
  font-family: 'CFPB Minicons';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: block;
  position: absolute;
  top: 20%;
  right: -1.25em;
  padding-left: .25em;
  width: 1em;
  content: "\e402";
  border-bottom: none;
}

.consumer-response-reports h4 {
  margin: 30px 0 5px;
}