@font-face {
	font-family: "Avenir Next Light";
	src: url("/wp-content/themes/cfpb_nemo/_/f/17c55b27-e9ab-43cd-b948-d49f97480d68.eot?iefix") format("eot");
}

@font-face {
	font-family: "Avenir Next Light Italic";
	src: url("/wp-content/themes/cfpb_nemo/_/f/8b498c39-fabe-4789-bb81-5e37c9ecddd3.eot?iefix") format("eot");
}

@font-face {
	font-family: "Avenir Next";
	src: url("/wp-content/themes/cfpb_nemo/_/f/e9167238-3b3f-4813-a04a-a384394eed42.eot?iefix") format("eot");
}


@font-face {
	font-family: "Avenir Next Italic";
	src: url("/wp-content/themes/cfpb_nemo/_/f/d1fddef1-d940-4904-8f6c-17e809462301.eot?iefix") format("eot");
}


@font-face {
	font-family: "Avenir Next Demi";
	src: url("/wp-content/themes/cfpb_nemo/_/f/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?iefix") format("eot");
}

@font-face {
	font-family: "Avenir Next Demi Italic";
	src: url("/wp-content/themes/cfpb_nemo/_/f/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?iefix") format("eot");
}

@font-face {
	font-family: "Avenir Next Medium";
	src: url("/wp-content/themes/cfpb_nemo/_/f/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?iefix") format("eot");
}

@font-face {
	font-family: "Avenir Next Medium Italic";
	src: url("/wp-content/themes/cfpb_nemo/_/f/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?iefix") format("eot");
}

@font-face {
	font-family: "Avenir Next Bold";
	src: url("/wp-content/themes/cfpb_nemo/_/f/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?iefix") format("eot");
}

@font-face {
	font-family: "Avenir Next Bold Italic";
	src: url("/wp-content/themes/cfpb_nemo/_/f/ac2d4349-4327-448f-9887-083a6a227a52.eot?iefix") format("eot");
}

@font-face {
	font-family: "Avenir Next Heavy";
	src: url("/wp-content/themes/cfpb_nemo/_/f/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?iefix") format("eot");
}

@font-face {
	font-family: "Avenir Next Heavy Italic";
	src: url("/wp-content/themes/cfpb_nemo/_/f/ca9162bc-20bd-4810-91a9-e816fdc64dae.eot?iefix") format("eot");
}