  .choice {
  	display: inline-block;
  	*display: inline;
	zoom: 1;
  	margin: 20px 20px 0 0;
  	vertical-align: top;
  	width: 450px;
  }
  
  .choice img {
    border: 1px solid #c5c3c1;
    -moz-box-shadow: 3px 3px 3px #c5c3c1;
    -webkit-box-shadow: 3px 3px 3px #c5c3c1;
    box-shadow: 3px 3px 3px #c5c3c1;
    display: inline-block;
  	*display: inline;
	zoom: 1;
  	margin: 10px 10px 0 0;
  	vertical-align: top;
  }
  
  .choice div {
  	height: 370px;
  	position: relative;
  }
  
  .overlay img {
  	position: absolute;
  		top: 0;
  		left: 0;
  	width: 200px;
  	z-index: 100;
  }
  
  .overlay a+a img {
  	position: absolute;
  		top: 50px;
  		left: 75px;
  	z-index: 90;
  }
  
  .overlay a+a+a img {
  	position: absolute;
  		top: 100px;
  		left: 150px;
  	z-index: 80;
  }