/*** LAYOUT ***/

#fp_content {
	/*width: 976px;*/
	margin: 0;
	padding: 0;
	/*background: #fff;*/
}

#hero {
	padding: 1.8em 0;
	width: 100%;
	/*background-color: #e5dfd6;*/
	background-color: #4d819a;
	background-image: -webkit-radial-gradient(75% 50%, circle closest-corner, #7ea3b6, #4d819a);
	background-image: -moz-radial-gradient(75% 50%, circle closest-corner, #7ea3b6, #4d819a);
	background-image: -ms-radial-gradient(75% 50%, circle closest-corner, #7ea3b6, #4d819a);
	background-image: radial-gradient(75% 50%, circle closest-corner, #7ea3b6, #4d819a);
	color: #fff;
	border-bottom: 1px solid #333;
}

	#hero .inner {
		width: 976px;
		margin: 0 auto;
		padding: 0 2%;
	}
	
	#hero .heroText {
		width: 64%;
		display: inline-block; 
		/* IE7 hack to mimic inline-block on block elements */
    *display: inline;
    *zoom: 1;
		vertical-align: top;
	}
	
		#hero .heroText h1, #hero .heroText h1 a {
			margin-bottom: 0;
			color: #fff;
			font-weight: 600;
			line-height: 1.2;
			margin-bottom: 0.5em;
		}
		
		.lt-ie9 #hero .heroText h1 {
			font-family: "Avenir Next Medium", Verdana, sans-serif;
		}

		#hero p a {
			color: #fff;
			padding-bottom: 0.1em;
			border-bottom: 1px dotted #fff;
		}

		#hero .heroText p {
			margin-top: 0;
			margin-bottom: 1em;
		}
	
	#hero .heroGraphic {
		display: inline-block; 
		/* IE7 hack to mimic inline-block on block elements */
    *display: inline;
    *zoom: 1;
		width: 31.5%;
		vertical-align: top;
		font-family: "Avenir Next", Verdana, sans-serif;
		font-weight: 500;
		margin: 0 0 0 4%;
		padding: 0;
		color: #fff;
	}
	
	.lt-ie9 #hero .heroGraphic {
		font-family: "Avenir Next Medium", Verdana, sans-serif;
	}
	
		#hero .heroGraphic p {
			margin: 0;
			text-transform: uppercase;
			font-size: 0.8333em;
		}
		
		#hero .heroGraphic h2 {
			text-transform: none;
			margin: 0;
			font-size: 1.5em;
		}

	#hero .inf input {
		width: 13.2em;
	}

	#hero .inf > label {
		top: 0;
        background-color: #fff;
		padding: 0.2em 0.5em 0;
		border-radius: 0.25em;
	}

	#hero .inf > label.email {
				width: 13.31em;
	}
	.lt-ie9 #hero .inf > label.email {
		width: 11.1em;
	}

	#hero .inf > label.zip {
				width: 13.31em;
	}
	.lt-ie9 #hero .inf > label.zip {
		width: 11.1em;
	}



#blog {
	width: 1016px;
	padding: 1em 0;
	margin: 0 auto;
	background-color: #fff;
}

#featuredblog {
	margin: 0 1.9685%;
	width: 63.38583%;
	display: inline-block; 
		/* IE7 hack to mimic inline-block on block elements */
    *display: inline;
    *zoom: 1;
	vertical-align: top;
}
	
	#featuredblog h2 {
		text-transform: none;
		letter-spacing: 0;
		margin: 0.83em 0 0.83em 0; /* Values from Chrome agent style */
	}

#blog ul {
	width: 30.70866%;
	display: inline-block; 
		/* IE7 hack to mimic inline-block on block elements */
    *display: inline;
    *zoom: 1;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#blog ul li {
	margin-bottom: 1em;
}

#blog time {
	margin-top: 1em;
	display:block;
}


/*** MODULES ***/

.river .links {
	font-family: "Avenir Next", Verdana, sans-serif;	
}

.river .links a {
	background: transparent url("../img/blue_arrow_links.png") 100% 30% no-repeat;
	padding-right: 20px;
}

.sidekick {
	background: #fff;
	width: 1016px;
	padding: 1em 0;
	margin: 0 auto;
}

.sidekick h2 {
	width: auto;
	color: #333;
	background-color: #DBE6EB;
	padding: 0.25em 1.9685%;
	margin: 0;
	border-top: 1px solid #333;
	border-bottom: 2px solid #333;
	font-size: 1em;
}

[class^="sidekick-"] > h3 {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.08em;
	min-height: 2.5em;
	vertical-align: middle;
	margin: 0;
	padding: 1em 0 0 48px;
	background-position: 0% 37%;
	background-repeat: no-repeat;
	background-color: transparent;
}

.es h3 {
	padding: 1em 0 0 0px;
}

.lt-ie9 .sidekick h3 {
	font-family: "Avenir Next Medium", Verdana, sans-serif;
}

	.sidekick h3 a {
		color: #333;
		border: none;
	}

.sidekick > div {
	display: inline-block; 
		/* IE7 hack to mimic inline-block on block elements */
    *display: inline;
    *zoom: 1;
	width: 30.70866%;
	margin: 0 0 0 1.9685%;
	padding: 0;
	vertical-align: top;
}

.sidekick ul.links {
	list-style-type: none;
	padding: 0;
	margin: 1em 0 1em 0;
	font-family: "Avenir Next", Verdana, sans-serif;	
}

.sidekick ul.links a {
	background: transparent url("../img/blue_arrow_links.png") right no-repeat;
	padding-right: 20px;
}

ul.links a:hover, li.links a:hover {
background-color: #dbe6eb;
}

.sidekick .signup p {
	display: inline-block; 
		/* IE7 hack to mimic inline-block on block elements */
    *display: inline;
    *zoom: 1;
	margin: .25em 0;
}

.sidekick-stay-informed h3 {
	background-image: url("../img/inform_mail_36x36.png");
}

.sidekick-regulations h3 {
	background-image: url("../img/regulations_36x36.png");
}

.sidekick-reports h3 {
	background-image: url("../img/report_36x36.png");
}

.sidekick-industry-guidance h3 {
	background-image: url("../img/industry_guidance_36x36.png");
}

.sidekick-submit-a-complaint h3 {
	background-image: url("../img/submit_a_complaint_36x36.png");
}

.sidekick-tell-your-story h3 {
	background-image: url("../img/tell_a_story_36x36.png");
}

.sidekick-student-debt-repayment-assistant h3 {
	background-image: url("../img/student_debt_36x36.png");
}

.sidekick-facebook h3 {
	background-image: url("../img/facebook_36x36.png");
}

.sidekick-twitter h3 {
	background-image: url("../img/twitter_36x36.png");
}

/*** STATES ***/

#hero .heroGraphic a.noStyles {
	border-bottom: none;
}

#hero .heroText h1 a:hover, #hero .heroText a:hover {
	color: #4D819A;
	padding-bottom: 0.1em;
	border-bottom: 1px solid #4D819A;
}

