  .choice {
    display: inline-block;
    margin: 0;
    width: 478px;
    vertical-align: top;
    position: relative;
  }
  
  .choice + .choice {
  	margin: 0;
  }
  
  .choice img {
    /*width: 135px;
    height: 175px;*/
    position: absolute;
  }
  
  .choice .page1 {
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 10;
  }
  
  .choice .page2 {
    position: absolute;
    top: 50px;
    left: 140px;
    z-index: 9;
  }
  
  .choice .page3 {
    position: absolute;
    top: 50px;
    left: 280px;
    z-index: 8;
  }
  
  .choice .page4 {
    position: absolute;
    top: 230px;
    left: 0px;
    z-index: 7;
  }
  
  .choice .page5 {
    position: absolute;
    top: 230px;
    left: 140px;
    z-index: 6;
  }
  
  .choice img {
    border: 1px solid #c5c3c1;
    -moz-box-shadow: 3px 3px 3px #c5c3c1;
    -webkit-box-shadow: 3px 3px 3px #c5c3c1;
    box-shadow: 3px 3px 3px #c5c3c1;
  }
  
  .choice p, .choice h3 {
    margin: 0;
    text-align: center;
  }
  
  .choice .pdflink {
    margin-top: 390px;
  }
  
  /*.choice a {
    display: block;
  }*/
  
  .choice a:hover {
  }
  
  .choice input {
    margin: 0;
  }

  #secondOption .page2 {
	  top: 100px;
  }
  
  #secondOption .page3 {
	  top: 150px;
  }
  
  #pageWrapper p.middle {
    float: left;
    width: 128px;
    height: 450px;
    line-height: 450px;
    text-align: center;
    margin: 1em 0 0;
  }
