{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load gravatar %}
{% block titletag %}{% trans "Flags" %}{% endblock %}

{% block content %}
    {% trans "Flags" as flags_str %}
    {% trans "Add a flag" as add_a_flag_str %}

    {% include "wagtailadmin/shared/header.html" with title=flags_str   %}
    <h2 class="nice-padding"> Editing flags for {{selected_site.hostname}}:
    {{selected_site.port}}</h2>
    <form class="nice-padding" method="POST" action="{% url 'flagadmin:select_site' %}">
	{% csrf_token %}
        <ul class="fields">
            <li>
<div class="field">
<label for="id_select_site">Switch to:</label>
	<div class="field-content">
            
        <select name="site_id" id="id_select_site">
            {% for site in sites %}
            <option value="{{site.pk}}"
			{% if site == selected_site %} selected {% endif %}
            >{{site.hostname}}:{{site.port}}</option>
            {% endfor %}
        </select>
            
            <span></span>
        </div>
        

        
    </div>
            </li>
        </ul>
	<input type="submit" value="Switch"/>
    </form>
    <hr/>
    <h2 class="nice-padding"> Set flags for {{selected_site.hostname}}:
    {{selected_site.port}}</h2>
    <div class="nice-padding"><a href="{% url 'flagadmin:create' %}">Add a flag</a></div>
    <form class="nice-padding" method="POST" action="{% url 'flagadmin:save' selected_site.pk  %}">
    {{ flagforms.management_form }}
	<input type="submit" value="Save Flags" style="margin:10px"/>
	{% csrf_token %}
        <ul>
    {% for form in flagforms %}

    <li>{{ form.enabled }} {{ form.instance.flag_id }}
    {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} 
    </li>
    {% endfor %}
        </ul>
	<input type="submit" value="Save Flags" style="margin:10px"/>
    </form>
{% endblock %}

