// Import external cfpb-chart-builder stylesheet
@import (less) '../../apps/cfpb-chart-builder/css/cfpb-chart-builder.less';

// Footnote text below charts
.m-chart-footnote {
  padding-top: unit(15px / @base-font-size-px, em);
  margin-top: unit(30px / @base-font-size-px, em);
  color: var(--black);
  font-size: unit(12px / @base-font-size-px, em);
}
