/* ==========================================================================
   consumerfinance.gov
   Main Less file for the on-demand header
   ========================================================================== */


/* Base styles
   @import combined CF components Less file and make any overrides.
   ========================================================================== */

// Import required CF components.
// Combined CF components.
@import (less) 'cfpb-core.less';
@import (less) 'cfpb-icons.less';
@import (less) 'cfpb-buttons.less';
@import (less) 'cfpb-forms.less';

.o-header {
    @import (less) 'cfpb-buttons.less';
    @import (less) 'cfpb-layout.less';
    @import (less) 'cfpb-typography.less';
}

// Icon font path
@cf-icon-path: '/static/icons';

// Webfont variables
// This is the path for self-hosted fonts.
@cf-fonts-path: '/static/fonts';
// Whether or not to override the local path and retrieve fonts from fonts.net.
@use-font-cdn: true;

// Enhancements that are on a migration path to being added to CF.
// CF Core
@import (less) "../enhancements/vars.less";
@import (less) "../enhancements/utilities.less";

.o-header {
    // CF Forms
    @import (less) "../enhancements/forms.less";
}

/* Base patterns
   ========================================================================== */
@import (less) "../misc.less";

/* Atom pieces
   ========================================================================== */

@import (less) "../atoms/rule-break.less";
@import (less) "../atoms/overlay.less";

/* Molecule pieces
   ========================================================================== */

@import (less) "../molecules/global-banner.less";
@import (less) "../molecules/global-eyebrow.less";
@import (less) "../molecules/global-header-cta.less";
@import (less) "../molecules/global-search.less";

/* Organism pieces
   ========================================================================== */

@import (less) "../organisms/header.less";

@import (less) "../organisms/mega-menu.less";

// Hacks to fix issues with styles spilling into menu on legacy pages.
.o-mega-menu_trigger {
   border-radius: 0;
}
.o-mega-menu_content-list__featured a:hover {
   border: transparent;
}
.o-mega-menu_content-list__featured ul {
   margin-bottom: 1.875em !important;
}
.o-mega-menu_content-list a:focus {
   background-color: transparent !important;
}

/* Template pieces
   ========================================================================== */
@import (less) "../skip-nav.less";
