@import (reference) '../main.less';

.m-jobs-list .m-list__links {
  // Tablet and above.
  .respond-to-min(@bp-sm-min, {
    .m-list_item + .m-list_item {
      margin-top: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
    }
  });

  .m-list_link-subtext {
    .u-link__colors( var(--black) );
    display: block;
    margin-top: unit(2px / @base-font-size-px, em);
    font-weight: normal;
  }
}
