@import (reference) '../main.less';
@nonMobileResize:   ~"only screen and (min-width: 900px) and (max-width: 1049px)";


.research-report {
  max-width: unit( (670 + 30) / 16, em );

  .lead-paragraph, .author-names {
    margin: 30px 0 30px 0;
  }

  .appendix-header {
    margin: 0.83em 0;
  }

  .report-header > a {
    color: black;
    &:visited {
      color: black;
    }
  }
}

.scrunch{
  width: 100% !important;
}

.o-report-sidenav {
  &.sticky {
    position: fixed;
    top: 0;
  }
  display: block;
  overflow-y: scroll;
  @media (min-width: 1050px) {
    width: 230px !important;
  }
  @media @nonMobileResize {
    width: 180px !important;
  } 

  background-color: white;

  .o-secondary-navigation_list__parents > li > a {
    padding-left: unit( 30px / @base-font-size-px, em );
    text-indent: unit( -18px / @base-font-size-px, em );
  }
  h3 {
    padding-left: unit( 19px / @size-iii, em );
  }
  h4 {
    padding-left: unit( 19px / @size-iv, em );
  }

  .o-report-sidenav__appendix > li > a {
    text-indent: unit( -20px / @base-font-size-px, em );
  }
  .o-secondary-navigation_list__children {
    display: none;
  }
  .parent-header {
    .o-secondary-navigation_list__children  {
      display: block;
      margin-top: 0;
      margin-bottom:0.5em;
      .m-nav-link {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }
  }
}

.report-footnotes {
  margin-left: 4px;
}

.report-global-footer {
  position: relative;
  z-index: 1;
}
