@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/elements/base' as *;

@include licensed-font('/static/fonts/');

.o-sidebar-contact-info {
  &__content {
    margin-bottom: math.div($grid-gutter-width, $base-font-size-px) + em;
  }

  .m-contact + .m-contact {
    // Adds margin top to info contacts that follow another
    margin-top: math.div($grid-gutter-width, $base-font-size-px) + em;
  }
}
