  // @media (min-width: 970px) {
  .struct-block.simple-chart-block {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5em;
  }

  .struct-block.simple-chart-block > .field {
    min-width: calc(50% - 1.5em);
    margin-right: 1.5em;
  }

  .struct-block.simple-chart-block > .field + .field {
    padding-top: 0;
    padding-bottom: 0.5em;
  }
//  }